{% from "components/icons.njk" import iconHamburger, iconSearch %}
{% from "components/nav.njk" import navSearchForm with context %}

{% macro globalHeader() %}

    <header class="global-header-next" role="banner">
        <div class="global-header-next__inner">
            <div class="global-header-next__primary">
                <a href="/" class="global-header-next__logo brand-logo">
                    <span class="u-visually-hidden">
                        {{ __("global.brand.title") }}
                    </span>
                </a>
                <div class="global-header-next__actions">
                    <a href="#nav" class="global-header-next__nav-toggle"
                        data-toggle-page-state="has-toggled-search">
                        {{ iconSearch() }}
                        <span class="global-header-next__nav-toggle-label">
                            Search
                        </span>
                    </a>

                    <a href="#nav" class="global-header-next__nav-toggle"
                        data-toggle-page-state="has-toggled-navigation">
                        {{ iconHamburger() }}
                        <span class="global-header-next__nav-toggle-label">
                            Menu
                        </span>
                    </a>


                </div>
            </div>

            <div class="global-header-next__secondary">
                <div class="global-header-next__navigation">
                    <nav class="global-header-next__navigation-primary">
                        {{ _navigation() }}
                    </nav>
                    <ul class="global-header-next__navigation-secondary">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Cymraeg</a></li>
                        <li>Advice Line: 0345 4 10 20 30</li>
                    </ul>

                    {# <button data-toggle-page-state="has-toggled-navigation">
                        Close
                    </button> #}
                </div>

                <div class="global-header-next__search">
                    {{ navSearchForm() }}
                </div>
            </div>
        </div>
    </header>
{% endmacro %}

{% macro _navigation() %}
    {% set navigation = [{
        "label": "Funding",
        "url": "/funding",
        "children": [{
            "label": "Thing",
            "url": "/funding/blah"
        }]
    }, {
        "label": "In your area",
        "url": "/local",
        "children": []
    }, {
        "label": "News",
        "url": "/news",
        "children": []
    }, {
        "label": "Research",
        "url": "/research",
        "children": []
    }, {
        "label": "Talk to us",
        "url": "/contact",
        "children": []
    }] %}

    <ul>
        {% for item in navigation %}
            <li>
                <a href="{{ item.url }}">{{ item.label }}</a>
                {% if item.children %}
                    <ul>
                        {% for child in item.children %}
                            <li>
                                <a href="{{ child.url }}">{{ child.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{#
<div class="global-header__inner u-inner">
    <div class="global-header__content">
        <a class="global-header__logo"
            href="{{ localify('/') }}">
            <span class="u-visually-hidden">{{ __("global.brand.title") }}</span>
        </a>
        <nav class="global-header__hamburger u-mobile-only u-dont-print"
            id="js-mobile-nav-toggle">
            <a href="#nav">
                {{ iconHamburger() }}
            </a>
        </nav>
        <nav role="navigation"
            class="global-header__nav u-desktop-only u-dont-print qa-global-nav">
            <ul class="global-nav">
                {{ navlinks('global-nav__link') }}
                <li class="global-nav__lang">
                    {{ navLangLink() }}
                </li>
                <li class="global-nav__search">
                    {{ navSearchForm(isOffset = true) }}
                </li>
            </ul>
        </nav>
    </div>
</div>
#}
