* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, p {
  margin: 0;
  padding: 0;
  font-size: 14px; }

ol, ul, li {
  list-style: none; }

body, input, textarea {
  font-family: 'Lato', arial, sans-serif; }

.content-area {
  margin-left: 20px;
  margin-right: 20px; }
  @media screen and (min-width: 760px) {
    .content-area {
      margin-left: 10%;
      margin-right: 10%; } }
  @media screen and (min-width: 980px) {
    .content-area {
      margin-left: 20%;
      margin-right: 20%; } }

header {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: relative; }
  header .header__content {
    display: table;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      header .header__content {
        width: 80%; } }
    @media screen and (min-width: 980px) {
      header .header__content {
        width: 60%; } }

.logo {
  width: 90px;
  height: 90px;
  background-image: url(../images/logo.gif);
  background-repeat: no-repeat;
  background-size: auto 80px;
  background-position: left center;
  text-indent: -1000em;
  display: table-cell;
  vertical-align: middle; }

.nav {
  vertical-align: bottom;
  display: table-cell;
  text-align: right; }
  .nav.nav--mobile {
    font-size: 36px;
    vertical-align: middle; }
  .nav li {
    display: inline-block;
    font-family: 'Poppins', arial, sans-serif;
    font-size: 14px;
    color: #2e2e2e;
    margin-right: 20px;
    padding-bottom: 35px; }
    .nav li.selected {
      border-bottom: 3px solid #57bdef; }
    .nav li.nav__search {
      padding-bottom: 0; }
    .nav li .has-search-icon {
      background-image: url(../images/icon-search.png);
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: auto 70%;
      padding: 5px;
      border: none;
      width: 110px; }
    .nav li a {
      color: #2e2e2e;
      text-decoration: none; }

.btn {
  font-family: 'Poppins', arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #2e2e2e;
  vertical-align: top;
  display: inline-block;
  padding: 5px 20px; }
  @media screen and (min-width: 980px) {
    .btn {
      padding: 5px 40px; } }
  .btn.btn--cta {
    background-color: #ed008c;
    color: #ffffff; }
  .btn.btn--small {
    font-size: 10px;
    padding: 3px 15px; }

.form-fund {
  margin-top: 20px; }

.input-big {
  background-color: rgba(51, 51, 51, 0.45);
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 12px;
  padding: 5px 10px;
  color: #ffffff;
  margin-right: 10px; }
  @media screen and (min-width: 760px) {
    .input-big {
      font-size: 14px;
      padding: 3px 20px; } }
  .input-big::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4; }
  .input-big::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4; }
  .input-big:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4; }
  .input-big:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4; }

h2 {
  font-size: 22px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  @media screen and (min-width: 760px) {
    h2 {
      font-size: 36px; } }

h3 {
  color: #2e2e2e;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h4 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.hero {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.intrinsic-wrapper {
  position: relative;
  height: 0; }
  .intrinsic-wrapper.intrinsic-wrapper--reading {
    padding-bottom: 57.03125%; }
    @media screen and (min-width: 760px) {
      .intrinsic-wrapper.intrinsic-wrapper--reading {
        padding-bottom: 32.16666667%; } }
  .intrinsic-wrapper.intrinsic-wrapper--map {
    padding-bottom: 120%; }
    @media screen and (min-width: 760px) {
      .intrinsic-wrapper.intrinsic-wrapper--map {
        padding-bottom: 52.9166666667%;
        margin-bottom: 40px; } }
  .intrinsic-wrapper .intrinsic-stretched {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hero__reading {
  background-image: url(../images/hero-reading--mobile.jpg); }
  @media screen and (min-width: 760px) {
    .hero__reading {
      background-image: url(../images/hero-reading.jpg); } }

.hero__stats {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eaeaea',GradientType=0 ); }
  .hero__stats .stats {
    margin-top: 20px; }
    .hero__stats .stats li {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
      padding: 0 20px;
      width: 44%; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats li {
          width: 24%; } }
    .hero__stats .stats dt {
      color: #2e2e2e;
      margin-bottom: 5px;
      font-size: 22px; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats dt {
          font-size: 32px; } }
    .hero__stats .stats dd {
      color: #7d7d7d;
      line-height: 1.4;
      font-size: 14px; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats dd {
          font-size: 16px; } }
  .hero__stats .stats__icon:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #48ace5;
    margin: 0 auto 20px auto;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center; }
  .hero__stats .stats__icon.stats__icon--hand:before {
    background-image: url(../images/icon-hand.png); }
  .hero__stats .stats__icon.stats__icon--bank:before {
    background-image: url(../images/icon-pig.png); }

.hero__map {
  background-image: url(../images/hero-map.jpg);
  height: 635px;
  background-size: cover; }
  @media screen and (min-width: 760px) {
    .hero__map {
      background-size: contain; }
      .hero__map .hero__map__bg.hero__map__bg--top:before, .hero__map .hero__map__bg.hero__map__bg--top:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 80px;
        background-color: #eaeaea; }
      .hero__map .hero__map__bg.hero__map__bg--top:after {
        left: auto;
        right: 0; }
      .hero__map .hero__map__bg.hero__map__bg--bottom:before, .hero__map .hero__map__bg.hero__map__bg--bottom:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 80px;
        background-color: #ffffff; }
      .hero__map .hero__map__bg.hero__map__bg--bottom:after {
        left: auto;
        right: 0; } }
  .hero__map .hero__map__container {
    position: relative;
    height: 100%;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      .hero__map .hero__map__container {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%; } }
    @media screen and (min-width: 980px) {
      .hero__map .hero__map__container {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%; } }
  .hero__map .hero__map__overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25); }

footer {
  background-color: #232323;
  color: #999999; }
  footer .lottery {
    display: block;
    margin-bottom: 20px;
    padding-top: 20px; }
    @media screen and (min-width: 760px) {
      footer .lottery {
        margin-left: -60px; } }
  footer .contact li,
  footer .quick-links li {
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #3b3b3b; }
    @media screen and (min-width: 760px) {
      footer .contact li,
      footer .quick-links li {
        padding-bottom: 0;
        text-transform: none;
        border-bottom: none; } }
    footer .contact li i,
    footer .quick-links li i {
      margin-right: 10px;
      font-size: 16px;
      color: #cccccc; }
  @media screen and (min-width: 760px) {
    footer .contact,
    footer .quick-links,
    footer .quick-links__1,
    footer .quick-links__2 {
      float: left;
      margin-right: 60px; }
    footer .quick-links__2 {
      margin-right: 0; } }
  footer .quick-links {
    margin-bottom: 20px; }
    footer .quick-links h4 {
      margin-bottom: 10px; }
    footer .quick-links i {
      display: none; }
      @media screen and (min-width: 760px) {
        footer .quick-links i {
          display: inline; } }

aside {
  clear: left;
  background-color: #121212; }
  @media screen and (min-width: 760px) {
    aside {
      padding: 20px; } }
  aside .aside-container {
    display: table;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      aside .aside-container {
        width: 80%; } }
    @media screen and (min-width: 980px) {
      aside .aside-container {
        width: 60%; } }
  aside p {
    font-size: 13px;
    display: table-cell; }
  aside .social {
    display: table-cell;
    text-align: center; }
    @media screen and (min-width: 760px) {
      aside .social {
        text-align: right; } }
    aside .social a {
      color: #999999;
      text-decoration: none;
      margin: 0 15px; }
      aside .social a:first-child {
        margin-left: 0; }
      aside .social a:last-child {
        margin-right: 0; }
      @media screen and (min-width: 760px) {
        aside .social a {
          margin: 0 5px; } }
      aside .social a:hover {
        color: #ffffff; }
    aside .social li {
      display: inline-block;
      font-size: 45px; }
      @media screen and (min-width: 760px) {
        aside .social li {
          font-size: 20px; } }
  aside .copyright-white {
    text-align: center;
    background: #ffffff;
    display: block;
    padding: 10px 20px; }

.bullets {
  margin: 20px 0; }

.bullets li {
  list-style-type: disc;
  margin: 0px 0px 15px 20px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px; }

* {
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, p {
  margin: 0;
  padding: 0;
  font-size: 14px; }

ol, ul, li {
  list-style: none; }

body, input, textarea {
  font-family: 'Lato', arial, sans-serif; }

.content-area {
  margin-left: 20px;
  margin-right: 20px; }
  @media screen and (min-width: 760px) {
    .content-area {
      margin-left: 10%;
      margin-right: 10%; } }
  @media screen and (min-width: 980px) {
    .content-area {
      margin-left: 20%;
      margin-right: 20%; } }

header {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  z-index: 100;
  position: relative; }
  header .header__content {
    display: table;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      header .header__content {
        width: 80%; } }
    @media screen and (min-width: 980px) {
      header .header__content {
        width: 60%; } }

.logo {
  width: 90px;
  height: 90px;
  background-image: url(../images/logo.gif);
  background-repeat: no-repeat;
  background-size: auto 80px;
  background-position: left center;
  text-indent: -1000em;
  display: table-cell;
  vertical-align: middle; }

.nav {
  vertical-align: bottom;
  display: table-cell;
  text-align: right; }
  .nav.nav--mobile {
    font-size: 36px;
    vertical-align: middle; }
  .nav li {
    display: inline-block;
    font-family: 'Poppins', arial, sans-serif;
    font-size: 14px;
    color: #2e2e2e;
    margin-right: 20px;
    padding-bottom: 35px; }
    .nav li.selected {
      border-bottom: 3px solid #57bdef; }
    .nav li.nav__search {
      padding-bottom: 0; }
    .nav li .has-search-icon {
      background-image: url(../images/icon-search.png);
      background-repeat: no-repeat;
      background-position: 95% 50%;
      background-size: auto 70%;
      padding: 5px;
      border: none;
      width: 110px; }
    .nav li a {
      color: #2e2e2e;
      text-decoration: none; }

.btn {
  font-family: 'Poppins', arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
  border: none;
  padding: 5px 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #2e2e2e;
  vertical-align: top; }
  @media screen and (min-width: 980px) {
    .btn {
      padding: 5px 40px; } }
  .btn.btn--cta {
    background-color: #ed008c;
    color: #ffffff; }

.form-fund {
  margin-top: 20px; }

.input-big {
  background-color: rgba(51, 51, 51, 0.45);
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 12px;
  padding: 5px 10px;
  color: #ffffff;
  margin-right: 10px; }
  @media screen and (min-width: 760px) {
    .input-big {
      font-size: 14px;
      padding: 3px 20px; } }
  .input-big::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4; }
  .input-big::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4; }
  .input-big:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4; }
  .input-big:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4; }

h2 {
  font-size: 22px;
  line-height: 1.2;
  color: #ffffff;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }
  @media screen and (min-width: 760px) {
    h2 {
      font-size: 36px; } }

h3 {
  color: #2e2e2e;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h4 {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Poppins', arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.hero {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.intrinsic-wrapper {
  position: relative;
  height: 0; }
  .intrinsic-wrapper.intrinsic-wrapper--reading {
    padding-bottom: 57.03125%; }
    @media screen and (min-width: 760px) {
      .intrinsic-wrapper.intrinsic-wrapper--reading {
        padding-bottom: 32.16666667%; } }
  .intrinsic-wrapper.intrinsic-wrapper--map {
    padding-bottom: 120%; }
    @media screen and (min-width: 760px) {
      .intrinsic-wrapper.intrinsic-wrapper--map {
        padding-bottom: 52.9166666667%;
        margin-bottom: 40px; } }
  .intrinsic-wrapper .intrinsic-stretched {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hero__reading {
  background-image: url(../images/hero-reading--mobile.jpg); }
  @media screen and (min-width: 760px) {
    .hero__reading {
      background-image: url(../images/hero-reading.jpg); } }

.hero__stats {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fbfbfb;
  background: -moz-linear-gradient(top, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  background: -webkit-linear-gradient(top, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  background: linear-gradient(to bottom, #fbfbfb 0%, #fbfbfb 50%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#eaeaea',GradientType=0 ); }
  .hero__stats .stats {
    margin-top: 20px; }
    .hero__stats .stats li {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 20px;
      padding: 0 20px;
      width: 44%; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats li {
          width: 24%; } }
    .hero__stats .stats dt {
      color: #2e2e2e;
      margin-bottom: 5px;
      font-size: 22px; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats dt {
          font-size: 32px; } }
    .hero__stats .stats dd {
      color: #7d7d7d;
      line-height: 1.4;
      font-size: 14px; }
      @media screen and (min-width: 760px) {
        .hero__stats .stats dd {
          font-size: 16px; } }
  .hero__stats .stats__icon:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #48ace5;
    margin: 0 auto 20px auto;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: center; }
  .hero__stats .stats__icon.stats__icon--hand:before {
    background-image: url(../images/icon-hand.png); }
  .hero__stats .stats__icon.stats__icon--bank:before {
    background-image: url(../images/icon-pig.png); }

.map-wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 150px); }
  @media screen and (min-width: 760px) {
    .map-wrapper {
      height: 100%; } }
  .map-wrapper svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .map-wrapper svg path:hover {
      fill: #ed008c;
      cursor: pointer; }

.map-info {
  background-color: #f0786f;
  background-image: url(../images/box-corner.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 56px 43px;
  padding: 20px;
  color: #ffffff;
  height: 150px; }
  @media screen and (min-width: 760px) {
    .map-info {
      height: auto;
      position: absolute;
      width: 250px;
      z-index: 10;
      right: -180px;
      top: 20px; } }
  @media screen and (min-width: 980px) {
    .map-info {
      top: 100px; } }
  .map-info .map-info__subhead,
  .map-info .map-info__head,
  .map-info .map-info__num-awards,
  .map-info .map-info__cta {
    display: inline-block; }
    @media screen and (min-width: 980px) {
      .map-info .map-info__subhead,
      .map-info .map-info__head,
      .map-info .map-info__num-awards,
      .map-info .map-info__cta {
        display: block; } }
  .map-info .map-info__subhead {
    text-transform: uppercase;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 5px; }
  .map-info .map-info__head {
    margin-bottom: 5px; }
  .map-info .map-info__num-awards,
  .map-info .map-info__num-grants {
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
    line-height: 1.4;
    letter-spacing: 1px; }
  .map-info .map-info__hr {
    margin: 20px 0;
    height: 3px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px; }

.hero__map {
  background-image: url(../images/hero-map.jpg);
  height: 635px;
  background-size: cover; }
  @media screen and (min-width: 760px) {
    .hero__map {
      background-size: contain; }
      .hero__map .hero__map__bg.hero__map__bg--top:before, .hero__map .hero__map__bg.hero__map__bg--top:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 80px;
        background-color: #eaeaea; }
      .hero__map .hero__map__bg.hero__map__bg--top:after {
        left: auto;
        right: 0; }
      .hero__map .hero__map__bg.hero__map__bg--bottom:before, .hero__map .hero__map__bg.hero__map__bg--bottom:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        height: 80px;
        background-color: #ffffff; }
      .hero__map .hero__map__bg.hero__map__bg--bottom:after {
        left: auto;
        right: 0; } }
  .hero__map .hero__map__container {
    position: relative;
    height: 100%;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      .hero__map .hero__map__container {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%; } }
    @media screen and (min-width: 980px) {
      .hero__map .hero__map__container {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%; } }
  .hero__map .hero__map__overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25); }

footer {
  background-color: #232323;
  color: #999999; }
  footer .lottery {
    display: block;
    margin-bottom: 20px;
    padding-top: 20px; }
    @media screen and (min-width: 760px) {
      footer .lottery {
        margin-left: -60px; } }
  footer .contact li,
  footer .quick-links li {
    margin-bottom: 10px;
    font-size: 14px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #3b3b3b; }
    @media screen and (min-width: 760px) {
      footer .contact li,
      footer .quick-links li {
        padding-bottom: 0;
        text-transform: none;
        border-bottom: none; } }
    footer .contact li i,
    footer .quick-links li i {
      margin-right: 10px;
      font-size: 16px;
      color: #cccccc; }
  @media screen and (min-width: 760px) {
    footer .contact,
    footer .quick-links,
    footer .quick-links__1,
    footer .quick-links__2 {
      float: left;
      margin-right: 60px; }
    footer .quick-links__2 {
      margin-right: 0; } }
  footer .quick-links {
    margin-bottom: 20px; }
    footer .quick-links h4 {
      margin-bottom: 10px; }
    footer .quick-links i {
      display: none; }
      @media screen and (min-width: 760px) {
        footer .quick-links i {
          display: inline; } }

aside {
  clear: left;
  background-color: #121212; }
  @media screen and (min-width: 760px) {
    aside {
      padding: 20px; } }
  aside .aside-container {
    display: table;
    width: calc(100% - 40px); }
    @media screen and (min-width: 760px) {
      aside .aside-container {
        width: 80%; } }
    @media screen and (min-width: 980px) {
      aside .aside-container {
        width: 60%; } }
  aside p {
    font-size: 13px;
    display: table-cell; }
  aside .social {
    display: table-cell;
    text-align: center; }
    @media screen and (min-width: 760px) {
      aside .social {
        text-align: right; } }
    aside .social a {
      color: #999999;
      text-decoration: none;
      margin: 0 15px; }
      aside .social a:first-child {
        margin-left: 0; }
      aside .social a:last-child {
        margin-right: 0; }
      @media screen and (min-width: 760px) {
        aside .social a {
          margin: 0 5px; } }
      aside .social a:hover {
        color: #ffffff; }
    aside .social li {
      display: inline-block;
      font-size: 45px; }
      @media screen and (min-width: 760px) {
        aside .social li {
          font-size: 20px; } }
  aside .copyright-white {
    text-align: center;
    background: #ffffff;
    display: block;
    padding: 10px 20px; }

.bullets {
  margin: 20px 0; }

.bullets li {
  list-style-type: disc;
  margin: 0px 0px 15px 20px;
  text-align: left;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px; }

.vert-cent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

@media screen and (max-width: 759px) {
  .desktop-only {
    display: none !important; } }
@media screen and (min-width: 760px) {
  .mobile-only {
    display: none !important; } }
.hidden {
  display: none; }

/*# sourceMappingURL=blf.css.map */
