$logoHeight: 80px;
$logoPadding: 10px;
$contentGutterWidth: 20%;
$borderRadius: 30px;
$mapHeroGutter: 80px;
$footerGutter: 60px;
$statCircleRadius: 60px;

$charcoal: #2e2e2e;
$accentBlue: #57bdef;
$brandBlue: #48ace5;
$ctaPink: #ed008c;
$minor: #7d7d7d;
$heroBgStart: #fbfbfb;
$heroBgEnd: #eaeaea;

$footer: #232323;
$footerAlt: #121212;
$footerText: #999999;

* {
    box-sizing: border-box;
}

// reset
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ol, ul, li {
    list-style: none;
}

// base font settings
body, input, textarea {
    font-family: 'Lato', arial, sans-serif;
}

.content-area {
    margin-left: $contentGutterWidth;
    margin-right: $contentGutterWidth;
}

header {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: relative;

    .header__content {
        display: table;
        width: #{ 100% - $contentGutterWidth*2 }
    }
}

.logo {
    width: #{$logoHeight + $logoPadding};
    height: #{$logoHeight + $logoPadding};
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
    background-size: auto $logoHeight;
    background-position: left center;
    text-indent: -1000em;
    display: table-cell;
    vertical-align: middle;
}

.nav {
    vertical-align: bottom;
    display: table-cell;
    text-align: right;

    li {
        display: inline-block;
        font-family: 'Poppins', arial, sans-serif;
        font-size: 14px;
        color: $charcoal;
        margin-right: 20px;
        padding-bottom: 35px;

        &.selected {
            border-bottom: 3px solid $accentBlue;
        }

        &.nav__search {
            padding-bottom: 0;
        }

        .has-search-icon {
            background-image: url(../images/icon-search.png);
            background-repeat: no-repeat;
            background-position: 95% 50%;
            background-size: auto 70%;
            padding: 5px;
            border: none;
        }

        a {
            color: $charcoal;
            text-decoration: none;
        }
    }
}

.btn {
    font-family: 'Poppins', arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
    border: none;
    padding: 5px 40px;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    color: $charcoal;
    vertical-align: top;

    &.btn--cta {
        background-color: $ctaPink;
        color: #ffffff;
    }
}

.form-fund {
    margin-top: 20px;
}

.input-big {
    background-color: rgba(51, 51, 51, 0.45);
    border: 2px solid #ffffff;
    border-radius: $borderRadius;
    padding: 3px 20px; // to align height
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;

    // @TODO make mixin
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d4d4d4;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: #d4d4d4;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: #d4d4d4;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: #d4d4d4;
    }
}



.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2 {
    font-size: 36px;
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: $charcoal;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.hero__reading {
    background-image: url(../images/hero-reading.jpg);
    min-height: 386px;
}


.hero__stats {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: $heroBgStart;
    // @TODO mixin
    background: -moz-linear-gradient(top, $heroBgStart 0%, $heroBgStart 50%, $heroBgEnd 100%);
    background: -webkit-linear-gradient(top, $heroBgStart 0%,$heroBgStart 50%,$heroBgEnd 100%);
    background: linear-gradient(to bottom, $heroBgStart 0%,$heroBgStart 50%,$heroBgEnd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$heroBgStart}', endColorstr='#{$heroBgEnd}',GradientType=0 );

    .stats {
        margin-top: 20px;

        li {
            display: inline-block;
            width: 24%;
            vertical-align: top;
            margin-bottom: 20px;
            padding: 0 20px;
        }

        dt {
            font-size: 32px;
            color: $charcoal;
            margin-bottom: 5px;
        }

        dd {
            color: $minor;
            font-size: 16px;
            line-height: 1.4;
        }
    }

    .stats__icon {
        &:before {
            content: '';
            display: block;
            width: $statCircleRadius;
            height: $statCircleRadius;
            border-radius: 100%;
            background-color: $brandBlue;
            margin: 0 auto 20px auto;
            background-repeat: no-repeat;
            background-size: auto 50%;
            background-position: center;
        }

        &.stats__icon--hand:before {
            background-image: url(../images/icon-hand.png);
        }

        &.stats__icon--bank:before {
            background-image: url(../images/icon-pig.png);
        }
    }
}

.hero__map {
    background-image: url(../images/hero-map.jpg);
    height: 635px;
    margin-bottom: 40px;

    // hackery for overlaid map
    .hero__map__bg {

        &.hero__map__bg--top {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: $contentGutterWidth;
                height: $mapHeroGutter;
                background-color: $heroBgEnd;
            }
            &:after {
                left: auto;
                right: 0;
            }
        }

        &.hero__map__bg--bottom {
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: $contentGutterWidth;
                height: $mapHeroGutter;
                background-color: #ffffff;
            }
            &:after {
                left: auto;
                right: 0;
            }
        }
    }


    .hero__map__container {
        position: relative;
        height: 100%;
    }

    .hero__map__overlay {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    }
}

footer {
    background-color: $footer;
    color: $footerText;

    .lottery {
        display: block;
        margin-left: -#{$footerGutter};
        margin-bottom: 20px;
        padding-top: 20px;
    }

    li {
        margin-bottom: 10px;
        font-size: 14px;

        i {
            margin-right: 10px;
            font-size: 16px;
            color: #cccccc;
        }
    }

    .contact,
    .quick-links,
    .quick-links__1,
    .quick-links__2 {
        float: left;
        margin-right: $footerGutter;
    }

    .quick-links {
        margin-bottom: 20px;

        h4 {
            margin-bottom: 10px;
        }
    }

}

aside {
    clear: left;
    background-color: $footerAlt;
    padding: 20px;

    .aside-container {
        display: table;
        width: #{ 100% - $contentGutterWidth*2 }
    }

    p {
        font-size: 13px;
        display: table-cell;
    }

    .social {
        display: table-cell;
        text-align: right;
        a {
            color: $footerText;
            &:hover {
                color: #ffffff;
            }
        }
        li {
            font-size: 20px;
            display: inline-block;
            margin: 0 5px;
        }
    }
}


// utils

.vert-cent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}