{% from "components/hero.njk" import hero %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/step-progress/macro.njk" import stepProgress %}

{% extends "layouts/main.njk" %}

{% block title %}Success | {{ form.title }} | {% endblock %}

{# We always use pink here regardless of form settings to match accents below #}
{% set pageAccent = 'pink' %}
{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">

        {% if heroImage %}
            {{ hero(
                titleText = form.title,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        <div class="content-box u-inner-wide-only accent--pink a--border-top{% if heroImage %} nudge-up{% endif %}">
            <div class="s-prose u-constrained-wide">
                <div class="form-message">
                    <h1 class="t1 form-message__title">Thank you for submitting your idea</h1>
                </div>

                <h2 class="t2 t--underline accent--pink">What happens next?</h2>
                <p>Thank you for submitting your idea. We have emailed you a copy of your submission and a local funding officer will contact you within fifteen working days.</p>

                {{ inlineFeedback(
                    description = form.title,
                    promptLabel = "Can you spare a minute to give us some feedback?",
                    fieldLabel = "How was your experience of submitting an idea?",
                    helpText = "This is completely anonymous and doesn't form part of your submission. Don't include any details about your idea, just tell us how you found the experience.",
                    isToggleable = false
                )  }}
            </div>
        </div>

        <div class="content-box u-inner-wide-only accent--pink a--border-top{% if heroImage %} nudge-up{% endif %}">
            <div class="s-prose u-constrained-wide">
                <h2>What happens next?</h2>

                {{ stepProgress([{
                    "title": "Request a call",
                    "description": "The information you have submitted will be reviewed by Big Lottery Fund staff. A Funding Officer will be in touch as quickly as we can, to arrange a call. You’ll need x, y and z handy. We’ll talk about a and b. We’ll work on c together.",
                    "isCompleted": true
                }, {
                    "title": "Talk to us",
                    "description": "We call you and ask a few questions"
                }, {
                    "title": "Submit a full proposal",
                    "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
                }, {
                    "title": "Submit a detailed plan",
                    "description": "If you are successful, we ask you to submit a more detailed plan which is then judged by our panel"
                }])}}
            </div>
        </div>
    </main>
{% endblock %}
