{% from "components/applicationSummary.njk" import readOnlySummary %}

{% extends "layouts/tools.njk" %}
{% block title %}{% if applicationData %}Application {{ applicationData.reference_id }} | {{ formTitle }}{% else %}{{ formTitle }} | All applications{% endif %}{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if applicationData %}
                <li class="breadcrumb-item"><a href="../">Applications</a></li>
                <li class="breadcrumb-item"><a href="../{{ formId }}">{{ formTitle }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ applicationData.reference_id }}</li>
            {% else %}
                <li class="breadcrumb-item"><a href="./">Applications</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ formTitle }}</li>
            {% endif %}
        </ol>
    </nav>

    <h1 class="display-4 mb-4">{{ formTitle }}</h1>
    {% if applicationData %}
        <h2><strong>Application reference</strong>: {{ applicationData.reference_id }}</h2>
        <h5>
            {{ formatDate(applicationData.createdAt, DATE_FORMATS.fullTimestamp) }}
            <small title="{{ applicationData.createdAt }}">{{ timeFromNow(applicationData.createdAt) }}</small>
        </h5>
        <div class="card">
            <div class="card-body">
                {{ readOnlySummary(applicationData.application_data) }}
            </div>
        </div>
    {% else %}
        <h2>All applications ({{ applications.length }})</h2>
        <p>Click an application below to view all its data.</p>
        <div class="border mb-5">
            <div class="list-group">
                {% for application in applications %}
                    <a class="list-group-item list-group-item-action flex-column align-items-start"
                       href="./{{ formId }}/{{ application.reference_id }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="h6">
                                {{ formatDate(application.createdAt, DATE_FORMATS.fullTimestamp) }}
                            </h3>
                            <small title="{{ application.createdAt }}">{{ timeFromNow(application.createdAt) }}</small>
                        </div>
                        <p class="mb-0"><strong>Application reference</strong>: {{ application.reference_id }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
