<nav class="accessibility__nav">
    <ul>
        <li><a tabindex="1" href="#content">Skip to content</a></li>
        {% if highContrast %}
            <li><a tabindex="2" href="/contrast/standard?url={{ getCurrentUrl() | urlencode}}">Enable standard contrast mode</a></li>
        {% else %}
            <li><a tabindex="2" href="/contrast/high?url={{ getCurrentUrl() | urlencode}}">Enable high contrast mode</a></li>
        {% endif %}
    </ul>
</nav>