<nav class="accessibility__nav">
    <ul>
        <li><a tabindex="0" href="#content">{{ __("global.accessibility.skipToContent") | safe }}</a></li>
        <li><a id="js-contrast-standard" href="/contrast/standard?url={{ getCurrentUrl(request) | urlencode}}">{{ __("global.accessibility.contrast.standard") | safe }}</a></li>
        <li><a id="js-contrast-high" href="/contrast/high?url={{ getCurrentUrl(request) | urlencode}}">{{ __("global.accessibility.contrast.high") | safe }}</a></li>
    </ul>
</nav>