<aside class="cookie-consent" id="js-cookie-warning">
    <div class="cookie-consent__inner">
        <div class="cookie-consent__content">
            <h4 class="cookie-consent__title">Cookies on this website</h4>
            <p class="cookie-consent__message">We use cookies to give you the best online experience. Please let us know if you agree to accept cookies. <a href="{{ localify('/about/customer-service/cookies') }}">More information on how we use cookies</a></p>
        </div>
        <div class="cookie-consent__actions">
            <button class="btn btn--small" id="js-accept-cookies">Accept cookies</button>
        </div>
    </div>
</aside>
