<aside class="cookie-warning u-hidden" id="js-cookie-warning">
    <h4>Cookies on this website</h4>
    <p>We use cookies to give you the best online experience. Please let us know if you agree to all of these cookies. <a href="{{ localify('/about/customer-service/cookies') }}">More information on how we use cookies</a>.</p>
    <button class="btn btn--small" id="js-accept-cookies">Accept cookies</button>
</aside>
