{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{{ formErrors(__('global.misc.errorTitle'), errors) }}

<script>
    (function() {

        document.getElementById("error-container").focus();

    }());
</script>
