{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{{ formErrors(__('global.misc.errorTitle'), errors) }}

<script>
    (function() {
        var elSelector = '.form-errors__list';
        var el = document.querySelector(elSelector);

        if (!el) {
            return;
        }
        document.getElementById("error-container").focus();

    }());
</script>
