{# Did you find what you were looking for? #}
{% if not suppressSurvey %}
    <div id="js-survey" data-lang='{{ __('global.survey') | dump | safe }}'></div>
{% endif %}

<footer role="contentinfo" class="footer">
    <div class="footer__inner u-inner">
        <ul class="grid grid--top grid--wide-only">
            <li class="grid__item u-desktop-only">
                <p class="t6 u-uppercase">{{ __("global.brand.title") | safe }}</p>
                <address>1 Plough Place, {{ __("global.contact.city") | safe }} EC4A 1DE</address>
                <p><a href="mailto:{{ __("global.contact.email") | safe }}">{{ __("global.contact.email") | safe }}</a></p>
                <p>{{ __("global.contact.phone") | safe }}</p>
            </li>
            <li class="grid__item">
                <h2 class="t6 u-uppercase u-desktop-only">{{ __("global.footerLinks.title") | safe }}</h2>
                <ul class="footer-links">
                    {% for link in __("global.footerLinks.links") %}
                        <li><a href="{{ link.href }}">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% if globalFootnote %}
            <small class="footer__footnote u-desktop-only">{{ globalFootnote }}</small>
        {% endif %}
    </div>
</footer>
