<footer role="contentinfo">

    <div class="logo-lottery--mobile">
        <img src="{{ 'images/lottery--white.png' | getCachebustedPath }}" class="mobile-only" alt="Awarding funds from the National Lottery" />
    </div>

    <div class="inner footer__inner m-t-none">
        <ul class="flex flex--top flex--wide-only m-t-none">

            <li class="flex__fill desktop-only">
                <img src="{{ 'images/lottery.png' | getCachebustedPath }}" class="logo-lottery" alt="Awarding funds from the National Lottery" />
                <ul class="list-spaced m-t-none">
                    <li><address>1 Plough Place, London EC4A 1DE</address></li>
                    <li><a href="mailto:general.enquiries@biglotteryfund.org.uk">general.enquiries@biglotteryfund.org.uk</a></li>
                    <li>0345 4 10 20 30</li>
                </ul>
            </li>

            <li class="flex__fill">
                <h4 class="footer__header t2 desktop-only">Quick links</h4>
                <div class="flex flex--wide-only flex--top list-spaced m-t-none">
                    <ul class="flex__fill">
                        <li><a href="/about-big/customer-service/freedom-of-information">Freedom of Information</a></li>
                        <li><a href="/about-big/customer-service/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/about-big/customer-service/terms-of-use">Terms</a></li>
                        <li><a href="/about-big/customer-service/cookies">Cookies</a></li>
                    </ul>
                    <ul class="flex__fill flex__fill--second">
                        <li><a href="/about-big/contact-us">Contact</a></li>
                        <li><a href="/sitemap">Site map</a></li>
                        <li><a href="/about-big/our-approach/accessibility">Accessibility</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>
</footer>