{% from "components/icons.njk" import iconHamburger, iconSearch, iconArrowDown %}
{% from "components/language/macros.njk" import languageLink, languageSwitcher with context %}

{% macro globalSearch() %}
    <form class="global-search-next js-global-search-form" role="search" action="/search">
        <label class="u-visually-hidden" for="global-search-input">
            {{ __("global.misc.search") }}
        </label>
        <input
            class="global-search-next__input ff-text"
            id="global-search-input"
            name="q"
            type="search"
            placeholder="{{ __("global.misc.search") }}"
        >
        <button class="global-search-next__submit" type="submit">
            <span class="global-search-next__icon">{{ iconSearch() }}</span>
            <span class="global-search-next__label">{{ __("global.misc.search") }}</span>
        </button>
    </form>
{% endmacro %}

<header class="global-header-next js-global-header" role="banner">
    {% include "includes/status-banner.njk" %}
    <div class="global-header-next__inner">
        <div class="global-header-next__extra">
            <ul class="global-header-next__navigation-secondary">
                <li><a href="{{ globalNavigation.home.url }}">{{ globalNavigation.home.label }}</a></li>
                {% for item in globalNavigation.secondaryLinks %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
                {% if isBilingual %}
                    <li>{{ languageLink(currentLocale = locale) }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="global-header-next__content">
            <div class="global-header-next__content-primary">
                <a href="/" class="global-header-next__logo brand-logo">
                    <span class="u-visually-hidden">
                        {{ __("global.brand.title") }}
                    </span>
                </a>
                <div class="global-header-next__actions">
                    <a href="#global-nav"
                        class="global-header-next__toggle global-header-next__toggle-search js-toggle-search">
                        {{ iconSearch() }}
                        <span class="global-header-next__toggle-label">
                            Search
                        </span>
                    </a>

                    <a href="#global-search"
                        class="global-header-next__toggle global-header-next__toggle-nav js-toggle-nav">
                        {{ iconHamburger() }}
                        <span class="global-header-next__toggle-label">
                            Menu
                        </span>
                    </a>
                </div>
            </div>

            <div class="global-header-next__content-secondary">
                <div class="global-header-next__navigation" id="global-nav">
                    <nav class="global-header-next__navigation-primary">
                        <ul>
                            <li class="u-mobile-only"><a href="{{ globalNavigation.home.url }}">{{ globalNavigation.home.label }}</a></li>
                            {% for item in globalNavigation.primaryLinks %}
                                {% set hasChildren = item.children.length > 0 %}
                                <li class="{% if sectionUrl === item.url %}is-current {% endif %}{% if hasChildren %}has-children {% endif %}">
                                    <a href="{{ item.url }}">
                                        {{ item.label }} {% if hasChildren %}{{ iconArrowDown() }}{% endif %}
                                    </a>
                                    {% if hasChildren %}
                                        <ul>
                                            {% for child in item.children %}
                                                <li><a href="{{ child.url }}">{{ child.label }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% for item in globalNavigation.secondaryLinks %}
                                <li class="u-mobile-only"><a href="{{ item.url }}">{{ item.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    {% if isBilingual %}
                        <div class="global-header-next__language">
                            <div class="global-header-next__language-prefix">
                                Mae'r dudalen hon hefyd ar gael yn Cymraeg
                            </div>
                            <div class="global-header-next__language-controls">
                                {{ languageSwitcher(locale) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="global-header-next__search">
                    {{ globalSearch() }}
                </div>
            </div>
        </div>


        
    </div>
</header>

<script>
/**
 * Initialise event listeners on header navigation early
 * (e.g. search and menu toggle)
 *
 * We do this early so that users can interact
 * with the navigation before the main script bundle has loaded
 * increasing time-to-interactive
 */
(function() {
    const elSelector = '.js-global-header';
    var el = document.querySelector(elSelector);

    if (!el) {
        return;
    }

    var stateClassNames = {
        nav: 'has-toggled-navigation',
        search: 'has-toggled-search'
    };

    var body = document.querySelector('body');
    var html = document.querySelector('html');
    var searchInput = el.querySelector('input[type=search]');

    var toggleNav = el.querySelector('.js-toggle-nav');
    var toggleSearch = el.querySelector('.js-toggle-search');

    toggleNav.addEventListener('click', function(e) {
        e.preventDefault();
        html.classList.remove(stateClassNames.search);
        html.classList.toggle(stateClassNames.nav);
    });

    toggleSearch.addEventListener('click', function(e) {
        e.preventDefault();
        html.classList.remove(stateClassNames.nav);
        html.classList.toggle(stateClassNames.search);

        if (searchInput) {
            searchInput.focus();
        }
    });

    body.addEventListener('click', function(e) {
        var isOutsideClick = e.target.closest(elSelector) === null;
        if (
            isOutsideClick &&
            (html.classList.contains(stateClassNames.search) || html.classList.contains(stateClassNames.nav))
        ) {
            html.classList.remove(stateClassNames.search);
            html.classList.remove(stateClassNames.nav);
        }
    });
}());
</script>
