{% from "components/language/macros.njk" import languageSwitcher with context %}

{# Did you find what you were looking for? #}
{% if enableSiteSurvey %}
    <div id="js-survey">
        <survey
            question="{{ __('global.survey.question') }}"
            prompt="{{ __('global.survey.prompt') }}"
            yes="{{ __('global.survey.yes') }}"
            no="{{ __('global.survey.no') }}"
            submit="{{ __('global.survey.submit') }}"
            cancel="{{ __('global.survey.cancel') }}"
            success="{{ __('global.survey.success') }}"
            error="{{ __('global.survey.error') }}"
        ></survey>
    </div>
{% endif %}

<footer class="global-footer" role="contentinfo" >
    <div class="global-footer__inner">
        <div class="global-footer__quicklinks">
            <h2 class="global-footer__section-title">{{ __("global.footerLinks.title") | safe }}</h2>
            <ul class="global-footer__quicklinks-list">
                {% for link in __("global.footerLinks.links") %}
                    <li><a href="{{ link.href }}">{{ link.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="global-footer__meta">
            <p class="global-footer__section-title">{{ globalCopy.brand.title | safe }}</p>
            <div class="global-footer__contact">
                {% for region in __('global.contact.regions') %}
                    <p>
                        <span class="global-footer__contact-phone">
                            {{ region.label }}: {{ region.phone }}
                        </span>
                        <a class="global-footer__contact-email" href="mailto:{{ region.email }}">
                            {{ __('global.misc.email') | capitalize }}
                        </a>
                    </p>
                {% endfor %}
            </div>

            <div class="global-footer__language">
                <h2 class="global-footer__section-title">Language</h2>
                {{ languageSwitcher(locale) }}
            </div>
        </div>
    </div>
</footer>
