{% from "components/icons.njk" import iconHamburger, iconSearch, iconArrowDown, iconLogin %}
{% from "components/language/macros.njk" import languageLink, languageSwitcher with context %}

{% macro globalSearch() %}
    <form class="global-search js-global-search-form" role="search" action="/search" id="global-search">
        <label for="global-search-input" class="u-visually-hidden">
            {{ __("global.misc.searchTerm") }}
        </label>
        <input
            class="global-search__input ff-text"
            id="global-search-input"
            name="q"
            type="search"
            placeholder="{{ __("global.misc.search") }}"
        >
        <button class="global-search__submit" type="submit">
            <span class="global-search__icon">{{ iconSearch() }}</span>
            <span class="global-search__label">{{ __("global.misc.search") }}</span>
        </button>
    </form>
{% endmacro %}

<header class="global-header js-global-header qa-global-header">
    <div class="global-header__inner">
        <div class="global-header__extra">
            <ul class="global-header__navigation-secondary">
                <li class="js-toggle-login js-hidden">
                    <a href="{{ globalNavigation.login.url }}" class="global-header__account-link">
                        {{ iconLogin() }}
                        <span>
                            {{ globalNavigation.login.label }}
                        </span>
                    </a>
                </li>
                <li class="js-toggle-logout js-hidden u-hidden">
                    <a href="{{ globalNavigation.logout.url }}" class="global-header__account-link">
                        {{ iconLogin() }}
                        <span>
                            {{ globalNavigation.logout.label }}
                        </span>
                    </a>
                </li>
                {% for item in globalNavigation.secondaryLinks %}
                    <li><a href="{{ item.url }}">{{ item.label }}</a></li>
                {% endfor %}
                {% if isBilingual %}
                    <li>{{ languageLink(currentLocale = locale) }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="global-header__content">
            <div class="global-header__content-primary">
                <a href="{{ localify('/') }}" class="global-header__logo brand-logo">
                    <span class="u-visually-hidden">
                        {{ globalCopy.brand.title }}
                    </span>
                </a>
                <div class="global-header__actions u-dont-print">
                    <a href="{{ globalNavigation.login.url }}" 
                        class="global-header__toggle global-header__account-link js-toggle-login js-hidden">
                        {{ iconLogin() }}
                        <span class="global-header__toggle-label">
                            {{ globalNavigation.login.label }}
                        </span>
                    </a>

                    <a href="{{ globalNavigation.logout.url }}" 
                        class="global-header__toggle global-header__account-link js-toggle-logout js-hidden u-hidden">
                        {{ iconLogin() }}
                        <span class="global-header__toggle-label">
                            {{ globalNavigation.logout.label }}
                        </span>
                    </a>

                    <a href="#global-search"
                       class="global-header__toggle global-header__toggle-search js-toggle-search">
                        {{ iconSearch() }}
                        <span class="global-header__toggle-label">
                            {{ __("global.misc.search") }}
                        </span>
                    </a>

                    <a href="#global-nav"
                       class="global-header__toggle global-header__toggle-nav js-toggle-nav">
                        {{ iconHamburger() }}
                        <span class="global-header__toggle-label">
                            {{ __("global.misc.menu") }}
                        </span>
                    </a>
                </div>
            </div>

            <div class="global-header__content-secondary u-dont-print">
                <div class="global-header__navigation">
                    <nav class="global-header__navigation-primary" id="global-nav">
                        <ul>
                            <li class="is-conditional-link"><a href="{{ globalNavigation.home.url }}">{{ globalNavigation.home.label }}</a></li>
                            {% for item in globalNavigation.primaryLinks %}
                                {% set hasChildren = item.children.length > 0 %}
                                {% set isCurrent = sectionUrl === item.url %}
                                <li class="{% if isCurrent %}is-current {% endif %}{% if hasChildren %}has-children {% endif %}">
                                    <a href="{{ item.url }}" class="qa-nav-link">
                                        {{ item.label }} {% if hasChildren %}{{ iconArrowDown() }}{% endif %}
                                    </a>
                                    {% if hasChildren %}
                                        <ul>
                                            {% for child in item.children %}
                                                <li><a href="{{ child.url }}">{{ child.label }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% for item in globalNavigation.secondaryLinks %}
                                <li class="is-conditional-link"><a href="{{ item.url }}">{{ item.label }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                    {% if isBilingual %}
                        <div class="global-header__language">
                            <div class="global-header__language-prefix">
                                Mae'r dudalen hon hefyd ar gael yn Cymraeg
                            </div>
                            <div class="global-header__language-controls">
                                {{ languageSwitcher(locale) }}
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="global-header__search">
                    {{ globalSearch() }}
                </div>
            </div>
        </div>


    </div>
</header>

<script>
    /**
     * Initialise event listeners on header navigation early
     * (e.g. search and menu toggle)
     *
     * We do this early so that users can interact
     * with the navigation before the main script bundle has loaded
     * increasing time-to-interactive
     */
    (function() {
        var elSelector = '.js-global-header';
        var el = document.querySelector(elSelector);

        if (!el) {
            return;
        }

        var stateClassNames = {
            nav: 'has-toggled-navigation',
            search: 'has-toggled-search'
        };

        var body = document.querySelector('body');
        var html = document.querySelector('html');
        var searchInput = el.querySelector('input[type=search]');

        var toggleNav = el.querySelector('.js-toggle-nav');
        var toggleSearch = el.querySelector('.js-toggle-search');

        toggleNav.addEventListener('click', function(e) {
            e.preventDefault();
            html.classList.remove(stateClassNames.search);
            html.classList.toggle(stateClassNames.nav);
        });

        toggleSearch.addEventListener('click', function(e) {
            e.preventDefault();
            html.classList.remove(stateClassNames.nav);
            html.classList.toggle(stateClassNames.search);

            if (searchInput) {
                searchInput.focus();
            }
        });

        // Polyfill for .closest() via https://developer.mozilla.org/en-US/docs/Web/API/Element/closest
        // which is unsupported in IE11 (https://sentry.io/big-lottery-fund/biglotteryfund/issues/862390590)
        if (!Element.prototype.matches) {
            Element.prototype.matches = Element.prototype.msMatchesSelector ||
                Element.prototype.webkitMatchesSelector;
        }

        if (!Element.prototype.closest) {
            Element.prototype.closest = function(s) {
                var el = this;

                do {
                    if (el.matches(s)) return el;
                    el = el.parentElement || el.parentNode;
                } while (el !== null && el.nodeType === 1);
                return null;
            };
        }

        body.addEventListener('click', function(e) {
            var isOutsideClick = e.target.closest(elSelector) === null;
            if (
                isOutsideClick &&
                (html.classList.contains(stateClassNames.search) || html.classList.contains(stateClassNames.nav))
            ) {
                html.classList.remove(stateClassNames.search);
                html.classList.remove(stateClassNames.nav);
            }
        });
    }());
</script>
