{% import "../components/nav.njk" as nav %}

<header role="banner">
    <div class="inner header__inner flex flex--wide-only">
        <a href="/"><h1 class="logo">Big Lottery Fund</h1></a>
        <nav class="mobile-only header__hamburger" id="js-mobile-nav-toggle"><i class="ion-navicon"></i></nav>
        <nav role="navigation" class="flex__fill desktop-only">
            <ul class="nav flex">
                {{ nav.navlinks('nav__link') }}
            </ul>
        </nav>
    </div>
</header>