<link rel="stylesheet" type="text/css" href="{{ 'stylesheets/style.css' | getCachebustedPath }}">
<link rel="stylesheet" href="https://use.typekit.net/yyc1dgh.css">

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=HTMLPictureElement,Object.assign,Number.isNaN,String.prototype.includes,Array.prototype.find,Element.prototype.closest"></script>
<script id="script-head">
(function() {
    window.AppConfig = {
        environment: '{{ appData.environment }}',
        isTestServer: {% if appData.isTestServer %}true{% else %}false{% endif %},
        locale: '{{ locale }}',
        localePrefix: '{{ localePrefix }}',
        sessionExpirySeconds: {{ appData.config.get('session.expiryInSeconds') }}
    };

    var docEl = document.documentElement;
    docEl.className = docEl.className.replace('no-js', 'js-on');

    if (
        navigator.userAgent.indexOf('MSIE') !== -1 ||
        navigator.appVersion.indexOf('Trident/') > 0
    ) {
        docEl.className += ' ' + 'is-ie';
    }

    if (sessionStorage.fontsLoaded) {
        docEl.className += ' ' + 'fonts-loaded';
    }

})();
</script>
