<link href='https://media.biglotteryfund.org.uk' rel='preconnect'>

<link rel="stylesheet" type="text/css" href="{{ 'stylesheets/style.css' | getCachebustedPath }}">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600|Roboto:400,700" rel="stylesheet">

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=HTMLPictureElement,Promise,Array.prototype.find"></script>
<script id="script-config">

(function() {
    var AppConfig = {
        environment: '{{ appData.environment }}',
        isNotProduction: {{ appData.isNotProduction }},
        locale: '{{ locale }}',
        localePrefix: '{{ localePrefix }}',
        isModernBrowser:
            'querySelector' in document &&
            'addEventListener' in window &&
            'localStorage' in window &&
            'bind' in Function,
        isOldIE:
            navigator.userAgent.indexOf('MSIE') !== -1 ||
            navigator.appVersion.indexOf('Trident/') > 0,
        hasSeenPageBefore: (function() {
            var hasSeenPageBefore = false;
            try {
                hasSeenPageBefore = !!window.sessionStorage.getItem(
                    'app.hasSeenPageBefore'
                );
            } catch (e) {} // eslint-disable-line no-empty

            if (!hasSeenPageBefore) {
                try {
                    window.sessionStorage.setItem(
                        'app.hasSeenPageBefore',
                        true
                    );
                } catch (e) {} // eslint-disable-line no-empty
            }

            return hasSeenPageBefore;
        })(),
        /**
         * Allows us to disable google analytics on live env when loaded via EC2/ELB
         * and not the real domain e.g. to avoid polluting data with extra domains
         */
        blockAnalytics:
            {{ appData.environment == 'production' }} &&
            window.location.hostname !==
                "{{ appData.config.get('siteDomain') }}"
    };

    window.AppConfig = AppConfig;
})();
</script>
<script id="script-head">
    {% include "includes/head.js" %}
</script>
