<meta name="title" content="{% if title %}{{ title }} | {{ metadata.title }}{% else %}{{ metadata.title }}{% endif %}">
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">

        {# Open Graph data #}
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% if title %}{{ title }} | {{ metadata.title }}{% else %}{{ metadata.title }}{% endif %}">
        <meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
        <meta property="og:url" content="{{ getCurrentUrl() }}">

        {# tiles/themes #}
        <meta name="apple-mobile-web-app-title" content="{{ metadata.title }}">
        <meta name="application-name" content="{{ metadata.title }}">
        <meta name="msapplication-TileColor" content="{{ metadata.themeColour }}">
        <meta name="theme-color" content="{{ metadata.themeColour }}">

        {# todo: <link rel="alternate" hreflang="cy" href="#" /> #}