{% set metaTitle = getMetaTitle(__("global.brand.title"), title) %}
<!-- deploy {{ appData.deployId }} (build #{{ appData.buildNumber }}) -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="title" content="{{ metaTitle }}">
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">

{# Open Graph data #}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ metaTitle }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ metadata.description }}{% endif %}">
<meta property="og:url" content="{{ getCurrentUrl() }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ appData.config.get('social.twitterAccounts.' + locale) }}" />

{% if socialImage %}
<meta property="twitter:image" content="{{ getAbsoluteUrl(socialImage.default) }}">
<meta property="og:image" content="{{ getAbsoluteUrl(socialImage.default) }}">
{% else %}
<meta property="twitter:image" content="{{ getAbsoluteUrl("social/twitter.jpg" | getImagePath) }}">
<meta property="og:image" content="{{ getAbsoluteUrl("social/facebook.jpg" | getImagePath) }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endif %}

<meta name="google-site-verification" content="o1R2SCKacbqmesd1hrNosk1lfTkqrz2R1OoG7OoFRtw">

{# tiles/themes #}
<meta name="apple-mobile-web-app-title" content="{{ metadata.title }}">
<meta name="application-name" content="{{ metadata.title }}">
<meta name="msapplication-TileColor" content="{{ metadata.themeColour }}">
<meta name="theme-color" content="{{ metadata.themeColour }}">

{# favicons #}
<link rel="apple-touch-icon" sizes="57x57" href="{{ 'favicon/apple-icon-57x57.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ 'favicon/apple-icon-60x60.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ 'favicon/apple-icon-72x72.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ 'favicon/apple-icon-76x76.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ 'favicon/apple-icon-114x114.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ 'favicon/apple-icon-120x120.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ 'favicon/apple-icon-144x144.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ 'favicon/apple-icon-152x152.png' | getImagePath }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicon/apple-icon-180x180.png' | getImagePath }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ 'favicon/android-icon-192x192.png' | getImagePath }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon/favicon-32x32.png' | getImagePath }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ 'favicon/favicon-96x96.png' | getImagePath }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon/favicon-16x16.png' | getImagePath }}">
<meta name="msapplication-TileImage" content="{{ 'favicon/ms-icon-144x144.png' | getImagePath }}">

{% if isBilingual %}
    {% if locale == 'en' %}
        <link rel="alternate" hreflang="cy" href="{{ getCurrentUrl('cy') }}" />
    {% else %}
        <link rel="alternate" hreflang="en" href="{{ getCurrentUrl('en') }}" />
    {% endif %}
{% endif %}
