<script src="https://www.google-analytics.com/cx/api.js"></script>
<script src="{{ 'javascripts/app.js' | getCachebustedPath }}"
        id="js-script-main"
        data-ga-code="{{ appData.config.get('googleAnalyticsCode') }}"{% if ab %}
        data-ab-id="{{ ab.id }}"
        data-ab-variant="{{ ab.variantId }}"{% endif %}></script>

<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/assets/autotrack/autotrack.js"></script>
{% if appData.config.get('hotjarEnabled') %}
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:828894,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
{% endif %}
