<link rel="stylesheet" type="text/css" href="{{ 'stylesheets/style.css' | getCachebustedPath }}">
<link rel="stylesheet" href="https://use.typekit.net/yyc1dgh.css">

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=HTMLPictureElement,Promise,Object.assign,Number.isNaN,String.prototype.includes,Array.prototype.find,Element.prototype.closest"></script>
<script id="script-config">
(function() {
    window.AppConfig = {
        environment: '{{ appData.environment }}',
        locale: '{{ locale }}',
        localePrefix: '{{ localePrefix }}',
    };
})();
</script>
<script id="script-head">
    {% include "includes/head.js" %}
</script>
