{% set metaTitle = getMetaTitle(globalCopy.brand.title, title) %}
{% set metaDescription = description | default(globalCopy.brand.description, true) %}
<!-- deploy {{ appData.deployId }} | build {{ appData.buildNumber }} | node version {{ appData.nodeVersion }} -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

<meta name="title" content="{{ metaTitle }}">
<meta name="description" content="{{ metaDescription }}">

{# Open Graph data #}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ metaTitle }}">
<meta property="og:description" content="{{ metaDescription }}">
<meta property="og:url" content="{{ getCurrentAbsoluteUrl() }}">

<meta name="twitter:site" content="@{{ globalCopy.brand.twitter }}" />

{% if socialImage %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:image" content="{{ getSocialImageUrl(socialImage) | safe }}">
<meta property="og:image" content="{{ getSocialImageUrl(socialImage) | safe }}">
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.tnlcommunityfund.org.uk",
        "logo": "{{ getAbsoluteUrl('/assets/images/logos/tnlcf/monolingual/colour/digital-white-background.png') }}",
        "name": "{{ globalCopy.brand.title }}",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+44 0345 4 10 20 30",
            "contactType": "Customer service"
        }
    }
</script>

<meta name="google-site-verification" content="YJm5YK8XXPjyF0oyks3mvJ2P2qc1mwm9GyF7OlyNl9A" />

{# tiles/themes #}
<meta name="apple-mobile-web-app-title" content="{{ globalCopy.brand.title }}">
<meta name="application-name" content="{{ globalCopy.brand.title }}">

{% set metaThemeColour = "#e5007d" %}
<meta name="msapplication-TileColor" content="{{ metaThemeColour }}">
<meta name="theme-color" content="{{ metaThemeColour }}">

<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
<meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">

{% if isBilingual %}
    {% if locale == 'en' %}
        <link rel="alternate" hreflang="cy" href="{{ getCurrentAbsoluteUrl('cy') }}" />
    {% else %}
        <link rel="alternate" hreflang="en" href="{{ getCurrentAbsoluteUrl('en') }}" />
    {% endif %}
{% endif %}
