{% from "../components/nav.njk" import navlinks, navLangLink, navSearchForm with context %}

<nav class="offscreen-navigation u-mobile-only">
    <ul class="offscreen-navigation__list" id="nav">
        {{ navlinks('offscreen-navigation__link') }}
        <li class="offscreen-navigation__lang">
            {{ navLangLink() }}
        </li>
        <li class="offscreen-navigation__search">
            {{ navSearchForm() }}
        </li>
    </ul>
</nav>
