{% from "../components/nav.njk" import navlinks, navSearchForm with context %}
{% from "components/language/macros.njk" import languageLink with context %}

<nav class="offscreen-navigation u-mobile-only" id="qa-offscreen-navigation">
    <ul class="offscreen-navigation__list" id="nav">
        {{ navlinks('offscreen-navigation__link') }}
        <li class="offscreen-navigation__lang">
            {{ languageLink(currentLocale = locale) }}
        </li>
        <li class="offscreen-navigation__search">
            {{ navSearchForm() }}
        </li>
    </ul>
</nav>
