{% extends "layouts/main.njk" %}
{% from "components/project-stories/macro.njk" import projectStories with context %}
{% from "components/content-box-intro/macro.njk" import contentBoxIntro with context %}
{% from "components/content-tabs/macro.njk" import contentTabs %}
{% from "components/hero.njk" import hero with context %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/programmes.njk" import programmeStats with context %}
{% from "components/message/macro.njk" import message with context %}

{% if not pageHero %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    <main role="main" id="content">
        {% if pageHero %}
            {{ hero(title, pageHero.image) }}
        {% endif %}

        {% if pageHero %}<div class="nudge-up">{% endif %}
        
        {% if not pageHero %}
            {{ pageTitle(title) }}
        {% endif %}

        {% call contentBoxIntro(breadcrumbs, heroCredit = pageHero.credit) %}
            {% if entry.description %}
                {{ entry.description | safe }}
            {% endif %}
            {{ programmeStats(entry, isCompact = true) }}
        {% endcall %}

        <div class="u-inner-wide-only">

            {% if entry.notificationBanner %}
                {{ message(entry.notificationBanner.title, entry.notificationBanner.content) }}
            {% endif %}

            {% if entry.contentSections.length > 1 %}
                {% set tabItems = [] %}
                {% for section in entry.contentSections -%}
                    {% set tabContent -%}
                        <div class="s-prose u-constrained-content-wide">
                            {{ section.body | safe }}
                        </div>
                    {%- endset %}

                    {% set tabItems = (tabItems.push({
                        "id": "section-" + loop.index,
                        "title": section.title,
                        "content": tabContent,
                        "active": loop.index === 1
                    }), tabItems) %}
                {%- endfor %}

                {{ contentTabs(tabItems) }}
            {% else %}
                {% set section = entry.contentSections[0] %}
                <div class="content-box content-box--borderless">
                    <div class="s-prose u-constrained-content-wide">
                        <h2 class="t2 t--underline">{{ section.title }}</h2>
                        {{ section.body | safe }}
                    </div>
                </div>
            {% endif %}

            {% if entry.footer %}
                <div class="content-box content-box--frameless">
                    <div class="s-prose u-constrained-content-wide">
                        {{ entry.footer | safe }}
                    </div>
                </div>
            {% endif %}
        </div>

        {# Project Stories #}
        {% if entry.projectStories.length > 0 %}
            {{ projectStories(
                stories = entry.projectStories,
                title = __('global.misc.projectExamples')
            ) }}
        {% endif %}

        {% if pageHero %}</div>{% endif %}
    </main>
{% endblock %}
