{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/programmes.njk" import programmeCard with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <section class="content-box u-inner-wide-only nudge-up">
            {{ breadcrumbTrail(breadcrumbs) }}
            <h2 class="u-visually-hidden">{{ activeBreadcrumbsSummary }}</h2>

            {% if groupedProgrammes %}
                {% for region, regionProgrammes in groupedProgrammes %}
                    <h3>{{ region }}</h3>
                    {#
                        Hide Covid-19 status message for UK-wide programmes,
                        which are always shown alongside country-specific ones
                        and may confuse users if we show two different statuses on one page
                    #}
                    {% if countryCovidStatus and region !== 'UK-wide' and region !== 'Ledled y DU' %}
                        {{ countryCovidStatus.status | safe }}
                    {% endif %}
                    <ol class="flex-grid flex-grid--3up">
                        {% for programme in regionProgrammes %}
                            <li class="flex-grid__item">
                                {{ programmeCard(programme) }}
                            </li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            {% elseif programmes.length > 0 %}
                {% if countryCovidStatus %}
                    {{ countryCovidStatus.status | safe }}
                {% endif %}
                <ol class="flex-grid flex-grid--3up">
                    {% for programme in programmes %}
                        <li class="flex-grid__item">
                            {{ programmeCard(programme) }}
                        </li>
                    {% endfor %}
                </ol>

                {# All programmes #}
                <div class="u-align-center u-margin-bottom-l">
                    <a href="{{ localify('/funding/programmes/all') }}" class="btn btn--medium btn--outline">
                        {{ __('funding.programmes.allProgrammes') }}
                    </a>
                </div>
            {% else %}
                <p>{{ __('funding.programmes.noResults') }}</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
