{% macro promoCard(props, accent = 'pink') %}
    <div class="promo-card u-accent-border-top-{{ accent }}">
        <div class="promo-card__media">
            <img src="https://via.placeholder.com/320x140" alt=""/>
            {% if props.kicker %}
                <span class="promo-card__kicker t6 overlay-text accent--{{ accent }}"><span>{{ props.kicker }}</span></span>
            {% endif %}
        </div>
        <div class="promo-card__inner">
            <div class="promo-card__body">
                <h4 class="promo-card__title t5">{{ props.title }}</h4>
                <p class="promo-card__subtitle">{{ props.subtitle }}</p>
                <div class="promo-card__description s-prose">
                    {{ props.description | safe  }}
                    {% if props.url %}
                        <a href="{{ props.url }}">{{ __('global.misc.readMore') }}</a>
                    {% endif %}
                </div>
            </div>
            {% if caller %}
                <div class="promo-card__meta">
                    {{ caller() }}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}
