{#
Media object card
props: {Object}
- title {String}
- subtitle {String}
- description {Html}
- image {Object} { url: {String}, alt: {String} }
- link {Object} { url: {String}, label: {String} }
accent: {String}
#}
{% macro mediaObject(props, accent = 'pink') %}
    <div class="media-card u-accent-border-top-{{ accent }}">
        {% if props.image.url %}
            <div class="media-card__media">
                <img src="{{ props.image.url }}" alt="{{ props.image.alt }}">
            </div>
        {% endif %}
        <div class="media-card__body">
            <h4 class="media-card__title">{{ props.title }}</h4>
            <p class="media-card__subtitle">{{ props.subtitle }}</p>
            <div class="media-card__trail-text s-prose">
                {{ props.trailText | safe  }}
                {% if props.link.url %}
                    <a href="{{ props.link.url }}">{{ props.link.label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
