{% from "components/promo-card/macro.njk" import promoCard %}

{% macro projectStories(stories, title = false) %}
    {% if stories.length > 0 %}
        <section class="u-padded">
            <div class="u-inner">
                <h2 class="t--underline">{{ title }}</h2>
            </div>
            <div class="u-inner-wide-only">
                <ul class="flex-grid flex-grid--3up">
                    {% for story in stories  %}
                        <li class="flex-grid__item">
                            {{ promoCard({
                                "title": story.title,
                                "summary": story.trailSummary,
                                "image": {
                                    "url": story.trailPhoto,
                                    "alt": story.title
                                },
                                "link": {
                                    "label": __('global.misc.readMore'),
                                    "labelAria": __('global.misc.readMoreAbout', story.title),
                                    "url": story.linkUrl
                                }
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endmacro %}
