{% from "components/styleguide.njk" import sgExample %}
{% from "./macro.njk" import stepProgress %}

{% call sgExample('Default steps') %}
    {{ stepProgress([{
        "title": "Request a call",
        "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time"
    }, {
        "title": "Talk to us",
        "description": "If your idea looks like it fits with the Digital Fund criteria, we’ll arrange a call with you"
    }, {
        "title": "Submit a full proposal",
        "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
    }])}}
{% endcall %}

{% call sgExample('With completed steps') %}
    {{ stepProgress([{
        "title": "Request a call",
        "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time",
        "isCompleted": true
    }, {
        "title": "Talk to us",
        "description": "If your idea looks like it fits with the Digital Fund criteria, we’ll arrange a call with you",
        "isCompleted": true
    }, {
        "title": "Submit a full proposal",
        "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
    }])}}
{% endcall %}
