{% from "components/styleguide.njk" import sgExample %}
{% from "./macro.njk" import stepProgress %}

{% call sgExample('Default steps') %}
    {{ stepProgress([{
        "title": "Book in a call",
        "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time"
    }, {
        "title": "Talk to us",
        "description": "We call you and ask a few questions"
    }, {
        "title": "Submit a full proposal",
        "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
    }, {
        "title": "Submit a detailed plan",
        "description": "If you are successful, we ask you to submit a more detailed plan which is then judged by our panel"
    }])}}
{% endcall %}

{% call sgExample('With completed steps') %}
    {{ stepProgress([{
        "title": "Book in a call",
        "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time",
        "isCompleted": true
    }, {
        "title": "Talk to us",
        "description": "We call you and ask a few questions",
        "isCompleted": true
    }, {
        "title": "Submit a full proposal",
        "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
    }, {
        "title": "Submit a detailed plan",
        "description": "If you are successful, we ask you to submit a more detailed plan which is then judged by our panel"
    }])}}
{% endcall %}
