{% from "components/accessibility.njk" import accessibilityNav with context %}
<!doctype html>
<html lang="{{ locale }}"
    class="no-js locale--{{ locale }}{% if isHighContrast %} contrast--high{% endif %}{% if useNewBrand %} is-rebrand{% endif %}">
    <head>
        <title>{% block title %}{{ title }} | {% endblock %}{{ globalCopy.brand.title }}</title>

        {% include "includes/metadata.njk" %}
        {% include "includes/metaHead.njk" %}
        {% block extraHead %}{% endblock %}
    </head>
    <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        {{ accessibilityNav() }}

        <div class="global-container">
            {# Cookie consent #}
            {% set cookieLang = __('global.cookieConsent') %}
            <div id="js-cookie-consent">
                <cookie-consent
                    title='{{ cookieLang.title }}'
                    message='{{ cookieLang.message }}'
                    action='{{ cookieLang.action }}'
                />
            </div>

            {% if useNewBrand %}
                {% include "includes/global-header-next.njk" %}
            {% else %}
                {% include "includes/header.njk" %}
            {% endif %}

            {% block content %}{% endblock %}

            {% include "includes/footer.njk" %}
        </div>

        {% if not useNewBrand %}
            {% include "includes/offscreenNav.njk" %}
        {% endif %}

        {%- if enablePrompt -%}
            <div id="js-active-prompt">
                <prompt
                    id='chalkmark-rebrand'
                    weight='0.6'
                    message='We are working on improving the website.'
                    link-url='https://54kuc315.optimalworkshop.com/chalkmark/1aw13cfq'
                    link-text='Can you spare a few minutes to take a survey?'
                />
            </div>
        {%- endif -%}

        {% include "includes/metaFooterJS.njk" %}
    </body>
</html>
