{% from "components/accessibility.njk" import accessibilityNav with context %}
{% from "components/preview.njk" import previewBanner with context %}
<!doctype html>
<html lang="{{ locale }}"
    class="no-js locale--{{ locale }}{% if isHighContrast %} contrast--high{% endif %}">
    <head>
        <title>{% block title %}{{ title }} | {% endblock %}{{ __("global.brand.title") }}</title>

        {% include "includes/metadata.njk" %}
        {% include "includes/metaHead.njk" %}
    </head>
    <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
        {% set useNewHeader = appData.isNotProduction and queryFeature('use-new-header') %}
        {{ accessibilityNav() }}
        {{ previewBanner(previewStatus) }}

        <div class="global-container">
            {% if useNewHeader %}
                {% include "includes/global-header-next.njk" %}
            {% else %}
                {% include "includes/header.njk" %}
            {% endif %}
            {% block content %}{% endblock %}
            {% include "includes/footer.njk" %}
        </div>

        {% if not useNewHeader %}
            {% include "includes/offscreenNav.njk" %}
        {% endif %}

        {%- if appData.config.get('features.enablePrompts') -%}
            {# Show conditional prompt messages #}
            <div id="js-active-prompt"></div>
        {%- endif -%}

        {% include "includes/metaFooterJS.njk" %}
    </body>
</html>
