{% from "../components/nav.njk" import navlinks with context %}
<!doctype html>
<html lang="{{ locale }}" class="no-js locale--{{ locale }}{% if highContrast %} contrast--high{% endif %}">
    <head>
        <title>{% block title %}{% endblock %}{{ __("global.brand.title") }}</title>
        <!-- deploy {{ appData.deployId }} (build #{{ appData.buildNumber }}) -->

        <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/style.css' | getCachebustedPath }}">
        {% if not disableExternal %}
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i" rel="stylesheet">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        {% include "../includes/metadata.njk" %}
    </head>
    <body>
        <main>
            {% include "../includes/header.njk" %}
            <div id="content" class="m-t-none">
                {% block content %}{% endblock %}
            </div>
            {% include "../includes/footer.njk" %}
        </main>
        <nav class="mobile-only m-t-none">
            <ul class="nav--offscreen">
                {{ navlinks('nav--offscreen__link') }}
            </ul>
        </nav>
        {% include "../includes/accessibility.njk" %}
        <div class="overlay{% if showOverlay %} overlay--visible{% endif %}" id="js-overlay">
            <div class="overlay__close" id="js-close-overlay">
                {% include "../includes/svg/close.svg" %}
            </div>
        </div>

    {% if not disableExternal %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endif %}
        <script src="{{ 'javascripts/app.js' | getCachebustedPath }}"></script>

    {# load analytics #}
    {% if appData.environment == 'production' %}
        <script src="/assets/analytics/ga.js"></script>
    {% else %}
        <script src="/assets/analytics/ga-dev.js"></script>
    {% endif %}

    </body>
</html>