{% from "components/hero.njk" import hero %}
{% from "components/nav.njk" import nestedMenu, quickLinks %}

{% extends "layouts/main.njk" %}

{% block content %}
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main class="nudge-up">
        <div class="page-section u-inner-wide-only u-accent-border-top-{{ pageAccent }}">
            <div class="page-section__content u-accent-border-top-{{ pageAccent }}">
                {% for profile in profiles %}
                    <article id="profile-{{ profile.title | slugify }}"
                        class="content-box {% if loop.index > 1 %} u-accent-border-top-{{ pageAccent }}{% endif %}">
                        {% if profile.image %}
                            <figure>
                                <img src="{{ profile.image }}" alt="{{ profile.title }}">
                            </figure>
                        {% endif %}

                        <div class="s-prose accent-content--{{ pageAccent }}">
                            <h2>
                                {{ profile.title }}{% if profile.role %}&thinsp;&mdash;&thinsp;{{ profile.role }}{% endif %}
                            </h2>
                            {{ profile.bio | safe }}
                        </div>

                    </article>
                {% endfor %}

                {% block extraPrimaryContent %}{% endblock %}
            </div>
            <div class="page-section__supplementary u-accent-border-top-{{ pageAccent }}">
                {% set navigation = __('about.ourPeople.navigation') %}
                <aside class="content-box">
                    {{ nestedMenu(navigation, getCurrentUrl()) }}
                </aside>

                {% set quickLinksList = [] %}
                {% for profile in profiles %}
                    {% set quickLink = {
                        href: '#profile-' + profile.title | slugify,
                        label: profile.title,
                        caption: profile.role
                    } %}
                    {% set quickLinksList = (quickLinksList.push(quickLink), quickLinksList) %}
                {% endfor %}
                {{ quickLinks(quickLinksList, isSticky = true) }}
            </div>
        </div>
    </main>
{% endblock %}
