<!doctype html>
<html lang="{{ locale }}" class="{{ getHtmlClasses() }}">
<head>
    <title>Style Guide | {{ __("global.brand.title") }}</title>

    {% include "../includes/metadata.njk" %}
    {% include "../includes/metaHeadJS.njk" %}
    {% include "../includes/metaHeadCSS.njk" %}

    {% block styleguide_styles %}
        <style>
            .sg-visuallyhidden {
                border: 0 !important;
                clip: rect(0 0 0 0) !important;
                height: 1px !important;
                margin: -1px !important;
                overflow: hidden !important;
                padding: 0 !important;
                position: absolute !important;
                width: 1px !important;
            }
            .sg-toolbar {
                box-sizing: border-box;
                background-color: rgba(255,255,255,.9);
                box-shadow: 0 -2px 10px rgba(0,0,0,.1);
                padding: 10px;
                position: fixed;
                z-index: 999;
                bottom: 0;
                right: 0;
                text-align: right;
            }
            .sg-jump-nav select {
                display: block;
            }
            .sg-header {
                padding: 10px 20px;
                color: white;
                background-color: #2d2d2d;
            }
            .sg-header__title {
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 0;
            }
            .sg-main {
                margin-bottom: 30px;
            }
            .sg-section-header {
                border-top: 5px solid #e9e9e9;
                padding: 20px 0;
                margin: 30px 0;
            }
            .sg-section-header:first-of-type {
                margin-top: 0;
            }
            .sg-section-header__title {
                margin: 0;
            }
            .sg-block {
                padding-bottom: 60px;
            }
            .sg-block__notes {
                margin-top: 20px;
            }
            .sg-usage-notes {
                border: 1px solid #e9e9e9;
            }
            .sg-usage-notes__title,
            .sg-usage-notes__content {
                color: #444;
                padding: 8px;
            }
            .sg-usage-notes__title {
                margin: 0;
                background-color: #e9e9e9;
                text-transform: uppercase;
                font-size: 12px;
            }
            .sg-usage-notes__content {
                font-size: 14px;
            }
        </style>
    {% endblock %}
</head>
<body>
    <header class="sg-header" roler="banner">
        <h1 class="sg-header__title">Big Lottery Fund Alpha Style Guide</h1>
    </header>

    <main class="sg-main" id="content">
        {% block content %}{% endblock %}
    </main>

    {% include "../includes/metaFooterJS.njk" %}
    <script>
    (function() {
        function renderSectionNavigation() {
            var patternTitleEls = document.querySelectorAll('.js-sg-pattern-title');
            var patternTitles = [].map.call(patternTitleEls, function(el) {
                return {
                    label: el.textContent,
                    id: el.id
                }
            });

            var markup = `
                <form class="sg-jump-nav" action="" method="get">
                    <label for="sg-section-switcher" class="sg-visuallyhidden">
                        Jump to section:
                    </label>
                    <select id="sg-section-switcher" name="sg-section-switcher">
                        <option value="" selected>Jump to&hellip;</option>
                        <optgroup label="Sections">
                            ${patternTitles.map(title => {
                                return `<option value="#${title.id}">
                                    ${title.label}
                                </option>`
                            }).join('\n')}
                        </optgroup>
                    </select>
                    <button type="submit" class="sg-visuallyhidden">Go</button>
                </form>`;

            var div = document.createElement('div');
            div.className = 'sg-toolbar';
            div.innerHTML = markup;

            var bodyEl = document.querySelector('body');
            bodyEl.appendChild(div);
        }

        function initSectionNavigtion() {
            var select = document.getElementById('sg-section-switcher');
            if (select) {
                select.addEventListener('change', function () {
                    var val = this.value;
                    if (val) {
                        window.location = val;
                    }
                });
            }
        }

        renderSectionNavigation();
        initSectionNavigtion();
    })();
    </script>
</body>
</html>
