<!doctype html>
<html lang="{{ locale }}" class="no-js">
<head>
    <title>Style Guide | {{ __("global.brand.title") }}</title>

    {% include "includes/metadata.njk" %}
    {% include "includes/metaHead.njk" %}

    <link rel="stylesheet" href="{{ 'stylesheets/styleguide.css' | getCachebustedPath }}"/>
</head>
<body>
    <header class="sg-header" role="banner">
        <h1 class="sg-header__title">Big Lottery Fund Alpha Style Guide</h1>
    </header>

    <main class="sg-main" id="content">
        {% block content %}{% endblock %}
    </main>

    {% include "../includes/metaFooterJS.njk" %}
    <script src="{{ 'javascripts/styleguide.js' | getCachebustedPath }}"></script>
</body>
</html>
