<!doctype html>
<html lang="{{ locale }}" class="no-js locale--{{ locale }}{% if highContrast %} contrast--high{% endif %}">
    <head>
        <title>{% block title %}Style Guide | {% endblock %}{{ __("global.brand.title") }}</title>
        <!-- deploy {{ appData.deployId }} (build #{{ appData.buildNumber }}) -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        {% include "../includes/metadata.njk" %}

        {% include "../includes/metaHeadJS.njk" %}
        {% include "../includes/metaHeadCSS.njk" %}

        {% block styleguide_styles %}
            <style>
                .sg-header {
                    padding: 10px 20px;
                    color: white;
                    background-color: #2d2d2d;
                    margin-bottom: 20px;
                }
                .sg-main {
                    margin-bottom: 30px;
                }
                .sg-header__title {
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 0;
                }
                .sg-block {
                    padding-bottom: 20px;
                }
                .sg-block__title {
                    font-size: 18px;
                    text-transform: uppercase;
                    border-bottom: 1px solid #ddd;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <header class="sg-header" roler="banner">
            <h1 class="sg-header__title">Big Lottery Fund Alpha Style Guide</h1>
        </header>

        <main class="sg-main" id="content">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
