{% from "components/overlay-text/macro.njk" import overlayText %}

{#
Promo card

props: {Object}
- kicker {String} - Kicker / tag overlaid on the image
- title {String} - Title
- subtitle {String} - Subtitle
- trailText {Html} - Trail text HTML
- image {Object} { url: {String}, alt: {String} }
- link {Object} { url: {String}, label: {String} }
#}
{% macro promoCard(props, accent = 'pink', featured = false, showBorder = false, isInline = false) %}
    <div class="promo-card{% if featured %} promo-card--featured{% endif %}{% if isInline %} promo-card--inline{% if showBorder %} u-accent-border-top-{{ accent }}{% endif %}{% endif %}">
        {% if props.image.url %}
            <div class="promo-card__media">
                {% if props.link.url %}<a href="{{ props.link.url }}">{% endif %}
                <img src="{{ props.image.url }}" alt="{{ props.image.alt }}"/>
                {% if props.link.url %}</a>{% endif %}
                {% if props.kicker %}
                    <span class="promo-card__kicker">
                        {% call overlayText() %}{{ props.kicker }}{% endcall %}
                    </span>
                {% endif %}
            </div>
        {% endif %}
        <div class="promo-card__body">
            {% if props.kicker and not props.image.url %}
                <p class="promo-card__kicker">
                    {% call overlayText() %}
                        {{ props.kicker }}
                    {% endcall %}
                </p>
            {% endif %}
            {% set level = 3 %}{# Default heading level #}
            {# Allow heading level to be set by headingLevel only if between 1 and 6 #}
            {% if props.headingLevel and props.headingLevel < 6 and props.headingLevel > 0 %}
                {% set level = props.headingLevel %}
            {% endif %}
            <h{{ level }} class="promo-card__title t4">
                {% if props.link.url %}
                    <a
                        class="u-link-minimal"
                        id="qa-promo-card-link-{{ props.title | slugify }}"
                        href="{{ props.link.url }}"
                    >
                {% endif %}
                {{ props.title }}
                {% if props.link.url %}</a>{% endif %}
            </h{{ level }}>
            {% if props.subtitle %}
                <p class="promo-card__subtitle">{{ props.subtitle }}</p>
            {% endif %}
            <div class="promo-card__summary s-prose">
                {# @TODO: Use summary prop instead of trailText #}
                {% if props.summary %}
                    {{ props.summary | safe }}
                {% elseif props.trailText %}
                    {{ props.trailText | safe }}
                {% endif %}
                {% if props.link.url and props.link.label %}
                    <a href="{{ props.link.url }}"{% if props.link.labelAria %} aria-label="{{ props.link.labelAria }}"{% endif %}>
                        {{ props.link.label }}
                    </a>
                {% endif %}
            </div>
        </div>
        {# Allow for custom meta content using https://mozilla.github.io/nunjucks/templating.html#call #}
        {% if caller %}
            <div class="promo-card__meta">
                {{ caller() }}
            </div>
        {% endif %}
    </div>
{% endmacro %}
