{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', title, 't1') }}
    {% endset %}

    {{ hero.header('dataProtection', heroContent, 'blue') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only accent--blue a--border-top content-box has-body-copy">
            {{ copy.body | safe }}
        </div>

    </article>

{% endblock %}