{% from "components/hero.njk" import hero %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.arkwrightMeadows %}
{% set socialImage = heroImage %}

{% block content %}

    {% set pageAccent = 'blue' %}

    {{
        hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}


    <article role="main" class="nudge-up">

        <div class="inner--wide-only accent--{{ pageAccent }} a--border-top content-box s-prose">
            {{ copy.body | safe }}
        </div>

    </article>

{% endblock %}
