{% from "components/hero.njk" import hero %}
{% from "components/ebulletin.njk" import ebulletinForm with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'pink' %}
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ ebulletinForm() }}
        </div>
    </main>
{% endblock %}
