{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', title, 15, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('foi', heroContent, 'turquoise') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--turquoise accent-b-t bg-pale-green bordered">
            {{ copy.sections.intro | safe }}
        </div>

        <div class="inner--wide-only p-text accent--pink accent-b-t bg-pale-green bordered">
            <h3 class="t6 m-t">{{ copy.sections.howToRequest.title }}</h3>
            {{ copy.sections.howToRequest.body | safe }}
        </div>

        <div class="inner--wide-only p-text accent--blue accent-b-t bg-pale-green bordered">
            <h3 class="t6 m-t">{{ copy.sections.forCustomers.title }}</h3>
            {{ copy.sections.forCustomers.body | safe }}
        </div>

        <div class="inner--wide-only p-text accent--orange accent-b-t bg-pale-green bordered">
            <h3 class="t6 m-t">{{ copy.sections.publicationScheme.title }}</h3>
            {{ copy.sections.publicationScheme.body | safe }}
        </div>

    </article>

{% endblock %}