{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', title, 't1') }}
    {% endset %}

    {{ hero.header('foi', heroContent, 'turquoise') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--turquoise accent-b-t bg-pale-green bordered">
            {{ copy.sections.intro | safe }}
        </div>

        {% if copy.sections.howToRequest.body %}
            <div class="inner--wide-only p-text accent--pink accent-b-t bg-pale-green bordered">
                <h3 class="t6 m-t">{{ copy.sections.howToRequest.title }}</h3>
                {{ copy.sections.howToRequest.body | safe }}
            </div>
        {% endif %}

        {% if copy.sections.forCustomers.body %}
            <div class="inner--wide-only p-text accent--blue accent-b-t bg-pale-green bordered">
                <h3 class="t6 m-t">{{ copy.sections.forCustomers.title }}</h3>
                {{ copy.sections.forCustomers.body | safe }}
            </div>
        {% endif %}

        {% if copy.sections.publicationScheme.body %}
            <div class="inner--wide-only p-text accent--orange accent-b-t bg-pale-green bordered">
                <h3 class="t6 m-t">{{ copy.sections.publicationScheme.title }}</h3>
                {{ copy.sections.publicationScheme.body | safe }}
            </div>
        {% endif %}

    </article>

{% endblock %}