{% from "components/hero.njk" import sectionHero %}
{% from "components/nav.njk" import nestedMenu %}
{% from "components/lists.njk" import linksList %}
{% from "components/profiles.njk" import profileSummary %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set pageAccent = 'pink' %}
{% set bodyClass = "has-full-bleed-header" %}
{% set heroImage = heroImages.rathlinIslandDevelopment %}
{% set socialImage = heroImage %}

{% block content %}
    {{ sectionHero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main class="nudge-up">
        <div class="page-section inner--wide-only accent--{{ pageAccent }} a--border-top">
            <div class="page-section__content accent--{{ pageAccent }} a--border-top">
                {% for profile in profiles %}
                    <section id="segment-{{ profile.title | slugify }}"
                        class="content-box content-box--even-inset{% if loop.index > 1 %} accent--{{ pageAccent }} a--border-top{% endif %}">
                        {{ profileSummary(profile) }}
                    </section>
                {% endfor %}

                <section class="content-box content-box--even-inset
                    accent--{{ pageAccent }} a--border-top">
                    <h3 class="t1 accent--{{ pageAccent }} a--text">{{ copy.expenses.title }}</h3>
                    {{ linksList(copy.expenses.documents) }}
                </section>
            </div>
            <div class="page-section__supplementary accent--{{ pageAccent }} a--border-top">
                <aside class="content-box content-box--even-inset">
                    {{ nestedMenu(copy.navigation, getCurrentUrl(request)) }}
                </aside>
            </div>
        </div>
    </main>
{% endblock %}
