{% from "components/hero.njk" import sectionHero %}
{% from "components/profiles.njk" import profileSummary %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set bodyClass = "has-full-bleed-header" %}
{% set heroImage = heroImages.streetDreams %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}

    {{
        sectionHero(
            accent = pageAccent,
            titleText = title,
            image = heroImage
        )
    }}

    <main>
        {% for profile in profiles %}
            {% if profile.image %}
                <img src="{{ profile.image }}" alt="">
            {% endif %}
            <h2>{{ profile.title }}{% if profile.role %} &mdash; {{ profile.role }}{% endif %}</h2>
            {{ profile.bio | safe }}
        {% endfor %}
    </main>

{% endblock %}
