{% from "components/hero.njk" import hero with context %}
{% from "components/section-links/macro.njk" import sectionLinks %}
{% from "components/document-list/macro.njk" import documentList %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <p>{{ copy.intro }}</p>
                {{ sectionLinks(links) }}
            </section>
        </div>
    </main>
{% endblock %}
