{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/callout/macro.njk" import callout %}
{% from "components/print-button/macro.njk" import printButton %}
{% from "components/segment-links/macro.njk" import segmentLinks %}

{% set pageAccent = 'pink' %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            {# Intro #}
            <section class="content-box u-inner-wide-only u-accent-border-top-{{ pageAccent }}">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="research-section">
                    <div class="research-section__primary">
                        <div class="s-prose">
                            {{ copy.intro | safe }}
                        </div>

                        <div class="u-margin-bottom">
                            {{ printButton(label = "Print this page") }}
                        </div>

                        {{ segmentLinks(
                            prefix = "Lessons for policy and programme design",
                            segments = copy.sections
                        ) }}

                        {% if copy.metadata %}
                            <div class="content-meta">
                                <dl class="o-definition-list o-definition-list--compact">
                                    {% for item in copy.metadata %}
                                        <dt>{{ item.label }}</dt>
                                        <dd>{{ item.content | safe }}</dd>
                                    {% endfor %}
                                </dl>
                            </div>
                        {% endif %}
                    </div>
                    <div class="research-section__secondary">
                        <div class="card u-accent-border-top-{{ pageAccent }}">
                            <h3 class="card__title">Contents</h3>
                            <div class="card__body">
                                <div class="download-summary">
                                    <a class="download-summary__link" href="#">Full report (PDF)</a>
                                    <ul class="download-summary__list">
                                        <li>Executive Summary</li>
                                        <li>Introduction</li>
                                        <li>Prevention – what works?</li>
                                        <li>Early intervention – what works?</li>
                                        <li>Partnership-based approaches – what works?</li>
                                        <li>Sources</li>
                                    </ul>
                                </div>

                                <a href="#" class="btn btn--medium btn--block">Download</a>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

            {# Content #}
            {% for section in copy.sections %}
                <section class="content-box u-inner-wide-only u-accent-border-top-{{ pageAccent }}" id="segment-{{ loop.index }}">
                    <p class="u-prefix">Lessons for policy and programme design</p>
                    <h2 class="t--underline">{{ section.title }}</h2>

                    {% for part in section.contentParts %}
                        <div class="research-section accent-content--{{ pageAccent }}">
                            <div class="research-section__primary s-prose s-prose--condensed">
                                <p><strong>{{ part.title }}</strong></p>
                                <ul>
                                    {% for point in part.points %}
                                        <li>{{ point }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if part.callout %}
                                <div class="research-section__secondary">
                                    {{ callout(
                                        content = part.callout.content,
                                        citation = part.callout.citation,
                                        isQuote = part.callout.isQuote
                                    ) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}


                    <div class="content-meta u-constrained">
                        <p><strong>The full report contains more learnings and more detailed recommendations for implementation.</strong></p>

                        <p><a href="#" class="btn btn--medium btn--outline">Full report <small>(PDF 900KB)</small></a></p>

                        <p><a href="#content">↑ Back to the top</a>
                    </div>

                </section>
            {% endfor %}
        </div>
    </main>
{% endblock %}
