{% from "components/data.njk" import statsGrid %}
{% from "components/hero.njk" import hero with context %}

{% extends "layouts/main.njk" %}

{% macro mapPane(id, title, stats, isActive = false) %}
    <section id="region-{{ id }}" class="js-tab-pane tab__pane{% if isActive %} is-active{% endif %}">
        <article class="map-info accent--pink a--border-top u-padded">
            <h3 class="t2 t--underline">{{ title }}</h3>
            {% for stat in stats %}
                <p class="map-info__stat">
                    <span class="map-info__stat-data t2 accent--pink a--text">{{ stat.value }}</span>
                    <span class="map-info__stat-caption"><strong>{{ stat.label }}</strong></span>
                </p>
            {% endfor %}
        </article>
    </section>
{% endmacro %}

{% block content %}
    {% set pageAccent = 'blue' %}

    <main role="main">
        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}


        <div class="nudge-up">
            <div class="content-box content-box--borderless u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.keyStats }}</h2>
                {{ statsGrid(dataStats.stats) }}
            </div>

            <aside class="map-holder u-accent-border-top-{{ pageAccent }}">
                <div class="map-holder__inner u-inner-wide-only u-padded">
                    <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.mapTitle }}</h2>

                    <div class="map-wrapper" role="tablist">
                        {% include "includes/uk-countries.njk" %}
                    </div>

                    <div id="js-map-panes" class="map-panes js-paneset">
                        {% set regionTitles = __('global.regions') %}
                        {{ mapPane(
                            id = 'england',
                            title = regionTitles.england,
                            stats = dataStats.regions.england,
                            isActive = true
                        ) }}
                        {{ mapPane(
                            id = 'northern-ireland',
                            title = regionTitles.northernIreland,
                            stats = dataStats.regions.northernIreland
                        ) }}
                        {{ mapPane(
                            id = 'scotland',
                            title = regionTitles.scotland,
                            stats = dataStats.regions.scotland
                        ) }}
                        {{ mapPane(
                            id = 'wales',
                            title = regionTitles.wales,
                            stats = dataStats.regions.wales
                        ) }}
                    </div>

                </div>
            </aside>

            <div class="content-box content-box--borderless u-inner-wide-only accent--{{ pageAccent }} a--border-top u-margin-top" id="open-data">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.openData.title}}</h2>
                <div class="s-prose">
                    <p>{{ copy.openData.content.intro | safe }}</p>
                    <ul>
                        {% for link in copy.openData.content.links %}
                            <li><a href="{{ link.href }}">{{ copy.openData.linkPrefix }} {{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                    <p>{{ copy.openData.content.outro | safe }}</p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
