{% from "components/data.njk" import statsGrid %}
{% from "components/hero.njk" import hero with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'blue' %}

    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <div class="content-box content-box--borderless u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.keyStats }}</h2>
                {{ statsGrid(statPage.stats) }}
            </div>

            <aside class="map-holder u-accent-border-top-{{ pageAccent }}">
                <div class="map-holder__inner u-inner-wide-only u-padded">
                    <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.map.title }}</h2>

                    <div class="map-wrapper" role="tablist">
                        {% include "includes/uk-countries.njk" %}
                    </div>

                    <div id="js-map-panes" class="map-panes js-paneset">
                        {% for region in statRegions %}
                            <section id="region-{{ region.slug }}" class="js-tab-pane tab__pane{% if loop.first %} is-active{% endif %}">
                                <article class="map-info accent--pink a--border-top u-padded">
                                    <h3 class="t2 t--underline">{{ region.title }}</h3>

                                    {% if region.population %}
                                        <p class="map-info__stat">
                                            <span class="map-info__stat-data t2 accent--pink a--text">{{ region.population | numberWithCommas }}</span>
                                            <span class="map-info__stat-caption"><strong>{{ copy.map.population }}</strong></span>
                                        </p>
                                    {% endif %}

                                    {% if region.totalAwarded %}
                                        <p class="map-info__stat">
                                            <span class="map-info__stat-data t2 accent--pink a--text">{{ region.totalAwarded }}</span>
                                            <span class="map-info__stat-caption"><strong>{{ copy.map.totalAwarded }}</strong></span>
                                        </p>
                                    {% endif %}

                                    {% if region.totalGrants %}
                                        <p class="map-info__stat">
                                            <span class="map-info__stat-data t2 accent--pink a--text">{{ region.totalGrants | numberWithCommas }}</span>
                                            <span class="map-info__stat-caption"><strong>{{ copy.map.totalGrants }}</strong></span>
                                        </p>
                                    {% endif %}
                                </article>
                            </section>
                        {% endfor %}
                    </div>

                </div>
            </aside>
        </div>
    </main>
{% endblock %}
