{% from "components/forms-new.njk" import errorList, formErrors, formFieldset, formHeader %}

{% extends "layouts/main.njk" %}

{% block title %}Step {{ stepProgress.currentStepNumber }} of {{ stepProgress.totalSteps }} | {{ form.title }} | {% endblock %}

{% set bodyClass = 'has-static-header' %}
{% set pageAccent = 'pink' %}

{% block content %}
    <main role="main" id="content">
        <form action="" method="POST"
            class="js-application-form content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">

            {{ formHeader(form.title, stepProgress) }}

            {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

            {% set progressSaved = getFlash(request, 'progressSaved') %}
            {% if progressSaved %}
                <div class="form-message form-message--info">
                    <h1 class="t1 form-message__title">Information saved</h1>
                    <p>Your application so far has been automatically saved <strong>on this computer</strong> for the next {{ progressSaved.duration }} {{ progressSaved.unit }}.</p>
                </div>
            {% endif %}

            {% for fieldset in step.fieldsets %}
                {{ formFieldset(fieldset, errors) }}
            {% endfor %}

            {% if csrfToken %}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% endif %}

            <div class="form-actions">
                <input class="btn btn--next" type="submit" value="Next" />
            </div>
        </form>
    </main>
{% endblock %}
