{% extends "layouts/main.njk" %}
{% block title %}Success | {{ form.title }} | {% endblock %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box inner inner--wide-only accent--pink a--border-top">
            <div class="u-constrained-content s-prose spaced">
                <div class="form-message">
                    <h1 class="t1 form-message__title">{{ stepConfig.title }}</h1>
                </div>

                {{ stepConfig.message | safe }}
            </div>
        </div>
    </main>
{% endblock %}
