{% extends "../../../layouts/main.njk" %}

{% block content %}
    <div class="content-box inner inner--wide-only accent--pink a--border-top">
        <h1>Example Application Form</h1>
        <h2 class="t6 t--underline accent--pink">Eligibility</h2>
        <p>If you are a voluntary or community group such as a charity, co-operative, social enterprise or community interest company, a not for profit company limited by guarantee or a statutory organisation such as a local authority or school then you can apply for this funding. When setting up your management committee please make sure it has at least three unrelated members.</p>
        <p>Partnerships are also welcome to apply as long as they are led by a voluntary, community or social enterprise (VCSE) organisation. However, we are unable to fund individuals or sole traders, profit making groups or those not established in the UK.</p>
        <a class="btn" href="{{ startUrl }}">Apply Now</a>
    </div>
{% endblock %}
