{% extends "../../../layouts/main.njk" %}

{% block content %}
    <div class="content-box inner inner--wide-only accent--pink a--border-top">
        <h1 class="t1">Reaching Communities</h1>

        <div class="u-constrained-content s-prose spaced">
            <h2 class="t2 t--underline accent--pink">Tell Us Your Idea</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur explicabo architecto numquam non quis! Veniam id autem sit est illo deleniti corporis, expedita officiis explicabo temporibus, suscipit, quidem eaque!</p>
            <a class="btn" href="{{ startUrl }}">Start</a>
        </div>

        <div class="u-constrained-content s-prose spaced">
            <h2 class="t2 t--underline accent--pink">Before You Start</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae pariatur explicabo architecto numquam non quis! Veniam id autem sit est illo deleniti corporis, expedita officiis explicabo temporibus, suscipit, quidem eaque!</p>
            <ol>
                <li>Eligibility criteria 1</li>
                <li>Eligibility criteria 2</li>
                <li>Eligibility criteria 3</li>
                <li>Eligibility criteria 4</li>
                <li>Eligibility criteria 5</li>
            </ol>
        </div>

        <div class="u-constrained-content s-prose spaced">
            <h2 class="t2 t--underline accent--pink">Other Ways To Apply</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Beatae pariatur explicabo architecto numquam non quis!
                Veniam id autem sit est illo deleniti corporis,
                expedita officiis explicabo temporibus, suscipit, quidem eaque!
                <a href="https://example.com/">External link</a>
            </p>
        </div>
    </div>
{% endblock %}
