{% from "components/icons.njk" import iconArrowRight %}

{% extends "../../../layouts/main.njk" %}

{% macro startButton(url, label = 'Start') %}
    <a class="btn btn--start" href="{{ url }}">
        {{ label }}
        <span class="btn__icon">
            {{ iconArrowRight() }}
        </span>
    </a>
{% endmacro %}

{% block content %}
    <div class="content-box inner inner--wide-only accent--pink a--border-top">
        <h1 class="t1">Apply for a grant over £10,000</h1>

        <div class="u-constrained-content s-prose spaced--l">
            <h2 class="t2 t--underline accent--pink">Find out how we can help you</h2>
            <p>
                You can apply for over £10,000 to support communities to take action
                on the issues that matter to them. Once you submit your idea a local
                funding officer will contact you within 24 hours.
            </p>

            {{ startButton(startUrl) }}
        </div>

        <div class="u-constrained-content s-prose spaced--l">
            <h2 class="t2 t--underline accent--pink">Before You Start</h2>
            <h3 class="t4">We can fund</h3>
            <ul>
                <li>Ideas taking place in England</li>
                <li>Voluntary and community sector organisations and social enterprises</li>
                <li>Public bodies such as local authorities, schools and health agencies</li>
                <li>Community interest companies so long as profits are reinvested into the organisation to create more impact</li>
                <li>A group of organisations working together led by one of the organisations above</li>
            </ul>

            <h3 class="t4">We can’t fund</h3>
            <ul>
                <li>Ideas taking place outside of England</li>
                <li>Profit-making organisations</li>
                <li>Individuals</li>
            </ul>

            <p><a href="{{ buildUrl('funding', 'programmes') }}">Browse all of our funding programmes</a></p>

            <h3 class="t4">You'll Need</h3>
            <ul>
                <li>To briefly explain your idea and why it’ll make a difference</li>
                <li>The legal name of your organisation and other organisations you may be working with</li>
                <li>Your contact details</li>
            </ul>
        </div>

        <div class="u-constrained-content s-prose">
            <h2 class="t2 t--underline accent--pink">Other Ways To Apply</h2>
            <p>
                We’re available every day from 5am to midnight to discuss
                about your idea or answer questions about applying.
            </p>
            <ul>
                <li><strong>Telephone</strong>: 0300 300 0120</li>
                <li><strong>Textphone</strong>: 18001 03454 10 20 30 (for those with a hearing or speech impairment)</li>
            </ul>
        </div>
    </div>
{% endblock %}
