{% extends "../../../layouts/main.njk" %}

{% block content %}
    <div class="content-box inner inner--wide-only accent--pink a--border-top">
        <h1 class="t1">Reaching Communities</h1>

        <div class="u-constrained-content s-prose spaced--l">
            <h2 class="t2 t--underline accent--pink">Tell Us Your Idea</h2>
            <p>You can apply for over 10k to support communities to take action on the issues that matter to them. Once you submit your idea you will receive an email from a local funding officer within x days.</p>
            <a class="btn btn--start" href="{{ startUrl }}">
                Start now
                <span class="btn__icon">{% include "../../../includes/svg/arrow-right.svg" %}</span>
            </a>
        </div>

        <div class="u-constrained-content s-prose spaced--l">
            <h2 class="t2 t--underline accent--pink">Before You Start</h2>
            <h3 class="t4">
                We can fund
            </h3>
            <ul>
                <li>Ideas taking place in England</li>
                <li>Voluntary and community sector orgs and social enterprises</li>
                <li>Public bodies such as local authorities, schools and health agencies</li>
                <li>A group of orgs working together led by one of the orgs above</li>
                <li>Community interest companies so long as profits are reinvested into the org to create more impact</li>
            </ul>

            <h3 class="t4">
                We can’t fund
            </h3>
            <ul>
                <li>Ideas taking place outside of England</li>
                <li>We’re unable to fund individuals for profit-making organisations</li>
            </ul>
        </div>

        <div class="u-constrained-content s-prose">
            <h2 class="t2 t--underline accent--pink">Other Ways To Apply</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Beatae pariatur explicabo architecto numquam non quis!
                Veniam id autem sit est illo deleniti corporis,
                expedita officiis explicabo temporibus, suscipit, quidem eaque!
                <a href="https://example.com/">External link</a>
            </p>
        </div>
    </div>
{% endblock %}
