{% extends "../../../layouts/main.njk" %}

{% block content %}
    <div class="content-box inner inner--wide-only accent--pink a--border-top">
        <div class="u-constrained-content">
            <h1>Thank You For Submitting Your Application</h1>
        </div>
    </div>
{% endblock %}
