/* ==========================================================================
   Display Utilities
   ========================================================================== */

.u-block {
    display: block;
}

.u-block-full {
    display: block;
    width: 100%;
}

.u-sticky {
    position: sticky;
}

.u-sticky-offset {
    position: sticky;
    top: 10px;
}

/* =========================================================================
    Padding
    ========================================================================= */

.u-padded {
    padding: $spacingUnit ($spacingUnit / 2);

    @include mq('medium') {
        padding: $spacingUnit;
    }
}
.u-padded-vertical {
    padding-top: $spacingUnit;
    padding-bottom: $spacingUnit;
}
.u-padded-vertical-s {
    padding-top: $spacingUnit / 2;
    padding-bottom: $spacingUnit / 2;
}
.u-padded-vertical-l {
    padding-top: $spacingUnit * 1.5;
    padding-bottom: $spacingUnit * 1.5;
}
.u-padded-top {
    padding-top: $spacingUnit;
}
.u-padded-top-l {
    padding-top: $spacingUnit * 1.5;
}
.u-padded-top-s {
    padding-top: $spacingUnit / 2;
}
.u-padded-bottom {
    padding-bottom: $spacingUnit;
}
.u-padded-bottom-l {
    padding-bottom: $spacingUnit * 1.5;
}

/* =========================================================================
    Margin
    ========================================================================= */

.u-margin-bottom {
    margin-bottom: $spacingUnit;
}
.u-margin-bottom-s {
    margin-bottom: $spacingUnit / 2;
}
.u-margin-bottom-l {
    margin-bottom: $spacingUnit * 2;
}

.u-margin-top {
    margin-top: $spacingUnit;
}
.u-margin-top-l {
    margin-top: $spacingUnit * 2;
}

.u-no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* =========================================================================
   Visibility
   ========================================================================= */

@include mq('large', 'max') {
    .u-wide-only {
        display: none !important;
    }
}

@include mq('large') {
    .u-not-wide {
        display: none !important;
    }
}

@include mq('medium', 'max') {
    .u-desktop-only {
        display: none !important;
    }
}

@include mq('medium') {
    .u-mobile-only {
        display: none !important;
    }
}

.u-hidden {
    display: none;
}

.u-visually-hidden {
    @include visually-hidden();
}

.u-invisible {
    visibility: hidden;
}

// hide JS things for users without JS
.no-js {
    .js-only {
        display: none !important;
    }
}
