/* =========================================================================
   Utilities: Text
   ========================================================================= */

.u-constrained-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        max-width: $constrained;
    }
}

.u-constrained-content-wide {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: 30em;
    }

    p,
    ul,
    ol {
        max-width: $constrainedWide;
    }
}

.u-align-left {
    text-align: right !important;
}
.u-align-right {
    text-align: right !important;
}
.u-align-center {
    text-align: center !important;
}

.u-uppercase {
    text-transform: uppercase !important;
}

.u-weight-normal {
    font-weight: normal !important;
}

.u-link-minimal {
    text-decoration: none;
}

.u-text-small {
    font-size: 16px;
}
.u-text-medium {
    font-size: 18px;
}

.u-prefix {
    font-size: 16px;
    font-style: italic;
    color: get-color('text', 'note');
    margin-bottom: 0;
}

.u-caption {
    font-size: 14px;
    color: white;
    background-color: get-color('background', 'dark-neutral');
    padding: 4px 6px;
}

.u-note {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.u-wrap-words {
    @include wrap-words();
}

.u-wrap-links a {
    @include wrap-words();
}

.unstyled,
.unstyled li,
.u-list-unstyled,
.u-list-unstyled li {
    list-style-type: none !important;
}

.u-link-unstyled {
    color: inherit;

    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}
