/* =========================================================================
   Utilities: Tones & Accents
   ========================================================================= */

/* Foreground tones */
.u-tone-brand-primary {
    color: get-color('brand', 'primary');
}

/* Background tones */
.u-tone-background-tint {
    background-color: get-color('background', 'light-neutral');
}

.u-tone-background-tint--medium {
    background-color: #eeeeee;
}

.u-tone-background-dark {
    background-color: get-color('background', 'dark-neutral');
}

/* Border tones */
.u-border-top {
    border-top: 4px solid get-color('border', 'base');
}
.u-border-top-brand-primary {
    border-top: 4px solid get-color('brand', 'primary');
}
