/* =========================================================================
   Utilities: Themes & Tones
   ========================================================================= */

.u-tone-background-dark {
    background-color: palette('charcoal');
}

.u-tone-foreground-highlight {
    color: palette('blue');
}
