/* ==========================================================================
   Utilities
   ========================================================================== */
/* Low level utility classes and display helpers */

.u-no-top-border {
    border-top: none !important;
}
.u-no-bottom-border {
    border-bottom: none !important;
}

@include mq('desktop', 'max') {
    .u-wide-only {
        display: none !important;
    }
}

@include mq('desktop') {
    .u-not-wide {
        display: none !important;
    }
}

@include mq('tablet', 'max') {
    .u-desktop-only {
        display: none !important;
    }
}

@include mq('tablet') {
    .u-mobile-only {
        display: none !important;
    }
}

.u-hidden {
    display: none;
}

// via http://simplyaccessible.com/article/three-pitfalls-text-alternatives/
.u-visually-hidden {
    @media screen {
        color: #000000;
        background-color: #ffffff;
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        position: absolute;
    }
}

// hide JS things for users without JS
.no-js {
    .js-only {
        display: none !important;
    }
}
