/* ==========================================================================
   Utilities
   ========================================================================== */
/* Low level utility classes and display helpers */

@include mq('desktop', 'max') {
    .u-wide-only {
        display: none !important;
    }
}

@include mq('desktop') {
    .u-not-wide {
        display: none !important;
    }
}

@include mq('tablet', 'max') {
    .u-desktop-only {
        display: none !important;
    }
}

@include mq('tablet') {
    .u-mobile-only {
        display: none !important;
    }
}

.u-hidden {
    display: none;
}

.u-visually-hidden {
    @include visually-hidden();
}

// hide JS things for users without JS
.no-js {
    .js-only {
        display: none !important;
    }
}
