/* =========================================================================
   Utilities: Text
   ========================================================================= */

.u-align-center {
    text-align: center !important;
}

.u-uppercase {
    text-transform: uppercase !important;
}

.u-weight-light {
    font-weight: 100 !important;
}

.u-weight-normal {
    font-weight: 400 !important;
}

.u-weight-heavy {
    font-weight: bold !important;
}

.u-link-minimal {
    text-decoration: none;
}

.u-caption {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 6px;
}

.u-note {
    display: block;
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.unstyled,
.unstyled li,
.u-list-unstyled,
.u-list-unstyled li {
    list-style-type: none !important;
}

.u-link-unstyled {
    color: inherit;

    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

