/* =========================================================================
   Utilities: Text
   ========================================================================= */

.u-list-unstyled,
.u-list-unstyled li {
    list-style-type: none !important;
}

.u-uppercase {
    text-transform: uppercase !important;
}

.u-weight-light {
    font-weight: 100 !important;
}

.u-weight-normal {
    font-weight: 400 !important;
}

.u-weight-heavy {
    font-weight: bold !important;
}

.u-link-minimal {
    text-decoration: none;
}

.u-link-unstyled {
    color: inherit;

    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.u-link-section {
    display: block;
    padding: 12px 12px;
    margin: 0 -6px;
    @include poppins();
    font-weight: bold;
    text-decoration: none;
    transition: background-color 140ms ease-in;

    &:hover {
        background-color: palette('pale-grey');
        text-decoration: none;
    }
}

.u-caption {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px 6px;
}

.u-constrained-content {
    max-width: 35em;
}

.u-constrained-content-wide {
    max-width: 42em;
}
