/* =========================================================================
   Content
   ========================================================================= */

/* =========================================================================
   Page Title
   ========================================================================= */

.page-title {
    width: 100%;
    font-size: font-scale('display', 't4');
    margin-bottom: 0;

    .page-title__text {
        display: inline-block;
        line-height: 1.5;
        margin: 0;
        max-width: 36em;
    }

    .page-title__text-inner {
        display: inline;
        padding: 0.2em 0.3em;
        // allows multi-line wrapped text to work
        box-decoration-break: clone;
        color: white;
        background-color: get-color('brand', 'primary');
    }
}

/* =========================================================================
   Page Section
   ========================================================================= */

.page-section {
    @include mq('medium', 'max') {
        border: none !important;
    }

    @include mq('medium') {
        display: flex;
        flex: 1;
    }

    .page-section__content,
    .page-section__supplementary {
        @include mq('medium') {
            border: none !important;
        }
    }
    .page-section__content {
        @include mq('medium') {
            flex: 1;
            margin-right: $spacingUnit / 2;
        }
    }
    .page-section__supplementary {
        font-size: 18px;

        @include mq('medium') {
            flex: 0 0 310px;
        }

        a,
        a:link {
            font-weight: font-weight('body', 'bold');
            text-decoration: none;
        }
        a:hover,
        a:active {
            text-decoration: underline;
        }
    }
}

/* =========================================================================
   Content with sidebar
   ========================================================================= */

.content-sidebar {
    @include mq('medium-major') {
        display: flex;
        flex: 1;
    }

    .content-sidebar__primary {
        max-width: $constrained;
        margin-bottom: $spacingUnit;

        @include mq('medium-major') {
            max-width: 100%;
            flex: 1 1 0%;
            padding-right: $spacingUnit;
        }
    }

    .content-sidebar__secondary {
        @include mq('medium-major') {
            flex: 0 0 320px;
        }
        &.content-sidebar__secondary--major {
            @include mq('medium-major') {
                flex: 0 0 400px;
            }
        }
    }
}

/* =========================================================================
   Content Box
   ========================================================================= */

.content-box {
    $spacingDefault: $spacingUnit / 2;

    background-color: white;
    border: 1px solid get-color('border', 'base');
    border-top: 4px solid get-color('brand', 'primary');
    margin-bottom: $spacingUnit;
    padding: $spacingUnit $spacingDefault;

    @include mq('medium') {
        padding: $spacingUnit;
    }

    &.content-box__inner {
        border: none;
        margin-left: -$spacingDefault;
        width: calc(100% + #{$spacingDefault * 2});
        @include mq('medium') {
            margin-left: -$spacingUnit;
            width: calc(100% + #{$spacingUnit * 2});
        }
    }

    &.content-box--borderless {
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    &.content-box--frameless {
        border: none;
        background-color: transparent;
    }

    &.content-box--tinted {
        background-color: get-color('brand', 'primary-light-wash');
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    @media print {
        border: none;
        padding: 0;
        margin: ($spacingUnit * 2) 0;
    }
}

/* =========================================================================
   Segment
   ========================================================================= */
/* Content box region with an optional segment image (e.g. /contact) */

.segment {
    margin-bottom: 40px;
    border-top: 4px solid get-color('brand', 'primary');

    @include mq('medium', 'max') {
        background-color: white;
    }

    @include mq('medium') {
        display: flex;
    }

    .segment__media {
        position: relative;
        height: 100%;

        @media print {
            position: static;
            height: auto;
            img {
                display: none;
            }
        }

        @include mq('medium', 'max') {
            padding: $spacingUnit;
            padding-bottom: 0;

            img {
                display: none;
            }
        }

        @include mq('medium') {
            width: 310px;
            flex-shrink: 0;
        }
    }
    .segment__title {
        @include mq('medium') {
            width: 60%;
            position: absolute;
            top: 1em;
            left: 1em;
        }
    }
    .segment__aside {
        flex-grow: 1;
        padding: $spacingUnit;
        margin-top: 0;

        @include mq('medium') {
            border: 1px solid get-color('border', 'base');
            background-color: white;
        }
    }
}

/* =========================================================================
   Content Slice
   ========================================================================= */
/* An individual slice of content typically within a content area */

.content-slice {
    @include mq('medium') {
        display: flex;
    }
}
.content-slice__primary,
.content-slice__secondary {
    @include mq('medium') {
        flex: 1 1 0%;
    }
}
.content-slice__primary {
    margin-bottom: 0.5em;
}
.content-slice__secondary {
    @include mq('medium') {
        min-width: 40%;
        max-width: 320px;
        padding-left: 30px;
    }
}

/* =========================================================================
   Content Meta
   ========================================================================= */

.content-meta {
    font-size: 16px;
    padding: $spacingUnit 0;
    border-top: 1px solid get-color('border', 'base');
}
