/* =========================================================================
   Lists
   ========================================================================= */

.o-definition-list {
    dt {
        font-weight: font-weight('body', 'bold');
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;
    }
}

.o-definition-list--compact {
    overflow: auto;
    margin-bottom: 0.5em;

    dt {
        display: block;
        float: left;
        clear: left;
        margin-right: 5px;
    }

    dt:after {
        content: ': ';
    }

    dd {
        margin-bottom: 4px;
        @include wrap-words();
    }
}

.o-definition-list--wrapped {
    display: flex;
    flex-wrap: wrap;

    dt {
        flex-basis: 33.33%;
    }

    dd {
        flex-basis: 66.66%;
        @include wrap-words();
    }
}
