/* =========================================================================
   Lists
   ========================================================================= */

.o-definition-list {
    dt {
        font-weight: font-weight('body', 'bold');
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;
    }
}

.o-definition-list--compact {
    overflow: auto;
    margin-bottom: 0.5em;

    dt {
        display: block;
        float: left;
        clear: left;
        margin-right: 5px;
    }

    dt:after {
        content: ': ';
    }

    dd {
        margin-bottom: 4px;
        @include wrap-words();
    }
}

.o-definition-list--wrapped {
    display: flex;
    flex-wrap: wrap;

    dt {
        flex-basis: 33.33%;
    }

    dd {
        flex-basis: 66.66%;
        @include wrap-words();
    }
}

// Via https://stackoverflow.com/a/26245056
.o-nested-numbers {
    list-style-type: none;
    counter-reset: item;

    li {
        display: table;
        counter-increment: item;
    }

    li:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
    }

    li li:before {
        content: counters(item, ".") " ";
    }
}

