/* =========================================================================
   Media: Media Object
   ========================================================================= */
// The classic Nicole Sullivan original. Image alongside text.
// Source: https://philipwalton.github.io/solved-by-flexbox/demos/media-object/

@mixin media-object() {
    display: flex;
    align-items: flex-start;

    .o-media__figure {
        margin-right: $spacingUnit / 2;
    }

    .o-media__figure-gutter {
        margin-right: $spacingUnit;
    }
    .o-media__body {
        flex: 1;
    }
}

.o-media {
    @include media-object();
}

// A version of the above which only applies in larger layouts
// Media figures gain space below when used on smaller screens (eg. vertical layout)
.o-media--constrained {
    @include mq('medium-minor', 'max') {
        .o-media__figure {
            margin-bottom: $spacingUnit;
        }
    }
    @include mq('medium-minor') {
        @include media-object();
    }
}
