/* =========================================================================
   Media: Media Object
   ========================================================================= */
// The classic Nicole Sullivan original. Image alongside text.
// Source: https://philipwalton.github.io/solved-by-flexbox/demos/media-object/

.o-media {
    display: flex;
    align-items: flex-start;

    .o-media__figure {
        margin-right: $spacingUnit / 2;
    }

    .o-media__figure-gutter {
        margin-right: $spacingUnit;
    }
    .o-media__body {
        flex: 1;
    }
}
