/* =========================================================================
   Media: Media Object
   ========================================================================= */
// The classic Nicole Sullivan original. Image alongside text.
// Source: https://philipwalton.github.io/solved-by-flexbox/demos/media-object/

.o-media {
    display: flex;
    align-items: flex-start;
}

.o-media-figure {
    margin-right: $spacingUnit / 2;
}

.o-media-body {
    flex: 1;
}
