/* =========================================================================
   Content
   ========================================================================= */

/* =========================================================================
   Page Section
   ========================================================================= */

.page-section {
    @include mq('medium', 'max') {
        border: none !important;
    }

    @include mq('medium') {
        display: flex;
        flex: 1;
    }
}
.page-section__content,
.page-section__supplementary {
    @include mq('medium') {
        border: none !important;
    }
}
.page-section__content {
    @include mq('medium') {
        flex: 1;
        margin-right: $spacingUnit / 2;
    }
}
.page-section__supplementary {
    font-size: 18px;

    @include mq('medium') {
        flex: 0 0 300px;
    }

    a,
    a:link {
        font-weight: bold;
        text-decoration: none;
    }
    a:hover,
    a:active {
        text-decoration: underline;
    }
}

/* =========================================================================
   Content Box
   ========================================================================= */

.content-box {
    @include bordered();
    background-color: palette('pale');
    padding: 20px $contentBoxHorizontalPadding 40px $contentBoxHorizontalPadding;
    margin-bottom: $spacingUnit;

    &.content-box--flush {
        margin-bottom: 0;
    }

    &.content-box--flush-narrow-only {
        @include mq('tablet', 'max') {
            margin-bottom: 0;
        }
    }

    // @TODO: Make this the default
    &.content-box--even-inset {
        padding: $spacingUnit;
    }

    &.content-box--borderless {
        border-right: none;
        border-bottom: none;
        border-left: none;
    }

    &.content-box--frameless {
        border: none;
        background-color: transparent;
    }

    &.content-box--tinted {
        background-color: palette('pale-pink');
        border-right: none;
        border-bottom: none;
        border-left: none;
    }
}
