/* =========================================================================
   Lists (Common List Objects)
   ========================================================================= */

.o-list-inline {
    @include reset-list();

    li {
        display: inline-block;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.list-bullets {
    margin-bottom: 20px;

    li {
        list-style-type: disc;
        margin-left: $spacingUnit;
        margin-bottom: 10px;
        margin-top: 0;
    }

    &.list-bullets--mob-friendly {
        @include mq('tablet', 'max') {
            li {
                margin-bottom: $spacingUnit * 1.5;
            }
        }
    }
}

ol.list-bullets li {
    list-style-type: decimal;
}

.o-definition-list {
    dt {
        font-weight: bold;
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;
    }
}

.o-definition-list--compact {
    overflow: auto;
    margin-bottom: .5em;

    dt,
    dd {
        margin-bottom: 0;
    }

    dt {
        display: block;
        float: left;
        clear: left;
        margin-right: 5px;
    }

    dt:after {
        content: ': ';
    }
}

/* =========================================================================
   Lists: Link List
   ========================================================================= */

.list-links {
    margin-bottom: $spacingUnit / 2;
}
.list-links__item {
    font-size: 18px;
    margin-bottom: $spacingUnit;

    &:last-child {
        margin-bottom: 0;
    }
}
.list-links__link {
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
.list-links__link-caption {
    display: block;
    font-weight: normal;
}
.list-links--documents {
    .list-links__item {
        background-repeat: no-repeat;
        background-position: left 6px;
        padding-left: 20px;
        margin-left: 2px;
        background-size: 14px;
        background-image: svg-url(
            '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path d="M27.414 19.414l-10 10a2 2 0 0 1-2.828 0l-10-10a2 2 0 1 1 2.828-2.828L14 23.172V4a2 2 0 1 1 4 0v19.172l6.586-6.586c.39-.39.902-.586 1.414-.586s1.024.195 1.414.586a2 2 0 0 1 0 2.828z" fill="#1a44a1"></path></svg>'
        );
    }
}

.list-logos {

    li {
        margin: 60px 40px !important;
    }

    @media only screen and (min-width: 600px) {
        display: flex;

        li {
            margin: 20px !important;
            padding: 0 20px;
            img {
                width: auto;
            }
        }
    }
}
