/* =========================================================================
   Lists (Common List Objects)
   ========================================================================= */

.o-list-inline {
    @include reset-list();

    li {
        display: inline-block;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.list-bullets {
    margin-bottom: 20px;

    li {
        list-style-type: disc;
        margin-left: $spacingUnit;
        margin-bottom: 10px;
        margin-top: 0;
    }

    &.list-bullets--mob-friendly {
        @include mq('tablet', 'max') {
            li {
                margin-bottom: $spacingUnit * 1.5;
            }
        }
    }
}

ol.list-bullets li {
    list-style-type: decimal;
}

.o-definition-list {
    dt {
        font-weight: bold;
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;
    }
}

.o-definition-list--compact {
    overflow: auto;

    dt,
    dd {
        margin-bottom: 0;
    }

    dt {
        display: block;
        float: left;
        clear: left;
        margin-right: 5px;
    }

    dt:after {
        content: ': ';
    }
}

/* =========================================================================
   Lists: Link List
   ========================================================================= */

.list-links {
    margin-bottom: $spacingUnit / 2;
}
.list-links__item {
    font-size: 18px;
    margin-bottom: $spacingUnit;

    &:last-child {
        margin-bottom: 0;
    }
}
.list-links__link {
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}
.list-links__link-caption {
    display: block;
    font-weight: normal;
}
.list-links--documents {
    .list-links__item {
        @include downloadIcon();
    }
}
