/* =========================================================================
   Scoped Prose Styles
   ========================================================================= */

$constrained: 35em;
$constrainedWide: 42em;

.u-constrained {
    max-width: $constrained;
}

.u-constrained-wide {
    max-width: $constrainedWide;
}

/*
    Opt-in typography:
    https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
    http://css-tricks.com/opt-in-typography/
*/
.u-constrained-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        max-width: $constrained;
    }
}

.u-constrained-content-wide {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: 30em;
    }

    p,
    ul,
    ol {
        max-width: $constrainedWide;
    }
}

.s-prose {
    ul,
    ol {
        margin-bottom: $spacingUnit;
    }

    ul li,
    ol li {
        margin-left: $spacingUnit;
        margin-bottom: 0.3em;
        margin-top: 0;
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    a {
        font-weight: bold;
    }

    a[href^='mailto:'],
    a[href^='tel:'] {
        color: palette('green');
        font-weight: bold;
        word-break: break-all;
    }

    // fix word-break in IE when used in tables
    td {
        a[href^='mailto:'],
        a[href^='tel:'] {
            display: table-cell;
        }
    }

    a[href^='tel:'] {
        text-decoration: none;
    }

    .contrast--high & {
        a[href^='mailto:'],
        a[href^='tel:'] {
            color: palette('blue') !important;
        }
    }

    figure {
        margin: 0 0 0.5em 0;
    }

    /**
     * Download and external link styles
     * Only applied if a class of `js-annotate-links` is added to the content area
     */
    a.is-download-link {
        @include downloadIcon();
    }
    a.is-external-link {
        @include linkIcon();
    }
}

/**
 * Common styles for longer blocks of text
 */
.s-prose--long {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.2;
    }

    h2 {
        font-size: 21px;

        &::after {
            @include underlined();
        }
    }

    p + h2,
    ol + h2,
    ul + h2 {
        margin-top: 1.5em;
    }

    h3 {
        margin: 0 0 0.4em;
        font-size: 21px;
    }

    h4 {
        margin: 0 0 0.4em;
        font-size: 20px;
    }

    p + h3,
    ol + h3,
    ul + h3,
    p + h4,
    ol + h4,
    ul + h4 {
        margin-top: 1em;
    }

    ol,
    ul {
        margin-bottom: 1em;

        li {
            margin-left: 1.5em;

            @include mq('medium') {
                margin-left: 2.5em;
            }

            > p {
                margin-bottom: 0;
            }
        }
    }

    table {
        $table-spacing: 4px;

        font-size: 90%;
        box-sizing: border-box;
        width: 100%;
        max-width: 40em;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;
        margin: 0 0 1em;
        padding: 0;

        tr {
            background-color: palette('pale-grey');

            &:nth-child(even) {
                background-color: darken(palette('pale-grey'), 3%);
            }

            td {
                border: solid white;
                border-width: $table-spacing 0 0 $table-spacing;

                &:first-of-type {
                    border-left: 0;
                }
            }
        }

        thead,
        th {
            font-weight: normal;
            vertical-align: middle;
            font-family: font-stack('display');
        }

        thead {
            color: white;
            background-color: palette('pink');

            tr {
                background-color: transparent;
            }

            tr th {
                border-left: $table-spacing solid lighten(palette('pink'), 5%);

                &:first-of-type {
                    border-left: 0;
                }
            }
        }

        th,
        td {
            padding: 1em;
            text-align: left;

            > p {
                margin: 0;
            }
        }

        td {
            vertical-align: top;
        }
    }

    .video-container {
        margin: 0 -10px 1em;

        @include mq('medium') {
            margin: 0 1.5em 1.5em;
        }
    }

    figure {
        margin: 1em 0 2em;

        img {
            width: auto;
            margin-bottom: 5px;
        }

        figcaption {
            @include text-caption();
        }
    }

    code,
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
        font-family: Hack, Consolas, monospace;
        font-size: 14px;
        padding: 10px;
        border-radius: 2px;
        color: palette('pale');
        background-color: palette('charcoal');
    }

    pre {
        padding: 1em;
        max-height: 25em;
        box-shadow: inset 0 0 30px rgba(0,0,0,1);
    }
}
