{% from "components/article-teaser/macro.njk" import articleTeaser %}

{% macro latestUpdates(articles, title, allLink) %}
    <section class="latest-updates">
        <header class="latest-updates__header">
            <h2 class="latest-updates__title t--underline">{{ title }}</h2>
        </header>
        <div class="latest-updates__content">
            <ul class="flex-grid flex-grid--3up">
                {% for article in articles | take(3) %}
                    <li class="flex-grid__item">
                        {{ articleTeaser({
                            'title': article.trailText or article.title,
                            'linkUrl': article.linkUrl,
                            'summary': article.summary
                        }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if allLink.url %}
            <footer class="latest-updates__footer">
                <a class="latest-updates__more" href="{{ allLink.url }}">
                    {{ allLink.label }}
                </a>
            </footer>
        {% endif %}
    </section>
{% endmacro %}
