// =========================================================================
// Functions
// ========================================================================= //

// =========================================================================
// Functions: Colour
// ========================================================================= //

@function palette($color) {
    @if map-has-key($palette, $color) {
        @return map-get($palette, $color);
    } @else {
        @error "palette requires a color";
    }
}

// =========================================================================
// Functions: Typography
// ========================================================================= //

@function font-stack($key) {
    @if type-of(map-get($font-stacks, $key)) == string {
        @return unquote(map-get($font-stacks, $key));
    } @else {
        @error "font-stack #{$key} is not defined";
    }
}

@function relative-line-height($fontSize, $leading) {
    @return $leading / $fontSize;
}

// =========================================================================
// Functions: Utilities
// ========================================================================= //

// via http://stackoverflow.com/a/34982673
@function decimal-round($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @if $digits > 0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

/// Map deep get
/// @author Hugo Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @link http://sassmeister.com/gist/1b4f2da5527830088e4d
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

/// https://github.com/waldemarfm/sass-svg-uri/blob/master/_svg-uri.scss
/// A small function allowing skipping base64 encoding
/// and simply pasting the SVG markup right in the CSS.
/// @author Jakob Eriksen
/// @link http://codepen.io/jakob-e/pen/doMoML
/// @param {String} $svg - SVG image to encode
/// @return {String} - Encoded SVG data uri
@function svg-url($svg) {
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg) / $slice);

    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk, '"', "'");
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $chunk: str-replace($chunk, '&', '%26');
        $chunk: str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url('data:image/svg+xml,#{$encoded}');
}

@function arrow-btn($color: palette('blue')) {
    @return svg-url(
            '<svg xmlns="http://www.w3.org/2000/svg" width="313" height="116"><path fill-rule="evenodd" fill="#{$color}" d="M310.864 66.378c-2.431 2.29-48.785 44.819-52.957 48.701-.339.316-.825.527-1.407.648V116h-199C25.744 116 0 90.256 0 58.5S25.744 1 57.5 1h192.481c1.936-.314 4.011-.317 5.595 0h.924v.244c.533.178.973.403 1.27.68 2.891 2.705 51.163 47.189 53.158 49.056 2.587 2.42 2.971 12.543-.064 15.398z"></path></svg>'
    );
}
