// classes to show/hide elements on desktop/mobile

@include mq('tablet', 'max') {
    .desktop-only { display: none !important; }
}

@include mq('tablet') {
    .mobile-only { display: none !important; }
}

.hidden {
    display: none;
}

// via http://simplyaccessible.com/article/three-pitfalls-text-alternatives/
.visually-hidden {
    color: #000000;
    background-color: #ffffff;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
}

// hide JS things for users without JS
.no-js {
    .js-only {
        display: none !important;
    }
}

.clear-both {
    clear: both;
}

.spaced {
    margin-bottom: $spacingUnit;
}