.vert-cent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@include mq('tablet', 'max') {
    .desktop-only { display: none !important; }
}

@include mq('tablet') {
    .mobile-only { display: none !important; }
}

.hidden {
    display: none;
}

.flex {
    display: flex;
    align-items: center;

    &.flex--wide-only {
        @include mq('tablet', 'max') {
            display: block;
        }
    }

    &.flex--top {
        align-items: flex-start;
    }

    .flex__fill {
        flex-grow: 1;
    }
}

$nudgeAmount: $spacingUnit * 2.5;
.nudge-up {
    margin-top: -$nudgeAmount;
    position: relative;
    z-index: 10;

    .nudge__inner {
        background-color: #ffffff;
        padding: $spacingUnit / 2 $spacingUnit * 2;
    }
}