.vert-cent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@include mq('tablet', 'max') {
    .desktop-only { display: none !important; }
}

@include mq('tablet') {
    .mobile-only { display: none !important; }
}

.hidden {
    display: none;
}