@import 'global/palette';

$breakpoints: (
    "tablet": 760px,
    "desktop": 980px
);

$gutters: (
    "default": 20px,
    "tablet": 10%,
    "desktop": 20%,
);

// logo
$logoHeight: 80px;
$logoPadding: 10px;

// globals
$spacingUnit: 20px;
$borderRadius: 30px;

// type
$blockyWidth: 400px;


//$mapGutterWidth: 25%;
//
//$statCircleRadius: 60px;
//$mapBoxHeightMobile: 150px;
//
//$mapHeroGutter: 80px;
//$footerGutter: 60px;
//