// =========================================================================
// Global Variables: Layout
// ========================================================================= //

$breakpoints: (
    'xsmall': 360px,
    'small': 480px,
    'medium-minor': 620px,
    'medium': 760px,
    'medium-major': 860px,
    'large': 980px,
    'xlarge': 1200px
);

// At this resolution, the content area will be limited in width
$widestScreen: map-get($breakpoints, 'xlarge');
$maxWidth: 1000px;

// This is used as a utility measure around the site
$spacingUnit: 20px;

// Max-width values for running content
$constrained: 700px;
$constrainedWide: 840px;

// Nudge offset, used to nudge content areas above hero images
$nudgeOffset: 60px;

/* =========================================================================
   Global Variables: Typography
   ========================================================================= */

$typography: (
    display: (
        font-stacks: (
            fallback: 'sans-serif',
            default: 'caecilia, sans-serif'
        ),
        font-scale: (
            t6: 14px,
            t5: 16px,
            t4: 18px,
            t3: 20px,
            t2: 21px,
            t1: 23px
        ),
        weights: (
            normal: 400,
            semibold: 700,
            bold: 800
        )
    ),
    body: (
        font-stacks: (
            fallback: 'sans-serif',
            default: 'caecilia-sans-text, Trebuchet MS, sans-serif'
        ),
        weights: (
            normal: 400,
            semibold: 700,
            bold: 800
        )
    )
);

// =========================================================================
// Global Variables: Colour Palette
// ========================================================================= //

$colors: (
    brand: (
        primary: #e5007d,
        primary-tint: rgba(229, 0, 125, 0.9),
        primary-light-wash: #f9e9f2,
        secondary-blue: #002b57,
        secondary-burgundy: #5c003a
    ),
    text: (
        base: #333333,
        note: #555555,
        light: #e9e9e9
    ),
    links: (
        base: #0075b0,
        hover: #00598e,
        visited: #002b57
    ),
    border: (
        dark: #4a4a4a,
        base: rgba(202, 202, 202, 0.5),
        outline: #70d7ff
    ),
    background: (
        dark-neutral: #333333,
        light-neutral: #f6f7f9
    ),
    message: (
        base: #dfe0e2,
        warning: #c6183d,
        information: #f56600
    )
);
