// =========================================================================
// Global Variables
// ========================================================================= //

// =========================================================================
// Global Variables: Layout
// ========================================================================= //

$breakpoints: (
    'xsmall': 360px,
    'small': 480px,
    'medium-minor': 620px,
    'medium': 760px,
    'medium-major': 840px,
    'large': 980px,
    'xlarge': 1200px,
    // @TODO: Find-and replace these
    'tablet': 760px,
    'desktop': 980px
);

// At this resolution, the content area will be limited in width
$widestScreen: map-get($breakpoints, 'xlarge');

// This is used as a utility measure around the site
$spacingUnit: 20px;

// Max-width values for running content
$constrained: 700px;
$constrainedWide: 840px;

/* =========================================================================
   Global Variables: Font Stacks
   ========================================================================= */

// If updating font-stacks make sure to update in
// `assets/js/head.js` and `gulpfile.js`
$font-stacks: (
    fallback: 'sans-serif',
    display: "'Poppins', sans-serif",
    body: "'Roboto', sans-serif"
);

// =========================================================================
// Global Variables: Colour Palette
// ========================================================================= //

$palette: (
    'high-contrast-bg': #1a44a1,
    'blue': #1a44a1,
    'blue-bg': #e5f3fe,
    'blue-text': #365cc9,
    'blue-nav': #3c65dd,
    'turquoise': #00adef,
    'pink': #e20087,
    'pink-alt': #e6007e,
    'pink-bg': #fef5f9,
    'pink-text': #e20087,
    'pink-mid': #d84d7b,
    'pink-mid-bg': #f6d2e2,
    'pink-dark': #a84d97,
    'green': #00bd71,
    'green-bg': #ddf0e2,
    'orange': #ff9315,
    'orange-bg': #fdebd7,
    'cyan': #009098,
    'green-dark': #356231,
    'brown': #8a7967,
    'soft-grey': #cacaca,
    'charcoal': #333333,
    'charcoal-note': #757575,
    'off-white': #e9e9e9,
    'white': #ffffff,
    'pale': #fdfefe,
    'pale-green': #f5fafb,
    'pale-grey': #f5f6fa,
    'pale-pink': #feebf3,
    'tint': #fafafa,
    'border': rgba(202, 202, 202, 0.5),
    'error': #b00
);

// which of the above colours should have accents generated?
$themes: (
    'soft-grey',
    'pink',
    'pink-mid',
    'pink-dark',
    'blue',
    'turquoise',
    'green',
    'orange',
    'cyan',
    'green-dark',
    'brown',
    'white'
);
