@import '_vars';

$useNewBrand: true;

/* =========================================================================
   Global Variables: Typography
   ========================================================================= */

$typography: (
    display: (
        font-stacks: (
            fallback: 'sans-serif',
            default: 'caecilia, sans-serif'
        ),
        weights: (
            normal: 400,
            semibold: 700,
            bold: 800
        )
    ),
    body: (
        font-stacks: (
            fallback: 'sans-serif',
            default: 'caecilia-sans-text, Trebuchet MS, sans-serif'
        ),
        weights: (
            normal: 400,
            semibold: 700,
            bold: 800
        )
    )
);

// =========================================================================
// Global Variables: Colour Palette
// ========================================================================= //

$colors: (
    brand: (
        primary: #e500fd,
        secondary: #002b57// @TODO: Is this conceptually correct?
    ),
    text: (
        base: #333333
    ),
    links: (
        base: #0075b0,
        hover: #00598e
    ),
    borders: (
        base: rgba(202, 202, 202, 0.5)
    )
);

$palette: (
    'high-contrast-bg': #1a44a1,
    'blue': #009dd1,
    'blue-bg': #e5f3fe,
    'turquoise': #00adef,
    'pink': #e5007d,
    'pink-dark': #a84d97,
    'green': #00bd71,
    'orange': #ff9315,
    'cyan': #009098,
    'soft-grey': #cacaca,
    'charcoal': #333333,
    'charcoal-note': #757575,
    'off-white': #e9e9e9,
    'white': #ffffff,
    'pale': #fdfefe,
    'pale-green': #f5fafb,
    'pale-grey': #f5f6fa,
    'pale-pink': #feebf3,
    'tint': #fafafa,
    'border': rgba(202, 202, 202, 0.5),
    'error': #b00
);

// which of the above colours should have accents generated?
$themes: ('soft-grey', 'pink', 'pink-dark', 'blue', 'turquoise', 'green', 'orange', 'cyan', 'white');
