// =========================================================================
// Email templates
// ========================================================================= //

@import '_vars';
@import '_functions';
@import '_mixins';

body {
    padding: 10px;
    max-width: 800px;
}

body,
p {
    color: get-color('text', 'base');
    font-family: font-stack('body');
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-stack('display');
    font-weight: font-weight('display', 'semibold');
    line-height: 1.2;
    margin: 0 0 20px 0;
    color: get-color('brand', 'primary');
}

h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

a {
    color: get-color('links', 'base');
    font-weight: font-weight('display', 'bold');
}

.logo {
    margin-bottom: 20px;
    display: block;

    img {
        width: 200px;
    }
}

hr {
    border: 0;
    border-top: 1px solid get-color('border', 'base');
}

.summary {
    h4 {
        border-bottom: 1px solid get-color('brand', 'primary');
        padding-bottom: 3px;
        font-weight: font-weight('display', 'bold');
    }

    h5 {
        font-weight: font-weight('display', 'bold');
    }
}

small {
    display: block;
    font-size: 11px;
    color: get-color('text', 'note');
    margin-bottom: 10px;
}

.space-above {
    margin-top: 50px;
}

table {
    $table-spacing: 4px;

    font-size: 90%;
    box-sizing: border-box;
    width: 100%;
    max-width: 48em;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    margin: 0 0 1em;
    padding: 0;

    tr {
        background-color: get-color('background', 'light-neutral');

        &:nth-child(even) {
            background-color: darken(
                get-color('background', 'light-neutral'),
                3%
            );
        }

        td {
            border: solid white;
            border-width: $table-spacing 0 0 $table-spacing;

            &:first-of-type {
                border-left: 0;
            }
        }
    }

    thead,
    th {
        font-weight: normal;
        vertical-align: middle;
        font-family: font-stack('display');
    }

    thead {
        color: white;
        background-color: get-color('brand', 'primary');

        tr {
            background-color: transparent;
        }

        tr th {
            border-left: $table-spacing solid
                lighten(get-color('brand', 'primary'), 5%);

            &:first-of-type {
                border-left: 0;
            }
        }
    }

    th,
    td {
        padding: 1em;
        text-align: left;
        word-wrap: break-word;

        > p {
            margin: 0;
        }
    }

    td {
        vertical-align: top;

        // Fix word-break in IE when used in tables
        a {
            display: table-cell;
            @include wrap-words();
        }
    }
}

.btn {
    font-family: font-stack('display');
    line-height: 1; // so we can calculate padding for the height
    font-weight: font-weight('display', 'semibold');
    color: white;
    background-color: get-color('brand', 'primary');
    text-decoration: none;
    border: none;
    border-radius: 50px;
    vertical-align: top;
    display: inline-block;
    font-size: 18px;
    padding: $spacingUnit $spacingUnit * 2;
}
