.form-fund {
    margin-top: 20px;
}

.input-big {
    background-color: rgba(51, 51, 51, 0.45);
    border: 2px solid #ffffff;
    border-radius: $borderRadius;
    font-size: 12px;
    padding: 5px 10px;
    color: #ffffff;
    margin-right: 10px;

    @include mq('mobile') {
        font-size: 14px;
        padding: 3px 20px; // to align height
    }

    @include input-placeholder {
        color: #d4d4d4;
    }
}