@import 'reset';

@import '_vars';
@import '_mixins';
@import '_utils';

@import 'forms';
@import 'typography';

// layout helper: used within a containing element
// to center it according to the grid
.inner {
    $defaultGutter: map-get($gutters, "default");
    margin-left: $defaultGutter;
    margin-right: $defaultGutter;
    width: calc(100% - #{$defaultGutter * 2});

    @each $device, $gutter in $gutters {
        @if map-has-key($breakpoints, $device) {
            @include mq($device) {
                margin-left: $gutter;
                margin-right: $gutter;
                width: calc(100% - #{$gutter * 2});
            }
        }
    }
}

//header {
//    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
//    z-index: 100;
//    position: relative;
//
//    .header__content {
//        display: table;
//        width: calc(100% - #{$contentGutterWidthMobile*2});
//
//        @include mq('tablet') {
//            width: #{ 100% - $contentGutterTablet*2 };
//        }
//
//        @include mq('desktop') {
//            width: #{ 100% - $contentGutterWidth*2 };
//        }
//    }
//}
//
//.logo {
//    width: #{$logoHeight + $logoPadding};
//    height: #{$logoHeight + $logoPadding};
//    background-image: url(../images/logo.gif);
//    background-repeat: no-repeat;
//    background-size: auto $logoHeight;
//    background-position: left center;
//    text-indent: -1000em;
//    display: table-cell;
//    vertical-align: middle;
//}
//
//.nav {
//    vertical-align: bottom;
//    display: table-cell;
//    text-align: right;
//
//    &.nav--mobile {
//        font-size: 36px;
//        vertical-align: middle;
//    }
//
//    li {
//        display: inline-block;
//        font-family: 'Poppins', arial, sans-serif;
//        font-size: 14px;
//        color: $charcoal;
//        margin-right: 20px;
//        padding-bottom: 35px;
//
//        &.selected {
//            border-bottom: 3px solid $accentBlue;
//        }
//
//        &.nav__search {
//            padding-bottom: 0;
//        }
//
//        .has-search-icon {
//            background-image: url(../images/icon-search.png);
//            background-repeat: no-repeat;
//            background-position: 95% 50%;
//            background-size: auto 70%;
//            padding: 5px;
//            border: none;
//            width: 110px;
//        }
//
//        a {
//            color: $charcoal;
//            text-decoration: none;
//        }
//    }
//}
//
//.btn {
//    font-family: 'Poppins', arial, sans-serif;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-size: 12px;
//    letter-spacing: 3px;
//    text-decoration: none;
//    border: none;
//    border-radius: $borderRadius;
//    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
//    background-color: #ffffff;
//    color: $charcoal;
//    vertical-align: top;
//    display: inline-block;
//    padding: 5px 20px;
//
//    @include mq('desktop') {
//        padding: 5px 40px;
//    }
//
//    &.btn--cta {
//        background-color: $ctaPink;
//        color: #ffffff;
//    }
//
//    &.btn--small {
//        font-size: 10px;
//        padding: 3px 15px;
//    }
//}
//
//.hero {
//    position: relative;
//    background-size: contain;
//    background-position: center;
//    background-repeat: no-repeat;
//}
//
//.intrinsic-wrapper {
//    position: relative;
//    height: 0;
//
//    &.intrinsic-wrapper--reading {
//        @include responsive-ratio(640, 365);
//
//        @include mq('tablet') {
//            @include responsive-ratio(1200, 386);
//        }
//    }
//
//    &.intrinsic-wrapper--map {
//        padding-bottom: 120%; // arbitrary
//
//        @include mq('tablet') {
//            @include responsive-ratio(1200, 635);
//            margin-bottom: 40px;
//        }
//    }
//
//    .intrinsic-stretched {
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 100%;
//        height: 100%;
//    }
//}
//
//.hero__reading {
//    background-image: url(../images/hero-reading--mobile.jpg);
//    @include mq('tablet') {
//        background-image: url(../images/hero-reading.jpg);
//    }
//}
//
//.hero__stats {
//    text-align: center;
//    padding-top: 20px;
//    padding-bottom: 20px;
//    background: $heroBgStart;
//    @include linear-gradient(to bottom, $heroBgStart 0%, $heroBgStart 50%, $heroBgEnd 100%);
//
//    .stats {
//        margin-top: 20px;
//
//        li {
//            display: inline-block;
//            vertical-align: top;
//            margin-bottom: 20px;
//            padding: 0 20px;
//            width: 44%;
//            @include mq('tablet') {
//                width: 24%;
//            }
//        }
//
//        dt {
//            color: $charcoal;
//            margin-bottom: 5px;
//            font-size: 22px;
//            @include mq('tablet') {
//                font-size: 32px;
//            }
//        }
//
//        dd {
//            color: $minor;
//            line-height: 1.4;
//            font-size: 14px;
//            @include mq('tablet') {
//                font-size: 16px;
//            }
//        }
//    }
//
//    .stats__icon {
//        &:before {
//            content: '';
//            display: block;
//            width: $statCircleRadius;
//            height: $statCircleRadius;
//            border-radius: 100%;
//            background-color: $brandBlue;
//            margin: 0 auto 20px auto;
//            background-repeat: no-repeat;
//            background-size: auto 50%;
//            background-position: center;
//        }
//
//        &.stats__icon--hand:before {
//            background-image: url(../images/icon-hand.png);
//        }
//
//        &.stats__icon--bank:before {
//            background-image: url(../images/icon-pig.png);
//        }
//    }
//}
//
//.hero__map {
//    background-image: url(../images/hero-map.jpg);
//    height: 635px;
//    background-size: cover;
//
//    // hackery for overlaid map
//    @include mq('tablet') {
//        background-size: contain;
//
//        .hero__map__bg {
//            &.hero__map__bg--top {
//                &:before,
//                &:after {
//                    content: '';
//                    position: absolute;
//                    top: 0;
//                    left: 0;
//                    width: $mapGutterWidth;
//                    height: $mapHeroGutter;
//                    background-color: $heroBgEnd;
//                }
//                &:after {
//                    left: auto;
//                    right: 0;
//                }
//            }
//
//            &.hero__map__bg--bottom {
//                &:before,
//                &:after {
//                    content: '';
//                    position: absolute;
//                    bottom: 0;
//                    left: 0;
//                    width: $mapGutterWidth;
//                    height: $mapHeroGutter;
//                    background-color: #ffffff;
//                }
//                &:after {
//                    left: auto;
//                    right: 0;
//                }
//            }
//        }
//    }
//
//    .hero__map__container {
//        position: relative;
//        height: 100%;
//        width: calc(100% - #{$contentGutterWidthMobile*2});
//
//        @include mq('tablet') {
//            margin-left: $mapGutterWidth;
//            margin-right: $mapGutterWidth;
//            width: #{100% - $mapGutterWidth*2};
//        }
//
//        @include mq('desktop') {
//            margin-left: $mapGutterWidth;
//            margin-right: $mapGutterWidth;
//            width: #{100% - $mapGutterWidth*2};
//        }
//
//    }
//
//    .hero__map__overlay {
//        height: 100%;
//        background-color: rgba(255, 255, 255, 0.75);
//        position: absolute;
//        z-index: 10;
//        width: 100%;
//        top: 0;
//        left: 0;
//        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
//    }
//}
//
//footer {
//    background-color: $footer;
//    color: $footerText;
//
//    .lottery {
//        display: block;
//        margin-bottom: 20px;
//        padding-top: 20px;
//        @include mq('tablet') {
//            margin-left: -#{$footerGutter};
//        }
//    }
//
//    .contact li,
//    .quick-links li {
//        margin-bottom: 10px;
//        font-size: 14px;
//
//        padding-bottom: 10px;
//        text-transform: uppercase;
//        border-bottom: 1px solid #3b3b3b;
//
//        @include mq('tablet') {
//            padding-bottom: 0;
//            text-transform: none;
//            border-bottom: none;
//        }
//
//        i {
//            margin-right: 10px;
//            font-size: 16px;
//            color: #cccccc;
//        }
//    }
//
//    @include mq('tablet') {
//        .contact,
//        .quick-links,
//        .quick-links__1,
//        .quick-links__2 {
//            float: left;
//            margin-right: $footerGutter;
//        }
//
//        .quick-links__2 {
//            margin-right: 0;
//        }
//    }
//
//    .quick-links {
//        margin-bottom: 20px;
//
//        h4 {
//            margin-bottom: 10px;
//        }
//
//        i {
//            display: none;
//            @include mq('tablet') {
//                display: inline;
//            }
//        }
//    }
//
//}
//
//aside {
//    clear: left;
//    background-color: $footerAlt;
//
//    .aside-container {
//        display: table;
//        width: calc(100% - #{$contentGutterWidthMobile*2});
//
//        @include mq('tablet') {
//            padding: 20px 0;
//            width: #{ 100% - $contentGutterTablet*2 }
//        }
//
//        @include mq('desktop') {
//            width: #{ 100% - $contentGutterWidth*2 }
//        }
//    }
//
//    p {
//        font-size: 13px;
//        display: table-cell;
//    }
//
//    .social {
//        display: table-cell;
//        text-align: center;
//
//        @include mq('tablet') {
//            text-align: right;
//        }
//
//        a {
//            color: $footerText;
//            text-decoration: none;
//            margin: 0 15px;
//            &:first-child { margin-left: 0;}
//            &:last-child { margin-right: 0;}
//
//            @include mq('tablet') {
//                margin: 0 5px;
//            }
//
//            &:hover {
//                color: #ffffff;
//            }
//        }
//        li {
//            display: inline-block;
//            font-size: 45px;
//            @include mq('tablet') {
//                font-size: 20px;
//            }
//        }
//    }
//
//    .copyright-white {
//        text-align: center;
//        background: #ffffff;
//        display: block;
//        padding: 10px $contentGutterWidthMobile;
//    }
//}
//
//.grant-list {
//    margin: 20px 0;
//
//    li {
//        margin: 0px 0px 15px 20px;
//        text-align: left;
//        border-bottom: 1px dotted #ccc;
//        padding-bottom: 10px;
//    }
//}
//
//
//.map-wrapper {
//    position: relative;
//    width: 100%;
//    height: calc(100% - #{$mapBoxHeightMobile});
//
//    @include mq('tablet') {
//        height: 100%;
//    }
//
//    svg {
//        position: absolute;
//        left: 0;
//        top: 0;
//        width: 100%;
//        height: 100%;
//
//        path:hover {
//            fill: $ctaPink;
//            cursor: pointer;
//        }
//    }
//}
//
//.map-info {
//    background-color: $mapBoxOff;
//    background-image: url(../images/box-corner.png);
//    background-repeat: no-repeat;
//    background-position: top right;
//    background-size: 56px 43px;
//    padding: 20px;
//    color: #ffffff;
//    height: $mapBoxHeightMobile;
//
//    @include mq('tablet') {
//        height: auto;
//        position: absolute;
//        width: 250px;
//        z-index: 10;
//        right: -180px;
//        top: 20px;
//    }
//
//    @include mq('desktop') {
//        top: $mapHeroGutter + 20px;
//    }
//
//    .map-info__subhead,
//    .map-info__head,
//    .map-info__num-awards,
//    .map-info__cta {
//        display: inline-block;
//
//        @include mq('desktop') {
//            display: block;
//        }
//    }
//
//    .map-info__subhead {
//        text-transform: uppercase;
//        font-family: 'Poppins', arial, sans-serif;
//        font-weight: normal;
//        font-size: 12px;
//        margin-bottom: 5px;
//    }
//
//    .map-info__head {
//        margin-bottom: 5px;
//    }
//
//    .map-info__num-awards,
//    .map-info__num-grants {
//        text-transform: uppercase;
//        font-size: 11px;
//        margin-bottom: 5px;
//        line-height: 1.4;
//        letter-spacing: 1px;
//    }
//
//    .map-info__hr {
//        margin: 20px 0;
//        height: 3px;
//        background-color: #ffffff;
//        border: none;
//        border-radius: 5px;
//    }
//
//}
