// =========================================================================
// Big Lottery Fund
// ========================================================================= //

// =========================================================================
// Config & Sass Features
// ========================================================================= //

@import '_vars';
@import '_functions';
@import '_mixins';

// =========================================================================
// Global
// ========================================================================= //
// Global, element-level styles

@import 'globals/base';
@import 'globals/layout';
@import 'globals/typography';

// =========================================================================
// Scaffolding
// ========================================================================= //
// Low-level, generic scaffolding styles

@import 'scaffolding/grid';
@import 'scaffolding/scope-prose';
@import 'scaffolding/content';
@import 'scaffolding/lists';

// =========================================================================
// Components
// ========================================================================= //
// Individual components & patterns, the majority of our styles are in here

@import 'components/icons';
@import 'components/buttons';
@import 'components/links';
@import 'components/forms';
@import 'components/navigation';
@import 'components/messages';
@import 'components/quotes';
@import 'components/tabs';
@import 'components/cards';
@import 'components/data';
@import 'components/media';
@import 'components/programmes';
@import 'components/materials';
@import 'components/overlay-text';
@import 'components/segment';
@import 'components/heroes';
@import 'components/prompts';
@import 'components/news';
@import 'components/logos';
@import 'components/global-header';
@import 'components/global-footer';

// =========================================================================
// Utilities
// ========================================================================= //
// Single use classes, prefixed with u-

@import 'utilities/utilities-accents';
@import 'utilities/utilities-display';
@import 'utilities/utilities-text';

// =========================================================================
// Print Styles
// ========================================================================= //
// Global print styles. Component specific styles inlined in component files

@import '_print.common';
