// base font settings
body, input, textarea {
    font-family: 'Lato', arial, sans-serif;
}

h2 {
    font-size: 22px;
    @include mq('mobile') {
        font-size: 36px;
    }
    line-height: 1.2;
    color: #ffffff;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: $charcoal;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Poppins', arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}