<footer role="contentinfo">
    <div class="inner footer__inner">
        <ul class="flex flex--top flex--wide-only">

            <li class="flex__fill">
                <img src="<%= locals.getCachebustedPath('images/lottery.png') %>" class="logo-lottery" alt="Awarding funds from the National Lottery" />
                <ul class="list-spaced">
                    <li><address>1 Plough Place, London EC4A 1DE</address></li>
                    <li><a href="mailto:general.enquiries@biglotteryfund.org.uk">general.enquiries@biglotteryfund.org.uk</a></li>
                    <li>0345 4 10 20 30</li>
                </ul>
            </li>

            <li class="flex__fill">
                <h4 class="footer__header">Quick links</h4>
                <ul class="flex flex--top list-spaced">
                    <div class="flex__fill">
                        <li><a href="#">Freedom of Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Cookies</a></li>
                    </div>
                    <div class="flex__fill">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Site map</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </div>
                </ul>
            </li>

        </ul>
    </div>
</footer>

<script src="<%= locals.getCachebustedPath('javascripts/app.js') %>"></script>

</body>
</html>