<header>
    <article class="header__content content-area">
        <h1 class="logo">Big Lottery Fund</h1>
        <div class="mobile-only nav nav--mobile"><i class="ion-navicon-round"></i></div>
        <ul class="nav nav--top desktop-only">
            <li class="selected"><a href="#">Before you apply</a></li>
            <li><a href="#">Apply</a></li>
            <li><a href="#">About</a></li>
            <li class="nav__search">
                <form class="form-search">
                    <input type="text" class="has-search-icon">
                    <input type="submit" value="Search" class="btn btn--cta">
                </form>
            </li>
        </ul>
    </article>
</header>