{% extends "layouts/main.njk" %}
{% from "components/action-card/macro.njk" import actionCard %}
{% from "components/application-card/macro.njk" import applicationCard with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        {% if pendingApplications.length === 0 and submittedApplications.length === 0 %}
            <section class="content-box u-inner-wide-only">
                {{ userNavigation(userNavigationLinks) }}

                {% if alertMessage %}
                    <div class="message" role="alert">
                        {{ alertMessage }}
                    </div>
                {% endif %}

                <h1 class="u-visually-hidden">{{ title }}</h1>

                <div class="s-prose"><p>{{ copy.noApplications }}</p></div>

                <div class="flex-grid">
                    <div class="flex-grid__item">
                        {{ actionCard(copy.actions.simple) }}
                    </div>
                    <div class="flex-grid__item">
                        {{ actionCard(copy.actions.standard) }}
                    </div>
                </div>
            </section>
        {% else %}
            <section class="content-box u-inner-wide-only">
               {{ userNavigation(userNavigationLinks) }}

                {% if alertMessage %}
                    <div class="message" role="alert">
                        {{ alertMessage }}
                    </div>
                {% endif %}

                <h1 class="u-visually-hidden">{{ title }}</h1>

                {% if pendingApplications.length > 0 %}
                    <h2 class="t--underline">{{ copy.all.inProgress }}</h2>

                    {% if notices.length > 0 %}
                        <div class="message message--info message--minor" role="alert">
                            {% for notice in notices  %}
                                <h2 class="t4 u-no-margin">{{ notice.title }}</h2>
                                <p>{{ notice.body | safe }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}


                    <div class="flex-grid u-margin-bottom-l">
                        {% for application in pendingApplications %}
                            <div class="flex-grid__item">
                                {{ applicationCard(application) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if submittedApplications.length > 0 %}
                    <h2 class="t--underline">{{ copy.all.submitted }}</h2>
                    <div class="flex-grid">
                        {% for application in submittedApplications %}
                            <div class="flex-grid__item">
                                {{ applicationCard(application) }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>

            <section class="u-padded u-inner-wide-only">
                <div class="flex-grid">
                    <div class="flex-grid__item">
                        {{ actionCard(copy.actions.simple, isSecondary = true) }}
                    </div>
                    <div class="flex-grid__item">
                        {{ actionCard(copy.actions.standard, isSecondary = true) }}
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
