{% macro accessibilityNav() %}
    <nav class="accessibility-nav">
        <ul>
            <li>
                {# Skip to content #}
                <a href="#content" tabindex="0">
                    {{ __("global.accessibility.skipToContent") | safe }}
                </a>
            </li>
            <li>
                {# Accessibility policy #}
                <a href="{{ __("global.accessibility.policy.link") }}"
                   title="{{ __("global.accessibility.policy.description") }}">
                    {{ __("global.accessibility.policy.label") }}
                </a>
            </li>
            <li>
                {# High-contrast mode switch #}
                {% set modeToSwitchTo = 'high' %}
                {% if isHighContrast %}
                    {% set modeToSwitchTo = 'standard'  %}
                {% endif %}
                <a href="/contrast/{{ modeToSwitchTo }}?url={{ getCurrentUrl() | urlencode}}"
                    data-on="click"
                    data-event-category="Change contrast"
                    data-event-action="Click"
                    data-event-label="{{ modeToSwitchTo }}">
                    {{ __("global.accessibility.contrast." + modeToSwitchTo ) | safe }}
                </a>
            </li>
        </ul>
    </nav>
{% endmacro %}
