{% macro readOnlySummary(summary) %}
    {% for step in summary %}
        <h4>{{ step.name }}</h4>
        {% for fieldset in step.fieldsets %}
            {% for field in fieldset.fields %}
                {% if field.value %}
                    <h5>{{ field.label }}</h5>
                    {% if field.type === 'textarea' %}
                        <p>{{ field.value | striptags(true) | escape | nl2br }}</p>
                    {% elseif (field.value | isArray) %}
                        <p>{{ field.value | join(', ') }}</p>
                    {% else %}
                        <p>{{ field.value }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endmacro %}
