{% macro projectBlock(project, accent) %}
    <div class="project-card {% if accent %} {{ accent }} a--border-top{% endif %}">
        <div class="project-card__media">
            {% if project.link %}<a href="{{ project.link }}">{% endif %}
                <img
                    class="project-card__image"
                    src="{{ project.image | getCachebustedPath }}"
                    alt="{{ project.description }}"
                />
            {% if project.link %}</a>{% endif %}
        </div>
        <div class="project-card__body">
            <h4 class="project-card__header t4">{{ project.name }}</h4>

            {% if project.amount %}
            <p class="project-card__subheader t7 accent--blue a--text">
                Grant: {{ project.amount }}
            </p>
            {% endif %}
            <p class="project-card__description t7">
                {{ project.description }}
                <a href="{{ project.link }}" class="{% if accent %}{{ accent }} a--text {% endif %}u-weight-heavy">
                    {{ __('global.misc.readMore') }}&hellip;
                </a>
            </p>
        </div>
    </div>
{% endmacro %}
