{% macro projectBlock(project, accent) %}
    <div class="card{% if accent %} {{ accent }} a--border-top{% endif %}">
        <div class="card__media">
            <a href="{{ project.link }}">
                <img src="{{ project.image | getCachebustedPath }}" class="grid__item__poster" alt="{{ project.description }}" />
            </a>
        </div>
        <div class="card__body">
            <h4 class="t4">{{ project.name }}</h4>
            {% if project.amount %}
                <p class="card__subheader t7 accent--blue a--text">Grant amount {{ project.amount }}</p>
            {% endif %}
            <p class="t7">{{ project.description }} <a href="{{ project.link }}" class="{{ accent }} a--text">Read more...</a></p>
        </div>
    </div>
{% endmacro %}