{% macro projectBlock(project, linkClass) %}
    <div class="grid__item__inner grid__item__inner--flex">
        <a href="{{ project.link }}">
            <img src="{{ project.image | getCachebustedPath }}" class="grid__item__poster" alt="{{ project.description }}" />
        </a>
    </div>
    <div class="p--s m-t-none">
        <h4 class="t3b">{{ project.name }}</h4>
        {#<h6 class="m-t--s t12">Grant amount {{ project.amount }}</h6>#}
        <p class="m-t--s t11">{{ project.description }} <a href="{{ project.link }}" class="{{ linkClass }}">Read more...</a></p>
    </div>
{% endmacro %}