{% from "components/icons.njk" import iconArrowRight, iconPrint %}

{% macro startButton(url, label = 'Start') %}
    <div class="start-button">
        <a class="btn" href="{{ url }}">
            {{ label }}
            <span class="btn__icon">
                {{ iconArrowRight() }}
            </span>
        </a>
    </div>
{% endmacro %}

{% macro printButton(label) %}
    <button class="btn btn--medium btn--outline"
        onclick="window.print();"
        data-ga-on="click"
        data-ga-event-category="Print"
        data-ga-event-action="{{ label }}"
        >
        <span class="btn__icon">{{ iconPrint('small') }}</span>
        {{ label }}
    </button>
{% endmacro %}
