{% macro photoCard(title, subTitle, description, link, image, accent) %}
    <div class="photo-card {% if accent %}accent--{{ accent }} a--border-top{% endif %}">
        <div class="photo-card__media">
            {% if link %}<a href="{{ link }}">{% endif %}
                <img
                    class="photo-card__image"
                    src="{{ image | getImagePath }}"
                    alt="{{ description }}"
                />
            {% if link %}</a>{% endif %}
        </div>
        <div class="photo-card__body">
            <h4 class="photo-card__header t5">{{ title }}</h4>
            {% if subTitle %}
                <p class="photo-card__subheader t7 accent--blue a--text">
                    {{ subTitle }}
                </p>
            {% endif %}
            <p class="photo-card__description t7">
                {{ description }}
                {% if link %}
                    <a href="{{ link }}"
                        class="{% if accent %}accent--{{ accent }} a--text {% endif %}u-weight-heavy">
                        {{ __('global.misc.readMore') }}&hellip;
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endmacro %}
