{% macro caseStudyFeature(
    quoteText,
    quoteName,
    quoteNameCaption,
    projectName,
    imageUrl,
    imageSmallUrl,
    link = false
) %}
    <div class="case-study">
        <div class="case-study__image">
            {% if link %}<a href="{{ buildUrl(link) }}">{% endif %}
                <picture>
                    <source srcset="{{ imageUrl | getImagePath }}" media="(min-width: 600px)">
                    <source srcset="{{ imageSmallUrl | getImagePath }}">
                    <img src="{{ imageSmallUrl | getImagePath }}" alt="{{ quoteName }} {{ projectName }}" />
                </picture>
            {% if link %}</a>{% endif %}
        </div>
        <div class="case-study__content">
                <blockquote class="pullquote">
                    <div class="pullquote__text">
                        <p>{{ quoteText }}</p>
                    </div>
                    <div class="pullquote__meta">
                        <cite class="pullquote__citation t2 t--tracking">{{ quoteName }}</cite>
                        <div class="pullquote__aside">
                            {% if quoteNameCaption %}
                                <p class="t8 u-weight-normal">{{ quoteNameCaption }}</p>
                            {% endif %}
                            {% if link %}<a href="{{ buildUrl(link) }}">{% endif %}
                                <p class="t8 u-weight-normal">{{ projectName | safe }}</p>
                            {% if link %}</a>{% endif %}
                        </div>
                    </div>
                </blockquote>
        </div>
    </div>
{% endmacro %}

{% macro caseStudyCard(
    title,
    grantAmount,
    linkUrl,
    trailText,
    trailTextMore,
    imageUrl,
    useRemoteImages,
    accent
) %}
    <div class="photo-card {% if accent %}accent--{{ accent }} a--border-top{% endif %}">
        <div class="photo-card__media">
            {% set imageUrlToUse = imageUrl | getImagePath %}
            {% if useRemoteImages %}
                {% set imageUrlToUse = imageUrl %}
            {% endif %}
            {% if linkUrl %}<a href="{{ linkUrl }}">{% endif %}
                <img
                    class="photo-card__image"
                    src="{{ imageUrlToUse }}"
                    alt="{{ trailText }}"
                />
            {% if linkUrl %}</a>{% endif %}
        </div>
        <div class="photo-card__body">
            <h4 class="photo-card__header t5">{{ title }}</h4>
            {% if grantAmount %}
                <p class="photo-card__subheader t7">
                    Grant: {{ grantAmount }}
                </p>
            {% endif %}
            <p class="photo-card__description t7">
                {{ trailText }}
                {% if linkUrl %}
                    <a href="{{ linkUrl }}"
                        class="{% if accent %}accent--{{ accent }} a--text {% endif %}u-weight-heavy">
                        {{ trailTextMore }}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endmacro %}
