{% macro caseStudy(projectName, quoteName, quoteText, imageUrl, imageSmallUrl, link = false) %}
    <div class="case-study">
        <div class="case-study__image">
            {% if link %}<a href="{{ buildUrl(link) }}">{% endif %}
                <picture>
                    <source srcset="{{ imageUrl | getCachebustedPath }}" media="(min-width: 600px)">
                    <source srcset="{{ imageSmallUrl | getCachebustedPath }}">
                    <img src="{{ imageSmallUrl | getCachebustedPath }}" alt="{{ quoteName }} {{ projectName }}" />
                </picture>
            {% if link %}</a>{% endif %}
        </div>
        <div class="case-study__content">
                <blockquote class="pullquote">
                    <div class="pullquote__text">
                        <p>{{ quoteText }}</p>
                    </div>
                    <div class="pullquote__meta">
                        <cite class="t3 t3--b">{{ quoteName }}</cite>
                        {% if link %}<a href="{{ buildUrl(link) }}">{% endif %}
                            <aside class="pullquote__aside t6 u-weight-normal">{{ projectName | safe }}</aside>
                        {% if link %}</a>{% endif %}
                    </div>
                </blockquote>
        </div>
    </div>
{% endmacro %}
