{% from "components/promo-card/macro.njk" import promoCard %}

{% macro caseStudyCollection(caseStudies, customSectionTitle = false, accent) %}
    {% if caseStudies.length > 0 %}
        <section id="section-case-studies" class="padded">
            <div class="u-inner">
                <h2 class="t1">
                    {%- if customSectionTitle -%}
                        {{ customSectionTitle }}
                    {%- else -%}
                        {{ __('global.misc.caseStudies') }}
                    {%- endif -%}
                </h2>
            </div>
            <div class="u-inner-wide-only">
                <ul class="flex-grid flex-grid--3up">
                    {% for caseStudy in caseStudies  %}
                        <li class="flex-grid__item">
                            {% set props = {
                                "title": caseStudy.title,
                                "subtitle": caseStudy.grantAmount,
                                "trailText": caseStudy.trailText,
                                "image": {
                                    "url": caseStudy.thumbnailUrl,
                                    "alt": caseStudy.title
                                },
                                "link": {
                                    "label": __('global.misc.readMore'),
                                    "labelAria": __('global.misc.readMoreAbout', caseStudy.title),
                                    "url": caseStudy.linkUrl
                                }
                            } %}
                            {{ promoCard(props, tint = true) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
{% endmacro %}
