{% from "components/media-aside/macro.njk" import mediaAside %}

{% macro flexibleContent(flexibleContent, accent) %}
    {% if flexibleContent.length > 0 %}
        {% set mediaAsideCounter = 0 %}
        {% for part in flexibleContent %}
            {% if part.type === 'contentArea' %}
                <div class="s-prose u-constrained-content-wide accent-content--{{ accent }}">
                    {{ part.content | safe }}
                </div>
            {% elseif  part.type === 'inlineFigure' %}
                <div class="s-prose">
                    <figure>
                        <img src="{{ part.photo }}" alt="{{ part.caption }}">
                        <figcaption>{{ part.photoCaption }}</figcaption>
                    </figure>
                </div>

            {% elseif  part.type === 'mediaAside' %}
                {% set mediaAsideCounter = mediaAsideCounter + 1 %}
                {{ mediaAside(
                    quoteText = part.quoteText,
                    link = { "label": part.linkText, "url": part.linkUrl },
                    image = { "url": part.photo, "caption": part.photoCaption },
                    accent = accent,
                    isReversed = mediaAsideCounter % 2 == 0
                ) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
