{% macro statBlock(number, caption, numberPrefix = false, numberSuffix = false, numberFirst = false, isAlternate = false) %}
    <div class="stat-block{% if isAlternate %} stat-block--alternate{% endif %}">
        <div class="stat-block__detail">
            {% if numberPrefix %}
                <span class="stat-block__caption">
                    {{ numberPrefix }}
                </span>
            {% endif %}

            {% set number %}
                <span class="stat-block__number">{{ number }}</span>
                {% if numberSuffix %}
                    <span class="stat-block__number stat-block__number--suffix">
                        {{ numberSuffix }}
                    </span>
                {% endif %}
            {% endset %}

            {% if numberFirst %}
                {{ number | safe }}
                <span class="stat-block__caption">{{ caption }}</span>
            {% else %}
                <span class="stat-block__caption">{{ caption }}</span>
                {{ number | safe }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro statsGrid(stats) %}
    <ul class="stats-grid">
        {% for stat in stats %}
            <li class="stats-grid__item">
                {{ statBlock(
                    number = stat.value,
                    caption = stat.title,
                    numberPrefix = stat.prefix,
                    numberSuffix = stat.suffix,
                    numberFirst = stat.showNumberBeforeTitle,
                    isAlternate = loop.index % 2 == 0
                ) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
