{% from "components/forms-new.njk" import formErrors, formField %}

{% macro renderField(field) %}
    {% set fieldErrors = formHelpers.errorsForField(field, errors) %}
    {{ formField(formHelpers.withFieldValue(field, data), fieldErrors) }}
{% endmacro %}

{% macro submissionMessage(title, message) %}
    <div class="s-prose">
        <h3>{{ title }}</h3>
        <p>{{ message | safe }}</p>
    </div>
{% endmacro %}

{% macro ebulletinForm() %}
<form class="form-ebulletin" method="post" action="/about/ebulletin">
    <h2 class="t1 t--underline accent--pink a--text">{{ __('toplevel.ebulletin.introHeading') }}</h2>

    {% if status === formHelpers.FORM_STATES.SUBMISSION_SUCCESS %}
        {{ submissionMessage(
            title = __('toplevel.ebulletin.responses.success.title'),
            message = __('toplevel.ebulletin.responses.success.body')
        ) }}
    {% elseif status ===  formHelpers.FORM_STATES.SUBMISSION_ERROR %}
        {{ submissionMessage(
            title = __('toplevel.ebulletin.responses.error.title'),
            message = __('toplevel.ebulletin.responses.error.body')
        ) }}
    {% else %}
        <p>{{ __('toplevel.ebulletin.intro') }}</p>

        {{ formErrors(
            errors = errors,
            title = __('toplevel.ebulletin.responses.error.title')
        ) }}

        {{ renderField({
            name: 'location',
            type: 'radio',
            label: __('toplevel.ebulletin.location'),
            options: [{
                label: __('toplevel.ebulletin.locations.england'),
                value: 'ENGLAND_MAIL'
            }, {
                label: __('toplevel.ebulletin.locations.wales'),
                value: 'WALES_MAIL'
            }, {
                label: __('toplevel.ebulletin.locations.scotland'),
                value: 'SCOTLAND_MAIL'
            }, {
                label: __('toplevel.ebulletin.locations.northernIreland'),
                value: 'NI_MAIL'
            }]
        }) }}

        <fieldset class="form-fieldset form-fieldset--details">
            <legend class="form-fieldset__legend u-visually-hidden">
                {{ __('toplevel.ebulletin.yourDetails') }}
            </legend>
            <div class="form-fieldset__fields">
                {{ renderField({
                    type: 'text',
                    name: 'firstName',
                    autocompleteName: 'given-name',
                    label: __('toplevel.ebulletin.fields.firstName'),
                    isRequired: true
                }) }}

                {{ renderField({
                    type: 'text',
                    name: 'lastName',
                    autocompleteName: 'family-name',
                    label: __('toplevel.ebulletin.fields.lastName'),
                    isRequired: true
                }) }}

                {{ renderField({
                    type: 'text',
                    name: 'organisation',
                    autocompleteName: 'organization',
                    label: __('toplevel.ebulletin.fields.organisation'),
                    isRequired: false
                }) }}

                {{ renderField({
                    type: 'email',
                    name: 'email',
                    autocompleteName: 'email',
                    label: __('toplevel.ebulletin.fields.emailAddress'),
                    placeholder: 'yourname@example.com',
                    isRequired: true
                }) }}
            </div>
        </fieldset>

        <input type="submit" value="{{ __('toplevel.ebulletin.callToAction') }}"
            class="btn btn--small accent--pink a--btn u-block-full"/>
    {% endif %}
</form>
{% endmacro %}
