{% from "components/form-fields.njk" import formErrors, formField with context %}

{% macro ebulletinForm() %}
    <form class="form-ebulletin" method="post" action="/about/ebulletin">
        {% set formCopy = __('toplevel.ebulletin') %}
        <h2 class="t1 t--underline accent--pink a--text">{{ formCopy.introHeading }}</h2>

        <p>{{ formCopy.intro }}</p>

        {{ formErrors(
            errors = errors,
            title = formCopy.responses.error.title
        ) }}

        {{ formField({
            name: 'location',
            type: 'radio',
            label: formCopy.location,
            value: data.location,
            options: [{
                label: formCopy.locations.england,
                value: 'ENGLAND_MAIL'
            }, {
                label: formCopy.locations.wales,
                value: 'WALES_MAIL'
            }, {
                label: formCopy.locations.scotland,
                value: 'SCOTLAND_MAIL'
            }, {
                label: formCopy.locations.northernIreland,
                value: 'NI_MAIL'
            }]
        }, errors = errors) }}

        <fieldset class="form-fieldset form-fieldset--details">
            <legend class="form-fieldset__legend u-visually-hidden">
                {{ formCopy.yourDetails }}
            </legend>
            <div class="form-fieldset__fields">
                {{ formField({
                    type: 'text',
                    name: 'firstName',
                    autocompleteName: 'given-name',
                    label: formCopy.fields.firstName,
                    value: data.firstName,
                    isRequired: true
                }, errors = errors) }}

                {{ formField({
                    type: 'text',
                    name: 'lastName',
                    autocompleteName: 'family-name',
                    label: formCopy.fields.lastName,
                    value: data.lastName,
                    isRequired: true
                }, errors = errors) }}

                {{ formField({
                    type: 'text',
                    name: 'organisation',
                    autocompleteName: 'organization',
                    label: formCopy.fields.organisation,
                    value: data.organisation,
                    isRequired: false
                }, errors = errors) }}

                {{ formField({
                    type: 'email',
                    name: 'email',
                    autocompleteName: 'email',
                    label: formCopy.fields.emailAddress,
                    value: data.email,
                    placeholder: 'yourname@example.com',
                    isRequired: true
                }, errors = errors) }}
            </div>
        </fieldset>

        <input type="submit" value="{{ formCopy.callToAction }}"
            class="btn btn--small accent--pink a--btn u-block-full"/>
    </form>
{% endmacro %}
