{% macro getLabelClasses(field) %}ff-label{% if field.isRequired %} ff-label--required{% else %} ff-label--optional{% endif %}{% endmacro %}

{% macro formHeader(title, stepProgress) %}
    <div class="form-header">
        {% if stepProgress.prevStepUrl %}
            <div class="form-header__actions">
                <a href="{{ stepProgress.prevStepUrl }}"
                    class="js-application-form-review-link">← Back</a>
            </div>
        {% endif %}
        <p class="form-header__prefix">
            Step {{ stepProgress.currentStepNumber }} of {{ stepProgress.totalSteps }}
        </p>
        <h1 class="form-header__title">{{ title }}</h1>
    </div>
{% endmacro %}

{% macro errorList(errors, shouldBeLinked)  %}
    {% if errors | length > 0 %}
        <ol class="error-list">
            {% for error in errors %}
            <li>
                {% if shouldBeLinked %}<a href="#form-field-{{ error.param }}">{% endif %}
                {{ error.msg }}
                {% if shouldBeLinked %}</a>{% endif %}
            </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}

{% macro formErrors(errors, title) %}
    {% if errors | length > 0 %}
        <div class="form-errors">
            {% if title %}
                <h3 class="form-errors__title">{{ title }}</h3>
            {% endif %}
            <div class="form-errors__body">
                {{ errorList(errors, shouldBeLinked = true) }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro inputText(field, type="text") %}
    <label class="{{ getLabelClasses(field) }}" for="field-{{ field.name }}">{{ field.label }}</label>
    {% if field.explanation %}
        <div class="ff-explanation s-prose">{{ field.explanation | safe }}</div>
    {% endif %}
    <input
        class="ff-text"
        type="{{ type }}"
        id="field-{{ field.name }}"
        name="{{ field.name }}"
        {% if field.autocompleteName %}autocomplete="{{ field.autocompleteName }}"{% endif %}
        {% if field.placeholder %}placeholder="{{ field.placeholder | escape }}"{% endif %}
        size="{% if field.size %}{{ field.size }}{% else %}40{% endif %}"
        value="{% if field.value %}{{ field.value }}{% endif %}"
        {% if field.isRequired %}required aria-required="true"{% endif %}
    />
{% endmacro %}

{% macro inputTextarea(field) %}
    <label class="{{ getLabelClasses(field) }}" for="field-{{ field.name }}">{{ field.label }}</label>
    {% if field.explanation %}
        <div class="ff-explanation s-prose">{{ field.explanation | safe }}</div>
    {% endif %}
    <textarea
        class="ff-textarea"
        id="field-{{ field.name }}"
        name="{{ field.name }}"
        {% if field.isRequired %}required aria-required="true"{% endif %}
        rows="{{ field.rows }}"
    >{{ field.value }}</textarea>
{% endmacro %}

{% macro inputRadio(field) %}
    <div class="ff-radio">
        <ul class="ff-radio__list">
            {% for option in field.options %}
                <li class="ff-radio__option">
                    <input
                        type="radio"
                        id="field-{{ field.name }}-{{ loop.index }}"
                        name="{{ field.name }}"
                        value="{{ option.value }}"
                        {% if field.value === option.value %}checked{% endif %}
                    />
                    <label for="field-{{ field.name }}-{{ loop.index }}">{{ option.label }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro inputCheckbox(field) %}
    <fieldset class="ff-checkbox">
        <legend class="ff-label">{{ field.label }}</legend>
        <ul class="ff-checkbox__list">
            {% for option in field.options %}
                <li class="ff-checkbox__option">
                    <div class="ff-checkbox__input">
                        <input
                            type="checkbox"
                            id="field-{{ field.name }}-{{ loop.index }}"
                            name="{{ field.name }}"
                            value="{{ option.value }}"
                            {% if field.value.length and field.value.indexOf(option.value) > -1 %}checked{% endif %}
                        />
                    </div>
                    <label class="ff-checkbox__label" for="field-{{ field.name }}-{{ loop.index }}">
                        {{ option.label }}
                        {% if option.explanation %}
                            <small class="ff-checkbox__caption">{{ option.explanation }}</small>
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </fieldset>
{% endmacro %}

{% macro formField(field, fieldErrors) %}
    <div
        id="form-field-{{ field.name }}"
        class="form-field form-field--{{ field.name }} form-field--type-{{ field.type }}
        {% if fieldErrors | length > 0 %}has-errors{% endif %}
        {% if field.isConditionalOn %}is-conditional{% endif %}
        {% if field.isConditionalFor %}js-conditional-for{% endif %}"
        {% if field.isConditionalFor %}
            data-conditional-type="{{ field.type }}"
            data-conditional-fields='{{ field.conditionalFor | dump | safe }}'
        {% endif %}
        {% if field.isConditionalOn and fieldErrors | length < 1 %}data-conditional-field="{{ field.name }}" hidden{% endif %}>
        <div class="form-field__main">
            <div class="form-field__body">
                {% if field.type === 'text' or field.type === 'email' or field.type === 'search' %}
                    {{ inputText(field, field.type) }}
                {% endif %}
                {% if field.type === 'textarea' %}
                    {{ inputTextarea(field) }}
                {% endif %}
                {% if field.type === 'radio' %}
                    {{ inputRadio(field) }}
                {% endif %}
                {% if field.type === 'checkbox' %}
                    {{ inputCheckbox(field) }}
                {% endif %}
            </div>
            {% if fieldErrors | length > 0 %}
                <div class="form-field__errors">
                    {{ errorList(fieldErrors) }}
                </div>
            {% endif %}
        </div>
        {% if field.helpText %}
            <div class="form-field__help s-prose">
                {{ field.helpText | safe }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro renderFieldWithErrors(errors, field) %}
    {% set fieldErrors = formHelpers.errorsForField(field, errors) %}
    {{ formField(formHelpers.withFieldValue(field, data), fieldErrors) }}
{% endmacro %}

{% macro formFieldset(fieldset) %}
    <fieldset class="form-fieldset u-constrained-wide u-constrained-content">
        <legend class="form-fieldset__legend t2 t--underline accent--{{ pageAccent }}">
            {{ fieldset.legend }}
        </legend>
        {% if fieldset.introduction %}
            <div class="form-fieldset__intro s-prose">{{ fieldset.introduction | safe }}</div>
        {% endif %}
        <div class="form-fieldset__fields">
            {% for field in fieldset.fields %}
                {% set fieldErrors = formHelpers.errorsForField(field, errors) %}
                {{ formField(field, fieldErrors) }}
            {% endfor %}
        </div>
    </fieldset>
{% endmacro %}
