{% import "./headers.njk" as headers %}

{% macro superHero(title, content, imageDefault, imageCandidates) %}
    <div class="super-hero js-random-hero" data-image-candidates='{{ imageCandidates | jsonStringify | safe }}'>
        <div class="super-hero__image js-random-hero__image">
            <picture>
                <source srcset="{{ imageDefault.large }}" media="(min-width: 980px)">
                <source srcset="{{ imageDefault.medium }}" media="(min-width: 600px)">
                <source srcset="{{ imageDefault.small }}">
                <img src="{{ imageDefault.default }}" alt="{{ imageDefault.caption }}" />
            </picture>
        </div>

        <div class="super-hero__content">
            <div class="super-hero__header inner" id="content">
                <h1 class="super-hero__title">{{ title | safe }}</h1>
                {{ content | safe }}
            </div>
            {% if imageDefault.caption %}
                <div class="super-hero__caption u-desktop-only">
                    <span class="u-caption js-random-hero__caption">
                        {{ imageDefault.caption }}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{% macro sectionHero(titleText, image, accent = 'blue') %}
    <div class="section-hero">
        <div class="section-hero__image">
            <picture>
                <source srcset="{{ image.large }}" media="(min-width: 980px)">
                <source srcset="{{ image.medium }}" media="(min-width: 600px)">
                <source srcset="{{ image.small }}">
                <img src="{{ image.default }}" alt="{{ image.caption }}" />
            </picture>
        </div>
        <div class="section-hero__content">
            <div class="section-hero__header inner" id="content">
                <div class="section-hero__header__inner">
                    {{ headers.overlayText(
                        tag = 'h1',
                        text = titleText,
                        additionalClasses = 'section-hero__title overlay-text--deep t2 accent--' + accent)
                    }}
                </div>
            </div>
            {% if image.caption %}
                <span class="section-hero__caption u-desktop-only">
                    <span class="u-caption">{{ image.caption }}</span>
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro header(name, content, accent, caption = false, extraClasses = false) %}
    <div class="hero hero--major {% if name %}hero--{{ name }}{% endif %}{% if extraClasses %} {{ extraClasses }}{% endif %}" role="complementary">
        <section class="hero__inner">
            {% if caption %}
                <div class="inner hero__caption u-desktop-only">
                    <span class="hero__caption-text">{{ caption }}</span>
                </div>
            {% endif %}
            <div class="inner{% if accent %} accent--{{ accent }}{% endif %}">
                <div class="hero__header" id="content">
                    {{ content | safe }}
                </div>
            </div>
        </section>
    </div>
{% endmacro %}

{% macro miniature(imagePath, imagePathMobile = false, imageCaption = false, link = false, content) %}
    <div class="hero hero--miniature" role="complementary">
        <section class="hero__inner">
            {% if link %}<a href="{{ link }}">{% endif %}
            <img src="{{ imagePath | getCachebustedPath }}" class="grid__item__poster{% if imagePathMobile %} hero-image--desktop{% endif %}" alt="{{ imageCaption }}" />
            {% if imagePathMobile %}
                <img src="{{ imagePathMobile | getCachebustedPath }}" class="grid__item__poster hero-image--mobile" alt="{{ imageCaption }}" />
            {% endif %}
            {% if link %}</a>{% endif %}
            <div class="hero--miniature__content">
                <div class="hero__header">
                    {{ content | safe }}
                </div>
            </div>
        </section>
    </div>
{% endmacro %}
