{% macro header(name, content, accent, caption = false) %}
    <div class="hero {% if name %}hero--{{ name }}{% endif %}" role="complementary">
        <section class="hero__inner">
            {% if caption %}
                <div class="inner hero__caption">
                    <span>{{ caption }}</span>
                </div>
            {% endif %}
            <div class="inner{% if accent %} accent--{{ accent }}{% endif %}">
                {{ content | safe }}
            </div>
        </section>
    </div>
{% endmacro %}