{% macro header(name, content, accent, caption = false, extraClasses = false) %}
    <div class="hero hero--major {% if name %}hero--{{ name }}{% endif %}{% if extraClasses %} {{ extraClasses }}{% endif %}" role="complementary">
        <section class="hero__inner">
            {% if caption %}
                <div class="inner hero__caption desktop-only">
                    <span>{{ caption }}</span>
                </div>
            {% endif %}
            <div class="inner{% if accent %} accent--{{ accent }}{% endif %}">
                <div class="hero__header">
                    {{ content | safe }}
                </div>
            </div>
        </section>
    </div>
{% endmacro %}

{% macro miniature(imagePath, imagePathMobile = false, imageCaption = false, link = false, content) %}
    <div class="hero hero--miniature" role="complementary">
        <section class="hero__inner">
            {% if link %}<a href="{{ link }}">{% endif %}
            <img src="{{ imagePath | getCachebustedPath }}" class="grid__item__poster{% if imagePathMobile %} hero-image--desktop{% endif %}" alt="{{ imageCaption }}" />
            {% if imagePathMobile %}
                <img src="{{ imagePathMobile | getCachebustedPath }}" class="grid__item__poster hero-image--mobile" alt="{{ imageCaption }}" />
            {% endif %}
            {% if link %}</a>{% endif %}
            <div class="hero--miniature__content">
                <div class="hero__header">
                    {{ content | safe }}
                </div>
            </div>
        </section>
    </div>
{% endmacro %}