{% macro mediaFigure(imageUrl, imageCaption, accentColor) %}
    <figure class="media-figure accent--{{ accentColor }} a--border-color">
        <img class="media-figure__image" src="{{ imageUrl }}" alt="{{ imageCaption }}">
        {% if imageCaption %}
            <figcaption class="media-figure__caption">{{ imageCaption }}</figcaption>
        {% endif %}
    </figure>
{% endmacro %}

{% macro mediaAside(
    quoteText,
    linkText,
    linkHref,
    imageUrl,
    imageCaption,
    accentColor = 'pink',
    isReversed = false
) %}
    <aside class="media-aside{% if isReversed %} media-aside--reversed{% endif %}">
        <div class="media-aside__figure">
            {{ mediaFigure(imageUrl, imageCaption, accentColor) }}
        </div>
        <div class="media-aside__body">
            <div class="media-aside__body-content">
                <p class="media-aside__text">{{ quoteText }}</p>
                {% if linkText %}
                    <p class="media-aside__link"><a href="{{ linkHref }}">{{ linkText }}</a></p>
                {% endif %}
            </div>
        </div>
    </aside>
{% endmacro %}
