{% from "components/icons.njk" import iconSearch %}

{% macro navlinks(itemClass) %}
    {% for id, section in navigationSections %}
        {% set currentSectionId = getCurrentSection(sectionId, pageId)  %}
        <li class="{% if currentSectionId === id %}is-selected{% endif %}{% if itemClass %} {{ itemClass }}{% if loop.last %} {{ itemClass }}--last{% endif %}{% endif %} qa-nav-link qa-nav-link--{{ id }}">
            <a href="{{ localify(section.path | default('/', true)) }}">{{ __(section.langTitlePath) }}</a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro navLangLink() %}
    {% if isBilingual %}
        {% if locale == 'en' %}
            <a class="qa-lang-switcher" href="{{ getCurrentUrl('cy') }}">Cymraeg</a>
        {% else %}
            <a class="qa-lang-switcher" href="{{ getCurrentUrl('en') }}">English</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro navSearchForm() %}
    {% set id = shortid() %}
    <form class="global-search" role="search" action="/search">
        <input type="hidden" name="lang" value="en-GB">
        <input type="hidden" name="type" value="All">
        <input type="hidden" name="order" value="r">
        <label class="u-visually-hidden" for="global-search-input-{{ id }}">
            {{ __("global.misc.search") }}
        </label>
        <input
            class="global-search__input ff-text"
            id="global-search-input-{{ id }}"
            name="q"
            type="text"
            placeholder="{{ __("global.misc.search") }}"
        >
        <button class="global-search__submit" type="submit">
            {{ iconSearch() }}
            <span class="u-visually-hidden">{{ __("global.misc.search") }}</span>
        </button>
    </form>
{% endmacro %}

{% macro nestedMenu(navigationModel, currentUrl) %}
    <nav class="nested-menu">
        <h2 class="nested-menu__section t4">
            <a class="nested-menu__section-link"
                href="{{ navigationModel.section.link }}">
                {{ navigationModel.section.label }}
            </a>
        </h2>
        <ul class="nested-menu__children">
            {% for child in navigationModel.children %}
                <li class="nested-menu__item">
                    <a class="nested-menu__link{% if currentUrl === child.link %} is-active{% endif %}"
                        href="{{ child.link }}">
                        {{ child.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro selectionTrail(trail) %}
    {% if trail | length > 0 %}
    <ol class="selection-trail">
        {% for crumb in trail %}
        <li class="selection-trail__item">
            {% set showUrl = crumb.url %}
            {% if showUrl %}<a class="selection-trail__link" href="{{ crumb.url }}">{% endif %}{{ crumb.label }}{% if crumb.count %} ({{ crumb.count }}){% endif %}{% if showUrl %}</a>{% endif %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endmacro %}

{% macro quickLinks(links, isSticky = false) %}
    <nav class="quicklinks quicklinks--sticky">
        <ul class="quicklinks__list">
            {% for link in links %}
            <li class="quicklinks__item">
                <a class="quicklinks__link" href="{{ link.href }}">
                    <span class="quicklinks__link-label">
                        {{ link.label }}
                    </span>
                    {% if link.caption %}
                        <span class="quicklinks__link-caption">
                            {{ link.caption }}
                        </span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}


{% macro splitNav(pagination) %}
    {% if pagination %}
        <nav class="split-nav">
            {% if pagination.prevLink %}
                <a class="split-nav__prev" href="{{ pagination.prevLink }}" rel="prev">Previous page</a>
            {% endif %}
            {% if pagination.nextLink %}
                <a class="split-nav__next" href="{{ pagination.nextLink }}" rel="next">Next page</a>
            {% endif %}
        </nav>
    {% endif %}
{% endmacro %}
