{% from "components/icons.njk" import iconSearch %}

{% macro navlinks(itemClass) %}
    {% for section in navigationSections %}
        <li class="{% if sectionUrl === section.path %}is-selected{% endif %}{% if itemClass %} {{ itemClass }}{% if loop.last %} {{ itemClass }}--last{% endif %}{% endif %} qa-nav-link qa-nav-link--{{ section.id }}">
            <a href="{{ section.path | default('/', true) }}">
                {{ section.label }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro navSearchForm(isOffset = false) %}
    {% set id = 'global-search-input-' | appendUuid %}
    <form class="global-search{% if isOffset %} global-search--offset{% endif %} js-global-search-form" role="search" action="/search">
        <label class="u-visually-hidden" for="{{ id }}">
            {{ __("global.misc.search") }}
        </label>
        <input
            class="global-search__input ff-text"
            id="{{ id }}"
            name="q"
            type="search"
            placeholder="{{ __("global.misc.search") }}"
        >
        <button class="global-search__submit" type="submit">
            {{ iconSearch() }}
            <span class="u-visually-hidden">{{ __("global.misc.search") }}</span>
        </button>
    </form>
{% endmacro %}

{% macro nestedMenu(navigationModel, currentUrl) %}
    <nav class="nested-menu">
        <h2 class="nested-menu__section t4">
            <a class="nested-menu__section-link"
                href="{{ navigationModel.section.link }}">
                {{ navigationModel.section.label }}
            </a>
        </h2>
        <ul class="nested-menu__children">
            {% for child in navigationModel.children %}
                <li class="nested-menu__item">
                    <a class="nested-menu__link{% if currentUrl === child.link %} is-active{% endif %}"
                        href="{{ child.link }}">
                        {{ child.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro quickLinks(links, isSticky = false) %}
    <nav class="quicklinks quicklinks--sticky">
        <ul class="quicklinks__list">
            {% for link in links %}
            <li class="quicklinks__item">
                <a class="quicklinks__link" href="{{ link.href }}">
                    <span class="quicklinks__link-label">
                        {{ link.label }}
                    </span>
                    {% if link.caption %}
                        <span class="quicklinks__link-caption">
                            {{ link.caption }}
                        </span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}
