{% macro navlinks(itemClass) %}
    {% set isHomepage = false %}
    {% if sectionId == 'toplevel' and pageId == 'home' %}
        {% set isHomepage = true %}
    {% endif %}
    {% for id, section in routes %}
        <li class="{% if (isHomepage and id === 'toplevel') or (not isHomepage and id === sectionId and id !== 'toplevel') %}is-selected{% endif %}{% if itemClass %} {{ itemClass }}{% if loop.last %} {{ itemClass }}--last{% endif %}{% endif %}">
            <a href="{{ buildUrl(id) }}">{{ __(section.langTitlePath) }}</a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro navLangLink() %}
    {% if locale == 'en' %}
        <a href="{{ getCurrentUrl(request, 'cy') }}">Cymraeg</a>
    {% else %}
        <a href="{{ getCurrentUrl(request, 'en') }}">English</a>
    {% endif %}
{% endmacro %}

{% macro navSearchForm() %}
    <form class="global-search" role="search" action="/search">
        <input type="hidden" name="lang" value="en-GB">
        <input type="hidden" name="type" value="All">
        <input type="hidden" name="order" value="r">
        <label for="global-search-input" class="global-search__icon">
            {% include "../includes/svg/search.svg" %}
            <span class="u-visually-hidden global-search__a11y">{{ __("global.nav.search") }}</span>
        </label>
        <input class="global-search__input"
            type="text"
            id="global-search-input" name="q"
            aria-label="{{ __("global.nav.search") }}"
            placeholder="{{ __("global.nav.search") }}"
        >
        <input class="u-visually-hidden" type="submit" value="Search" />
    </form>
{% endmacro %}
