{% macro articleTeaser(article) %}
    <article class="article-teaser">
        <h3 class="article-teaser__title t2">
            <a class="u-link-minimal" href="{{ article.link }}">
                {{ article.title }}
            </a>
        </h3>
        <p class="article-teaser__summary">
            {{ article.summary }}
        </p>
    </article>
{% endmacro %}
