{% macro articleTeaser(entry) %}
    <article class="article-teaser">
        <header class="article-teaser__header">
            <h2 class="article-teaser__title t3">
                <a class="u-link-minimal" href="{{ entry.linkUrl }}">{{ entry.title }}</a>
            </h2>

            {% if entry.postDate.date %}
                <p class="article-teaser__meta">
                    <time class="article-teaser__pubdate" datetime="{{ entry.postDate.date }}">
                        {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
                    </time>
                    {% if entry.category -%}
                        {# Only blog posts have categories. @TODO: Can we express this logic at a higher level? #}
                        in <a href="{{ localify('/news/blog/?category=' + entry.category.slug) }}">{{ entry.category.title }}</a>
                    {%- endif %}
                </p>
            {% endif %}
        </header>
        <div class="article-teaser__content">
            <p class="article-teaser__summary">{{ entry.summary }}</p>
        </div>
    </article>
{% endmacro %}
