{% macro previewBanner(previewStatus) %}
    {% if previewStatus.isDraftOrVersion %}
        <div class="preview-banner">
            ✋ You are viewing a draft (last updated {{ previewStatus.lastUpdated }}).
            Please do not share this page.
            <a href="{{ getCurrentUrl() }}">View original</a>
        </div>
    {% elseif appData.isNotProduction and not appData.isDev %}
        <div class="preview-banner">
            ✋ This is a test environment.
            <a href="{{ appData.config.get('siteDomain') }}{{ getCurrentUrl() }}">View this page on the live site</a>
        </div>
    {% endif %}
{% endmacro %}
