{% macro profileSummary(profile) %}
    <article class="profile">
        {% if profile.image %}
            <div class="profile__photo">
                <img src="{{ profile.image }}" alt="">
            </div>
        {% endif %}
        <h2 class="profile__title">
            {{ profile.title }}
            {% if profile.role %}<span class="profile__role">{{ profile.role }}</span>{% endif %}
        </h2>
        <div class="profile__bio s-prose s-prose--long u-constrained-content-wide">
            {{ profile.bio | safe }}
        </div>
    </article>
{% endmacro %}
