{% macro profileSummary(profile) %}
    <article class="profile">
        {% if profile.image %}
            <div class="profile__photo">
                <img src="{{ profile.image }}" alt="{{ profile.title }}">
            </div>
        {% endif %}
        <h2 class="profile__title">
            {{ profile.title }}{% if profile.role %}&thinsp;&mdash;&thinsp;{{ profile.role }}{% endif %}
        </h2>
        <div class="profile__bio s-prose u-constrained-content">
            {{ profile.bio | safe }}
        </div>
    </article>
{% endmacro %}
