{% from "components/promo-card/macro.njk" import promoCard with context %}

{% macro programmeStats(programme, isCompact) %}
    {% set labels = __('global.programmes.programmeLabels') %}
    <dl class="o-definition-list{% if isCompact %} o-definition-list--compact{% endif %}">
        {% if programme.area %}
            <dt>{{ labels.area }}</dt>
            <dd>{{ programme.area.label }}</dd>
        {% endif %}
        
        {% if programme.organisationType %}
            <dt>{{ labels.organisationTypes }}</dt>
            <dd>{{ programme.organisationType }}</dd>
        {% endif %}

        {% if programme.fundingSize.description %}
            <dt>{{ labels.fundingSize }}</dt>
            <dd>{{ programme.fundingSize.description }}</dd>
        {% elseif programme.fundingSize.minimum and programme.fundingSize.maximum %}
            <dt>{{ labels.fundingSize }}</dt>
            <dd>£{{ programme.fundingSize.minimum | numberWithCommas}}{% if programme.fundingSize.maximum %} {{ __('global.misc.to') }} £{{ programme.fundingSize.maximum | numberWithCommas }}{% endif %}</dd>
        {% endif %}

        {% if programme.fundingSize.totalAvailable %}
            <dt>{{ labels.totalAvailable }}</dt>
            <dd>{{ programme.fundingSize.totalAvailable }}</dd>
        {% endif %}

        {% if programme.applicationDeadline %}
            <dt>{{ labels.applicationDeadline }}</dt>
            <dd>{{ programme.applicationDeadline | safe }}</dd>
        {% endif %}
    </dl>
{% endmacro %}

{% macro programmeCard(programme) %}
    {% set description %}
        {{ programme.description | safe }}
        {{ programmeStats(programme) }}
    {% endset %}
    {{ promoCard({
        "title": programme.title,
        "trailText": description | safe,
        "image": {
            "url": programme.trailImageNew if programme.trailImageNew else programme.trailImage,
            "alt": programme.hero.caption or programme.title
        },
        "link": {
            "url": programme.linkUrl
        }
    }) }}
{% endmacro %}


{% macro relatedProgrammes(programmes) %}
    {% if programmes.length > 0 %}
        <div class="u-tone-background-tint u-padded u-margin-top-l">
            {% for programme in programmes %}
                <div class="o-media u-margin-bottom">
                    {% if programme.thumbnail or programme.thumbnailNew %}
                        <img src="{{ programme.thumbnailNew if programme.thumbnailNew else programme.thumbnail }}"
                             alt="{{ programme.title }}"
                             class="o-media__figure"
                             width="100" />
                    {% endif %}
                    <div class="o-media__body">
                        <h4 class="u-tone-brand-primary">{{ programme.title }}</h4>
                        {{ programme.intro | safe }}
                        <p class="u-no-margin"><a href="{{ programme.linkUrl }}">{{ __('news.readMoreAboutProgramme') }}</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}
