{% macro fundingRange(minimum, maximum) %}
    £{{ minimum | numberWithCommas}}{% if maximum %} - £{{ maximum | numberWithCommas }}{% endif %}
{% endmacro %}

{% macro programmeCard(programme, useNewContent, path, accent) %}
    {# Link to new content page if useNewContent is set #}
    {% set urlPath = programme.content.linkUrl %}
    {% if programme.useNewContent %}
        {% set urlPath = '/' + programme.path %}
    {% endif %}

    <article class="programme-card accent--{{ accent }} a--border-top a--border-color">
        <header class="programme-card__header">
            <h3 class="programme-card__title t1">
                <a class="u-link-minimal accent--{{ accent }} a--text" href="{{ urlPath }}">
                    {{ programme.content.title }}
                </a>
            </h3>
            {% if programme.content.photo %}
                <div class="programme-card__media">
                    <img src="{{ programme.content.photo }}" alt=""/>
                </div>
            {% endif %}
        </header>
        <div class="programme-card__body">
            {% if programme.content.description %}
                <div class="programme-card__description">
                    <p>{{ programme.content.description }}</p>
                </div>
            {% endif %}
            <dl class="programme-card__details">
                {% if programme.content.area %}
                    <dt>{{ __('global.programmes.programmeLabels.area') }}</dt>
                    <dd>{{ programme.content.area.label }}</dd>
                {% endif %}
                {% if programme.content.organisationTypes %}
                    <dt>{{ __('global.programmes.programmeLabels.organisationTypes') }}</dt>
                    <dd>{{ programme.content.organisationTypes | join(', ') }}</dd>
                {% endif %}
                {% if programme.content.fundingSize %}
                    <dt>{{ __('global.programmes.programmeLabels.fundingSize') }}</dt>
                    {% if programme.content.fundingSizeDescription %}
                        <dd>{{ programme.content.fundingSizeDescription }}</dd>
                    {% else %}
                        <dd>{{ fundingRange(
                            minimum = programme.content.fundingSize.minimum,
                            maximum = programme.content.fundingSize.maximum
                        ) }}</dd>
                    {% endif %}
                {% endif %}
                {% if programme.content.totalAvailable %}
                    <dt>{{ __('global.programmes.programmeLabels.totalAvailable') }}</dt>
                    <dd>{{ programme.content.totalAvailable }}</dd>
                {% endif %}
                {% if programme.content.applicationDeadline %}
                    <dt>{{ __('global.programmes.programmeLabels.applicationDeadline') }}</dt>
                    <dd>{{ programme.content.applicationDeadline }}</dd>
                {% endif %}
            </dl>
        </div>
    </article>
{% endmacro %}

{% macro programmeList(programmes, accent, labels) %}
    <div class="programmes-list">
        {% for programme in programmes %}
            <div class="programmes-list__item">
                {{ programmeCard(
                    programme = programme,
                    accent = accent
                ) }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro selectionTrail(trail, itemCount) %}
    {% if trail | length > 0 %}
    <ol class="selection-trail">
        {% for crumb in trail %}
        <li class="selection-trail__item">
            {% set showUrl = crumb.url  %}
            {% if showUrl %}<a class="selection-trail__link" href="{{ crumb.url }}">{% endif %}
            {{ crumb.label }}
            {% if loop.last and itemCount %}({{ itemCount }}){% endif %}
            {% if showUrl %}</a>{% endif %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
{% endmacro %}
