{% import "./headers.njk" as headers %}

{% macro segment(title, text, color, imagePath, characterWrap = 20, id) %}
    <div class="segment accent--{{ color }} a--border-top">
        <div class="grid__item__inner segment__media">
            <img src="{{ imagePath | getCachebustedPath }}" alt="" />
            {{ headers.overlayText(
                'h4',
                title,
                'minor segment__title grid__item__title grid__item__title--top',
                id = id
            )}}
        </div>
        <div class="segment__aside">{{ text | safe }}</div>
    </div>
{% endmacro %}
