{% macro sgExample(description) %}
    <div class="sg-example">
        {% if description %}
            <h4 class="sg-example__description">
                {{ description }}
            </h4>
        {% endif %}
        <div class="sg-example__body">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}

{% macro sgUsage() %}
    <div class="sg-usage-note">
        <h4 class="sg-usage-note__title">Usage Note</h4>
        <div class="sg-usage-note__content">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}
