{% macro getTabsetId(id) %}js-tabs-{{ id }}{% endmacro %}

{% macro tab(title, paneId, tabSetId = false, tabClasses) %}
    <a class="js-tab{% if tabClasses %} {{ tabClasses }}{% else %} tab{% endif %}" href="#{{ paneId }}"{% if tabSetId %} data-tabset="{{ getTabsetId(tabSetId) }}"{% endif %}>{{ title }}</a>
{% endmacro %}

{% macro tabSet(tabSetId, paneSetId, tabs, tabSetClasses, tabClasses, doNotInit) %}
    <ul class="js-tabset tabs__tabset{% if tabSetClasses %} {{ tabSetClasses }}{% endif %}"
        data-paneset="{{ paneSetId }}"
        id="{{ tabSetId }}"{% if doNotInit %} data-tabs-do-not-init="true"{% endif %}>
        {% for t in tabs %}
            <li{% if tabClasses %} class="{{ tabClasses }}"{% endif %}>{{ t }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro pane(paneId, title, content, accordion) %}
    <section id="{{ paneId }}" class="tab__pane{% if accordion %} tab__pane--accordion{% endif %}">
        <header><a href="#{{ paneId }}" class="js-tab">{{ title }}</a></header>
        <article>{{ content | safe }}</article>
    </section>
{% endmacro %}

{% macro paneSet(paneSetId, panes) %}
    <div id="{{ paneSetId }}" class="js-paneset">
        {% for p in panes %}
            {{ p }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro tabs(id, content, tabSetClasses = false, tabItemClasses = false, tabClasses = false, doNotInit = false, accordion = true) %}

    {% set tabSetId = getTabsetId(id) %}
    {% set paneSetId = 'js-panes-' + id %}
    {% set tabItems = [] %}
    {% set paneItems = [] %}

    {% for c in content %}
        {% set paneId = id + loop.index %}
        {% set newTab = tab(title = c.title, paneId = paneId, tabClasses = tabClasses) %}
        {% set tabItems = (tabItems.push(newTab), tabItems) %}
        {% set newPane = pane(paneId = paneId, title = c.title, content = c.content, accordion = accordion) %}
        {% set paneItems = (paneItems.push(newPane), paneItems) %}
    {% endfor %}

    {{ tabSet(tabSetId, paneSetId, tabItems, tabSetClasses, tabItemClasses, doNotInit) }}
    {{ paneSet(paneSetId, paneItems) }}

{% endmacro %}