{% from "components/icons.njk" import iconArrowDown %}

{% macro tab(title, paneId, tabClasses = false, setActive = false, id = false) %}
    <a role="tab" class="js-tab{% if tabClasses %} {{ tabClasses }}{% else %} tab{% endif %}{% if setActive %} tab--active{% endif %}"
        href="#{{ paneId }}" {% if id %} id="{{ id }}"{% endif %}>
        {{ title }}
    </a>
{% endmacro %}

{% macro tabSet(tabSetId, paneSetId, tabs, tabSetClasses, tabClasses, trackClicksAsPageviews) %}
    <ul role="tablist" class="js-tabset tabset{% if tabSetClasses %} {{ tabSetClasses }}{% endif %}"
        data-paneset="{{ paneSetId }}"{% if not trackClicksAsPageviews %} data-do-not-track-pageviews="true"{% endif %}
        id="js-tabs-{{ tabSetId }}">
        {% for t in tabs %}
            <li class="tabset__item{% if tabClasses %} {{ tabClasses }}{% endif %}">{{ t }}</li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro pane(paneId, title, content, accordion = false, setActive = false, tabSetId = false, tabId = false) %}
    <section id="{{ paneId }}" class="tab__pane{% if accordion %} tab__pane--accordion{% endif %}{% if setActive %} pane--active{% endif %}">
        {% if accordion and title %}
            <header class="tab__pane-header">
                {{ tab(title, paneId, tabSetId = tabSetId, setActive = setActive, id = "accordion-" + tabId) }}
                <span class="tab__arrow u-dont-print">{{ iconArrowDown() }}</span>
            </header>
        {% endif %}
        <article class="tab__pane-content">{{ content | safe }}</article>
    </section>
{% endmacro %}

{% macro paneSet(paneSetId, panes) %}
    <div id="{{ paneSetId }}" class="js-paneset">
        {% for pane in panes %}
            {{ pane }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro tabs(id, content, classes = false, accordion = true, trackClicksAsPageviews = false) %}
    {% set tabSetId = id %}
    {% set paneSetId = 'js-panes-' + id %}
    {% set tabItems = [] %}
    {% set paneItems = [] %}

    {# create our tabs and panes #}
    {% for c in content %}
        {% set paneId = id + loop.index %}
        {% set tabId = id + '-' + loop.index %}
        {% if c.id %}{% set paneId = c.id %}{% endif %}

        {# create a tab and add it to an array #}
        {% set newTab = tab(title = c.title, paneId = paneId, tabSetId = tabSetId, tabClasses = classes.tabs, setActive = c.active, id = tabId) %}
        {% set tabItems = (tabItems.push(newTab), tabItems) %}

        {# create a pane and add it to an array #}
        {% set newPane = pane(paneId = paneId, title = c.title, content = c.content, accordion = accordion, setActive = c.active, tabSetId = tabSetId, tabId = tabId) %}
        {% set paneItems = (paneItems.push(newPane), paneItems) %}
    {% endfor %}

    {# a tabset with the tabs #}
    {{ tabSet(tabSetId, paneSetId, tabItems, classes.tabSet, classes.tabItem, trackClicksAsPageviews) }}

    {# and a pane set with the panes #}
    {{ paneSet(paneSetId, paneItems) }}
{% endmacro %}
