{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/hero.njk" import hero with context %}
{% from "components/social.njk" import socialLinks with context %}

{% from "./view-helpers.njk" import blogTrail with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'pink' %}

    <main role="main" id="content">

        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">

            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                @TODO intro text goes here
            </div>

            <div class="u-inner-wide-only u-padded-top u-padded-bottom">
                {{ socialLinks(
                    labels = __('toplevel.home.social'),
                    pageAccent = pageAccent,
                    showAsBlock = false
                ) }}
            </div>

            {# Blog posts #}
            <section class="u-inner-wide-only latest-news u-margin-bottom">
                <header class="latest-news__header">
                    <h2 class="t3 t--underline accent--{{ pageAccent }}">
                        {{ copy.types.blog.plural }}
                    </h2>
                </header>
                <div class="latest-news__content">
                    <ul class="flex-grid flex-grid--3up">
                        {% for entry in groupedEntries.blog | takeItems(3) %}
                            <li class="flex-grid__item">
                                {{ blogTrail(entry) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="latest-news__footer">
                    <a class="latest-news__more" href="{{ localify('/news/blog') }}">
                        View all {{ copy.types.blog.plural | lower }} &rarr;
                    </a>
                </footer>
            </section>

            {# Press releases #}
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t3 t--underline accent--{{ pageAccent }}">
                    {{ copy.types['press-releases'].plural }}
                </h2>
                <p>@TODO press releases intro</p>
                <p>
                    <a href="{{ localify('/news/press-releases') }}"
                       class="btn accent--{{ pageAccent }} a--btn btn--medium">
                        View latest {{ copy.types['press-releases'].plural | lower }}
                    </a>
                </p>
            </div>

        </div>
    </main>
{% endblock %}
