{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/hero.njk" import hero with context %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/icons.njk" import iconFacebook, iconInstagram, iconTwitter %}

{% from "./view-helpers.njk" import blogTrail with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            {% call contentBox() %}
                <p>{{ copy.introductions.newsLanding }}</p>
            {% endcall %}

            {# Social links #}
            <section class="u-inner-wide-only u-margin-bottom-l">
                <div class="o-button-group-flex">
                    <a class="btn btn--small btn--outline"
                        href="{{ globalCopy.brand.instagram }}">
                        <span class="btn__icon">{{ iconInstagram() }}</span>
                        {{ __('global.misc.followUsOn') }} {{ __('global.misc.instagram') }}
                    </a>
                    <a class="btn btn--small btn--outline"
                        href="{{ globalCopy.brand.facebook }}">
                        <span class="btn__icon">{{ iconFacebook() }}</span>
                        {{ __('global.misc.followUsOn') }} {{ __('global.misc.facebook') }}
                    </a>
                    <a class="btn btn--small btn--outline"
                        href="https://www.twitter.com/{{ globalCopy.brand.twitter }}" >
                        <span class="btn__icon">{{ iconTwitter() }}</span>
                        {{ __('global.misc.followUsOn') }} {{ __('global.misc.twitter') }}
                    </a>
                </div>
            </section>

            {# Blog posts #}
            <section class="related-content u-inner u-margin-bottom">
                <header class="related-content__header">
                    <h2 class="t--underline">{{ copy.types.blog.plural }}</h2>
                </header>
                <div class="related-content__content">
                    <ul class="flex-grid flex-grid--3up">
                        {% for entry in blogposts | take(3) %}
                            <li class="flex-grid__item">
                                {{ blogTrail(entry) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="related-content__footer">
                    <a class="related-content__more" href="{{ localify('/news/blog') }}">
                        {{ copy.blogpost.viewAllBlogPosts }} &rarr;
                    </a>
                </footer>
            </section>

            {# People stories #}
            {% if peopleStories.length > 0 %}
                <section class="related-content u-inner u-margin-bottom">
                    <header class="related-content__header">
                        <h2 class="t--underline">{{ copy.types['people-stories'].plural }}</h2>
                    </header>
                    <div class="related-content__content">
                        <ul class="flex-grid flex-grid--3up">
                            {% for entry in peopleStories | take(3) %}
                                <li class="flex-grid__item">
                                    {{ blogTrail(entry, updateType = 'people-stories') }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <footer class="related-content__footer">
                        <a class="related-content__more" href="{{ localify('/news/people-stories') }}">
                            {{ copy['people-stories'].viewAllPeopleStories }} &rarr;
                        </a>
                    </footer>
                </section>
            {% endif %}

            {# Press releases #}
            {% call contentBox() %}
                <h2>{{ copy.types['press-releases'].plural }}</h2>
                <p>{{ copy.introductions.pressReleases }}</p>
                <p>
                    <a href="{{ localify('/news/press-releases') }}" class="btn btn--medium">
                        {{ copy.pressRelease.viewLatestPressReleases }}
                    </a>
                </p>
            {% endcall %}
        </div>
    </main>
{% endblock %}
