{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/hero.njk" import hero with context %}
{% from "components/social.njk" import socialLinks with context %}

{% from "./view-helpers.njk" import blogTrail with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'pink' %}

    <main role="main" id="content">

        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}

        <div class="nudge-up">

            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <p>If you want to find out about what’s happening at the Big Lottery Fund, you’ve come to the right place. You can read the latest news on: the community groups and charities we fund, how we work with the Government and other funders to distribute National Lottery money and how we support local communities across the UK to become more active, vibrant and stronger together.</p>
            </div>

            <div class="u-inner-wide-only u-padded-top u-padded-bottom">
                {{ socialLinks(
                    labels = __('toplevel.home.social'),
                    pageAccent = pageAccent,
                    showAsBlock = false
                ) }}
            </div>

            {# Blog posts #}
            <section class="u-inner-wide-only latest-news u-margin-bottom">
                <header class="latest-news__header">
                    <h2 class="t3 t--underline accent--{{ pageAccent }}">
                        {{ copy.types.blog.plural }}
                    </h2>
                </header>
                <div class="latest-news__content">
                    <ul class="flex-grid flex-grid--3up">
                        {% for entry in groupedEntries.blog | takeItems(3) %}
                            <li class="flex-grid__item">
                                {{ blogTrail(entry) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <footer class="latest-news__footer">
                    <a class="latest-news__more" href="{{ localify('/news/blog') }}">
                        View all {{ copy.types.blog.plural | lower }} &rarr;
                    </a>
                </footer>
            </section>

            {# Press releases #}
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t3 t--underline accent--{{ pageAccent }}">
                    {{ copy.types['press-releases'].plural }}
                </h2>
                <p>Our press releases will give you the key facts about funding announcements, new grants or research, special events, launches, which charities have been awarded funding, innovative projects, best practice in the sector and more.</p>
                <p>
                    <a href="{{ localify('/news/press-releases') }}"
                       class="btn accent--{{ pageAccent }} a--btn btn--medium">
                        View latest {{ copy.types['press-releases'].plural | lower }}
                    </a>
                </p>
            </div>

        </div>
    </main>
{% endblock %}
