{% macro entryRegions(regions, baseUrlPath, regionParam = 'region') -%}
    {% set comma = joiner() %}
    {% for region in regions -%}
        {{ comma() }} <a href="{{ baseUrlPath }}?{{ regionParam }}={{ region.slug }}">{{ region.title }}</a>
        {% set childComma = joiner() %}
        {% if region.children.length > 0 %}({% endif %}{%- for childRegion in region.children -%}
            {% if childComma() %}{{ childComma() }} {% endif %}<a href="{{ baseUrlPath }}?{{ regionParam }}={{ childRegion.slug }}">{{ childRegion.title }}</a>
        {%- endfor -%}{% if region.children.length > 0 %}){% endif %}
    {%- endfor %}
{% endmacro %}
