{% from "components/article-teaser/macro.njk" import articleTeaser %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/card/macro.njk" import card %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/hero.njk" import hero with context %}

{% from "../view-helpers.njk" import entryRegions with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main" id="content">
        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}

        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top nudge-up">
            {{ breadcrumbTrail(breadcrumbs) }}
        
            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    {% if entries.length > 0 %}
                        {% if entriesMeta.activeRegion %}
                            <p>{{ copy.pressRelease.viewingPressReleasesIn }} <strong>{{ entriesMeta.activeRegion.title }}</strong></p>
                        {% endif %}

                        <ol class="article-listing">
                            {% for entry in entries %}
                                <li class="article-listing__item">
                                    {% set subtitle %}
                                        <time class="article-teaser__pubdate" datetime="{{ props.postDate.date }}">
                                            {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
                                        </time>

                                        {% if entry.regions.length > 0 %}
                                            {{ copy.pressRelease.in }} {{ entryRegions(entry, currentPath) }}
                                        {% endif %}
                                    {% endset %}
                                    {{ articleTeaser({
                                        'title': entry.trailText or entry.title,
                                        'subtitle': subtitle | safe,
                                        'summary': entry.summary,
                                        'linkUrl': entry.linkUrl
                                    }) }}
                                </li>
                            {% endfor %}
                        </ol>

                        {% if pagination %}
                            {{ splitNav(
                                prevLink = {
                                    "label": __('global.misc.pagination.prev'),
                                    "url": pagination.prevLink
                                },
                                nextLink = {
                                    "label": __('global.misc.pagination.next'),
                                    "url": pagination.nextLink
                                }
                            ) }}
                        {% endif %}
                    {% else %}
                        <p class="message s-prose">
                            {{ copy.pressRelease.noResultsFor }} "{{ entriesMeta.activeRegion.title }}",
                            <a href="{{ currentPath }}">{{ copy.pressRelease.viewAllPressReleases }}</a>
                        </p>
                    {% endif %}        
                </div>

                <div class="content-sidebar__secondary">

                    {% call card(accent = pageAccent) %}
                        <form action="" method="get">
                            {% set activeRegion = entriesMeta.activeRegion.slug if entriesMeta.activeRegion %}
                            <label class="ff-label" for="field-region">{{ copy.pressRelease.filterByRegion }}</label>
                            <select class="ff-select u-margin-bottom-s" name="region" id="field-region">
                                <option value=""{% if not activeRegion %} selected{% endif %}>
                                    {{ copy.pressRelease.allPosts }}
                                </option>
                                {% for region in entriesMeta.regions %}
                                    <optgroup label="{{ region.title }}">
                                        <option value="{{ region.slug }}"{% if activeRegion === region.slug %} selected{% endif %}>
                                            {{ copy.pressRelease.allPostsIn }} {{ region.title }}
                                        </option>
                                        {% for childRegion in region.children %}
                                            <option value="{{ childRegion.slug }}"{% if activeRegion === childRegion.slug %} selected{% endif %}>
                                                {{ childRegion.title }}
                                            </option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                            <input type="submit" value="{{ copy.pressRelease.filter }}" class="btn btn--small" />
                        </form>
                    {% endcall %}

                    {% call card(copy.pressRelease.pressReleaseArchive) %}
                        <p>
                            <a href="{{ localify('/news-and-events') }}">
                                {{ copy.pressRelease.viewOldPressReleases }}
                            </a>
                        </p>
                    {% endcall %}

                    {% set pressCopy = __('global.contact.press') %}
                    {% call card(pressCopy.title) %}
                        <div class="s-prose u-text-small">
                            {% for region in pressCopy.regions %}
                                <h4 class="t5">{{ region.title }}</h4>
                                <dl class="o-definition-list o-definition-list--wrapped">
                                    {% if region.phone %}
                                        <dt class="u-weight-normal">{{ __('global.misc.phone') | capitalize }}:</dt>
                                        <dd>{{ region.phone | safe }}</dd>
                                    {% endif %}
                                    {% if region.email %}
                                        <dt class="u-weight-normal">{{ __('global.misc.email') | capitalize }}:</dt>
                                        <dd>{{ region.email | mailto | safe }}</dd>
                                    {% endif %}
                                </dl>
                            {% endfor %}
                        </div>
                    {% endcall %}
                </div>
            </div>{#  end content-sidebar #}
        </section>
    </main>
{% endblock %}
