@each $name, $data in $themes {
    $fg: map-get($data, 'foreground');
    $bg: map-get($data, 'background');

    .accent--#{$name} {

        // border on top of elements
        &.accent-b-t,
        .accent-b-t {
            border-top: 3px solid $fg;
        }

        // border below elements *small* (eg. fixed width)
        &.accent-b-b-s:after,
        .accent-b-b-s:after {
            content: '';
            width: 100px;
            height: 5px;
            background-color: $fg;
            display: block;
            margin-top: $spacingUnit / 2;
            margin-bottom: $spacingUnit * 2;
        }

        // background colour of theme
        &.accent-bg,
        .accent-bg {
            background-color: $bg;
        }

        // block-colour heading background
        &.t1 span,
        .t1 span {
            background-color: $fg;
        }

        // hover state for above
        &.t1,
        .t1 {
            a {
                @include on-interact {
                    span {
                        background-color: darken($fg, 10%);
                    }
                }
            }
        }
    }
}