.art {
    background-repeat: no-repeat;
    background-position: 90% 80%;
    background-size: auto 70%;
    @include mq('tablet') {
        background-position: bottom right;
        background-size: auto 80%;
    }
}

.art--display-the-logo { background-image: url('../images/funding/display-the-logo.png'); }
.art--free-branded-material { background-image: url('../images/funding/free-branded-materials.png'); }
.art--local-press { background-image: url('../images/funding/local-press.png'); }
.art--tell-the-world { background-image: url('../images/funding/tell-the-world.png'); }