.form-fund {

    &.form-fund--inline {
        height: 40px;

        & > * {
            display: inline-block;
            margin-top: 0;
            height: 100%;
        }
    }

    input,
    textarea,
    select {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid palette('soft-grey');
        border-radius: $borderRadius;
        font-size: $baseFormElementFontSize;
        margin-right: $spacingUnit;
        padding: $spacingUnit / 4 $spacingUnit / 2;
    }

    input[type="submit"] {
        border: none;
    }

    .form-fund__item {
        display: block;
    }
}

.inline-form {
    input{
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #666666;
        font-size: 16px;

        @include input-placeholder {
            font-size: 16px;
        }
    }

    input[type='submit'] {
        display: block;
        width: 100%;
        margin-top: $spacingUnit * 2;
        border-bottom: none;
    }

    label {
        @extend .visually-hidden;
    }

}