.form-fund {

    &.form-fund--inline {
        height: 40px;

        & > * {
            display: inline-block;
            margin-top: 0;
            height: 100%;
        }
    }

    input[type="text"] {
        background-color: #ffffff;
        color: #000000;
        border: 2px solid #ffffff;
        border-radius: $borderRadius;
        font-size: $baseFormElementFontSize;
        margin-right: $spacingUnit;
        padding: $spacingUnit / 4 $spacingUnit / 2;

    }
}