.form-fund {

    &.form-fund--inline {
        height: 40px;

        & > * {
            display: inline-block;
            margin-top: 0;
            height: 100%;
        }
    }

    input,
    textarea,
    select {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid palette('soft-grey');
        border-radius: $borderRadius;
        font-size: $baseFormElementFontSize;
        margin-right: $spacingUnit;
        padding: $spacingUnit / 4 $spacingUnit / 2;
    }

    input[type="submit"] {
        border: none;
    }

    .form-fund__item {
        display: block;
    }
}

.inline-form {
    input {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #666666;
        font-size: 16px;
        color: #333333;

        @include input-placeholder {
            font-size: 16px;
            color: #808080;
        }

        &.is-error {
            @include input-placeholder {
                color: #c6183d;
            }
        }
    }

    input[type='submit'] {
        display: block;
        width: 100%;
        margin-top: $spacingUnit * 2;
        border-bottom: none;
    }

    label {
        @extend .visually-hidden;
    }

}

.form-ebulletin {
    background-color: palette('pale-pink');

    .intro {
        font-size: 18px;
    }


    .form-ebulletin--grid {
        @include mq('tablet', 'max') {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            .label--radio {
                margin: 0;
                padding: 10px;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 50%;
            }
        }
    }


    .form-fund__item {
        display: block;
        width: 100%;
        padding: 3px;
        background-color: transparent;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid palette('pink');
        padding-bottom: 6px;
        margin: $spacingUnit 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        display: block;
        line-height: 1;
        color: palette('pink');
        font-weight: 400;
        font-size: 20px;
    }

    label.form-fund__item {
        @extend .visually-hidden;
    }

    input[type='radio'] {
        float: right;
        font-size: 22px;
    }

    input {
        &.is-error {
            background-color: darken(palette('pale-pink'), 30%);
            color: #ffffff;

            @include input-placeholder {
                color: #ffffff;
            }
        }
    }

    .form-ebulletin__btn {
        @include mq('tablet', 'max') {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto
        }
    }

}