* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, p {
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    // margin-top is defined by the lobotomised owl
}

ol, ul, li,
.unstyled, .unstyled li {
    list-style-type: none;
}

address {
    font-style: normal;
}

img {
    width: 100%;
}

a img {
    border: none;
}