// base font settings
body, p, input, textarea, button {
    font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', arial, sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: palette('blue');
    transition: color 0.3s ease-in-out;
    text-decoration: none;

    @include on-interact {
        text-decoration: underline;
        color: darken(palette('blue'), 20%);
    }
}

// heading styles

// blocked-out colourised background
.t1 {
    font-size: 30px;
    line-height: 1.6;
    font-weight: 600;
    width: 440px; // @TODO
    margin: $spacingUnit 0;
    span {
        background-color: #eeeeee;
        color: #fff;
        display: inline;
        padding: $spacingUnit / 4 $spacingUnit / 2;
        box-decoration-break: clone;
    }
}

// all-caps
.t2 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}