// base font settings
body, p, input, textarea, button {
    font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', arial, sans-serif;
}

p {
    line-height: 1.5;
}

a {
    color: palette('blue');
    transition: color 0.3s ease-in-out;
    text-decoration: none;

    @include on-interact {
        text-decoration: underline;
        color: darken(palette('blue'), 20%);
    }
}

// @TODO do we want to make these classes instead of mixins?
@mixin heading($level: beta) {
    @if $level == 'alpha' {
    } @else if $level == 'beta' {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
    } @else if $level == 'gamma' {
        line-height: 2;
        width: $blockyWidth;
        margin: $spacingUnit 0;
        span {
            background-color: #eeeeee;
            color: #fff;
            display: inline;
            padding: $spacingUnit / 2;
            box-decoration-break: clone;
        }
    } @else if $level == 'delta' {
    } @else if $level == 'epsilon' {
    } @else if $level == 'zeta' {
    }
}

.h-blocky {
    @include heading('gamma');
}