// base font settings
body, p, input, textarea, button {
    font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', arial, sans-serif;
    margin: 0;
}

p {
    @include font-and-leading(20px, 27px);
    color: palette('charcoal');
}

a {
    color: palette('blue-text');
    transition: color 0.1s ease-in-out;

    @include on-interact {
        text-decoration: underline;
        color: darken(palette('blue-text'), 20%);
    }
}

// heading styles

// blocked-out colourised background
.t1 {
    font-weight: 600;
    max-width: 440px; // @TODO make factor of font size?
    @include font-and-leading(28px, 50px);

    span {
        background-color: #eeeeee;
        color: #fff;
        display: inline;
        padding: $spacingUnit / 4 $spacingUnit / 2;
        box-decoration-break: clone;
    }

    &.minor {
        max-width: 200px; // @TODO make factor of font size?
        @include font-and-leading(18px, 33px);
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }

    // icon font
    i {
        margin-left: 3px;
        vertical-align: text-top;
    }
}

// all-caps
.t2 {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.t3 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}

.t4 {
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
}

.t5 {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 900;
}