.btn {
    background-color: #ffffff;
    color: palette('charcoal');
    font-size: $baseFormElementFontSize;
    text-decoration: none;
    border: none;
    border-radius: $borderRadius;
    vertical-align: top;
    display: inline-block;
    padding: $spacingUnit / 4 $spacingUnit;
    text-align: center;

    @include mq('desktop') {
        padding: $spacingUnit / 4 $spacingUnit * 2;
    }

    @include on-interact {
        background-color: #eeeeee;
        outline: none;
    }

    .contrast--high & {
        &:active {
            outline: 3px solid palette('pink');
        }
    }

    &.btn--cta {
        color: #333333;
        background-color: #ffffff;

        @include on-interact {
            background-color: darken(#ffffff, 10%);
            text-decoration: none;
        }
    }

    &.btn--cta--large {
        padding: $spacingUnit / 2 $spacingUnit;
        .lighter {
            font-weight: 300;
        }
    }

    &.btn--small {
        font-size: $baseFormElementFontSize / 1.6;
        padding: $spacingUnit / 5 $spacingUnit / 1.5;
    }

    &.btn--block {
        display: block;
    }

    &[disabled='disabled'] {
        background-color: grey !important;
        @include on-interact {
            background-color: grey !important;
        }
    }
}
