.btn {
    background-color: #ffffff;
    color: palette('charcoal');
    font-size: $baseFormElementFontSize;
    text-decoration: none;
    border: none;
    border-radius: $borderRadius;
    vertical-align: top;
    display: inline-block;
    padding: $spacingUnit / 4 $spacingUnit;
    text-align: center;

    @include mq('desktop') {
        padding: $spacingUnit / 4 $spacingUnit * 2;
    }

    @include on-interact {
        background-color: #eeeeee;
        outline: none;
    }

    .contrast--high & {
        &:active {
            outline: 3px solid palette('pink');
        }
    }

    &.btn--cta {
        color: #333333;
        background-color: #ffffff;

        @include on-interact {
            background-color: darken(#ffffff, 10%);
            text-decoration: none;
        }
    }

    &.btn--cta--large {
        padding: $spacingUnit / 2 $spacingUnit;
        .lighter {
            font-weight: 300;
        }
    }

    &.btn--small {
        font-size: $baseFormElementFontSize / 1.6;
        padding: $spacingUnit / 5 $spacingUnit / 1.5;
    }

    &.btn--mid {
        $midVertPadding: 10px;
        font-size: 18px;
        padding-top: $midVertPadding;
        padding-bottom: $midVertPadding;
    }

    &.btn--massive {
        font-size: 20px;
    }

    &.btn--block {
        display: block;
    }

    &.btn--block--small-only {
        @include mq('tablet', 'max') {
            display: block;
        }
    }

    &.btn--outline {
        padding-left: $spacingUnit;
        padding-right: $spacingUnit;
        background-color: #ffffff;
        border: 3px solid #cccccc;
        font-family: 'Poppins', arial, sans-serif;
        font-weight: 600;
        font-size: 14px;

        &.btn--outline--large {
            padding: 13px $spacingUnit;
        }
    }


    &[disabled='disabled'] {
        @include disabledBtn();
    }
}

.btn__icon {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    margin-right: 5px;
}

.btn.btn--pink {
    background-color: palette('pink') !important;
    @include on-interact {
        background-color: darken(palette('pink'), 10%) !important;
    }
}

.btn.btn--pink-alt {
    background-color: palette('pink-alt') !important;
    @include on-interact {
        background-color: darken(palette('pink-alt'), 10%) !important;
    }
}

.btn--carousel {
    position: absolute;
    top: 50%;
    color: palette('blue');
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    left: 0;
    z-index: 100;
    margin-top: 0;

    @include mq('tablet') {
        left: -$spacingUnit*3;
    }

    @include on-interact {
        color: lighten(palette('blue'), 20%);
    }

    &.btn--carousel--next {
        left: auto;
        right: 0;
        @include mq('tablet') {
            right: -$spacingUnit*3;
        }
    }

    .icon--arrow-left,
    .icon--arrow-right {
        width: 24px;
        height: 40px;
        fill: #1a44a1;
    }

    &.btn--carousel--round {
        background-color: palette('pink');
        border-radius: 100%;
        height: 40px;
        width: 40px;

        @include on-interact {
            background-color: darken(palette('pink'), 5%);
        }

        &.btn--carousel--next {
            right: $spacingUnit;
        }

        &.btn--carousel--prev {
            left: $spacingUnit;
        }

        .icon--arrow-left,
        .icon--arrow-right {
            fill: #ffffff;
            text-align: center;
            height: 36px;
        }
    }
}