.stats-holder {
    position: relative;
}

.stats__icon {
    margin-top: 0;
    min-height: 200px;
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &.stats__icon--1 { background-image: url('../images/data/1.png');}
    &.stats__icon--2 { background-image: url('../images/data/2.png');}
    &.stats__icon--3 { background-image: url('../images/data/3.png');}
    &.stats__icon--4 { background-image: url('../images/data/4.png');}
    &.stats__icon--5 { background-image: url('../images/data/5.png');}
    &.stats__icon--6 { background-image: url('../images/data/6.png');}
    &.stats__icon--7 { background-image: url('../images/data/7.png');}
    &.stats__icon--8 { background-image: url('../images/data/8.png');}
    &.stats__icon--9 { background-image: url('../images/data/9.png');}

    dl {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.stats-btn {
    position: absolute;
    top: 50%;
    color: palette('blue');
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    left: 0;

    @include mq('tablet') {
        left: -$spacingUnit*3;
    }

    @include on-interact {
        color: lighten(palette('blue'), 20%);
    }

    &.stats-btn--next {
        left: auto;
        right: 0;
        @include mq('tablet') {
            right: -$spacingUnit*3;
        }
    }

    .icon--arrow-left,
    .icon--arrow-right {
        width: 24px;
        height: 40px;
        fill: #1a44a1;
    }
}

.stats {

    div {
        margin-top: 0;
    }

    li {
        margin: 0;
    }

    dl {
        margin-top: 0;
        text-align: center;
    }

    dt, dd {
        @include font-body();
        margin: 0;
    }

    dt {
        color: palette('pink');
        font-size: 42px;
        line-height: 1;
        font-weight: 600;
        max-width: 150px;
        margin: 10px auto;
    }

    dd {
        color: palette('charcoal');
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        max-width: 150px;
        margin: auto;
    }
}

.grant-list {
    margin: $spacingUnit 0;

    li {
        margin: 0 0 $spacingUnit 0;
        text-align: left;
        border-bottom: 1px dotted #ccc;
        padding-bottom: $spacingUnit;
    }
}

.map-wrapper {
    width: 50%;
    margin: auto;

    svg {
        width: 100%;
        path:hover {
            fill: palette('pink');
            cursor: pointer;
        }
    }
}

.map-holder {
    background-color: #f0f4ff;
}

.map-info {

    @include mq('tablet') {
        width: 160px;
        position: absolute;
        z-index: 10;
        right: -$spacingUnit;
        top: 20px;
    }

    @include mq('desktop') {
        width: 250px;
        top: $spacingUnit * 4;
        right: -$spacingUnit * 4;
    }

}