.stats-holder {
    position: relative;
}

.stats__icon {
    padding: $spacingUnit * 2;

    @include mq('tablet') {
        padding: 0;
        margin: 0;
        text-align: left;
        min-height: 200px;
        position: relative;
    }

    .stats__icon__detail {
        @include mq('tablet') {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            padding: $spacingUnit;
        }
    }
}


.stats {

    div {
        margin-top: 0;
    }

    li {
        margin: 0;
    }

    dl {
        margin-top: 0;
    }

    dt, dd {
        @include font-body();
        margin: 0;
    }

    li:nth-child(odd) {
        .number {
            color: palette('blue');
        }
    }

    .number {
        color: palette('pink');
        display: inline-block;
        font-family: 'Poppins', arial, sans-serif;
        line-height: 1;
        font-weight: 600;
        margin: 5px 0;
        font-size: 50px;

        @include mq('tablet') {
            font-size: 40px;
        }

        &.number--suffix {
            font-size: 20px;
        }
    }

    .caption {
        margin-top: 0;
        display: block;
        color: palette('charcoal');
        font-family: 'Poppins', arial, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;

        @include mq('tablet') {
            font-size: 14px;
        }
    }
}

.grant-list {
    margin: $spacingUnit 0;

    li {
        margin: 0 0 $spacingUnit 0;
        text-align: left;
        border-bottom: 1px dotted #ccc;
        padding-bottom: $spacingUnit;
    }
}

.map-wrapper {
    margin: auto;
    width: 90%;

    @include mq('tablet') {
        width: 50%;
    }

    svg {
        width: 100%;
    }
}

.map-holder {
    background-color: #f0f4ff;
}

.map-info {

    .map-info__item {
        margin-bottom: $spacingUnit;
    }

    .js-on & {

        @include mq('tablet') {
            width: 160px;
            position: absolute;
            z-index: 10;
            right: -$spacingUnit;
            top: 20px;
        }

        @include mq('desktop') {
            width: 250px;
            top: $spacingUnit * 4;
            right: -$spacingUnit * 4;
        }
    }

}

// @TODO this is effectively mirroring the accents concept
// is there a way to merge them?

$mapRegions: (
    "default": #E4E3E1,
    "east-midlands": #86BD3F,
    "east-england": #C84548,
    "london": #6F9CCA,
    "north-east": #FACA36,
    "north-west": #518A34,
    "northern-ireland": #80e1b0,
    "scotland": #73579E,
    "south-east": #DA559A,
    "south-west": #3585B5,
    "wales": #4EACE1,
    "west-midlands": #F7B534,
    "yorkshire": #EF7A70
);

.region {
    fill: map-get($mapRegions, "default");
}

@each $region, $colour in $mapRegions {
    @if ($region != 'default') {

        .region--#{$region} {
            fill: $colour;

            @include on-interact {
                fill: palette('pink');
            }
        }

        // 
        .region--#{$region}.tab--active {

        }

        .region--#{$region}--b-t {
            border-top-color: $colour !important;
        }

        .region--#{$region}--b-b {
            &:after {
                border-bottom-color: $colour !important;
            }
        }
    }
}