@mixin nav-link-style($color: palette('blue')) {
    @include font-body();
    font-weight: 600;
    font-size: 14px;
    color: $color;
}

.header__inner {
    position: relative;
}

.logo {
    width: #{$logoHeight + $logoPadding};
    height: #{$logoHeight + $logoPadding};
    background-image: url(../images/logo.gif);
    background-repeat: no-repeat;
    background-size: auto $logoHeight;
    background-position: left center;
    text-indent: -1000em;
}

.nav {
    margin-top: 20px; // offset to match logo
    margin-bottom: $spacingUnit;

    @include mq('tablet') {
        margin-left: $spacingUnit;
        margin-bottom: 0;
    }

    li {
        @include nav-link-style();
        margin-top: 0;

        &.nav__link {
            border-right: 2px solid palette('soft-grey');
            padding-right: $spacingUnit / 2;
            margin-right: $spacingUnit / 2;

            &.selected,
            &.selected a {
                color: palette('pink');
            }

            &, a {
                color: palette('blue');
            }

            a {
                text-decoration: none;
                @include on-interact {
                    text-decoration: underline;
                }
            }

            @include mq('tablet') {
                padding-right: $spacingUnit;
                margin-right: $spacingUnit;
            }

            &.nav__link--last {
                padding-right: 0;
                border-right: none;
            }
        }

    }
}

.nav__search {
    margin-left: auto; // move to right
    position: absolute;
    top: $logoHeight / 3;
    right: 0;

    @include mq('tablet') {
        position: relative;
        top: auto;
        right: auto;
    }

    input {
        @include nav-link-style(#000000);
        margin-top: 0;
        width: 100px;
        border: 0;
        padding: $spacingUnit / 4;
        border: 1px solid palette('soft-grey');

        @include input-placeholder {
            @include nav-link-style();
        }
    }
}

.form-search__icon {
    font-size: 23px;
    line-height: 0;
    vertical-align: middle;
    color: palette('soft-grey');
    margin-right: $spacingUnit / 4;
}