.hero__map {
    background-image: url(../images/hero-map.jpg);
    height: 635px;
    background-size: cover;

    // hackery for overlaid map
    @include mq('tablet') {
        background-size: contain;

        .hero__map__bg {
            &.hero__map__bg--top {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: $mapGutterWidth;
                    height: $mapHeroGutter;
                    background-color: $heroBgEnd;
                }
                &:after {
                    left: auto;
                    right: 0;
                }
            }

            &.hero__map__bg--bottom {
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: $mapGutterWidth;
                    height: $mapHeroGutter;
                    background-color: #ffffff;
                }
                &:after {
                    left: auto;
                    right: 0;
                }
            }
        }
    }

    .hero__map__container {
        position: relative;
        height: 100%;
        width: calc(100% - #{$contentGutterWidthMobile*2});

        @include mq('tablet') {
            margin-left: $mapGutterWidth;
            margin-right: $mapGutterWidth;
            width: #{100% - $mapGutterWidth*2};
        }

        @include mq('desktop') {
            margin-left: $mapGutterWidth;
            margin-right: $mapGutterWidth;
            width: #{100% - $mapGutterWidth*2};
        }

    }

    .hero__map__overlay {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.75);
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    }
}


.map-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - #{$mapBoxHeightMobile});

    @include mq('tablet') {
        height: 100%;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        path:hover {
            fill: $ctaPink;
            cursor: pointer;
        }
    }
}

.map-info {
    background-color: $mapBoxOff;
    background-image: url(../images/box-corner.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 56px 43px;
    padding: 20px;
    color: #ffffff;
    height: $mapBoxHeightMobile;

    @include mq('tablet') {
        height: auto;
        position: absolute;
        width: 250px;
        z-index: 10;
        right: -180px;
        top: 20px;
    }

    @include mq('desktop') {
        top: $mapHeroGutter + 20px;
    }

    .map-info__subhead,
    .map-info__head,
    .map-info__num-awards,
    .map-info__cta {
        display: inline-block;

        @include mq('desktop') {
            display: block;
        }
    }

    .map-info__subhead {
        text-transform: uppercase;
        font-family: 'Poppins', arial, sans-serif;
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .map-info__head {
        margin-bottom: 5px;
    }

    .map-info__num-awards,
    .map-info__num-grants {
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 5px;
        line-height: 1.4;
        letter-spacing: 1px;
    }

    .map-info__hr {
        margin: 20px 0;
        height: 3px;
        background-color: #ffffff;
        border: none;
        border-radius: 5px;
    }

}