.segment {

    $segmentBg: #f5fafb;

    @include mq('tablet') {
        display: flex;
        margin-bottom: $spacingUnit * 2;
    }

    .segment__media {

        @include mq('tablet', 'max') {
            background-color: $segmentBg;
            padding: $spacingUnit $spacingUnit 0 $spacingUnit;

            img {
                display: none;
            }

            .segment__title {
                position: static;
                top: auto;
                left: auto;
                margin: 0;
            }
        }

        @include mq('tablet') {
            width: 300px;
            margin-right: $spacingUnit / 2;
            flex-shrink: 0;
        }
    }

    .segment__aside {
        background-color: $segmentBg;
        flex-grow: 1;

        @include mq('tablet', 'max') {
            margin-top: 0;
        }

        @include mq('tablet') {
            @include bordered();
            margin-top: 0;
        }
    }
}