{% import "./components/hero.njk" as hero %}
{% import "./components/headers.njk" as headers %}

{% extends "./layouts/main.njk" %}

{% block title %}{{ errorTitle }} | Error {{ status }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.blockheader('h2', errorTitle) }}
    {% endset %}

    {{ hero.header('reading', heroContent, 'pink') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p-text accent--pink accent-b-t bg-plain bordered">
            <h3 class="t3">Error {{ status }} &ndash; {{ message }}</h3>
            <p>We're sorry, we are unable to show you this page at the moment. You can <a href="/">return to our homepage</a>, or visit us on <a href="https://www.facebook.com/BigLotteryFund">Facebook</a> or <a href="https://twitter.com/BigLotteryFund">Twitter</a>.</p>
            <p>If you keep encountering problems accessing our pages, please <a href="mailto:webmaster@biglotteryfund.org.uk">let us know</a>.</p>

            <h3 class="t3 m-t">Gwall {{ status }} &ndash; {{ message }}</h3>
            <p>Yn anffodus ni allwn ddangos y dudalen hon ar hyn o bryd. Gallwch ddychwelyd i’r hafan neu ymweld â ni ar <a href="http://facebook.com/biglotteryfundwales">Facebook</a> neu <a href="http://twitter.com/loterifawrcymru">Twitter</a>. Os byddwch yn profi anhawster o hyd wrth gyrchu ein tudalennau, <a href="mailto:webmaster@biglotteryfund.org.uk">rhowch wybod i ni</a>.</p>


            {% if appData.IS_DEV and error.stack %}
                <h4>Stack trace:</h4>
                <pre>{{ error.stack }}</pre>
            {% endif %}
        </div>
    </article>

{% endblock %}