{% extends "layouts/main.njk" %}

{% block content %}

    <div class="hero hero--reading" role="complementary">
        <section class="hero__inner">
            <div class="inner accent--pink">
                <div class="nudge-bottom">
                    <h2 class="t1 m-b"><span>What did we fund near you?</span></h2>
                    <form class="form-fund form-fund--inline" action="/lookup">
                        <input type="text" placeholder="eg. B14 7EW" name="postcode">
                        <input type="submit" class="btn btn--cta" value="Look up awards">
                    </form>
                </div>
            </div>
        </section>
    </div>

    <article role="main" class="accent--pink">
        <div class="inner p accent-b-t accent-bg">
            <h3 class="t3">Our year in numbers</h3>
            <ul class="stats">
                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>11,779</dt>
                        <dd>Number of awards made</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>91.3%</dt>
                        <dd>Percentage of awards to the voluntary &amp; community sectors</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>89.1%</dt>
                        <dd>Percentage of awards for less than &pound;10,000</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>&pound;650 million</dt>
                        <dd>Total grantmaking</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>6.6%</dt>
                        <dd>Total operating costs</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>&pound;276</dt>
                        <dd>Smallest award made through the Communities &amp; Families Fund</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </article>


    <article role="main" class="accent--blue">
        <div class="inner p accent-b-t accent-bg">
            <h3 class="t3">Where we fund projects</h3>
            <div class="map-wrapper">
                {% include "includes/uk-svg.njk" %}
            </div>

            <!--<div class="map-info hidden" id="js-map-info">-->
                <!--<h5 class="map-info__subhead">Region</h5>-->
                <!--<h4 class="map-info__head" id="js-region-name"></h4>-->
                <!--<p class="map-info__num-grants">Number of grants made: <span id="js-num-grants"></span></p>-->
                <!--<p class="map-info__num-awards">Total awarded: <span id="js-num-awards"></span></p>-->
                <!--<hr class="map-info__hr desktop-only">-->
                <!--<p class="map-info__cta"><a class="btn btn&#45;&#45;small" id="js-read-more" href="#">Read more</a></p>-->
            <!--</div>-->
        </div>
    </article>

{% endblock %}