<!doctype html>
<html>
    <head>
        <title>Language editor: {{ locale }}</title>
    </head>
    <body>
        <div id="js-editor"></div>

        <script src="/assets/jsoneditor/jsoneditor.min.js"></script>
        <script>

            fetch(window.location, { method: 'post' }).then((r) => r.json()).then((json) => {
                console.log(json);
                let editor = new JSONEditor(document.getElementById('js-editor'), {
                    schema: {json}
                });
            });

        </script>

    </body>
</html>
