<%- include('inc/head', {}); %>

<div class="hero hero--reading">
    <section class="hero__inner">
        <div class="inner">
        </div>
    </section>
</div>

<article class="nudge-up accent--pink">
    <div class="inner nudge__inner accent-b-t">
        <h1 class="accent-b-b-s">This is heading one</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et scelerisque ipsum. Duis ut quam dolor. Sed ac nunc sem. Nam vel vestibulum massa, ut placerat nulla. <a href="#">Sed pulvinar erat quis orci molestie</a>, imperdiet elementum nisl cursus. Donec vehicula, sem a lobortis dignissim, est augue pulvinar orci, ac ultricies turpis nunc eget nulla. In lectus nunc, varius ut nisi vel, aliquam ornare justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ut purus sollicitudin, mattis sem at, faucibus dolor.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et scelerisque ipsum. Duis ut quam dolor. Sed ac nunc sem. Nam vel vestibulum massa, ut placerat nulla. Sed pulvinar erat quis orci molestie, imperdiet elementum nisl cursus. Donec vehicula, sem a lobortis dignissim, est augue pulvinar orci, ac ultricies turpis nunc eget nulla. In lectus nunc, varius ut nisi vel, aliquam ornare justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam ut purus sollicitudin, mattis sem at, faucibus dolor.</p>

        <h2>This is heading two</h2>
        <p>Sed risus eros, vestibulum pulvinar varius in, eleifend quis mi. Donec euismod neque a leo egestas, non maximus nisi dictum. Sed ut augue ac augue consectetur fermentum sed sed turpis. Duis tempor fringilla nulla, ac ullamcorper nulla consectetur nec. Fusce commodo gravida elit. Donec vel dui urna. Praesent ut sodales risus. Praesent non nulla sem. Vivamus vestibulum orci ac ante semper hendrerit. Nunc id imperdiet nisi. In a tortor in est mollis finibus ac at arcu. Sed finibus ultricies metus, eget scelerisque odio scelerisque nec. Suspendisse tincidunt vulputate ex. Curabitur molestie odio ex, et accumsan orci placerat vitae.</p>

        <h3 class="h-blocky accent--pink"><span>This is heading three</span></h3>
        <p>Quisque eu ante et nulla vehicula imperdiet id in nibh. Vestibulum luctus urna at risus egestas euismod. Duis ornare aliquet tincidunt. Fusce pretium justo in neque venenatis condimentum. Etiam ultrices est enim, ut faucibus ante venenatis sit amet. Sed mollis facilisis fringilla. Integer id libero consequat felis fringilla euismod. Nulla imperdiet velit sed velit cursus, et ultricies est tristique. Mauris enim neque, malesuada et diam non, consequat suscipit metus. Proin gravida ultrices gravida. Vestibulum eu egestas urna, et eleifend justo. Vestibulum fermentum pharetra lacus non vehicula. Vivamus id pharetra diam, a tempor dolor. Aenean scelerisque arcu vel felis iaculis, sed faucibus eros tempus.</p>

        <h4>This is heading four</h4>
        <p>Aliquam cursus porttitor tincidunt. Proin cursus dapibus mauris, sed convallis arcu feugiat in. Suspendisse condimentum dolor eu tellus vulputate interdum. Ut venenatis, justo vitae vulputate accumsan, est est iaculis sem, quis maximus urna urna bibendum purus. Sed augue neque, varius eu aliquet at, semper accumsan enim. Sed fermentum turpis eu iaculis condimentum. Integer cursus malesuada ligula, non ultrices metus faucibus vel. Integer euismod arcu in magna posuere, a dapibus eros blandit. Suspendisse neque lorem, consequat a lorem venenatis, malesuada mattis leo. Phasellus tristique tincidunt sapien in commodo.</p>

        <h5>This is heading five</h5>
        <p>In hac habitasse platea dictumst. Nunc at massa nisl. Proin rutrum massa tristique urna luctus, at tempus ante dignissim. Vestibulum porttitor nibh eu hendrerit vestibulum. Pellentesque hendrerit dapibus dapibus. Nulla dolor est, fringilla nec condimentum non, egestas vitae lectus. Proin malesuada sapien vel justo gravida, ut efficitur orci cursus. Cras quis iaculis justo, dapibus fringilla arcu. Etiam laoreet feugiat scelerisque. Aenean et orci malesuada, ullamcorper libero sed, elementum massa.</p>

        <h6>This is heading six</h6>
        <p>Quisque eu ante et nulla vehicula imperdiet id in nibh. Vestibulum luctus urna at risus egestas euismod. Duis ornare aliquet tincidunt. Fusce pretium justo in neque venenatis condimentum. Etiam ultrices est enim, ut faucibus ante venenatis sit amet. Sed mollis facilisis fringilla. Integer id libero consequat felis fringilla euismod. Nulla imperdiet velit sed velit cursus, et ultricies est tristique. Mauris enim neque, malesuada et diam non, consequat suscipit metus. Proin gravida ultrices gravida. Vestibulum eu egestas urna, et eleifend justo. Vestibulum fermentum pharetra lacus non vehicula. Vivamus id pharetra diam, a tempor dolor. Aenean scelerisque arcu vel felis iaculis, sed faucibus eros tempus.</p>
    </div>
</article>

<%- include('inc/footer', {}); %>