{% import "./components/hero.njk" as hero %}
{% import "./components/headers.njk" as headers %}
{% import "./components/tabs.njk" as tabs %}

{% extends "./layouts/main.njk" %}

{% block title %}Tabs | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', 'Tab test') }}
    {% endset %}

    {{ hero.header('reading', heroContent, 'pink') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only accent--pink a--border-top content-box">

            {{ tabs.tabs(id = 'menu', content = [
                {
                    title: 'Item one',
                    content: 'Hello world'
                },
                {
                    title: 'Item two',
                    content: 'I am a pane'
                }
            ]) }}

            {{ tabs.tab('Some other tab', 'menu2', 'menu') }}

        </div>
    </article>

{% endblock %}