{% extends "layouts/main.njk" %}

{% from "components/hero.njk" import hero with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/icons.njk" import iconClose, iconDownload %}
{% from "components/form-fields/macros.njk" import inputChoice, inputSelect with context %}

{% from "../../updates/views/view-helpers.njk" import entryRegions with context %}
{% from "../../grants/views/helpers.njk" import facetGroup %}

{% set basePageUrl = localify('/insights/documents') %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            {{ breadcrumbTrail(breadcrumbs) }}
            {% call contentBox() %}
                {{ copy.intro | safe }}
            {% endcall %}
        </div>

        <form class="u-inner" method="get" action="">

            {% if entriesMeta.activeTag %}
                <input type="hidden" name="tag" value="{{ entriesMeta.activeTag.value }}" />
            {% endif %}

            <div class="search-bar">
                <label class="ff-label"
                       for="search-query">
                    Search our documents
                </label>
                <div class="form-field-addon u-margin-bottom-s">
                    <input
                        class="form-field-addon__input"
                        type="search"
                        id="search-query"
                        name="q"
                        value="{{ queryParams.q }}"
                        autocomplete="off"
                        data-hj-whitelist
                    />
                    <input
                        class="form-field-addon__action"
                        type="submit"
                        value="Search"
                    />
                </div>
                <p class="ff-help u-no-margin">
                    Search for a keyword such as "loneliness" or an organisation name
                </p>
            </div>

            <div class="search">

                {# Search totals #}
                <div class="search__meta">
                    <h2 class="search__total t--underline">
                        {{ researchEntries.length }} document{{ researchEntries.length | pluralise("", "s") }} found
                    </h2>
                </div>

                <div class="search__meta">
                    {# Filter summary #}

                    <ul class="filter-list">
                        {% if entriesMeta.activeProgramme or entriesMeta.activePortfolio or entriesMeta.activeDocType or entriesMeta.activeTag %}

                            {% macro filterField(field, param) %}
                                {% if field %}
                                    <li class="filter-list__item">
                                        <a class="active-filter"
                                           title="{{ field.label }}"
                                           href="?{{ queryParams | removeQueryParam(param) }}">
                                            {{ field.label }}
                                            {{ iconClose() }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endmacro %}

                            {{ filterField(entriesMeta.activeProgramme, 'programme') }}
                            {{ filterField(entriesMeta.activePortfolio, 'portfolio') }}
                            {{ filterField(entriesMeta.activeDocType, 'doctype') }}
                            {{ filterField(entriesMeta.activeTag, 'tag') }}

                            <li class="filter-list__item">
                                <a class="btn-link" href="{{ basePageUrl }}">Clear all filters</a>
                            </li>
                        {% endif %}
                    </ul>

                    {# Sort controls #}
                    <div class="search__sort">
                        <div class="sort-controls">
                            <label class="ff-label" for="field-sort">Ordered by</label>
                            <select
                                class="ff-select"
                                name="sort"
                                id="field-sort"
                            >
                                {% if queryParams.q %}
                                    <option value="score"{% if queryParams.sort === 'score' %} selected{% endif %}>
                                        Most relevant
                                    </option>
                                {% endif %}
                                <option value="newest"{% if queryParams.sort === 'newest' %} selected{% endif %}>Newest first</option>
                                <option value="oldest"{% if queryParams.sort === 'oldest' %} selected{% endif %}>Oldest first</option>
                            </select>
                            <input type="submit" value="Sort" class="btn btn--small">
                        </div>
                    </div>
                </div>

                <div class="search__content">

                    <div class="search__results">

                        {% if researchEntries.length > 0 %}

                            {% for entry in researchEntries %}
                                <div class="u-margin-bottom-s">
                                    {% set subtitle %}
                                        {% for programme in entry.relatedFundingProgrammes %}
                                            {{ programme.title }}
                                        {% endfor %}
                                        &mdash;
                                        <time datetime="{{ props.postDate.date }}">
                                            {{ formatDate(entry.postDate.date, 'YYYY') }}
                                        </time>
                                    {% endset %}
                                    {% call promoCard({
                                        "title": entry.title,
                                        "subtitle": subtitle | safe,
                                        "trailText": entry.summary,
                                        "link": {
                                            "url": entry.document.url,
                                            "label": 'View document'
                                        }
                                    }) %}
                                        {% set docTitle = entry.documentType.title + ' (' + entry.document.filetype | upper + ', ' + entry.document.filesize + ')' %}
                                        <p>
                                            {% if entry.relatedInsightsPage %}
                                                <a class="btn btn--outline btn--small" href="{{ entry.relatedInsightsPage.linkUrl }}">
                                                    Read summary
                                                </a>
                                            {% endif %}
                                            <a class="btn btn--outline btn--small" href="{{ entry.document.url }}">
                                                {{ iconDownload() }}
                                                {{ docTitle }}
                                            </a>
                                        </p>
                                        <dl class="o-definition-list o-definition-list--compact u-border-top--thin u-padded-top">
                                            {% if entry.portfolio.length > 0 %}
                                                <dt>Region</dt>
                                                {% for region in entry.portfolio %}
                                                    <dd>{{ region.title }}</dd>
                                                {% endfor %}
                                            {% endif %}

                                            <dt>Partner</dt>
                                            <dd>{{ entry.partnershipName }}</dd>

                                            {% if entry.tags %}
                                                {% set comma = joiner() %}
                                                <dt>Tags</dt>
                                                <dd>
                                                    {%- for tag in entry.tags -%}
                                                        {{ comma() }} <a href="?{{ queryParams | addQueryParam('tag', tag.slug) }}">{{ tag.title }}</a>
                                                    {%- endfor -%}
                                                </dd>
                                            {% endif %}

                                        </dl>
                                    {% endcall %}
                                </div>
                            {% endfor %}

                            {% if pagination %}
                                {{ splitNav(
                                    prevLink = {
                                        "label": __('global.misc.pagination.prev'),
                                        "url": pagination.prevLink
                                    },
                                    nextLink = {
                                        "label": __('global.misc.pagination.next'),
                                        "url": pagination.nextLink
                                    }
                                ) }}
                            {% endif %}
                        {% else %}
                            <p>No results were found for this search – please try removing filters or entering a different query.</p>
                        {% endif %}
                    </div>

                    <div class="search__controls">

                        <fieldset class="search-filters">
                            <div class="search-filters__header">
                                <legend class="search-filters__title">Filter by</legend>
                                <a class="search-filters__clear-all btn-link" href="{{ basePageUrl }}">
                                    Clear all
                                </a>
                            </div>

                            {% call facetGroup('Funding programme') %}
                                {% set options = (entriesMeta.programmes.unshift({
                                    'label': 'Any programme',
                                    'value': ''
                                }), entriesMeta.programmes) %}
                                {{ inputSelect({
                                    type: 'select',
                                    name: 'programme',
                                    value: entriesMeta.activeProgramme.value if entriesMeta.activeProgramme,
                                    options: options,
                                    silentlyOptional: true
                                }) }}
                            {% endcall %}

                            {% call facetGroup('Region') %}
                                {% set options = (entriesMeta.portfolios.unshift({
                                    'label': 'Any region',
                                    'value': ''
                                }), entriesMeta.portfolios) %}
                                {{ inputSelect({
                                    type: 'select',
                                    name: 'portfolio',
                                    value: entriesMeta.activePortfolio.value if entriesMeta.activeProgramme,
                                    options: options,
                                    silentlyOptional: true
                                }) }}
                            {% endcall %}

                            {% call facetGroup('Document type') %}
                                {% set options = (entriesMeta.docTypes.unshift({
                                    'label': 'Any type',
                                    'value': ''
                                }), entriesMeta.docTypes) %}
                                {{ inputChoice({
                                    type: 'radio',
                                    name: 'doctype',
                                    value: entriesMeta.activeDocType.value if entriesMeta.activeDocType,
                                    options: options,
                                    silentlyOptional: true
                                }) }}
                            {% endcall %}

                            <div class="search-filters__actions">
                                <input type="submit" value="Apply filters" class="btn btn--medium">
                                <a class="btn-link" href="{{ basePageUrl }}">Clear all filters</a>
                            </div>

                        </fieldset>

                    </div>
                </div>
            </div>

        </form>

    </main>
{% endblock %}
