{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/research-card/macro.njk" import researchCard with context %}

{% block content %}
    <main role="main" id="content">
        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            {% call contentBox(pageAccent) %}
                {{ copy.intro | safe }}
            {% endcall %}

            <section class="u-inner-wide-only u-margin-bottom">
                <ul class="flex-grid flex-grid--3up">
                    {% for research in researchEntries %}
                        <li class="flex-grid__item">
                            {{ researchCard(research) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="u-align-center u-margin-bottom-l">
                <a class="btn btn--medium" href="{{ researchArchiveUrl }}">{{ copy.moreLinkText }}</a>
            </section>
        </div>
    </main>
{% endblock %}
