{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconClose %}
{% from "./materials-fields.njk" import textInput, radios with context %}

{% extends "controllers/common/views/information-page.njk" %}

{% macro textField(field) %}
    {{ textInput(
        fieldName = field.name,
        fieldLabel = __(field.label),
        inputType = field.type,
        required = field.required,
        showErrorsBelowFields = true
    ) }}
{% endmacro %}

{% macro stepControl(material, product, quantity) %}
    <form class="step-control" method="post"
          action="{{ formActionBase }}/update-basket">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <input type="hidden" name="materialId" value="{{ material.itemId }}">
        <input type="hidden" name="productId" value="{{ product.id }}">
        <input type="hidden" name="max" value="{{ material.maximum }}">
        {% if material.notAllowedWith %}
            <input type="hidden" name="notAllowedWith" value="{{ material.notAllowedWith | join(",") }}">
        {% endif %}

        <button class="btn step-control__button step-control__button--decrease"
                type="submit"
                value="decrease"
                name="action"{% if quantity == 0 %} disabled="disabled"{% endif %}
                v-bind:disabled="getQuantity('{{ product.id }}') == 0"
                v-on:click.prevent="changeQuantity($event)"
                aria-label="Decrease quantity">-
        </button>

        <div aria-label="Quantity" class="step-control__quantity js-material-count">
            <span class="js-only" v-cloak><% getQuantity('{{ product.id }}') %></span>
            <noscript>{{ quantity }}</noscript>
        </div>

        <button class="btn step-control__button step-control__button--increase"
                type="submit"
                value="increase"
                name="action"{% if material.maximum == quantity %} disabled="disabled"{% endif %}
                v-bind:disabled="getQuantity('{{ product.id }}') == {{ material.maximum }}"
                v-on:click.prevent="changeQuantity($event)"
                aria-label="Increase quantity">+
        </button>
    </form>
{% endmacro %}

{% macro materialProduct(material, product) %}
    {% set ordersForProduct = orders | find('productId', product.id) %}
    {% if ordersForProduct %}
        {% set quantity = ordersForProduct.quantity %}
    {% else %}
        {% set quantity = 0 %}
    {% endif %}
    <div class="material-product {% if quantity > 0 %}is-selected--no-js{% endif %}"
         v-bind:class="{ 'is-selected': getQuantity('{{ product.id }}') > 0 }">
        <h5 class="material-product__title t5">
            {% if product.name %}
                {{ product.name }}
            {% else %}
                {{ material.title }}
            {% endif %}
        </h5>
        {% if material.description %}
            <p class="material-product__subtitle">
                ({{ material.description }})
            </p>
        {% endif %}
        {{ stepControl(material, product, quantity) }}
    </div>
{% endmacro %}

{% macro materialCard(material, languageToShow, loopIndex) %}
    {% set applicableProducts = material.products | filter("language", languageToShow) %}
    <article class="material-card" id="qa-material-{{ languageToShow }}-{{ loopIndex }}">
        <header class="material-card__header">
            <h4 class="material-card__title t5">{{ material.title }}</h4>
        </header>
        <div class="material-card__media">
            {% set firstProductInLanguage = applicableProducts | first %}
            <a class="material-item__media" href="{{ firstProductInLanguage.image }}" target="_blank">
                <img src="{{ firstProductInLanguage.image }}" alt="{{ material.title }}"/>
            </a>
        </div>
        <footer class="material-card__actions">
            <ul class="material-card__products">
                {% for product in applicableProducts %}
                    <li class="material-card__products-item">
                        {{ materialProduct(material, product) }}
                    </li>
                {% endfor %}
            </ul>
        </footer>
    </article>
{% endmacro %}

{% macro listProducts(languageToShow) %}
    <ul class="flex-grid flex-grid--3up">
        {% for material in materials %}
            <li class="flex-grid__item">
                {{ materialCard(material, languageToShow, loop.index) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block contentPrimary %}
    {% if orderStatus == FORM_STATES.SUBMISSION_SUCCESS %}
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.success.title }}</h2>
            <h3 class="t2 accent--{{ pageAccent }} a--text">{{ copy.orderSubmitted.success.subtitle }}</h3>
            <p>{{ copy.orderSubmitted.success.body | safe }}</p>
        </div>
    {% elseif orderStatus == FORM_STATES.SUBMISSION_ERROR %}
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.failure.title }}</h2>
            <h3 class="t2 accent--{{ pageAccent }} a--text">{{ copy.orderSubmitted.failure.subtitle }}</h3>
        </div>
    {% else %}

        {# Warn about validation errors and link to anchor #}
        {% if orderStatus == FORM_STATES.VALIDATION_ERROR %}
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t2 accent--pink a--text">{{ copy.validationError.title }}</h2>
                <h3 class="t2 accent--{{ pageAccent }} a--text">
                    <a href="#{{ formAnchorName }}">{{ copy.validationError.link }}</a>
                </h3>
            </div>
        {% endif %}

        {# CMS content #}
        {{ super() }}

        <div id="js-vue" class="no-vue" data-orders="{{ orders | dump }}">
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2>{{ copy.locationPrompt }}</h2>

                <div class="o-button-group-flex">
                    <a href="#monolingual"
                        class="btn btn--small accent--{{ pageAccent }} a--btn"
                        v-on:click.prevent="toggleItemLanguage('monolingual')">
                        {{ copy.locations.monolingual }}
                    </a>
                    <a href="#bilingual"
                        class="btn btn--small accent--{{ pageAccent }} a--btn"
                        v-on:click.prevent="toggleItemLanguage('bilingual')">
                        {{ copy.locations.bilingual }}
                    </a>
                </div>
            </div>

            <div v-show="itemLanguage !== null">
                <div class="u-inner">
                    {# monolingual items #}
                    <div v-show="itemLanguage === 'monolingual'" id="monolingual">
                        <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.monolingual }})</noscript></h3>
                        {{ listProducts('monolingual') }}
                    </div>

                    {# bilingual items #}
                    <div v-show="itemLanguage === 'bilingual'" id="bilingual">
                        <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.bilingual }})</noscript></h3>
                        {{ listProducts('bilingual') }}
                    </div>

                </div>

                <div class="u-inner accent--{{ pageAccent }} a--border-top p" id="{{ formAnchorName }}">
                    <div class="u-padded">
                        <h3 class="t2">{{ copy.enterDeliveryAddress }}</h3>

                        <form class="form-materials" method="post">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <input type="hidden" name="languageChoice" value="" id="js-language-choice">

                            <div class="form-materials__field-group">
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourName) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourEmail) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourAddress1) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourAddress2) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourCounty) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourTown) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourCountry) }}</div>
                                <div class="form-materials__field-group-item">{{ textField(formFields.yourPostcode) }}</div>
                            </div>

                            {{ textField(formFields.yourProjectName) }}

                            <div class="form-materials__field-group">
                                <div class="form-materials__field-group-item">
                                    {{ radios(
                                        fieldName = formFields.yourReason.name,
                                        label = __(formFields.yourReason.label),
                                        options = formFields.yourReason.options,
                                        allowOther = formFields.yourReason.allowOther,
                                        translateOptionLabels = true,
                                        required = formFields.yourReason.required
                                    ) }}
                                </div>
                                <div class="form-materials__field-group-item">
                                    {{ radios(
                                        fieldName = formFields.yourGrantAmount.name,
                                        label = __(formFields.yourGrantAmount.label),
                                        options = formFields.yourGrantAmount.options,
                                        allowOther = formFields.yourGrantAmount.allowOther,
                                        translateOptionLabels = true,
                                        required = formFields.yourGrantAmount.required
                                    ) }}

                                    <input type="submit"{% if orders.length == 0 %} disabled="disabled"{% endif %}
                                        v-bind:disabled="isEmpty() && {{ orders.length }} === 0"
                                        value="{{ __('global.forms.submit') }}"
                                        class="btn u-margin-top-l"
                                        id="js-submit-material-order">
                                </div>
                            </div>

                            <div class="s-prose u-margin-top">
                                <h4>{{ copy.dataProtection.title }}</h4>
                                <div class="u-note">{{ copy.dataProtection.text | safe }}</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
