{% extends "layouts/main.njk" %}

{% from "components/hero.njk" import hero with context %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{% set copy = __('toplevel.newsletter') %}

{% block content %}

    <main role="main" id="content">

        {{ hero(title, pageHero.image) }}

        <div class="content-box u-inner-wide-only nudge-up">

            <div class="content-sidebar">

                <div class="content-sidebar__primary">
                    {% if status === 'SUCCESS' %}
                        <div class="s-prose">
                            <h3>{{ copy.responses.success.title }}</h3>
                            <p>{{ copy.responses.success.body | safe }}</p>
                        </div>
                    {% elseif status === 'ERROR' %}
                        <h3>{{ copy.responses.error.title }}</h3>
                        <p>{{ copy.responses.error.body | safe }}</p>
                    {% else %}

                        <form method="post" novalidate>

                            {% if csrfToken %}
                                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            {% endif %}

                            {% set introCopy = copy.stakeholder if contactType === 'insights' else copy.standard  %}

                            <h2 class="t1 t--underline">{{ introCopy.heading }}</h2>
                            {{ introCopy.intro | safe }}

                            {{ formErrors(
                                errors = errors,
                                title = copy.responses.error.title
                            ) }}

                            <fieldset class="form-fieldset form-fieldset--details">
                                <legend class="form-fieldset__legend u-visually-hidden">
                                    {{ copy.yourDetails }}
                                </legend>
                                <div class="form-fieldset__fields">

                                        {{ formField({
                                            type: 'text',
                                            name: 'firstName',
                                            autocompleteName: 'given-name',
                                            label: copy.fields.firstName,
                                            value: formValues.firstName,
                                            isRequired: true
                                        }, errors = errors) }}

                                        {{ formField({
                                            type: 'text',
                                            name: 'lastName',
                                            autocompleteName: 'family-name',
                                            label: copy.fields.lastName,
                                            value: formValues.lastName,
                                            isRequired: true
                                        }, errors = errors) }}

                                    {{ formField({
                                        type: 'email',
                                        name: 'email',
                                        autocompleteName: 'email',
                                        label: copy.fields.emailAddress,
                                        value: formValues.email,
                                        placeholder: 'yourname@example.com',
                                        isRequired: true
                                    }, errors = errors) }}

                                    {% if contactType === 'insights' %}
                                        <div class="flex-grid flex-grid--2up">
                                            <div class="flex-grid__item u-no-margin">
                                                {{ formField({
                                                    type: 'text',
                                                    name: 'jobTitle',
                                                    autocompleteName: 'job-title',
                                                    label: copy.fields.jobTitle,
                                                    value: formValues.jobTitle,
                                                    isRequired: true
                                                }, errors = errors) }}
                                            </div>
                                            <div class="flex-grid__item u-no-margin">
                                                {{ formField({
                                                    name: 'sector',
                                                    type: 'select',
                                                    label: copy.fields.sector,
                                                    value: formValues.sector,
                                                    options: validSectors
                                                }, errors = errors) }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {{ formField({
                                        name: 'location',
                                        type: 'radio',
                                        label: copy.fields.location,
                                        value: formValues.location,
                                        options: validLocations
                                    }, errors = errors) }}

                                </div>
                            </fieldset>

                            <input type="submit"
                                   value="{{ copy.callToAction }}"
                                   class="btn btn--small"/>
                        </form>

                    {% endif %}
                </div>

                <div class="content-sidebar__secondary">
                    <div class="js-newsletter-preview u-hidden u-tone-background-tint u-padded s-prose"
                         data-dd-uid="5P0C"
                         data-dd-cid="A5KMIFI43"
                         data-dd-tagname="insights"
                         data-dd-count="10"
                         data-dd-showdate="true">
                        <h3>{{ copy.latest }}</h3>
                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock %}
