{% macro mediaFigure(imageUrl, caption, accent = 'pink') %}
    <figure class="media-figure u-accent-border-{{ accent }}">
        <img class="media-figure__image" src="{{ imageUrl }}" alt="{{ caption }}">
        <figcaption class="media-figure__caption">{{ caption }}</figcaption>
    </figure>
{% endmacro %}
