{% macro mediaFigure(imageUrl, caption) %}
    <figure class="media-figure">
        <img class="media-figure__image" src="{{ imageUrl }}" alt="{{ caption }}">
        <figcaption class="media-figure__caption">{{ caption }}</figcaption>
    </figure>
{% endmacro %}
