{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/programmes.njk" import programmeStats with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/inline-links/macro.njk" import inlineLinks %}
{% from "components/badges/macros.njk" import badgeArchived with context %}

{% block content %}
    <main role="main">
        {{ hero(title, pageHero.image) }}

        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top nudge-up">
            {{ breadcrumbTrail(breadcrumbs) }}

            <nav class="alpha-links">
                <ol class="alpha-links__list">
                    {% for letter in "#ABCDEFGHIJKLMNOPQRSTUVWXYZ" | list %}
                        {% set programmesForLetter = groupedProgrammes[letter] %}
                        {% if programmesForLetter %}
                            <li class="alpha-links__item">
                                <a class="alpha-links__letter alpha-links__link" href="#group-{{ letter }}">{{ letter }}</a>
                            </li>
                        {% else %}
                            <li class="alpha-links__item">
                                <span class="alpha-links__letter">{{ letter }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>

            {% if not locationParam %}
                <div class="u-margin-bottom">
                    {{ inlineLinks(copy.filterLabel, locationLinks)}}
                </div>
            {% endif %}

            {% for groupName, programmes in groupedProgrammes %}
                <section class="archive-listing">
                    <h3 id="group-{{ groupName }}" class="archive-listing__header">{{ groupName }}</h3>

                    {% for programme in programmes %}
                        <article class="archive-listing__item s-prose">
                            <h3>
                                <a href="{{ programme.linkUrl }}">{{ programme.title | widont | safe }}</a>
                                {% if programme.isArchived %}
                                    {{ badgeArchived("u-margin-left-s") }}
                                {% endif %}
                            </h3>
                            <div class="u-constrained-content">
                                {{ programme.description | safe }}
                            </div>
                        </article>
                    {% endfor %}
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock %}
