{% extends "layouts/main.njk" %}
{% from "components/content-box-intro/macro.njk" import contentBoxIntro with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/programmes.njk" import programmeStats with context %}

{#  Add archived prefix to help with analytics reporting #}
{% block title %}Archived | {{ title }} | {% endblock %}

{% set archivedCopy = __('funding.archivedProgramme') %}

{% block content %}
    <main role="main">
        <div class="u-inner">
            {{ pageTitle(title) }}
        </div>

        {% call contentBoxIntro(breadcrumbs, pageAccent) %}
            <div class="message message--archived">
                {{ archivedCopy.archivedMessage }}
            </div>
            {% if entry.description %}
                {{ entry.description | safe }}
            {% endif %}
            {{ programmeStats(entry, isCompact = true) }}
        {% endcall %}

        <section class="u-inner u-padded s-prose u-constrained-content-wide">
            <h2>{{ archivedCopy.archivedMessage }}</h2>
            {{ __(archivedCopy.archivedDetail, archiveUrl) | safe }}
            <p><a href="{{ archiveUrl }}">{{ archiveUrl }}</a></p>
            {{ __(archivedCopy.openProgrammes, localify('/funding/programmes')) | safe }}
        </section>

    </main>
{% endblock %}
