{% from "components/hero.njk" import hero %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted
                u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, cupiditate.</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
