{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconTick %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}
                <div class="s-prose u-constrained-content-wide">
                    <p><strong>Do you work or volunteer for a voluntary sector organisation and are looking to learn how to use apps, websites, and social media to make your work more effective?</strong></p>

                    <p>We are not currently making grants that are focused on basic skills but we will soon be commissioning experts to offer free assistance to hundreds of organisations in this position. If you’d like us to email you when the offer of free assistance is available, please enter your email address below.</p>

                    <form class="email-signup u-constrained js-email-signup">
                        <div class="pre-submit">
                            <label for="email" class="ff-label">
                                Email address
                            </label>
                            <p class="ff-help">
                                We’ll only use this to send you information about free digital assistance
                            </p>
                            <input id="email"
                                    type="email"
                                    name="email"
                                    class="ff-text ff-text--inline"
                                    size="30"/>
                            <input type="submit"
                                   value="Submit"
                                   class="btn btn--small accent--blue a--btn js-email-signup-trigger" />
                        </div>
                        <div class="post-submit">
                            <div class="post-submit__text">
                                <p class="u-no-margin"><strong>Thanks for signing up</strong></p>
                                <p class="u-no-margin">We'll be in touch soon</p>
                            </div>
                            <div class="post-submit__icon">
                                {{ iconTick() }}
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>Help &amp; Support</h2>
                    <p>There’s lots of useful advice on the internet about how get started with digital. Here’s a few links to get you started:</p>
                    <ul>
                        <li><a href="https://betterdigital.services/principles/">
                            Digital design principles for charities (betterdigital.services)
                        </a></li>
                        <li><a href="https://knowhownonprofit.org/tools-resources/building-a-digital-workforce">
                            Building a digital workforce (knowhownonprofit.org)
                        </a></li>
                        <li><a href="https://digitalmaturity.co.uk/">
                            Voluntary sector digital maturity matrix (digitalmaturity.co.uk)
                        </a></li>
                    </ul>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>Does this not sound like you?</h2>

                    <p>Choose one of the following options instead.</p>
                    <p><a href="/funding/programmes/digital-funding-demo/strand-1"
                        class="btn btn--medium accent--blue a--btn">
                        We want to use digital to change our business
                    </a></p>
                    <p><a href="/funding/programmes/digital-funding-demo/strand-2"
                        class="btn btn--medium accent--cyan a--btn">
                        We are already highly digital, and want to scale our impact
                    </a></p>

                    <p>In addition, we offer other funding programmes which regularly support digital projects. If you don't think you are eligible for this programme, please consider one of our <a href="/funding/programmes">other open programmes</a>.</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
