{% from "components/hero.njk" import hero %}
{% from "components/promo-card/macro.njk" import promoCard %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted
                u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <p>Digital tools and working practices can help civil society organisations to serve people better than ever before.</p>
                    <p>The Digital Funding programme makes grants of <strong>£100,000 to £500,000</strong> to help civil society organisations to become more successful and more impactful.</p>
                    <p>The grants are awarded to <strong>voluntary and community organisations</strong> or <strong>social enterprises</strong> for <strong>up to five years</strong>.</p>
                    <p>We can fund <strong>project activities, operating costs, organisational development</strong> and <strong>capital costs</strong>.</p>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                    <h2>How to apply</h2>
                    <p>Please start by choosing one of these options so we can provide the right guidance for you and your organisation</p>

                    <div class="o-button-group-block u-margin-bottom u-constrained">
                        <a href="/funding/programmes/digital-funding-demo/getting-started" class="btn btn--medium accent--pink a--btn">
                            We want help getting started with digital
                        </a>
                        <a href="/funding/programmes/digital-funding-demo/strand-1" class="btn btn--medium accent--blue a--btn">
                            We want to use digital to change our core business
                        </a>
                        <a href="/funding/programmes/digital-funding-demo/strand-2" class="btn btn--medium accent--cyan a--btn">
                            We are already highly digital, and want to scale our impact
                        </a>
                    </div>

                    <p>If you would prefer, you can also choose to <a href="#eligibility-details">see all the eligibility criteria</a>.</p>
                </div>
            </section>

            <section
                class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top"
                id="eligibility-details">
                <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                    <h2>Full eligibility details</h2>
                    <p>The full eligibility criteria for the Digital Funding are listed below.</p>
                    <p>We can also provide guidance <a href="#">tailored to your needs</a>.</p>

                    <p>The Digital Funding Programme is currently planning to make awards to just two kind of organisation:</p>

                    <p>These two kinds of organisations must demonstrate they can meet different criteria in order for their application to be successful.</p>

                    <ul>
                        <li class="u-padded-bottom">
                            <p><strong>Long-established charities with 25 or more staff want to reassess their core activities and fundamental business models, through a digital lens</strong></p>
                            <ul>
                                <li>Eligibility</li>
                                <li>Success factors</li>
                                <li>Nature of support offered</li>
                            </ul>
                            <p><a href="#">Get in touch to apply for this funding</a></p>
                        </li>

                        <li class="u-padded-bottom">
                            <p><strong>Smaller organisations that have no ‘pre-digital’ legacy structures to modernise, which are poised to deliver impact at real scale</strong></p>
                            <ul>
                                <li>Eligibility</li>
                                <li>Success factors</li>
                                <li>Nature of support offered</li>
                            </ul>
                            <p><a href="#">Get in touch to apply for this funding</a></p>
                        </li>
                    </ul>

                    <p>It’s also important to us that you are <strong>committed to equalities and the environment</strong>.</p>

                    <p>We’ll want to know about your equalities policy and your environmental policy if we’re interested in your idea.</p>

                    <p><a href="#">Our equality principles</a></p>
                    <p><a href="#">Visit gov.uk for more information on environmental responsibility</a></p>

                    <p>The Big Lottery Fund will also soon be commissioning digital experts to offer <a href="./digital-funding-demo/getting-started">free assistance</a> to hundreds of voluntary sector organisations in this position. Because we will be offering this programme will not be making grants that are focused on basic skills.</p>

                    <p>If you think this fund might be right for you, choose one of the two options below to get started.</p>

                    <p>
                        <a href="/funding/programmes/digital-funding-demo/strand-1" class="btn btn--outline accent--blue a--btn">
                            We want to use digital to change our core business
                        </a>
                    </p>
                    <p>
                        <a href="/funding/programmes/digital-funding-demo/strand-2" class="btn btn--outline accent--cyan a--btn">
                            We are already highly digital, and want to scale our impact
                        </a>
                    </p>
                </div>
            </section>

            <section class="u-padded-top-l u-inner">
                <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                    <h2>Digital Fund Projects</h2>
                </div>
                <ul class="flex-grid flex-grid--3up">
                    <li class="flex-grid__item">
                        {% call promoCard({
                            "title": "Project 1",
                            "subtitle": "£329,000",
                            "trailText": "Sed in mi vel erat blandit cursus. Nunc sodales diam in odio vehicula, at fermentum turpis congue. Vivamus rhoncus, eros eu iaculis euismod, nisi enim pretium enim, a maximus mauris magna sed urna. Aenean nec lacinia arcu, quis maximus lorem.",
                            "image": { "url": "placeholders/placeholder-1.jpg" | getImagePath, "alt": "" }
                        }, accent = "blue") %}
                        {% endcall %}
                    </li>
                    <li class="flex-grid__item">
                        {% call promoCard({
                            "title": "Project 2",
                            "subtitle": "£110,059",
                            "trailText": "Donec efficitur bibendum arcu elementum iaculis. Nam ac commodo diam. Aliquam nibh augue, convallis a eros consequat, ultrices egestas est. Pellentesque aliquet tortor leo, eget auctor neque malesuada in.",
                            "image": { "url": "placeholders/placeholder-2.jpg" | getImagePath, "alt": "" }
                        }, accent = "pink") %}
                        {% endcall %}
                    </li>
                    <li class="flex-grid__item">
                        {% call promoCard({
                            "title": "Project 3",
                            "subtitle": "£489,990",
                            "trailText": "Duis non turpis et mi euismod euismod eget nec enim. Vestibulum at ipsum lorem. Mauris nec dapibus tellus. Proin molestie diam in dui aliquam, id venenatis est luctus. Praesent ornare odio vel fermentum imperdiet.",
                            "image": { "url": "placeholders/placeholder-3.jpg" | getImagePath, "alt": "" }
                        }, accent = "cyan") %}
                        {% endcall %}
                    </li>
                </ul>
            </section>

        </div>
    </main>
{% endblock %}
