{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-content-wide">
                    <p><strong>Big Lottery Fund offers grants of up to £500,000, plus a package of tailored support, to help established established charities that want to use digital to help take a major leap forward.</strong></p>

                    <p>Organisations that apply successfully will:
• Already be in the midst of serious internal debates about new ways of delivering core services
• Have been founded before the Internet became really pervasive (i.e will have been founded more than 10-15 years ago). • Be registered charities with more than 25 staff</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
