{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/programmes.njk" import programmeCard with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top nudge-up">
            {{ breadcrumbTrail(breadcrumbs) }}
            <h2 class="u-visually-hidden">{{ activeBreadcrumbsSummary }}</h2>

            {% if groupedProgrammes %}
                {% for region, regionProgrammes in groupedProgrammes %}
                    <h3>{{ region }}</h3>
                    <ol class="flex-grid flex-grid--3up">
                        {% for programme in regionProgrammes %}
                            <li class="flex-grid__item">
                                {{ programmeCard(programme) }}
                            </li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            {% elseif programmes.length > 0 %}
                <ol class="flex-grid flex-grid--3up">
                    {% for programme in programmes %}
                        <li class="flex-grid__item">
                            {{ programmeCard(programme) }}
                        </li>
                    {% endfor %}
                </ol>

                {# All programmes #}
                <div class="u-align-center u-margin-bottom-l">
                    <a href="{{ localify('/funding/programmes/all') }}" class="btn btn--medium btn--outline">{{ copy.allProgrammes }}</a>
                </div>
            {% else %}
                {# @TODO i18n #}
                <p>No results</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
