{% from "components/promo-card/macro.njk" import promoCard with context %}
{% from "components/hero.njk" import hero %}
{% from "components/nav.njk" import selectionTrail %}

{% extends "layouts/main.njk" %}

{% set pageAccent = 'pink' %}

{% block content %}
<main role="main">
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <div class="nudge-up">
        <section class="content-box u-inner-wide-only u-accent-border-top-{{ pageAccent }}">
            {{ selectionTrail(breadcrumbs) }}
            <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                <p>In addition to our open funding programmes Awards for All and Reaching Communities, we are investing over £500 million in England, over the long term, to tackle some of society’s most entrenched social problems in preventative and innovative ways.</p>

                <p>All these investments have been designed and are being delivered working closely with beneficiaries and service users. They each require organisations from different sectors to work together, using an approach focused on individuals and prevention rather than cure.</p>
            </div>
        </section>

        <section class="content-box u-inner-wide-only u-accent-border-top-{{ pageAccent }}">
            <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                <h2>Our aims and approach</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborum excepturi reiciendis? Aut vitae optio quia inventore tempore ea porro beatae. Aperiam officiis debitis minima nesciunt culpa rerum! Magnam, ad.</p>
            </div>
        </section>

        <section class="u-inner-wide-only spaced">
            <h2 class="t2 t--underline">Our strategic programmes</h2>
            <ul class="flex-grid flex-grid--3up">
                {% for programme in allProgrammes %}
                    <li class="flex-grid__item">
                        {{ promoCard({
                            "title": programme.title,
                            "trailText": programme.description,
                            "image": {
                                "url": "https://via.placeholder.com/320x140",
                                "alt": programme.title
                            },
                            "link": { "url": programme.linkUrl, "label": "Learn more" }
                        }) }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="content-box u-inner-wide-only u-accent-border-top-{{ pageAccent }}">
            <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                <h2>Research and learnings from our strategic investments</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laborum excepturi reiciendis? Aut vitae optio quia inventore tempore ea porro beatae. Aperiam officiis debitis minima nesciunt culpa rerum! Magnam, ad.</p>

                <p><a href="#" class="btn btn--outline btn--medium">View all research from strategic programmes</a></p>
            </div>
        </section>
    </div>
</main>
{% endblock %}
