{% from "components/hero.njk" import hero %}
{% from "components/tabs.njk" import tabs %}
{% from "components/programmes.njk" import programmeStats with context %}
{% from "components/caseStudies.njk" import caseStudyCollection with context %}
{% from "components/nav.njk" import selectionTrail with context %}
{% from "components/cards/media-object-card.njk" import mediaObjectCard with context %}
{% from "components/cards/promo-card.njk" import promoCard with context %}

{% extends "layouts/main.njk" %}

{% set pageAccent = 'pink' %}

{% block content %}
<main role="main">
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <div class="nudge-up">
        <section class="content-box content-box--tinted inner--wide-only accent--{{ pageAccent }} a--border-top">
            {{ selectionTrail(activeBreadcrumbs) }}
            <div class="s-prose u-constrained-content-wide">
                {{ entry.intro | safe }}
            </div>
        </section>

        <section class="inner--wide-only">
            {% set tabContentAims -%}
                <div class="content-box content-box--frameless">
                    <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                        {{ entry.aims | safe }}
                    </div>
                </div>
            {%- endset %}

            {% set tabContentImpact -%}
                <div class="content-box content-box--frameless">
                    {% for part in entry.impact  %}
                        <div style="display: flex">
                            <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}"
                                style="flex: 1 1 auto; padding-right: 20px;">
                            {{ part.content | safe }}
                            </div>
                            {% if part.inlinePromo %}
                                <div style="flex: 1 1 auto; min-width: 40%; max-width: 320px;">
                                    {{ promoCard(part.inlinePromo) }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {%- endset %}

            {% set tabContentPartnerships -%}
                <div class="content-box content-box--frameless">
                    {% for partnership in entry.partnerships %}
                        <div class="s-prose u-constrained-content-wide accent-content--{{ pageAccent }}">
                            <h3>{{ partnership.title }}</h3>
                            {{ partnership.intro | safe }}
                        </div>

                        <ul class="flex-grid">
                            {% for partner in partnership.partners %}
                                <li class="flex-grid__item">
                                    {{ mediaObjectCard(partner) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {%- endset %}

            {% set tabItems = [{
                "id": "section-1",
                "title": "Aims & approach",
                "content": tabContentAims,
                "active": true
            }, {
                "id": "section-2",
                "title": "Impact & learnings",
                "content": tabContentImpact
            }, {
                "id": "section-3",
                "title": "Partnerships",
                "content": tabContentPartnerships
            }] %}

            {{ tabs(id = 'test', content = tabItems, showPagination = true) }}
        </section>

        {# @TODO: Generalise this #}
        {% macro linkList(label, links) %}
            <strong>{{ label }}:</strong>
            {% for link in links -%}
                {{ link.label }}
            {%- endfor %}
        {% endmacro %}

        <section class="u-tone-background-tint padded">
            <div class="inner">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">
                    Research and insights from {{ entry.title }}
                </h2>
            </div>
            <div class="inner--wide-only">
                <ul class="flex-grid flex-grid--3up">
                    {% for research in relatedResearch  %}
                        <li class="flex-grid__item">
                            {% call promoCard({
                                "title": research.title,
                                "subtitle": research.datePublished,
                                "description": research.description
                            }) %}
                                {# @TODO: linkList macro? #}
                                {{ linkList(
                                    label = 'Documents',
                                    links = [{
                                        "label": "Report (PDF 4.9MB)",
                                        "url": "https://example.com/"
                                    }]
                                )}}
                            {%- endcall %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    </div>
</main>
{% endblock %}
