<script>
    window.setTimeout(() => {
        window.location.replace('{{ redirectUrl }}');
    }, 3000);
</script>

<p>Please wait, redirecting...</p>
<p><small>If you are not redirected automatically, please use <a href="{{ redirectUrl }}">this link</a>.</small></p>
