{% macro listFormErrors() %}
    {% set formErrors = getFlash(request, 'formErrors') %}
    {% if formErrors %}
        <div class="alert alert-danger" role="alert">
            {% set numErrs = formErrors.length %}
            <p><strong>There w{{ numErrs | pluralise("as", "ere") }} {{ numErrs }} error{{ numErrs | pluralise("", "s") }}:</strong></p>
            <ul>
                {% for error in formErrors %}
                    <li>{{ error.msg }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro listGenericErrors() %}
    {% set genericError = getFlash(request, 'genericError') %}
    {% if genericError %}
        <div class="alert alert-danger" role="alert">
            <p><strong>Error:</strong> {{ genericError | safe }}</p>
        </div>
    {% endif %}
{% endmacro %}
