{% extends "layouts/main.njk" %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/process-map/macro.njk" import processMap %}

{% set copy = __('awardsForAll.startPage') %}
{% block title %}{{ copy.title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox(skipProse = true) %}
            {{ formHeader(
                backUrl = sectionUrl if user else localify('/funding/under10k'),
                title = copy.title,
                prefix = formTitle
            )}}

            <div class="s-prose">
                {{ copy.beforeYouStart.body | safe }}

                <h2>{{ copy.whatInformation.title }}</h2>
                {% if enableStandardV2 %}
                    {{ copy.whatInformation.bodyV2 | safe }}
                {% else %}
                    {{ copy.whatInformation.body | safe }}
                {% endif %}

                <h2>{{ copy.readyToApply.title }}</h2>
            </div>

            {% set processItemsSource = copy.readyToApply.processMap.processNew %}

            {% set processItems = [] %}
            {% for item in processItemsSource %}
                {% set processItems = (processItems.push({
                    type: item.type,
                    title: item.title,
                    description: item.description,
                    isCompleted: loop.index === 1,
                    isCurrent: loop.index === 1
                }), processItems) %}
            {% endfor %}
            {{ processMap(processItems, copy.readyToApply.processMap.indicatorLabel) }}

            <p class="form-actions u-margin-bottom-l">
                <a href="{{ nextPageUrl }}" class="btn">{{ copy.readyToApply.startAction }}</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
