{% extends "layouts/main.njk" %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/process-map/macro.njk" import processMap %}

{% set copy = __('user.login') %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <h1 class="t--underline">{{ copy.title }}</h1>
                    <p>{{ copy.newSystemText }}</p>
                    <a href="https://account.tnlcommunityfund.org.uk/Account/Login">{{ copy.newSystemLinkText }}</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
