{% from "components/hero.njk" import sectionHero %}
{% from "components/caseStudies.njk" import caseStudyCollection with context %}

{% extends "layouts/main.njk" %}

{% set socialImage = heroImage %}

{% block title %}{{ title }} | {% endblock %}

{% macro segmentLinks(segments) %}
    {% if segments.length > 0 %}
        <ul>
            {% for segment in segments %}
                <li><a href="#segment-{{ loop.index }}">{{ segment.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    {% set pageAccent = content.themeColour | default('pink') %}
    {{ sectionHero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">

        {% if content.relatedContent %}
            <section class="page-section inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="page-section__content accent--{{ pageAccent }} a--border-top">
                    <article class="content-box s-prose s-prose--legacy u-constrained-content-wide js-annotate-links">
                        {{ content.introduction | safe }}
                        {{ segmentLinks(content.segments) }}
                    </article>
                </div>
                <div class="page-section__supplementary accent--{{ pageAccent }} a--border-top">
                    <aside class="content-box s-prose js-annotate-links">
                        {{ content.relatedContent | safe }}
                    </aside>
                </div>
            </section>
        {% else %}
            <section class="content-box content-box--even-inset inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose s-prose--legacy u-constrained-content-wide js-annotate-links">
                    {{ content.introduction | safe }}
                    {{ segmentLinks(content.segments) }}
                </div>
            </section>
        {% endif %}

        {% if content.segments.length > 0 %}
            {% for segment in content.segments %}
                <section id="segment-{{ loop.index }}" class="content-box content-box--even-inset inner--wide-only accent--{{ pageAccent }} a--border-top">
                    <div class="s-prose s-prose--legacy u-constrained-content-wide">
                        <h2 class="t1">{{ segment.title }}</h2>
                        {{ segment.content | safe }}
                    </div>
                </section>
            {% endfor %}
        {% endif %}

        {# Case Studies #}
        {{ caseStudyCollection(content.caseStudies) }}

        {% if content.outro %}
            <section class="content-box content-box--even-inset inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose s-prose--legacy">
                    {{ content.outro | safe }}
                </div>
            </section>
        {% endif %}
    </main>

{% endblock %}
