{% from "components/hero.njk" import sectionHero %}
{% from "components/segment.njk" import segment %}

{% extends "layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}
{% set socialImage = heroImage %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
    {% set pageAccent = 'cyan' %}
    {{ sectionHero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">

        {% if content.relatedContent %}
            <section class="page-section inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="page-section__content accent--{{ pageAccent }} a--border-top">
                    <article class="content-box s-prose s-prose--long">
                        {{ content.introduction | safe }}
                    </article>
                </div>
                <div class="page-section__supplementary accent--{{ pageAccent }} a--border-top">
                    <aside class="content-box s-prose s-prose--links">
                        {{ content.relatedContent | safe }}
                    </aside>
                </div>
            </section>
        {% else %}
            <section class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class=" s-prose s-prose--long">
                    {{ content.introduction | safe }}
                </div>
            </section>
        {% endif %}

        {% if content.outro %}
            <section class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class=" s-prose s-prose--long">
                    {{ content.outro | safe }}
                </div>
            </section>
        {% endif %}
    </main>

{% endblock %}
