{% macro applicationCard(props, headingLevel = '3') %}
    <article class="application-card-new">
        <header class="application-card-new__header">
            <h{{ headingLevel }} class="application-card-new__title u-tone-brand-primary">
                {% if props.editUrl %}<a href="{{ props.editUrl }}" class="u-link-unstyled">{% endif %}
                    {{ props.projectName | widont | safe }}
                {% if props.editUrl %}</a>{% endif %}
            </h{{ headingLevel }}>
            <p class="application-card-new__amount">
                <strong>Amount requested</strong>:
                <span class="o-pill">
                    {{ props.amountRequested }}
                </span>
            </p>
        </header>

        <dl class="application-card-new__overview u-text-small">
            {% for item in props.overview %}
                <dt>{{ item.label }}</dt>
                {# @TODO: i18n #}
                <dd>{% if item.value %}{{ item.value }}{% else %}not yet completed{% endif %}</dd>
            {% endfor %}
        </dl>

        <div class="application-card-new__status u-text-small u-margin-bottom">
            {% if props.type === 'submitted' %}
                <p>
                    {# @TODO: i18n #}
                    <strong>Status</strong>:
                    Submitted {{ formatCalendarTime(props.submittedAt) }}
                </p>
            {% else %}
                <p>
                    {# @TODO: i18n #}
                    <strong>Status</strong>:
                    {{ props.progress.sectionsComplete }} of
                    {{ props.progress.sections.length }} sections complete
                </p>

                <ol class="status-bar">
                    {% for section in props.progress.sections %}
                        <li class="status-bar__step status-bar__step--{{ section.status }}">
                            <span class="u-visually-hidden">
                                {{ section.label }} - {{ section.statusLabel }}
                            </span>
                        </li>
                    {% endfor %}
                </ol>

                <p>Last updated: {{ formatCalendarTime(props.updatedAt) }}</p>
            {% endif %}
        </div>

        {% if props.editUrl %}
            <div class="application-card-new__actions">
                <a href="{{ props.editUrl }}"
                   {# @TODO: i18n #}
                   class="btn btn--small">Continue with this application</a>
                {% if props.deleteUrl %}
                    <a class="u-text-medium" href="{{ props.deleteUrl }}">Delete</a>
                {% endif %}
            </div>
        {% endif %}


        {% if props.expiresAt %}
            {# @TODO: i18n #}
            <div class="application-card-new__meta u-text-small">
                You have until
                <strong>{{ formatDate(props.expiresAt) }}</strong>
                to complete your application
            </div>
        {% endif %}
    </article>
{% endmacro %}
