{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/split-nav/macro.njk" import splitNav %}

{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'cyan' %}

    <main role="main" id="content">
        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="u-constrained-wide">
                {% if entriesMeta.pageType === 'authors' %}
                    {% set activeAuthor = entriesMeta.activeAuthor %}
                    <h1>Viewing all posts by {{ activeAuthor.title }}</h1>
                {% elseif entriesMeta.pageType === 'tags' %}
                    {% set activeTag = entriesMeta.activeTag %}
                    <h1>Viewing all posts tagged {{ activeTag.title }}</h1>
                {% elseif entriesMeta.pageType === 'category' %}
                    {% set activeCategory = entriesMeta.activeCategory %}
                    <h1>Viewing all posts in {{ activeCategory.title }}</h1>
                {% else %}
                    <h1>{{ title }}</h1>
                {% endif %}

                <ol class="article-listing">
                    {% for entry in entries %}
                        <li class="article-listing__item">
                            {# TODO: Combine with articleTeaser #}
                            <article class="blog-teaser">
                                <header class="blog-teaser__header">
                                    <h2 class="blog-teaser__title t1">
                                        <a class="u-link-minimal" href="{{ entry.link }}">{{ entry.title }}</a>
                                    </h2>
                                </header>
                                <footer class="blog-teaser__meta">
                                    <time class="blog-teaser__pubdate" pubdate datetime="{{ entry.postDate.date }}">
                                        {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
                                    </time>
                                    {% if entry.category -%}
                                        in <a href="{{ entry.category.link }}">{{ entry.category.title }}</a>
                                    {%- endif %}
                                </footer>
                                <div class="blog-teaser__content u-constrained-content">
                                    <p class="blog-teaser__trail">{{ entry.intro }}</p>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ol>

                {{ splitNav(
                    prevLink = {
                        "label": "Previous page",
                        "url": pagination.prevLink
                    },
                    nextLink = {
                        "label": "Next page",
                        "url": pagination.nextLink
                    }
                ) }}
            </div>

        </section>
    </main>
{% endblock %}
