{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content.njk" import flexibleContent %}
{% from "components/inline-links/macro.njk" import inlineLinks %}

{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% macro articleMeta(entry) %}
    <div class="article-meta">
        {% if entry.authors.length > 0 %}
            <p class="article-meta__author">
                By
                {% set separator = joiner(',') %}
                {% for author in entry.authors -%}
                {{ separator() }} <a href="{{ author.link }}">{{ author.title }}</a>
                {%- endfor %}
            </p>
        {% endif %}
        <p class="article-meta__pubdate">
            <time pubdate datetime="{{ entry.postDate.date }}">
                {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
            </time>
        </p>
    </div>
{% endmacro %}

{% block content %}
    {% set pageAccent = 'cyan' %}

    <main role="main">
        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}

            <article class="article">
                <header class="article__header">
                    <h1 class="article__title">{{ entry.title }}</a></h1>
                </header>
                <div class="article__main">
                    <footer class="article__meta accent--{{ pageAccent }} a--border-color">
                        {{ articleMeta(entry) }}
                    </footer>
                    <div class="article__body">
                        {% if entry.body %}
                            <div class="s-prose">
                                {{ entry.body | safe }}
                            </div>
                        {% else %}
                            {{ flexibleContent(entry.flexibleContent, pageAccent) }}
                        {% endif %}
                    </div>
                </div>
                {% if entry.tags.length > 0 %}
                    <aside class="article__topics" role="aside">
                        {% set links = [] %}
                        {% for tag in entry.tags %}
                            {% set links = (links.push({ "label": tag.title, "url": tag.link }), links) %}
                        {% endfor %}
                        {{ inlineLinks(prefix = __('global.misc.topics') | title, links = links) }}
                    </aside>
                {% endif %}
            </article>
        </section>
    </main>
{% endblock %}
