{% macro staffStatus(user) %}
    {% if user %}
        <div class="user-status">
            <div class="user-status__current">
                <span class="o-badge o-badge--primary u-margin-right-s">Staff</span>
                {{ __('user.common.loggedInAs') }} <strong>{{ user.userData.fullName }}</strong>
            </div>
            <div class="user-status__actions">
                <a href="{{ localify('/user/staff/logout') }}">
                    {{ __('user.common.logOut') }}
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}
