<%- include('../../inc/head', {}); %>

<div class="hero hero--managing-grants" role="complementary">
    <section class="hero__inner">
        <div class="inner accent--pink nudge-bottom">
            <h2 class="t1 m-l--s m-b"><span>Congratulations on getting National Lottery funding!</span></h2>
        </div>
    </section>
</div>

<article role="main" class="nudge-up accent--pink">
    <div class="inner p accent-b-t accent-bg">
        <h3 class="t3">You’re now part of a family of fantastic organisations that are making communities across the UK better places to be.</h3>
        <p>We want you to be as flexible and creative as possible with using your grant money. However, you do need to publicly announce your funding award. Whilst we would love you to use a range of ways to do this, here are some you should consider:</p>
    </div>

    <div class="inner p accent-b-t accent-bg">
        <h3 class="t3">Why are we asking you to do these things?</h3>
        <p>You are one of thousands of good causes all over the UK doing amazing things with money raised by National Lottery players. It is very important that you share the good news about your funding and let the public know how they are making life better across the UK by playing National Lottery games.</p>
        <p>This will also encourage people in your local area to apply for lottery funding, increasing the amount of amazing work that takes place in your community.</p>
    </div>
    
    <div class="inner p">
        <ul class="flex flex--equal">
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
            <li>hello</li>
        </ul>
    </div>
</article>

<%- include('../../inc/footer', {}); %>