<%- include('../../inc/head', {}); %>

<div class="hero hero--managing-grants" role="complementary">
    <section class="hero__inner">
        <div class="inner accent--pink nudge-bottom">
            <h2 class="t1 m-b hero__header"><span>Congratulations on getting National Lottery funding!</span></h2>
        </div>
    </section>
</div>

<article role="main" class="nudge-up accent--pink">
    <div class="inner p accent-b-t accent-bg">
        <h3 class="t3 m-t-none">You’re now part of a family of fantastic organisations that are making communities across the UK better places to be.</h3>
        <p>We want you to be as flexible and creative as possible with using your grant money. However, you do need to publicly announce your funding award. Whilst we would love you to use a range of ways to do this, here are some you should consider:</p>
    </div>

    <div class="inner">

        <ul class="flex flex--wide-only flex--equal">

            <li class="grid__item">
                <div class="grid__item__inner accent--pink-mid accent-b-t accent-bg p art art--tell-the-world">
                    <h4 class="t1 minor"><a href="#"><span>Tell the world about your grant via social media</span></a></h4>
                </div>
            </li>

            <li class="grid__item">
                <div class="grid__item__inner accent--blue accent-b-t accent-bg p art art--local-press">
                    <h4 class="t1 minor"><a href="#"><span>Get in touch with your local press</span></a></h4>
                </div>
            </li>

            <li class="grid__item">
                <div class="grid__item__inner accent--green accent-b-t accent-bg p art art--display-the-logo">
                    <h4 class="t1 minor"><a href="#"><span>Display the 'Lottery Funded' logo in various appropriate places</span></a></h4>
                </div>
            </li>

            <li class="grid__item">
                <div class="grid__item__inner accent--orange accent-b-t accent-bg p art art--free-branded-material">
                    <h4 class="t1 minor"><a href="#"><span>Consider getting free branded material</span></a></h4>
                </div>
            </li>
        </ul>
    </div>

    <div class="inner--wide-only p accent-b-t accent-bg">
        <h3 class="t3 m-t-none">Why are we asking you to do these things?</h3>
        <p>You are one of thousands of good causes all over the UK doing amazing things with money raised by National Lottery players. It is very important that you share the good news about your funding and let the public know how they are making life better across the UK by playing National Lottery games.</p>
        <p>This will also encourage people in your local area to apply for lottery funding, increasing the amount of amazing work that takes place in your community.</p>
    </div>
</article>

<%- include('../../inc/footer', {}); %>