<%- include('../../inc/head', {}); %>

<div class="hero hero--managing-grants" role="complementary">
    <section class="hero__inner">
        <div class="inner accent--pink">
            <h2 class="t1"><span>Congratulations on getting National Lottery funding!</span></h2>
        </div>
    </section>
</div>

<article role="main" class="nudge-up accent--pink">
    <div class="inner nudge__inner accent-b-t">
        test
    </div>
</article>

<%- include('../../inc/footer', {}); %>