{% from "components/hero.njk" import hero with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/feedback.njk" import inlineFeedback with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(title, fallbackHeroImage) }}

        <div class="nudge-up">
            {% call contentBox(pageAccent) %}
                <h2>This document has been archived</h2>
                <p>The file or document you were looking for has been archived and is no longer available.</p>
                <p>If you think this is a mistake or if you still need access to this document, please let us know below and we'll double check if it's something that should still be available on our website.</p>

                {{ inlineFeedback(
                    description = "legacy_file_request",
                    promptLabel = "What were you looking for?",
                    fieldLabel = "Please tell us why you needed this document and what you were hoping to find on this page:",
                    isToggleable = false,
                    metadata = "File path requested: " + filePath
                )  }}

            {% endcall %}
        </div>
    </main>
{% endblock %}
