{% from "components/hero.njk" import hero with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/content-tabs/macro.njk" import contentTabs %}
{% from "components/icons.njk" import iconClose %}

{% extends "controllers/common/views/information-page.njk" %}

{% set customSegmentLinks = [{
    "title": copy.downloadsTitle
}, {
    "title": copy.howToUseLogo.title
}] %}

{% set logoTypes = {
    monolingual: [{
        "title": copy.logoTypes.colour.title,
        "description": copy.logoTypes.colour.description,
        "thumbnail": "/assets/images/logos/tnlcf/monolingual/colour.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/monolingual/colour/digital.png",
            "print": "/assets/images/logos/tnlcf/monolingual/colour/print.jpg",
            "vector": "/assets/images/logos/tnlcf/monolingual/colour/vector.eps"
        }
    }, {
        "title": copy.logoTypes.black.title,
        "description": copy.logoTypes.black.description,
        "thumbnail": "/assets/images/logos/tnlcf/monolingual/black.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/monolingual/black/digital.png",
            "print": "/assets/images/logos/tnlcf/monolingual/black/print.jpg",
            "vector": "/assets/images/logos/tnlcf/monolingual/black/vector.eps"
        }
    }, {
        "title": copy.logoTypes.white.title,
        "reverseOut": true,
        "description": copy.logoTypes.white.description,
        "thumbnail": "/assets/images/logos/tnlcf/monolingual/white.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/monolingual/white/digital.png",
            "print": "/assets/images/logos/tnlcf/monolingual/white/print.png",
            "vector": "/assets/images/logos/tnlcf/monolingual/white/vector.eps"
        }
    }],
    bilingual: [{
        "title": copy.logoTypes.colour.title,
        "description": copy.logoTypes.colour.description,
        "thumbnail": "/assets/images/logos/tnlcf/bilingual/colour.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/bilingual/colour/digital.png",
            "print": "/assets/images/logos/tnlcf/bilingual/colour/print.jpg",
            "vector": "/assets/images/logos/tnlcf/bilingual/colour/vector.eps"
        }
    }, {
        "title": copy.logoTypes.black.title,
        "description": copy.logoTypes.black.description,
        "thumbnail": "/assets/images/logos/tnlcf/bilingual/black.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/bilingual/black/digital.png",
            "print": "/assets/images/logos/tnlcf/bilingual/black/print.jpg",
            "vector": "/assets/images/logos/tnlcf/bilingual/black/vector.eps"
        }
    }, {
        "title": copy.logoTypes.white.title,
        "reverseOut": true,
        "description": copy.logoTypes.white.description,
        "thumbnail": "/assets/images/logos/tnlcf/bilingual/white.png",
        "downloads": {
            "digital": "/assets/images/logos/tnlcf/bilingual/white/digital.png",
            "print": "/assets/images/logos/tnlcf/bilingual/white/print.png",
            "vector": "/assets/images/logos/tnlcf/bilingual/white/vector.eps"
        }
    }]
} %}

{% macro card(title) %}
    <aside class="logo-card">
        <header class="logo-card__header logo-card__title">
            <h3 class="logo-card__title">{{ title }}</h3>
        </header>
        <div class="logo-card__body">{{ caller() }}</div>
    </aside>
{% endmacro %}

{% macro logoCard(logo, language) %}
    {% call card(logo.title, isHeaded = true) %}
        <a href="{{ logo.downloads.digital }}">
            <img src="{{ logo.thumbnail }}"
                 alt="{{ logo.title }}"
                 class="u-margin-bottom-s{% if logo.reverseOut %} u-tone-background-dark{% endif %}" />
        </a>
        <p>{{ logo.description }}</p>
        <ul class="logo-card__links">
            <li class="u-margin-bottom-s">
                <a class="btn btn--small u-block"
                   href="{{ logo.downloads.digital }}"
                   data-ga-on="click"
                   data-ga-event-category="Download logo"
                   data-ga-event-action="Digital - {{ language }}">
                    {{ copy.downloads.digital }}
                </a>
            </li>
            <li class="u-margin-bottom-s">
                <a class="btn btn--small u-block"
                   href="{{ logo.downloads.print }}"
                   data-ga-on="click"
                   data-ga-event-category="Download logo"
                   data-ga-event-action="Print - {{ language }}">
                    {{ copy.downloads.print }}
                </a>
            </li>
            <li>
                <a class="btn btn--small u-block"
                   href="{{ logo.downloads.vector }}"
                   data-ga-on="click"
                   data-ga-event-category="Download logo"
                   data-ga-event-action="Vector - {{ language }}">
                    {{ copy.downloads.vector }}
                </a>
            </li>
        </ul>
    {% endcall %}
{% endmacro %}

{% macro howToChooseLogo() %}
    <details class="u-margin-bottom-l">
        <summary>{{ copy.howToChoose.title }}</summary>
        <div class="u-tone-background-tint u-padded">
            {{ copy.howToChoose.body | safe }}
        </div>
    </details>
{% endmacro %}

{% block contentPrimary %}
    {#{{ super() }}#}

    {# @TODO put this text into the CMS and uncomment super() above #}
    <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
        {{ copy.intro | safe }}
    </section>

    <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top" id="segment-1">
        <p><strong>{{ copy.locationPrompt }}</strong></p>

        <div class="o-button-group-flex u-margin-bottom-l">
            <a href="#region1" class="btn btn--small">
                {{ copy.locations.monolingual }}
            </a>
            <a href="#region2" class="btn btn--small">
                {{ copy.locations.bilingual }}
            </a>
        </div>

        <p class="u-margin-bottom-l u-border-minor u-padded-top"><strong>{{ copy.sizeRequirements }}</strong></p>

        <h3 id="region1">{{ copy.locations.monolingual }}</h3>

        {{ howToChooseLogo() }}

        <ul class="flex-grid flex-grid--3up u-margin-bottom-l">
            {% for logo in logoTypes.monolingual %}
                <li class="flex-grid__item">
                    {{ logoCard(logo, "Monolingual") }}
                </li>
            {% endfor %}
        </ul>

        <h3 id="region2">{{ copy.locations.bilingual }}</h3>

        {{ howToChooseLogo() }}

        <ul class="flex-grid flex-grid--3up">
            {% for logo in logoTypes.bilingual %}
                <li class="flex-grid__item">
                    {{ logoCard(logo, "Bilingual") }}
                </li>
            {% endfor %}
        </ul>

    </div>

    {% call contentBox(pageAccent, id = "segment-2") %}
        <h2>{{ copy.howToUseLogo.title }}</h2>

        <h3>{{ copy.howToUseLogo.sections.brandGuidance.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.brandGuidance.body | safe }}</p>

        <h3>{{ copy.howToUseLogo.sections.dontForget.title | safe }}</h3>
        {{ copy.howToUseLogo.sections.dontForget.body | safe }}

        <h3>{{ copy.howToUseLogo.sections.freeKit.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.freeKit.body | safe}}</p>
    {% endcall %}
{% endblock %}
