{% from "components/hero.njk" import hero with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/content-tabs/macro.njk" import contentTabs %}
{% from "components/icons.njk" import iconClose %}

{% extends "controllers/common/views/information-page.njk" %}

{% macro makeLogoTitle(logoName, logoSize) %}
    {{ copy.downloads.download }}
    {% if locale == 'cy' %}logo{% endif %}
    {{ copy.downloads.colours[logoName] }}
    {% if locale == 'en' %}logo{% endif %}
    <span class="u-weight-light">({{ copy.downloads.sizes[logoSize] }})</span>
{% endmacro %}

{% macro successMessage(type) %}
    {% if copy.successMessages[type] %}
        <div class="u-hidden js-success js-success--{{ type }}">
            <h3>{{ copy.successMessages.success }}</h3>
            <p><strong>{{ copy.successMessages[type].title }}</strong></p>
            <p>{{ copy.successMessages[type].body }}</p>
        </div>
    {% endif %}
{% endmacro %}

{% macro logoPath(locale, filename, extension, suffix = false) %}
    {% set l = 'logos/' + locale + '/' + filename %}
    {% if suffix %}
        {% set l = l + suffix %}
    {% endif %}
    {% set l = l + '.' + extension %}
    {{ l | getImagePath }}
{% endmacro %}

{% macro buildLogoTitle(logoName, logoSize, logoLocale) %}{{ copy.downloads.colours[logoName] | capitalize }} logo ({{ copy.downloads.sizes[logoSize] }}) - {% if logoLocale === 'bilingual' %}Bilingual{% else %}Monolingual{% endif %}{% endmacro %}

{% macro analyticParams(logoName, logoSize, logoLocale) %}data-ga-on="click" data-ga-event-category="Download logo" data-ga-event-action="{{ buildLogoTitle(logoName, logoSize, logoLocale) }}"{% endmacro %}

{% macro logoBlock(logoId, logoFilename, logoName, logoLocale = 'en', onlyEps = false, accent = false, isReversed = false) %}
    {% if isReversed %}
        {% set accent = 'white' %}
    {% endif %}

    <div class="logo-block {% if isReversed %}logo-block--reversed{% endif %}">
        <div class="logo-block__overlay" id="js-download-block--{{ logoId }}">
            <div class="logo-block__close">
                <button type="button" class="icon-btn js-success--close" data-logo-id="{{ logoId }}">
                    {{ iconClose() }}
                </button>
            </div>
            <div class="logo-block__message">
                {{ successMessage('digital') }}
                {{ successMessage('print') }}
                {{ successMessage('vector') }}
            </div>
        </div>

        {% set accentClass = '' %}
        {% if accent %}
            {% set accentClass = ' accent--' + accent + ' a--btn ' %}
        {% endif %}

        {% if not onlyEps %}
            <a href="{{ logoPath(logoLocale, logoFilename, 'jpg', '-large') | trim }}"
               target="_blank"
               class="js-logo-trigger"
               data-logo-type="print"
               data-logo-id="{{ logoId }}"
               {{ analyticParams(logoName, 'large', logoLocale) }}>
        {% endif %}
            <img src="{{ logoPath(logoLocale, logoFilename, 'png') | trim }}"
                 alt="The Big Lottery Fund logo, in {% if logoLocale == 'en' %}English{% else %}Welsh and English{% endif %}, coloured {{ logoName }}">
        {% if not onlyEps %}
            </a>
        {% endif %}

        <div class="o-button-group-block">
            {% if not onlyEps %}
                <a class="btn btn--small {{ accentClass }} js-logo-trigger"
                   href="{{ logoPath(logoLocale, logoFilename, 'jpg', '-small') | trim }}"
                   target="_blank"
                   data-logo-type="digital"
                   data-logo-id="{{ logoId }}"
                   {{ analyticParams(logoName, 'small', logoLocale) }}>
                    {{ makeLogoTitle(logoName, 'small') }}
                </a>
                <a class="btn btn--small {{ accentClass }} js-logo-trigger"
                   href="{{ logoPath(logoLocale, logoFilename, 'jpg', '-large') | trim }}"
                   target="_blank"
                   data-logo-type="print"
                   data-logo-id="{{ logoId }}"
                   {{ analyticParams(logoName, 'large', logoLocale) }}>
                    {{ makeLogoTitle(logoName, 'large') }}
                </a>
            {% endif %}
            <a class="btn btn--small {{ accentClass }} js-logo-trigger"
               href="{{ logoPath(logoLocale, logoFilename, 'eps') | trim }}"
               target="_blank"
               data-logo-type="vector"
               data-logo-id="{{ logoId }}"
               {{ analyticParams(logoName, 'eps', logoLocale) }}>
                {{ makeLogoTitle(logoName, 'eps') }}
            </a>
        </div>
    </div>
{% endmacro %}

{% set customSegmentLinks = [{
    "title": copy.downloadsTitle
}, {
    "title": copy.howToUseLogo.title
}] %}

{% block contentPrimary %}
    {{ super() }}

    <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top" id="segment-1">
        <p><strong>{{ copy.locationPrompt }}</strong></p>
        <div class="o-button-group-flex">
                <a href="#region1" class="btn btn--small accent--{{ pageAccent }} a--btn js-tab">
                    {{ copy.locations.monolingual }}
                </a>
                <a href="#region2" class="btn btn--small accent--{{ pageAccent }} a--btn js-tab">
                    {{ copy.locations.bilingual }}
                </a>
            </div>
    </div>

    <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top" id="segment-1">
        <h2 class="t--underline">{{ copy.downloadsTitle }} </h2>

        <h3 id="region1">{{ copy.locations.monolingual }}</h3>

        <ul class="flex-grid u-margin-bottom-l">
            <li class="flex-grid__item">
                {{ logoBlock(1, 'blue', 'blue', 'en', accent = 'turquoise') }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(2, 'pink', 'pink', accent = 'pink') }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(3, 'pink-white', 'white', onlyEps = true, isReversed = true) }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(4, 'blue-white', 'white', onlyEps = true, isReversed = true) }}
            </li>
        </ul>

        <h3 id="region2">{{ copy.locations.bilingual }}</h3>

        <ul class="flex-grid u-margin-bottom-l">
            <li class="flex-grid__item">
                {{ logoBlock(5, 'blue', 'blue', logoLocale = 'bilingual', accent = 'turquoise') }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(6, 'pink', 'pink', logoLocale = 'bilingual', accent = 'pink') }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(7, 'pink-white', 'white', logoLocale = 'bilingual', onlyEps = true, isReversed = true) }}
            </li>
            <li class="flex-grid__item">
                {{ logoBlock(8, 'blue-white', 'white', logoLocale = 'bilingual', onlyEps = true, isReversed = true) }}
            </li>
        </ul>
    </div>

    {% call contentBox(pageAccent, id = "segment-2") %}
        <h2>{{ copy.howToUseLogo.title }}</h2>

        <h3>{{ copy.howToUseLogo.sections.freeKit.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.freeKit.body | safe}}</p>

        <h3>{{ copy.howToUseLogo.sections.brandGuidance.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.brandGuidance.body | safe }}</p>

        <h3>{{ copy.howToUseLogo.sections.format.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.format.body | safe }}</p>

        <h3>{{ copy.howToUseLogo.sections.options.title | safe }}</h3>
        <p>{{ copy.howToUseLogo.sections.options.body | safe }}</p>

        <figure>
            <img src="{{ "logos/examples.png" | getImagePath }}" alt="Examples of our logo" style="display: inline-block" />
            <img src="{{ "logos/examples-cy.png" | getImagePath }}" alt="Examples of our logo" style="display: inline-block" />
        </figure>
    {% endcall %}
{% endblock %}
