{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/caseStudies.njk" import caseStudyCollection with context  %}

{% extends "layouts/main.njk" %}
{% set pageAccent = 'turquoise' %}

{% block content %}
    <main role="main">
        {{
            hero(
                titleText = copy.title,
                image = heroImage,
                accent = pageAccent
            )
        }}

        <div class="nudge-up">
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose">
                    <p>{{ copy.intro }}</p>
                    <h2>{{ copy.callToAction }}</h2>
                </div>

                {% set links = [{
                    "id": "england",
                    "label": copy.locations.england,
                    "url": localify('/funding/programmes?min=10000&location=england')
                }, {
                    "id": "scotland",
                    "label": copy.locations.scotland,
                    "url": localify('/funding/programmes?min=10000&location=scotland')
                }, {
                    "id": "wales",
                    "label": copy.locations.wales,
                    "url": localify('/funding/programmes?min=10000&location=wales')
                }, {
                    "id": "northernIreland",
                    "label": copy.locations.northernIreland,
                    "url": localify('/funding/programmes?min=10000&location=northernIreland')
                }, {
                    "id": "ukWide",
                    "label": copy.locations.ukWide,
                    "url": localify('/funding/programmes/awards-from-the-uk-portfolio')
                }] %}

                <div class="o-button-group-flex">
                    {% for link in links %}
                        <a href="{{ link.url }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--small"
                            id="qa-button-{{ link.id }}">
                            {{ link.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            {# Case Studies #}
            {{ caseStudyCollection(
                caseStudies = caseStudies,
                customSectionTitle = copy.projectExamples,
                accent = pageAccent
            ) }}

            <div class="u-inner u-align-center u-margin-bottom-l">
                <a href="{{ localify('/funding/past-grants') }}" class="btn btn--outline accent--{{ pageAccent }} btn--a btn--small">
                    {{ copy.browseAll }}
                </a>
            </div>
        </div>
    </main>
{% endblock %}
