{% from "components/hero.njk" import hero with context %}
{% from "components/content-tabs/macro.njk" import contentTabs %}

{% extends "layouts/main.njk" %}

{% macro factRiver(facts) %}
    <ul class="fact-river">
        {% for fact in facts %}
            <li class="fact-river__item">
                <div class="fact-item{% if (loop.index % 2 === 0) %} fact-item--reversed{% endif %}">
                    {% if fact.image %}
                        <div class="fact-item__image">
                            <img src="{{ "/assets/images/illustrations/" + fact.image }} " alt="">
                        </div>
                    {% endif %}
                    <div class="fact-item__text">{{ fact.text | safe }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block content %}
    {% set availableFundingContent %}
        <div class="s-prose u-constrained-content-wide">
            <p>{{ copy.sections.availableFunding.introduction | safe }}</p>
            {% for programme in copy.sections.availableFunding.fundingProgrammes %}
                <article class="programme-overview">
                    <header class="programme-overview__header">
                        <h3 class="programme-overview__title t1 u-tone-brand-primary">
                            {{ programme.title }}
                        </h3>
                    </header>
                    <h4 class="programme-overview__subtitle">{{ programme.subTitle }}</h4>
                    {% if programme.summaryItems.length > 0 %}
                        <ul class="programme-overview__summary">
                            {% for item in programme.summaryItems %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <footer class="programme-overview__actions">
                        <a class="btn btn--small" href="{{ programme.linkUrl }}">
                            {% if copy.sections.availableFunding.callToAction %}
                                {{ copy.sections.availableFunding.callToAction }}
                            {% else %}
                                {{ __('global.misc.seeProgramme') }}
                            {% endif %}
                        </a>
                    </footer>
                </article>
            {% endfor %}
            {% if copy.sections.availableFunding.outro %}
                <p>{{ copy.sections.availableFunding.outro | safe }}</p>
            {% endif %}
        </div>
    {% endset %}

    {% set fundingInRegionContent %}
        {% for group in copy.sections.fundingInRegion.groups %}
            {% if (copy.sections.fundingInRegion.groups.length > 1) %}
                <h2 class="t2 t--underline">{{ group.description }}</h2>
            {% endif %}
            {{ factRiver(group.facts) }}
        {% endfor %}
    {% endset %}

    {% set aboutIdeasContent %}
        <div class="s-prose u-constrained-content-wide">
            <p>{{ copy.sections.aboutIdeas.introduction | safe }}</p>
            {% for contentPart in copy.sections.aboutIdeas.contentParts %}
                <h3>{{ contentPart.title }}</h3>
                <ul>
                    {% for item in contentPart.summaryPoints %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
            {% if copy.sections.aboutIdeas.outro %}
                {{ copy.sections.aboutIdeas.outro | safe }}
            {% endif %}
        </div>
    {% endset %}

    {% set environmentContent %}
        <div class="s-prose u-constrained-content-wide">
            <p>{{ copy.sections.environment.introduction | safe }}</p>
        </div>
    {% endset %}

    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted u-inner-wide-only">
                <div class="s-prose u-constrained-content-wide">
                    <p>{{ copy.introduction }}</p>
                </div>
            </section>

            {% macro tabContent(title, content) %}
                <h2 class="u-visually-hidden">{{ title }}</h2>
                {{ content | safe }}
            {% endmacro %}

            {% set availableTabs = {
                "availableFunding": {
                    "id": "section-1",
                    "title": copy.sections.availableFunding.title,
                    "content": tabContent(
                        title = copy.sections.availableFunding.title,
                        content = availableFundingContent
                    ),
                    "active": true
                },
                "fundingInRegion": {
                    "id": "section-2",
                    "title": copy.sections.fundingInRegion.title,
                    "content": tabContent(
                        title = copy.sections.fundingInRegion.title,
                        content = fundingInRegionContent
                    )
                },
                "aboutIdeas": {
                    "id": "section-3",
                    "title": copy.sections.aboutIdeas.title,
                    "content": tabContent(
                        title = copy.sections.aboutIdeas.title,
                        content = aboutIdeasContent
                    )
                },
                "environment": {
                    "id": "section-4",
                    "title": copy.sections.environment.title,
                    "content": tabContent(
                        title = copy.sections.environment.title,
                        content = environmentContent
                    )
                }
            } %}

            {% set tabItems = [
                availableTabs.availableFunding,
                availableTabs.fundingInRegion,
                availableTabs.aboutIdeas
            ] %}

            {% if copy.sections.environment %}
                {% set tabItems = [
                    availableTabs.availableFunding,
                    availableTabs.fundingInRegion,
                    availableTabs.aboutIdeas,
                    availableTabs.environment
                ] %}
            {% endif %}


            <div class="u-inner-wide-only">
                {{ contentTabs(tabItems) }}
            </div>
        </div>
    </main>
{% endblock %}
