{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/project-stories/macro.njk" import projectStories with context  %}

{% block content %}
    <main role="main" id="content">
        {{ hero(
            titleText = copy.title,
            image = pageHero.image,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose accent-content--{{ pageAccent }}">
                    <p>{{ copy.intro }}</p>

                    <ul>
                        {% for item in copy.ideas %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>

                    <h2>{{ copy.callToAction }}</h2>
                </div>

                {% set links = [{
                    "id": "england",
                    "label": copy.locations.england,
                    "url": localify('/funding/programmes/national-lottery-awards-for-all-england')
                }, {
                    "id": "scotland",
                    "label": copy.locations.scotland,
                    "url": localify('/funding/programmes/national-lottery-awards-for-all-scotland')
                }, {
                    "id": "wales",
                    "label": copy.locations.wales,
                    "url": localify('/funding/programmes/national-lottery-awards-for-all-wales')
                }, {
                    "id": "northernIreland",
                    "label": copy.locations.northernIreland,
                    "url": localify('/funding/programmes/awards-for-all-northern-ireland')
                }] %}

                <div class="o-button-group-flex">
                    {% for link in links %}
                        <a href="{{ link.url }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--small"
                            id="qa-button-{{ link.id }}">
                            {{ link.label }}
                        </a>
                    {% endfor %}
                </div>

                <div class="s-prose u-margin-bottom-l">
                    <p>{{ copy.ukWideInfo | safe }}</p>
                </div>

                <h2 class="t4 u-margin-bottom-s">{{ __('global.stateAid.title') }}</h2>
                <div class="s-prose u-text-small">
                    {{ __('global.stateAid.body') | safe }}
                </div>
            </div>

            {% if stories.length > 0 %}
                {{ projectStories(
                    stories = stories,
                    title = __('global.misc.projectExamples')
                ) }}
            {% endif %}

            <div class="u-inner u-align-center u-margin-bottom-l">
                <a href="{{ localify('/funding/grants') }}" class="btn btn--outline btn--medium accent--{{ pageAccent }} a--btn">
                    {{ __('global.misc.searchGrants') }}
                </a>
            </div>
        </div>
    </main>
{% endblock %}
