{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/project-stories/macro.njk" import projectStories with context  %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <div class="content-box u-inner-wide-only">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose">
                    <p>{{ copy.intro }}</p>
                </div>
            </div>

            {% for s in copy.sections %}
                <div class="content-box u-inner-wide-only">
                    <div class="s-prose">
                        <h2>{{ s.title }}</h2>
                        <p>{{ s.body | safe }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>
{% endblock %}
