{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "./grant-results.njk" import grantResultItem with context %}


{% set bodyClass = 'has-static-header' %}

{% macro pgLink(key, value) -%}
    {% set value = value | urlencode %}
    {{ localify('/funding/search-past-grants-alpha?' + key + '=' + value) }}
{% endmacro %}

{% block extraHead %}
    <script>
        window._PAST_GRANTS_SEARCH = {
            project: {{ grant | dump | safe }}
        };
    </script>
{% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <div class="u-constrained-wide accent--pink">
                        <h1>{{ title }}</h1>
                        {% if grant.isActive %}
                            <p class="is-active-project u-margin-bottom-l">Active Project</p>
                        {% endif %}

                        <h2 class="t3 t--underline accent--pink">Project overview</h2>
                        <p>{{ grant.description }}</p>
                    </div>
                </div>

                <div class="content-sidebar__secondary u-tone-background-tint u-padded">
                    <aside class="u-align-center accent--pink a--text">
                        <p class="t1 u-no-margin">£{{ grant.amountAwarded | numberWithCommas }}</p>
                        <p class="t5">
                            {{ title }}<br/>
                            {{ formatDate(grant.awardDate, DATE_FORMATS.slashed) }}
                        </p>
                    </aside>

                    <dl class="o-definition-list o-definition-list--compact project-details">
                        {% if grant.plannedDates %}
                            <dt>Duration</dt>
                            {% for dates in grant.plannedDates %}
                                <dd>
                                    {{ fields.area.label }}
                                    {{ formatDate(dates.startDate, DATE_FORMATS.slashed) }}
                                    {% if dates.endDate %}
                                        – {{ formatDate(dates.endDate, DATE_FORMATS.slashed) }}
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        {% endif %}
                        <dt>Status</dt>
                        <dd>{% if grant.isActive %}Active {% else %}Inactive{% endif %}</dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="u-inner-wide-only">
            <div class="flex-grid">

                <div class="flex-grid__item">
                    <div class="card card--plain u-no-margin u-accent-border-top-pink">
                        <h2 class="t3 t--underline accent--pink">Recipient organisation</h2>

                        {% for org in grant.recipientOrganization %}

                            <dl class="o-definition-list o-definition-list--compact project-details">
                                <dt>Organisation name</dt>
                                <dd>
                                    <a href="{{ pgLink('recipient', org.id) }}">{{ org.name }}</a>
                                </dd>

                                <dt>Type</dt>
                                <dd>
                                    <a href="{{ pgLink('orgType', org.organisationType) }}">{{ org.organisationType }}</a>
                                    {% if org.organisationSubtype %}
                                        > <a
                                        href="{{ pgLink('orgType', org.organisationSubtype) }}">{{ org.organisationSubtype }}</a>
                                    {% endif %}
                                </dd>

                                {% if org.charityNumber %}
                                    <dt>Charity number</dt>
                                    <dd>{{ org.charityNumber }}</dd>
                                {% endif %}

                                {% if org.companyNumber %}
                                    <dt>Company number</dt>
                                    <dd>{{ org.companyNumber }}</dd>
                                {% endif %}

                                <dt>Location</dt>
                                <dd>
                                    {% for location in grant.beneficiaryLocation -%}
                                        {%- if location.geoCodeType === 'CMLAD' -%}
                                            <a href="{{ pgLink('localAuthority', location.geoCode) }}">
                                                {{ location.name -}}
                                            </a>
                                        {%- elseif location.geoCodeType === 'WPC' -%}
                                            <a href="{{ pgLink('constituency', location.geoCode) }}">
                                                {{ location.name -}}
                                            </a>
                                        {% else %}
                                            {{ location.name -}}
                                        {% endif %}
                                        {%- if not loop.last -%}, {% endif %}
                                    {%- endfor -%}
                                </dd>
                            </dl>

                            <p>
                                <a class="btn btn--small btn--outline accent--pink"
                                   href="{{ pgLink('recipient', org.id) }}">
                                    View all grants awarded to this recipient
                                </a>
                            </p>
                        {% endfor %}
                    </div>

                </div>

                <div class="flex-grid__item">
                    {% set mainProgramme = grant.grantProgramme[0] %}

                    {% if mainProgramme.url %}
                        {% set link = localify(mainProgramme.url) %}
                    {% elseif fundingProgramme %}
                        {% set link = localify(fundingProgramme.summary.linkUrl) %}
                    {% else %}
                        {% set link = localify('/funding/programmes') %}
                    {% endif %}

                    {% set heroImage = {
                        "url": fallbackHeroImage.large,
                        "alt": mainProgramme.title
                    } %}

                    {% if fundingProgramme and fundingProgramme.hero %}
                        {% set heroImage = {
                            "url": fundingProgramme.hero.large,
                            "alt": mainProgramme.title
                        } %}
                    {% endif %}

                    {% set props = {
                        "title": "Funded by " + mainProgramme.title,
                        "trailText": fundingProgramme.intro,
                        "image": heroImage,
                        "link": {
                            "label": "Read more about " + mainProgramme.title,
                            "labelAria": "Read more about " + mainProgramme.title,
                            "url": link
                        }
                    } %}

                    {% call promoCard(props, featured = true) %}
                        {% if fundingProgramme.hero.caption %}
                            <p class="project-caption">Photo: {{ fundingProgramme.hero.caption }}</p>
                        {% endif %}
                    {% endcall %}

                </div>

            </div>

        </div>

        <div class="u-inner-wide-only js-only"
             id="js-grant-related-projects"
             v-show="relatedGrants"
             v-cloak=>
            <h2 class="t3 t--underline accent--pink">More like this</h2>
            <div class="flex-grid flex-grid--3up"
                 v-html="relatedGrants">
            </div>
        </div>


    </main>
{% endblock %}
