{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from './helpers.njk' import pgLink, buildLocationList, buildOrgTypeList with context %}

{% set bodyClass = 'has-static-header' %}

{% block extraHead %}
    <script>
        window._PAST_GRANTS_SEARCH = {
            project: {{ grant | dump | safe }}
        };
    </script>
{% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <div class="u-constrained-wide accent--pink">
                        <h1>{{ title }}</h1>
                        {% if grant.isActive %}
                            <p class="active-badge">{{ copy.grantDetail.statuses.activeProject }}</p>
                        {% endif %}

                        <h2 class="t3 t--underline accent--pink">{{ copy.grantDetail.projectOverview }}</h2>
                        <p>{{ grant.description }}</p>
                    </div>
                </div>

                <div class="content-sidebar__secondary u-tone-background-tint u-padded">
                    <aside class="u-align-center accent--pink a--text">
                        <p class="t1 u-no-margin">£{{ grant.amountAwarded | numberWithCommas }}</p>
                        <p class="t5">
                            {{ title }}<br/>
                            {{ formatDate(grant.awardDate, DATE_FORMATS.short) }}
                        </p>
                    </aside>

                    <dl class="o-definition-list o-definition-list--compact project-details">
                        {% if grant.plannedDates %}
                            <dt>{{ copy.grantDetail.fields.duration }}</dt>
                            {% for dates in grant.plannedDates %}
                                <dd>
                                    {{ fields.area.label }}
                                    {{ formatDate(dates.startDate, DATE_FORMATS.short) }}
                                    {% if dates.endDate %}
                                        – {{ formatDate(dates.endDate, DATE_FORMATS.short) }}
                                    {% endif %}
                                </dd>
                            {% endfor %}
                        {% endif %}
                        <dt>{{ copy.grantDetail.fields.status }}</dt>
                        <dd>
                            {% if grant.isActive %}
                                {{ copy.grantDetail.statuses.active }}
                            {% else %}
                                {{ copy.grantDetail.statuses.inactive }}
                            {% endif %}
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="u-inner-wide-only">
            <div class="flex-grid">

                <div class="flex-grid__item">
                    <div class="card card--plain u-no-margin u-accent-border-top-pink">
                        <h2 class="t3 t--underline accent--pink">{{ copy.grantDetail.fields.recipientOrg }}</h2>

                        {% for org in grant.recipientOrganization %}

                            <dl class="o-definition-list o-definition-list--compact project-details">
                                <dt>{{ copy.grantDetail.fields.orgName }}</dt>
                                <dd>
                                    <a href="{{ localify("/funding/search-past-grants-alpha/recipient/" + org.id) }}">{{ org.name }}</a>
                                </dd>

                                <dt>{{ copy.grantDetail.fields.type }}</dt>
                                <dd>
                                    {{ buildOrgTypeList(org) }}
                                </dd>

                                {% if org.charityNumber %}
                                    <dt>{{ copy.grantDetail.fields.charityNumber }}</dt>
                                    <dd>{{ org.charityNumber }}</dd>
                                {% endif %}

                                {% if org.companyNumber %}
                                    <dt>{{ copy.grantDetail.fields.companyNumber }}</dt>
                                    <dd>{{ org.companyNumber }}</dd>
                                {% endif %}

                                {% if grant.beneficiaryLocation %}
                                    <dt>{{ copy.grantDetail.fields.location }}</dt>
                                    <dd>
                                        {{ buildLocationList(grant.beneficiaryLocation) }}
                                    </dd>
                                {% endif %}
                            </dl>

                            <p>
                                <a class="btn btn--small btn--outline accent--pink"
                                   href="{{ localify("/funding/search-past-grants-alpha/recipient/" + org.id) }}">
                                    {{ copy.grantDetail.viewAllForRecipient }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>

                </div>

                <div class="flex-grid__item">
                    {% set mainProgramme = grant.grantProgramme[0] %}

                    {% if fundingProgramme %}
                        {% set link = localify(fundingProgramme.summary.linkUrl) %}
                    {% elseif mainProgramme.url %}
                        {% set link = localify(mainProgramme.url) %}
                    {% else %}
                        {% set link = localify('/funding/programmes') %}
                    {% endif %}

                    {% set heroImage = {
                        "url": fallbackHeroImage.large,
                        "alt": mainProgramme.title
                    } %}

                    {% if fundingProgramme and fundingProgramme.hero %}
                        {% set heroImage = {
                            "url": fundingProgramme.hero.large,
                            "alt": mainProgramme.title
                        } %}
                    {% endif %}

                    {% set props = {
                        "title": copy.grantDetail.fundedBy + ' ' + mainProgramme.title,
                        "trailText": fundingProgramme.intro,
                        "image": heroImage,
                        "link": {
                            "label": copy.grantDetail.readMoreAbout + ' ' + mainProgramme.title,
                            "labelAria": copy.grantDetail.readMoreAbout + ' ' + mainProgramme.title,
                            "url": link
                        }
                    } %}

                    {% call promoCard(props, featured = true) %}
                        {% if fundingProgramme.hero.caption %}
                            <p class="project-caption">{{ copy.grantDetail.photoCaption }}: {{ fundingProgramme.hero.caption }}</p>
                        {% endif %}
                    {% endcall %}

                </div>

            </div>

        </div>

        <div class="u-inner-wide-only js-only"
             id="js-grant-related-projects"
             v-show="relatedGrants"
             v-cloak=>
            <h2 class="t3 t--underline accent--pink">{{ copy.grantDetail.moreLikeThis }}</h2>
            <div class="flex-grid flex-grid--3up"
                 v-html="relatedGrants">
            </div>
        </div>

    </main>
{% endblock %}
