{% from "components/form-fields.njk" import inputChoice, inputSelect %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "./grant-results.njk" import grantResultList with context %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% block extraHead %}
    <script>
        window._PAST_GRANTS_SEARCH = {
            facets: {{ facets | dump | safe }},
            queryParams: {{ queryParams | dump | safe }},
            totalResults: {{ meta.totalResults }}
        };
    </script>
{% endblock %}

{% block content %}
    <main role="main">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}
            <form class="grants-search"
                  id="js-grant-filters"
                  method="get"
                  action=""
                  v-on:submit.prevent>

                <h1>Search past grants</h1>

                <div class="u-tone-background-pale-grey u-padded">
                    <label class="u-visually-hidden" for="search-query">Search</label>
                    <div class="form-field-addon">
                        <input class="form-field-addon__input"
                               type="search"
                               id="search-query"
                               name="q"
                               value="{{ queryParams.q }}"
                               placeholder="Enter a search term, location, or postcode"
                               autocomplete="nope"
                               v-model="filters.q">
                        <input class="form-field-addon__action" type="submit" value="Search" />
                    </div>
                </div>

                <div class="grants-search__meta"
                     v-bind:class="{ 'u-invisible': isCalculating }">

                    <span class="grants-search__total">
                        Showing
                        <strong>
                            <span v-cloak><% totalResults.toLocaleString() %></span>
                            <noscript>{{ meta.totalResults | numberWithCommas }}</noscript>
                        </strong>
                        results
                    </span>

                    {# @TODO these links need to swap when clicked #}
                    <div class="grants-search__sort">
                        <div class="sort-controls">
                            <span class="sort-controls__prefix">
                                Sort:
                            </span>
                            {% if meta.currentSort.type === 'awardDate' and meta.currentSort.direction === 'desc' %}
                                <a class="sort-controls__item sort-controls__item--active sort-controls__item--desc"
                                    href="?{{ queryParams | addQueryParam([['sort', 'awardDate|asc']]) }}"
                                    aria-label="Sort by newest first"
                                    v-on:click.prevent="sort('awardDate', 'asc')">
                                    Award date
                                </a>
                            {% elseif meta.currentSort.type === 'awardDate' and meta.currentSort.direction === 'asc'  %}
                                <a class="sort-controls__item sort-controls__item--active sort-controls__item--asc"
                                    href="?{{ queryParams | addQueryParam([['sort', 'awardDate|desc']]) }}"
                                    aria-label="Sort by oldest first"
                                    v-on:click.prevent="sort('awardDate', 'desc')">
                                    Award date
                                </a>
                            {% else %}
                                <a class="sort-controls__item"
                                    href="?{{ queryParams | addQueryParam([['sort', 'awardDate|desc']]) }}"
                                    aria-label="Sort by oldest first"
                                    v-on:click.prevent="sort('awardDate', 'desc')">
                                    Award date
                                </a>
                            {% endif %}

                            {% if meta.currentSort.type === 'amountAwarded' and meta.currentSort.direction === 'desc' %}
                                <a class="sort-controls__item sort-controls__item--active sort-controls__item--desc"
                                    href="?{{ queryParams | addQueryParam([['sort', 'amountAwarded|asc']]) }}"
                                    aria-label="Sort by highest amount awarded first"
                                    v-on:click.prevent="sort('amountAwarded', 'asc')">
                                    Amount awarded
                                </a>
                            {% elseif meta.currentSort.type === 'amountAwarded' and meta.currentSort.direction === 'asc'  %}
                                <a class="sort-controls__item sort-controls__item--active sort-controls__item--asc"
                                    href="?{{ queryParams | addQueryParam([['sort', 'amountAwarded|desc']]) }}"
                                    aria-label="Sort by lowest amount awarded first"
                                    v-on:click.prevent="sort('amountAwarded', 'desc')">
                                    Amount awarded
                                </a>
                            {% else %}
                                <a class="sort-controls__item"
                                    href="?{{ queryParams | addQueryParam([['sort', 'amountAwarded|desc']]) }}"
                                    aria-label="Sort by highest amount awarded first"
                                    v-on:click.prevent="sort('amountAwarded', 'desc')">
                                    Amount awarded
                                </a>
                            {% endif %}

                            {% if meta.currentSort %}
                                <input type="hidden" name="sort" value="{{ meta.currentSort.type }}|{{ meta.currentSort.direction }}">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="grants-search__content">

                    <div class="grants-search__results">

                        <p v-show="isCalculating" v-cloak>
                            <i class="icon--loading-spinner"></i>
                            Searching, please wait...
                        </p>

                        <p v-show="searchError" v-cloak>
                            <span v-if="searchError === 'ERR-POSTCODE'">The postcode you entered was invalid – please try another one.</span>
                            <span v-else>There was an error with your search.</span>
                        </p>

                        <div id="js-grant-results" v-show="!isCalculating">
                            {{ grantResultList(grants) }}
                        </div>

                    </div>

                    <div class="grants-search__filters">
                        <div class="search-filters"
                             v-bind:class="{ 'search-filters--locked': isCalculating }">

                            {# Filter: Amount awarded #}
                            {% if facets.amountAwarded %}
                                {% set options = [{ 'label': 'Any amount', 'value': '' }] %}
                                {% for item in facets.amountAwarded %}
                                    {% set options = (options.push({
                                        'label': item.title + " (" + item.count + ")",
                                        'value': item.value
                                    }), options) %}
                                {% endfor %}

                                <div class="search-filters__facet">

                                    <noscript>
                                        {{ inputChoice({
                                            type: 'radio',
                                            name: 'amount',
                                            label: 'Amount awarded',
                                            value: queryParams.amount,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}

                                        {% if queryParams.amount %}
                                            <a class="search-filters__clear-facet" href="?{{ queryParams | removeQueryParam('amount') }}">
                                                Clear amount
                                            </a>
                                        {% endif %}
                                    </noscript>

                                    {# @TODO make this into a radio component #}
                                    <div class="js-only" v-cloak>
                                        <label class="ff-label">Amount awarded</label>
                                        <select name="amount"
                                                class="ff-select"
                                                v-model="filters.amount"
                                                disabled>
                                            <option value="">Any amount</option>
                                            <option v-for="option in facets.amountAwarded"
                                                    v-bind:value="option.value">
                                                <% option.title %> (<% option.count %>)
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            {% endif %}

                            {# Filter: Date of award #}
                            {% if facets.awardDate %}
                                {% set options = [{ 'label': 'All years', 'value': '' }] %}
                                {% for item in facets.awardDate %}
                                    {% set options = (options.push({
                                        'label': item._id + " (" + item.count + ")",
                                        'value': item._id.toString()
                                    }), options) %}
                                {% endfor %}

                                <div class="search-filters__facet">

                                    <noscript>
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'year',
                                            label: 'Award year',
                                            value: queryParams.year,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                        {% if queryParams.year %}
                                            <a class="search-filters__clear-facet" href="?{{ queryParams | removeQueryParam('year') }}">
                                                Clear year
                                            </a>
                                        {% endif %}
                                    </noscript>

                                    <div class="js-only" v-cloak>
                                        <label class="ff-label">Award year</label>
                                        <select name="year"
                                                class="ff-select"
                                                v-model="filters.year" disabled>
                                            <option value="">All years</option>
                                            <option v-for="option in facets.awardDate"
                                                    v-bind:value="option._id">
                                                <% option._id %> (<% option.count %>)
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            {% endif %}

                            {# Filter: Grant programme #}
                            {% if facets.grantProgramme %}
                                {% set options = [{ 'label': 'All programmes', 'value': '' }] %}
                                {% for item in facets.grantProgramme %}
                                    {% set options = (options.push({
                                        'label': item._id + " (" + item.count + ")",
                                        'value': item._id.toString()
                                    }), options) %}
                                {% endfor %}

                                <div class="search-filters__facet">

                                    <noscript>
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'programme',
                                            label: 'Programme',
                                            value: queryParams.programme,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                        {% if queryParams.programme %}
                                            <a class="search-filters__clear-facet" href="?{{ queryParams | removeQueryParam('programme') }}">
                                                Clear programme
                                            </a>
                                        {% endif %}
                                    </noscript>

                                    <div class="js-only" v-cloak>
                                        <label class="ff-label">Programme</label>
                                        <select name="programme"
                                                class="ff-select"
                                                v-model="filters.programme" disabled>
                                            <option value="">All programmes</option>
                                            <option v-for="option in facets.grantProgramme"
                                                    v-bind:value="option._id">
                                                <% option._id %> (<% option.count %>)
                                            </option>
                                        </select>
                                    </div>

                                </div>

                            {% endif %}

                            {# Filter: Local Authority #}
                            {% if facets.localAuthorities %}
                                {% set options = [{ 'label': 'All areas', 'value': '' }] %}
                                {% for item in facets.localAuthorities %}
                                    {% set options = (options.push({
                                        'label': item._id + " (" + item.count + ")",
                                        'value': item.code
                                    }), options) %}
                                {% endfor %}

                                <div class="search-filters__facet">

                                    <noscript>
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'localAuthority',
                                            label: 'Local Authority',
                                            value: queryParams.localAuthority,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                        {% if queryParams.localAuthority %}
                                            <a class="search-filters__clear-facet" href="?{{ queryParams | removeQueryParam('localAuthority') }}">
                                                Clear Local Authority
                                            </a>
                                        {% endif %}
                                    </noscript>

                                    <div class="js-only" v-cloak>
                                        <label class="ff-label">Local Authority</label>
                                        <select name="localAuthority"
                                                class="ff-select"
                                                v-model="filters.localAuthority" disabled>
                                            <option value="">All areas</option>
                                            <option v-for="option in facets.localAuthorities"
                                                    v-bind:value="option.code">
                                                <% option._id %> (<% option.count %>)
                                            </option>
                                        </select>
                                    </div>

                                </div>

                            {% endif %}

                            {# Filter: Country #}
                            {% if facets.countries %}
                                {% set options = [{ 'label': 'All countries', 'value': '' }] %}
                                {% for item in facets.countries %}
                                    {% set options = (options.push({
                                        'label': item.name + " (" + item.count + ")",
                                        'value': item.value
                                    }), options) %}
                                {% endfor %}

                                <div class="search-filters__facet">

                                    <noscript>
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'country',
                                            label: 'Country',
                                            value: queryParams.country,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                        {% if queryParams.country %}
                                            <a class="search-filters__clear-facet" href="?{{ queryParams | removeQueryParam('country') }}">
                                                Clear Country
                                            </a>
                                        {% endif %}
                                    </noscript>

                                    <div class="js-only" v-cloak>
                                        <label class="ff-label">Country</label>
                                        <select name="country"
                                                class="ff-select"
                                                v-model="filters.country" disabled>
                                            <option value="">All countries</option>
                                            <option v-for="option in facets.countries"
                                                    v-bind:value="option.value">
                                                <% option.name %> (<% option.count %>)
                                            </option>
                                        </select>
                                    </div>
                                </div>

                            {% endif %}

                            <div class="search-filters__actions">
                                <input type="submit" value="Filter" class="btn btn--medium">
                                <a href="/funding/search-past-grants-alpha"
                                   class="btn-link"
                                   v-on:click.prevent="clearFilters()">
                                    Clear all filters
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
