{% from "components/split-nav/macro.njk" import splitNav with context %}
{% from "components/form-fields.njk" import formField with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "./grant-results.njk" import grantResultList with context %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}
            <form class="grants-search" method="get" action="">
                <h1>Search past grants</h1>

                <div class="search-bar">
                    <label class="search-bar__label" for="search-query">
                        Search
                    </label>
                    <input class="search-bar__field" type="search"
                        id="search-query" name="q"
                        value="{{ queryParams.q }}"
                        placeholder="Enter a search term, location, or postcode">
                    <div class="search-bar__submit">
                        <input class="btn btn--medium" type="submit" value="Search" />
                    </div>
                </div>

                <div class="grants-search__totals">
                    Showing <strong>{{ meta.totalResults | numberWithCommas }}</strong> results{% if queryParams %} {% endif %}</p>
                </div>

                <div class="grants-search__content">
                    <div class="grants-search__results">
                        {{ grantResultList(grants) }}
                        {{ splitNav(pagination.prevLink, pagination.nextLink) }}
                    </div>

                    <div class="grants-search__filters">
                        <div class="search-filters">
                            {{ formField({
                                type: 'select',
                                name: 'sort',
                                label: 'Sort',
                                value: queryParams.sort,
                                options: sortOptions,
                                silentlyOptional: true
                            }) }}

                            {{ formField({
                                type: 'radio',
                                name: 'amount',
                                label: 'Amount awarded',
                                value: queryParams.amount,
                                options: [{
                                    'label': 'Any amount',
                                    'value': ''
                                }, {
                                    'label': 'Under £10,000',
                                    'value': '0|10000'
                                }, {
                                    'label': '£10,000–£50,000',
                                    'value': '10000|50000'
                                }, {
                                    'label': '£50,000-£100,000',
                                    'value': '50000|100000'
                                }, {
                                    'label': 'Over £100,000',
                                    'value': '100000'
                                }],
                                silentlyOptional: true
                            }) }}

                            {% if facets.awardDate %}
                                {% set options = [{ 'label': 'All years', 'value': '' }] %}
                                {% for item in facets.awardDate %}
                                    {% set options = (options.push({
                                        'label': item._id + " (" + item.count + ")",
                                        'value': item._id.toString()
                                    }), options) %}
                                {% endfor %}

                                {{ formField({
                                    type: 'select',
                                    name: 'year',
                                    label: 'Award year',
                                    value: queryParams.year,
                                    options: options,
                                    silentlyOptional: true
                                }) }}
                            {% endif %}

                            {% if facets.grantProgramme %}
                                {% set options = [{ 'label': 'All programmes', 'value': '' }] %}
                                {% for item in facets.grantProgramme %}
                                    {% set options = (options.push({
                                        'label': item._id + " (" + item.count + ")",
                                        'value': item._id.toString()
                                    }), options) %}
                                {% endfor %}

                                {{ formField({
                                    type: 'select',
                                    name: 'programme',
                                    label: 'Funding programme',
                                    value: queryParams.programme,
                                    options: options,
                                    silentlyOptional: true
                                }) }}
                            {% endif %}

                            <div class="form-actions">
                                <input type="submit" value="Filter" class="btn btn--medium">
                                <a href="/funding/search-past-grants-alpha" class="btn-link">Clear filters</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
