{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/form-fields/macros.njk" import inputChoice, inputSelect with context %}
{% from "components/hero.njk" import hero %}
{% from "components/split-nav/macro.njk" import splitNav with context %}
{% from "./grant-results.njk" import grantResultList with context %}

{% block extraHead %}
    <script>
        window._PAST_GRANTS_SEARCH = {
            facets: {{ facets | dump | safe }},
            queryParams: {{ queryParams | dump | safe }},
            totalResults: {{ meta.totalResults }},
            totalAwarded: {{ meta.totalAwarded}},
            sort: {{ meta.sort | dump | safe }}
        };
    </script>
{% endblock %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <p><strong>BETA:</strong> Thank you for choosing to use our new “search awarded grants” service. We are working to improve the service we currently offer, your feedback will help us do that.</p>

                <div id="feedback">
                    {{ inlineFeedback(
                        description = "past_grants_beta",
                        promptLabel = "Can you spare a minute to give us some feedback?",
                        fieldLabel = "Tell us why you came to this page today"
                    )  }}
                </div>
            </div>

            <form class="u-inner" id="js-past-grants" method="get" action="" v-on:submit.prevent>
                {# TODO: Improve this #}
                <span>
                    {% if queryParams.recipient %}
                        <small v-show="filters.recipient">(Recipient: {{ grants[0].recipientOrganization[0].name }})</small>
                    {% endif %}
                    {% if queryParams.orgType %}
                        <small v-show="filters.orgType">(Organisation Type: {{ grants[0].recipientOrganization[0].organisationType }})</small>
                    {% endif %}
                </span>

                <div class="grants-searchbar">
                    <label class="ff-label" for="search-query">Search awarded grants</label>
                    <div class="form-field-addon u-margin-bottom-s">
                        <input class="form-field-addon__input js-only"
                            type="search"
                            id="search-query"
                            name="q"
                            :value="filters.q"
                            autocomplete="no"
                            @input="debounceQuery">

                        <noscript>
                            <input class="form-field-addon__input"
                                    type="search"
                                    id="search-query"
                                    name="q"
                                    value="{{ queryParams.q }}"
                                    autocomplete="no">
                        </noscript>
                        <input class="form-field-addon__action" type="submit" value="Search" />
                    </div>
                    <p class="ff-help u-no-margin">
                        e.g. a keyword such as “loneliness”, a location, an organisation, or an area of work
                    </p>
                </div>

                <div class="grants-search{% if meta.totalResults === 0 %} has-no-results{% endif %}" v-if="totalResults > 0">
                    <div class="grants-search__meta">
                        <h2 class="grants-search__total accent--{{ pageAccent }} t--underline">
                            <grants-total-summary
                                :total-results="totalResults"
                                :total-awarded="totalAwarded"
                            />
                            {{ meta.totalResults | numberWithCommas }} projects found
                        </h2>

                        <div class="grants-search__sort">
                            <grants-sort
                                :sort="sort"
                                @change-sort="handleChangeSort"
                            />
                        </div>
                    </div>

                    <div class="grants-search__content">

                        <div class="grants-search__results">
                            <div class="grants-search__status">
                                <grants-loading-status :status="status" />
                            </div>

                            <div id="js-grant-results" v-show="['NotAsked', 'Success'].indexOf(status.state) !== -1">
                                {{ grantResultList(grants) }}
                            </div>
                        </div>

                        <div class="grants-search__filters">
                            {# Javascript component version of filters #}
                            <grants-filters
                                :facets="facets"
                                :filters="filters"
                                :status="status"
                                @clear-filters="clearFilters"
                            />

                            {# Noscript fallback filters #}
                            <fieldset class="search-filters">
                                <div class="search-filters__header">
                                    <legend class="search-filters__title">Filter by</legend>
                                </div>
                                {# Filter: Amount awarded #}
                                {% if facets.amountAwarded %}
                                    {% set options = (facets.amountAwarded.unshift({
                                        'label': 'Any amount',
                                        'value': ''
                                    }), facets.amountAwarded) %}
                                    <div class="facet-group">
                                        {{ inputChoice({
                                            type: 'radio',
                                            name: 'amount',
                                            label: 'Amount awarded',
                                            value: queryParams.amount,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                    </div>
                                {% endif %}

                                {# Filter: Country #}
                                {% if facets.countries %}
                                    {% set options = (facets.countries.unshift({
                                        'label': 'All countries',
                                        'value': ''
                                    }), facets.countries) %}
                                    <div class="facet-group">
                                        {{ inputChoice({
                                            type: 'radio',
                                            name: 'country',
                                            label: 'Country',
                                            value: queryParams.country,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                    </div>
                                {% endif %}

                                {# Filter: Grant programme #}
                                {% if facets.grantProgramme %}
                                    {% set options = (facets.grantProgramme.unshift({
                                        'label': 'All programmes',
                                        'value': ''
                                    }), facets.grantProgramme) %}
                                    <div class="facet-group">
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'programme',
                                            label: 'Programme',
                                            value: queryParams.programme,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                    </div>
                                {% endif %}

                                {# Filter: Local Authority #}
                                {% if facets.localAuthorities %}
                                    {% set options = (facets.localAuthorities.unshift({
                                        'label': 'All local authorities',
                                        'value': ''
                                    }), facets.localAuthorities) %}
                                    <div class="facet-group">
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'localAuthority',
                                            label: 'Local authority',
                                            value: queryParams.localAuthority,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                    </div>
                                {% endif %}

                                {# Filter: Constituency #}
                                {% if facets.westminsterConstituencies %}
                                    {% set options = (facets.westminsterConstituencies.unshift({
                                        'label': 'All constituencies',
                                        'value': ''
                                    }), facets.westminsterConstituencies) %}
                                    <div class="facet-group">
                                        {{ inputSelect({
                                            type: 'select',
                                            name: 'constituency',
                                            label: 'Westminster constituency',
                                            value: queryParams.constituency,
                                            options: options,
                                            silentlyOptional: true
                                        }) }}
                                    </div>
                                {% endif %}

                                <noscript>
                                    <div class="search-filters__actions">
                                        <input type="submit" value="Filter" class="btn btn--medium">
                                    </div>
                                </noscript>
                            </fieldset>
                        </div>
                    </div>
                </div>{# End grants-search #}

                <grants-no-results
                    :total-results="totalResults"
                    @clear-filters="clearFilters"
                />

                {% if meta.totalResults === 0 %}
                    <div class="grants-no-results s-prose u-margin-bottom" v-if="totalResults === 0">
                        <h3>We're sorry, we couldn't find any results matching your criteria</h3>
                        <ul>
                            <li>Try a different query or clear your filters</li>
                            <li>Try searching something less specific — sometimes using a more general search term may help</li>
                            <li>Double check the spelling of any keywords you are searching for</li>
                            <li>Our database might not have the details for granst awarded under 1 month ago. Please check our <a href="/news-and-events">news section</a> if you are looking for a recently awarded grant</li>
                        </ul>
                        <p>If you're looking for something specific and would like some help <a href="/contact">please contact us</a></p>
                        <p><a class="btn btn--medium" href="/funding/search-past-grants-alpha">Clear all filters</a></p>
                    </div>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock %}
