{% from "components/split-nav/macro.njk" import splitNav with context %}
{% from "components/form-fields.njk" import formField with context %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% macro grantResult(grant) %}
    <article class="grant-result">
        <header class="grant-result__header">
            <h3 class="grant-result__title"><a href="#">{{ grant.title }}</a></h3>
            <p class="grant-result__summary">
                £{{ grant.amountAwarded | numberWithCommas}} to
                {{ grant.recipientOrganization[0].name }}
                on {{ formatDate(grant.awardDate, DATE_FORMATS.short) }}
            </p>
        </header>

        <footer class="grant-result__meta">
            <dl class="o-definition-list o-definition-list--compact">
                {% if grant.beneficiaryLocation %}
                    <dt>Location</dt>
                    <dd>
                    {% set comma = joiner() %}
                    {% for location in grant.beneficiaryLocation -%}
                        {{ comma() }} {{ location.name }}
                    {%- endfor %}
                    </dd>
                {% endif %}
                <dt>Grant programme</dt>
                {% for programme in grant.grantProgramme %}
                    <dd><a href="?programme={{ programme.title }}">{{ programme.title }}</a></dd>
                {% endfor %}
            </dl>

            <p><a href="#">View full details</a></p>
        </footer>
    </article>
{% endmacro %}

{% block content %}
    <main role="main">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>Search past grants</h1>

            <div class="grants-search">
                <div class="grants-search__filters">
                    <form method="get">
                        {{ formField({
                            type: 'search',
                            name: 'q',
                            label: 'Search',
                            value: queryParams.q,
                            silentlyOptional: true
                        }) }}

                        {{ formField({
                            type: 'postcode',
                            name: 'postcode',
                            label: 'Postcode',
                            value: queryParams.postcode,
                            silentlyOptional: true
                        }) }}

                        {% if facets.awardDate %}
                            {% set options = [{ 'label': 'Select a year', 'value': '' }] %}
                            {% for item in facets.awardDate %}
                                {% set options = (options.push({
                                    'label': item._id + " (" + item.count + ")",
                                    'value': item._id.toString()
                                }), options) %}
                            {% endfor %}

                            {{ formField({
                                type: 'select',
                                name: 'year',
                                label: 'Award year',
                                value: queryParams.year,
                                options: options,
                                silentlyOptional: true
                            }) }}
                        {% endif %}

                        {% if facets.grantProgramme %}
                            {% set options = [{ 'label': 'Select a programme', 'value': '' }] %}
                            {% for item in facets.grantProgramme %}
                                {% set options = (options.push({
                                    'label': item._id + " (" + item.count + ")",
                                    'value': item._id.toString()
                                }), options) %}
                            {% endfor %}

                            {{ formField({
                                type: 'select',
                                name: 'programme',
                                label: 'Funding programme',
                                value: queryParams.programme,
                                options: options,
                                silentlyOptional: true
                            }) }}
                        {% endif %}

                        <div class="form-actions o-button-group">
                            <input type="submit" value="Filter" class="btn btn--medium">
                        </div>
                    </form>
                </div>

                <div class="grants-search__results s-prose">
                    <p>Showing <strong>{{ meta.totalResults }}</strong> results{% if queryParams %} filtered by:{% endif %}</p>

                    {% macro activeQueryItem(label, queryProp) %}
                        {% if queryParams[queryProp] %}
                            <li>
                                <strong>{{ label }}</strong> "{{ queryParams[queryProp] }}"
                                &mdash; <a href="?{{ queryParams | removeQueryParam(queryProp) }}">Remove</a>
                            </li>
                        {% endif %}
                    {% endmacro %}

                    {% if queryParams %}
                        <ul class="u-margin-bottom-l">
                            {{ activeQueryItem('Search term:', 'q') }}
                            {{ activeQueryItem('Postcode:', 'postcode') }}
                            {{ activeQueryItem('Funding Programme:', 'programme') }}
                            {{ activeQueryItem('Award year:', 'year') }}
                            {{ activeQueryItem('Organisation Type:', 'orgType') }}
                        </ul>
                    {% endif %}

                    {% if grants.length > 0 %}

                        <p>Sort these results:</p>
                        <ul class="u-margin-bottom-l">
                            {% for s in sortableFields %}
                                <li>
                                    <strong>{{ s.title }}</strong>
                                    <a href="?{{ queryParams | addQueryParam([['sort', s.key]]) }}">asc</a> |
                                    <a href="?{{ queryParams | addQueryParam([['sort', s.key], ['dir', 'desc']]) }}">desc</a>
                                </li>
                            {% endfor %}
                        </ul>

                        {% for grant in grants %}
                            {{ grantResult(grant) }}
                        {% endfor %}
                    {% else %}
                        <p>No results</p>
                    {% endif %}

                    {{ splitNav(pagination.prevLink, pagination.nextLink) }}
                </div>
            </div>

        </div>
    </main>
{% endblock %}
