<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/build/latest/stylesheets/emails.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,500" rel="stylesheet">
    </head>
    <body>
        <p>New submission for {{ title }}</p>

        <h2 class="space-above">Customer information</h2>

        <div class="summary">
            {% for step in summary %}
                <h4>{{ step.name }}</h4>
                {% for fieldset in step.fieldsets %}
                    {% for field in fieldset.fields %}
                        {% if field.value %}
                            <h5>{{ field.label }}</h5>
                            {% if field.type === 'textarea' %}
                                <p>{{ field.value | striptags(true) | escape | nl2br }}</p>
                            {% else %}
                                <p>{{ field.value }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>
