{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/step-progress/macro.njk" import stepProgress %}

{% block title %} {{ title }} | {{ formTitle }} | {% endblock %}

{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">
        {% if heroImage %}
            {{ hero(
                titleText = form.title,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        {% if heroImage %}<div class="nudge-up">{% endif %}

        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose u-constrained-wide">
                <h1>{{ title }}</h1>

                <p>{{ stepCopy.message }}</p>

                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ stepCopy.nextStepsTitle }}</h2>

                {{ stepProgress([{
                    "title": "Request a call",
                    "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time",
                    "isCompleted": true
                }, {
                    "title": "Talk to us",
                    "description": "We call you and ask a few questions"
                }, {
                    "title": "Submit a full proposal",
                    "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
                }] )}}
            </div>
        </div>

        {% if heroImage %}</div>{% endif %}
    </main>
{% endblock %}
