{% from "components/buttons.njk" import startButton %}
{% from "components/print-button/macro.njk" import printButton %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}
{% set pageAccent = 'pink' %}

{% set startLabel = "Continue your application" if hasBegunForm else "Start your application" %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>{{ form.title }}</h1>

            <div class="s-prose accent-content--{{ pageAccent }} u-constrained-wide">
                <p>
                    Funding of between £30,000 and £100,000 is available to support
                    projects that prevent or reduce loneliness and help people,
                    communities and local services connect in a variety of different ways.
                </p>

                {{ startButton(startUrl, label=startLabel) }}

                <div class="message">
                    <strong>Note</strong>: Once you’ve started your application it will be saved on this computer for
                    the next {{ sessionDurationInDays }} days to allow you to edit and make changes before submission. You can also take some
                    time to <a href="#questions">read the questions you'll be asked</a> before you start.
                </div>

                <h2>Other ways to apply</h2>
                <p>
                    We’re available Monday–Friday from 9am to 5pm to answer questions about applying, or if you need the application materials in an alternative format.
                </p>
                <ul>
                    <li><strong>Telephone</strong>: 0345 4 10 20 30</li>
                    <li><strong>Textphone</strong>: 18001 plus 0345 4 10 20 30 (for those with a hearing or speech impairment)</li>
                </ul>

            </div>

            <ul class="o-image-list u-margin-top-l">
                <li><img src="{{ 'logos/partners/blf.png' | getImagePath }}" alt="Big Lottery Fund logo" width="157" /></li>
                <li><img src="{{ 'logos/partners/hm-gov.png' | getImagePath }}" alt="HM Government logo" width="375" /></li>
            </ul>
        </div>

        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top" id="questions">
            <div class="s-prose u-constrained-wide u-margin-bottom-l accent-content--{{ pageAccent }}">
                <h2>Questions you'll be asked</h2>

                <p>{{ printButton('Print these questions', metrics = true) }}</p>

                {% for step in form.getSteps() %}
                    <div class="step-preview accent-content--{{ pageAccent }}">
                        <h3 class="step-preview__title">{{ loop.index }}. {{ step.name }}</h3>
                        {% for fieldset in step.fieldsets %}
                            <div class="step-preview__fieldset">
                                <div class="step-preview__fieldset-legend">{{ fieldset.introduction | safe  }}</div>
                                {% for field in fieldset.fields %}
                                    <div class="step-preview__field">
                                        <p class="step-preview__field-label">
                                            {{ field.label }}
                                        </p>
                                        {% if field.type === 'checkbox' %}
                                            Choose all that apply:
                                            {% for option in field.options -%}
                                                {{ option.label }}{% if not loop.last %}, {% endif %}
                                            {%- endfor %}
                                        {% endif %}
                                        {% if field.type === 'radio' %}
                                            Choose one of:
                                            {% for option in field.options -%}
                                                {{ option.label }}{% if not loop.last %}, {% endif %}
                                            {%- endfor %}
                                        {% endif %}
                                        {% if field.helpText %}
                                            <div class="step-preview__field-guidance">
                                                {{ field.helpText | safe }}
                                            </div>
                                        {% endif %}
                                        {% if field.lengthHint %}
                                            <small class="step-preview__field-length-hint ff-length-hint">
                                                <strong>Suggested answer length:</strong> {{ field.lengthHint.text }}
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {{ startButton(startUrl, label=startLabel) }}

                <h2>After your application is submitted</h2>
                <p>
                    You will be sent a copy of your submission via email.
                    This information will be reviewed by a team of Big Lottery Fund staff
                    which will decide whether the idea is something we can fund.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
