{% from "components/buttons.njk" import startButton %}
{% from "components/print-button/macro.njk" import printButton %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>{{ title }}</h1>

            <div class="s-prose accent-content--{{ pageAccent }} u-constrained-wide">
                <div class="message">
                    The Building Connections Fund closed for applications on <strong>Friday 24 August at 12 noon</strong>. Please go to the <a href="/funding/programmes">funding section of our website</a> to see our open funding programmes.
                </div>
            </div>

            <ul class="o-image-list u-margin-top-l">
                <li><img src="{{ 'logos/partners/blf.png' | getImagePath }}" alt="Big Lottery Fund logo" width="157" /></li>
                <li><img src="{{ 'logos/partners/hm-gov.png' | getImagePath }}" alt="HM Government logo" width="375" /></li>
            </ul>
        </div>
    </main>
{% endblock %}
