{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/buttons.njk" import startButton %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}
{% block title %}Success | {{ form.title }} | {% endblock %}
{% set pageAccent = 'pink' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose u-constrained">
                <div class="form-message">
                    <h1 class="t1 form-message__title">Thank you for submitting an application</h1>
                </div>

                <p>We have emailed you a copy of your submission.</p>

                <h2 class="t2 t--underline accent--pink">What happens next?</h2>

                <p>
                    This information will be reviewed by a team of Big Lottery Fund staff
                    which will decide whether the idea is something we can fund.
                </p>

                {{ inlineFeedback(
                    description = form.title,
                    promptLabel = "Can you spare a minute to give us some feedback?",
                    fieldLabel = "How was your experience of submitting an application?",
                    helpText = "This is completely anonymous and doesn't form part of your submission. Don't include any details about your application, just tell us how you found the experience.",
                    isToggleable = false
                )  }}
            </div>
        </div>
    </main>
{% endblock %}
