{% from "components/miniature-hero/macro.njk" import miniatureHero %}

{% macro grid(children, sidebar = null) %}
    <section class="u-inner{% if sidebar %} content-sidebar{% endif %}">
        {% if sidebar %}
            <div class="content-sidebar__primary content-sidebar__primary--unconstrained">
        {% endif %}
        <ul class="flex-grid">
            {% for page in children %}
                <li class="flex-grid__item">
                    {{ miniatureHero({
                        "title": page.trailText | default(page.title, true),
                        "linkUrl": page.linkUrl,
                        "image": { "url": page.trailImage }
                    }, isLarge = true) }}
                </li>
            {% endfor %}
        </ul>

        {% if sidebar %}
            </div>
            <div class="content-sidebar__secondary">
                {{ sidebar | safe }}
            </div>
        {% endif %}
    </section>
{% endmacro %}

{% macro list(children, sidebar = null) %}
    {% if sidebar %}
        <div class="content-sidebar">
            <div class="content-sidebar__primary">
    {% endif %}

    <ul class="section-links">
        {% for page in children %}
            <li class="section-links__item">
                <a class="section-links__link" href="{{ page.linkUrl }}">
                    {{ page.trailText or page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% if sidebar %}
            </div>
            <div class="content-sidebar__secondary">
                {{ sidebar | safe }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro childPages(children, mode, sidebar = null) %}
    {% if (mode === 'grid') %}
        {{ grid(children, sidebar) }}
    {% else %}
        {{ list(children, sidebar) }}
    {% endif %}
{% endmacro %}

