{% macro awardsForAllMessage(mode = false, skipCreateAccountLink = false) %}
    <div class="message message--info" role="alert">
        {% if mode === 'full' %}
            <p>Welcome to our new online application for National Lottery Awards for All.</p>
            <p><strong>Applying for a project in Scotland?</strong></p>
            <p>Great - you’re in the right place. You’ll need to {% if not skipCreateAccountLink %}<a href="{{ localify('/user/register') }}">create a new account</a>{% else %}create a new account{% endif %} to apply. Unless you’ve already created an account for our new online application form.</p>
            <p><strong>Applying for a project somewhere else in the UK?</strong></p>
            <p><a href="https://apply.tnlcommunityfund.org.uk">You’ll need to use this form instead</a>. We’re still working on the new online form for the rest of the UK.</p>
        {% else %}
            <p><strong>Applying for a project in England, Northern Ireland or Wales?</strong></p>
            <p><a href="https://apply.tnlcommunityfund.org.uk">You’ll need to use this form instead</a>. Only applicants in Scotland can apply through our new online form at the moment. We’re working on making this available for the rest of the UK.</p>
        {% endif %}
    </div>
{% endmacro %}
