/* =========================================================================
   Applications
   ========================================================================= */

$statuses: (
    'complete': #4a9e2e,
    'incomplete': #f56600,
    'empty': #757575
);

/* =========================================================================
   Section progress bar
   e.g. summary screen section headers
   ========================================================================= */

.section-progress-bar {
    font-weight: font-weight('body', 'semibold');
    background-color: get-color('background', 'light-neutral');
    margin-bottom: 3px;

    @include mq('medium-minor') {
        display: flex;
        align-items: center;
        border-left: 3px solid map-get($statuses, 'empty');
        padding-left: $spacingUnit / 2;
    }

    @include mq('medium-minor', 'max') {
        border-top: 3px solid map-get($statuses, 'empty');
    }

    .section-progress-bar__title {
        margin: 0;

        @include mq('medium-minor', 'max') {
            padding: $spacingUnit / 2 5px;
        }

        @include mq('medium-minor') {
            flex: 1 1 auto;
        }
    }

    .section-progress-bar__marker {
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: font-weight('body', 'bold');
        padding: $spacingUnit / 2;
        background-color: map-get($statuses, 'empty');
        display: block;

        @include mq('medium-minor') {
            flex: 0 0 160px;
        }

        .icon {
            width: 21px;
            height: 21px;
            margin-right: 5px;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }
    }

    .section-progress-bar__edit {
        margin-left: $spacingUnit / 2;
    }

    &.section-progress-bar--complete {
        border-left-color: map-get($statuses, 'complete');

        .section-progress-bar__marker {
            background-color: map-get($statuses, 'complete');
        }
    }

    &.section-progress-bar--incomplete {
        border-left-color: map-get($statuses, 'incomplete');

        .section-progress-bar__marker {
            background-color: map-get($statuses, 'incomplete');
        }
    }
}

/* =========================================================================
   Step Summary
   ========================================================================= */

.step-summary {
    margin-bottom: $spacingUnit;

    .step-summary__title {
        font-size: 18px;
        margin: $spacingUnit 0;
    }

    .step-summary__data {
        font-size: 18px;
        border-top: 1px solid get-color('border', 'base');
        margin-top: $spacingUnit / 2;

        &:target {
            background-color: rgba(255, 255, 0, 0.5);
        }

        .step-summary__data__question {
            font-weight: bold;
        }
    }

    .step-summary__data__errors {
        margin-top: $spacingUnit / 3;
        max-width: 25em;
        color: get-color('message', 'warning');
        font-weight: font-weight('body', 'bold');
    }

    .step-summary__data__answer-inner.has-errors,
    .step-summary__data__answer-inner.has-featured-errors {
        border-left: 3px solid get-color('message', 'warning');
        padding-left: $spacingUnit / 2;
    }

    .step-summary__data__answer-inner.has-featured-errors {
        border-left: 3px solid get-color('message', 'information');

        .step-summary__data__errors {
            color: get-color('message', 'information');
        }
    }

    .step-summary__data:not(.is-stacked) {
        .step-summary__data__question,
        .step-summary__data__answer,
        .step-summary__data__link {
            padding: $spacingUnit / 2 0;
        }

        @include mq('medium') {
            display: flex;
            justify-content: flex-start;

            .step-summary__data__question,
            .step-summary__data__answer,
            .step-summary__data__link {
                padding: $spacingUnit / 2;
            }

            .step-summary__data__question {
                flex-basis: 260px;
                padding-left: 0;
                border-right: 1px solid get-color('border', 'base');
            }

            .step-summary__data__link {
                padding-right: 0;
                flex-shrink: 1;
                margin-left: auto;
            }
        }
    }

    .step-summary__data.is-stacked {
        display: flex;
        flex-direction: column;
        padding: $spacingUnit / 2 0 $spacingUnit;

        .step-summary__data__question {
            margin-bottom: 0.5em;
        }

        .step-summary__data__answer {
            margin-bottom: 1em;
        }
    }
}

/* =========================================================================
   Application Card
   ========================================================================= */

.application-card {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: $spacingUnit / 2;
    padding: 12px;

    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0%;

    @include mq('medium') {
        padding: $spacingUnit $spacingUnit * 2 $spacingUnit $spacingUnit;
    }

    .application-card__title-suffix {
        display: block;
        color: get-color('text', 'base');
        font-family: font-stack('body');
        font-weight: normal;
        font-size: 16px;
    }

    .application-card__overview {
        margin-bottom: $spacingUnit;

        dt {
            font-weight: font-weight('body', 'bold');
            display: block;
            float: left;
            clear: left;
            margin: 0 .5em 0 0;
        }

        dt:after {
            content: ': ';
        }

        dd {
            margin-bottom: 4px;
            @include wrap-words();
        }
    }

    .application-card__actions {
        margin-bottom: $spacingUnit;

        > .btn {
            display: inline-block;
            vertical-align: middle;
            margin-right: $spacingUnit;
        }
    }

    .application-card__meta {
        border-top: 1px solid get-color('border', 'base');
        padding-top: $spacingUnit / 2;
        margin-top: auto;
    }
}

.status-bar {
    @include reset-list();
    display: flex;
    margin-bottom: $spacingUnit / 2;
    border: 1px solid rgba(0, 0, 0, 0.25);

    .status-bar__step {
        flex: 1 1 auto;
        height: 12px;
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        background-color: white;

        &:last-child {
            border-right: none;
        }
    }

    .status-bar__step--complete {
        background-color: #4a9e2e;
    }

    .status-bar__step--incomplete {
        // @TODO: Confirm what #757575 40% should be
        background-color: lighten(#757575, 40%);
    }
}

/* =========================================================================
   Submit Actions
   ========================================================================= */

.submit-actions {
    margin-bottom: $spacingUnit;
    background-color: get-color('background', 'light-neutral');

    padding: $spacingUnit ($spacingUnit / 2);

    @include mq('medium') {
        padding: $spacingUnit;
    }
}

/* =========================================================================
   Application Questions
   ========================================================================= */

.application-questions {
    .application-questions__header {
        background-color: get-color('background', 'light-neutral');
        padding: $spacingUnit;
    }

    .application-questions__set {
        padding: $spacingUnit;

        .application-questions__item {
            padding-bottom: $spacingUnit;
            margin-bottom: $spacingUnit;
            border-bottom: 1px solid get-color('border', 'base');

            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .application-questions__q,
    .application-questions__help {
        font-weight: bold;
        font-family: font-stack('display');
        margin-bottom: $spacingUnit / 2;
    }

    .application-questions__q {
        font-size: font-scale('display', 't5');
    }
    .application-questions__help {
        font-size: font-scale('display', 't6');
    }
}
