$statuses: (
    'complete': #55ac3b,
    'incomplete': #fd992b,
    'empty': #7b7b7b
);

$statusColumnWidth: 160px;

.application-summary {
    // Grid of buttons at the top of the summary
    .application-summary__actions {
        display: flex;
    }

    // The header at the top of each section showing that section's title and completion status
    .application-summary__status {
        display: flex;
        justify-content: space-between;
        border-left: 3px solid get-color('background', 'light-neutral');
        padding-left: $spacingUnit / 2;

        &.application-summary__status--mini {
            align-items: center;
            margin-bottom: 3px;
            font-size: 13px;
            font-weight: bold;

            .application-status-label {
                min-width: 100px;
                font-size: 12px;
            }
        }

        &.application-summary__status--complete {
            $colour: map-get($statuses, 'complete');
            border-left-color: $colour;
        }

        &.application-summary__status--incomplete {
            $colour: map-get($statuses, 'incomplete');
            border-left-color: $colour;
        }

        &.application-summary__status--empty {
            $colour: map-get($statuses, 'empty');
            border-left-color: $colour;
        }

        .application-status-label {
            margin-left: $spacingUnit;
            color: #ffffff;
            font-size: 14px;
            text-align: center;
            min-width: $statusColumnWidth;

            &.application-status-label--complete {
                background-color: map-get($statuses, 'complete');
            }

            &.application-status-label--incomplete {
                background-color: map-get($statuses, 'incomplete');
            }

            &.application-status-label--empty {
                background-color: map-get($statuses, 'empty');
            }

            svg {
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }

    // A link wrapped in square brackets to indicate form editing
    .application-summary__edit-link {
        font-family: font-stack('body');
        font-size: 16px;
        font-weight: normal !important;
        text-decoration: none;
        margin-left: $spacingUnit;
        &:before {
            content: '[';
        }
        &:after {
            content: ']';
        }
    }

    // The contents of each application summary section
    .application-summary__status__content {
        padding: $spacingUnit / 2;

        p {
            margin-right: $statusColumnWidth;
            font-size: 18px;
        }

        summary {
            font-weight: bold;
            font-size: 16px;
            color: get-color('links', 'base');
            // the default underline styling doesn't appear here for some reason
            text-decoration: none;
            border-bottom: 1px solid get-color('links', 'base');
            display: inline-block;
        }
    }

    .application-summary__step-title {
        margin: $spacingUnit 0;
    }

    // The (mock) table of the user's form responses
    .application-summary__data {
        font-size: 18px;
        display: flex;
        justify-content: start;
        border-top: 1px solid get-color('border', 'base');

        .application-summary__data__question,
        .application-summary__data__answer,
        .application-summary__data__link {
            padding: $spacingUnit / 2;
        }

        .application-summary__data__question {
            flex-basis: 260px;
            font-weight: bold;
            border-right: 1px solid get-color('border', 'base');
        }

        .application-summary__data__link {
            flex-shrink: 1;
            margin-left: auto;
        }
    }

    .application-summary__toggle {
        font-size: 14px;
        font-weight: bold;
    }
}

/* =========================================================================
   Application Card
   ========================================================================= */

.application-card {
    background-color: get-color('background', 'light-neutral');
    margin-bottom: $spacingUnit;
    font-size: 16px;

    .application-card__minor-title {
        font-family: font-stack('display');
        font-weight: font-weight('display', 'semibold');
        margin-bottom: 3px;
        font-size: 16px;
    }

    .application-card__summary {
        padding: $spacingUnit;
        margin-right: $spacingUnit;
        flex-shrink: 0;
        flex-basis: 60%;
    }

    .application-card__progress {
        padding: $spacingUnit / 2;
        background-color: #eeeeee;
    }
    .application-card__progress__status {
        background-color: get-color('background', 'light-neutral');
        padding: $spacingUnit / 2;
        margin-bottom: 5px;
    }

    @include mq('medium') {
        display: flex;
        justify-content: space-between;

        .application-card__progress {
            display: flex;
            flex-direction: column;
        }
        .application-card__progress__status {
            flex: 1 1 0;
        }
    }
}

.application-data-missing {
    &:before {
        content: '<';
    }
    &:after {
        content: '>';
    }
    color: lighten(get-color('text', 'base'), 50%);
}

.application-text-minor {
    font-size: 15px;
}
