/* =========================================================================
   Badges
   ========================================================================= */

.o-badge {
    color: white;
    background-color: get-color('background', 'dark-neutral');
    font-weight: font-weight('body', 'semibold');
    display: inline-block;
    vertical-align: middle;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 1;

    .icon {
        height: 15px;
        width: 15px;
        margin-right: 2px;
        margin-left: -2px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -1px; // Optically align
    }

    &.o-badge--primary {
        background-color: get-color('brand', 'primary');
    }
}

.o-tag {
    display: inline-block;
    border: 1px solid #0075b0;
    padding: 2px 7px;
    text-decoration: none;
    font-size: 14px;
    margin: 3px 3px 3px 0;

    @include on-interact() {
        border-color: darken(#0075b0, 10%);
        color: darken(#0075b0, 10%);
    }
}

/* =========================================================================
   Pills
   ========================================================================= */

.o-pill {
    background-color: get-color('background', 'light-neutral');
    display: inline-block;
    vertical-align: baseline;
    padding: 6px 20px;
    border-radius: 50px;
    line-height: 1;
    position: relative;
}
