/* =========================================================================
   Forms
   ========================================================================= */

.form-header {
    margin-bottom: $spacingUnit * 2;

    .form-header__actions {
        margin-bottom: $spacingUnit / 2;

        a:not(:last-of-type) {
            margin-right: $spacingUnit;
        }
    }

    .form-header__prefix,
    .form-header__title {
        margin-bottom: 3px;
    }
    .form-header__prefix {
        font-size: 16px;
        font-weight: normal;
        color: get-color('text', 'note');
    }
}

.form-header__actions {
    margin-bottom: $spacingUnit / 2;
    padding-bottom: $spacingUnit / 2;
    border-bottom: 1px solid get-color('border', 'base');
    display: flex;

    &.form-header__actions--footer {
        margin-bottom: 0;
        margin-top: $spacingUnit / 2;
        padding-bottom: 0;
        padding-top: $spacingUnit / 2;
        border-bottom: none;
        border-top: 1px solid get-color('border', 'base');
    }

    > li {
        flex-grow: 1;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid get-color('border', 'base');
        padding: $spacingUnit / 3 $spacingUnit / 2;
        text-align: center;
    }

    $arrowSpacing: 5px;

    .form-header__actions__steps {
        border-left: none;
        flex-basis: 40%;
        padding-left: 0;
        padding-top: 0;

        .form-step-link {
            width: 100%;
            display: flex;
        }

        .form-step-link__item {
            display: flex;

            // Previous
            &:nth-child(1) {
                text-align: left;
                padding-left: 0;
                flex: 1;
                .form-step-link__arrow {
                    margin-right: 5px;
                }
            }

            // Next
            &:nth-child(2) {
                text-align: right;
                flex: 1;
                justify-content: flex-end;

                .form-step-link__arrow {
                    margin-left: 5px;
                }
            }
        }

        &.form-header__actions__steps--text {
            padding-bottom: 0;
            text-align: left;
            align-self: center;
        }
    }

    .form-step-link__arrow {
        color: get-color('links', 'base');
        font-size: 22px;
        vertical-align: middle;
    }

    .form-step-link__subtitle {
        font-weight: normal;
        font-size: 13px;
        display: block;
    }
}

.form-fieldset {
    margin: 0;
}
.form-fieldset__legend {
    font-family: font-stack('display');
    font-weight: font-weight('display', 'bold');
    margin-bottom: $spacingUnit;
}
.form-fieldset__intro {
    margin-bottom: 2em;
}
.form-fieldset__fields {
    margin-bottom: $spacingUnit * 2;
}

.form-errors {
    border: 3px solid get-color('message', 'warning');
    margin-bottom: $spacingUnit;

    .form-errors__title {
        color: white;
        background-color: get-color('message', 'warning');
        font-weight: font-weight('display', 'bold');
        margin: 0;
        padding: $spacingUnit / 3;
    }

    .form-errors__subtitle {
        color: get-color('message', 'warning');
        margin-bottom: 3px;
    }

    .form-errors__body {
        font-size: 18px;
        padding: $spacingUnit / 2;
    }

    .form-errors__list {
        margin-bottom: 1em;

        &:last-of-type {
            margin-bottom: 0;
        }

        li {
            color: get-color('message', 'warning');
            font-weight: font-weight('body', 'bold');
            margin-bottom: $spacingUnit / 2;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            font-weight: font-weight('body', 'semibold');
        }
    }
}

.form-errors.form-errors--featured {
    border-color: get-color('message', 'information');

    .form-errors__title {
        background-color: get-color('message', 'information');
    }
}

/* =========================================================================
   Fields (individual field styles)
   ========================================================================= */

$inputPadding: 6px 12px;
$inputOutlineWidth: 3px;
$inputOutlineColour: get-color('border', 'outline');
$inputOutline: $inputOutlineWidth solid $inputOutlineColour;

/**
 * Field labels
 */
.ff-label {
    display: block;
    margin-bottom: 5px;
    font-weight: font-weight('body', 'semibold');
}

.ff-error {
    font-weight: font-weight('body', 'bold');
    color: get-color('message', 'warning');
}

/**
 * Field label notes
 */
.ff-label-note {
    font-weight: normal;
    margin-left: 0.5em;
    font-size: smaller;
    color: get-color('text', 'note');
    white-space: nowrap;
}

/**
 * Field help text
 */
.ff-help {
    font-size: 18px;
    margin: 10px 0;
    color: get-color('text', 'note');

    p,
    details {
        margin-bottom: 0.75em;
    }
}

.ff-length-hint {
    font-size: 16px;
    display: block;
    font-style: italic;
    color: get-color('text', 'note');
    margin-bottom: 10px;
}

.ff-text,
.ff-textarea {
    padding: $inputPadding;
    border: 2px solid get-color('border', 'dark');
    display: block;
    // prevent elements with size attributes overflowing on mobile
    max-width: 100%;

    &:focus {
        outline: $inputOutline;
        outline-offset: 0;
    }
}

.ff-textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

/**
 * Field modifiers
 */
.ff-width-2 {
    // Approx 2 character width
    width: 7ex;
}
.ff-width-4 {
    // Approx 4 character width
    width: 10ex;
}

/* =========================================================================
   Choice Input Type (radio and checkboxes)
   ========================================================================= */

.ff-choice {
    .ff-choice__list {
        margin-bottom: 0.75em;
    }

    .ff-choice__option {
        display: table;
        margin-bottom: 5px;

        &.ff-choice__option--disabled {
            color: gray;
        }

        input[type='radio'],
        input[type='checkbox'] {
            margin: 0 0.5em 0 0;

            @include mq('medium-minor') {
                margin-right: 0.75em;
                position: relative;
                top: -2px;
            }
        }

        // Radio button component
        //
        // Styles taken from https://design-system.service.gov.uk/components/radios/

        $radioRadius: 32px;
        $radioBorder: 2px;
        $radioTotalSize: $radioRadius + ($radioBorder * 2);
        $labelOffset: $radioRadius + 10px;

        &.ff-choice__option--radio,
        &.ff-choice__option--checkbox {
            position: relative;
            display: block;
            min-height: $radioRadius;
            margin-top: $spacingUnit;

            // Hide the real radio input by making it transparent
            input {
                cursor: pointer;
                position: absolute;
                z-index: 1;
                top: -#{$radioBorder / 2};
                left: -#{$radioBorder / 2};
                width: $radioTotalSize;
                height: $radioTotalSize;
                margin: 0;
                opacity: 0;

                // Focus state for radio input
                // (eg. outline the radio button)
                &:focus + .ff-choice__label:before {
                    border-width: $radioBorder * 2;
                    box-shadow: 0 0 0 $inputOutlineWidth $inputOutlineColour;
                }

                // Checked state for radio input
                // (eg. show the filled circle)
                &:checked + .ff-choice__label:after {
                    opacity: 1;
                }

                // Disabled state for radio input
                // (eg. normal cursor and faded input)
                &:disabled,
                &:disabled + .ff-choice__label {
                    cursor: default;
                }

                &:disabled + .ff-choice__label {
                    opacity: 0.5;
                }
            }

            .ff-choice__label,
            .ff-choice__caption {
                padding-left: $labelOffset;
            }

            .ff-choice__label {
                display: inline-block;
                vertical-align: middle;

                // Draw an outline for a radio button
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: $radioRadius;
                    height: $radioRadius;
                    border: $radioBorder solid currentColor;
                    border-radius: 50%;
                    background: transparent;
                }

                // Draw a filled-in circle for a checked radio button
                &:after {
                    content: '';
                    position: absolute;
                    top: #{$radioRadius / 4};
                    left: #{$radioRadius / 4};
                    width: 0;
                    height: 0;
                    border: #{$radioRadius / 4} solid currentColor;
                    border-radius: 50%;
                    opacity: 0;
                    background: currentColor;
                }
            }
        }

        &.ff-choice__option--checkbox {
            // Disable rounded corners for checkboxes
            .ff-choice__label:before {
                border-radius: 0;
            }

            // Draw a tick for selected checkboxes
            $tickScale: floor($radioRadius / 3);
            .ff-choice__label:after {
                border-radius: 0;
                top: $tickScale;
                left: $tickScale / 2;
                width: $tickScale * 2;
                height: $tickScale;
                transform: rotate(-45deg);
                border: solid;
                border-width: 0 0 $tickScale / 2 $tickScale / 2;
                border-top-color: transparent;
                opacity: 0;
                background: transparent;
            }
        }
    }

    .ff-choice__input,
    .ff-choice__label {
        display: table-cell;
        cursor: pointer;
    }
    .ff-choice__caption {
        font-size: 14px;
        color: get-color('text', 'note');
        display: block;

        @include mq('medium-minor') {
            font-size: 16px;
            margin-bottom: 3px;
        }
    }

    &.ff-choice--inline {
        .ff-choice__option,
        .ff-choice__input,
        .ff-choice__label {
            display: inline-block;
        }

        .ff-choice__option {
            input[type='radio'],
            input[type='checkbox'] {
                @include mq('medium-minor') {
                    margin-right: 5px;
                }
            }
        }

        .ff-choice__option:not(:last-of-type) {
            margin-right: $spacingUnit;
        }
    }
}

/* =========================================================================
   Date Field Type
   ========================================================================= */

.ff-date {
    .ff-date__field {
        display: inline-block;
        margin-right: $spacingUnit / 2;
    }

    .ff-date__field .ff-label {
        font-weight: font-weight('body', 'semibold');
    }

    /**
     * Suppress numeric spin controls on date input sets.
     */
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* =========================================================================
   Address Field Type
   ========================================================================= */

.ff-address {
    .ff-address__legend,
    .ff-address__field:not(:last-of-type) {
        margin-bottom: $spacingUnit / 2;
    }

    .ff-address__field .ff-label {
        font-weight: font-weight('body', 'semibold');
    }

    &.ff-address--nested {
        padding-left: $spacingUnit / 2;
        border-left: 5px solid get-color('background', 'light-neutral');

        @include mq('medium') {
            margin-left: $spacingUnit;
            padding-left: $spacingUnit;
        }
    }
}

/* =========================================================================
   Address lookup
   ========================================================================= */

.address-lookup {
    padding: $spacingUnit;
    background-color: get-color('background', 'light-neutral');
    margin-bottom: 2px;
    max-width: 30em;

    .address-lookup__field {
        margin-bottom: 5px;

        @include mq('medium-minor', 'max') {
            input[type='text'] {
                width: 100%;
                margin-bottom: $spacingUnit / 2;
            }

            button {
                display: block;
                width: 100%;
            }
        }

        @include mq('medium-minor') {
            display: flex;

            input[type='text'] {
                flex: 0 0 auto;
                margin-right: 5px;
            }
        }
    }

    .address-lookup__candidates {
        margin-top: $spacingUnit / 2;
    }
}

.existing-data {
    padding: $spacingUnit;
    background-color: get-color('background', 'light-neutral');
    max-width: 30em;

    .existing-data__title {
        font-family: font-stack('body');
        font-weight: font-weight('body', 'semibold');
    }

    .existing-data__address {
        margin-bottom: $spacingUnit;
    }
}

/* =========================================================================
   Currency Input Type
   ========================================================================= */

.ff-currency {
    display: flex;

    &.ff-currency--constrained {
        max-width: 10em;
    }

    &.ff-currency--row {
        .ff-currency__input {
            flex: auto;
        }
    }

    .ff-currency__pre,
    .ff-currency__input {
        padding: $inputPadding;
        border: 2px solid get-color('border', 'dark');
    }

    .ff-currency__pre {
        border-right: none;
        background-color: get-color('background', 'light-neutral');
    }

    .ff-currency__input {
        flex: 1 1 0%;
        max-width: 100%;
        border-left: none;

        &:focus {
            outline: $inputOutline;
            outline-offset: 0;
        }
    }
}

/* =========================================================================
   Budget Field Type
   ========================================================================= */

.ff-budget {
    background-color: get-color('background', 'light-neutral');
    padding: $spacingUnit;

    // Hide some of the initial 10 rows for non-JS browsers
    .no-js & {
        height: 300px;
        overflow: auto;
    }

    .ff-budget__list {
        margin-bottom: $spacingUnit;
    }

    .ff-budget__row {
        margin-bottom: 5px;

        .ff-label {
            font-size: 18px;
            font-weight: font-weight('body', 'semibold');
        }

        @include mq('medium', 'max') {
            .ff-budget__row-item,
            .ff-budget__row-amount {
                margin-bottom: $spacingUnit / 2;
            }

            .ff-budget-row__action {
                text-align: center;
            }
        }

        @include mq('medium') {
            display: flex;
            align-items: flex-end;

            > * {
                margin-right: 2%;
                &:last-child {
                    margin-right: 0;
                }
            }

            .ff-budget__row-item {
                flex-grow: 2;
            }

            .ff-budget__row-amount {
                min-width: 160px;
            }

            .ff-budget-row__action {
                min-width: 190px;
                text-align: right;
            }
        }
    }

    .ff-budget__errors {
        color: get-color('message', 'warning');
        font-weight: font-weight('body', 'semibold');
        font-size: 18px;

        p {
            margin-bottom: 0.5em;
        }
    }

    .ff-budget__total {
        border-top: 1px solid get-color('border', 'base');
        padding-top: $spacingUnit / 2;

        @include mq('medium') {
            // @TODO magic number
            padding-left: 57.5%;
        }
    }
    .ff-budget__total-label {
        font-weight: font-weight('body', 'semibold');
    }
    .ff-budget__total-amount {
        border: 1px solid get-color('border', 'base');
        padding: 5px;
    }
}

/* =========================================================================
   Word Count
   ========================================================================= */

.word-count {
    background-color: get-color('background', 'light-neutral');
    font-size: 18px;
    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        display: flex;
    }

    .word-count__counter,
    .word-count__message {
        padding: 10px 12px;
        display: inline-block;
    }

    .word-count__counter {
        min-width: 9.5em;
        background-color: darken(get-color('background', 'light-neutral'), 3%);
        font-weight: font-weight('body', 'bold');

        @include mq('medium', 'max') {
            display: block;
            width: 100%;
        }
    }

    .word-count__message {
        @include mq('medium') {
            flex: 1 1 auto;
        }
    }

    &.word-count--over {
        background-color: #fcf3f5;

        .word-count__counter {
            color: white;
            font-weight: font-weight('body', 'semibold');
            background-color: get-color('message', 'warning');
        }
    }
}

/* =========================================================================
   Form field container
   ========================================================================= */

.form-field {
    margin-bottom: 2em;

    &:target {
        background-color: rgba(255, 255, 0, 0.5);
    }

    .form-field__errors {
        margin-top: $spacingUnit / 3;
    }
    .form-field__errors li,
    .form-field__errors li a {
        color: get-color('message', 'warning');
        font-weight: font-weight('body', 'bold');
    }

    &.has-errors {
        border-left: 3px solid get-color('message', 'warning');
        padding-left: $spacingUnit / 2;
    }
}

.no-js .form-field[hidden] {
    display: block;
}

/* =========================================================================
   Form field add-on
   ========================================================================= */
/* @see https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/ */

.form-field-addon {
    display: flex;

    .form-field-addon__input {
        flex: 1 1 0%;

        padding: $inputPadding;
        border: 2px solid get-color('brand', 'primary');

        &:focus {
            outline: $inputOutline;
            outline-offset: 0;
        }
    }

    .form-field-addon__action {
        font-size: 18px;
        font-family: font-stack('display');
        font-weight: font-weight('display', 'semibold');
        color: white;
        border: none;
        -webkit-appearance: none;
        background-color: get-color('brand', 'primary');
        padding-left: $spacingUnit / 2;
        padding-right: $spacingUnit;
        border-radius: 0 50px 50px 0;
    }
}

/* =========================================================================
   Form Actions
   ========================================================================= */

.form-actions {
    max-width: $constrainedWide;
    border-top: 1px solid get-color('border', 'base');
    padding: 1em 0;
    margin-bottom: $spacingUnit / 2;

    &.form-actions--constrained {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    > .btn {
        display: inline-block;
        vertical-align: middle;
        margin-right: $spacingUnit;
    }

    > .btn-link {
        font-size: 18px;
    }
}

/* =========================================================================
   Start pages
   ========================================================================= */

.step-preview {
    border-bottom: 1px solid get-color('border', 'base');
    padding: 12px 0;

    .step-preview__title {
        margin-bottom: 1em;
    }

    .step-preview__fieldset {
        font-size: 18px;
    }

    .step-preview__field {
        margin-bottom: $spacingUnit;
    }
    .step-preview__field-label {
        font-weight: font-weight('body', 'bold');
        margin: 0;
    }
    .step-preview__field-guidance {
        color: get-color('text', 'note');
        margin-top: 3px;
    }
}

/* =========================================================================
   Review screens
   ========================================================================= */

.review-step {
    overflow: auto;
    margin-bottom: $spacingUnit;
}
.review-step__title {
    clear: both;
    background-color: get-color('background', 'light-neutral');
    font-weight: font-weight('display', 'bold');
    padding: $spacingUnit / 2;
    margin: 0;
}
.review-step__edit {
    margin-left: 0.5em;
    font-weight: normal;
}
.review-step__list {
    clear: both;
}
.review-step__item-label,
.review-step__item-value {
    float: left;
    border-top: 1px solid get-color('border', 'base');
    padding: $spacingUnit / 2;
    margin-bottom: 0.5em;

    &:first-of-type {
        border-top: none;
    }
}
.review-step__item-label {
    font-weight: font-weight('body', 'bold');
    width: 40%;
    padding-right: 1em;
    clear: left;
}
.review-step__item-value {
    width: 60%;
}
.review-step__item-label.is-stacked,
.review-step__item-value.is-stacked {
    width: 100%;
    float: none;
}
.review-step__item-label.is-stacked {
    padding-bottom: 0;
    margin-bottom: 0;
}
.review-step__item-value.is-stacked {
    border-top: none;
}
.review-step__answer-more {
    padding: 0.5em 0;

    button {
        font-weight: font-weight('body', 'bold');
        font-size: 18px;
        display: block;
        width: 100%;

        .icon {
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
        }
    }
}
.review-step__answer-preview:not(.is-active) {
    max-height: 5em;
    overflow: hidden;
    position: relative;

    .review-step__answer-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: left;
        margin: 0;
        padding-top: 5em;
        padding-bottom: 10px;

        background-image: linear-gradient(
            to top,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}
.review-step__answer-preview.is-active {
    .review-step__answer-more button .icon {
        transform: rotate(180deg);
    }
}
.review-step__declaration {
    margin: 1em 0;
    padding: 10px;
    font-size: 18px;
}

/* =========================================================================
   Custom Form: Free Materials
   ========================================================================= */

.form-materials {
    input[type='text'],
    input[type='email'] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        font-size: 16px;
        border-bottom: 2px solid get-color('border', 'dark');
        color: get-color('text', 'base');

        &.is-error {
            border-bottom-color: get-color('message', 'warning');
        }
    }

    input[type='submit'] {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
    }

    input[type='radio'] {
        width: auto;
        display: inline-block;
    }

    .label-radio,
    .label-radio__item {
        font-size: 16px;
        display: block;
        margin-bottom: $spacingUnit;
    }

    &:invalid {
        input[type='submit'] {
            @include disabledBtn();
        }
    }

    .form-materials__field-group {
        @include mq('medium-minor') {
            display: flex;
            flex-wrap: wrap;

            .form-materials__field-group-item {
                flex: 0 0 50%;
                // Fixes an IE bug where padding is added to flex-basis and breaks the grid
                max-width: 50%;

                &:nth-of-type(odd) {
                    padding-right: $spacingUnit / 2;
                }

                &:nth-of-type(even) {
                    padding-left: $spacingUnit / 2;
                }
            }
        }
    }
}

.form-actions--flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .form-actions__primary,
    .form-actions__secondary {
        flex: 0 0 auto;
    }

    .form-actions__timestamp {
        margin-bottom: 0;
        color: get-color('links', 'base');
        font-size: 15px;

        time {
            font-weight: font-weight('body', 'semibold');
        }
    }
}
