/* =========================================================================
   Global Header: Common
   ========================================================================= */

$navLinkPadding: 25px;
$logoOffset: $navLinkPadding - 5px;

/* =========================================================================
   Global Header
   ========================================================================= */

.global-header {
    width: 100%;
    color: palette('blue-text');

    @include mq('medium') {
        margin-bottom: $spacingUnit;
    }

    .global-header__inner {
        position: relative;
        padding: 10px 0;

        @media only screen and (min-width: 420px) {
            padding: 15px 0;
        }

        @include mq('medium') {
            padding: 0;
        }
    }

    .global-header__content {
        @include mq('medium') {
            display: flex;
            align-items: flex-start;
        }
    }

    .global-header__logo {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: left center;
        background-image: url(../../../images/logos/logo.png);
        background-size: auto 100%;
        margin: 0;

        height: 80px;
        width: 100px;

        @include mq('medium') {
            height: 105px;
            width: 130px;
            margin-top: $logoOffset;
        }

        @media only screen and (min-width: $widestScreen) {
            margin-left: -$spacingUnit;
        }

        /**
         * Is this a welsh language page or
         * are we explicitly showing the welsh logo?
         */
        .locale--cy &,
        .has-welsh-logo & {
            background-image: url(../../../images/logos/logo-welsh.png);
            width: 110px;
            height: 105px;

            @include mq('medium') {
                width: 140px;
                height: 133px;
            }
        }

        @media print {
            width: 100%;
            height: auto;
            background: none;
        }
    }

    .global-header__nav {
        @include mq('medium') {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
            margin-top: 0;
        }
    }

    .global-header__hamburger {
        cursor: pointer;
        margin-top: 0;
        width: 31px;
        position: absolute;
        right: 0;
        top: 25px;

        @media only screen and (min-width: 420px) {
            top: 40px;
        }

        a {
            color: inherit;
        }

        svg,
        path {
            fill: currentColor;
        }
    }
}

/* =========================================================================
   Global Navigation
   ========================================================================= */

.global-nav {
    position: relative;
    color: currentColor;
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-left: $spacingUnit;

    .global-nav__link:after {
        content: '';
        display: inline-block;
        height: 15px;
        border: solid palette('soft-grey');
        border-width: 0 1px;
        border-radius: 30px;
        vertical-align: middle;
        margin: 0 ($spacingUnit / 3);

        @include mq('large') {
            margin: 0 26px;
        }
    }
    .global-nav__link--last:after {
        display: none;
    }

    .global-nav__link,
    .global-nav__lang {
        @include poppins();
        font-weight: 600;
        font-size: 16px;

        a {
            color: currentColor;
            display: inline-block;
            text-decoration: none;
        }

        a:hover,
        a:focus,
        a:active,
        &.is-selected a {
            color: palette('pink');
            border-color: currentColor;
        }
    }

    .global-nav__link a {
        padding: $navLinkPadding ($spacingUnit / 2) 0;
        border-top: 4px solid transparent;
    }

    .global-nav__lang {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: $spacingUnit;

        a {
            padding: 0;
            border: none;

            @include on-interact {
                text-decoration: underline;
            }
        }
    }

    .global-nav__search {
        margin-left: auto;
        padding-top: $navLinkPadding;
    }
}

/* =========================================================================
   Global Header / Navigation - Overlaid header
   ========================================================================= */

html:not(.contrast--high) body:not(.has-static-header) .global-header {
    color: white;
    position: absolute;
    z-index: 1;

    @media print {
        position: static;
    }
}

html:not(.contrast--high) body:not(.has-static-header) .global-nav {
    .global-nav__link a,
    .global-nav__lang a {
        @include on-interact {
            color: white;
        }
    }

    .global-nav__link,
    .global-nav__lang {
        a:hover,
        a:focus,
        a:active,
        &.is-selected a {
            color: white;
            border-color: currentColor;
        }
    }
}

/* =========================================================================
   Global Search Form
   ========================================================================= */

.global-search {
    margin: 0;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);

    @include mq('medium') {
        max-width: 180px;
    }
}
.global-search__input {
    @include poppins();
    font-size: 16px;
    font-weight: normal;
    border: none;
    width: 100%;
    margin-top: 0;
    padding: 6px 32px 6px 12px;
}
.global-search__submit {
    border: 0;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: transparent;

    .icon {
        width: 21px;
        height: 21px;
        fill: palette('soft-grey');
        vertical-align: middle;
    }

    @include on-interact {
        .icon {
            fill: palette('charcoal');
        }
    }
}

/**
 * Global search: Offset modifier (i.e. in global header)
 * Gives search form contrast against light hero images and pages with no image.
 */
.global-search--offset {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* =========================================================================
   Offscreen Navigation
   ========================================================================= */

$offscreenNavWidth: 65%;

.offscreen-navigation {
    color: white;
    background-color: palette('blue-nav');
    display: block;
    position: fixed;
    z-index: 100;
    right: -100%;
    transition: all 0.3s ease-in-out;
    top: 0;
    height: 100%;
    margin-top: 0;
    width: $offscreenNavWidth;
    box-shadow: -3px 0px 10px -2px #173077;
}
.offscreen-navigation__list li {
    margin-top: 0;
    border-bottom: 2px solid rgba(46, 78, 170, 0.4);
    font-size: 17px;
}
.offscreen-navigation__link a,
.offscreen-navigation__lang a,
.offscreen-navigation__search {
    padding: $spacingUnit $spacingUnit * 1.5;
}
.offscreen-navigation__link a,
.offscreen-navigation__lang a {
    display: block;
    color: inherit;
    text-decoration: none;

    @include on-interact {
        background-color: palette('blue-text');
    }
}

// Handle animation of offscreen nav for mobile
@include mq('medium', 'max') {
    .global-container {
        transition: all 0.3s ease-in-out;
    }

    html.show-off-canvas {
        overflow: hidden;

        .offscreen-navigation {
            right: 0;
        }

        .global-container {
            transform: translateX(-$offscreenNavWidth);
        }
    }
}

.no-js .offscreen-navigation {
    position: static;
    width: 100%;
    height: auto;
    box-shadow: none;
}
