/* =========================================================================
   Materials
   ========================================================================= */
/* funding/funding-guidance/managing-your-funding/ordering-free-materials */

.material-card {
    display: flex;
    flex-direction: column;
    @include bordered();
    border-top-width: 6px;
    background-color: palette('pale');
    height: 100%;
}
.material-card__header {
    padding: $spacingUnit;
    height: 85px;
}
.material-card__media {
    padding: 0 ($spacingUnit * 2) $spacingUnit;
}
.material-card__products-item {
    border-bottom: 1px solid palette('border');

    &:last-child {
        border-bottom: none;
    }
}

/**
* Individual products
*/
@mixin selected-material {
    background-color: palette('blue-bg');
}

.material-product {
    padding: $spacingUnit;

    &.is-selected {
        @include selected-material();
    }
}

// allows non-JS users to still see selected elements
// but prevents edge case where JS users decrement a product to 0
// but still see it as "selected" if they reloaded the page earlier
.no-vue {
    .is-selected--no-js {
        @include selected-material();
    }
}

.material-product__title,
.material-product__subtitle {
    margin-bottom: 0;
}
.material-product__subtitle {
    font-size: 14px;
}

.material-product__out-of-stock {
    margin-top: 0;
    margin-left: 5px;
    font-size: 14px;
    color: #999999;
    text-align: right;
}

/**
 * Materials actions step control
 */
$btnHeight: 26px;
.step-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
}
.step-control__button {
    padding: 0 10px;
    width: 30px;
    height: $btnHeight;
    border-radius: 15px;
    line-height: 1;
}
.step-control__button--decrease {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;
}
.step-control__button--increase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.step-control__quantity {
    width: 30px;
    height: $btnHeight;
    line-height: $btnHeight;
    margin-top: 0;
    border: none;
    text-align: center;
    font-size: 16px;
    flex-shrink: 0;
    background-color: #ffffff;
    color: #666666;
}
