/* =========================================================================
   Messages
   ========================================================================= */

/* =========================================================================
   Message
   ========================================================================= */

.message {
    padding: 0.75em $spacingUnit;
    border-left: 5px solid get-color('message', 'base');
    background-color: get-color('background', 'light-neutral');
    font-weight: font-weight('body', 'semibold');
    margin-bottom: $spacingUnit;

    &.message--info {
        font-weight: normal;
    }

    &.message--minor {
        font-size: 18px;
    }

    &.message--error {
        border-color: get-color('message', 'warning');
    }

    > p {
        margin-bottom: 0.5em;
    }

    > p:last-of-type {
        margin-bottom: 0;
    }
}

/* =========================================================================
   Submission Message
   ========================================================================= */

.submission-message {
    .submission-message__text {
        font-size: 16px;

        > p {
            margin-bottom: 3px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .submission-message__text,
    .submission-message__icon {
        display: inline-block;
        vertical-align: middle;
    }

    .submission-message__icon {
        margin-right: $spacingUnit;
    }

    .submission-message__icon svg {
        $iconDimension: 50px;
        width: $iconDimension;
        height: $iconDimension;
    }
}

/* =========================================================================
   Messages: Cookie Consent
   ========================================================================= */

.cookie-consent {
    display: none;

    background-color: get-color('background', 'light-neutral');
    font-size: 16px;
    padding: 12px 6px;
    border-bottom: 1px solid darken(get-color('background', 'light-neutral'), 10%);

    &.is-shown {
        display: block;
    }

    .cookie-consent__inner {
        max-width: $maxWidth;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq('medium-minor') {
            flex-direction: row;
        }
    }

    .cookie-consent__content {
        margin-right: 2em;
        flex: 1 1 auto;

        @include mq('medium-minor', 'max') {
            margin-bottom: 3px;
        }
    }
    .cookie-consent__actions {
        flex: 0 0 auto;
    }

    .cookie-consent__actions .btn {
        font-size: 14px;
        white-space: nowrap;
    }
}

/* =========================================================================
   Announcement
   ========================================================================= */

.announcement-banner {
    text-align: center;
    font-size: 14px;
    padding: 12px 6px;
    color: white;
    background-color: get-color('brand', 'primary');

    a {
        color: white;
        font-weight: font-weight('body', 'bold');
    }

    &.announcement-banner--info {
        background-color: #006f75;
    }

    @media print {
        display: none;
    }
}
