.modal {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}

.modal__content {
    z-index: 20;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: $spacingUnit;
    max-width: 650px;
    pointer-events: all;
}

body.is-modal {
    pointer-events: none;
    overflow: hidden;
}
