/* =========================================================================
   Navigation
   ========================================================================= */

/* =========================================================================
   Navigation: Accessibility Nav (Quick Links)
   ========================================================================= */

.accessibility-nav {
    position: absolute;
    top: $spacingUnit;
    left: $spacingUnit;
    margin-top: 0 !important;
    z-index: 100;

    ul {
        margin-top: 0;
    }

    li {
        margin: 0;

        a {
            padding: 20px 30px;
            display: block;
            text-decoration: none;
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;

            @include on-interact {
                position: static;
                width: auto;
                height: auto;
                color: white;
                background-color: #333;
            }
        }
    }
}

/* =========================================================================
   Breadcrumb Trail
   ========================================================================= */

.breadcrumb-trail {
    font-size: 16px;
    color: get-color('text', 'note');
    background-color: rgba(0, 0, 0, 0.03);
    padding: 1em ($spacingUnit / 2);

    @include mq('medium') {
        padding: 1em $spacingUnit;
    }

    .breadcrumb-trail__item {
        display: inline-block;

        &::after {
            content: '›';
            font-size: 110%;
            line-height: 1;
            font-weight: font-weight('body', 'normal');
            color: get-color('text', 'note');
            margin: 0 3px 0 6px;
        }

        &:last-child::after {
            content: '';
            display: none;
        }
    }
    .breadcrumb-trail__item,
    .breadcrumb-trail__link {
        color: inherit;
    }
    .breadcrumb-trail__link {
        font-weight: font-weight('body', 'bold');
        text-decoration: none;

        @include on-interact {
            text-decoration: underline;
        }
    }
}

.breadcrumb-trail--flush {
    margin: -($spacingUnit / 2);
    margin-top: -$spacingUnit;
    margin-bottom: $spacingUnit;

    @include mq('medium') {
        margin: -$spacingUnit;
        margin-bottom: $spacingUnit;
    }
}

.breadcrumb-trail--tinted {
    color: get-color('brand', 'secondary-burgundy');
    background-color: darken(get-color('brand', 'primary-light-wash'), 5%);
}

/* =========================================================================
   Segment links (jump links for pages with multiple content segments)
   ========================================================================= */

.segment-links {
    font-size: 18px;
    border-top: 1px solid get-color('border', 'base');
    padding-top: $spacingUnit;
    margin-bottom: $spacingUnit;

    li {
        list-style: none;
        margin-left: 0.5em;

        &:before {
            content: '—';
            margin-right: 0.5em;
        }
    }

    a {
        font-weight: font-weight('body', 'bold');
    }
}

/* =========================================================================
   Split Nav (previous / next pagination)
   ========================================================================= */

.split-nav {
    padding: 0.5em;
    margin-bottom: $spacingUnit;
    border-top: 1px solid get-color('border', 'base');
    display: flex;
    justify-content: space-between;

    .split-nav__item {
        font-size: 90%;
    }
    .split-nav__prev,
    .split-nav__next {
        display: block;
        text-decoration: none;

        @include on-interact {
            text-decoration: underline;
        }
    }
    .split-nav__prev {
        &::before {
            content: '← ';
        }
    }
    .split-nav__next {
        &::after {
            content: ' →';
        }
    }
    .split-nav__current {
        font-weight: font-weight('body', 'bold');
    }
}

/* =========================================================================
   Navigation: Nested Menu (Section Navigation)
   ========================================================================= */

.nested-menu {
    font-family: font-stack('display');

    .nested-menu__section {
        margin-bottom: $spacingUnit / 2;
    }
    .nested-menu__section-link {
        color: get-color('brand', 'primary');
        font-weight: font-weight('display', 'bold');
        margin-bottom: $spacingUnit / 2;
    }
    .nested-menu__children {
        font-size: 17px;
        margin-left: 1em;
    }
    .nested-menu__item {
        margin-bottom: $spacingUnit / 2;
    }
    .nested-menu__link.is-active {
        color: get-color('brand', 'primary');
        font-weight: font-weight('display', 'bold');
    }
}

/* =========================================================================
   Quick Links
   ========================================================================= */

.quicklinks {
    padding: 10px 12px;

    .quicklinks__item {
        margin-bottom: 12px;
    }
    .quicklinks__link {
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: font-weight('body', 'bold');

        &:hover,
        &:active {
            text-decoration: none;

            .quicklinks__link-label {
                text-decoration: underline;
            }
        }
    }
    .quicklinks__link-caption {
        display: block;
        font-weight: font-weight('body', 'normal');
    }
}
.quicklinks--sticky {
    @media only screen and (min-height: 38em) {
        position: sticky;
        top: 0;
    }

    @include mq('medium', 'max') {
        display: none;
    }
}


/* =========================================================================
   Navigation: User Nav (eg. application forms)
   ========================================================================= */

.user-nav {
    margin-bottom: $spacingUnit / 2;
    padding-bottom: $spacingUnit / 2;
    border-bottom: 1px solid get-color('border', 'base');
    display: flex;

    // Swap the borders/padding for use at bottom of page
    &.user-nav--footer {
        margin-bottom: 0;
        margin-top: $spacingUnit / 2;
        padding-bottom: 0;
        padding-top: $spacingUnit / 2;
        border-bottom: none;
        border-top: 1px solid get-color('border', 'base');
    }

    .user-nav__item {
        flex-grow: 1;
        font-size: 15px;
        font-weight: bold;
        border-left: 1px solid get-color('border', 'base');
        padding: $spacingUnit / 3 $spacingUnit / 2;
        text-align: center;
        color: get-color('brand', 'primary');

        &:first-child {
            padding-left: 0;
            border-left: none;
        }

        &.user-nav__item--text {
            padding-bottom: 0;
            text-align: left;
            align-self: center;
            color: get-color('text', 'base');
            font-weight: normal;
        }
    }

    // Used for prev/next links within an item
    .user-nav__item--split {
        flex-basis: 40%;
        padding-top: 0;

        // A container for split links
        .user-nav-link {
            width: 100%;
            display: flex;
        }

        // A split link item
        .user-nav-link__item {
            display: flex;

            .user-nav-link__arrow {
                color: get-color('links', 'base');
                font-size: 22px;
                vertical-align: middle;
            }

            .user-nav-link__subtitle {
                font-weight: normal;
                font-size: 13px;
                display: block;
            }

            &.user-nav-link__item--prev {
                text-align: left;
                padding-left: 0;
                flex: 1;

                .user-nav-link__arrow {
                    margin-right: 5px;
                }
            }

            &.user-nav-link__item--next {
                text-align: right;
                flex: 1;
                justify-content: flex-end;

                .user-nav-link__arrow {
                    margin-left: 5px;
                }
            }

        }
    }
}
