/* =========================================================================
   News
   ========================================================================= */

/* =========================================================================
   Latest News
   ========================================================================= */

.latest-updates {
    position: relative;

    .latest-updates__footer {
        margin-bottom: $spacingUnit;

        @include mq('medium') {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
        }
    }
}

/* =========================================================================
   Article Teaser
   ========================================================================= */

.article-teaser {
    margin: 0;
}
.article-teaser__header {
    margin-bottom: $spacingUnit / 2;
}
.article-teaser__title {
    margin-bottom: 3px;
}
.article-teaser__subtitle {
    color: get-color('text', 'note');
    font-size: 18px;
    margin-bottom: 0;
}
.article-teaser__summary {
    font-size: 18px;
    margin-bottom: 0;
}

/* =========================================================================
   Article Listing
   ========================================================================= */

.article-listing {
    .article-listing__item {
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid get-color('border', 'base');

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

/* =========================================================================
   Article Detail
   ========================================================================= */

.article {
    margin-bottom: $spacingUnit;
}
.article__header {
    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        margin-bottom: $spacingUnit * 2;
    }
}
.article__title {
    margin: 0;

    @include mq('medium') {
        font-size: 32px;
        line-height: 1.15;
        max-width: 20em;
    }
}
.article__main {
    @include mq('medium') {
        display: flex;
    }
}
.article__body {
    @include mq('medium') {
        flex: 1 1 auto;
        padding-right: 1.5em;
    }
}
.article__meta {
    border-top: 3px solid;
    padding-top: $spacingUnit / 2;

    @include mq('medium') {
        order: 2;
        flex: 0 0 180px;
    }
}

.article-meta {
    font-size: 16px;
}
.article-meta__author {
    font-weight: font-weight('body', 'bold');
}
.article-meta__author,
.article-meta__pubdate {
    margin-bottom: 4px;
}

/* =========================================================================
   Blogpost Attribution
   ========================================================================= */

.blogpost-attribution {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .blogpost-attribution__author {
        margin-top: $spacingUnit * 2;
        order: 2;
        flex-basis: 100%;
    }

    .blogpost-attribution__tags {
        flex-basis: 100%;
    }

    &.blogpost-attribution--featured {
        .blogpost-attribution__author {
            margin-top: 0;
            order: 0;
            flex-basis: auto;
        }
        .blogpost-attribution__tags {
            flex-basis: auto;
        }
    }
}

/* =========================================================================
   Tag List
   ========================================================================= */

.tags-list {
    $primaryColour: get-color('brand', 'primary');
    $secondaryColour: get-color('text', 'note');
    .tag {
        display: inline-block;

        a {
            border: 1px solid $primaryColour;
            color: $primaryColour;
            display: inline-block;
            padding: 2px 7px;
            text-decoration: none;
            font-size: 14px;
            margin: 3px 3px 3px 0;
            @include on-interact() {
                border-color: darken($primaryColour, 10%);
                color: darken($primaryColour, 10%);
            }
        }

        &.tag--secondary {
            a {
                border-color: $secondaryColour;
                color: $secondaryColour;
                @include on-interact() {
                    border-color: darken($secondaryColour, 10%);
                    color: darken($secondaryColour, 10%);
                }
            }
        }
    }
}
