/* =========================================================================
   News
   ========================================================================= */

/* =========================================================================
   Latest News (homepage)
   ========================================================================= */

.article-teaser {
    margin: 0;
}
.article-teaser__title {
    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        margin-bottom: $spacingUnit;
    }
}
.article-teaser__summary {
    font-size: 18px;
    margin-bottom: 0;
}

.latest-news {
    position: relative;
    padding: $spacingUnit / 2;

    @include mq('medium') {
        padding: $spacingUnit;
    }
}
.latest-news__footer {
    margin-bottom: $spacingUnit;

    @include mq('medium') {
        position: absolute;
        top: $spacingUnit;
        right: $spacingUnit;
        margin: 0;
    }
}

/* =========================================================================
   Blog Listing
   ========================================================================= */

.blog-teaser {
    margin-bottom: 0;
}
.blog-teaser__header {
    margin-bottom: $spacingUnit / 2;
}
.blog-teaser__title {
    margin-bottom: 0;
}
.blog-teaser__meta {
    font-size: 18px;
    margin-bottom: $spacingUnit / 2;
    color: palette('charcoal-note');
}
.blog-teaser__summary {
    font-size: 18px;
    margin-bottom: 0;
}

// .blog-listing { }
.blog-listing__item {
    margin-bottom: $spacingUnit;
    padding-bottom: $spacingUnit / 2;
    border-bottom: 1px solid palette('border');

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

/* =========================================================================
   Article Detail
   ========================================================================= */

.article {
    margin-bottom: $spacingUnit;
}
.article__header {
    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        margin-bottom: $spacingUnit * 2;
    }
}
.article__title {
    margin: 0;

    @include mq('medium') {
        font-size: 32px;
        line-height: 1.15;
        max-width: 20em;
    }
}
.article__main {
    @include mq('medium') {
        display: flex;
    }
}
.article__body {
    @include mq('medium') {
        flex: 1 1 auto;
        padding-right: 1.5em;
    }
}
.article__meta {
    border-top: 3px solid;
    padding-top: $spacingUnit / 2;

    @include mq('medium') {
        order: 2;
        flex: 0 0 180px;
    }
}

.article-meta {
    font-size: 16px;
}
.article-meta__author {
    font-weight: bold;
}
.article-meta__author,
.article-meta__pubdate {
    margin-bottom: 4px;
}
