/* =========================================================================
   News
   ========================================================================= */

/* =========================================================================
   Latest News (homepage)
   ========================================================================= */

.article-teaser {
    margin: 0;
}
.article-teaser__header {
    margin-bottom: $spacingUnit / 2;
}
.article-teaser__title {
    margin-bottom: 3px;
}
.article-teaser__subtitle {
    color: palette('charcoal-note');
    font-size: 18px;
    margin-bottom: 0;
}
.article-teaser__summary {
    font-size: 18px;
    margin-bottom: 0;
}

.latest-news {
    position: relative;
}
.latest-news__footer {
    margin-bottom: $spacingUnit;

    @include mq('medium') {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
}

/* =========================================================================
   Article Listing
   ========================================================================= */

.article-listing {
    .article-listing__item {
        margin-bottom: $spacingUnit;
        padding-bottom: $spacingUnit / 2;
        border-bottom: 1px solid palette('border');

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}

.article-listing__meta {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .article-listing__meta__author {
        margin-top: $spacingUnit * 2;
        order: 2;
    }

    .article-listing__meta__tags {
        flex-basis: 100%;
    }

    &.article-listing__meta--featured {
        .article-listing__meta__author {
            margin-top: 0;
            order: 0;
        }
        .article-listing__meta__tags {
            flex-basis: auto;
        }
    }
}

/* =========================================================================
   Article Detail
   ========================================================================= */

.article {
    margin-bottom: $spacingUnit;
}
.article__header {
    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        margin-bottom: $spacingUnit * 2;
    }
}
.article__title {
    margin: 0;

    @include mq('medium') {
        font-size: 32px;
        line-height: 1.15;
        max-width: 20em;
    }
}
.article__main {
    @include mq('medium') {
        display: flex;
    }
}
.article__body {
    @include mq('medium') {
        flex: 1 1 auto;
        padding-right: 1.5em;
    }
}
.article__meta {
    border-top: 3px solid;

    @include mq('medium') {
        order: 2;
        flex: 0 0 300px;
    }
}

.article-meta {
    font-size: 16px;
}
.article-meta__author {
    font-weight: bold;
}
.article-meta__author,
.article-meta__pubdate {
    margin-bottom: 4px;
}

/* =========================================================================
   Blog Teaser (@TODO: Replace with more general article-teaser)
   ========================================================================= */

.blog-teaser {
    margin-bottom: 0;
}
.blog-teaser__header {
    margin-bottom: $spacingUnit / 2;
}
.blog-teaser__title {
    margin-bottom: 0;
}
.blog-teaser__meta {
    font-size: 18px;
    margin-bottom: $spacingUnit / 2;
    color: palette('charcoal-note');
}
.blog-teaser__summary {
    font-size: 18px;
    margin-bottom: 0;
}
