/* =========================================================================
   Overlay Text
   ========================================================================= */
// Blocked-out colourised background

.overlay-text {
    font-family: font-stack('display');
    font-weight: 600;
    line-height: 1.5;
    margin: 0;

    .icon {
        vertical-align: middle;
    }

    .overlay-text__inner {
        color: white;
        display: inline;
        padding: 0.2em 0.3em;
        // allows multi-line wrapped text to work
        box-decoration-break: clone;
    }

    .overlay-text__link,
    .overlay-text__link:hover {
        color: inherit;
        text-decoration: none;
    }

    &.overlay-text--translucent {
        line-height: 1.7;

        .overlay-text__inner {
            padding: 2px 6px;
        }
    }
}

@each $name in $themes {
    $colour: palette($name);

    .overlay-text--accent-#{$name} {
        .overlay-text__inner {
            background-color: $colour;
        }

        .overlay-text__link {
            @include on-interact {
                .overlay-text__inner {
                    background-color: darken($colour, 10%);
                }
            }
        }

        &.overlay-text--translucent {
            .overlay-text__inner {
                background-color: rgba($colour, 0.8);
            }
        }
    }
}
