/* =========================================================================
   Past grants
   ========================================================================= */

/* =========================================================================
   Grant Search Layout
   ========================================================================= */

.grants-search__totals {
    font-size: 16px;
    text-align: right;
}
.grants-search__content {
    display: flex;
}
.grants-search__filters {
    flex: 0 0 280px;
    padding-right: $spacingUnit;

    select {
        width: 100%;
    }
}
.grants-search__results {
    order: 2;
    flex: 1 1 auto;
}

/* =========================================================================
   Filters
   ========================================================================= */

.search-filters {
    $filterSpacing: 8px;
    position: sticky;
    top: $filterSpacing;
    background-color: palette('pale-grey');
    padding: $filterSpacing;

    &,
    select {
        font-size: 16px;
    }

    .form-field {
        margin-bottom: $filterSpacing;
        background-color: white;
        padding: $filterSpacing;
    }

    .form-actions {
        padding: 5px 0;
        border: none;
    }
}
