/* =========================================================================
   Past grants
   ========================================================================= */

/* =========================================================================
   Grant Search Layout
   ========================================================================= */

.grants-search {
    .grants-search__meta {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0;
    }

    .grants-search__content {
        display: flex;
    }
    .grants-search__filters {
        flex: 0 0 280px;
        padding-right: $spacingUnit;

        select {
            width: 100%;
        }
    }
    .grants-search__results {
        order: 2;
        flex: 1 1 auto;
    }
}

/* =========================================================================
   Sort Controls
   ========================================================================= */

.sort-controls {
    .sort-controls__prefix {
        font-weight: bold;
    }
    .sort-controls__item {
        display: inline-block;
        padding: 0 10px;
        border-right: 1px solid palette('border');
        text-decoration: none;

        &:last-of-type {
            border: none;
            padding-right: 0;
        }

        @include on-interact {
            font-weight: bold;
            text-decoration: underline;
        }

        &.is-active {
            font-weight: bold;
        }

        &.is-ascending::before,
        &.is-descending::before {
            position: relative;
            top: 2px; // Optically align
            margin-right: 4px;
            display: inline-block;
            text-decoration: none;
        }

        &.is-ascending::before {
            content: '↑ ';
        }

        &.is-descending::before {
            content: '↓ ';
        }
    }
}

/* =========================================================================
   Filters
   ========================================================================= */

.search-filters {
    $filterSpacing: 8px;
    position: sticky;
    top: $filterSpacing;
    background-color: palette('pale-grey');
    padding: $filterSpacing;
    transition: all 0.15s ease-in-out;

    &.search-filters--locked {
        opacity: 0.4;
        background-color: #eeeeee;
        cursor: progress;
        pointer-events: none;
    }

    &,
    select {
        font-size: 16px;
    }

    .search-filters__facet {
        margin-bottom: $filterSpacing;
        background-color: white;
        padding: $filterSpacing;
    }

    .search-filters__actions {
        padding: 5px 0;

        > .btn {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        > .btn-link {
            font-size: 16px;
        }
    }

    .search-filters__clear-facet {
        display: block;
        padding-top: 5px;
        font-size: 15px;
    }
}

/* =========================================================================
   Grant details
   ========================================================================= */

.is-active-project {
    $iconHeight: 15px;
    background-color: palette('pink');
    color: #ffffff;
    display: inline-block;
    padding: 5px 7px;
    font-family: font-stack('display');
    font-size: 13px;
    line-height: 1;

    &:before {
        content: '';
        height: $iconHeight;
        width: $iconHeight;
        display: inline-block;
        margin-right: 5px;
        margin-top: -1px; // Optical alignment
        vertical-align: middle;
        background-image: svg-url(
            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="#ffffff" d="M12 .288l2.833 8.718H24l-7.417 5.389 2.833 8.718L12 17.725l-7.417 5.388 2.833-8.718L0 9.006h9.167z"/>
            </svg>'
        );
    }
}

.project-details {
    font-size: 15px;
}
