/* =========================================================================
   Programmes
   ========================================================================= */

/* =========================================================================
   Programmes List
   ========================================================================= */

.programmes-list {
    @include mq(medium-minor) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 (-($spacingUnit / 2));
    }
}
.programmes-list__item {
    padding-bottom: $spacingUnit;

    @include mq(medium-minor) {
        flex: 0 0 50%;

        > .programme-card {
            margin-left: $spacingUnit / 2;
            margin-right: $spacingUnit / 2;
        }
    }
}

/* =========================================================================
   Programme Card
   ========================================================================= */

.programme-card {
    background-color: palette('pale-grey');
    padding: $spacingUnit / 2;

    @include mq(medium-minor) {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
    }

    @include mq(large) {
        padding: $spacingUnit;
    }
}
.programme-card__header {
    display: flex;
    margin-bottom: $spacingUnit / 2;

    .programme-card__media {
        order: 1;
        flex: 0 0 50px;
        margin-right: $spacingUnit / 2;

        @include mq(medium) {
            flex: 0 0 80px;
            margin-right: $spacingUnit;
        }
    }

    .programme-card__title {
        order: 2;
        flex: 1 1 auto;
        margin-bottom: $spacingUnit / 2;

        @include mq(medium) {
            margin-top: 2px;
        }
    }
}
.programme-card__description {
    margin-bottom: $spacingUnit / 2;
}

.programme-card.programme-card--minimal {
    background-color: transparent;
    padding: 0;

    @include mq(large) {
        padding: 0;
    }

    .programme-card__title,
    .programme-card__body {
        font-size: 18px;
    }
    .programme-card__title {
        line-height: 1.25;
    }
}

/* =========================================================================
   Programme Summary
   ========================================================================= */
/* Used on region pages (e.g. /wales) */

.programme-overview {
    margin-bottom: $spacingUnit * 2;
}
.programme-overview__title {
    margin-bottom: 0;
}

/* =========================================================================
   Related Programme
   ========================================================================= */

.related-programme {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: palette('pink');
    margin-bottom: $spacingUnit / 2;

    &:last-of-type {
        margin-bottom: 0;
    }

    .related-programme__media {
        flex: 0 0 50px;
        margin-right: $spacingUnit;
    }
    .related-programme__label {
        flex: 1 1 0%;
    }
}

/* =========================================================================
   Step Progress
   ========================================================================= */

.step-progress {
    $counterSize: 52px;

    @include reset-list();
    padding-left: $spacingUnit;
    margin-left: $counterSize / 2;
    border-left: 4px solid palette('border');
    max-width: $constrained;
    counter-reset: step-counter;

    .step-progress__item {
        counter-increment: step-counter;
        position: relative;
        padding: 0.5em 0 0 $spacingUnit;
        margin: 0 0 $spacingUnit * 2 0;
        list-style: none;

        &:before {
            content: counter(step-counter);
            font-size: 21px;
            font-weight: bold;
            position: absolute;
            left: -($counterSize - 4px);
            line-height: $counterSize - 4px;
            width: $counterSize;
            height: $counterSize;
            top: 0;
            background: white;
            border: 2px solid;
            border-radius: 50%;
            outline: 6px solid white;
            text-align: center;
        }
    }

    .step-progress__item--completed {
        &:before {
            content: '✔';
            color: white;
            background-color: #3255bb;
        }
    }

    .step-progress__item-title {
        font-size: 18px;
        margin-bottom: 5px;
    }
}
