/* =========================================================================
   Programmes
   ========================================================================= */

/* =========================================================================
   Programme Summary
   ========================================================================= */
/* Used on region pages (e.g. /wales) */

.programme-overview {
    margin-bottom: $spacingUnit * 2;
}
.programme-overview__title {
    margin-bottom: 0;
}

/* =========================================================================
   Related Programme
   ========================================================================= */

.related-programme {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: font-weight('body', 'bold');
    color: get-color('brand', 'primary');
    margin-bottom: $spacingUnit / 2;

    &:last-of-type {
        margin-bottom: 0;
    }

    .related-programme__media {
        flex: 0 0 50px;
        margin-right: $spacingUnit;
    }
    .related-programme__label {
        flex: 1 1 0%;
    }
}

/* =========================================================================
   Step Progress
   ========================================================================= */

.step-progress {
    $counterSize: 52px;

    @include reset-list();
    counter-reset: step-counter;
    max-width: $constrained;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        top: 0;
        left: $counterSize / 2;
        height: 100%;
        background: get-color('border', 'base');
    }

    .step-progress__item {
        counter-increment: step-counter;
        padding-bottom: $spacingUnit;
        list-style: none;
        position: relative;
        z-index: 2;
        display: flex;

        &:before {
            content: counter(step-counter);

            display: flex;
            flex-direction: column;
            flex: 0 0 $counterSize;
            height: $counterSize;
            line-height: $counterSize - 4px;
            margin-right: $spacingUnit;

            font-size: 21px;
            font-family: font-stack('display');
            font-weight: font-weight('body', 'bold');
            border: 2px solid;
            border-radius: 50%;
            outline: 6px solid white;
            background: white;
            text-align: center;
        }

        &:last-child {
            background: white;
        }

        .step-progress__content {
            flex: 1 1 auto;
        }
    }

    .step-progress__item--completed {
        &:before {
            content: '✔';
            color: white;
            background-color: #3255bb;
        }
    }

    .step-progress__item-title {
        font-size: 18px;
        margin: 5px 0;
    }
}

/* =========================================================================
   Process Map
   ========================================================================= */

.process-map {
    $circleWidth: 75%;
    $arrowSize: 7px;
    $arrowLineHeight: 10px;

    display: flex;
    flex-direction: column;
    max-width: 100% !important;

    @include mq('small') {
        flex-direction: row;
    }

    > .process-map__item {
        position: relative;

        &.process-map__item--step {
            @include mq('small') {
                margin: 0 $spacingUnit;

                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
            }

            // "You are here" indicator with arrow
            .process-map__item-indicator {
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: $circleWidth;
                text-align: center;
                z-index: 1;
                background: white;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 3px;
                border: 2px dotted get-color('brand', 'primary');

                // Arrow line
                span {
                    width: 0;
                    height: $arrowLineHeight;
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -#{$arrowLineHeight + 2px};
                    border-right: 2px dotted get-color('brand', 'primary');
                }

                // Arrow head
                &:after {
                    position: absolute;
                    left: 50%;
                    bottom: -#{$arrowLineHeight * 2};
                    transform: translateX(-50%);
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: $arrowSize solid transparent;
                    border-right: $arrowSize solid transparent;
                    border-top: $arrowSize solid get-color('brand', 'primary');
                }
            }

            // Circle container
            // Based on https://codepen.io/CrocoDillon/pen/trFam
            .process-map__item-title {
                position: relative;
                width: $circleWidth;
                height: 0;
                padding: $circleWidth / 2 0;
                margin: 50px auto 20px auto; // To allow for "you are here"
                border-radius: 50%;
                border: 2px solid get-color('brand', 'primary');

                // Text inside the circle
                .process-map__item-title__content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    span {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        margin: 0 $spacingUnit;
                        font-family: font-stack('display');
                        font-weight: font-weight('body', 'bold');

                        font-size: 18px;

                        @include mq('small') {
                            font-size: 14px;
                        }

                        @include mq('medium-major') {
                            font-size: 18px;
                        }
                    }
                }
            }

            // Accompanying text below circle
            .process-map__item-description p {
                font-size: 18px;
                margin-bottom: 0;
            }

            // Settings for completed item(s)
            &.process-map__item--completed {
                .process-map__item-title {
                    background-color: get-color('brand', 'primary');
                    color: #ffffff;
                }
            }
        }

        // Arrow and text pointing to next step
        &.process-map__item--action {
            flex-shrink: 2;
            @include mq('small') {
                margin-left: -$spacingUnit * 2;
                margin-right: -$spacingUnit * 2;
                width: calc(100% + #{$spacingUnit * 2});
                margin-top: 12%;
            }

            $arrowDownLineHeight: 100px;

            .process-map__item-action-label {
                padding: 0 10px 5px 10px;
                display: block;
                font-family: font-stack('display');
                font-weight: font-weight('body', 'bold');
                font-size: 14px;
                text-align: center;
                position: relative;
                @include mq('small', 'max') {
                    z-index: 1;
                    background-color: white;
                    line-height: 1;
                    top: $arrowDownLineHeight / 2;
                    margin-bottom: $arrowDownLineHeight / 2;
                }
            }

            .process-map__item-action-arrow-right {
                display: none;
                @include mq('small') {
                    border-bottom: 2px dotted get-color('brand', 'primary');
                    display: block;
                    position: relative;
                    &:after {
                        position: absolute;
                        bottom: -$arrowSize;
                        right: -$arrowSize;
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: $arrowSize solid transparent;
                        border-bottom: $arrowSize solid transparent;
                        border-left: $arrowSize solid get-color('brand', 'primary');
                    }
                }
            }

            .process-map__item-action-arrow-down {
                width: 0;
                height: $arrowDownLineHeight;
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;
                border-right: 2px dotted get-color('brand', 'primary');

                &:after {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -#{$arrowLineHeight - 2px};
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: $arrowSize solid transparent;
                    border-right: $arrowSize solid transparent;
                    border-top: $arrowSize solid get-color('brand', 'primary');
                }

                @include mq('small') {
                    display: none
                }
            }

        }
    }

}

/* =========================================================================
   All Programmes / Archive Listing
   ========================================================================= */

.archive-listing {
    margin-bottom: $spacingUnit * 2;

    .archive-listing__header {
        background-color: get-color('background', 'light-neutral');
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
        padding: 6px 12px;
        margin-bottom: 12px;
        position: sticky;
        top: 0;
    }

    .archive-listing__item {
        padding: 12px 0 6px;
        border-bottom: 1px dotted get-color('border', 'base');

        &:last-of-type {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}
