/* =========================================================================
   Research
   ========================================================================= */

/* =========================================================================
   Research Sections
   ========================================================================= */

.research-sections {
    .research-sections__content {
        font-size: 18px;
        max-width: $constrained;
        margin-bottom: $spacingUnit;

        @include mq('medium-major') {
            float: left;
            width: 68%;
            padding-right: $spacingUnit;
            clear: left;
        }
    }

    .research-sections__callout {
        @include mq('medium-major') {
            float: right;
            width: 32%;
        }
    }

    .research-sections__meta {
        clear: both;
    }
}

/* =========================================================================
   Document Summary
   ========================================================================= */

.document-summary {
    &:not(:last-of-type) {
        border-bottom: 1px solid palette('border');
        padding-bottom: $spacingUnit;
        margin-bottom: $spacingUnit;
    }

    .document-summary__link {
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0.3em;
    }

    .document-summary__contents {
        font-size: 16px;
        margin-bottom: 1em;

        > li {
            margin: 0 0 0 1.5em;
            list-style-type: disc;
        }
    }
}
