/* =========================================================================
   Tabs
   ========================================================================= */

/* =========================================================================
   Tabs: Content Tabs
   ========================================================================= */

.content-tabset {
    font-family: font-stack('display');

    @include mq('medium-minor', 'max') {
        margin-bottom: $spacingUnit;

        .content-tabset__item {
            list-style: none;
            margin-left: 0.5em;

            &:before {
                content: '—';
                margin-right: 0.5em;
            }
        }

        .content-tabset__tab {
            font-weight: bold;
        }
    }

    @include mq('medium-minor') {
        background-color: palette('pale-grey');
        display: flex;
        flex-wrap: wrap;

        .content-tabset__item {
            font-size: 16px;
            margin: 0;
            display: inline-block;
            flex: 1 1 auto;

            &:first-child .tab {
                border-left: none;
            }
        }

        .content-tabset__tab {
            color: palette('blue-text');
            display: block;
            font-weight: bold;
            padding: 12px 12px 14px;
            text-decoration: none;
            border: solid palette('border');
            border-width: 4px 0 1px 1px;
            border-top-color: transparent;
            white-space: nowrap;
            text-align: center;

            &.is-active {
                border-top-color: palette('pink');
                border-bottom-color: transparent;
                background-color: white;
                color: palette('pink');
            }
        }
    }
}

.content-tab-pane {
    .content-tab-pane__pagination {
        @include mq('medium-minor', 'max') {
            display: none;
        }
    }

    .content-tab-pane__title {
        text-decoration: none;
        display: block;
        margin-bottom: $spacingUnit;
    }

    @include mq('medium-minor', 'max') {
        &:nth-child(even) .content-tab-pane__content {
            background-color: palette('tint');
        }
    }

    .js-on & {
        @include mq('medium-minor') {
            .content-tab-pane__title {
                display: none;
            }
        }

        @include mq('medium-minor') {
            .content-tab-pane__content {
                display: none;
            }

            &.is-active {
                > .content-tab-pane__content {
                    display: block;
                }
            }
        }
    }

    @media print {
        .content-tab-pane__title,
        .content-tab-pane__content {
            display: block !important;
        }
    }
}
