.tags-list {
    $primaryColour: palette('pink');
    $secondaryColour: get-color('text', 'note');
    .tag {
        display: inline-block;

        a {
            border: 1px solid $primaryColour;
            color: $primaryColour;
            display: inline-block;
            padding: 2px 7px;
            text-decoration: none;
            font-size: 14px;
            margin: 3px 3px 3px 0;
            @include on-interact() {
                border-color: darken($primaryColour, 10%);
                color: darken($primaryColour, 10%);
            }
        }

        &.tag--secondary {
            a {
                border-color: $secondaryColour;
                color: $secondaryColour;
                @include on-interact() {
                    border-color: darken($secondaryColour, 10%);
                    color: darken($secondaryColour, 10%);
                }
            }
        }
    }
}
