/* =========================================================================
   Button
   ========================================================================= */

$btnConf: (
    'default': (
        'fontSize': 18px,
        'desiredHeight': 59px
    ),
    'medium': (
        'fontSize': 16px,
        'desiredHeight': 42px
    ),
    'small': (
        'fontSize': 16px,
        'desiredHeight': 36px
    ),
    'mini': (
        'fontSize': 13px,
        'desiredHeight': 30px
    )
);

@mixin getBtnVertPadding($conf) {
    $height: map-get($conf, 'desiredHeight');
    $fontSize: map-get($conf, 'fontSize');
    $paddingVertical: ($height - $fontSize) / 2;
    padding-top: $paddingVertical;
    padding-bottom: $paddingVertical;
}

/* =========================================================================
   Buttons: Variants
   ========================================================================= */

/**
 * Buttons: Default style
 */
.btn {
    @include poppins();
    line-height: 1; // so we can calculate padding for the height
    font-weight: 500;
    background-color: palette('blue');
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    vertical-align: top;
    display: inline-block;
    -webkit-appearance: none;
    font-size: map-deep-get($btnConf, 'default', 'fontSize');
    @include getBtnVertPadding(map-get($btnConf, 'default'));
    padding-left: $spacingUnit;
    padding-right: $spacingUnit;

    @include mq('large') {
        padding-right: $spacingUnit * 1.5;
        padding-left: $spacingUnit * 1.5;
    }

    @include on-interact {
        background-color: darken(palette('blue'), 15%);
        outline: none;
        color: #ffffff;
    }

    // add back the outline to high-contrast mode
    .contrast--high & {
        @include on-interact {
            outline: 3px solid palette('pink');
        }
    }

    // sass magic: becomes `a.btn`
    // (to override other link CSS)
    @at-root a#{&} {
        color: #ffffff;
        text-decoration: none;
        transition: none;
    }

    &[disabled='disabled'] {
        @include disabledBtn();
    }

    // icon inside the button
    .btn__icon {
        vertical-align: middle;
        display: inline-block;
        line-height: 1;
        margin-right: 0.5em;
    }
}

/**
 * Buttons: Medium Variant
 */
.btn--medium {
    @include getBtnVertPadding(map-get($btnConf, 'mini'));
    font-size: map-deep-get($btnConf, 'mini', 'fontSize');
    background-color: palette('pink');

    @media only screen and (min-width: 360px) {
        @include getBtnVertPadding(map-get($btnConf, 'small'));
        font-size: map-deep-get($btnConf, 'small', 'fontSize');
    }

    @include mq('medium') {
        @include getBtnVertPadding(map-get($btnConf, 'medium'));
        font-size: map-deep-get($btnConf, 'medium', 'fontSize');
    }

    @include on-interact {
        background-color: darken(palette('pink'), 15%);
        outline: none;
    }
}

/**
 * Buttons: Small Variant
 */
.btn--small {
    @include getBtnVertPadding(map-get($btnConf, 'mini'));
    font-size: map-deep-get($btnConf, 'mini', 'fontSize');
    background-color: palette('pink');

    @media only screen and (min-width: 360px) {
        @include getBtnVertPadding(map-get($btnConf, 'small'));
        font-size: map-deep-get($btnConf, 'small', 'fontSize');
    }

    @include on-interact {
        background-color: darken(palette('pink'), 15%);
        outline: none;
    }
}

/**
 * Buttons: Reversed Variant
 */
.btn--reversed {
    color: palette('charcoal');
    background-color: white;

    @include on-interact {
        color: darken(palette('charcoal'), 10%);
        background-color: darken(white, 5%);
    }
}

/**
 * Button: Outline variant
 */
.btn--outline {
    background-color: #ffffff !important;
    color: palette('blue') !important;
    border: 3px solid palette('blue');

    &.btn--small {
        padding-left: 5px;
        padding-right: 5px;
    }

    @include on-interact {
        background-color: #ffffff;
        border-color: darken(palette('blue'), 20%);
        color: darken(palette('blue'), 20%) !important;
    }
}

.btn--next {
    background-image: arrow-btn();
    background-size: 100% auto; // allow longer text
    background-repeat: no-repeat;
    background-position: center left;
    min-width: 158px;
    padding-right: 40px;
    background-color: transparent;
    @include on-interact {
        background-color: transparent;
        background-image: arrow-btn(darken(palette('blue'), 15%));
    }
}

.icon-btn {
    @include reset-button();
    border-radius: 100%;
    border: 1px solid white;
    height: 25px;
    width: 25px;
    cursor: pointer;

    @include on-interact() {
        $highlight: palette('soft-grey');
        border-color: $highlight;

        svg {
            fill: $highlight;
        }
    }

    svg {
        fill: white;
        height: 100%;
        width: 100%;
    }
}

/* =========================================================================
   Link Buttons
   ========================================================================= */

.btn-link {
    color: palette('blue-text');
    background-color: transparent;
    transition: color 0.1s ease-in-out;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    border: none;
    border-radius: 0;
    cursor: inherit;
    text-align: inherit;
    word-wrap: break-word;
    white-space: normal;

    &:active,
    &:focus {
        outline: none;
    }

    @include on-interact {
        text-decoration: underline;
        color: darken(palette('blue-text'), 20%);
        background-color: transparent;
    }
}

/* =========================================================================
   Button Utilities
   ========================================================================= */

// forces full-width
.btn--block {
    display: block;
}

.btn--block-full {
    display: block;
    width: 100%;
}

/* =========================================================================
   Start Button
   ========================================================================= */
/* Button container for service start buttons */

/**
 * Service start button
 */
.start-button {
    margin: 1.5em 0;

    .btn .icon {
        fill: currentColor;
        margin-left: 2px;
    }
}

/* =========================================================================
   Button Group
   ========================================================================= */
/* Group together a set of buttons with consistent spacing */

.o-button-group {
    .btn {
        margin-bottom: ($spacingUnit / 2);

        &:last-of-type {
            margin-bottom: 0;
        }

        @media only screen and (max-width: 680px) {
            max-width: 300px;
            width: 100%;
        }

        @media only screen and (min-width: 680px) {
            margin-right: ($spacingUnit / 2);

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.o-button-group-block {
    .btn {
        display: block;
        width: 100%;
        margin-bottom: $spacingUnit;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
