/* =========================================================================
   Photo Card
   ========================================================================= */

.photo-card {
    @include bordered();
    height: 100%;
    background-color: palette('pale-grey');
}
.photo-card__image {
    display: block;
}
.photo-card__header,
.photo-card__subheader {
    margin-bottom: $spacingUnit / 3;
}
.photo-card__subheader {
    font-weight: bold;
}
.photo-card__body {
    padding: $spacingUnit / 2;
    padding-bottom: $spacingUnit;
}
.photo-card__description {
    margin-bottom: 0;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .photo-card {
        display: flex;
    }
    .photo-card__media {
        flex: 0 0 200px;
    }
    .photo-card__body {
        padding: $spacingUnit / 2;
    }
}
