/* =========================================================================
   Cards
   ========================================================================= */

/* =========================================================================
   Media Object Card
   ========================================================================= */

.media-card {
    padding: 12px 12px 16px;
    box-shadow: 0 0 1px 1px palette('border');

    .media-card__inner {
        display: flex;
    }

    .media-card__media {
        flex: 0 0 80px;
        margin-right: 12px;
    }

    .media-card__body {
        // Optically align with image
        margin-top: -2px;
    }

    .media-card__title {
        margin-bottom: 3px;
    }

    .media-card__subtitle {
        font-size: 18px;
        color: palette('charcoal-note');
        margin-bottom: .5em;
    }

    .media-card__description {
        font-size: 18px;
    }
}

/* =========================================================================
   Photo Card
   ========================================================================= */

.photo-card {
    border: 1px solid palette('border');
    height: 100%;
    background-color: palette('pale-grey');
}
.photo-card__image {
    display: block;
}
.photo-card__header,
.photo-card__subheader {
    margin-bottom: $spacingUnit / 3;
}
.photo-card__subheader {
    font-weight: bold;
}
.photo-card__body {
    padding: $spacingUnit / 2;
    padding-bottom: $spacingUnit;
}
.photo-card__description {
    margin-bottom: 0;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .photo-card {
        display: flex;
    }
    .photo-card__media {
        flex: 0 0 200px;
    }
    .photo-card__body {
        padding: $spacingUnit / 2;
    }
}

/* =========================================================================
   Promo Card
   ========================================================================= */
// @TODO: Can this be combined more generally with promo-card?

.promo-card {
    box-shadow: 0 0 1px 1px palette('border');

    .promo-card__inner {
        padding: 12px 12px 16px;
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .promo-card__body {
        flex: 1;
    }

    .promo-card__media {
        position: relative;
    }
    .promo-card__kicker {
        position: absolute;
        left: 12px;
        bottom: 12px;
    }

    .promo-card__subtitle,
    .promo-card__description,
    .promo-card__meta {
        font-size: 16px;
    }

    .promo-card__title {
        margin-bottom: 3px;
    }

    .promo-card__subtitle {
        font-size: 16px;
        color: palette('charcoal-note');
        margin-bottom: .5em;
    }

    .promo-card__meta {
        margin-top: $spacingUnit;
    }
}
