/* =========================================================================
   Cards
   ========================================================================= */

/**
 * Note: The generic "card" class is only used on the "Materials" form.
 * @TODO: This should probably more clearly isolated to the materials form.
 */
.card {
    @include bordered();
    height: 100%;
    background-color: palette('pale');

    .card__media {
        margin-bottom: 20px;
    }

    .card__body {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
    }

    &.card--padded {
        padding: 20px;

        .card__body {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.card--title {
        padding: 0;

        .card__title {
            padding: 30px 30px 0 30px;
            margin-bottom: 0;
        }

        .card__media {
            margin: 40px;
        }

        .card__body {
            padding: 0 30px 30px 30px;
        }
    }
}
.card__subheader {
    font-weight: bold;
    margin-bottom: $spacingUnit / 2;
}

/* =========================================================================
   Project Cards
   ========================================================================= */

.project-card {
    @include bordered();
    height: 100%;
    background-color: palette('pale-grey');
}
.project-card__image {
    display: block;
}
.project-card__header,
.project-card__subheader {
    margin-bottom: $spacingUnit / 3;
}
.project-card__subheader {
    font-weight: bold;
}
.project-card__body {
    padding: $spacingUnit / 2;
    padding-bottom: $spacingUnit;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .project-card {
        display: flex;
    }
    .project-card__media {
        flex: 0 0 200px;
    }
    .project-card__body {
        padding: $spacingUnit / 2;
    }
}
