/* =========================================================================
   Carousels
   ========================================================================= */

.carousel {
    position: relative;
    margin-bottom: $spacingUnit;
}
.carousel__controls {
    @include mq('medium', 'max') {
        position: absolute;
        width: 100%;
        top: 100px;
    }
}
.carousel__control {
    color: palette('blue');
    background-color: palette('pink');
    border: none;
    border-radius: 100%;

    cursor: pointer;
    font-size: 30px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;

    position: absolute;
    left: 0;
    top: 50%;
    z-index: 100;

    @include on-interact {
        color: lighten(palette('blue'), 20%);
        background-color: darken(palette('pink'), 5%);
    }

    &.carousel__control--next {
        left: auto;
        right: $spacingUnit;
    }

    &.carousel__control--prev {
        right: auto;
        left: $spacingUnit;
    }

    .icon {
        width: 22px;
        height: 22px;
        fill: #ffffff;
        text-align: center;
        position: relative;
    }

    /**
     * Optically align icons
     */
    .icon--arrow-left {
        right: 1px;
    }
    .icon--arrow-right {
        left: 1px;
    }
}
