/* =========================================================================
   Carousels
   ========================================================================= */

.carousel {
    position: relative;
    margin-bottom: $spacingUnit;
}
.carousel__controls {
    @include mq('tablet', 'max') {
        position: absolute;
        width: 100%;
        top: 100px;
    }
}
