/* =========================================================================
   Data
   ========================================================================= */

/* =========================================================================
  Link Grid (@see /jobs)
  ========================================================================= */

.link-grid {
    clear: both;
    margin-bottom: $spacingUnit;

    @include mq('tablet') {
        $offset: $spacingUnit * 1.5;
        margin: $spacingUnit 0;
        margin-left: -$offset;
        padding-left: $offset;
        border-left: $accentBorderWidth solid;
    }

    @include mq('desktop') {
        $offset: $spacingUnit * 2;
        margin-left: -$offset;
        padding-left: $offset;
    }

    .link-grid__list {
        @include mq('tablet') {
            position: relative;
            overflow: auto;
        }
    }

    .link-grid__list > .link-grid__item {
        display: block;

        @include mq('tablet') {
            width: 33.333%;
            float: left;
            border: solid palette('soft-grey');
            border-width: 0 1px 1px 0;
            padding: $spacingUnit 3% ($spacingUnit * 2);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

/* =========================================================================
   Stats
   ========================================================================= */

.stats-holder {
    position: relative;
}

.stats__icon {
    padding: $spacingUnit * 2;

    @include mq('tablet') {
        padding: 0;
        margin: 0;
        text-align: left;
        min-height: 200px;
        position: relative;
    }

    .stats__icon__detail {
        @include mq('tablet') {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            padding: $spacingUnit;
        }
    }
}

.stats {
    div {
        margin-top: 0;
    }

    li {
        margin: 0;
    }

    dl {
        margin-top: 0;
    }

    dt,
    dd {
        margin: 0;
    }

    li:nth-child(odd) {
        .number {
            color: palette('blue');
        }
    }

    .number {
        color: palette('pink');
        display: inline-block;
        font-family: 'Poppins', arial, sans-serif;
        line-height: 1;
        font-weight: 600;
        margin: 5px 0;
        font-size: 40px;

        @include mq('tablet') {
            font-size: 35px;
        }

        @include mq('desktop') {
            font-size: 40px;
        }

        &.number--suffix {
            font-size: 20px;
        }
    }

    .caption {
        margin-top: 0;
        display: block;
        color: palette('charcoal');
        font-family: 'Poppins', arial, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px;

        @include mq('tablet') {
            font-size: 14px;
        }
    }
}

/* =========================================================================
   Fact River
   ========================================================================= */
/* @see /wales, /northern-ireland */

.fact-river {
    @include clearfix();
    clear: both;
    list-style: none;
    margin-bottom: 1em;
}
.fact-river__item {
    margin-bottom: 1em;
    font-weight: bold;

    strong {
        color: palette('pink');
    }

    @include mq('medium') {
        font-size: 26px;
        @include poppins();
        float: left;
        clear: left;
        max-width: 60%;
        margin: 0 0 1em 2em;

        &:nth-child(even) {
            float: right;
            clear: right;
            margin: 0 2em ($spacingUnit * 2) 0;
        }
    }
}

.fact-item {
    display: flex;
    align-items: center;
}
.fact-item__image {
    flex: 0 0 auto;
    flex-basis: 80px;
    margin: 0 0 0 5px;
    order: 2;

    @include mq('medium') {
        flex-basis: 120px;
    }
}

.fact-item--reversed {
    .fact-item__image {
        margin: 0 $spacingUnit 0 0;
        order: unset;
    }
}

/* =========================================================================
   Grant List
   ========================================================================= */

.grant-list {
    margin: $spacingUnit 0;

    li {
        margin: 0 0 $spacingUnit 0;
        text-align: left;
        border-bottom: 1px dotted #ccc;
        padding-bottom: $spacingUnit;
    }
}

/* =========================================================================
   Data Map
   ========================================================================= */

.map-wrapper {
    margin: auto;
    width: 90%;
    height: 100%;

    .is-ie & {
        height: 500px;
    }

    @include mq('tablet') {
        width: 50%;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.map-holder {
    position: relative;
    background-color: #f0f4ff;
}

.map-info {
    background-color: #ffffff;

    .map-info__item {
        margin-bottom: $spacingUnit;
    }

    .js-on & {
        @include mq('tablet') {
            width: 160px;
            position: absolute;
            z-index: 10;
            right: 0;
            top: 20px;
            display: none;

            &.pane--active {
                display: block;
            }
        }

        @include mq('desktop') {
            width: 250px;
            top: $spacingUnit * 4;
        }

        @media only screen and (min-width: $widestScreen) {
            right: -$spacingUnit * 4;
        }
    }

    .map-info__stat {
        margin-bottom: 0;
    }
}

.map-holder__inner {
    position: relative;
}

// this mirrors the accents concept, but we keep it separate
// as adding it there would produce a bunch of superfluous classes
$mapRegions: (
    'default': #e4e3e1,
    'east-midlands': #86bd3f,
    'east-england': #c84548,
    'london': #6f9cca,
    'north-east': #faca36,
    'north-west': #518a34,
    'northern-ireland': #80e1b0,
    'scotland': #73579e,
    'south-east': #da559a,
    'south-west': #3585b5,
    'wales': #4eace1,
    'west-midlands': #f7b534,
    'yorkshire': #ef7a70
);

.region {
    fill: map-get($mapRegions, 'default');
}

@each $region, $colour in $mapRegions {
    @if ($region != 'default') {
        .region--#{$region} {
            fill: $colour;

            @include on-interact {
                fill: palette('pink');
            }
        }

        .region--#{$region}--b-t {
            border-top-color: $colour !important;
        }

        .region--#{$region}--b-b {
            &:after {
                border-bottom-color: $colour !important;
            }
        }
    }
}
