/* =========================================================================
   Forms
   ========================================================================= */

.form-header {
    margin-bottom: $spacingUnit * 2;

    .form-header__actions {
        margin-bottom: $spacingUnit / 2;
    }
    .form-header__prefix,
    .form-header__title {
        margin-bottom: 3px;
    }
    .form-header__prefix {
        font-size: 16px;
        font-weight: normal;
        color: palette('charcoal-note');
    }
}

.form-fieldset {
    margin: 0;
}
.form-fieldset__legend {
    font-weight: bold;
    margin-bottom: $spacingUnit;
}
.form-fieldset__fields {
    margin-bottom: $spacingUnit;
}

.form-errors {
    border: 3px solid palette('error');
    margin-bottom: $spacingUnit;
}
.form-errors__title {
    color: white;
    background-color: palette('error');
    font-weight: bold;
    margin: 0;
    margin-bottom: $spacingUnit / 2;
    padding: $spacingUnit / 3;
}
.form-errors__body {
    padding: $spacingUnit / 2;
}

.error-list {
    &,
    a {
        color: palette('error');
        font-weight: bold;
    }
}

.form-field {
    margin-bottom: 1.5em;

    &:target {
        background-color: rgba(255, 255, 0, 0.5);
    }
}
.form-field__errors {
    margin-top: $spacingUnit / 3;
}
.form-field__help {
    margin-top: $spacingUnit;

    .form-field__help-summary {
        margin-bottom: $spacingUnit / 3;
    }
    .form-field__help-body {
        background-color: palette('pale-grey');
        padding: $spacingUnit / 2;
    }
}
.form-field__duplicate {
    margin-top: $spacingUnit / 2;
}

.form-field.has-errors {
    .form-field__main {
        border-left: 3px solid palette('error');
        padding-left: $spacingUnit / 2;
    }
}

.no-js .form-field[hidden] {
    display: block;
}

.ff-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ff-label--required,
.ff-label--optional {
    &:after {
        content: '* Required field';
        font-weight: normal;
        margin-left: 10px;
        font-size: smaller;
        color: palette('pink');
    }
}

.ff-label--optional {
    &:after {
        content: 'Optional';
        color: palette('charcoal-note');
    }
}

.ff-explanation {
    font-size: 16px;
    margin-bottom: 10px;
    color: palette('charcoal-note');
}

.ff-text,
.ff-textarea {
    display: block;
    padding: 6px 12px;
    border: 2px solid palette('charcoal');
    // prevent elements with size attributes overflowing on mobile
    max-width: 100%;

    &:focus {
        outline: 3px solid lighten(palette('turquoise'), 25%);
        outline-offset: 0;
    }
}

.ff-textarea {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

.ff-radio {
    margin-bottom: 3px;
}
.ff-radio__option {
    margin-bottom: 3px;

    input[type='radio'] {
        position: relative;
        top: -2px;
        margin: 0 5px 0 0;
    }
}

.ff-checkbox {
    margin-bottom: 3px;
}
.ff-checkbox__option {
    display: table;
    margin-bottom: 5px;

    input[type='checkbox'] {
        margin: 0 .5em 0 0;

        @include mq('medium-minor') {
            margin-right: .75em;
            position: relative;
            top: -2px;
        }
    }
}
.ff-checkbox__input,
.ff-checkbox__label {
    display: table-cell;
}
.ff-checkbox__caption {
    font-size: 14px;
    color: palette('charcoal-note');
    display: block;

    @include mq('medium-minor') {
        font-size: 16px;
        margin-bottom: 3px;
    }
}

.review-list {
    margin: $spacingUnit 0 ($spacingUnit * 2);

    > dd,
    > dt {
        padding: 5px 0;
    }

    > dt {
        font-weight: bold;
        border-top: 1px solid palette('soft-grey');
    }
}
.review-list:not(.review-list--stacked) {
    overflow: auto;

    @media screen and (min-width: 480px) {
        > dd,
        > dt {
            float: left;
        }

        > dt {
            width: 40%;
            padding-right: 5px;
            clear: left;
        }

        > dd {
            width: 60%;
            border-top: 1px solid palette('soft-grey');
        }
    }
}

.form-message {
    background-color: palette('pale-pink');
    margin-bottom: $spacingUnit;
    padding: $spacingUnit / 2;
}
.form-message__title {
    margin-bottom: 3px;
}

/* =========================================================================
   Custom Form: Ebulletin
   ========================================================================= */
// @TODO: can we define this a general modifier? Slim? Tinted?

.form-style-slim {
    // .form-field {
    //     margin-bottom: .5em;
    // }

    &,
    .ff-label {
        font-size: 18px;
    }

    .ff-text,
    .ff-textarea {
        display: block;
        width: 100%;
        padding: .35em;
        font-size: 16px;
        border: 1px solid lighten(palette('charcoal'), 20%);
    }
}
