/* =========================================================================
   Hero
   ========================================================================= */
/* Full bleed hero image used on most pages */

.hero {
    color: white;
    position: relative;
}
.hero__content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hero__image {
    height: 0;
    position: relative;

    @include responsive-ratio(644, 425);

    @media only screen and (min-width: 600px) {
        @include responsive-ratio(1280, 720);
    }

    @include mq('large') {
        @include responsive-ratio(1362, 403);
    }

    img {
        display: block;
    }
}
.hero__header {
    margin-bottom: $spacingUnit / 1.5;

    @media screen and (min-width: 380px) {
        margin-bottom: $spacingUnit;
    }

    @include mq('medium') {
        margin-bottom: $spacingUnit * 2.5;
    }
}
.hero__header__inner {
    @include mq('medium') {
        padding-left: $spacingUnit;
        padding-right: $spacingUnit;
    }
}
.hero__title {
    width: 100%;

    @include mq('medium') {
        max-width: 20em;
    }
}
.hero__caption {
    position: absolute;
    height: auto;
    right: $spacingUnit / 2;
    bottom: $spacingUnit / 2;

    @media screen and (min-width: 380px) {
        bottom: $spacingUnit;
    }

    @include mq('medium') {
        bottom: $spacingUnit * 2;
    }

    @include mq('large') {
        right: $spacingUnit;
    }
}

@media print {
    .hero,
    .hero__content {
        position: static;
    }
    .hero__image,
    .hero__caption {
        display: none;
    }
}

/* =========================================================================
   Super Hero
   ========================================================================= */
/* Larger hero image (see: Homepage) */

.super-hero {
    color: white;
    margin-bottom: $spacingUnit;

    height: 0;
    position: relative;

    @include responsive-ratio(644, 573);

    @media only screen and (min-width: 600px) {
        @include responsive-ratio(1280, 720);
    }

    @include mq('large') {
        @include responsive-ratio(1373, 505);
    }
}
.super-hero__content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.super-hero__image img {
    display: block;
}
.super-hero__header {
    text-align: center;

    margin-bottom: $spacingUnit / 2;

    @include mq('medium') {
        margin-bottom: $spacingUnit * 2;
    }
}
.super-hero__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 0 ($spacingUnit / 2) 0;

    @media only screen and (min-width: 360px) {
        font-size: 18px;
    }

    @media only screen and (min-width: 480px) {
        font-size: 21px;
    }

    @include mq('large') {
        font-size: 24px;
        line-height: 1.3;
    }

    a,
    a:link {
        color: inherit;
        text-decoration: underline;
    }
}
.super-hero__caption {
    position: absolute;
    height: auto;
    right: $spacingUnit / 2;
    bottom: $spacingUnit / 2;

    @include mq('large') {
        right: $spacingUnit;
    }
}

.js-on.is-repeat-visitor .super-hero--has-candidates {
    background-color: palette('charcoal');

    .super-hero__image,
    .super-hero__caption {
        transition: opacity 600ms ease-in;
        transition-delay: 150ms;
        opacity: 0;
    }

    &.has-image .super-hero__image,
    &.has-image .super-hero__caption {
        opacity: 1;
    }
}

@media print {
    .super-hero {
        color: black !important;
        background: none !important;
        position: static;
        padding-bottom: 0;
        height: auto;
    }
    .super-hero__image {
        display: none;
    }
    .super-hero__header {
        text-align: left;
    }
    .super-hero__content,
    .super-hero__caption {
        position: static;
    }
}

/* =========================================================================
   Miniature Heroes
   ========================================================================= */
/* e.g /funding/funding-guidance/managing-your-funding */

.miniature-hero {
    position: relative;

    .miniature-hero__title {
        font-size: 18px;
        margin-bottom: 0;
        width: 80%;

        position: absolute;
        bottom: $spacingUnit / 2;
        left: $spacingUnit / 2;

        @include mq('medium') {
            bottom: $spacingUnit;
            left: $spacingUnit;
        }

        @media print {
            position: static;
            padding: 0;
            margin-bottom: 10px;
        }
    }

    .miniature-hero__link,
    .miniature-hero__link:hover {
        text-decoration: none;
    }
}
