/* =========================================================================
   Heroes
   ========================================================================= */

// the list of hero images
@import '../heroes.config';

// how much the hero text should appear from the bottom
$heroSpaceFromBottom: 55px;
$heroSpaceFromBottomMobile: 20px;
$heroSpaceFromLeft: 20px;

@mixin makeHeroImage($img) {
    @include responsive-ratio(map-get($img, 'width'), map-get($img, 'height'));
    background-image: url(map-get($img, 'filename'));
}

.hero {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &.hero--major {
        height: 0;

        @media print {
            display: none;
        }

        .hero__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // loop through each hero image set
    @each $hero, $imageset in $heroes {
        // output a default (mobile) image and aspect ratio
        &.hero--#{$hero} {
            $defaultImage: map-get($imageset, 'default');
            @include makeHeroImage($defaultImage);

            // for each of the non-default (eg. breakpoint-matching) sets
            // output a media query with a new image and aspect ratio
            @each $imageBreakpointName, $imageBreakpoint in $imageset {
                @if map-has-key($breakpoints, $imageBreakpointName) {
                    @include mq($imageBreakpointName) {
                        @include makeHeroImage($imageBreakpoint);
                    }
                }
            }
        }
    }
}

.hero__caption {
    position: relative;
    height: 100%;
}
.hero__caption-text {
    $captionHeight: 26px;
    position: absolute;
    height: $captionHeight;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4px;
    color: #ffffff;
    width: auto;
    font-size: 15px;
    bottom: $heroSpaceFromBottomMobile - $captionHeight;
    @include mq('tablet') {
        bottom: $heroSpaceFromBottom - $captionHeight;
    }

    .contrast--high & {
        background-color: #000000;
    }

}

.hero__header {

    .hero--major & {
        @include responsiveGutter(true);
    }

    position: absolute;
    bottom: $heroSpaceFromBottomMobile;

    @include mq('tablet') {
        bottom: $heroSpaceFromBottom;
        padding-left: $heroSpaceFromLeft; // using left here shifts the whole box
    }
}

.hero--miniature {
    // hacky-ish way to switch images out for miniature hero on breakpoints
    @include mq('tablet', 'max') {
        .hero-image--desktop { display: none; }
        .hero-image--mobile { display: block; }
    }

    @include mq('tablet') {
        .hero-image--desktop { display: block; }
        .hero-image--mobile { display: none; }
    }
}

.hero--miniature__content {
    position: relative;

    .hero__header {
        @include mq('tablet', 'max') {
            margin-left: $heroSpaceFromLeft;
        }
    }
}

/* =========================================================================
   Super Hero
   ========================================================================= */
/* New full-bleed hero template (see: Homepage) */

.hero--super {
    color: white;
    margin-bottom: $spacingUnit;

    .hero__header {
        text-align: center;
    }

    .hero__caption-text {
        bottom: 10px;
        background-color: transparent;
        color: palette('soft-grey');
    }
}

/**
 * Hero text object helper
 */
.o-hero-text {
    font-size: 21px;
    line-height: 1.4;
    font-weight: normal;
    margin: 0 0 $spacingUnit 0;

    a, a:link {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    a:hover, a:active {
        border-color: white;
    }
}
