/* =========================================================================
   Icons
   ========================================================================= */

.icon {
    display: inline-block;
    vertical-align: baseline;
    fill: currentColor;
}
.icon--small {
    width: 16px;
    height: 16px;
}
.icon--medium {
    width: 26px;
    height: 26px;
}
.icon--large {
    width: 32px;
    height: 32px;
}

.u-icon-inline-left,
.u-icon-inline-right {
    display: inline-block;
    vertical-align: middle;
}
.u-icon-inline-left {
    // Optically align
    margin-right: 0.5em;
    margin-left: -5px;
}
.u-icon-inline-right {
    // Optically align
    margin-left: 3px;
    margin-right: -3px;
}
