/* =========================================================================
   Navigation
   ========================================================================= */

/* =========================================================================
   Navigation: Accessibility Nav (Quick Links)
   ========================================================================= */

.accessibility-nav {
    position: absolute;
    top: $spacingUnit;
    left: $spacingUnit;
    margin-top: 0 !important;
    z-index: 100;

    ul {
        margin-top: 0;
    }

    li {
        margin: 0;

        a {
            padding: 20px 30px;
            display: block;
            color: white;
            text-decoration: none;
            position: absolute;
            left: -10000px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;

            @include on-interact {
                position: static;
                width: auto;
                height: auto;
                background-color: palette('charcoal');
            }
        }
    }
}


/* =========================================================================
   Selection Trail
   ========================================================================= */

.selection-trail {
    font-size: 16px;
    color: #6a6a6b;
    background-color: rgba(0,0,0,0.03);

    margin: -($spacingUnit / 2);
    margin-top: -$spacingUnit;
    margin-bottom: $spacingUnit;
    padding: 1em ($spacingUnit / 2);

    @include mq('medium') {
        margin: -$spacingUnit;
        margin-bottom: $spacingUnit;
        padding: 1em $spacingUnit;
    }
}
.selection-trail__item {
    display: inline-block;

    &::after {
        content: '›';
        font-weight: normal;
        color: #6a6a6b;
        margin: 0 4px;
    }

    &:last-child::after {
        content: '';
        display: none;
    }
}
.selection-trail__item,
.selection-trail__link {
    color: inherit;
}
.selection-trail__link {
    font-weight: bold;
}

/* =========================================================================
   Segment links (jump links for pages with multiple content segments)
   ========================================================================= */

.segment-links {
    border-top: 1px solid palette('border');
    padding-top: $spacingUnit;
    margin-bottom: $spacingUnit;

    li {
        list-style: none;
        margin-left: .5em;

        &:before {
            content: '—';
            margin-right: .5em;
        }
    }

    a {
        font-weight: bold;
    }
}

/* =========================================================================
   Split Nav (previous / next pagination)
   ========================================================================= */

.split-nav {
    @include clearfix();
    padding-top: .5em;
    margin: 1.5em 0 $spacingUnit;
    border-top: 1px solid palette('border');
}
.split-nav__prev,
.split-nav__next {
    display: block;
    font-size: 90%;
    text-decoration: none;

    @include on-interact {
        text-decoration: underline;
    }
}
.split-nav__prev {
    float: left;

    &::before {
        content: '← ';
    }
}
.split-nav__next {
    float: right;

    &::after {
        content: ' →';
    }
}

/* =========================================================================
   Navigation: Nested Menu (Section Navigation)
   ========================================================================= */

.nested-menu {
    @include poppins();
}
.nested-menu__section {
    margin-bottom: $spacingUnit / 2;
}
.nested-menu__section-link {
    color: palette('pink');
    font-weight: bold;
    margin-bottom: $spacingUnit / 2;
}
.nested-menu__children {
    font-size: 17px;
    margin-left: 1em;
}
.nested-menu__item {
    margin-bottom: $spacingUnit / 2;
}
.nested-menu__link.is-active {
    color: palette('pink');
    font-weight: bold;
}

/* =========================================================================
   Quick Links
   ========================================================================= */

.quicklinks {
    padding: 10px 12px;

    .quicklinks__item {
        margin-bottom: 12px;
    }
    .quicklinks__link {
        display: block;
        text-decoration: none;
        font-size: 16px;

        &:hover,
        &:active {
            text-decoration: none;

            .quicklinks__link-label {
                text-decoration: underline;
            }
        }
    }
    .quicklinks__link-caption {
        display: block;
        font-weight: normal;
        color: palette('charcoal');
    }
}
.quicklinks--sticky {
    @media only screen and (min-height: 38em) {
        position: sticky;
        top: 0;
    }

    @include mq('medium', 'max') {
        display: none;
    }
}
