/* =========================================================================
   News
   ========================================================================= */

// .article-teaser {}
.article-teaser__summary {
    font-size: 18px;
}

.latest-news {
    position: relative;
    padding: $spacingUnit / 2;

    @include mq('medium') {
        padding: $spacingUnit;
    }
}
.latest-news__footer {
    margin-bottom: $spacingUnit;

    @include mq('medium') {
        position: absolute;
        top: $spacingUnit;
        right: $spacingUnit;
        margin: 0;
    }
}
.latest-news__more {
    font-size: 18px;

    &:after {
        content: " →";
    }
}
