// blocked-out colourised background
.overlay-text {
    width: 250px;
    max-width: 80%;

    // forced linebreaks (eg. <br>)
    // should only appear on tablet upwards
    @include mq('tablet', 'max') {
        br {
            display: none;
        }
    }

    @include mq('tablet') {
        width: 60%;
        margin-right: 0;
    }

    span {
        color: #ffffff;
        display: inline;
        padding: 0 5px;
        box-decoration-break: clone;
    }

    //&.minor {
    //    @include font-and-leading(18px, 28px);
    //    @include mq('tablet') {
    //        span {
    //            padding: 0 $spacingUnit / 3;
    //        }
    //    }
    //}
    //
    //&.minor--smallest {
    //    font-weight: 600;
    //
    //    @include mq('tablet', 'max') {
    //        @include font-and-leading(14px, 23px);
    //    }
    //
    //    @include mq('tablet') {
    //        @include font-and-leading(18px, 28px);
    //        span {
    //            padding: 0 $spacingUnit / 4;
    //        }
    //    }
    //}

    // some t1 blocks are *wholly* links
    // so no underlines for them
    a {
        color: #ffffff;
        text-decoration: none;
    }

    // some t1 blocks *contain* links
    // so demarcate them properly
    &.overlay-text--has-links {
        a {
            text-decoration: underline;
        }
    }

    // icon font
    i {
        margin-left: 3px;
        vertical-align: text-top;
    }
}