/* =========================================================================
   Overlay Text
   ========================================================================= */
// blocked-out colourised background

.overlay-text {
    width: 60%;
    line-height: 1.4;
    margin: 0;

    &.is-opaque {
        line-height: 1.7;
    }

    &.overlay-text--wide {
        width: 80%;
    }

    // forced linebreaks (eg. <br>)
    // should only appear on tablet upwards
    @include mq('medium', 'max') {
        br {
            display: none;
        }
    }

    span {
        color: #ffffff;
        display: inline;
        padding: 2px 5px;
        // allows multi-line wrapped text to work
        box-decoration-break: clone;
    }

    // some t1 blocks are *wholly* links
    // so no underlines for them
    a {
        color: #ffffff;
        text-decoration: none;
    }

    // some t1 blocks *contain* links
    // so demarcate them properly
    &.overlay-text--has-links {
        a {
            text-decoration: underline;
        }
    }

    .icon--arrow-right {
        width: 18px;
        height: 18px;
        vertical-align: middle;
    }
}

.overlay-text--deep {
    line-height: 1.7;

    > span {
        padding: 5px;
    }
}
