/* =========================================================================
   Programmes
   ========================================================================= */

.programmes-list {
    @include mq(medium-minor) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 (-($spacingUnit / 2));
    }
}
.programmes-list__item {
    padding-bottom: $spacingUnit;

    @include mq(medium-minor) {
        flex: 0 0 50%;
        padding-left: $spacingUnit / 2;
        padding-right: $spacingUnit / 2;
    }
}

.programme-card {
    background-color: palette('pale-grey');
    padding: $spacingUnit / 2;

    @include mq(medium-minor) {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        height: 100%;
    }

    @include mq(large) {
        padding: $spacingUnit;
    }
}
.programme-card__header {
    display: flex;
    margin-bottom: $spacingUnit / 2;

    .programme-card__media {
        order: 1;
        flex: 0 0 50px;
        margin-right: $spacingUnit / 2;

        @include mq(medium) {
            flex: 0 0 80px;
            margin-right: $spacingUnit;
        }
    }

    .programme-card__title {
        order: 2;
        flex: 1 1 auto;
        margin-bottom: $spacingUnit / 2;

        @include mq(medium) {
            margin-top: 2px;
        }
    }
}
.programme-card__description {
    margin-bottom: $spacingUnit / 2;
}
.programme-card__details {
    dt {
        font-weight: bold;
        margin-bottom: 0;
    }

    dd {
        margin-bottom: 10px;
    }
}
