/* =========================================================================
   Quotes
   ========================================================================= */

@mixin quoteSymbol($type) {
    $symbol: '\201C';
    $align: bottom;
    @if $type == 'close' {
        $symbol: '\201D';
        $align: top;
    }
    content: $symbol;
    color: palette('pink');
    font-size: 45px;
    line-height: 1;
    vertical-align: $align;
}

// .pullquote { }
.pullquote__text {
    @include mq('tablet') {
        margin-bottom: $spacingUnit / 2;
    }

    p {
        font-style: italic;
        color: palette('blue');
        @include font-and-leading(16px, 22px);

        @include mq('tablet') {
            @include font-and-leading(20px, 27px);
        }

        @include mq('desktop') {
            @include font-and-leading(24px, 30px);
        }

        &:first-of-type {
            &:before {
                @include quoteSymbol('open');
            }
        }

        &:last-of-type {
            margin-bottom: 0;

            &:after {
                @include quoteSymbol('close');
            }
        }
    }
}
.pullquote__meta {
    @include mq('tablet', 'max') {
        margin-bottom: $spacingUnit / 2;
        margin-top: -15px;
    }
}
.pullquote__aside {
    font-style: normal;

    p {
        margin: 0;
    }
}
