/* =========================================================================
   Research
   ========================================================================= */

/* =========================================================================
   Research Section
   ========================================================================= */

.research-section {
    @include mq('medium-major') {
        display: flex;
    }
    .research-section__primary {
        font-size: 18px;
        max-width: $constrained;
        margin-bottom: $spacingUnit;

        @include mq('medium-major') {
            padding-right: $spacingUnit;
        }
    }
    .research-section__secondary {
        @include mq('medium-major') {
            flex: 0 0 32%;
        }
    }
    .research-section__prefix {
        font-size: 16px;
        font-style: italic;
        color: palette('charcoal-note');
        margin-bottom: 0;
    }
}

/* =========================================================================
   Document Summary
   ========================================================================= */

.document-summary {
    border-bottom: 1px solid palette('border');
    padding-bottom: $spacingUnit;
    margin-bottom: $spacingUnit;

    &:last-of-type {
        border: none;
        margin-bottom: 0;
    }

    .document-summary__link {
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0.3em;
    }

    .document-summary__contents {
        font-size: 16px;
        margin-bottom: 0;

        > li {
            margin: 0 0 0 1.5em;
            list-style-type: disc;
        }
    }
}
