/* =========================================================================
   Segments
   ========================================================================= */
.segment {
    margin-bottom: 40px;

    @include mq('medium', 'max') {
        background-color: palette('pale');
    }

    @include mq('medium') {
        display: flex;
    }
}
.segment__media {
    position: relative;
    height: 100%;

    @media print {
        position: static;
        height: auto;
        img {
            display: none;
        }
    }

    @include mq('medium', 'max') {
        padding: $spacingUnit;
        padding-bottom: 0;

        img {
            display: none;
        }
    }

    @include mq('medium') {
        width: 300px;
        margin-right: 12px;
        flex-shrink: 0;
    }
}
.segment__title {
    @include mq('medium') {
        position: absolute;
        top: 1em;
        left: 1em;
    }
}
.segment__aside {
    flex-grow: 1;
    padding: $spacingUnit;
    margin-top: 0;

    @include mq('medium') {
        @include bordered();
        background-color: palette('pale');
    }
}
