// /* =========================================================================
//    Micro-Surveys
//    ========================================================================= */

/**
 * iOS 11 has a bug where if an input is inside a position fixed element the
 * cursor will disapear off the screen when entering text. Why???
 * https://stackoverflow.com/questions/46339063/ios-11-safari-bootstrap-modal-text-area-outside-of-cursor/46954486#46954486
 * https://bugs.webkit.org/show_bug.cgi?id=176896
 */
body.is-ios-editing-survey {
    position: fixed;
    width: 100%;
}

.survey {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    transition: transform 300ms ease-in-out;
    transform: translateY(100%);

    &.is-shown {
        transform: translateY(0%);
    }

    .survey__form {
        color: white;
        background-color: #4a4a4a;
        max-width: 720px;
        margin: 0 auto;
        box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    }

    .survey__header {
        color: white;
        width: 100%;
        margin-bottom: 0;
        text-decoration: underline;
        cursor: pointer;
        display: block;
        padding: $spacingUnit / 2;
        position: relative;
    }
    .survey__arrow {
        width: 25px;
        display: inline-block;
        line-height: 0;
        vertical-align: middle;
        margin-left: 7px;

        svg {
            transition: all 0.3s ease-in-out;
            transform: rotate(180deg);
            height: 16px;
            width: 16px;

            @include on-interact() {
                path {
                    fill: palette('soft-grey');
                }
            }
        }
    }
    &:hover,
    &.is-active {
        .survey__arrow svg {
            transform: rotate(0deg);
        }
    }
    .survey__close-icon {
        $iconRadius: 25px;
        $iconOffset: 7px;
        position: absolute;
        right: $iconOffset;
        top: $iconOffset;
        z-index: 1;
        border-radius: 100%;
        border: 1px solid white;
        height: $iconRadius;
        width: $iconRadius;
        cursor: pointer;

        @include on-interact() {
            $highlight: palette('soft-grey');
            border-color: $highlight;
            svg {
                fill: $highlight;
            }
        }

        svg {
            fill: white;
            height: 100%;
            width: 100%;
        }
    }

    .survey__content {
        padding: $spacingUnit / 2;
        padding-top: 0;
    }

    .survey__btn {
        $bg: #747474;
        background-color: $bg;
        @include on-interact() {
            background-color: lighten($bg, 5%);
        }
    }

    .survey__btn--choice {
        margin-right: $spacingUnit / 2;
        &:last-child {
            margin-right: 0;
        }
    }

    .survey__extra {
        display: flex;
        align-items: flex-end;
    }
    .survey__extra-message,
    .survey__extra-submit {
        flex: 1 1 auto;
        margin-bottom: 0;
    }

    .survey__extra-message {
        padding-right: $spacingUnit / 2;
    }

    .survey__extra-submit {
        flex-grow: 0;
        margin-bottom: ($spacingUnit / 2); // fixes weird alignment issue
    }

    .survey__label {
        @include poppins();
        font-size: 18px;
        display: block;
        margin: $spacingUnit / 2 0;
    }

    .survey__textbox {
        padding: 5px;
        width: 100%;
        /* 16px minimum to avoid scaling on iOS */
        font-size: 16px;
        height: 100%;
        border-radius: 0;
    }

    .survey__response {
        color: palette('soft-grey');
        font-size: 14px;
        margin-bottom: 0;
    }
}
