/* =========================================================================
   Tabs
   ========================================================================= */

/* =========================================================================
   Tabs: Tabsets
   ========================================================================= */
// The tabs themselves (eq. square, blocky elements)

.tabset {
    background-color: palette('pale-grey');
    border-right: 1px solid palette('border');
    display: flex;
    flex-wrap: wrap;

    li.tabset__item {
        @include poppins();
        font-size: 16px;
        margin: 0;
        display: inline-block;
        border-left: 1px solid palette('border');
        border-width: 0 1px;
        flex: 1 1 auto;
    }

    .tab {
        color: palette('blue-text');
        display: block;
        font-weight: bold;
        padding: 12px 12px 14px;
        text-decoration: none;
        border-top: 4px solid transparent;
        border-bottom: 1px solid palette('border');
        white-space: nowrap;
        text-align: center;
    }

    .tab.tab--active {
        border-top-color: palette('pink');
        border-bottom-color: transparent;
        background-color: white;
        color: palette('pink');
    }
}

/**
 * Tabset display states
 */
.tabset {
    // hide main tabset for non-JS users
    // (they get the accordion)
    .no-js & {
        display: none !important;
    }

    // also hide tabset on mobile
    @include mq('tablet', 'max') {
        display: none !important;
    }

    // hide tabsets on print
    @media print {
        display: none !important;
    }
}

/* =========================================================================
   Tab Panes
   ========================================================================= */
// The tab content areas

.js-on .tab__pane {
    .tab__pane-content {
        display: none;
    }

    &.pane--active {
        > .tab__pane-content {
            display: block;
        }
    }

    @media print {
        .tab__pane-content {
            display: block !important;
        }
    }
}

/**
 * Accordion behaviour for small screens
 */
.tab__pane--accordion {
    @include mq('tablet') {
        .tab__pane-header {
            display: none;
        }
    }

    // accordion headers (also shown for non-JS users)
    .tab__pane-header {
        a {
            color: #ffffff;
            background-color: palette('blue');
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;

            display: block;
            margin-bottom: 2px;
            padding: $spacingUnit;

            @include mq(tablet) {
                padding-left: $spacingUnit * 2;
                padding-right: $spacingUnit * 2;
            }

            @media print {
                background-color: #eeeeee;
                color: #333333;
            }

            @include on-interact() {
                background-color: darken(palette('blue'), 10%);
            }
        }
    }
}
.js-on .tab__pane--accordion {
    .tab__pane-header {
        position: relative;

        .tab__arrow {
            pointer-events: none;
            width: 45px;
            height: 100%;
            position: absolute;
            top: 0;
            right: $spacingUnit;

            @include mq(tablet) {
                right: $spacingUnit * 2;
            }

            svg {
                height: 100%;
                width: 100%;
            }
        }
    }

    &.pane--active {
        > .tab__pane--accordion {
            a {
                background-color: #9e9e9e;
            }
            .tab__arrow {
                transform: rotate(180deg);
                //transition: transform 0.5s ease-in-out;
            }
        }
    }
}
