.tabs {
    display: none;

    .js-on & {
        display: block;
    }

    li {
        font-family: 'Poppins', arial, sans-serif;
        font-size: 16px;
        margin: 0;
        display: inline-block;
    }

    a {
        color: #000000;
        display: block;
        padding: $spacingUnit / 2 $spacingUnit;
        text-decoration: none;
    }

    .tab--active {
        font-weight: 600;
        border-bottom: 4px solid palette('pink');
        a {
            color: palette('pink');
        }
    }
}

.tab-pane--carousel {

    .tab-fallback-title {
        a {
            display: block;
            background-color: palette('blue');
            padding: 10px 20px;
            color: #ffffff;
            text-decoration: none;
        }
    }
}

// mobile: carousel
@include mq('tablet', 'max') {

    .js-on {
        .tabs--carousel {
            &.tabs {
                display: none;
            }
        }
        .tab-pane--carousel {
            &.tab-pane > article {
                display: none;
            }
            &.tab-pane--active > article {
                display: block;
            }
        }

        .tab-pane > article {
            display: none;
        }
        .tab-pane--active > article {
            display: block;
        }
    }

}

// desktop: tab panes
@include mq('tablet') {

    .no-js {
        .tab-fallback-title {
            display: block;
        }
    }

    .tab-fallback-title {
        display: none;
    }

    .js-on {

        // show/hide tab panes
        .tab-pane {
            display: none;
            margin-top: 0;

            &.tab-pane--active {
                display: block;
            }
        }

    }
}

