{% from "components/icons.njk" import iconArrowRight %}

{% macro startButton(url, label = 'Start') %}
    <div class="start-button">
        <a class="btn" href="{{ url }}">
            {{ label }}
            <span class="u-icon-inline-right">
                {{ iconArrowRight('small') }}
            </span>
        </a>
    </div>
{% endmacro %}
