{% macro formHeader(title, prefix = null, suffix = null, backUrl = null) %}
    <div class="form-header">
        {% if backUrl %}
            <div class="form-header__actions">
                <a href="{{ backUrl }}" class="js-application-form-review-link">
                    ← {{ __('global.misc.back') | capitalize }}
                </a>
            </div>
        {% endif %}
        {% if prefix %}
            <p class="form-header__prefix">{{ prefix }}</p>
        {% endif %}
        <h1 class="t2 form-header__title u-tone-brand-primary">{{ title }}</h1>
        {% if suffix %}
            <p class="form-header__suffix">{{ suffix }}</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro formHeaderWithData(formTitle, projectName) %}
    <div class="form-header u-tone-background-tint u-padded u-flush">
        <p class="form-header__suffix u-no-margin">{{ formTitle }}</p>
        <p class="t2 form-header__title u-no-margin">{{ projectName or "Untitled Application" }}</p>
    </div>
{% endmacro %}
