{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/user-status/macro.njk" import userStatus with context %}

{% set title = 'Activate' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}
            {{ userStatus(user) }}

            <h1 class="t--underline">{{ title }}</h1>

            <div class="message" role="alert">
                Your activation link was invalid or has expired. <a href="/user/activate">Please try again</a>.
            </div>
        </div>
    </main>
{% endblock %}
