{% extends "layouts/main.njk" %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% macro resendButton() %}
    <form action="" method="POST">
        <input type="submit" class="btn" value="{{ copy.resendLabel }}" />
    </form>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            {{ userNavigation(userNavigationLinks) }}

            {% if not tokenError and resendSuccessful %}
                <div class="message" role="alert">
                    {{ copy.resendMessage | safe }}
                </div>
            {% endif %}

            <h1 class="t--underline">{{ title }}</h1>

            <div class="s-prose u-constrained-wide">
                {% if tokenError %}
                    <p>{{ copy.errorMessage }}</p>
                    <p>{{ resendButton() }}</p>
                {% else %}
                    {{ __(copy.introduction, user.userData.username) | safe }}

                    <h2>{{ copy.notReceived.title }}</h2>
                    {{ __(copy.notReceived.body, localify('/user/update-email')) | safe }}
                    <p>{{ resendButton() }}</p>

                    <h2>{{ copy.contact.title }}</h2>
                    {{ __(copy.contact.body, localify('/contact')) | safe }}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
