{% from "components/section-links/macro.njk" import sectionLinks %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% extends "layouts/main.njk" %}

{% set title = 'Your account' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <h1>{{ title }}</h1>

            {% if user %}

                {% if user.userType === 'user' %}

                    {% if alertMessage %}
                        <div class="message" role="alert">
                            {{ alertMessage }}
                        </div>
                    {% endif %}

                    {% if not user.userData.is_active %}
                        <div class="message" role="alert">
                            <p>You haven't activated your account yet.</p>
                            <p>Would you like to <a href="/user/activate">re-send your activation link</a>?</p>
                        </div>
                    {% endif %}

                    <p>Logged in as <strong>{{ user.userData.username }}</strong></p>

                    <div class="u-margin-bottom">
                        {{ sectionLinks([
                            {
                                "label": "Change your password",
                                "href": "/user/password/reset"
                            },
                            {
                                "label": "Change your email address",
                                "href": "/user/update-email"
                            },
                            {
                                "label": "View your funding applications",
                                "href": "/apply-next/simple"
                            }
                        ]) }}
                    </div>


                {% elseif user.userType === 'staff' %}
                    <p>Staff: logged in as <strong>{{ user.userData.fullName }}</strong></p>
                {% endif %}

                <p><a class="btn btn--small" href="/user/logout" data-testid="logout-button">Log out?</a></p>
            {% else %}
                <p>You don't have a user account yet &ndash; please <a href="{{ localify('/user/register') }}">create one</a>, or log in to an existing account below.</p>
                <p><a class="btn btn--small" href="{{ localify('/user/login') }}">Log in</a></p>
            {% endif %}
        </div>
    </main>
{% endblock %}
