{% extends "layouts/main.njk" %}
{% from "components/section-links/macro.njk" import sectionLinks %}
{% from "components/user-status/macro.njk" import userStatus with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            {{ userNavigation(links = [
                {
                    "url": '/apply/awards-for-all',
                    "label": 'Applications dashboard'
                }
            ]) }}


            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <h1 class="t--underline">{{ title }}</h1>

                    {% if alertMessage %}
                        <div class="message" role="alert">
                            {{ alertMessage }}
                        </div>
                    {% endif %}

                    <div class="u-margin-bottom">
                        {{ sectionLinks(copy.sectionLinks) }}
                    </div>
                </div>

                {% if enableAwardsForAllApplications %}
                    <div class="content-sidebar__secondary content-sidebar__secondary--major">
                        <div class="u-padded u-tone-background-tint">
                            <h2>Start an application for<br /> National Lottery Awards for All</h2>
                            <p>A quick and simple way to get small National Lottery grants of between £300 and £10,000</p>
                            <p><a class="btn btn--outline btn--small" href="/apply/awards-for-all">Start a new application</a></p>
                        </div>
                    </div>
                {% endif %}
            </div>

        </div>
    </main>
{% endblock %}
