{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {% if user %}
                {{ userNavigation(userNavigationLinks) }}
            {% else %}
                <p class="u-margin-bottom-s">
                    <a href="../">← {{ __('global.misc.back') | capitalize }}</a>
                </p>
            {% endif %}

            <h1 class="t--underline">{{ title }}</h1>

            {% if passwordWasJustReset %}
                <div class="u-constrained s-prose">
                    <p>Password reset requested. If the email address entered is correct you will receive instructions via email.</p>
                </div>
            {% else %}
                <form action="" method="post" autocomplete="off">
                    {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}


                    {{ formField({
                        type: 'email',
                        name: 'username',
                        label: 'Email address',
                        explanation: 'Enter the email address associated with your account.',
                        isRequired: true,
                        value: formValues['username']
                    }, errors = errors) }}

                    <div class="form-actions">
                        <input type="submit" class="btn" value="Reset password" />
                    </div>

                    <p><small>Already reset your password? <a href="{{ localify('/user/login') }}">Log in</a></small></p>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}
