{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {% if user %}
                {{ userNavigation(userNavigationLinks) }}
            {% else %}
                <p class="u-margin-bottom-s">
                    <a href="../">← {{ __('global.misc.back') | capitalize }}</a>
                </p>
            {% endif %}

            <h1 class="t--underline">{{ title }}</h1>

            {% if passwordWasJustReset %}
                <div class="u-constrained s-prose">
                    <p>{{ copy.resetConfirmation }}</p>
                </div>
            {% else %}
                <form action="" method="post" autocomplete="off">
                    {{ formErrors(errors = errors, title = __('global.misc.errorTitle')) }}

                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}

                    {{ formField({
                        type: 'email',
                        name: 'username',
                        label: __('user.common.emailAddress'),
                        explanation: copy.emailExplanation,
                        isRequired: true,
                        value: formValues['username']
                    }, errors = errors) }}

                    <div class="form-actions">
                        <input type="submit" class="btn" value="{{ copy.callToAction }}" />
                    </div>

                    <p><small>{{ __('user.forgottenPassword.loginLink', localify('/user/login')) | safe }}</small></p>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}
