{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{% set title = 'Forgotten your password?' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <h1 class="t--underline">{{ title }}</h1>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage | safe }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}
                

                {{ formField({
                    type: 'email',
                    name: 'username',
                    label: 'Email address',
                    explanation: 'Enter the email address associated with your account.',
                    isRequired: true,
                    value: formValues['username']
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Request password reset" />
                </div>

                <p><small>Already reset your password? <a href="{{ localify('/user/login') }}">Log in</a></small></p>
            </form>
        </div>
    </main>
{% endblock %}
