<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Redirecting</title>
    <meta http-equiv="refresh" content="2;url={{ redirectUrl }}" />
    <style>
        body { color: #333; font-size: 18px; font-family: sans-serif; }
    </style>
</head>
<body>
    <p><strong>Please wait, redirecting…</strong></p>
    <p>If you are not redirected automatically, please use <a href="{{ redirectUrl }}">this link</a>.</p>
</body>
</html>
