{% extends "layouts/main.njk" %}
{% from "components/form-fields.njk" import formErrors, formField with context %}

{% set title = 'Log in' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>{{ title }}</h1>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                {{ formField({
                    type: 'email',
                    name: 'username',
                    label: 'Email address',
                    isRequired: true,
                    value: formValues['username']
                }, errors = errors) }}

                {{ formField({
                    type: 'password',
                    name: 'password',
                    label: 'Password',
                    isRequired: true
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Log in" />
                    or <a href="/user/register">register</a>
                </div>

                <p><small><a href="/user/forgotten-password">Forgotten your password?</a></small></p>
            </form>
        </div>
    </main>
{% endblock %}

