{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/form-fields-next/macros.njk" import formErrors, formField with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <h1 class="t--underline">{{ title }}</h1>
     
            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage }}
                </div>
            {% endif %}
     
            <form action="" method="post" autocomplete="off">
                <div class="s-prose u-constrained-wide">
                    {{ copy.introduction | safe }}
                </div>

                {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                {{ formField({
                    type: 'email',
                    name: 'username',
                    label: 'Email address',
                    isRequired: true,
                    value: formValues['username']
                }, errors = errors) }}

                {{ formField({
                    type: 'password',
                    name: 'password',
                    label: 'Password',
                    isRequired: true
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Log in" />
                    or <a href="/user/register">register</a>
                </div>

                <p><small><a href="/user/password/forgot">Forgotten your password?</a></small></p>
            </form>
        </div>
    </main>
{% endblock %}

