{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% set copy = __('user.login') %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">


            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <h1 class="t--underline">{{ title }}</h1>

                    {% if alertMessage %}
                        <div class="message" role="alert">
                            {{ alertMessage }}
                        </div>
                    {% endif %}

                    <form action="" method="post" novalidate>
                        <div class="s-prose u-constrained-wide">
                            {{ copy.introduction | safe }}
                        </div>

                        {{ formErrors(
                            title = __('global.misc.errorTitle'),
                            errors = errors
                        ) }}

                        {% if csrfToken %}
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        {% endif %}

                        {{ formField({
                            type: 'email',
                            name: 'username',
                            label: __('user.common.emailAddress'),
                            isRequired: true,
                            value: formValues['username']
                        }, errors = errors) }}

                        {{ formField({
                            type: 'password',
                            name: 'password',
                            label: __('user.common.password'),
                            isRequired: true
                        }, errors = errors) }}

                        <p>
                            <small>
                                <a href="{{ localify('/user/password/forgot') }}">
                                    {{ copy.forgottenPasswordPrompt }}
                                </a>
                            </small>
                        </p>

                        <div class="form-actions">
                            <input type="submit" class="btn" value="{{ copy.actionLabel }}" />
                        </div>

                    </form>

                </div>

                <div class="content-sidebar__secondary">
                    <div class="u-tone-background-tint u-padded u-margin-top-l">
                        <h3>{{ copy.registerPrompt.title }}</h3>
                        <p>{{ copy.registerPrompt.body }}</p>
                        <a class="btn btn--small btn--outline u-block" href="{{ localify('/user/register') }}">{{ copy.registerLabel }}</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

