{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% set copy = __('user.register') %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <h1 class="t--underline">{{ title }}</h1>
                    <p>All our applications have moved to a new system, you can find them <a href="https://account.tnlcommunityfund.org.uk/">here</a></p>
                    <p>Please register an account on the new system</p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
