{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% set copy = __('user.register') %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <h1 class="t--underline">{{ title }}</h1>
                    <p>{{ copy.newSystemText }}</p>
                    <a href="https://account.tnlcommunityfund.org.uk/Account/Register">{{ copy.newSystemLinkText }}</a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}
