{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/form-fields-next/macros.njk" import formErrors, formField with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <h1 class="t--underline">{{ title }}</h1>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage | safe }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(
                    title = __('global.misc.errorTitle'),
                    errors = errors
                ) }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                {{ formField({
                    type: 'email',
                    name: 'username',
                    label: __('user.common.emailAddress'),
                    isRequired: true,
                    value: formValues['username']
                }, errors = errors) }}

                {{ formField({
                    type: 'password',
                    name: 'password',
                    label: __('user.common.password'),
                    explanation: __('user.common.passwordRequirements'),
                    isRequired: true,
                    value: formValues['password']
                }, errors = errors) }}

                {{ formField({
                    type: 'password',
                    name: 'passwordConfirmation',
                    label: 'Password confirmation',
                    explanation: 'Re-type your password',
                    isRequired: true,
                    value: formValues['passwordConfirmation']
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="{{ copy.actionLabel }}" />
                    {{ __('global.misc.or') }}
                    <a href="{{ localify('/user/login') }}">{{ copy.loginLabel }}</a>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
