{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "./user-helpers.njk" import userInfoPanel %}

{% extends "layouts/main.njk" %}

{% set title = 'Reset password' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <h1>{{ title }}</h1>
            {{ userInfoPanel(user) }}

            <div class="message" role="alert">
                Your password reset link was invalid or has expired. <a href="/user/password/forgot">Please try again</a>.
            </div>
        </div>
    </main>
{% endblock %}
