{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{% set title = 'Reset your password' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>{{ title }}</h1>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage | safe }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                <input type="hidden" name="token" value="{{ token }}">

                {{ formField({
                    type: 'password',
                    name: 'password',
                    label: 'Your new password',
                    isRequired: true
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Reset password" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}
