{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}
{% from "components/user-status/macro.njk" import userStatus with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {% if user %}
                {{ userNavigation(userNavigationLinks) }}
                {{ userStatus(user) }}
            {% endif %}

            <h1 class="t--underline">{{ title }}</h1>

            <div class="s-prose u-constrained-wide">
                {{ copy.introduction | safe }}
            </div>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage | safe }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(errors = errors, title = __('global.misc.errorTitle')) }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                {% if token %}
                    <input type="hidden" name="token" value="{{ token }}">
                {% endif %}

                {% if user %}
                    {{ formField({
                        type: 'password',
                        name: 'oldPassword',
                        label: 'Your old password',
                        isRequired: true
                    }, errors = errors) }}
                {% endif %}

                {{ formField({
                    type: 'password',
                    name: 'password',
                    label: 'Your new password',
                    explanation: __('user.common.passwordRequirements'),
                    isRequired: true
                }, errors = errors) }}

                {{ formField({
                    type: 'password',
                    name: 'passwordConfirmation',
                    label: 'Password confirmation',
                    explanation: 'Re-type your password',
                    isRequired: true
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Reset password" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}
