{% extends "controllers/tools/views/layout.njk" %}
{% from "./user-helpers.njk" import listErrors with context %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <h1>Reset password</h1>
    <div class="alert alert-info" role="alert">
        Your password reset link was invalid or has expired. <a href="/user/forgotten-password">Please try again</a>.
    </div>
{% endblock %}
