{% extends "controllers/tools/views/layout.njk" %}
{% from "./user-helpers.njk" import listErrors with context %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    {% if alertMessage %}
        <div class="alert alert-info" role="alert">
            {{ alertMessage | safe }}
        </div>
    {% endif %}

    <h1>Reset your password</h1>

    <form action="" method="post" autocomplete="off">
        {{ listErrors(errors) }}

        <input type="hidden" name="token" value="{{ token }}">
        <div class="form-group">
            <label for="password">Your new password</label>
            <input type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    required
                    aria-required="true">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Reset password" />
        </div>
    </form>
{% endblock %}
