{% extends "layouts/main.njk" %}

{% set title = 'Reset password' %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1>{{ title }}</h1>
            <div class="message" role="alert">
                Your password reset link was invalid or has expired. <a href="/user/forgotten-password">Please try again</a>.
            </div>
        </div>
    </main>
{% endblock %}
