{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}
{% from "components/user-navigation/macro.njk" import formNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            {{ formNavigation(links = [
                {
                    "url": '/apply/awards-for-all',
                    "label": 'Applications dashboard'
                }
            ]) }}

            <h1 class="t--underline">{{ title }}</h1>

            <div class="s-prose u-constrained-wide">
                {{ copy.introduction | safe }}
            </div>

            {% if alertMessage %}
                <div class="message" role="alert">
                    {{ alertMessage }}
                </div>
            {% endif %}

            <form action="" method="post" autocomplete="off">
                {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                {{ formField({
                    type: 'email',
                    name: 'username',
                    label: 'Email address',
                    isRequired: true,
                    value: formValues['username']
                }, errors = errors) }}

                <div class="form-actions">
                    <input type="submit" class="btn" value="Update email address" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}
