/* =========================================================================
   Base & Element level Styles
   ========================================================================= */

[v-cloak] {
    display: none;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* =========================================================================
   Typography
   ========================================================================= */

body {
    font-family: font-stack('body', 'fallback');
}

body,
input,
select,
textarea,
button {
    color: get-color('text', 'base');
    font-family: font-stack('body');
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-stack('display');
    font-weight: font-weight('display', 'bold');
    line-height: 1.2;
    margin: 0 0 20px 0;
}

h1 {
    font-size: font-scale('display', 't1');
}
h2 {
    font-size: font-scale('display', 't2');
}
h3 {
    font-size: font-scale('display', 't3');
}
h4 {
    font-size: font-scale('display', 't4');
}
h5 {
    font-size: font-scale('display', 't5');
}
h6 {
    font-size: font-scale('display', 't6');
}

/**
 * Typography utility classes
 * Force specific typographic styles
 */
.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
    font-family: font-stack('display') !important;
    font-weight: font-weight('display', 'bold') !important;
    line-height: 1.2;
}

.t1 {
    font-size: font-scale('display', 't1') !important;
}
.t2 {
    font-size: font-scale('display', 't2') !important;
}
.t3 {
    font-size: font-scale('display', 't3') !important;
}
.t4 {
    font-size: font-scale('display', 't4') !important;
}
.t5 {
    font-size: font-scale('display', 't5') !important;
}
.t6 {
    font-size: font-scale('display', 't6') !important;
}

/**
 * Modifier class which adds a border below the text
 */
.t--underline:after {
    @include underlined();
}

/* =========================================================================
   Grouping content
   https://w3c.github.io/html/grouping-content
   ========================================================================= */

strong,
b {
    font-weight: font-weight('body', 'bold');
}

ul,
ol,
li,
dl,
dt,
dd,
p {
    padding: 0;
    margin: 0;
}

ol,
ul,
li {
    list-style-type: none;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 1em;
}

a {
    color: get-color('links', 'base');

    @include on-interact {
        text-decoration: underline;
        color: get-color('links', 'hover');
    }
}

blockquote {
    margin: 0 0 $spacingUnit 0;
    font-style: italic;

    cite {
        font-style: normal;
    }
}

summary {
    text-decoration: underline;
}
details[open] summary {
    margin-bottom: 0.5em;
}

code,
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    font-family: Hack, Consolas, monospace;
    border-radius: 2px;
}

code {
    padding: 0 6px;
    background-color: #eee;
}

pre {
    padding: 1em;
    font-size: 14px;
    max-height: 25em;
    color: #fff;
    background-color: #333;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
}

/*  =========================================================================
    Embedded content
    http://developers.whatwg.org/embedded-content-1
    ========================================================================= */

img,
picture,
embed,
object,
video {
    /* Remove border when inside `a` element in IE 8/9 */
    display: block;
    border: 0;
    max-width: 100%;
}

/* Fluid images if you omit the `width` attribute. */
img:not([width]) {
    width: 100%;
}

figure {
    margin: 0 0 1em 0;
}

iframe {
    border: none;
}

/* =========================================================================
   Form Defaults
   https://w3c.github.io/html/sec-forms.html
   ========================================================================= */

legend {
    padding: 0;
    display: table;
    width: 100%;
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

[type='text'],
[type='email'],
[type='search'] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0; // Normalise border-radius, notably for iOS.
}

[type='search']::-webkit-search-decoration,
[type='search']::-webkit-search-cancel-button {
    display: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    appearance: button;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

select {
    max-width: 100%;
}
