{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content.njk" import flexibleContent %}
{% from "components/inline-links/macro.njk" import inlineLinks %}
{% from "components/hero.njk" import hero with context %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/card/macro.njk" import card %}
{% from "components/split-nav/macro.njk" import splitNav %}
{% from "components/card/macro.njk" import card %}
{% from "components/icons.njk" import iconFacebook, iconTwitter %}
{% from "components/programmes.njk" import relatedProgrammes with context %}

{% extends "layouts/main.njk" %}

{% macro articleMeta(entry) %}

    {% set aboutTitle = copy.author.plural  if entry.authors.length > 1  else copy.author.singular %}
    {% call card(aboutTitle) %}
        {% for author in entry.authors -%}
            <aside class="o-media">
                {% if author.photo %}
                    <img src="{{ author.photo }}"
                         alt="{{ author.title }}"
                         class="o-media__figure"
                         width="60"/>
                {% endif %}
                <div class="o-media__body">
                    <p class="u-no-margin"><strong>{{ author.title }}</strong></p>
                    {% if author.authorTitle %}
                        <p>
                            {{ author.authorTitle }}
                            {% if author.shortBiography %}
                                <br>
                                {{ author.shortBiography}}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </aside>
            <p class="u-margin-top-s"><a href="{{ localify('/news/blog?author=' + author.slug) }}">{{ copy.author.seeAllPosts }}</a></p>
        {% endfor %}
    {% endcall %}

    {% call card(copy.blogpost.aboutThisBlogPost) %}

        <p class="u-margin-bottom-s">
            <strong>{{ copy.datePublished }}:</strong>
            <time datetime="{{ entry.postDate.date }}">
                {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
            </time>
        </p>

        {% if entry.thumbnail %}
            <img src="{{ entry.thumbnail.small }}"
                 alt="{{ entry.title }}"
                 class="u-margin-bottom" />
        {% endif %}

        <ul class="tags-list">
            <li class="tag">
                <a href="{{ localify('/news/blog/?category=' + entry.category.slug) }}">
                    {{ entry.category.title }}
                </a>
            </li>
            {% for tag in entry.tags %}
                <li class="tag tag--secondary">
                    <a href="{{ localify('/news/blog?tag=' + tag.slug) }}">
                        {{ tag.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endcall %}


{% endmacro %}

{% block content %}
    {% set pageAccent = 'pink' %}

    <main role="main">

        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="content-sidebar">
                    <div class="content-sidebar__primary s-prose">
                        {% if entry.body %}
                            <div class="s-prose">
                                {{ entry.body | safe }}
                            </div>
                        {% else %}
                            {{ flexibleContent(entry.content, pageAccent) }}
                        {% endif %}
                    </div>

                    <div class="content-sidebar__secondary">
                        {{ articleMeta(entry) }}
                    </div>
                </div>

                {% if entry.tags.length > 0 %}
                    <aside class="article__topics" role="aside">
                        {% set links = [] %}
                        {% for tag in entry.tags %}
                            {% set links = (links.push({ "label": tag.title, "url": localify('/news/blog?tag=' + tag.slug) }), links) %}
                        {% endfor %}
                        {{ inlineLinks(prefix = __('global.misc.topics') | title, links = links) }}
                    </aside>
                {% endif %}

                <div class="o-button-group-flex u-gutter-half u-margin-top">
                    <a class="btn btn--small btn--outline accent--{{ pageAccent }}"
                       href="https://www.facebook.com/sharer.php?u={{ getCurrentAbsoluteUrl() }}"
                       data-ga-on="click"
                       data-ga-event-category="Facebook"
                       data-ga-event-action="Share blogpost">
                        <span class="btn__icon">{{ iconFacebook() }}</span>
                        {{ __('global.misc.share.facebook') }}
                    </a>
                    <a class="btn btn--small btn--outline accent--{{ pageAccent }}"
                       href="https://twitter.com/intent/tweet?url={{ getCurrentAbsoluteUrl() }}&text={{ entry.title }}&via={{ globalCopy.brand.twitter }}"
                       data-ga-on="click"
                       data-ga-event-category="Twitter"
                       data-ga-event-action="Share blogpost">
                        <span class="btn__icon">{{ iconTwitter() }}</span>
                        {{ __('global.misc.share.twitter')  }}
                    </a>
                </div>

                {{ relatedProgrammes(entry.relatedFundingProgrammes) }}

                {% if entry.siblings.next or entry.siblings.prev %}
                    {% set prevLink = {
                        "label": entry.siblings.prev.title,
                        "url": entry.siblings.prev.linkUrl
                    } if entry.siblings.prev else false %}
                    {% set nextLink = {
                        "label": entry.siblings.next.title,
                        "url": entry.siblings.next.linkUrl
                    } if entry.siblings.next else false %}

                    <div class="u-margin-top-l">
                        {{ splitNav(
                            prevLink = prevLink,
                            nextLink = nextLink
                        ) }}
                    </div>
                {% endif %}

            </section>
        </div>
    </main>
{% endblock %}
