{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/card/macro.njk" import card %}
{% from "components/document-list/macro.njk" import documentList %}
{% from "components/flexible-content/macro.njk" import flexibleContent %}
{% from "components/inline-links/macro.njk" import inlineLinks %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/programmes.njk" import relatedProgrammes with context %}

{% from "../view-helpers.njk" import entryRegions with context %}

{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% macro entryMeta(entry) %}
    <dl class="o-definition-list o-definition-list--compact">
        {% if entry.postDate %}
            <dt>{{ copy.datePublished }}</dt>
            <dd>
                <time datetime="{{ entry.postDate.date }}">
                    {{ formatDate(entry.postDate.date, DATE_FORMATS.short) }}
                </time>
            </dd>
        {% endif %}
        {% if entry.regions.length > 0 %}
            <dt>{{ copy.pressRelease.region }}</dt>
            <dd>{{ entryRegions(entry.regions, '../') }}</dd>
        {% endif %}
    </dl>
{% endmacro %}

{% block content %}
    <main role="main">
        {{ pageTitle(title) }}
    
        <section class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="content-sidebar">
                <div class="content-sidebar__primary s-prose">
                    {% if entry.body %}
                        {{ entry.body | safe }}
                    {% else %}
                        {{ flexibleContent(entry.content) }}
                    {% endif %}

                    {% if entry.documentGroups.length > 0 %}
                        <section class="content-box">
                            {% for group in entry.documentGroups  %}
                                <h3 class="t2 t--underline">{{ group.title }}</h3>
                                {{ documentList(group.files) }}
                                <div class="s-prose">
                                    {{ group.extraContent | safe }}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}

                    <div class="content-meta">
                        {{ entryMeta(entry) }}
                    </div>

                    {% if entry.notesToEditors %}
                        <aside class="u-tone-background-tint u-padded u-text-medium" id="notes">
                            <h3 class="u-tone-brand-primary">{{ copy.pressRelease.notesToEditors }}</h3>
                            {{ entry.notesToEditors | safe }}
                        </aside>
                    {% endif %}

                    {{ relatedProgrammes(entry.relatedFundingProgrammes) }}
                </div>

                <div class="content-sidebar__secondary">
                    {% call card(copy.pressRelease.aboutThisPressRelease) %}
                        <div class="s-prose u-text-small u-wrap-links">
                            {{ entryMeta(entry) }}
                            {% if entry.notesToEditors %}
                                <p><a href="#notes">{{ copy.pressRelease.notesToEditors }}</a></p>
                            {% endif %}
                        </div>
                    {% endcall %}

                    {% if entry.contacts %}
                        {% call card(copy.pressRelease.contacts) %}
                            <div class="s-prose u-text-small u-wrap-links">
                                {{ entry.contacts | safe }}
                            </div>
                        {% endcall %}
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
