{% extends "layouts/main.njk" %}

{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/card/macro.njk" import card %}
{% from "components/document-list/macro.njk" import documentList %}
{% from "components/programmes.njk" import relatedProgrammes with context %}
{% from "../view-helpers.njk" import entryRegions with context %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/flexible-content/macro.njk" import flexibleContent with context %}

{% set copy = __('news') %}
{% set bodyClass = 'has-static-header' %}

{% macro entryMeta(content) %}
    <dl class="o-definition-list o-definition-list--compact">
        {% if content.postDate %}
            <dt>{{ copy.datePublished }}</dt>
            <dd>
                <time datetime="{{ content.postDate.date }}">
                    {{ formatDate(content.postDate.date) }}
                </time>
            </dd>
        {% endif %}
        {% if content.regions.length > 0 %}
            <dt>{{ copy.pressRelease.region }}</dt>
            <dd>{{ entryRegions(content.regions, '../') }}</dd>
        {% endif %}
    </dl>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        {{ pageTitle(title) }}

        <section class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    {# CMS content #}
                    {{
                        flexibleContent(
                            flexibleContent = content.flexibleContent,
                            distinguishBlocks = false
                        )
                    }}


                    {% if content.documentGroups.length > 0 %}
                        <section class="content-box">
                            {% for group in content.documentGroups  %}
                                <h3 class="t2 t--underline">{{ group.title }}</h3>
                                {{ documentList(group.files) }}
                                <div class="s-prose">
                                    {{ group.extraContent | safe }}
                                </div>
                            {% endfor %}
                        </section>
                    {% endif %}

                    <div class="content-meta">
                        {{ entryMeta(content) }}
                    </div>

                    {% if content.notesToEditors %}
                        <aside class="u-tone-background-tint u-padded u-text-medium" id="notes">
                            <h3 class="u-tone-brand-primary">{{ copy.pressRelease.notesToEditors }}</h3>
                            {{ content.notesToEditors | safe }}
                        </aside>
                    {% endif %}

                    {{ relatedProgrammes(content.relatedFundingProgrammes) }}

                </div>

                <div class="content-sidebar__secondary">
                    {% call card(copy.pressRelease.aboutThisPressRelease) %}
                        <div class="s-prose u-text-small u-wrap-links">
                            {{ entryMeta(content) }}
                            {% if content.notesToEditors %}
                                <p><a href="#notes">{{ copy.pressRelease.notesToEditors }}</a></p>
                            {% endif %}
                        </div>
                    {% endcall %}

                    {% if content.contacts %}
                        {% call card(copy.pressRelease.contacts) %}
                            <div class="s-prose u-text-small u-wrap-links">
                                {{ content.contacts | safe }}
                            </div>
                        {% endcall %}
                    {% endif %}
                </div>
            </div>

        </section>
    </main>
{% endblock %}
