{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/icons.njk" import iconTick %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/form-fields/macros.njk" import formErrors with context %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}
                <div class="s-prose u-constrained-wide">
                    <p><strong>{{ copy.assistance.intro }}</strong></p>

                    {{ copy.assistance.body | safe }}

                    {% if status === 'SUBMISSION_SUCCESS' %}
                        <div class="submission-message u-tone-background-pale-grey u-padded">
                            <div class="submission-message__icon">
                                {{ iconTick() }}
                            </div>
                            <div class="submission-message__text">
                                <p><strong>{{ copy.assistance.submission.success.title }}</strong></p>
                                <p>{{ copy.assistance.submission.success.message }}</p>
                            </div>
                        </div>
                    {% else %}
                        {% if status === 'SUBMISSION_ERROR' %}
                            <div class="message" role="alert">
                                {{ copy.assistance.submission.error.message }}
                            </div>
                        {% endif %}

                        <form class="u-tone-background-pale-grey u-padded" method="post" action="">
                            {{ formErrors(errors) }}

                            <label for="email" class="ff-label">
                                {{ copy.assistance.submission.emailAddress }}
                            </label>

                            <p class="ff-help">
                                {{ copy.assistance.submission.explanation }}
                            </p>

                            <div class="form-field-addon u-constrained">
                                <input class="form-field-addon__input"
                                    id="email"
                                    type="email"
                                    name="email"
                                    placeholder="your.email@example.com"
                                />
                                <input class="form-field-addon__action"
                                    type="submit"
                                    value="{{ copy.assistance.submission.proceedLabel }}"
                                />
                            </div>
                        </form>
                    {% endif %}

                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>{{ copy.assistance.helpAndSupport.title }}</h2>
                    <p>{{ copy.assistance.helpAndSupport.intro }}</p>
                    <ul>
                        {% for link in copy.assistance.helpAndSupport.links %}
                            <li><a href="{{ link.url }}">
                                {{ link.title }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>{{ copy.wayfinding.title }}</h2>
                    <p><a href="{{ localify('/funding/programmes/digital-fund/strand-1') }}"
                        class="btn btn--medium accent--blue a--btn">
                        {{ copy.wayfinding.strand1 }}
                    </a></p>
                    <p><a href="{{ localify('/funding/programmes/digital-fund/strand-2') }}"
                        class="btn btn--medium accent--cyan a--btn">
                        {{ copy.wayfinding.strand2 }}
                    </a></p>
                    <p>{{ copy.wayfinding.otherProgrammes | safe }}</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
