{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-wide">
                    <p>{{ copy.eligibilityChecker.introduction }}</p>

                    <p><strong>{{ strandCopy.question }}</strong></p>
                    <div class="o-button-group u-margin-bottom">
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn"
                           href="{{ yesUrl }}">
                            {{ __('global.misc.yes') }}
                        </a>
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn"
                           href="{{ noUrl }}">
                            {{ __('global.misc.no') }}
                        </a>
                    </div>

                    <details class="u-margin-bottom-l">
                        <summary>{{ copy.eligibilityChecker.unsureTitle }}</summary>
                        <div class="u-tone-background-tint u-padded">
                            <div class="s-prose">
                                <p>{{ strandCopy.eligibilitySummary.introduction }}</p>
                                <ul>
                                    {% for item in strandCopy.eligibilitySummary.criteria %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </details>

                    <hr>

                     {% for faq in copy.eligibilityChecker.faqs %}
                        <p><strong>{{ faq.question }}</strong></p>
                        <p>{{ faq.answer }}</p>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
