{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/print-button/macro.njk" import printButton %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-content-wide">
                    {{ copy.fullEligiblity.introduction | safe }}
                    <p>{{ printButton(label = __('global.misc.printThisPage')) }}</p>
                </div>

                {{ segmentLinks([{
                    "title": copy.successFactors.title
                }, {
                    "title": copy.eligibility.title
                }, {
                    "title": copy.spending.title
                }] )}}
            </section>

            {% call contentBox(pageAccent, id="segment-1") %}
                <h2>{{ copy.successFactors.title }}</h2>

                <p>{{ copy.strand1.introduction }}</p>
                {{ copy.successFactors.strand1 | safe  }}

                <p><a href="{{ localify('/funding/programmes/digital-fund/strand-1') }}"
                    class="btn btn--medium accent--{{ pageAccent }} a--btn u-margin-bottom">
                    {{ copy.strand1.startApplying }}
                </a></p>

                <p>{{ copy.strand2.introduction }}</p>
                {{ copy.successFactors.strand2 | safe  }}

                <p><a href="{{ localify('/funding/programmes/digital-fund/strand-2') }}"
                    class="btn btn--medium accent--{{ pageAccent }} a--btn u-margin-bottom">
                    {{ copy.strand2.startApplying }}
                </a></p>

                {{ copy.successFactors.equalities | safe }}
            {% endcall %}

            {% call contentBox(pageAccent, id = "segment-2") %}
                <h2>{{ copy.eligibility.title }}</h2>

                <p><strong>{{ copy.eligibility.commonCriteria.summary }}</strong></p>
                {{ copy.eligibility.commonCriteria.body | safe }}

                <h2>{{ copy.eligibility.strand1.title }}</h2>
                <ul>
                    {% for criteria in copy.eligibility.strand1.criteria %}
                        <li>{{ criteria }}</li>
                    {% endfor %}
                </ul>

                <h2>{{ copy.eligibility.strand2.title }}</h2>
                <ul>
                    {% for criteria in copy.eligibility.strand2.criteria %}
                        <li>{{ criteria }}</li>
                    {% endfor %}
                </ul>
            {% endcall %}

            {% call contentBox(pageAccent, id="segment-3") %}
                <h2>{{ copy.spending.title }}</h2>
                {{ copy.spending.body | safe }}
            {% endcall %}

            {% call contentBox(pageAccent) %}
                <h2>{{ copy.getStarted.assistance.title }}</h2>
                {{ copy.getStarted.assistance.body | safe }}
            {% endcall %}
        </div>
    </main>
{% endblock %}
