{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/hero-image/macro.njk" import heroImage with context %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/step-progress/macro.njk" import stepProgress %}

{% block content %}
    {{ heroImage(pageHero.image) }}

    <main id="content" class="u-nudge-up">
        {{ pageTitle(title) }}
    
        <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}
            <div class="s-prose u-constrained">
                <p>{{ strandCopy.ineligible.introduction }}</p>
                <p>{{ strandCopy.eligibilitySummary.introduction }}</p>
                <ul>
                    {% for item in strandCopy.eligibilitySummary.criteria %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                {{ strandCopy.ineligible.body | safe }}
            </div>
        </section>
    </main>
{% endblock %}
