{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/action-card/macro.njk" import actionCard %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted
                u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs, isTinted = true) }}
                <div class="s-prose u-constrained-content-wide">
                    <p>{{ copy.intro }}</p>
                    <p><strong>{{ copy.openingDates }}</strong></p>
                </div>
            </section>

            {% call contentBox(pageAccent, id="get-started") %}
                <h2>{{ copy.getStarted.title }}</h2>
                <p>{{ copy.getStarted.intro }}</p>

                <div class="flex-grid">
                    <div class="flex-grid__item">
                        {% call actionCard({
                            title: copy.strand1.title,
                            link: {
                                url: localify('/funding/programmes/digital-fund/strand-1'),
                                label: copy.aboutStrandLabel
                            }
                        }, accent = 'blue') %}
                            <p>{{ copy.strand1.introduction | safe }}</p>
                        {% endcall %}
                    </div>
                    <div class="flex-grid__item">
                        {% call actionCard({
                            title: copy.strand2.title,
                            link: {
                                url: localify('/funding/programmes/digital-fund/strand-2'),
                                label: copy.aboutStrandLabel
                            }
                        }, accent = 'cyan') %}
                            <p>{{ copy.strand2.introduction | safe }}</p>
                        {% endcall %}
                    </div>
                </div>

                <p>
                    {{ copy.fullEligiblity.teaser.prefix }}
                    <a href="{{ localify('/funding/programmes/digital-fund/eligibility') }}">
                        {{ copy.fullEligiblity.teaser.linkText }}
                    </a>
                </p>

                <h2>{{ copy.getStarted.assistance.title }}</h2>
                {{ copy.getStarted.assistance.body | safe }}
                {% if featurePreviewDigitalFund %}
                    {{ copy.assistance.actionText | safe }}
                {% endif %}
            {% endcall %}
        </div>
    </main>
{% endblock %}
