{% from "components/hero.njk" import hero %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "./view-helpers.njk" import strandTeaserCard %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted
                u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs, isTinted = true) }}
                <div class="s-prose u-constrained-content-wide">
                    <p>{{ copy.intro }}</p>
                    {% if not featurePreviewDigitalFund %}
                        <p><strong>{{ copy.closedMessage }}</strong></p>
                    {% endif %}
                </div>
            </section>

            {% call contentBox(pageAccent) %}
                <h2>{{ copy.summary.title }}</h2>
                {{ copy.summary.body | safe }}
            {% endcall %}

            {% call contentBox(pageAccent, id="get-started") %}
                <h2>{{ copy.getStarted.title }}</h2>
                <p>{{ copy.getStarted.intro }}</p>

                <div class="flex-grid">
                    <div class="flex-grid__item">
                        {{ strandTeaserCard({
                            title: copy.strand1.title,
                            description: copy.strand1.teaserDescription,
                            link: {
                                url: localify('/funding/programmes/digital-fund/strand-1'),
                                label: copy.aboutStrandLabel
                            }
                        }, accent = 'blue') }}
                    </div>
                    <div class="flex-grid__item">
                        {{ strandTeaserCard({
                            title: copy.strand2.title,
                            description: copy.strand2.teaserDescription,
                            link: {
                                url: localify('/funding/programmes/digital-fund/strand-2'),
                                label: copy.aboutStrandLabel
                            }
                        }, accent = 'cyan') }}
                    </div>
                </div>

                <p>
                    {{ copy.getStarted.fullEligiblity.prefix }}
                    <a href="{{ localify('/funding/programmes/digital-fund/eligibility') }}">
                        {{ copy.getStarted.fullEligiblity.linkText }}
                    </a>
                </p>

                <h2>{{ copy.getStarted.assistance.title }}</h2>
                {{ copy.getStarted.assistance.body | safe }}
            {% endcall %}
        </div>
    </main>
{% endblock %}
