{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/step-progress/macro.njk" import stepProgress %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-content-wide">
                    <p>{{ copy[currentStrand].introduction | safe }}</p>
                </div>

                <div class="message">
                    {{ copy.openingDatesClosed }}
                </div>

                {{ segmentLinks([
                    { "title": copy.process.title },
                    { "title": copy.eligibility.title },
                    { "title": copy.spending.title },
                    { "title": copy.successFactors.title }
                ] )}}
            </section>

            <section id="segment-1" class="content-box u-inner-wide-only">
                <div class="content-sidebar">
                    <div class="content-sidebar__primary">
                        <h2 class="t2 t--underline">{{ copy.process.title }}</h2>
                        <p>{{ copy.process.introduction }}</p>
                        {{ stepProgress(copy.process.stepsClosed)}}
                    </div>
                </div>
            </section>

            {% call contentBox(id='segment-2') %}
                <h2>{{ copy.eligibility.title }}</h2>
                <ul>
                    {% for criteria in copy.eligibility[currentStrand].criteria %}
                        <li>{{ criteria }}</li>
                    {% endfor %}
                </ul>
                {{ copy.eligibility.commonCriteria.body | safe }}
            {% endcall %}

            {% call contentBox(id="segment-3") %}
                <h2>{{ copy.spending.title }}</h2>
                {{ copy.spending.body | safe }}
            {% endcall %}

            {% call contentBox(id="segment-4") %}
                <h2>{{ copy.successFactors.title }}</h2>
                {{ copy.successFactors[currentStrand] | safe }}
            {% endcall %}

            {% call contentBox(id="segment-6") %}
                <h2>{{ copy.questions.title }}</h2>
                {{ copy.questions.body | safe }}
            {% endcall %}

            {% call contentBox() %}
                <h2>{{ copy.wayfinding.title }}</h2>

                <p><a href="{{ localify('/funding/programmes/digital-fund/assistance') }}" class="btn btn--medium">
                    {{ copy.wayfinding.assistance }}
                </a></p>

                <p>{{ copy.wayfinding.otherProgrammes | safe }}</p>
            {% endcall %}
        </div>
    </main>
{% endblock %}
