{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/step-progress/macro.njk" import stepProgress %}
{% from "./view-helpers.njk" import wayfinding with context %}

{% set eligibilityLink = localify('/funding/programmes/digital-fund/strand-1/eligibility') %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-content-wide">
                    <p>{{ copy.strand1.introduction | safe }}</p>
                </div>

                <div class="message">
                    {{ copy.openingDates }}
                </div>

                {{ segmentLinks([
                    { "title": copy.process.title },
                    { "title": copy.eligibility.title },
                    { "title": copy.spending.title },
                    { "title": copy.successFactors.title }
                ] )}}
            </section>

            <section id="segment-1" class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="content-sidebar">
                    <div class="content-sidebar__primary accent-content--{{ pageAccent }}">
                        <h2 class="t2 t--underline">{{ copy.process.title }}</h2>
                        <p>{{ copy.process.introduction }}</p>
                        {{ stepProgress(copy.process.steps)}}
                    </div>

                    <div class="content-sidebar__secondary">
                        <aside class="card u-accent-border-top-{{ pageAccent }} u-sticky-offset">
                            <header class="card__header">
                                <h3 class="card__title">
                                    {% if featurePreviewDigitalFund %}
                                        {{ copy.process.getStarted.title }}
                                    {% else %}
                                        {{ copy.closedMessage }}
                                    {% endif %}
                                </h3>
                                <div class="card__body">
                                    {{ copy.process.getStarted.body | safe }}
                                    {% if featurePreviewDigitalFund %}
                                        <a href="{{ eligibilityLink }}"
                                           class="btn btn--medium accent--{{ pageAccent }} a--btn">
                                            {{ copy.process.getStarted.linkText }}
                                        </a>
                                    {% endif %}
                                </div>
                            </header>
                        </aside>
                    </div>
                </div>
            </section>

            {% call contentBox(pageAccent, id='segment-2') %}
                <h2>{{ copy.eligibility.title }}</h2>
                <ul>
                    {% for criteria in copy.eligibility.strand1.criteria %}
                        <li>{{ criteria }}</li>
                    {% endfor %}
                </ul>
                {{ copy.eligibility.commonCriteria.body | safe }}
            {% endcall %}

            {% call contentBox(pageAccent, id="segment-3") %}
                <h2>{{ copy.spending.title }}</h2>
                {{ copy.spending.body | safe }}
            {% endcall %}

            {% call contentBox(pageAccent, id="segment-4") %}
                <h2>{{ copy.successFactors.title }}</h2>
                {{ copy.successFactors.strand1 | safe }}
            {% endcall %}

            {% if featurePreviewDigitalFund %}
                {% call contentBox(pageAccent, id="segment-5") %}
                    <h2>{{ copy.process.getStarted.title }}</h2>
                    <p>{{ copy.process.getStarted.teaser }}</p>
                    <p>
                        <a href="{{ eligibilityLink }}"
                           class="btn btn--medium accent--{{ pageAccent }} a--btn">
                            {{ copy.process.getStarted.linkText }}
                        </a>
                    </p>
                {% endcall %}
            {% endif %}

            {% call contentBox(pageAccent, id="segment-6") %}
                <h2>{{ copy.questions.title }}</h2>
                {{ copy.questions.body | safe }}
            {% endcall %}

            {% call contentBox(pageAccent) %}
                {{ wayfinding('strand1') }}
            {% endcall %}
        </div>
    </main>
{% endblock %}
