{% from "./questions-list.njk" import questionsIntro, questionList with context %}
{% from "components/icons.njk" import iconDownload %}
{% from "components/print-button/macro.njk" import printButton %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">

        <section class="content-box u-inner-wide-only">

            {{ userNavigation(userNavigationLinks) }}

            {{ questionsIntro(form) }}

            <div class="o-button-group u-dont-print">
                {{ printButton(label = copy.questions.printLink) }}
            </div>
        </section>

        <section class="content-box u-inner-wide-only">
            {{ questionList(form, eligibility) }}
        </section>

    </main>
{% endblock %}
