{% extends "layouts/main.njk" %}
{% from "components/details/macro.njk" import details %}
{% from "components/form-header/macro.njk" import formHeaderWithData with context %}
{% from "components/icons.njk" import iconTick %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}
{% from "./expiry-warnings.njk" import expiryLoggedOut with context %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% macro summariseErrors() %}
    {% if showErrors and errorsByStep.length > 0 %}
        <div class="form-errors" data-testid="form-errors">
            <h2 class="form-errors__title">{{ copy.summary.errorSummaryTitle }}</h2>
            <div class="form-errors__body">
                {% for step in errorsByStep %}
                    {% if step.errors.length > 0 %}
                        <h3 class="form-errors__subtitle">{{ step.title }}</h3>
                        <ol class="form-errors__list">
                            {% for error in step.errors %}
                                <li>
                                    {% if error.param %}<a href="#field-{{ error.param }}">{% endif %}
                                    {{ error.msg | safe }}
                                    {% if error.param %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% elseif featuredErrors.length > 0 %}
        <div class="form-errors form-errors--featured" data-testid="form-errors">
            <h2 class="form-errors__title">{{ copy.summary.featuredErrorsTitle }}</h2>
            <div class="form-errors__body">
                <ol class="form-errors__list">
                    {% for error in featuredErrors %}
                        <li>
                            {% if error.param %}<a href="#field-{{ error.param }}">{% endif %}
                            {{ error.msg | safe }}
                            {% if error.param %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro submitActionsIncomplete() %}
    <div class="submit-actions">
        <h2 class="submit-actions__title">{{ copy.summary.incompleteTitle }}</h2>
        <p class="u-text-medium s-prose">
            <a href="?show-errors=true">{{ copy.summary.incompleteMessage }}</a>
        </p>
        <a href="?show-errors=true" class="btn">{{ copy.submit }}</a>
    </div>
{% endmacro %}

{% macro stepSummary(step, stepNumber, totalSteps) %}
    <div class="step-summary">
        <h3 class="step-summary__title">
            {{ step.title }}
        </h3>

        {% if step.isRequired %}
            {% for fieldset in step.fieldsets %}
                {% for field in fieldset.fields %}
                    {% set fieldErrors = field.featuredErrors %}
                    {% if showErrors %}
                        {% set fieldErrors = field.errors %}
                    {% endif %}

                    <div class="step-summary__data {% if field.settings.stackedSummary %} is-stacked{% endif %}"
                        id="field-{{ field.name }}">
                        <div class="step-summary__data__question">{{ field.label | safe }}</div>
                        <div class="step-summary__data__answer">
                            <div class="step-summary__data__answer-inner
                                {% if fieldErrors.length > 0 %}{% if showErrors %} has-errors{% else %} has-featured-errors{% endif %}{% endif %}">

                                {% if field.displayValue %}
                                    {% set cleanValue = field.displayValue | striptags(true) | escape | nl2br %}
                                    <span class="s-prose" data-hj-suppress>{{ cleanValue }}</span>
                                {% else %}
                                    <span aria-label="{{ copy.summary.notYetCompleted }}">&ndash;</span>
                                {% endif %}

                                {% if fieldErrors.length > 0 %}
                                    <ol class="step-summary__data__errors">
                                        {% for error in fieldErrors %}
                                            <li>{{ error.msg | safe }}</li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="step-summary__data__link">
                            <a href="{{ formBaseUrl }}/{{ step.slug }}?edit#form-field-{{ field.name }}" class="u-edit-link">
                                {{ copy.change }} <span class="u-visually-hidden">{{ field.label | striptags }}</span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div class="step-summary__data">
                <p class="u-margin-top-s">{{ copy.summary.notRequired }}</p>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro sectionSummary(section, sectionNumber) %}
    {% set secTitle = section.shortTitle or section.title %}
    <section class="section-summary section-summary--{{ section.progress.status }}">
        <header class="section-progress-bar section-progress-bar--{{ section.progress.status }}">
            <h2 class="section-progress-bar__title">
                <a href="{{ formBaseUrl }}/{{ section.slug }}" class="u-link-unstyled">
                    {{ secTitle }}
                </a>

                {% set editWord = copy.continue if section.progress.status === 'incomplete' else copy.edit %}
                <a class="section-progress-bar__edit u-edit-link u-dont-print" href="{{ formBaseUrl }}/{{ section.slug }}">
                    {{ editWord }}<span class="u-visually-hidden"> "{{ secTitle }}" section</span>
                </a>
            </h2>

            <a class="section-progress-bar__marker u-link-unstyled" href="{{ formBaseUrl }}/{{ section.slug }}">
                {% if section.progress.status === 'complete' %}
                    {{ iconTick() }}
                    {{ copy.statusComplete }}
                {% elseif section.progress.status === 'incomplete' %}
                    {{ copy.statusInProgress }}
                {% else %}
                    {{ copy.statusNotStarted }}
                {% endif %}
                <span class="u-visually-hidden"> - Edit "{{ secTitle }}" section</span>
            </a>
        </header>

        <article class="section-summary__content u-padded-s">
            <p class="u-constrained-wide">{{ section.summary }}</p>

            {% if expandSections %}
                {% for step in section.steps %}
                    {{ stepSummary(
                        step = step,
                        stepNumber = loop.index,
                        totalSteps = section.steps.length
                    )}}
                {% endfor %}
            {% else %}
                {% call details(
                    title = copy.summary.showQuestions,
                    assistiveText = 'for "' + secTitle + '" section',
                    extraClasses = 'js-toggleable',
                    isOpen = form.progress.isComplete or section.hasFeaturedErrors,
                    showInfoIcon = false,
                    dataName = 'Summary'
                ) %}
                    {% for step in section.steps %}
                        {{ stepSummary(
                            step = step,
                            stepNumber = loop.index,
                            totalSteps = section.steps.length
                        )}}
                    {% endfor %}
                {% endcall %}
            {% endif %}
        </article>
    </section>
{% endmacro %}

{% macro startButton() %}
    <p class="u-no-margin">
        <a href="{{ formBaseUrl }}/{{ startPathSlug }}" class="btn">
            {{ form.startLabel }}
        </a>
    </p>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only js-apply-form js-session-expiry-warning"
             data-form-short-id="{{ formShortId }}">

            {{ userNavigation(userNavigationLinks) }}

            {{ formHeaderWithData(formTitle, form.summary.title) }}

            <h1 class="t2 u-tone-brand-primary" data-testid="summary-title">{{ copy.summary.title }}</h1>

            {% if notices.length > 0 %}
                <div class="message message--info message--minor" role="alert">
                    {% for notice in notices  %}
                        <h2 class="t4 u-margin-bottom-s">{{ notice.title }}</h2>
                        <p>{{ notice.body | safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {{ summariseErrors() }}

            {% if form.progress.isComplete %}
                <div class="submit-actions">
                    <h2 class="submit-actions__title">{{ copy.summary.completeTitle }}</h2>
                    <p class="submit-actions__text u-constrained-wide">{{ copy.summary.completeMessage }}</p>
                </div>
            {% else %}
                <div class="s-prose">{{ copy.summary.introduction | safe }}</div>
                {% if form.progress.isPristine and formId === 'awards-for-all' %}
                    {{ startButton() }}
                {% endif %}
            {% endif %}

            {% if not expandSections %}
                <p class="u-align-right u-dont-print">
                    <button type="button"
                        class="btn-link u-text-small js-toggle-all-details js-only u-align-right"
                        aria-expanded="{% if expandSections %}true{% else %}false{% endif %}"
                        data-label-open="{{ copy.summary.collapseAll }}"
                        data-label-closed="{{ copy.summary.expandAll }}"
                        data-testid="expand-all-sections">
                    </button>
                </p>
            {% endif %}

            {% for section in form.sections %}
                {{ sectionSummary(section, loop.index) }}
            {% endfor %}

            {% if form.progress.isComplete %}
                <form class="submit-actions" action="{{ formBaseUrl }}/submission" method="post">
                    <h2 class="submit-actions__title">{{ copy.summary.completeTitleConfirm }}</h2>
                    <p class="submit-actions__text u-constrained-wide">{{ copy.summary.completeMessage }}</p>
                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}
                    <input class="btn u-margin-bottom-s" type="submit" value="{{ copy.submit }}" data-prevent-double-click="true" />
                </form>
            {% elseif not form.progress.isPristine %}
                {{ submitActionsIncomplete() }}
            {% elseif form.progress.isPristine %}
                {{ startButton() }}
            {% endif %}

        </div>
    </main>
{% endblock %}

{% block modals %}
    {# We don't need the pending expiry warning as there's nothing to be saved here #}
    {{ expiryLoggedOut() }}
{% endblock %}
