{% macro tableOfContents(items, anchor = 'segment') %}
    {% if items.length > 1 %}
        <div class="table-of-contents">
            <ul>
                {% for item in items %}
                    {% set titleToUse = item.tocTitle or item.title %}
                    {% if titleToUse %}
                        <li><a href="#{{ anchor }}-{{ loop.index }}">{{ titleToUse }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}
