{% macro tableOfContents(flexibleContent, anchor, hideDivider = false) %}
    {% if flexibleContent.length > 1 %}
        <div class="table-of-contents{% if hideDivider %} table-of-contents--no-divider{% endif %}">
            <ul>
                {% for block in flexibleContent %}
                    {% set titleToUse = block.tocTitle or block.title %}
                    {% if titleToUse %}
                        <li><a href="#{{ anchor }}-{{ loop.index }}">{{ titleToUse }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}
