{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/data.njk" import statsGrid %}
{% from "components/staff-status/macro.njk" import staffStatus with context %}
{% from "components/callout/macro.njk" import callout %}

{% block extraHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}
            {{ staffStatus(user) }}

            <h1 class="t--underline">“Did you find what you were looking for?”</h1>

            {% if pathQuery or dateRange %}
                <p>
                    {% if pathQuery %}
                        Showing results for <code>{{ pathQuery }}</code>,
                    {% endif %}
                    {% if dateRange %}
                        {{ formatDate(dateRange.start) }}–{{ formatDate(dateRange.end) }}
                    {% endif %}
                    <a href="?">clear selection?</a>
                </p>
            {% endif %}

            <form action="" method="get" class="tools-filter-form">
                <div class="tools-filter-form__item">
                    <label for="start" class="ff-label">Start date</label>
                    <input class="ff-text"
                           type="date"
                           max="{{ formatDate(now, "YYYY-MM-DD") }}"
                           value="{{ formatDate(dateRange.start, "YYYY-MM-DD") }}"
                           name="start"
                           id="start"
                    >
                </div>
                <div class="tools-filter-form__item">
                    <label for="end" class="ff-label">End date</label>
                    <input class="ff-text"
                           type="date"
                           max="{{ formatDate(now, "YYYY-MM-DD") }}"
                           value="{{ formatDate(dateRange.end, "YYYY-MM-DD") }}"
                           name="end"
                           id="end"
                    >
                </div>
                <div class="tools-filter-form__item tools-filter-form__actions">
                    <input class="btn btn--small" type="submit" value="Filter by date"/>
                </div>
            </form>

            <div class="u-margin-bottom-l">
                <h2 class="u-no-margin">Overall totals</h2>
                {{ statsGrid([{
                    value: survey.recentStats.percentageYes + '%',
                    title: 'of respondents said “yes”',
                    showNumberBeforeTitle: true
                }, {
                    value: survey.recentStats.yesCount | numberWithCommas,
                    title: 'total “yes” responses',
                    showNumberBeforeTitle: true
                }, {
                    value: survey.recentStats.noCount | numberWithCommas,
                    title: 'total “no” responses',
                    showNumberBeforeTitle: true
                }]) }}
            </div>

            <div class="u-margin-bottom-l">
                <h2>Responses over time</h2>

                <p><small>Percentage who said “yes” based on <strong>{{ survey.totalResponses | numberWithCommas }} responses</strong> between {{ formatDate(dateRange.start) }}–{{ formatDate(dateRange.end) }}</small></p>

                <div class="u-margin-bottom">
                    <canvas id="js-chart" height="220"></canvas>
                </div>

                {% if not pathQuery %}
                    <h2>Most popular pages with feedback</h2>
                    <div class="s-prose">
                        <ol>
                            {% for item in survey.pageCounts | take(10) %}
                                <li>
                                    <a href="?path={{ item.path }}">
                                        {{ item.path }}
                                        ({{ item.count | numberWithCommas }} responses)
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <h2>Most popular pages with responses</h2>
                    <div class="s-prose">
                        <ol>
                            {% for item in survey.pageCountsWithResponses | take(10) %}
                                <li>
                                    <a href="?path={{ item.path }}">
                                        {{ item.path }}
                                        ({{ item.count | numberWithCommas }} responses)
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if survey.noResponses.length > 0 %}
            {% call contentBox() %}
                <h2>
                    How can we improve
                    {% if pathQuery %}
                        <a href="{{ pathQuery }}" target="_blank">{{ pathQuery }}</a>?
                    {% else %}
                        this page?
                    {% endif %}
                    <small>({{ survey.noResponses.length }} comments)</small>
                </h2>
                {% if pathQuery %}
                    <p><a class="btn btn--outline btn--small" href="?download=1&path={{ pathQuery }}">Download as CSV</a></p>
                {% endif %}
                {% for response in survey.noResponses %}
                    <article id="msg-{{ response.id }}">

                        {% set citation %}
                            <a class="u-link-minimal" href="#msg-{{ response.id }}" title="{{ response.createdAt }}">#</a>
                            Posted {{ timeFromNow(response.createdAt) }}
                            {% if not pathQuery %}
                                on <a href="?path={{ response.path }}">{{ response.path }}</a>
                            {% endif %}
                        {% endset %}

                        {{ callout(response.message, citation | safe, isQuote = true, isSimple = true) }}

                    </article>
                {% endfor %}
            {% endcall %}
        {% endif %}

    </main>

    <script>
        new Chart(document.getElementById('js-chart'), {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Percentage yes',
                    type: 'line',
                    data: {{ survey.voteData | dump(2) | safe }},
                    borderColor: '#e5007d',
                    fill: '#e5007d'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                    text: 'Response distribution'
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Date'
                        },
                        ticks: {
                            major: {
                                fontStyle: 'bold',
                                fontColor: '#FF0000'
                            }
                        },
                        time: {
                            round: 'day',
                            unit: 'day'
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            stepSize: 10,
                            min: 0,
                            max: 100,
                            callback: function(value) {
                                return value + "%"
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Percentage"
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
