{% from "components/article-teaser/macro.njk" import articleTeaser %}
{% from "components/blog/macro.njk" import blogTrail with context %}
{% from "components/callout/macro.njk" import callout %}
{% from "components/child-pages/macro.njk" import childPages %}
{% from "components/fact-river/macro.njk" import factRiver %}
{% from "components/media-aside/macro.njk" import mediaAside %}
{% from "components/programmes.njk" import programmeCard with context %}
{% from "components/promo-card/macro.njk" import promoCard with context %}
{% from "components/table-of-contents/macro.njk" import tableOfContents %}
{% from "components/message/macro.njk" import message with context %}

{% set flexAnchor = 'item' %}

{% macro flexibleContent(flexibleContent, children = null, breadcrumbs = null, distinguishBlocks = true, notificationBanner = null) %}
    {% if flexibleContent.length > 0 %}
        {% set mediaAsideCycler = cycler(true, false) %}

        {% for part in flexibleContent %}

            {% if part.type === 'childPageList' %}
                {% if children.length > 0 %}
                    {% set useContentBox = part.displayMode !== 'grid' %}

                    {% if useContentBox %}
                        <section class="content-box u-inner-wide-only" id="{{ flexAnchor + '-' + loop.index }}">
                    {% endif %}

                    {{ childPages(children, part.displayMode) }}

                    {% if useContentBox %}
                        </section>
                    {% endif %}
                {% endif %}
            {% elseif part.type === 'relatedContent' %}
                <section class="u-inner">
                    {% if part.title %}
                        <h2 class="t--underline">{{ part.title }}</h2>
                    {% endif %}
                    <ul class="flex-grid flex-grid--3up">
                        {% for article in part.content %}
                            <li class="flex-grid__item">
                                {{ promoCard({
                                    "title": article.title,
                                    "summary": article.summary,
                                    "image": {
                                        "url": article.trailImage,
                                        "alt": article.title
                                    },
                                    "link": { "url": article.linkUrl }
                                }) }}
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% elseif part.type === 'automaticContentList' %}
                <section class="u-inner">
                    {% if part.title %}
                        <h2 class="t--underline">{{ part.title }}</h2>
                    {% endif %}
                    <ul class="flex-grid flex-grid--3up">
                        {% if part.sectionType === 'blogposts' %}
                            {% for entry in part.items %}
                                <li class="flex-grid__item">
                                    {{ blogTrail(
                                        entry = entry,
                                        updateType = 'blog'
                                    ) }}
                                </li>
                            {% endfor %}
                        {% elseif part.sectionType === 'pressReleases' %}
                            {% for entry in part.items %}
                                <li class="flex-grid__item">
                                    {{ articleTeaser({
                                        'title': entry.trailText or entry.title,
                                        'subtitle': formatDate(entry.postDate.date),
                                        'summary': entry.summary,
                                        'linkUrl': entry.linkUrl
                                    }) }}
                                </li>
                            {% endfor %}
                        {% elseif part.sectionType === 'fundingProgrammes' %}
                            {% for entry in part.items %}
                                <li class="flex-grid__item">
                                    {{ programmeCard(entry) }}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </section>
            {% else %}
                <section class="{% if distinguishBlocks %}content-box u-inner-wide-only{% endif %}" id="{{ flexAnchor + '-' + loop.index }}">
                    {% if (breadcrumbs and loop.first) %}
                        {{ breadcrumbs | safe }}
                    {% endif %}

                    {% if (notificationBanner and loop.first) %}
                        {{ message(
                            notificationBanner.title,
                            notificationBanner.content
                        ) }}
                    {% endif %}

                    {% if part.title %}
                        <h2 class="t1">{{ part.title }}</h2>
                    {% endif %}

                    {% if part.type === 'mediaAside' %}
                        {{ mediaAside(
                            quoteText = part.quoteText,
                            link = { "label": part.linkText, "url": part.linkUrl },
                            image = { "url": part.photo, "caption": part.photoCaption },
                            isReversed = mediaAsideCycler.next() if mediaAsideCycler else false
                        ) }}
                    {% elseif part.type === 'factRiver' %}
                        {{ factRiver(part.content) }}
                    {% elseif part.type === 'person' %}
                        <article id="profile-{{ part.name | slugify }}">

                            {% if part.image and part.image.type === 'large' %}
                                <figure>
                                    <img src="{{ part.image.url }}" alt="{{ part.name }}">
                                </figure>
                            {% endif %}

                            <div class="s-prose">
                                {% if part.role %}
                                    <h3>{{ part.role }}</h3>
                                {% endif %}

                                {% if part.image and part.image.type === 'small' %}
                                    <img src="{{ part.image.url }}" alt="{{ part.name }}" width="100"
                                         style="float: left; margin-right: 20px; margin-bottom: 10px;" />
                                {% endif %}

                                {{ part.bio | safe }}
                            </div>

                        </article>
                    {% elseif part.type === 'tableOfContents' %}
                        {% if part.content %}
                            <div class="s-prose u-constrained-content-wide">
                                {{ part.content | safe }}
                            </div>
                        {% endif %}

                        {% if part.lastUpdated %}
                            <div class="message message--minor">
                                <strong>{{ __('global.misc.lastUpdated') }}</strong>:
                                {{ formatDate(part.lastUpdated.date, "dddd D MMMM, YYYY") }}
                            </div>
                        {% endif %}

                        {{ tableOfContents(flexibleContent, anchor = flexAnchor, hideDivider = not part.content) }}
                    {% else %}
                        <div class="s-prose u-constrained-content-wide">
                            {% if part.type === 'contentArea' %}
                                {{ part.content | safe }}
                            {% elseif part.type === 'inlineFigure' %}
                                <figure>
                                    <img src="{{ part.photo }}" alt="{{ part.caption }}">
                                    <figcaption>{{ part.photoCaption }}</figcaption>
                                </figure>
                            {% elseif part.type === 'quote' %}
                                <blockquote class="blockquote">
                                    <div class="blockquote__text">
                                        {{ part.quoteText | widont | safe }}
                                    </div>
                                    {% if part.attribution %}
                                        <cite class="blockquote__cite">{{ part.attribution }}</cite>
                                    {% endif %}
                                </blockquote>
                            {% elseif part.type === 'gridBlocks' %}
                                {% if part.introduction %}
                                    {{ part.introduction | safe }}
                                {% endif %}
                                <div class="flex-grid flex-grid--2up">
                                    {% for blockContent in part.content %}
                                        <div class="flex-grid__item grid-block u-wrap-links">
                                            <div class="u-tone-background-tint u-padded">
                                                {{ blockContent | safe }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </section>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
