{% macro card(title) %}
    <aside class="card">
        {% if title %}
            <header class="card__header">
                <p class="card__title card__head">{{ title }}</p>
            </header>
        {% endif %} 
        <div class="card__body">{{ caller() }}</div>
    </aside>
{% endmacro %}
