{% macro card(title) %}
    <aside class="card">
        {% if title %}
            <header class="card__header">
                <h3 class="card__title">{{ title }}</h3>
            </header>
        {% endif %} 
        <div class="card__body">{{ caller() }}</div>
    </aside>
{% endmacro %}
