{% macro card(title) %}
    <aside class="card">
        {% if title %}
            <header class="card__header">
                <h2 class="card__title t4">{{ title }}</h2>
            </header>
        {% endif %} 
        <div class="card__body">{{ caller() }}</div>
    </aside>
{% endmacro %}
