/* ==========================================================================
   Typographic Scale
   ========================================================================== */

/* =========================================================================
    Display Type Styles
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6,
.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
    font-family: font-stack('display');
    font-weight: 600;
    line-height: 1.25;
}

h1,
.t1 {
    font-size: 23px;
}

h2,
.t2 {
    font-size: 21px;
}

h3,
.t3 {
    font-size: 20px;
}

h4,
.t4 {
    font-size: 18px;
}

h5,
.t5 {
    font-size: 16px;
}

h6,
.t6 {
    font-size: 14px;
}

/* =========================================================================
   Modifiers
   ========================================================================= */

/**
 * Modifier class which adds a border below the text
 */
.t--underline:after {
    @include underlined();
}
