/* =========================================================================
   Base: Global element level styles
   ========================================================================= */

[v-cloak] {
    display: none;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: font-stack('fallback');
}

body,
input,
textarea,
button,
blockquote {
    font-family: font-stack('body');
    @include font-and-leading(20px, 27px);
    font-weight: 400;
    color: palette('charcoal');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-stack('display');
    margin: 0 0 20px 0;
}

ul,
ol,
li,
dl,
dt,
dd,
p {
    padding: 0;
    margin: 0;
}

ol,
ul,
li,
.unstyled,
.unstyled li {
    list-style-type: none;
}

address {
    font-style: normal;
}

p {
    margin-bottom: 1em;
}

a {
    color: palette('blue-text');
    transition: color 0.1s ease-in-out;

    @include on-interact {
        text-decoration: underline;
        color: darken(palette('blue-text'), 20%);
    }
}

blockquote {
    @include font-and-leading(20px, 27px);
    margin: 0 0 $spacingUnit 0;
    font-style: italic;

    &:last-child {
        margin-bottom: 0;
    }

    footer {
        display: inline-block;
    }

    cite {
        font-style: normal;
    }
}

/*  =========================================================================
    Embedded content
    http://developers.whatwg.org/embedded-content-1
    ========================================================================= */

img,
picture,
embed,
object,
video {
    /* Remove border when inside `a` element in IE 8/9 */
    display: block;
    border: 0;
    max-width: 100%;
}

/* Non-fluid images if you specify `width` attribute. */
img:not([width]) {
    width: 100%;
}

iframe {
    border: none;
}
