/* =========================================================================
   Forms
   ========================================================================= */

legend {
    padding: 0;
    display: table;
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

input[type="text"],
input[type="email"],
input[type="search"] {
    -webkit-appearance: none;
}

.form-header {
    margin-bottom: $spacingUnit;

    .form-header__actions,
    .form-header__title {
        margin-bottom: 3px;
    }
    .form-header__subtitle {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        color: palette('charcoal-note');
    }
}

.form-fieldset {
    margin: 0;
}
.form-fieldset__legend {
    font-weight: bold;
    margin-bottom: $spacingUnit;
}
.form-fieldset__fields {
    margin-bottom: $spacingUnit;
}

.form-errors {
    border: 3px solid palette('error');
    margin-bottom: $spacingUnit;
}
.form-errors__title {
    color: white;
    background-color: palette('error');
    font-weight: bold;
    margin: 0;
    margin-bottom: $spacingUnit / 2;
    padding: $spacingUnit / 3;
}
.form-errors__body {
    padding: $spacingUnit / 2;
}

.error-list {
    &,
    a {
        color: palette('error');
        font-weight: bold;
    }
}

.form-field {
    margin-bottom: $spacingUnit;

    &:target {
        background-color: rgba(255, 255, 0, 0.5);
    }
}
.form-field__errors {
    margin-top: $spacingUnit / 3;
}
.form-field__help {
    margin-top: $spacingUnit;

    .form-field__help-summary {
        margin-bottom: $spacingUnit / 3;
    }
    .form-field__help-body {
        background-color: palette('pale-grey');
        padding: $spacingUnit / 2;
    }
}
.form-field__duplicate {
    margin-top: $spacingUnit / 2;
}

.form-field.has-errors {
    .form-field__main {
        border-left: 3px solid palette('error');
        padding-left: $spacingUnit / 2;
    }
}

.no-js .form-field[hidden] {
    display: block;
}

.ff-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ff-label--required,
.ff-label--optional {
    &:after {
        content: '* Required field';
        font-weight: normal;
        margin-left: 10px;
        font-size: smaller;
        color: palette('pink');
    }
}

.ff-label--optional {
    &:after {
        content: 'Optional';
        color: palette('charcoal-note');
    }
}

.ff-explanation {
    font-size: 15px;
}

.ff-text,
.ff-textarea {
    display: block;
    border: 2px solid palette('charcoal');
    // prevent elements with size attributes overflowing on mobile
    max-width: 100%;

    &:focus {
        outline: 3px solid lighten(palette('turquoise'), 25%);
        outline-offset: 0;
    }
}

.ff-textarea {
    width: 100%;
    padding: 0.5em;
}

.ff-radio {
    margin-bottom: 3px;
}
.ff-radio__option {
    margin-bottom: 3px;

    input[type='radio'] {
        position: relative;
        top: -2px;
        margin: 0 5px 0 0;
    }
}

.ff-checkbox {
    margin-bottom: 3px;
}
.ff-checkbox__option {
    display: table;
    margin-bottom: 5px;

    input[type='checkbox'] {
        margin: 0 6px 0 0;

        @include mq('medium-minor') {
            margin-right: 10px;
            position: relative;
            top: -2px;
        }
    }
}
.ff-checkbox__input,
.ff-checkbox__label {
    display: table-cell;
}
.ff-checkbox__caption {
    font-size: 13px;
    color: palette('charcoal-note');
    display: block;

    @include mq('medium-minor') {
        display: inline-block;
        margin-left: 3px;
    }
}

.review-list {
    margin-bottom: $spacingUnit * 2;

    > dd,
    > dt {
        padding: 5px 0;
    }

    > dt {
        font-weight: bold;
        border-top: 1px solid palette('soft-grey');
    }
}
.review-list:not(.review-list--stacked) {
    overflow: auto;

    @media screen and (min-width: 480px) {
        > dd,
        > dt {
            float: left;
        }

        > dt {
            width: 40%;
            clear: left;
        }

        > dd {
            width: 60%;
            border-top: 1px solid palette('soft-grey');
        }
    }
}

.form-message {
    background-color: palette('pale-pink');
    margin-bottom: $spacingUnit;
    padding: $spacingUnit / 2;
}
.form-message__title {
    margin-bottom: 3px;
}

/* =========================================================================
   Custom Form: Ebulletin
   ========================================================================= */

.form-ebulletin {
    .form-field--type-text .ff-label,
    .form-field--type-email .ff-label {
        @include visually-hidden();
    }

    .form-fieldset--details {
        .form-fieldset__fields {
            display: flex;
            flex-flow: row wrap;
        }

        .form-field {
            flex: 1 1 100%;
            margin-bottom: $spacingUnit / 2;
        }

        .form-field--firstName,
        .form-field--lastName {
            flex: 0 0 50%;
        }
        .form-field--firstName {
            padding-right: 5px;
        }
        .form-field--lastName {
            padding-left: 5px;
        }
    }

    .ff-text {
        display: block;
        width: 100%;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid palette('pink');
        background-color: transparent;
        padding: 3px 3px 6px;
    }
}

/* =========================================================================
   Custom Form: Free Materials
   ========================================================================= */

.form-materials {
    input[type="text"],
    input[type="email"] {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #666666;
        font-size: 16px;
        color: #333333;

        @include input-placeholder {
            font-size: 16px;
            color: #808080;
        }

        &.is-error {
            border-bottom-color: #c6183d;
        }
    }

    input[type="submit"] {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: none;
    }

    input[type='submit'] {
        display: block;
        width: 100%;
        border-bottom: none;
    }

    input[type='radio'] {
        width: auto;
        display: inline-block;
    }

    .label-radio,
    .label-radio__item {
        font-size: 16px;
        display: block;
        margin-bottom: $spacingUnit;
    }


    &:invalid {
        input[type="submit"] {
            @include disabledBtn();
        }
    }
}
