/* =========================================================================
   Forms
   ========================================================================= */

legend {
    padding: 0;
    display: table;
}
fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

.form-header {
    margin-bottom: $spacingUnit;

    .form-header__title {
        margin-bottom: 3px;
    }
    .form-header__subtitle {
        margin: 0;
        font-weight: 14px;
        color: palette('soft-grey');
    }
}

.form-fieldset {
    margin-bottom: $spacingUnit;
}
.form-fieldset__legend {
    font-weight: bold;
    margin-bottom: $spacingUnit;
}
.form-fieldset__fields {
    margin: 0;
}

$errorColor: #b00;
.form-errors {
    border: 3px solid $errorColor;
    margin-bottom: $spacingUnit;
}
.form-errors__title {
    color: white;
    background-color: $errorColor;
    font-weight: bold;
    margin: 0;
    margin-bottom: $spacingUnit / 2;
    padding: $spacingUnit / 3;
}
.form-errors__body {
    padding: $spacingUnit / 2;
}

.error-list {
    &,
    a {
        color: $errorColor;
        font-weight: bold;
    }
}

.form-field {
    margin-bottom: $spacingUnit;

    &:target {
        background-color: rgba(255, 255, 0, 0.5);
    }

    .form-field__errors {
        margin-top: $spacingUnit / 3;
    }

    .form-field__help {
        margin-top: $spacingUnit;
    }
}
.form-field.has-errors {
    .form-field__main {
        border-left: 3px solid $errorColor;
        padding-left: $spacingUnit / 2;
    }
}

.no-js .form-field[hidden] {
    display: block;
}

.ff-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.ff-text,
.ff-textarea {
    display: block;
    border: 2px solid palette('charcoal');

    &:focus {
        outline: 3px solid lighten(palette('turquoise'), 25%);
        outline-offset: 0;
    }
}

.ff-textarea {
    width: 100%;
}

.ff-radio,
.ff-checkbox {
    margin-bottom: 3px;
}
.ff-checkbox__option {
    margin-bottom: 3px;

    input[type='checkbox'] {
        position: relative;
        top: -2px;
        margin-right: 5px;
    }
}

.review-list {
    margin-bottom: $spacingUnit * 2;

    > dd,
    > dt {
        padding: 5px 0;
    }

    > dt {
        font-weight: bold;
        border-top: 1px solid palette('soft-grey');
    }
}
.review-list:not(.review-list--stacked) {
    overflow: auto;

    @media screen and (min-width: 480px) {
        > dd,
        > dt {
            float: left;
        }

        > dt {
            width: 40%;
            clear: left;
        }

        > dd {
            width: 60%;
            border-top: 1px solid palette('soft-grey');
        }
    }
}

.form-success-message {
    background-color: palette('pale-pink');
    margin-bottom: $spacingUnit;
    padding: $spacingUnit / 2;
}
.form-success-message__title {
    margin-bottom: 3px;
}

/* =========================================================================
   Forms: Specific Form Customisations
   ========================================================================= */

.form-fund {
    &.form-fund--inline {
        height: 40px;

        & > * {
            display: inline-block;
            margin-top: 0;
            height: 100%;
        }
    }

    input,
    textarea,
    select {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid palette('soft-grey');
        border-radius: 20px;
        font-size: 16px;
        margin-right: $spacingUnit;
        padding: $spacingUnit / 4 $spacingUnit / 2;
    }

    input[type='submit'] {
        border: none;
    }

    .form-fund__item {
        display: block;
    }
}

.inline-form {
    input {
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid #666666;
        font-size: 16px;
        color: #333333;

        @include input-placeholder {
            font-size: 16px;
            color: #808080;
        }

        &.is-error {
            @include input-placeholder {
                color: #c6183d;
            }
        }
    }

    input[type='submit'] {
        display: block;
        width: 100%;
        margin-top: $spacingUnit * 2;
        border-bottom: none;
    }

    label {
        @extend .u-visually-hidden;
    }
}

.form-ebulletin {
    background-color: palette('pale-pink');

    .intro {
        font-size: 18px;
    }

    .form-ebulletin--grid {
        @include mq('tablet', 'max') {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;

            .label--radio {
                margin: 0;
                padding: 10px;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: 50%;
            }
        }
    }

    .form-ebulletin__fields {
        clear: both;
    }

    .form-fund__item {
        display: block;
        width: 100%;
        padding: 3px;
        background-color: transparent;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid palette('pink');
        padding-bottom: 6px;
        margin: $spacingUnit 0;

        &:last-child {
            margin-left: $spacingUnit / 2;
        }
    }

    label {
        margin-top: 20px;
        display: block;
        line-height: 1;
        font-weight: 400;
        font-size: 20px;
        color: palette('pink');
        .contrast--high & {
            color: #000000;
        }
    }

    label.form-fund__item {
        @extend .u-visually-hidden;
    }

    input[type='radio'] {
        float: right;
        font-size: 22px;
    }

    input {
        &.is-error {
            background-color: darken(palette('pale-pink'), 30%);
            color: #ffffff;

            @include input-placeholder {
                color: #ffffff;
            }
        }
    }

    .form-ebulletin__btn {
        @include mq('tablet', 'max') {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    // bit of a hack to work around doubled margins
    .no-gap {
        margin-top: 0 !important;
    }
}
