/* =========================================================================
   Layout Helpers
   ========================================================================= */

/**
 * Inner/constrained layout classes
 * .u-inner defines a constrained layout at all breakpoints
 * .u-inner-wide-only defines a constrained layout at wider breakpoints only
 * @TODO: Rename all uses of .inner* to u-inner*
 */
.inner,
.u-inner {
    margin-left: $spacingUnit / 2;
    margin-right: $spacingUnit / 2;
    width: calc(100% - #{$spacingUnit});
}

.inner,
.u-inner,
.inner--wide-only,
.u-inner-wide-only {
    @include mq(medium) {
        margin-left: $spacingUnit;
        margin-right: $spacingUnit;
        width: calc(100% - #{$spacingUnit * 2});
    }

    @media screen and (min-width: $widestScreen) {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.u-constrained {
    max-width: $constrained;
}

.u-constrained-wide {
    max-width: $constrainedWide;
}

.u-gutter {
    margin-left: $spacingUnit;
    margin-right: $spacingUnit;
}
.u-gutter-half {
    margin-left: $spacingUnit / 2;
    margin-right: $spacingUnit / 2;
}

// @TODO better name
.central-gap {
    @include mq('tablet') {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.nudge-up {
    @include mq('tablet') {
        top: -25px;
        margin-bottom: -25px;
        position: relative;
        z-index: 10;
    }
}

.u-outline {
    border: 1px solid palette('border');
    padding: $spacingUnit;
}

/* =========================================================================
    Padding
    ========================================================================= */

// @TODO: Rename all uses to u-padded
.padded,
.u-padded {
    padding: $spacingUnit ($spacingUnit / 2);

    @include mq('medium') {
        padding: $spacingUnit;
    }
}
.u-padded-vertical {
    padding-top: $spacingUnit;
    padding-bottom: $spacingUnit;
}
.u-padded-vertical-l {
    padding-top: $spacingUnit * 1.5;
    padding-bottom: $spacingUnit * 1.5;
}
.u-padded-top {
    padding-top: $spacingUnit;
}
.u-padded-top-l {
    padding-top: $spacingUnit * 1.5;
}
.u-padded-bottom {
    padding-bottom: $spacingUnit;
}
.u-padded-bottom-l {
    padding-bottom: $spacingUnit * 1.5;
}

/* =========================================================================
    Margin
    ========================================================================= */

// @TODO: Rename to u-margin-bottom-*
.spaced {
    margin-bottom: $spacingUnit;
}

.spaced--s {
    margin-bottom: $spacingUnit / 2;
}

.spaced--l {
    margin-bottom: $spacingUnit * 2;
}

.spaced--x-l {
    margin-bottom: $spacingUnit * 3;
}

.spaced--t {
    margin-top: $spacingUnit;
}

.spaced--t--l {
    margin-top: $spacingUnit * 2;
}

.u-no-margin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
