$nudgeAmount: 25px;

.inner {
    @include responsiveGutter();
}

.inner--wide-only {
    @include mq('tablet') {
        @include responsiveGutter();
    }
}

.is-on-top {
    z-index: 100;
}

// @TODO better name
.central-gap {
    $gap: 20%;
    @include mq('tablet', 'max') {
        margin-left: $gap / 2;
        margin-right: $gap / 2;
    }
    margin-left: $gap;
    margin-right: $gap;
}

.width-natural {
    max-width: auto;
}

.gutter-mob-only {
    @include mq('tablet', 'max') {
        margin-left: $spacingUnit;
        margin-right: $spacingUnit;
    }
}

.align--center {
    text-align: center;
}

// @TODO put this somewhere better
main {
    transition: all 0.3s ease-in-out;
}

@mixin nudged-up {
    margin-top: -$nudgeAmount;
    position: relative;
    z-index: 10;
}

@mixin nudged-down {
    position: absolute;
    bottom: $nudgeAmount + 30px;
}

.nudge-up {
    margin-top: 0;
    @include mq('tablet') {
        @include nudged-up();
    }
}

.nudge-up--always {
    @include nudged-up();
}

.nudge-bottom {
    position: absolute;
    bottom: $spacingUnit;
    @include responsiveGutter(true);

    @include mq('tablet') {
        @include nudged-down();
    }
}

.nudge-bottom--always {
    @include responsiveGutter(true);
    @include nudged-down();
}

.padded {
    padding: $spacingUnit;
}

.padded--wide-only {
    padding: ($spacingUnit / 2) 0;

    @include mq('tablet') {
        padding: $spacingUnit;
    }
}

// @TODO come up with better names for these classes
.expanded {
    padding-top: $spacingUnit;
}

@include mq('tablet') {
    .d-expanded--l {
        padding-top: $spacingUnit * 2;
    }
}

.spaced {
    margin-bottom: $spacingUnit;
}

.spaced--s {
    margin-bottom: $spacingUnit / 2;
}

.spaced--l {
    margin-bottom: $spacingUnit * 2;
}

.spaced--x-l {
    margin-bottom: $spacingUnit * 3;
}

.spaced--t {
    margin-top: $spacingUnit;
}

.spaced--t--l {
    margin-top: $spacingUnit * 2;
}

.no-space {
    margin-bottom: 0 !important;
}

.mob--no-space {
    @include mq('tablet', 'max') {
        margin-bottom: 0 !important;
    }
}

.gutter-mob-only {
    margin-left: 20px;
    margin-right: 20px;
}
