/* =========================================================================
   Layout Helpers
   ========================================================================= */

$nudgeAmount: 25px;

.u-flex-stretch {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.u-separator {
    padding-bottom: $spacingUnit;
    border-bottom: 1px solid palette('border');
    margin-bottom: $spacingUnit * 1.5;
}

// @TODO: Rename all uses
.u-inner,
.inner {
    @include responsiveGutter();
}

// @TODO: Rename all uses
.u-inner-wide-only,
.inner--wide-only {
    @include mq('tablet') {
        @include responsiveGutter();
    }
}

.u-gutter {
    margin-left: $spacingUnit;
    margin-right: $spacingUnit;
}
.u-gutter-half {
    margin-left: $spacingUnit / 2;
    margin-right: $spacingUnit / 2;
}

// @TODO better name
.central-gap {
    @include mq('tablet') {
        margin-left: 20%;
        margin-right: 20%;
    }
}

.width-natural {
    max-width: auto;
}

.nudge-up {
    @include mq('tablet') {
        top: -$nudgeAmount;
        margin-bottom: -$nudgeAmount;
        position: relative;
        z-index: 10;
    }
}

// @TODO: Rename all uses to u-padded
.padded,
.u-padded {
    padding: $spacingUnit;
}
.u-padded-top {
    padding-top: $spacingUnit;
}

// @TODO: Rename to u-margin-bottom-*
.spaced {
    margin-bottom: $spacingUnit;
}

.spaced--s {
    margin-bottom: $spacingUnit / 2;
}

.spaced--l {
    margin-bottom: $spacingUnit * 2;
}

.spaced--x-l {
    margin-bottom: $spacingUnit * 3;
}

.spaced--t {
    margin-top: $spacingUnit;
}

.spaced--t--l {
    margin-top: $spacingUnit * 2;
}

.u-margin-bottom-flush {
    margin-bottom: .1em;
}

.bordered {
    border: 1px solid palette('border');
}
