.list-spaced {
    li {
        padding: 25px 30px;
        border-bottom: 1px solid lighten(palette('charcoal'), 10%);
        margin-bottom: 0;

        @include mq('tablet') {
            margin-bottom: $spacingUnit / 1.5;
            padding: 0;
            border-bottom: none;
        }
    }
}

.has-body-copy ul,
.list-bullets {
    margin-bottom: 20px;

    li {
        list-style-type: disc;
        margin-left: $spacingUnit;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

.list-tweets {
    li {
        margin-left: 0;
    }
}