.error {
    color: red;
}

@mixin greenLinks {
    color: palette('green');
    font-weight: bold;
    word-break: break-word;
}


a[href^="mailto"] {
    @include greenLinks;
}

.links-emphasised {
    a {
        @include greenLinks;
    }
}

.contrast--high {
    a.link-pink,
    a.link-turquoise,
    a.links-emphasised {
        color: palette('blue') !important;
    }
}
.svgs-white {
    svg {
        fill: #ffffff;
    }
}

@mixin bordered() {
    border: 1px solid rgba(202, 202, 202, 0.5);
}

.bordered {
    @include bordered();
}

.bg--dark {
    background-color: palette('charcoal');
}

.highlight {
    color: palette('blue');
}