/* ==========================================================================
   Typographic Scale
   ========================================================================== */

// very important headings, short word length.
// often paired with overlay-text
h1,
.t1 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(18px, 26px);

    @include mq('xsmall') {
        @include font-and-leading(20px, 30px);
    }

    @include mq('tablet') {
        @include font-and-leading(28px, 44px);
    }
}

// smaller variant of the above, for longer sentences
// often paired with overlay-text
h2,
.t2 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(14px, 22px);
    @include mq('tablet') {
        @include font-and-leading(18px, 28px);
    }
}

// mid-page heading
h3,
.t3 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(16px, 22px);
    @include mq('tablet') {
        @include font-and-leading(20px, 28px);
    }
}

// minor headings
h4,
.t4 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(16px, 22px);
}

// standard body text
.t5 {
    @include t5();
}

// yep, the numerical discrepancy is deliberate here
h5,
.t6 {
    @include roboto();
    font-weight: 400;
    @include font-and-leading(13px, 20px);
}

h6,
.t7 {
    @include roboto();
    font-weight: 400;
    @include font-and-leading(14px, 24px);
}

.t8 {
    font-size: 22px;
}

/**
 * Modifier class which adds a border below the text
 */
.t--underline:after {
    content: '';
    display: block;
    width: 80px;
    padding-top: 10px;
    border-bottom: 3px solid;
}

/**
 * Modifier to add extra tracking to .t headings
 */
.t--tracking {
    letter-spacing: 2px;
}

/* ==========================================================================
   Typographic Utilities
   ========================================================================== */

.u-uppercase {
    text-transform: uppercase !important;
}

.u-weight-light {
    font-weight: 100 !important;
}

.u-weight-normal {
    font-weight: 400 !important;
}

.u-weight-heavy {
    font-weight: bold !important;
}

.u-link-minimal {
    text-decoration: none;
}

.u-link-unstyled {
    color: inherit;

    &,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.u-caption {
    font-size: 14px;
    opacity: 0.75;
}

.u-constrained-content {
    max-width: 35em;
}
