/* ==========================================================================
   Typographic Scale
   ========================================================================== */

h1,
.t1 {
    @include poppins();
    @include font-and-leading(22px, 28px);
    font-weight: 600;
}

h2,
.t2 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(20px, 26px);
}

h3,
.t3 {
    @include roboto();
    @include font-and-leading(20px, 26px);
    font-weight: 400;
}

h4,
.t4 {
    @include poppins();
    @include font-and-leading(18px, 26px);
    font-weight: 600;
}

h5,
.t5 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(16px, 22px);
}

h6,
.t6 {
    @include poppins();
    font-weight: 600;
    @include font-and-leading(14px, 22px);
}

.t7 {
    @include roboto();
    font-weight: 400;
    @include font-and-leading(14px, 20px);
}

.t8 {
    @include roboto();
    font-weight: 400;
    @include font-and-leading(13px, 20px);
}

/**
 * Modifier class which adds a border below the text
 */
.t--underline:after {
    @include underlined();
}

