{% macro sectionLinks(sectionLinks) %}
    <ul class="section-links">
        {% for sectionLink in sectionLinks %}
            <li class="section-links__item">
                <a class="section-links__link" href="{{ sectionLink.href }}">
                    {{ sectionLink.label }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
