{% from "components/hero.njk" import hero %}
{% from "components/media.njk" import mediaAside %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set socialImage = heroImage %}

{% block content %}
    <main role="main">
        {% set pageAccent = content.themeColour  %}
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose s-prose--long u-constrained-content-wide">
                    {{ content.introduction | safe }}
                </div>

                {# Content segments #}
                {% if content.segments.length > 0 %}
                    {% for segment in content.segments %}
                        <div id="{{ segment.anchor | default('segment-' + loop.index, true) }}">
                            {% if segment.type === 'segment' %}
                                <div class="s-prose s-prose--long u-constrained-content-wide">
                                    <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ segment.title }}</h2>
                                    {{ segment.content | safe }}
                                </div>
                            {% elseif  segment.type === 'pullQuote' %}
                                {{ mediaAside(
                                    quoteText = segment.quoteText,
                                    linkText = segment.linkText,
                                    linkHref = segment.linkUrl,
                                    imageUrl = segment.quoteImage,
                                    imageCaption =  segment.quoteImageCaption,
                                    accentColor = pageAccent
                                ) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}
