{% from "../../components/hero.njk" import sectionHero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroImage = createHeroImage({
        small: 'hero/jobs-small.jpg',
        medium: 'hero/jobs-medium.jpg',
        large: 'hero/jobs-large.jpg',
        default: 'hero/jobs-medium.jpg',
        caption: 'Street Dreams, Grant £9,000'
    }) %}

    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = 'blue'
        )
    }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only accent--blue a--border-top content-box has-body-copy">

            <div class="align--center">
                <a class="btn accent--pink a--btn central-gap spaced--l" href="{{ buildUrl('toplevel', 'jobs') }}">{{ copy['call-to-action'] }}</a>
            </div>

            {% for benefit in copy.benefits %}
                <h3 class="t3">{{ benefit.title }}</h3>
                {{ benefit.text | safe }}
            {% endfor %}

        </div>

        <div class="inner">
            <img src="{{ 'jobs/equality-sponsors.png' | getImagePath }}" alt="The logos of Positive About Disabled People, Stonewall, Investors In People, Business Disability Forum and Living Wage Employer" />
        </div>

    </article>

{% endblock %}
