{% from "components/hero.njk" import sectionHero %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.streetDreams %}
{% set socialImage = heroImage %}

{% block content %}
    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = 'blue'
        )
    }}

    <main class="nudge-up">
        <div class="inner--wide-only accent--blue a--border-top content-box s-prose">
            <div class="u-align-center">
                <a class="btn accent--pink a--btn central-gap spaced--l" href="{{ buildUrl('toplevel', 'jobs') }}">{{ copy['call-to-action'] }}</a>
            </div>

            {% for benefit in copy.benefits %}
                <h3 class="t2">{{ benefit.title }}</h3>
                {{ benefit.text | safe }}
            {% endfor %}
        </div>

        <div class="inner spaced">
            <img src="{{ 'jobs/equality-sponsors.png' | getImagePath }}" alt="The logos of Positive About Disabled People, Stonewall, Investors In People, Business Disability Forum and Living Wage Employer" />
        </div>
    </main>
{% endblock %}
