{% from "components/hero.njk" import hero %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.streetDreams %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'blue' %}
    {{
        hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}

    <main class="nudge-up">
        <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            <div class="u-align-center">
                <a class="btn accent--pink a--btn central-gap spaced--l" href="{{ buildUrl('toplevel', 'jobs') }}">{{ copy['call-to-action'] }}</a>
            </div>

            <div class="s-prose s-prose--long accent-content--{{ pageAccent }}">
                {% for benefit in copy.benefits %}
                    <h2>{{ benefit.title }}</h2>
                    {{ benefit.text | safe }}
                {% endfor %}
            </div>
        </div>

        <div class="inner spaced">
            <img src="{{ 'jobs/equality-sponsors.png' | getImagePath }}"
                alt="The logos of Positive About Disabled People, Stonewall, Investors In People, Business Disability Forum and Living Wage Employer" />
        </div>
    </main>
{% endblock %}
