{% from "components/nav.njk" import selectionTrail %}
{% from "components/news.njk" import blogTeaser with context %}

{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'cyan' %}

    <main role="main" id="content">
        <section class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            {{ selectionTrail(activeBreadcrumbs) }}
            <h1 class="u-visually-hidden">{{ title }}</h1>
            <ol class="blog-listing">
                {% for entry in entries %}
                    <li class="blog-listing__item">
                        {{ blogTeaser(entry) }}
                    </li>
                {% endfor %}
            </ol>
        </section>
    </main>
{% endblock %}
