{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', title, 't1') }}
    {% endset %}

    {{ hero.header('contact', heroContent, 'turquoise') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only links-emphasised">

            {% set applicationQuery %}
                <h3 class="t3">{{ copy.offices.england }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0345 4 10 20 30' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 {{ copy.plus }} 0345 4 10 20 30 ({{ copy['hearing-speech-impairment'] }})<br />
                    <strong class="highlight">{{ copy.methods.email }}</strong>: <a href="mailto:general.enquiries@biglotteryfund.org.uk">general.enquiries@biglotteryfund.org.uk</a><br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: 1 Plough Place, {{ copy.offices.london }}, EC4A 1DE
                </p>

                <h3 class="t3">{{ copy.offices.ni }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '028 9055 1455' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 {{ copy.plus }} 028 9055 1431 ({{ copy['hearing-speech-impairment'] }})<br />
                    <strong class="highlight">{{ copy.methods.fax }}</strong>: 028 9055 1445<br />
                    <strong class="highlight">{{ copy.methods.email }}</strong>: <a href="mailto:enquiries.ni@biglotteryfund.org.uk">enquiries.ni@biglotteryfund.org.uk</a><br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: 1 Cromac Quay, Belfast, BT7 2JD
                </p>

                <h3 class="t3">{{ copy.offices.scotland }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0300 123 7110' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 0300 123 7110 ({{ copy['hearing-speech-impairment']}})<br />
                    <strong class="highlight">{{ copy.methods.bsl }}</strong>: {{ copy['bsl-scotland'] }}<br />
                    <strong class="highlight">{{ copy.methods.email }}</strong>: <a href="mailto:advicescotland@biglotteryfund.org.uk">advicescotland@biglotteryfund.org.uk</a><br />
                    <strong class="highlight">{{ copy.methods.switchboard }}</strong>: {{ '0141 2421400' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: Pacific House, 70 Wellington Street, Glasgow, G2 6UA
                </p>

                <h3 class="t3">{{ copy.offices.wales }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0300 123 0735' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 {{ copy.plus }} 0300 123 0735 ({{ copy['hearing-speech-impairment'] }})<br />
                    <strong class="highlight">{{ copy.methods.email }}</strong>: <a href="mailto:{{ copy.wales.email }}">{{ copy.wales.email }}</a><br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: {{ copy.wales.address1 }}<br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: {{ copy.wales.address2 }}<br />
                </p>

                <h3 class="t3">{{ copy.ukPortfolio.title }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0345 4 10 20 30' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 {{ copy.plus }} 0300 123 4567 ({{ copy['hearing-speech-impairment'] }})<br />
                    <strong class="highlight">{{ copy.methods.email }}</strong>: <a href="mailto:{{ copy.ukPortfolio.email }}">{{ copy.ukPortfolio.email }}</a><br />
                    <strong class="highlight">{{ copy.methods.address }}</strong>: 1 Plough Place, {{ copy.offices.london }}, EC4A 1DE<br />
                </p>
            {% endset %}

            {% set grantQuery %}
                {{ copy.topics.grantQuery.body | safe }}
            {% endset %}

            {% set feedback %}
                {{ copy.topics.feedback.body | safe }}
            {% endset %}

            {% set other %}
                <h3 class="t3">{{ copy.offices.corporate }}</h3>

                <p>
                    1 Plough Place<br />
                    {{ copy.offices.london }}<br />
                    EC4A 1DE
                </p>

                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '020 7211 1800' | makePhoneLink | safe }} {{ copy.or }} {{ '0300 500 5050' | makePhoneLink | safe }}<br />
                    <strong class="highlight">{{ copy.methods['text-relay'] }}</strong>: 18001 {{ copy.plus }} 020 7211 1800 {{ copy.or }} 0300 500 5050 ({{ copy['hearing-speech-impairment'] }})<br />
                    <strong class="highlight">{{ copy.methods.fax }}</strong>: 020 7211 1750
                </p>
            {% endset %}

            {% set pressQuery %}
                <h3 class="t3">{{ copy.offices.england }}/{{ copy.offices.uk }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '020 7211 1888' | makePhoneLink | safe }}<br />
                    ({{ copy['out-of-hours'] }}: 07867 500572)<br />
                    <strong class="highlight">Email:</strong> <a href="mailto:pressoffice@biglotteryfund.org.uk">pressoffice@biglotteryfund.org.uk</a>
                </p>

                <h3 class="t3">{{ copy.offices.ni }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0141 242 1458' | makePhoneLink | safe }}<br />
                    ({{ copy['out-of-hours'] }}: {{ '07580 811 135' | makePhoneLink | safe }})
                </p>

                <h3 class="t3">{{ copy.offices.scotland }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '0141 242 1451' | makePhoneLink | safe }}<br />
                    ({{ copy['out-of-hours'] }}: {{ '07880 737 157' | makePhoneLink | safe }})
                </p>

                <h3 class="t3">{{ copy.offices.wales }}</h3>
                <p>
                    <strong class="highlight">{{ copy.methods.phone }}</strong>: {{ '029 2067 8236' | makePhoneLink | safe }}<br />
                    ({{ copy['out-of-hours'] }}: {{ '07870 566 867' | makePhoneLink | safe }})
                </p>
            {% endset %}

            {{ segment.segment(copy.topics.applicationQuery.title, applicationQuery, 'blue', 'images/contact/1.jpg') }}
            {{ segment.segment(copy.topics.grantQuery.title, grantQuery, 'orange', 'images/contact/2.jpg') }}
            {{ segment.segment(copy.topics.feedback.title, feedback, 'green', 'images/contact/4.jpg') }}
            {{ segment.segment(copy.topics.pressQuery.title, pressQuery, 'pink', 'images/contact/3.jpg', id = anchors.contactPress) }}
            {{ segment.segment(copy.topics.complaints.title, copy.topics.complaints.body, 'green-dark', 'images/contact/6.jpg', id = anchors.contactComplaints) }}
            {{ segment.segment(copy.topics.fraud.title, copy.topics.fraud.body, 'brown', 'images/contact/7.jpg', id = anchors.contactFraud) }}
            {{ segment.segment(copy.topics.other.title, other, 'turquoise', 'images/contact/5.jpg') }}
        </div>

    </article>

{% endblock %}
