{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% set bodyClass = "footer--no-margin" %}
{% extends "../../layouts/main.njk" %}

{% block title %}{{ copy.title | striptags(true) }} | {% endblock %}

{% macro makeNumber(number, numberSuffix = false) %}
    <span class="number">{{ number }}</span>
    {% if numberSuffix %}<span class="number number--suffix">{{ numberSuffix }}</span>{% endif %}
{% endmacro %}

{% macro statBlock(number, caption, numberPrefix = false, numberSuffix = false, numberFirst = false, extraClass = false) %}
    <li class="grid__item stats__icon">
        <div class="stats__icon__detail {% if extraClass %} {{ extraClass }}{% endif %}">
            {% if numberPrefix %}<span class="caption">{{ numberPrefix }}</span>{% endif %}
            {% if numberFirst %}
                {{ makeNumber(number, numberSuffix) }}
                <span class="caption">{{ caption }}</span>
            {% else %}
                <span class="caption">{{ caption }}</span>
                {{ makeNumber(number, numberSuffix) }}
            {% endif %}
        </div>
    </li>
{% endmacro %}


{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', copy.title, 't2') }}
    {% endset %}

    {{ hero.header('data', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner accent--pink a--border-top stats-holder content-box content-box--borderless">
            <h3 class="t3 t3--a accent--pink">{{ copy.keyStats }}</h3>

            <ul class="unstyled grid grid--3-up grid--bordered grid--equal grid--wide-only stats">
                {% for stats in copy.data %}
                    {{ statBlock(
                        number = stats.number.value,
                        caption = stats.caption,
                        numberPrefix = stats.number.prefix,
                        numberSuffix = stats.number.suffix,
                        numberFirst = stats.number.showFirst
                    ) }}
                {% endfor %}
            </ul>
        </div>
    </article>


    <article role="main" class="accent--blue a--border-top map-holder">
        <div class="inner--wide-only expanded map-holder__inner content-box content-box--frameless">
            <h3 class="t3 t3--a accent--blue">{{ copy.map.title }}</h3>

            <div class="map-wrapper">
                {% include "../../includes/uk-svg.njk" %}
            </div>

            <div id="js-map-panes" class="js-paneset">
                {% for region in grants %}
                    <section class="tab__pane map-info accent--blue a--border-top padded region--{{ region.id }}--b-t" id="region-{{ region.id }}">
                        <header>
                            <a href="#region-{{ region.id }}" class="js-tab">{{ copy.regions[region.id] }}</a>
                        </header>
                        <article>
                            <h4 class="t3 t3--a region--{{ region.id }}--b-b">{{ copy.regions[region.id] }}</h4>

                            <h5 class="map-info__stat t3 accent--blue a--text">{{ region.population | numberWithCommas }}</h5>
                            <h6 class="t6"><strong>{{ copy.map.population }}</strong></h6>

                            <h5 class="map-info__stat t3 accent--blue a--text">{{ region.totalAwarded }}</h5>
                            <h6 class="t6"><strong>{{ copy.map.totalAwarded }}</strong></h6>

                            <h5 class="map-info__stat t3 accent--blue a--text">{{ region.beneficiaries | numberWithCommas }}</h5>
                            <h6 class="t6"><strong>{{ copy.map.totalBeneficiaries }}</strong></h6>
                        </article>
                    </section>
                {% endfor %}
            </div>

        </div>
    </article>

{% endblock %}