{% from "components/hero.njk" import hero %}
{% from "components/data.njk" import statsGrid %}

{% extends "../../layouts/main.njk" %}

{% block title %}{{ copy.title | striptags(true) }} | {% endblock %}

{% set heroImage = heroImages.youngShoulders %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'blue' %}

    <main role="main">
        {{
            hero(
                titleText = copy.title,
                image = heroImage,
                accent = pageAccent
            )
        }}

        <div class="nudge-up">
            <div class="inner accent--pink a--border-top stats-holder content-box content-box--borderless">
                <h2 class="t2 t--underline accent--pink">{{ copy.keyStats }}</h2>
                {{ statsGrid(copy.data) }}
            </div>

            <aside class="map-holder accent--{{ pageAccent }} a--border-top">
                <div class="map-holder__inner inner--wide-only u-padded">
                    <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ copy.map.title }}</h2>

                    <div class="map-wrapper" role="tablist">
                        {% include "../../includes/uk-svg.njk" %}
                    </div>

                    <div id="js-map-panes" class="js-paneset">
                        {% for region in grants %}
                            <section id="region-{{ region.id }}" class="tab__pane{% if loop.first %} pane--active{% endif %}">
                                <article class="map-info accent--{{ pageAccent }} a--border-top padded region--{{ region.id }}--b-t">
                                    <h3 class="t2 t--underline region--{{ region.id }}--b-b">{{ copy.regions[region.id] }}</h3>

                                    <p class="map-info__stat">
                                        <span class="map-info__stat-data t2 accent--{{ pageAccent }} a--text">{{ region.population | numberWithCommas }}</span>
                                        <span class="map-info__stat-caption t8"><strong>{{ copy.map.population }}</strong></span>
                                    </p>

                                    <p class="map-info__stat">
                                        <span class="map-info__stat-data t2 accent--{{ pageAccent }} a--text">{{ region.totalAwarded }}</span>
                                        <span class="map-info__stat-caption t8"><strong>{{ copy.map.totalAwarded }}</strong></span>
                                    </p>

                                    <p class="map-info__stat">
                                        <span class="map-info__stat-data t2 accent--{{ pageAccent }} a--text">{{ region.beneficiaries | numberWithCommas }}</span>
                                        <span class="map-info__stat-caption t8"><strong>{{ copy.map.totalBeneficiaries }}</strong></span>
                                    </p>
                                </article>
                            </section>
                        {% endfor %}
                    </div>

                </div>
            </aside>
        </div>
    </main>
{% endblock %}
