{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% set bodyClass = "footer--no-margin" %}
{% extends "../../layouts/main.njk" %}

{% macro makeNumber(number, numberSuffix = false) %}
    <span class="number">{{ number }}</span>
    {% if numberSuffix %}<span class="number number--suffix">{{ numberSuffix }}</span>{% endif %}
{% endmacro %}

{% macro statBlock(number, caption, numberPrefix = false, numberSuffix = false, numberFirst = false, extraClass = false) %}
    <li class="grid__item stats__icon">
        <div class="stats__icon__detail {% if extraClass %} {{ extraClass }}{% endif %}">
            {% if numberPrefix %}<span class="caption">{{ numberPrefix }}</span>{% endif %}
            {% if numberFirst %}
                {{ makeNumber(number, numberSuffix) }}
                <span class="caption">{{ caption }}</span>
            {% else %}
                <span class="caption">{{ caption }}</span>
                {{ makeNumber(number, numberSuffix) }}
            {% endif %}
        </div>
    </li>
{% endmacro %}


{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', 'Key data about the Big Lottery Fund: <br />financial year 2016/17', 30, 'minor hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('data', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner p-text accent--pink accent-b-t bg-plain stats-holder pos-rel">
            <h3 class="t9 t9--a m-t">Key statistics</h3>

            <ul class="unstyled grid grid--3-up grid--bordered grid--equal grid--wide-only stats">
                {{ statBlock('£712.7m', 'Total value of funding awarded', extraClass = 'accent--blue accent-b-l') }}
                {{ statBlock('13,824', 'Total number of grants awarded') }}
                {{ statBlock('12,352', 'Number of grants under £10,000', numberSuffix = '(89.4%)') }}

                {{ statBlock('9,377,362', 'Total number of expected beneficiaries', extraClass = 'accent--pink accent-b-l') }}
                {{ statBlock('£10,805,105', 'to award partners to distribute to local projects', numberPrefix = 'We gave', numberFirst = true) }}
                {{ statBlock('10,657', 'Number of charities funded in the UK') }}

                {{ statBlock('£164m', 'will support children and young people', numberPrefix = 'Over', numberFirst = true, extraClass = 'accent--blue accent-b-l') }}
                {{ statBlock('£387m', 'will improve environments and facilities', numberPrefix = 'Over', numberFirst = true) }}
                {{ statBlock('£551m', 'will support improved mental wellbeing', numberPrefix = 'Over', numberFirst = true) }}
            </ul>
        </div>
    </article>


    <article role="main" class="accent--blue accent-b-t map-holder">
        <div class="inner--wide-only p-text pos-rel">
            <h3 class="t9 t9--d m-b--l m-t">Our Year in Numbers</h3>

            <div class="map-wrapper">
                {% include "../../includes/uk-svg.njk" %}
            </div>

            <div id="js-map-panes">
                {% for region in grants %}
                    <div class="js-pane tab-pane map-info accent--blue accent-b-t p bg-plain region--{{ region.id }}--b-t" id="region-{{ region.id }}">
                        <h4 class="t9 t9--d region--{{ region.id }}--b-b m-b">{{ region.name }}</h4>

                        <h5 class="t4 m-t accent--blue accent-text">{{ region.population | numberWithCommas }}</h5>
                        <h6 class="t5">Population</h6>

                        <h5 class="t4 m-t accent--blue accent-text">{{ region.totalAwarded }}</h5>
                        <h6 class="t5">Total awarded</h6>

                        <h5 class="t4 m-t m-b-none accent--blue accent-text">{{ region.beneficiaries | numberWithCommas }}</h5>
                        <h6 class="t5">Total beneficiaries</h6>
                    </div>
                {% endfor %}
            </div>

        </div>
    </article>

{% endblock %}