{% from "../../components/cards.njk" import photoCard with context %}
{% from "../../components/tabs.njk" import tabs %}
{% import "../../components/headers.njk" as headers %}
{% import "../../components/hero.njk" as hero %}

{% extends "../../layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set howToSucceed %}
    <div class="content-box content-box--borderless">
        <div class="s-prose s-prose--long u-constrained-content-wide">
        <p><strong>Talk to us &ndash; we're really interested in your ideas</strong>. And we're here to support you to make the best application possible.</p>
        <p>We're looking to fund projects that meet one or more of the objectives below:</p>

        <ul class="list-bullets list--indented accent--pink a--text u-weight-heavy">
            <li>More young people have the skills they need for the future</li>
            <li>Young people have better relationships with their support networks and communities</li>
            <li>Young people have improved health and wellbeing</li>
        </ul>

        <p>We fund projects which can show us that young people are fully involved in the development, design, running and evaluation of the project.</p>
        <p><strong>How have you involved young people and the community in designing your project?</strong> Show us that you've really listened to what they said and understand why the project is needed.</p>
        <p><strong>Don't just listen to young people.</strong> Listen to their support networks and communities too, and show us how their aspirations are reflected in your plans.</p>
        <p><strong>It can be good to involve parents and guardians at an early stage.</strong> If they understand how you can help, they're more likely to encourage young people to get involved.</p>
        <p><strong>It's important that young people are involved in running your project.</strong> Tell us how you'll make sure their voices are heard and their advice acted on.</p>
        <p><strong>We want to back projects that suit all kinds of young people.</strong> Include a range of interests and experience, as well as different levels of confidence and ability.</p>
        <p><strong>Show us how your project is different from others that are already out there.</strong> Or how you plan to collaborate with others who are similar.</p>
        <p><strong>Be clear and direct in your application.</strong> Use facts and evidence, and focus on the problems you want your project to address.</p>
        <p><strong>Most important &ndash; give us a call</strong>.  We're available on {{ '02890 551455' | makePhoneLink | safe }} if you have any questions or want to talk about your project idea.</p>
        </div>
    </div>
{% endset %}

{% set beforeYouApply %}
    <div class="content-box content-box--borderless">
        <div class="s-prose s-prose--long u-constrained-content-wide">
        <p>There are seven stages to the process of being awarded a grant:</p>

        {% set beforeApplyContents = [{
            id: 'check',
            title: 'Check if you\'re eligible',
            content: "<p><a href=\"#checkYouAreEligible\">Find out if you’re eligible</a></p>"
        }, {
            id: 'develop',
            title: 'Develop your application',
            content: "<p>In <a href=\"#howToSucceed\">How to succeed</a> you’ll find guidance on planning your project.</p>"
        }, {
            id: 'apply',
            title: 'Apply for funding',
            content: "<p><a href=\"#applyForFunding\">Find out how to apply</a>.</p>"
        }, {
            id: 'assess',
            title: 'Get an initial assessment',
            content: '<p>We\'ll be looking at how your project:</p><ul class="list-bullets list--indented">
                <li>meets the programme aims and outcomes</li>
                <li>involves young people and meets needs that they\'ve identified</li>
                <li>complements other services in your area</li>
                <li>brings changes or benefits for young people</li>
            </ul>
            <p>We may get in touch with you if we need more information about your project.</p>'
        }, {
            id: 'feedback',
            title: 'Get initial feedback',
            content: "<p>A member of our team will call you to let you know the outcome of the initial assessment. If we decide not to proceed with your application, we'll give you feedback at this stage.</p><p>If we decide to proceed with your application, we'll work with you to arrange a visit to your organisation.</p>"
        }, {
            id: 'visit',
            title: 'Host a visit',
            content: "<p>We love meeting our applicants in person and seeing the great work they do. We'll let you know how to prepare for our visit, and we may contact you afterwards to get more information.</p>"
        }, {
            id: 'decision',
            title: 'Get a decision',
            content: '<p>Big Lottery Fund staff will consider whether your application is strong enough to be put forward for funding. They\'ll take into account:</p>
                <ul class="list-bullets list--indented">
                    <li>how appropriate and realistic your project is</li>
                    <li>the difference your project will make to young people</li>
                    <li>whether you have the right skills, experience and resources</li>
                </ul>
                <p>Then, if your application is strong enough, the final decision about your success will be made by either staff within the Fund (if your application is under £200,000) or a committee of independent experts and young people (if your application is over £200,000).</p>
                <p><strong>We\'ll let you know the decision within four months of receiving your application.</strong></p>
                <p><strong>If your application is successful</strong> we\'ll send you an offer letter and get in touch to discuss next steps.</p>
                <p><strong>If your application is unsuccessful</strong> we\'ll send you a letter confirming the decision. You can also request a meeting to get detailed feedback.</p>'
        }] %}

        <ol class="u-weight-heavy">
            {% for item in beforeApplyContents %}
                <li><a href="#before-{{ item.id }}">{{ item.title }}</a></li>
            {% endfor %}
        </ol>

        <p>People get in touch with us every day to discuss their ideas, their communities and what matters most to them. Call us on {{ '02890 551455' | makePhoneLink | safe }} Monday to Friday, 9.00am to 5.00pm (not including public holidays).</p>

        {% for item in beforeApplyContents %}
            <h3 id="before-{{ item.id }}" class="t2 t--underline accent--pink a--text">
                {{ loop.index }}. {{ item.title }}
            </h3>
            {{ item.content | safe }}
        {% endfor %}
        </div>
    </div>
{% endset %}

{% set checkYouAreEligible %}
    <div class="content-box content-box--borderless">
        <div class="s-prose s-prose--long u-constrained-content-wide">
        <p>You can apply if you're a voluntary or community group, such as a:</p>

        <ul class="u-weight-heavy">
            <li>charity</li>
            <li>co-operative</li>
            <li>social enterprise</li>
            <li>community interest company</li>
        </ul>

        <p>Partnerships are also welcome to apply as long as they're led by a voluntary, community and social enterprise organisation.</p>

        <p>Independent branches of larger organisations must have their own governing document and be allowed to manage funds and staff without referring to another body.</p>

        <p>If you're a dependent branch of a larger organisation you could still be eligible to apply. To find out call on {{ '02890 551455' | makePhoneLink | safe }} Monday to Friday 9am to 5pm (not including public holidays).</p>

        <p><strong class="accent--pink a--text">We can fund some or all of your project costs</strong>, including:</p>

        <ul class="u-weight-heavy">
            <li>staff salaries</li>
            <li>training</li>
            <li>volunteer expenses</li>
            <li>equipment</li>
            <li>premises costs</li>
            <li>evaluation</li>
            <li>overheads</li>
        </ul>

        <p>You can apply for both revenue costs and capital costs, but capital should be no more than 10% of the total grant that you're applying for.<p>

        <p><strong class="accent--pink a--text">We can't fund:</strong></p>

        <ul class="u-weight-heavy">
            <li>costs for items or activities you have already incurred before you get a decision</li>
            <li>fundraising activities</li>
            <li>activities that are statutory obligations or will replace statutory funding, including activities on the school curriculum</li>
            <li>secondhand vehicles</li>
            <li>activities outside the UK</li>
            <li>projects that lack safeguarding policies, particularly in relation to children and vulnerable people, such as: staff checks, staff training, appropriate staff ratios, and risk assessments. For advice on how to obtain these, see <a href="http://www.nspcc.org.uk">nspcc.org.uk</a></li>
            <li>projects that break <a href="https://www.gov.uk/guidance/state-aid">EU rules about State Aid</a></li>
            <li>projects that lack appropriate insurance</li>
            <li>projects that don't promote equal opportunities and challenge discrimination</li>
            <li>organisations that lack relevant policies and procedures for employment, recruitment and selection procedures</li>
            <li>organisations that lack financial records including personnel and payroll records for staff, for seven years after the grant had ended</li>
        </ul>
        <p>As an organisation that gives out public funds, <a href="/funding/funding-guidance/applying-for-funding/information-checks">we'll check the information you provide us</a>.</p>
        </div>
    </div>
{% endset %}

{% set applyForFunding %}
    <div class="content-box content-box--frameless">
        <div class="s-prose s-prose--long u-constrained-content-wide">
        <p><strong>Before you apply, you'll need to:</strong></p>

        <ul class="u-weight-heavy">
            <li><a href="#checkYouAreEligible"> check if you’re eligible</a></li>
            <li><a href="#howToSucceed">read guidance on how to succeed</a></li>
        </ul>

        <p>
            <a class="btn accent--pink a--btn btn--small"
               href="/assets/files/eyp-application.docx"
               target="_blank"
               data-on="click"
               data-event-category="Download file"
               data-event-action="Click"
               data-event-label="EYP application form">
                Download an application form
            </a>
        </p>

        <p>Please email your application form to {{ 'applicationsni@biglotteryfund.org.uk' | mailto | safe }}.</p>

        <p>If you have any questions or need the form in a different format (such as large print), contact {{ 'enquiries.ni@biglotteryfund.org.uk' | mailto | safe }} or call us on {{ '02890 551455' | makePhoneLink | safe }} Monday to Friday, 9.00am to 5.00pm (not including public holidays).</p>
        </div>
    </div>
{% endset %}

{% block content %}
    {% set heroContent %}
        {{ headers.overlayText('h2', "Empowering Young People", 't2') }}
    {% endset %}

    {{ hero.header('eyp', heroContent, 'pink', "L'Arche Belfast, Grant: £573,164") }}

    <article role="main" class="nudge-up">
        <div class="content-box content-box--flush inner--wide-only accent--pink a--border-top u-no-bottom-border">
            <div class="s-prose s-prose--long u-constrained-content-wide">
                <p>Empowering Young People is a grants programme designed to support projects in Northern Ireland that give young people aged 8 to 25 the ability to overcome the challenges they face.</p>

                <p><strong>Grant size</strong>: £30,000 to £500,000<br />
                    <strong>Grant duration</strong>: 2 to 5 Years</p>
            </div>
        </div>

        <div class="inner--wide-only spaced">
            {{
                tabs(
                    id = 'eyp',
                    content = [{
                        title: "How to succeed",
                        content: howToSucceed,
                        active: true,
                        id: 'howToSucceed'
                    }, {
                        title: "Before you apply",
                        content: beforeYouApply,
                        id: 'beforeYouApply'
                    }, {
                        title: "Check if you’re eligible",
                        content: checkYouAreEligible,
                        id: 'checkYouAreEligible'
                    }, {
                        title: "Applying for funding",
                        content: applyForFunding,
                        id: 'applyForFunding'
                    }]
                )
            }}
        </div>

        {% set exampleProjects = [{
            name: 'Voice of Young People in Care',
            description: 'Builds young people\'s skills and confidence, involving them in decisions about their care, and letting them share their views to shape the care system.',
            image: 'eyp/vypc.jpg',
            amount: '£590,000',
            link: '/funding/big-stories/voice-of-young-people-in-care'
        }, {
            name: 'Bytes',
            description: 'Supports young people aged 16 to 25 who are facing employment barriers, helping them connect with their community and improve self-esteem.',
            image: 'eyp/bytes.jpg',
            amount: '£464,827',
            link: '/funding/big-stories/bytes'
        }, {
            name: 'Foyle Down Syndrome Trust',
            description: 'Helps children and young people with Down Syndrome, offering activities such as gardening, health workshops and a mentoring support programme.',
            image: 'eyp/fdst.jpg',
            amount: '£599,032',
            link: '/funding/big-stories/foyle-down-syndrome-trust'
        }] %}

        <div class="inner">
            <h3 class="t2">Examples of projects that have been funded</h3>
            <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                {% for project in exampleProjects %}
                    <li class="grid__item">
                        {{
                            photoCard(
                                title = project.name,
                                subTitle = "Grant: " + project.amount,
                                description = project.description,
                                link = project.link,
                                image = project.image,
                                accent = 'pink'
                            )
                        }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}
