{% from "components/hero.njk" import sectionHero %}
{% from "components/links.njk" import sectionLinks %}
{% from "components/programmes.njk" import programmeCard with context %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.activePlus %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}

    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}

    <main class="nudge-up">
        <section class="content-box content-box--even-inset
            inner--wide-only accent--{{ pageAccent }} a--border-top">
            {{ sectionLinks(copy.sectionLinks) }}
        </section>

        {% if latestProgrammes.length > 0 %}
            <section class="content-box content-box--even-inset
                inner--wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t1">{{ copy.latestProgrammes }}</h2>

                <ul class="u-list-unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                    {% for programme in latestProgrammes %}
                        <li class="grid__item">
                            {{ programmeCard(
                                isMinimal = true,
                                accent = 'pink',
                                programme = programme.content
                            ) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </main>
{% endblock %}
