{% from "components/hero.njk" import sectionHero %}

{% extends "layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = createHeroImage({
    small: 'hero/active-plus-communities-small.jpg',
    medium: 'hero/active-plus-communities-medium.jpg',
    large: 'hero/active-plus-communities-large.jpg',
    default: 'hero/active-plus-communities-medium.jpg',
    caption: 'Active Plus Communities'
}) %}

{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}

    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}

    <main class="nudge-up">
        <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            <ul class="u-list-unstyled">
                {% for sectionLink in copy.sectionLinks %}
                    <li>
                        <a class="u-link-section" href="{{ localify(sectionLink.href) }}">
                            {{ sectionLink.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}
