{% from "components/icons.njk" import iconArrowLeft, iconArrowRight %}
{% from "components/caseStudies.njk" import caseStudyFeature %}
{% from "components/forms.njk" import textInput, radios with context %}
{% from "components/hero.njk" import homepageSuperHero %}
{% from "components/news.njk" import articleTeaser with context %}
{% from "components/social.njk" import socialLinks %}

{% extends "layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}
{% set globalFootnote = "* " + __('global.footerLinks.grantFootnote') %}

{% block title %}{{ title }} | {% endblock %}

{% set socialImage = heroImage.default %}

{% block content %}
    {{
        homepageSuperHero(
            copy = copy.hero,
            imageDefault = heroImage.default,
            imageCandidates = heroImage.candidates
        )
    }}

    <article role="main">
        <div class="inner">
            {# case studies #}
            <div class="carousel js-carousel
                swiper-container
                accent--blue a--border-top"
                data-name="Case-studies carousel">
                <div class="carousel__controls">
                    <button class="btn--carousel btn--carousel--round btn--carousel--prev js-carousel-prev"
                        aria-label="When clicked this shows content from the previous slide">
                        {{ iconArrowLeft() }}
                        <span class="u-visually-hidden">{{ __('global.accessibility.previousItem') }}</span>
                    </button>
                    <button class="btn--carousel btn--carousel--round btn--carousel--next js-carousel-next"
                        aria-label="When clicked this shows content from the next slide">
                        {{ iconArrowRight() }}
                        <span class="u-visually-hidden">{{ __('global.accessibility.nextItem') }}</span>
                    </button>
                </div>

                <ul class="swiper-wrapper unstyled">
                    {% for c in copy.caseStudies %}
                        <li class="swiper-slide">
                            {{
                                caseStudyFeature(
                                    quoteText = c.quoteText,
                                    quoteName = c.quoteName,
                                    quoteNameCaption = c.quoteNameCaption,
                                    projectName = c.projectName,
                                    imageUrl = c.imageUrl,
                                    imageSmallUrl = c.imageSmallUrl,
                                    link = c.link
                                )
                            }}
                        </li>
                    {% endfor %}
                </ul>

            </div>

            {# funding finder #}
            <div class="central-gap">
                <a href="{{ buildUrl('funding/search-past-grants') }}"
                   class="btn btn--block accent--blue a--btn spaced">{{ copy.browseFundedProjects }}</a>
            </div>

            {# News Posts #}
            {% if news.length %}
                <section class="accent--blue a--border-top">
                    <div class="padded padded--wide-only">
                        <h3 class="t1 t--underline a--text accent--blue">{{ copy.latestNews }}</h3>
                        <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                            {% for article in news %}
                                <li class="grid__item">
                                    {{ articleTeaser(article) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endif %}

        </div>

        <div class="inner--wide-only spaced">
            {# tweets #}
            {% set twitterAccount = appData.config.get('social.twitterAccounts.' + locale)  %}
            <ul class="unstyled grid grid--wide-only grid--equal">
                <li class="grid__item grid__item--large accent--blue a--border-top padded">
                    <a class="twitter-timeline" href="https://twitter.com/{{ twitterAccount }}" data-tweet-limit="3" data-chrome="noheader">Tweets by {{ twitterAccount }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
                <li class="grid__item accent--pink a--border-top">
                    <div class="form-ebulletin padded spaced">
                        {% include "includes/ebulletin.njk" %}
                    </div>
                    {# social buttons #}
                    {{ socialLinks(copy.social) }}
                </li>
            </ul>

        </div>
    </article>

{% endblock %}
