{% import "../../components/hero.njk" as hero %}
{% import "../../components/headers.njk" as headers %}
{% import "../../components/forms.njk" as forms %}

{% extends "../../layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% macro caseStudy() %}
    <ul class="unstyled grid grid--2-up grid--equal m-t-none">
        <li class="grid__item grid__item--image" style="background-image: url({{ 'images/funding/tell-the-world.jpg' | getCachebustedPath }});">
        </li>
        <li class="grid__item">
            <blockquote class="pullquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus urna laoreet condimentum pharetra. Orci varius natoque penatibus.</p>
                <p>Let magnis dis parturient montes, nascetur ridiculus</p>
                <cite>Jane Bloggs</cite>
                <aside>Project name, Grant amount: £123,456</aside>
            </blockquote>
        </li>
    </ul>
{% endmacro %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', "The Big Lottery Fund is the largest funder of community activities in the UK. We distribute money raised by players of the <u>National Lottery</u>", 55, 'minor hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('home', heroContent, 'blue', 'The Sea Cadet Corps, Grant: £14,000') }}

    <article role="main" class="m-t-none">
        <div class="inner">
            <h3 class="t8 align--center intro-header">Here's how you can make a difference in your community...</h3>

            {# funding apply links #}
            <ul class="unstyled grid grid--2-up grid--padded grid--equal grid--wide-only m-t-none">

                {# under 10k #}
                <li class="grid__item">
                    <div class="grid__item__inner grid__item__inner--flex accent--pink-home accent-b-t-l">
                        <a href="{{ buildUrl('', 'under10k') }}">
                            <img src="{{ 'images/home/under10k.jpg' | getCachebustedPath }}" class="grid__item__poster" alt="Children gardening together" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Every year thousands of people apply to National Lottery Awards for All for grants between £500 and £10,000',
                            38,
                            't1--opaque minor minor--smallest grid__item__title',
                            buildUrl('', 'under10k'),
                            false
                        )}}
                    </div>
                    <div class="bg-pale-grey p-cta m-t-none bordered">
                        <a class="accent--pink-home btn btn--cta btn--block btn--mid" href="{{ buildUrl('', 'under10k') }}">
                            <span class="light">Apply for funding</span> <strong>under £10k</strong>
                        </a>
                    </div>
                </li>

                {# over 10k #}
                <li class="grid__item">
                    <div class="grid__item__inner grid__item__inner--flex accent--turquoise accent-b-t-l">
                        <a href="{{ buildUrl('', 'over10k') }}">
                            <img src="{{ 'images/home/over10k.jpg' | getCachebustedPath }}" class="grid__item__poster" alt="Two women laughing while sharing a coffee" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Many people apply for larger sums of money (over £10,000) over longer periods of time',
                            38,
                            't1--opaque minor minor--smallest grid__item__title',
                        buildUrl('', 'over10k'),
                            false
                        )}}
                    </div>
                    <div class="bg-pale-grey p-cta m-t-none bordered">
                        <a class="accent--turquoise btn btn--cta btn--block btn--mid" href="{{ buildUrl('', 'over10k') }}">
                            <span class="light">Apply for funding</span> <strong>over £10k</strong>
                        </a>
                    </div>
                </li>
            </ul>

            {# news posts #}
            {% if news.length %}
                <ul class="accent--blue accent-b-t unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only p-t">
                    {% for n in news %}
                        <li class="grid__item">
                            <h4 class="t3">{{ n['title' | localeify(locale)] | safe}}</h4>
                            <p class="m-t--s">{{ n['text' | localeify(locale)] | safe }} <a href="{{ n['link' | localeify(locale)] }}" class="link-pink">Read more...</a></p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {# funding finder #}
            <div class="central-gap m-b--l">
                <a href="#" class="btn btn--cta btn--cta--large btn--block accent--blue btn--massive">Find out what we funded</a>
            </div>
        </div>

        <div class="inner--wide-only">

            {# case studies #}
            <div class="accent--blue accent-b-t bg-pale-grey pos-rel case-studies">

                <button class="btn--carousel btn--carousel--round btn--carousel--prev js-carousel-prev">
                    {% include "../../includes/svg/arrow-left.svg" %}
                    <span class="visually-hidden">Previous item</span>
                </button>

                <button class="btn--carousel btn--carousel--round btn--carousel--next js-carousel-next">
                    {% include "../../includes/svg/arrow-right.svg" %}
                    <span class="visually-hidden">Next item</span>
                </button>

                <ul class="js-carousel unstyled m-t-none" data-per-page="1">
                    <li>{{ caseStudy() }}</li>
                    <li>{{ caseStudy() }}</li>
                    <li>{{ caseStudy() }}</li>
                    <li>{{ caseStudy() }}</li>
                    <li>{{ caseStudy() }}</li>
                </ul>

            </div>

            {# tweets #}
            <ul class="unstyled grid grid--wide-only grid--equal m-t--l">
                <li class="grid__item grid__item--large accent--blue accent-b-t m-t-none p">
                    <a class="twitter-timeline" href="https://twitter.com/BigLotteryFund" data-tweet-limit="3" data-chrome="noheader">Tweets by BigLotteryFund</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
                <li class="grid__item accent--pink accent-b-t m-t-none">
                    <form class="form-ebulletin p" id="{{ anchors.ebulletin }}" method="post" action="/ebulletin">
                        <h3 class="t9">e-bulletin sign up</h3>

                        {% if request.flash and request.flash('ebulletinStatus') %}
                            {% if request.flash('ebulletinStatus') === 'success' %}
                                <h5 class="t10">Thank you for subscribing to receive updates and news from the Big Lottery Fund</h5>
                                <p class="info-msg">Your personal data is important to us and we will not share it with third parties. We are sure you will enjoy hearing from us, but you can unsubscribe at any time if you wish.</p>
                            {% else %}
                                <h5 class="t10">There was an error signing you up to the e-bulletin</h5>
                                <p class="info-msg">It looks like we're experiencing an error with our e-bulletin tool. Please try again later.</p>
                            {% endif %}
                        {% else %}
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <input type="hidden" name="addressbookid" value="589755">
                            <input type="hidden" name="userid" value="180445">
                            <input type="hidden" name="ReturnURL" value="{{ appData.config.get('ebulletinDestination') }}">

                            <p class="intro">Sign up for our latest news relating to your country:</p>

                            <div class="form-ebulletin--grid">
                                {{ forms.radios('location', [
                                    ['England', 'en', 'cd_ENGLAND_MAIL'],
                                    ['Wales', 'cy', 'cd_WALES_MAIL'],
                                    ['Scotland', 'sc', 'cd_SCOTLAND_MAIL'],
                                    ['Northern Ireland', 'ni', 'cd_NI_MAIL']
                                ]) }}
                            </div>

                            <div class="grid grid--padded">
                                {{ forms.input('cd_FIRSTNAME', 'First name', 'text', required = true, extraClasses = 'grid__item m-b-none') }}
                                {{ forms.input('cd_LASTNAME', 'Last name', 'text', required = true, extraClasses = 'grid__item m-b-none') }}
                            </div>
                            {{ forms.input('cd_ORGANISATION', 'Organisation', 'text', required = false) }}
                            {{ forms.input('Email', 'Email', 'email', required = true) }}

                            <input type="submit" value="Subscribe" class="btn btn--cta btn--pink form-ebulletin__btn" />
                        {% endif %}
                    </form>

                    {# social buttons #}
                    <a href="{{ appData.config.get('social.instagram') }}" class="btn btn--outline accent--blue btn--block">
                        <span class="btn__icon">{% include "../../includes/svg/instagram.svg" %}</span>Follow us on Instagram
                    </a>
                    <a href="{{ appData.config.get('social.facebook') }}" class="btn btn--outline accent--blue btn--block">
                        <span class="btn__icon">{% include "../../includes/svg/facebook.svg" %}</span>Follow us on Facebook
                    </a>
                </li>
            </ul>

        </div>
    </article>

{% endblock %}