{% import "../../components/hero.njk" as hero %}
{% from "../../components/blocks.njk" import projectBlock with context %}

{% extends "../../layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {{
        hero.sectionHero(
            name = 'over10k',
            titleText = copy.title,
            caption = 'Annexe Communities, Grant £1.2M',
            accent = 'turquoise'
        )
    }}

    <article role="main" class="nudge-up">
        <div class="content-box content-box--tint inner--wide-only accent--turquoise a--border-top">
            <p>{{ copy.intro }}</p>

            <h3 class="t8">{{ copy.callToAction }}</h3>

            <ul class="unstyled grid grid--padded grid--equal grid--4-up grid--wide-only">
               <li class="grid__item">
                   <a href="https://www.biglotteryfund.org.uk/funding/funding-finder?area=England"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.england }}</a>
               </li>
               <li class="grid__item">
                   <a href="https://www.biglotteryfund.org.uk/funding/funding-finder?area=Scotland"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.scotland }}</a>
               </li>
               <li class="grid__item">
                   <a href="https://www.biglotteryfund.org.uk/funding/funding-finder?area=Wales"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.wales }}</a>
               </li>
               <li class="grid__item">
                   <a href="https://www.biglotteryfund.org.uk/funding/funding-finder?area=Northern+Ireland"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.northernIreland }}</a>
               </li>
            </ul>
            <div class="central-gap">
                <a href="https://www.biglotteryfund.org.uk/global-content/programmes/uk-wide/uk-portfolio"
                   class="btn accent--turquoise a--btn btn--block btn--small">
                    {{ copy.locations.ukWide }}
                </a>
            </div>

        </div>

        <div class="inner">
            <h3 class="t8">{{ copy.projectExamples }}</h3>
            <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                {% for project in copy.projects %}
                    <li class="grid__item">{{ projectBlock(project, 'accent--turquoise') }}</li>
                {% endfor %}
            </ul>

            <div class="central-gap">
                <a href="https://www.biglotteryfund.org.uk/funding/search-past-grants" class="btn btn--outline accent--turquoise btn--a btn--block btn--small">{{ copy.browseAll }}</a>
            </div>
        </div>

    </article>


{% endblock %}
