{% from "../../components/hero.njk" import sectionHero %}
{% from "../../components/blocks.njk" import projectBlock with context %}

{% extends "../../layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}


    {% set heroImage = createHeroImage({
        small: 'hero/over-10k-small.jpg',
        medium: 'hero/over-10k-medium.jpg',
        large: 'hero/over-10k-large.jpg',
        default: 'hero/over-10k-medium.jpg',
        caption: 'Passion4Fusion, Grant £36,700'
    }) %}

    {{
        sectionHero(
            titleText = copy.title,
            image = heroImage,
            accent = 'turquoise'
        )
    }}

    <article role="main" class="nudge-up">
        <div class="content-box inner--wide-only accent--turquoise a--border-top">
            <p>{{ copy.intro }}</p>
            <h3 class="t1">{{ copy.callToAction }}</h3>

            <ul class="unstyled grid grid--padded grid--equal grid--4-up grid--wide-only">
               <li class="grid__item">
                   <a href="{{ buildUrl('funding/programmes?min=10000&location=england') }}"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.england }}</a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('funding/programmes?min=10000&location=scotland') }}"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.scotland }}</a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('funding/programmes?min=10000&location=wales') }}"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.wales }}</a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('funding/programmes?min=10000&location=northernIreland') }}"
                      class="btn accent--turquoise a--btn btn--block btn--small">{{ copy.locations.northernIreland }}</a>
               </li>
            </ul>
            <div class="central-gap">
                <a href="{{ buildUrl('global-content/programmes/uk-wide/uk-portfolio') }}"
                   class="btn accent--turquoise a--btn btn--block btn--small">
                    {{ copy.locations.ukWide }}
                </a>
            </div>

        </div>

        <div class="inner">
            <h3 class="t1">{{ copy.projectExamples }}</h3>
            <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                {% for project in copy.projects %}
                    <li class="grid__item">{{ projectBlock(project, 'accent--turquoise') }}</li>
                {% endfor %}
            </ul>

            <div class="central-gap spaced">
                <a href="{{ buildUrl('funding/search-past-grants') }}" class="btn btn--outline accent--turquoise btn--a btn--block btn--small">{{ copy.browseAll }}</a>
            </div>
        </div>

    </article>


{% endblock %}
