{% from "components/hero.njk" import hero %}
{% from "components/tabs.njk" import tabs %}
{% from "components/data.njk" import factRiver %}

{% extends "layouts/main.njk" %}


{% block title %}{{ title }} | {% endblock %}

{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}

    {{
        hero(
            accent = pageAccent,
            titleText = title,
            image = heroImage
        )
    }}

   {% set availableFundingContent %}
        <div class="s-prose s-prose--long u-constrained-content-wide">
            <p>{{ copy.sections.availableFunding.introduction | safe }}</p>
            {% for fundingProgramme in copy.sections.availableFunding.fundingProgrammes %}
                <div class="programme-overview spaced--l">
                    <h3 class="t1 accent--{{ pageAccent }} a--text no-space">{{ fundingProgramme.title }}</h3>
                    <h4>{{ fundingProgramme.subTitle }}</h4>
                    {% if fundingProgramme.summaryItems.length > 0 %}
                        <ul>
                            {% for item in fundingProgramme.summaryItems %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <a class="btn accent--pink a--btn" href="{{ fundingProgramme.linkUrl }}">
                        {{ __('global.misc.seeProgramme') }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endset %}

    {% set fundingInRegionContent %}
        {% for group in copy.sections.fundingInRegion.groups %}
            {% if (copy.sections.fundingInRegion.groups.length > 1) %}
                <h2 class="t2 t--underline accent--{{ pageAccent }} a--text">{{ group.description }}</h2>
            {% endif %}
            {{ factRiver(group.facts) }}
        {% endfor %}
    {% endset %}

    {% set aboutIdeasContent %}
        <div class="s-prose s-prose--long u-constrained-content-wide">
            <p>{{ copy.sections.aboutIdeas.introduction | safe }}</p>
            {% for contentPart in copy.sections.aboutIdeas.contentParts %}
                <h3>{{ contentPart.title }}</h3>
                <ul>
                    {% for item in contentPart.summaryPoints %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endset %}

    <main class="nudge-up">
        <section class="content-box content-box--tinted
            inner--wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose u-constrained-content-wide">
                <p>{{ copy.introduction }}</p>
            </div>
        </section>

        {% macro tabContent(title, content) %}
            <div class="content-box content-box--frameless">
                <h2 class="u-visually-hidden">{{ title }}</h2>
                {{ content | safe }}
            </div>
        {% endmacro %}

        {% set tabItems = [{
            "id": "section-1",
            "title": copy.sections.availableFunding.title,
            "content": tabContent(
                title = copy.sections.availableFunding.title,
                content = availableFundingContent
            ),
            "active": true
        }, {
            "id": "section-2",
            "title": copy.sections.fundingInRegion.title,
            "content": tabContent(
                title = copy.sections.fundingInRegion.title,
                content = fundingInRegionContent
            )
        }, {
            "id": "section-3",
            "title": copy.sections.aboutIdeas.title,
            "content": tabContent(
                title = copy.sections.aboutIdeas.title,
                content = aboutIdeasContent
            )
        }] %}

        <div class="inner--wide-only">
            {{ tabs(id = 'tabs', content = tabItems) }}
        </div>
    </main>
{% endblock %}
