{% from "components/hero.njk" import sectionHero %}
{% from "components/links.njk" import sectionLinks %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.grassroots %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}

    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}

    <main class="nudge-up">
        {# Section Links #}
        <section class="content-box content-box--even-inset
            inner--wide-only accent--{{ pageAccent }} a--border-top">
            <p>{{ copy.intro }}</p>
            {{ sectionLinks(copy.sectionLinks) }}
        </section>

        {# Downloads #}
        <section class="content-box content-box--even-inset
            inner--wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose">
                <h2 class="t1">{{ copy.downloads.title }}</h2>
                <ul class="u-list-unstyled">
                    {% for link in copy.downloads.links %}
                        <li><a class="is-download-link" href="{{ link.href }}">{{ link.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
