{% extends "../../layouts/styleguide.njk" %}

{% from "../../components/caseStudy.njk" import caseStudy %}
{% from "../../components/data.njk" import statsGrid %}
{% from "../../components/hero.njk" import homepageSuperHero, sectionHero, miniatureHero %}
{% from "../../components/news.njk" import articleTeaser with context %}
{% from "../../components/styleguide.njk" import sgSectionHeader, sgBlock %}

{% block content %}

{# ================================ #}
{# Typography                       #}
{# ================================ #}

{{ sgSectionHeader('Typography') }}

{% set sgContent %}
    {% for n in range(1, 9) %}
        <h2 class="t{{ n }}">T{{ n }} Typographic Style</h2>
    {% endfor %}
{% endset %}
{{ sgBlock('Typographic Scale', sgContent) }}


{% set sgContent %}
    <h2 class="t2 t--underline accent--pink a--text">Title with underline</h2>
    <h2 class="t3 t--tracking">Title with tracking</h2>
{% endset %}
{{ sgBlock('Typography: Modifiers', sgContent) }}


{% set sgContent %}
    <h2 class="t2 accent--cyan overlay-text">
        <span>T2 typographic style with overlay text</span>
    </h2>
    <br />{# TODO: Should overlay-text have some default margin? #}
    <h2 class="t6 accent--cyan overlay-text">
        <span>T6 typographic style with overlay text</span>
    </h2>
{% endset %}
{{ sgBlock('Overlay text', sgContent) }}

{% set sgContent %}
    <div class="s-prose s-prose--long u-constrained-content-wide">
        <p>When you have a project idea you want to put to us please give us a call to talk it through. We’ll be able to tell you if it’s something that we’d fund.</p>

        <h3 class="t4">Before you get in touch, make sure you have:</h3>

        <ul>
            <li>checked your <a href="#check-eligibility">eligibility</a></li>
            <li>read our guidance on <a href="#how-to-succeed">how to succeed</a></li>
            <li>thought through what you want to tell us - this chat will be part of the way we assess your project</li>
        </ul>

        <p>You can reach us by phoning <a href="tel:03001230735">0300 123 0735</a> or e-mailing <a href="mailto:wales@biglotteryfund.org.uk">wales@biglotteryfund.org.uk</a> Monday to Friday, 9.00am to 5.00pm (not including public holidays) to book an appointment to speak to one of our team, who will call you back within three working days.</p>
    </div>
{% endset %}
{% set sgNotes %}
    <p>
        Prose styles. Adds additional typographic treatment to long blocks of text: emboldens links, formats telephone and email links, indents and adds bullets to lists.
    </p>
{% endset %}
{{ sgBlock('Prose Text', sgContent, sgNotes) }}

{# ================================ #}
{# Buttons                          #}
{# ================================ #}

{{ sgSectionHeader('Buttons') }}

{% set sgContent %}
    <p><button class="btn" type="button">Default Button</button></p>
    <p><button class="btn accent--pink a--btn" type="button">Default Button</button></p>
    <p><button class="btn accent--cyan a--btn" type="button">Default Button</button></p>
{% endset %}
{% set sgNotes %}
    <p>
        Default buttons.
        Buttons can be themed by adding an accent class to the button, e.g. <code>accent--pink a--btn</code>.
    </p>
{% endset %}
{{ sgBlock('Default Button', sgContent, sgNotes) }}

{% set sgContent %}
    <p><button class="btn btn--outline" type="button">Outline Button</button></p>
    <p><button class="btn btn--outline accent--pink a--btn" type="button">Default Button</button></p>
    <p><button class="btn btn--outline accent--cyan a--btn" type="button">Default Button</button></p>
{% endset %}
{% set sgNotes %}
    <p>
        Outline buttons.
        Like default buttons, outline buttons can be themed by adding an accent class to the button.
    </p>
{% endset %}
{{ sgBlock('Outline Buttons', sgContent, sgNotes) }}

{% set sgContent %}
    <p><button class="btn btn--medium" type="button">Medium Button</button></p>
{% endset %}
{{ sgBlock('Medium Buttons', sgContent) }}

{% set sgContent %}
    <p><button class="btn btn--small" type="button">Small Button</button></p>
{% endset %}
{{ sgBlock('Small Buttons', sgContent) }}


{% set sgContent %}
    <div class="o-button-group">
        <button class="btn btn--medium" type="button">Button One</button>
        <button class="btn btn--medium" type="button">Button Two</button>
    </div>
{% endset %}
{% set sgNotes %}
    <p>
        Group a set of buttons together.
        On small screens buttons within a group will be displayed stacked and full-width.
        On wider screens buttons are evenly horizontally spaced.
    </p>
{% endset %}
{{ sgBlock('Button Groups', sgContent, sgNotes) }}


{# ================================ #}
{# Components                       #}
{# ================================ #}

{{ sgSectionHeader('Components') }}

{% set sgContent %}
    {{ homepageSuperHero(
        copy = __('toplevel.home.hero'),
        imageDefault = superHeroImages.default,
        imageCandidates = superHeroImages.candidates
    ) }}
{% endset %}
{{ sgBlock('Hero', sgContent, fullWidth=true) }}


{% set sgContent %}
    {{ sectionHero(
        titleText = 'Funding Programmes',
        image = createHeroImage({
            small: 'hero/young-foundation-small.jpg',
            medium: 'hero/young-foundation-medium.jpg',
            large: 'hero/young-foundation-large.jpg',
            default: 'hero/young-foundation-medium.jpg',
            caption: 'The Young Foundation - Amplify, Grant £1.06M'
        }),
        accent = 'green'
    ) }}
{% endset %}
{% set sgNotes %}
    <p>
        Hero feature used in the header of most pages.
        Consists of an image, title, and caption.
    </p>
{% endset %}
{{ sgBlock('Hero', sgContent, sgNotes, fullWidth=true) }}


{% set sgContent %}
    {{
        articleTeaser({
            title: 'Young people big winners in latest round of National Lottery funding',
            summary: 'A total of £40 million of funding goes to almost 1,400 local and grassroots projects across England, including many supporting young people.',
            link: '#'
        })
    }}
{% endset %}
{{ sgBlock('Article Teaser', sgContent) }}


{% set sgContent %}
    {{

        caseStudy(
            projectName = 'Voice of Young People in Care',
            quoteName = 'Andrea Glenn',
            quoteText = 'I want young people in care to know that they are just as capable of reaching their goals as everyone else.',
            imageUrl = 'home/case-study-1-medium.jpg',
            imageSmallUrl = 'home/case-study-1-small.jpg',
            link = 'funding/big-stories/voice-of-young-people-in-care'
        )
    }}
{% endset %}
{{ sgBlock('Case Studies', sgContent) }}


{% set sgContent %}
    <ul class="unstyled grid grid--2-up grid--padded grid--equal grid--wide-only">
        <li class="grid__item">
            {{ miniatureHero(
                titleText = 'Example Miniature Hero',
                imagePath = 'funding/tell-the-world.jpg',
                imageCaption = 'Three people working together on laptops',
                linkUrl = '#',
                accent = 'pink-mid'
            )}}
        </li>
        <li class="grid__item">
            {{ miniatureHero(
                titleText = 'Example Miniature Hero',
                imagePath = 'funding/local-press.jpg',
                imageCaption = 'Two cooks in chefs\' clothing with another man smiling',
                linkUrl = '#',
                accent = 'blue'
            )}}
        </li>
    </ul>
{% endset %}
{{ sgBlock('Miniature Heroes', sgContent) }}



{% set sgContent %}
    {{ statsGrid(__('toplevel.data.data')) }}
{% endset %}
{{ sgBlock('Stats Grid', sgContent) }}


{% set sgContent %}
    <div class="content-box inner--wide-only accent--turquoise a--border-top">
        {{ __('funding.guidance.getting-press-coverage.body') | safe }}
    </div>
{% endset %}
{{ sgBlock('Content Box', sgContent) }}

{% set sgContent %}
    <div class="content-box content-box--tinted inner--wide-only accent--pink a--border-top">
        <p>Empowering Young People is a grants programme designed to support projects in Northern Ireland that give young people aged 8 to 25 the ability to overcome the challenges they face.</p>
        <p><strong>Grant size</strong>: £30,000 to £500,000<br />
        <strong>Grant duration</strong>: 2 to 5 Years</p>
    </div>
{% endset %}
{% set sgNotes %}
    <p>Tinted variant of a content box. Used to give focus to important blocks of copy on text heavy pages.</p>
{% endset %}
{{ sgBlock('Content Box: Tinted', sgContent, sgNotes) }}

{% endblock %}
