{% import "../../components/hero.njk" as hero %}
{% import "../../components/hero.njk" as hero %}
{% import "../../components/headers.njk" as headers %}
{% from "../../components/blocks.njk" import projectBlock with context %}

{% extends "../../layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', "National Lottery Awards for All &ndash; How to get a grant for up to £10,000", 't2') }}
    {% endset %}

    {{ hero.header('under10k', heroContent, 'blue', 'Somewhere To') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only accent--blue a--border-top content-box">
            <p>National Lottery Funding can help you to make a difference to your community. National Lottery Awards for All offers funding from £300 to £10,000 to support what matters to people and communities.  We will fund organisations with great projects or ideas that:</p>

            <ul class="list-bullets">
                <li>Shape the places and spaces that matter to communities</li>
                <li>Bring more people together and build strong relationships in and across communities</li>
                <li>Enable more people to fulfil their potential by working to address issues at the earliest possible stage</li>
            </ul>

            <h3 class="accent--pink t3 t3--a">Want to know more? Start by telling us where your project is going to be</h3>

            <ul class="unstyled grid grid--padded grid--equal grid--4-up grid--wide-only">
               <li class="grid__item"><a href="https://www.biglotteryfund.org.uk/global-content/programmes/england/awards-for-all-england" class="btn accent--pink a--btn btn--block btn--small">England</a></li>
               <li class="grid__item"><a href="https://www.biglotteryfund.org.uk/global-content/programmes/scotland/awards-for-all-scotland" class="btn accent--pink a--btn btn--block btn--small">Scotland</a></li>
               <li class="grid__item"><a href="https://www.biglotteryfund.org.uk/global-content/programmes/wales/awards-for-all-wales" class="btn accent--pink a--btn btn--block btn--small">Wales</a></li>
               <li class="grid__item"><a href="https://www.biglotteryfund.org.uk/global-content/programmes/northern-ireland/awards-for-all-northern-ireland" class="btn accent--pink a--btn btn--block btn--small">Northern Ireland</a></li>
            </ul>

            <p>Occasionally the Fund makes grants of under £10,000 to projects that benefit people right across the UK. <a href="https://www.biglotteryfund.org.uk/global-content/programmes/uk-wide/uk-portfolio">Find out more about our UK-wide funding</a>. If you would like information about grants over £10,000 <a href="{{ buildUrl('', 'over10k') }}">click here</a>.</p>
        </div>

        <div class="inner">
            <h3 class="t3">Examples of projects that have been funded</h3>
            <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                {% for project in copy.projects %}
                    <li class="grid__item">{{ blocks.projectBlock(project, 'accent--pink') }}</li>
                {% endfor %}
            </ul>

            <div class="central-gap">
                <a href="https://www.biglotteryfund.org.uk/funding/search-past-grants" class="btn btn--outline accent--pink btn--block btn--small">Browse all funded projects</a>
            </div>
        </div>

    </article>


{% endblock %}
