{% from "../../components/cards.njk" import photoCard with context %}
{% from "../../components/hero.njk" import sectionHero %}

{% extends "../../layouts/main.njk" %}

{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroImage = createHeroImage({
        small: 'hero/under-10k-small.jpg',
        medium: 'hero/under-10k-medium.jpg',
        large: 'hero/under-10k-large.jpg',
        default: 'hero/under-10k-medium.jpg',
        caption: 'Friends of Greenwich Peninsula Ecology Park, Grant £5,350'
    }) %}

    {{
        sectionHero(
            titleText = copy.title,
            image = heroImage,
            accent = 'pink'
        )
    }}

    <article role="main" class="nudge-up">
        <div class="content-box inner--wide-only accent--pink a--border-top">
            <p>{{ copy.intro }}</p>

            <ul class="list-bullets">
                {% for item in copy.ideas %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>

            <h3 class="accent--pink t1 t--underline">{{ copy.callToAction }}</h3>

            <ul class="unstyled grid grid--padded grid--equal grid--4-up grid--wide-only">
               <li class="grid__item">
                   <a href="{{ buildUrl('global-content/programmes/england/awards-for-all-england') }}"
                      class="btn accent--pink a--btn btn--block btn--small">
                       {{ copy.locations.england }}
                   </a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('global-content/programmes/scotland/awards-for-all-scotland') }}"
                      class="btn accent--pink a--btn btn--block btn--small">
                       {{ copy.locations.scotland }}
                   </a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('global-content/programmes/wales/awards-for-all-wales') }}"
                      class="btn accent--pink a--btn btn--block btn--small">
                       {{ copy.locations.wales }}
                   </a>
               </li>
               <li class="grid__item">
                   <a href="{{ buildUrl('global-content/programmes/northern-ireland/awards-for-all-northern-ireland') }}"
                      class="btn accent--pink a--btn btn--block btn--small">
                       {{ copy.locations.northernIreland }}
                   </a>
               </li>
            </ul>

            <p>{{ copy.ukWideInfo | safe }}</p>
        </div>

        <div class="inner">
            <h3 class="t1">{{ copy.projectExamples }}</h3>
            <ul class="unstyled grid grid--3-up grid--padded--large grid--equal grid--wide-only">
                {% for project in copy.projects %}
                    <li class="grid__item">
                         {{
                            photoCard(
                                title = project.name,
                                description = project.description,
                                link = project.link,
                                image = project.image,
                                accent = 'pink'
                            )
                        }}
                    </li>
                {% endfor %}
            </ul>

            <div class="central-gap spaced">
                <a href="{{ buildUrl('funding/search-past-grants') }}" class="btn btn--outline accent--pink btn--block btn--small">{{ copy.browseFundedProjects }}</a>
            </div>
        </div>

    </article>


{% endblock %}
