{% from "../../components/blocks.njk" import projectBlock with context %}
{% from "../../components/hero.njk" import sectionHero %}
{% from "../../components/tabs.njk" import tabs %}

{% set bodyClass = "has-full-bleed-header has-welsh-logo footer--no-margin" %}
{% extends "../../layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
    {{
        sectionHero(
            accent = 'pink',
            titleText = title,
            image = createHeroImage({
                small: 'hero/working-families-small.jpg',
                medium: 'hero/working-families-medium.jpg',
                large: 'hero/working-families-large.jpg',
                default: 'hero/working-families-medium.jpg',
                caption: 'Grassroots, Grant £455,268'
            })
        )
    }}

    <main role="main" class="nudge-up">
        <section class="content-box content-box--tinted content-box--flush-narrow-only
            inner--wide-only accent--pink a--border-top ">
            <div class="s-prose u-constrained-content-wide">
                {{ copy.intro | safe }}
                {{ copy.grantSummary | safe }}
            </div>
        </section>

        {% macro tabContent(sections) %}
            <div class="content-box content-box--borderless">
                <div class="s-prose s-prose--long u-constrained-content-wide">
                {% for section in sections %}
                    {% if section.title %}
                        <h2 class="t2 t--underline accent--pink a--text">{{ section.title }}</h2>
                    {% endif %}
                    {% for block in section.blocks %}
                        {% if block.type === 'heading' %}
                            <h3 class="t4">{{ block.body }}</h3>
                        {% endif %}
                        {% if block.type === 'image' %}
                            <figure class="inline-figure inline-figure--padded">
                                <img src="{{ block.src | getImagePath }}" alt="{{ block.alt }}">
                            </figure>
                        {% endif %}
                        {% if block.type === 'text' %}
                            {{ block.body | safe }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        {% endmacro %}

        <div class="inner--wide-only">
            {{
                tabs(
                    id = 'working-families',
                    content = [{
                        id: 'how-to-succeed',
                        title: copy.howToSucceed.title,
                        content: tabContent(copy.howToSucceed.sections),
                        active: true
                    }, {
                        id: 'before-you-apply',
                        title: copy.beforeYouApply.title,
                        content: tabContent(copy.beforeYouApply.sections)
                    }, {
                        id: 'check-eligibility',
                        title: copy.checkEligibility.title,
                        content: tabContent(copy.checkEligibility.sections)
                    }, {
                        id: 'get-in-touch',
                        title: copy.getInTouch.title,
                        content: tabContent(copy.getInTouch.sections)
                    }]
                )
            }}
        </div>
    </main>

{% endblock %}
