{% from "components/overlay-text/macro.njk" import overlayText %}

{#
Miniature Hero

props: {Object}
- title {String} - Title
- linkUrl {String} - Link URL
- image {Object} { url: {String}, alt: {String} }
isLarge: {Boolean} - Use featured style for promo card
#}
{% macro miniatureHero(props, isLarge = false) %}
    <a href="{{ props.linkUrl }}" class="miniature-hero{% if isLarge %} miniature-hero--large{% endif %}">
        <div class="miniature-hero__inner">
            <div class="miniature-hero__image">
                <img src="{{ props.image.url }}"alt="{{ props.image.alt }}" />
            </div>
            <h3 class="miniature-hero__title">
                {% call overlayText(props.linkUrl, isTranslucent = true) %}
                    {{ props.title | widont | safe }}
                {% endcall %}
            </h3>
        </div>
    </a>
{% endmacro %}
