{% from "components/overlay-text/macro.njk" import overlayText %}

{#
Miniature Hero

props: {Object}
- title {String} - Title
- linkUrl {String} - Link URL
- image {Object} { url: {String}, alt: {String} }
isLarge: {Boolean} - Use featured style for promo card
#}
{% macro miniatureHero(props, isLarge = false) %}
    <a href="{{ props.linkUrl }}" class="miniature-hero{% if isLarge %} miniature-hero--large{% endif %}">
        <div class="miniature-hero__inner">
            <div class="miniature-hero__image">
                {% if props.image.url %}
                    <img src="{{ props.image.url }}" alt="{{ props.image.alt }}" />
                {% else %}
                    <picture>
                        <source srcset="{{ props.image.large }}" media="(min-width: 980px)">
                        <source srcset="{{ props.image.medium }}" media="(min-width: 620px)">
                        <source srcset="{{ props.image.small }}">
                        <img src="{{ props.image.default }}" alt="{{ props.image.alt }}" />
                    </picture>
                {% endif %}
            </div>
            <h3 class="miniature-hero__title">
                <span class="miniature-hero__title-text">{{ props.title }}</span>
            </h3>
        </div>
    </a>
{% endmacro %}
