{% extends "layouts/main.njk" %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/hero-image/macro.njk" import heroImage with context %}
{% from "components/page-title/macro.njk" import pageTitle %}

{% block content %}
    {{ heroImage(fallbackHeroImage) }}
    
    <main class="u-nudge-up">
        {{ pageTitle(title) }}

        {% call contentBox() %}
            <h2>Down for maintenance</h2>
            <p>The online application form for National Lottery Awards For All is currently offline due to scheduled maintenance{% if endDates %} and should be available again by {{ endDates.en }}.{% else %}. Please check back soon.{% endif %}</p>
            <p>You can <a href="https://www.biglotteryfund.org.uk/">return to our homepage</a>, or visit us on <a href="https://www.facebook.com/BigLotteryFund">Facebook</a> or <a href="https://twitter.com/BigLotteryFund">Twitter</a>.</p>

            <h2>Wrthi’n cynnal a chadw</h2>
            {% if endDates %}
                <p>Nid yw ffurflen gais ar-lein Arian i Bawb y Loteri Genedlaethol ar gael ar hyn o bryd oherwydd gwaith cynnal a cadw rheolaidd, a dylai fod yn ôl erbyn {{ endDates.cy }}.</p>
            {% else %}
                <p>Nid yw ffurflen gais ar-lein Arian i Bawb y Loteri Genedlaethol ar gael ar hyn o bryd oherwydd gwaith cynnal a cadw rheolaidd. Gwiriwch yn ôl ymhen ychydig.</p>
            {% endif %}
            <p>Gallwch <a href="https://www.biglotteryfund.org.uk/welsh">ddychwelyd i’r hafan</a> neu ymweld â ni ar <a href="http://facebook.com/biglotteryfundwales">Facebook</a> neu <a href="http://twitter.com/loterifawrcymru">Twitter</a>.</p>
        {% endcall %}
    </main>
{% endblock %}
