{% extends "views/layouts/emails.njk" %}
{% from "../form-router/views/view-helpers.njk" import emailSummary %}

{% block content %}
    <p>Thank you for getting in touch with us.</p>

    <p>You will see a copy of the information you submitted below. This will be forwarded to one of our funding officers who will get in touch within fifteen working days to let you know if we can help.</p>
    <p>In the meantime, you can find out more about our funding and how we can support your community on our website: <a href="https://www.tnlcommunityfund.org.uk/england">www.tnlcommunityfund.org.uk/england</a></p>
    <p>Thanks,</p>
    <p><strong>The National Lottery Community Fund</strong></p>

    <h2>Your information</h2>
    {{ emailSummary(stepsCopy, fieldsCopy, summary) }}
{% endblock %}
