{% from "../views/view-helpers.njk" import emailSummary %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/build/latest/stylesheets/emails.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,500" rel="stylesheet">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>A customer has submitted an idea from the {{ title }} web form.</h1>
        <p>The details they provided are included below:</p>
        <h2 class="space-above">Customer information</h2>
        {{ emailSummary(copy, summary) }}
    </body>
</html>
