<footer>
    <article class="content-area">
        <img src="/images/lottery.png" class="lottery" />

        <ul class="contact desktop-only">
            <li><i class="ion-ios-location"></i> 1 Address St, London </li>
            <li><i class="ion-email"></i> general.enquiries@biglotteryfund.org.uk</li>
            <li><i class="ion-ios-telephone"></i> 0222 345 6789</li>
        </ul>

        <div class="quick-links">
            <h4 class="desktop-only">Quick links</h4>
            <ul>
                <div class="quick-links__1">
                    <li><i class="ion-chevron-right"></i> Freedom of Information</li>
                    <li><i class="ion-chevron-right"></i> Contact</li>
                    <li><i class="ion-chevron-right"></i> Terms of use</li>
                    <li><i class="ion-chevron-right"></i> Privacy</li>
                </div>
                <div class="quick-links__2">
                    <li><i class="ion-chevron-right"></i> Cookies</li>
                    <li><i class="ion-chevron-right"></i> Site map</li>
                    <li class="desktop-only"><i class="ion-chevron-right"></i> Accessibility</li>
                </div>
            </ul>
        </div>
    </article>

    <aside>
        <article class="aside-container content-area">
            <p class="desktop-only">Copyright 2017. All rights reserved.</p>
            <ul class="social">
                <a href="#"><li class="ion-social-facebook"></li></a>
                <a href="#"><li class="ion-social-twitter"></li></a>
                <a href="#"><li class="ion-social-google"></li></a>
                <a href="#"><li class="ion-social-instagram"></li></a>
            </ul>
        </article>
        <p class="mobile-only copyright-white">Copyright 2017. All rights reserved.</p>
    </aside>

</footer>