{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/section-links/macro.njk" import sectionLinks %}

{% set title = __('ourPeople.title') %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only">
                <div class="s-prose">
                    {{ __('ourPeople.introduction') | safe }}
                </div>
                {{ sectionLinks(ourPeopleLinks) }}
            </section>
        </div>
    </main>
{% endblock %}
