{% from "components/hero.njk" import hero %}
{% from "components/content.njk" import flexibleContent %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {% set pageAccent = entry.themeColour  %}
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ flexibleContent(entry.flexibleContent) }}
            </section>
        </div>
    </main>
{% endblock %}
