{% from "components/hero.njk" import hero, miniatureHero %}
{% from "components/nav.njk" import selectionTrail %}
{% from "components/segment.njk" import segment %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = content.themeColour %}
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">
        <section class="content-box inner--wide-only accent--blue a--border-top">
            {{ selectionTrail(breadcrumbs) }}
            <div class=" s-prose s-prose--long">
                {{ content.introduction | safe }}
            </div>
        </section>

        {% if content.children.length > 0 %}
            <div class="inner">
                <ul class="unstyled grid grid--2-up grid--padded grid--equal grid--wide-only">
                {% for page in content.children %}
                    <li class="grid__item">
                        {{ miniatureHero(
                            titleText = page.trailText | default(page.title, true),
                            imagePath = page.photo,
                            imageCaption = page.title,
                            linkUrl = localify('/' + page.path),
                            accent = page.themeColour,
                            useRemoteImages = true
                        )}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if content.outro %}
            <section class="content-box inner--wide-only accent--blue a--border-top">
                <div class=" s-prose s-prose--long">
                    {{ content.outro | safe }}
                </div>
            </section>
        {% endif %}
    </main>

{% endblock %}
