{% from "components/hero.njk" import hero %}
{% from "components/miniature-hero/macro.njk" import miniatureHero %}
{% from "components/nav.njk" import selectionTrail %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = content.themeColour %}
    {{ hero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">
        <section class="content-box u-inner-wide-only accent--blue a--border-top">
            {{ selectionTrail(breadcrumbs) }}
            <div class=" s-prose">
                {{ content.introduction | safe }}
            </div>
        </section>

        {% if content.children.length > 0 %}
            <div class="u-inner">
                <ul class="unstyled grid grid--2-up grid--padded grid--equal grid--wide-only">
                {% for page in content.children %}
                    <li class="grid__item">
                        {{ miniatureHero(
                            title = page.trailText | default(page.title, true),
                            imagePath = page.photo,
                            imageCaption = page.title,
                            linkUrl = page.link,
                            accent = page.themeColour
                        )}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if content.outro %}
            <section class="content-box u-inner-wide-only accent--blue a--border-top">
                <div class=" s-prose">
                    {{ content.outro | safe }}
                </div>
            </section>
        {% endif %}
    </main>

{% endblock %}
