{% macro segmentLinks(segments, prefix = null, anchor = 'segment') %}
    {% if segments.length > 1 %}
        <div class="segment-links">
            {% if prefix %}<p class="u-margin-bottom-s">{{ prefix }}</p>{% endif %}
            <ul>
                {% for segment in segments %}
                    {% if segment.title %}
                        <li><a href="#{{ anchor }}-{{ loop.index }}">{{ segment.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}
