{% extends "layouts/main.njk" %}
{% from "components/article-teaser/macro.njk" import articleTeaser %}
{% from "components/miniature-hero/macro.njk" import miniatureHero %}
{% from "components/social-bar/macro.njk" import socialBar with context %}
{% from "components/content-box/macro.njk" import contentBox %}

{% set copy = __('toplevel.home') %}
{% set title = copy.title %}

{% block content %}
    <main role="main" id="content">
        {# Hero introduction #}
        <section class="super-hero">
            <figure class="super-hero__image">
                <picture>
                    <source srcset="{{ heroImage.large }}" media="(min-width: 1040px)">
                    <source srcset="{{ heroImage.medium }}" media="(min-width: 600px)">
                    <source srcset="{{ heroImage.small }}">
                    <img src="{{ heroImage.default }}" alt="{{ heroImage.caption }}" />
                </picture>
                {% if heroImage.caption %}
                    <figcaption class="super-hero__caption u-caption">
                        {{ heroImage.caption }}
                    </figcaption>
                {% endif %}
            </figure>
        </section>

         <div class="nudge-up-large">

             {% call contentBox() %}
                <h1 class="t--underline">Our funding during COVID-19</h1>

                    <p><strong>What you need to know</strong><br/></p>
                    <p>
                        Firstly, please be reassured that we will
                        continue to honour our current commitments
                        and will continue to be flexible with existing grants.
                        However, COVID-19 will be our priority.
                    </p>

                    <p><strong>What this means</strong><br/></p>
                    <p>
                        All funding decisions we make for the next
                        six months will prioritise getting funding
                        to groups best placed to support their
                        communities at this vital time focusing
                        initially on existing grant-holders and applicants.
                    </p>

                    <p><strong>We will prioritise:</strong><br/></p>
                    <ul>
                        <li>Organisations supporting people who are at high risk from COVID-19</li>
                        <li>Organisations supporting communities most likely to face increased demand and challenges as a direct result of COVID-19</li>
                        <li>Organisations with high potential to support communities with the direct and indirect impact of COVID-19</li>
                    </ul>

                    <p>If you would like to put in an application that is not related to COVID-19, you are still welcome to do so. However, please be aware that there is likely to be greater competition for our funding, and a delay in our ability to respond. If you have already submitted an application that is not COVID related, we will be in touch to discuss this specific application with you. Please note that we will be updating guidance on our programme specific pages on our website on Monday</p>

                    <p>
                        <a class="btn btn--medium btn--outline"
                            href="{{ localify('/about/coronavirus-updates') }}"
                        >Read our latest COVID-19 updates</a>
                    </p>
             {% endcall %}


         </div>

        <div class="homepage-banner">
            <div class="homepage-banner__header">
                <h1 class="homepage-banner__title">{{ copy.intro.title | widont | safe }}</h1>
                <div class="homepage-banner__intro">
                    {{ __(copy.intro.description, localify('/data'), 'https://www.national-lottery.co.uk/') | safe }}
                </div>

                <div class="o-button-group">
                    <a class="btn btn--medium btn--reversed"
                        href="{{ localify('/funding/under10k') }}"
                        id="qa-button-under10k">
                        {{ copy.under10k }}
                    </a>
                    <a class="btn btn--medium btn--reversed"
                        href="{{ localify('/funding/over10k') }}"
                        id="qa-button-over10k">
                        {{ copy.over10k }}
                    </a>
                </div>
            </div>
        </div>

        {# Featured sections #}
        <section class="u-inner u-margin-bottom">
            <ul class="flex-grid flex-grid--3up">
                {% for item in featuredLinks %}
                    <li class="flex-grid__item">
                        {{ miniatureHero({
                            "title": item.label,
                            "linkUrl": localify(item.href),
                            "image": item.image
                        }, headingLevel = 2) }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        {# Latest News #}
        {% if promotedUpdates.length > 1 %}
            <div class="u-border-top u-inner u-padded u-margin-bottom">
                <section class="related-content">
                    <header class="related-content__header">
                        <h2 class="related-content__title t--underline">
                            {{ __('global.misc.latestNews') }}
                        </h2>
                    </header>
                    <div class="related-content__content">
                        <ul class="flex-grid flex-grid--3up">
                            {% for article in promotedUpdates | take(3) %}
                                <li class="flex-grid__item related-content__item">
                                    {{ articleTeaser({
                                        'title': article.trailText or article.title,
                                        "subtitle": formatDate(article.postDate.date) if article.postDate,
                                        'linkUrl': article.linkUrl,
                                        'summary': article.summary
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="related-content__footer">
                        <a class="related-content__more"
                           href="{{ localify('/news') }}">
                            {{ __('global.misc.viewAllNews') }}
                        </a>
                    </div>
                </section>
            </div>
        {% endif %}

        {{ socialBar() }}
    </main>
{% endblock %}
