{% extends "layouts/main.njk" %}
{% from "components/article-teaser/macro.njk" import articleTeaser %}
{% from "components/miniature-hero/macro.njk" import miniatureHero %}
{% from "components/social-bar/macro.njk" import socialBar with context %}
{% from "components/flexible-content-next/macro.njk" import flexibleContent %}

{% set copy = __('toplevel.home') %}
{% set title = copy.title %}

{% set hasFlexContent = content.length > 0 %}

{% block content %}
    <main role="main" id="content">
        {# Hero introduction #}
        <section class="super-hero{% if hasFlexContent %} super-hero--with-content{% endif %}">
            <figure class="super-hero__image">
                <picture>
                    <source srcset="{{ heroImage.large }}" media="(min-width: 1040px)">
                    <source srcset="{{ heroImage.medium }}" media="(min-width: 600px)">
                    <source srcset="{{ heroImage.small }}">
                    <img src="{{ heroImage.default }}" alt="{{ heroImage.caption }}" />
                </picture>
                {% if heroImage.caption %}
                    <figcaption class="super-hero__caption u-caption">
                        {{ heroImage.caption }}
                    </figcaption>
                {% endif %}
            </figure>
        </section>

        {% if hasFlexContent %}
            {# Show custom homepage content above everything else #}
             <div class="nudge-up-large">
                 {{ flexibleContent(content) }}
             </div>
        {% endif %}

        <div class="homepage-banner">
            <div class="homepage-banner__header">
                <h1 class="homepage-banner__title">{{ copy.intro.title | widont | safe }}</h1>
                <div class="homepage-banner__intro">
                    {{ __(copy.intro.description, localify('/data'), 'https://www.national-lottery.co.uk/') | safe }}
                </div>

                <div class="o-button-group">
                    <a class="btn btn--medium btn--reversed"
                        href="{{ localify('/funding/under10k') }}"
                        id="qa-button-under10k">
                        {{ copy.under10k }}
                    </a>
                    <a class="btn btn--medium btn--reversed"
                        href="{{ localify('/funding/over10k') }}"
                        id="qa-button-over10k">
                        {{ copy.over10k }}
                    </a>
                </div>
            </div>
        </div>

        {# Featured sections #}
        <section class="u-inner u-margin-bottom">
            <ul class="flex-grid flex-grid--3up">
                {% for item in featuredLinks %}
                    <li class="flex-grid__item">
                        {{ miniatureHero({
                            "title": item.label,
                            "linkUrl": localify(item.href),
                            "image": item.image
                        }, headingLevel = 2) }}
                    </li>
                {% endfor %}
            </ul>
        </section>

        {# Latest News #}
        {% if promotedUpdates.length > 1 %}
            <div class="u-border-top u-inner u-padded u-margin-bottom">
                <section class="related-content">
                    <header class="related-content__header">
                        <h2 class="related-content__title t--underline">
                            {{ __('global.misc.latestNews') }}
                        </h2>
                    </header>
                    <div class="related-content__content">
                        <ul class="flex-grid flex-grid--3up">
                            {% for article in promotedUpdates | take(3) %}
                                <li class="flex-grid__item related-content__item">
                                    {{ articleTeaser({
                                        'title': article.trailText or article.title,
                                        "subtitle": formatDate(article.postDate.date) if article.postDate,
                                        'linkUrl': article.linkUrl,
                                        'summary': article.summary
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="related-content__footer">
                        <a class="related-content__more"
                           href="{{ localify('/news') }}">
                            {{ __('global.misc.viewAllNews') }}
                        </a>
                    </div>
                </section>
            </div>
        {% endif %}

        {{ socialBar() }}
    </main>
{% endblock %}
