{% macro documentList(documents) %}
    <ul class="document-list">
        {% for document in documents %}
            <li class="document-list__item u-document-link">
                <a class="document-list__link" href="{{ document.href }}">
                    {{ document.label }}
                    {% if document.filetype or document.filesize %}
                        <small>({{ document.filetype | capitalize }} {{ document.filesize }})</small>
                    {% endif %}
                </a>
                {% if document.caption %}
                    <span class="document-list__link-caption">
                        {{ document.caption }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
