{% macro documentList(links) %}
    <ul class="document-list">
        {% for link in links %}
            <li class="document-list__item">
                <a class="document-list__link" href="{{ link.href }}">
                    {{ link.label }}
                </a>
                {% if link.caption %}
                    <span class="document-list__link-caption">
                        {{ link.caption }}
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
