{% from "components/application-card/macro.njk" import applicationCard with context %}
{% from "components/content-box/macro.njk" import contentBox %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">
            <div class="s-prose">
                <h1 class="t--underline">Your applications</h1>
                <p>
                    Here you can check the status of an online application in progress.<br />
                    You can also <a href="{{ formBaseUrl }}/new">start a brand new application</a> and see any applications you've previously submitted online.
                </p>
            </div>

            {% if applications.length > 0 %}
                <h2 class="t--underline">In progress</h2>
                {% for application in applications %}
                    {{ applicationCard(application) }}
                {% endfor %}
            {% endif %}
        </section>

        {% call contentBox() %}
            <h2>New application</h2>
            <p>You can create a new funding application for {{ formTitle }} here after completing our eligibility checks.</p>
            <p><a href="{{ formBaseUrl }}/new" class="btn btn--outline">Start new application</a></p>
        {% endcall %}

    </main>
{% endblock %}
