{% from "components/buttons.njk" import startButton, startButtonSubmit %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/form-fields/macros.njk" import formErrors, formField with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox() %}
            {{ formHeader(
                title = formTitle,
                suffix = copy.description | safe
            ) }}

            {% if applications.length > 0 %}
                <h2>Your existing applications</h2>
                <ul>
                    {% for application in applications %}
                        <li>
                            <a href="{{ formBaseUrl }}/edit/{{ application.id }}">{{ application.application_title }}</a><br />
                            Created on {{ formatDate(application.createdAt, DATE_FORMATS.full) }}, last updated {{ application.updatedAt | timeago }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h2>Start a new application</h2>
            {# @TODO: Should this go to the start page? #}
            <p><a href="{{ formBaseUrl }}/new" class="btn">New application</a></p>

        {% endcall %}
    </main>
{% endblock %}
