{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formField with context %}
{% from "components/form-header/macro.njk" import formHeader with context %}

{% block title %}Eligibility | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner u-inner-wide-only">
            {% set prefix = __('global.misc.stepProgress', currentStepNumber, totalSteps) %}
            {{ formHeader(
                backUrl = backUrl,
                title = 'Eligibility Checker',
                prefix = prefix if eligibilityStatus !== 'eligible'
            )}}

            {% if eligibilityStatus === 'eligible' %}
                <div class="s-prose u-constrained-wide">
                    <h2>Great! You're eligible to apply to {{ formTitle }}</h2>
                    {{ eligibility.successMessage | safe }}
                    <p class="form-actions">
                        <a class="btn" href="{{ formBaseUrl }}/new">Start your application</a>
                    </p>
                </div>
            {% elseif eligibilityStatus === 'ineligible' %}
                <div class="s-prose u-constrained-wide">
                    <h2>Sorry, you're not eligible to apply at this time</h2>
                    <p>{{ currentStep.ineligible.reason }}</p>
                    <h3>What now?</h3>
                    {{ currentStep.ineligible.detail | safe }}
                    <p class="form-actions">
                        <a class="btn" href="{{ formBaseUrl }}">Exit</a>
                    </p>
                </div>
            {% else %}
                <form method="post" class="u-constrained-wide u-constrained-content">
                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}

                    {{ formField({
                        type: 'radio',
                        name: 'eligibility',
                        label: currentStep.question,
                        explanation: currentStep.explanation,
                        value: queryParams.amount,
                        isRequired: true,
                        options: [{
                            label: __('global.misc.yes'),
                            value: "yes"
                        }, {
                            label: __('global.misc.no'),
                            value: "no"
                        }]
                    }) }}

                    <div class="form-actions">
                        <input class="btn" type="submit" value="Continue" />
                    </div>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}
