{% macro fieldTypeHelpText(field, step) %}
    {% if field.type === 'checkbox' %}
        Pick one of:
    {% elseif field.type === 'radio' %}
        Choose as many as you like from:
    {% elseif field.type === 'budget' %}
        Provide an itemised budget
        {% if field.attributes.max %}
            (to a maximum total of £{{ field.attributes.max.toLocaleString() }}{% if field.attributes.rowLimit %} across {{ field.attributes.rowLimit }} items{% endif %})
        {% endif %}
    {% elseif field.type === 'currency' %}
        Provide a financial figure
    {% elseif field.type === 'address' %}
        Provide an address
    {% elseif field.type === 'date' or field.type === 'day-month' %}
        Provide a date
    {% elseif field.type === 'email' %}
        Provide an email address
    {% elseif field.type === 'file' %}
        Upload a file
    {% elseif field.type === 'number' %}
        Provide a number
    {% elseif field.type === 'tel' %}
        Provide a telephone number
    {% elseif field.type === 'text' %}
        Provide a sentence or two
    {% elseif field.type === 'textarea' %}
        Provide a longer answer
        {% if field.settings.minWords and field.settings.maxWords %}
            (between {{ field.settings.minWords }}-{{ field.settings.maxWords }} words)
        {% else %}
            {% if field.settings.minWords %} (minimum of {{ field.settings.minWords }} words){% endif %}
            {% if field.settings.maxWords %} (maximum of {{ field.settings.maxWords }} words){% endif %}
        {% endif %}
    {% endif %}
    {% if step.notRequired %}
        &mdash; optional, but may be required depending on your circumstances
    {% elseif field.isRequired %}
        &mdash; required
    {% endif %}
{% endmacro %}

{% macro header() %}
    <div class="u-tone-background-tint u-padded">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro question(first = false) %}
    <div class="{% if not first %}u-padded-top u-border-top--thin u-margin-top{% endif %}">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro questionList(form) %}

    {% call header() %}
        <h3>Eligibility questions</h3>
        <p class="u-no-margin application-text-minor">You'll need to answer all of these before beginning your application form.</p>
    {% endcall %}
    <div class="u-padded">
        {% for field in form.eligibilityQuestions %}
            {% call question(first = loop.first) %}
                <h5>{{ field.question }}</h5>
                {% if field.explanation %}
                    <p class="s-prose application-text-minor">{{ field.explanation | safe }}</p>
                {% endif %}
            {% endcall %}
        {% endfor %}
    </div>

    {% for section in form.sections %}
        <div class="u-tone-background-tint u-padded">
            <h3>Section {{ loop.index }}: {{ section.title }}</h3>
            {% if section.introduction %}
                <p class="u-no-margin application-text-minor">{{ section.introduction }}</p>
            {% endif %}
        </div>
        <div class="u-padded">
            {% for step in section.steps %}
                <h4 class="t--underline{% if not loop.first %}  u-margin-top-l{% endif %}">
                    Step {{ loop.index }}: {{ step.title }}
                </h4>
                {% for fieldset in step.fieldsets %}
                    {% for field in fieldset.fields %}
                        <div class="{% if not loop.first %}u-padded-top u-border-top--thin u-margin-top{% endif %}">
                            <h5>{{ field.label }}</h5>
                            <h6>{{ fieldTypeHelpText(field, step) }}</h6>
                            {% if field.options %}
                                <div class="s-prose application-text-minor">
                                    <ul>
                                        {% for option in field.options %}
                                            <li>{{ option.label }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if field.explanation %}
                                <div class="u-margin-bottom-s application-text-minor s-prose">
                                    {{ field.explanation | safe }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}

{% endmacro %}
