{% from "./questions-list.njk" import questionsIntro, questionList %}
{% from "components/icons.njk" import iconDownload %}
{% from "components/print-button/macro.njk" import printButton %}


{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}

{% block content %}
    <main role="main" id="content">

        <section class="content-box u-inner-wide-only">

            {{ questionsIntro(form) }}

            <div class="o-button-group u-dont-print">
                {{ printButton(label = 'Print these questions') }}
                <a class="btn btn--medium btn--outline"
                   href="./questions/pdf">
                    {{ iconDownload() }} Download these questions (PDF)
                </a>
            </div>
        </section>

        <section class="content-box u-inner-wide-only">
            {{ questionList(form) }}
        </section>

    </main>
{% endblock %}
