{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/icons.njk" import iconArrowDown %}
{% from "components/form-header/macro.njk" import formHeader with context %}

{% block title %}Summary | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <form action="" method="POST">
                {{ formHeader(
                    title = "Summary"
                ) }}

                <pre>{{ form | dump(2) }}</pre>
                
                {% for section in form.sections %}

                    <section class="s-prose">
                        <h2>Section title: {{ section.title }}</h2>
                        {% for step in section.steps %}
                            <h3>Step title: {{ step.title }}</h3>
                            {% for fieldset in step.fieldsets %}
                                <h4>Fieldset legend: {{ fieldset.legend }}</h4>
                                
                                <dl class="o-definition-list">
                                {% for field in fieldset.fields %}
                                    <dt>Field label: {{ field.label }}</dt>
                                    <dd>

                                    {% if field.type === 'textarea' %}
                                        {% set cleanValue = field.value | striptags(true) | escape | nl2br %}
                                        {{ cleanValue }}
                                    {% elseif (field.value | isArray) %}
                                        {{ field.value | join(', ') }}
                                    {% else %}
                                        {{ field.value }}
                                    {% endif %}
                                    </dd>
                                {% endfor %}
                                </dl>
                            {% endfor %}
                            <hr />
                        {% endfor %}
                    </section>
                {% endfor %}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}


                <input class="btn" type="submit" value="Submit" />
            </form>
        </div>
    </main>
{% endblock %}
