{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/icons.njk" import iconArrowDown, iconTick %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}


{% block title %}Summary | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <form action="" method="POST">
                {{ breadcrumbTrail(breadcrumbs) }}

                {{ formHeader(
                    title = "Summary"
                ) }}

                <p>
                    Here's a summary of your application progress. You may complete the sections in any order <br />
                    <strong>Please note</strong>: in order to submit your application you will need to agree to our <a href="#">terms and conditions</a>.
                </p>

                <div class="u-margin-bottom-l">
                    <div class="o-button-group o-button-group--separated">
                        <a class="btn btn--medium btn--outline btn--reversed" href="#">Download (PDF)</a>
                        <a class="btn btn--medium btn--outline btn--reversed" href="#">Share</a>
                    </div>
                    <div class="o-button-group o-button-group--separated o-button-group--separated--left">
                        <a class="btn btn--medium btn--outline btn--reversed" href="#">Delete application</a>
                    </div>
                </div>

                <p class="u-pull-right ">
                    <button class="btn-link js-toggle-all-details u-hidden"
                            data-label-open="Collapse all sections"
                            data-label-closed="Expand all sections"
                            type="button">
                    </button>
                </p>


                <div class="u-clear-right">

                    {% for section in form.sections %}

                        <section class="app-summary">
                            <header class="app-summary__status app-summary__status--{{ section.state.type }} u-tone-background-tint">
                                <h3 class="u-padded-vertical-s u-no-margin">
                                    Section {{ loop.index }}: {{ section.title }}

                                    <span class="app-summary__edit-link">
                                        {% set editWord = 'Continue' if section.state.type === 'incomplete' else 'Edit' %}
                                        <a href="{{ formBaseUrl }}/{{ section.slug }}">{{ editWord }}</a>
                                    </span>
                                </h3>
                                {% if section.state %}
                                    <div class="app-summary__status__label u-padded-vertical-s">
                                        {{ section.state.label }}
                                        {% if section.state.type === 'complete' %}{{ iconTick() }}{% endif %}
                                    </div>
                                {% endif %}
                            </header>
                            <article class="app-summary__status__content">
                                {% if section.introduction %}
                                    <p>{{ section.introduction }}</p>
                                {% else %}
                                    <p>{{ form.sections[0].introduction }}</p>
                                {% endif %}
                                <details class="u-margin-bottom-s">
                                    <summary>Show questions</summary>
                                    <div>
                                        {% for step in section.steps %}
                                            {% set stepNumber = loop.index %}
                                            <h4 class="app-summary__step">
                                                Step {{ stepNumber }} of {{ section.steps.length }} &ndash; {{ step.title }}
                                            </h4>

                                            {% if not step.notRequired %}
                                                {% for fieldset in step.fieldsets %}
                                                    {% for field in fieldset.fields %}
                                                        <div class="app-summary__data">
                                                            <div class="app-summary__data__question">
                                                                {{ field.label }}
                                                            </div>
                                                            <div class="app-summary__data__answer s-prose">
                                                                {% if not field.value %}
                                                                    &ndash;
                                                                {% else %}
                                                                    {% if field.type === 'textarea' %}
                                                                        {% set cleanValue = field.value | striptags(true) | escape | nl2br %}
                                                                        {{ cleanValue }}
                                                                    {% elseif (field.value | isArray) %}
                                                                        {{ field.value | join(', ') }}
                                                                    {% else %}
                                                                        {{ field.value }}
                                                                    {% endif %}
                                                                {% endif %}
                                                                {% if field.state %}(Status: {{ field.state.label }}){% endif %}
                                                            </div>
                                                            <div class="app-summary__data__link">
                                                                <a href="{{ formBaseUrl }}/{{ section.slug }}/{{ stepNumber }}" class="app-summary__edit-link">
                                                                    Change
                                                                </a>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    <table class="table table-striped mb-5" style="display: none">
                                                        <tbody>
                                                            {% for field in fieldset.fields %}
                                                                <tr>
                                                                    <td>
                                                                        <strong>{{ field.label }}</strong>
                                                                    </td>
                                                                    <td>
                                                                        {% if not field.value %}
                                                                            Incomplete
                                                                            <a href="{{ formBaseUrl }}/{{ section.slug }}/{{ stepNumber }}">
                                                                                Supply this answer
                                                                            </a>
                                                                        {% else %}
                                                                            {% if field.type === 'textarea' %}
                                                                                {% set cleanValue = field.value | striptags(true) | escape | nl2br %}
                                                                                {{ cleanValue }}
                                                                            {% elseif (field.value | isArray) %}
                                                                                {{ field.value | join(', ') }}
                                                                            {% else %}
                                                                                {{ field.value }}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        {% if field.state %}(Status: {{ field.state.label }}){% endif %}
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ formBaseUrl }}/{{ section.slug }}/{{ stepNumber }}" class="app-summary__edit-link">
                                                                            Change
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                {% endfor %}
                                            {% else %}
                                                <p>Not required for your application.</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </details>
                                {#<p class="u-pull-right">#}
                                    {#<a class="btn btn--medium" href="{{ formBaseUrl }}/{{ section.slug }}">#}
                                        {#Edit this section#}
                                    {#</a>#}
                                {#</p>#}
                            </article>
                        </section>
                    {% endfor %}

                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}


                    <div class="u-margin-top">
                        {% if form.state.type === 'complete' %}
                            <input class="btn" type="submit" value="Submit" />
                        {% else %}
                            <p>Your form isn't complete yet – you can submit it here when it's ready.</p>
                        {% endif %}

                    </div>
                </div>

            </form>
        </div>
    </main>
{% endblock %}
