{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/user-status/macro.njk" import staffStatus with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}
            {{ staffStatus(user) }}

            <h1 class="t--underline">{{ title }}</h1>

            {% for description, items in feedback  %}
                <h2>{{ description }} <small>({{ items.length }} responses)</small></h2>
                <p><a class="btn btn--outline btn--small" href="?download={{ description }}">Download as CSV</a></p>

                <div class="u-margin-bottom-l"  style="max-height: 400px; overflow: auto">
                    <ul>
                        {% for item in items %}
                            <li>
                                <blockquote class="blockquote">
                                    <div class="blockquote__text">
                                        {{ item.message | safe }}
                                    </div>
                                    <cite class="blockquote__cite">
                                        {{ formatDate(item.createdAt.toISOString()) }}
                                    </cite>
                                </blockquote>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
