{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/staff-status/macro.njk" import staffStatus with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}
            {{ staffStatus(user) }}

            <h1 class="t--underline">{{ title }}</h1>

            <p>
                {{ formatDate(dateRange.start) }}–{{ formatDate(dateRange.end) }}
                (<a href="?">Reset dates</a>)
            </p>

            <form action="" method="get" class="tools-filter-form">
                <div class="tools-filter-form__item">
                    <label for="start" class="ff-label">Start date</label>
                    <input class="ff-text"
                           type="date"
                           max="{{ formatDate(now, "YYYY-MM-DD") }}"
                           value="{{ formatDate(dateRange.start, "YYYY-MM-DD") }}"
                           name="start"
                           id="start"
                    >
                </div>
                <div class="tools-filter-form__item">
                    <label for="end" class="ff-label">End date</label>
                    <input class="ff-text"
                           type="date"
                           max="{{ formatDate(now, "YYYY-MM-DD") }}"
                           value="{{ formatDate(dateRange.end, "YYYY-MM-DD") }}"
                           name="end"
                           id="end"
                    >
                </div>
                <div class="tools-filter-form__item tools-filter-form__actions">
                    <input class="btn btn--small" type="submit" value="Filter by date"/>
                </div>
            </form>

            {% for description, items in feedback  %}
                <h2>{{ description }} <small>({{ items.length }} responses)</small></h2>
                <p><a class="btn btn--outline btn--small" href="?download={{ description }}">Download as CSV</a></p>

                <div class="u-margin-bottom-l"  style="max-height: 400px; overflow: auto">
                    <ul>
                        {% for item in items %}
                            <li>
                                <blockquote class="blockquote">
                                    <div class="blockquote__text">
                                        {{ item.message | safe }}
                                    </div>
                                    <cite class="blockquote__cite">
                                        {{ formatDate(item.createdAt.toISOString()) }}
                                    </cite>
                                </blockquote>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
