<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block extraHead %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-dark bg-dark">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Big Lottery Fund</a>
                        {% if request.user %}
                            <p class="navbar-text">Logged in as <strong>{{ request.user.username }}</strong> [<a href="/user/logout">Log out?</a>]</p>
                        {% else %}
                            <p class="navbar-text"><a href="/user/login">Log in</a></p>
                        {% endif %}
                    </div>
                    {% block headerAction %}{% endblock %}
                </div>
            </nav>
        {% endblock %}

        <div class="container pt-4">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
