{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/staff-status/macro.njk" import staffStatus with context %}
{% from "components/data.njk" import statsGrid %}

{% block extraHead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.min.js" integrity="sha256-cpdGuiwvKhwkQY18xx0CNJBb9AhGOYKsAz6ea7LaB30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.min.css" integrity="sha256-DnG3ryf8FsLvOmNjwO9S4+Fpju6QECDbhLbWCtpn7Bc=" crossorigin="anonymous" />
    <script>
        $(function() {
            $('.js-datepicker-trigger')
                .daterangepicker({
                    minDate: new Date("{{ oldestOrderDate }}"),
                    maxDate: new Date(),
                })
                .on('apply.daterangepicker', function(event, picker) {
                    const s = picker.startDate.format('YYYY-MM-DD');
                    const e = picker.endDate.format('YYYY-MM-DD');
                    window.location = `?start=${s}&end=${e}`;
                });
        });
    </script>
    <style>
        .datepicker {
            font-size: 14px;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% macro statBlock(number, caption) %}
    <div class="col-sm text-center">
        <h5 class="display-2">{{ number }}</h5>
        <h6>{{ caption | safe }}</h6>
    </div>
{% endmacro %}

{% block content %}

<main role="main" id="content">
    <div class="content-box u-inner-wide-only">
        {{ breadcrumbTrail(breadcrumbs) }}
        {{ staffStatus(user) }}
         <h1 class="t--underline">
            All material orders
        </h1>

        <p>
            {% if dateRange %}
                {{ formatDate(dateRange.start) }} &mdash;
                {{ formatDate(dateRange.end) }}
            {% else %}
                in the last five months
            {% endif %}

            <a class="js-datepicker-trigger datepicker" href="javascript://">Change dates?</a>
            {% if dateRange %}
                <a class="datepicker" href="?">or Reset dates?</a>
            {% endif %}
        </p>

        {% if data.orders.length > 0 %}
            <div class="u-margin-bottom-l">
                {{
                    statsGrid([{
                        prefix: 'there were',
                        value: data.orders.length,
                        title: 'total orders from the website',
                        showNumberBeforeTitle: true
                    }, {
                        prefix: 'An average of',
                        value: data.averageProductsPerOrder,
                        title: 'products per order',
                        showNumberBeforeTitle: true
                    }, {
                        prefix: 'An average of',
                        value: data.averageOrdersPerDay,
                        title: 'orders per day',
                        showNumberBeforeTitle: true
                    }])
                }}
            </div>

            <h2>Orders by date</h2>
            <div class="u-margin-bottom-l">
                <canvas id="js-chart" height="300"></canvas>
            </div>

            <h2>Top 10 most popular items</h2>
            <div class="s-prose u-margin-bottom-l">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Item code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Number ordered</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data.mostPopularItems %}
                            <tr>
                                <td>{{ item.code }}</td>
                                <td>{{ getItemName(item.code) }}</td>
                                <td>{{ item.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Popular postcode areas</h2>
            <div class="u-margin-bottom-l">
                {{
                    statsGrid([{
                        value: data.ordersByPostcodes[0].code,
                        title: data.ordersByPostcodes[0].count+ ' orders',
                        showNumberBeforeTitle: true
                    }, {
                        value: data.ordersByPostcodes[1].code,
                        title: data.ordersByPostcodes[1].count+ ' orders',
                        showNumberBeforeTitle: true
                    }, {
                        value: data.ordersByPostcodes[2].code,
                        title: data.ordersByPostcodes[2].count+ ' orders',
                        showNumberBeforeTitle: true
                    }])
                }}
            </div>


            <h2>Order reasons</h2>
            <div class="s-prose u-margin-bottom-l">
                <p>Includes "other" options</p>
                <table class="table table-striped mb-5">
                    <thead>
                    <tr>
                        <th scope="col">Reason</th>
                        <th scope="col">Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.orderReasons %}
                        <tr>
                            <td>{{ item.code }}</td>
                            <td>{{ item.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <h2>Grant amounts <small class="text-muted">including "other" options</small></h2>
            <div class="s-prose u-margin-bottom-l">
                <p>Includes "other" options</p>
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Grant size</th>
                        <th scope="col">Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.grantAmounts %}
                        <tr>
                            <th>{{ item.code }}</th>
                            <td>{{ item.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


            <script>
                var ctx = document.getElementById('js-chart');
                var config = {
                    type: 'line',
                    data: {
                        datasets: [
                            {
                                label: 'Number of orders',
                                backgroundColor: '#2a7f53',
                                borderColor: '#41c27f',
                                fill: false,
                                data: {{ data.ordersByDay | dump | safe }},
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        title: {
                            display: false,
                            text: "Orders over time"
                        },
                        scales: {
                            xAxes: [{
                                type: "time",
                                display: true,
                                time: {
                                    round: 'day',
                                    unit: 'day'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Number of orders'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 5
                                }
                            }]
                        }
                    }
                };
                var myChart = new Chart(ctx, config);
            </script>

        {% else %}
            <div class="alert alert-warning" role="alert">No orders found for this date range.</div>
        {% endif %}
    </div>
</main>
{% endblock %}
