{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/user-status/macro.njk" import staffStatus with context %}

{% block extraHead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}
            {{ staffStatus(user) }}

            <h1>“Did you find what you were looking for?”</h1>
            {% if pathQuery %}<p>Showing results for path: <code>{{ pathQuery }}</code></p>{% endif %}

            <section class="u-margin-bottom-l">
                <p class="u-margin-bottom">Percentage who said yes based on <strong>{{ survey.totalResponses | numberWithCommas }}</strong> total responses for the last <strong>3 months</strong>.</p>

                <div class="u-margin-bottom-s">
                    <canvas id="js-chart" height="150"></canvas>
                </div>
            </section>
            

            {% if not pathQuery %}
                <section class="u-margin-bottom-l s-prose">
                    <h2>Most popular pages with feedback</h2>
                    <ol>
                        {% for item in survey.pageCounts | take(10) %}
                            <li>
                                <a href="?path={{ item.path }}">{{ item.path }}
                                with {{ item.count | numberWithCommas }} responses</a>
                            </li>
                        {% endfor %}
                    </ol>
                </section>
            {% endif %}

            <section class="u-margin-bottom u-text-medium s-prose">
                <h2>How can we improve this page?</h2>
                {% if survey.noResponses.length > 0 %}
                    {% for response in survey.noResponses %}
                    <div id="msg-{{ response.id }}">
                        <a href="?path={{ response.path }}">{{ response.path }}</a>
                        <a class="u-link-minimal" href="#msg-{{ response.id }}" title="{{ response.createdAt }}">
                            {{ timeFromNow(response.createdAt) }}
                        </a>
                        <p>{{ response.message }}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No responses</p>
                {% endif %}
            </section>

        </div>
    </main>

    <script>
        new Chart(document.getElementById('js-chart'), {
            type: 'line',
            data: {
                datasets: [{
                    label: 'Percentage yes',
                    type: 'line',
                    data: {{ survey.voteData | dump(2) | safe }},
                    borderColor: '#e5007d',
                    fill: '#e5007d'
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: false,
                    text: 'Response distribution'
                },
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Date'
                        },
                        ticks: {
                            major: {
                                fontStyle: 'bold',
                                fontColor: '#FF0000'
                            }
                        },
                        time: {
                            round: 'day',
                            unit: 'month'
                        },
                        gridLines: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks: {
                            stepSize: 25,
                            min: 0,
                            max: 100,
                            callback: function(value) {
                                return value + "%"
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Percentage"
                        },
                        gridLines: {
                            display: false
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}
