{% from "components/styleguide.njk" import sgComponent %}

{% extends "./layout.njk" %}

{% block content %}
    <div class="spaced--t">
        {% call sgComponent(slug, showDetailLink = false) %}
            {% set componentTemplate = "components/" + slug + "/examples.njk" %}
            {% include componentTemplate ignore missing %}
        {% endcall %}
    </div>
{% endblock %}
