{% extends "./layout.njk" %}
{% from "components/styleguide.njk" import sgComponent %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    {% include "components/" + slug + "/examples.njk" ignore missing %}
{% endblock %}
