{% from "components/section-links/macro.njk" import sectionLinks %}

{% extends "./layout.njk" %}

{% block content %}
    <main role="main" class="u-inner u-padded-vertical">
        <div class="s-prose u-constrained-wide accent-content--pink">
            <h1>Big Lottery Fund Design System</h1>
            <p>
                The following pages contain documentation of common design patterns
                and components used on the Big Lottery Fund website.
            </p>
        </div>
        {{ sectionLinks([{
            "label": "Styles",
            "href": "/patterns/styles"
        }, {
            "label": "Components",
            "href": "/patterns/components"
        }]) }}
    </main>
{% endblock %}
