{% extends "./layout.njk" %}

{% block content %}
    <div class="inner s-prose spaced--t">
        <h2>Sections</h2>
        <ul>
            <li><a href="/patterns/typography">Typography</a></li>
            <li><a href="/patterns/components">Components</a></li>
        </ul>
    </div>
{% endblock %}
