{% extends "./layout.njk" %}

{% from "components/styleguide.njk" import sgSectionHeader, sgExample, sgUsage %}

{% block content %}

<div class="u-inner">
    {{ sgSectionHeader('Typography') }}

    {% call sgExample('Typographic Scale') %}
        {% for n in range(1, 9) %}
            <h2 class="t{{ n }}">T{{ n }} Typographic Style</h2>
        {% endfor %}
    {% endcall %}

    {{ sgSectionHeader('Typography Helpers') }}

    {% call sgExample('Title with underline') %}
        <h2 class="t2 t--underline accent--pink a--text">Title with underline</h2>
    {% endcall %}

    {{ sgSectionHeader('Buttons') }}

    {% call sgExample('Default buttons') %}
        <p><button class="btn" type="button">Default Button</button></p>
        <p><button class="btn accent--pink a--btn" type="button">Default Button</button></p>
        <p><button class="btn accent--cyan a--btn" type="button">Default Button</button></p>
    {% endcall %}

    {% call sgUsage() %}
        Buttons can be themed by adding an accent class to the button, e.g. <code>accent--pink a--btn</code>
    {% endcall %}

    {% call sgExample('Medium button') %}
        <p><button class="btn btn--medium" type="button">Medium Button</button></p>
    {% endcall %}

    {% call sgExample('Small button') %}
        <p><button class="btn btn--small" type="button">Small Button</button></p>
    {% endcall %}

    {% call sgExample('Outline button') %}
        <p><button class="btn btn--medium btn--outline" type="button">Outline Button</button></p>
    {% endcall %}

    {% call sgExample('Button group') %}
        <div class="o-button-group">
            <button class="btn btn--medium" type="button">Button One</button>
            <button class="btn btn--medium" type="button">Button Two</button>
        </div>
    {% endcall %}

    {% call sgUsage() %}
        Group a set of buttons together.
        On small screens buttons within a group will be displayed stacked and full-width.
        On wider screens buttons are evenly laid-out.
    {% endcall %}
</div>

{% endblock %}
