/* =========================================================================
   Scoped Prose Styles
   ========================================================================= */
/* https://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/#scope-namespaces-s- */

.s-prose {
    h2::after {
        @include underlined();
    }

    p + h2,
    ol + h2,
    ul + h2 {
        margin-top: 1.5em;
    }

    h3,
    h4 {
        margin: 0 0 0.4em;
    }

    p + h3,
    ol + h3,
    ul + h3,
    p + h4,
    ol + h4,
    ul + h4 {
        margin-top: 1em;
    }

    ol,
    ul {
        margin-bottom: 1em;
    }

    ul li,
    ol li {
        margin-bottom: 0.3em;
        margin-top: 0;
        margin-left: 1.5em;

        @include mq('medium') {
            margin-left: 2.5em;
        }

        > p {
            margin-bottom: 0;
        }
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    hr {
        border: none;
        border-bottom: 1px solid get-color('border', 'base');
        padding-bottom: $spacingUnit;
        margin: 0 0 ($spacingUnit * 1.5) 0;
    }

    b,
    strong,
    a:not(.btn) {
        font-weight: font-weight('body', 'bold');
    }

    a[href^='tel:'] {
        text-decoration: none;
    }

    table {
        $table-spacing: 4px;

        font-size: 90%;
        box-sizing: border-box;
        width: 100%;
        max-width: 48em;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;
        margin: 0 0 1em;
        padding: 0;

        tr {
            background-color: get-color('background', 'light-neutral');

            &:nth-child(even) {
                background-color: darken(get-color('background', 'light-neutral'), 3%);
            }

            td {
                border: solid white;
                border-width: $table-spacing 0 0 $table-spacing;

                &:first-of-type {
                    border-left: 0;
                }
            }
        }

        thead,
        th {
            font-weight: normal;
            vertical-align: middle;
            font-family: font-stack('display');
        }

        thead {
            color: white;
            background-color: get-color('brand', 'primary');

            tr {
                background-color: transparent;
            }

            tr th {
                border-left: $table-spacing solid lighten(get-color('brand', 'primary'), 5%);

                &:first-of-type {
                    border-left: 0;
                }
            }
        }

        th,
        td {
            padding: 1em;
            text-align: left;
            word-wrap: break-word;

            > p {
                margin: 0;
            }
        }

        td {
            vertical-align: top;

            // Fix word-break in IE when used in tables
            a[href^='mailto:'],
            a[href^='tel:'] {
                display: table-cell;
            }
        }
    }

    .table-container {
        width: 100%;
        overflow-y: auto;
        margin: 0 0 1em;

        @include mq('medium', 'max') {
            table {
                width: auto;
            }
        }
    }

    .video-container {
        margin: 0 -10px 1em;

        @include mq('medium') {
            margin: 0 1.5em 1.5em;
        }
    }

    figure {
        margin: 1em 0 2em;

        img {
            width: auto;
            margin-bottom: 5px;
        }

        figcaption {
            @include text-caption();
        }
    }
}
