{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/section-links/macro.njk" import sectionLinks %}

{% block content %}
    <main role="main">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose">
                    {{ copy.introduction | safe }}
                </div>
                {{ sectionLinks(ourPeopleLinks) }}
            </section>
        </div>
    </main>
{% endblock %}
