{% from "components/buttons.njk" import startButton %}
{% from "components/feedback.njk" import inlineFeedback with context %}


{% extends "layouts/main.njk" %}
{% set bodyClass = 'has-static-header' %}
{% set pageAccent = 'pink' %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <h1 class="t1">
                {{ form.title }} &ndash;
                Apply for a grant over £10,000
            </h1>

            <div class="u-constrained-content s-prose spaced--l">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">Find out how we can help you</h2>
                <p>
                    You can apply for over £10,000 to support communities to take action
                    on the issues that matter to them. Once you submit your idea a local
                    funding officer will contact you within fifteen working days.
                </p>

                {{ startButton(startUrl) }}
            </div>

            <div class="u-constrained-content s-prose spaced--l">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">Before you start</h2>
                <h3 class="t4">We can fund</h3>
                <ul>
                    <li>Ideas taking place in the UK</li>
                    <li>Voluntary and community sector organisations and social enterprises</li>
                    <li>Public bodies such as local authorities, schools and health agencies</li>
                    <li>Community interest companies so long as profits are reinvested into the organisation to create more impact</li>
                    <li>A group of organisations working together led by one of the organisations above</li>
                </ul>

                <h3 class="t4">We can’t fund</h3>
                <ul>
                    <li>Ideas taking place outside of the UK</li>
                    <li>Profit-making organisations</li>
                    <li>Individuals</li>
                </ul>

                <p><a href="{{ localify('/funding/programmes') }}">Browse all of our funding programmes</a></p>

                <h3 class="t4">You'll need</h3>
                <ul>
                    <li>To briefly explain your idea and why it’ll make a difference</li>
                    <li>The legal name of your organisation and other organisations you may be working with</li>
                    <li>Your contact details</li>
                </ul>
            </div>

            <div class="u-constrained-content s-prose">
                <h2 class="t2 t--underline accent--{{ pageAccent }}">Other ways to apply</h2>
                <p>
                    We’re available Monday–Friday from 9am to 5pm to answer questions about applying.
                </p>
                <ul>
                    <li><strong>Telephone</strong>: 0345 4 10 20 30</li>
                    <li><strong>Textphone</strong>: 18001 plus 0345 4 10 20 30 (for those with a hearing or speech impairment)</li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
