{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "../layouts/main.njk" %}

{% block title %}Grants near {{ postcode }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {% set title = 'Funding near ' + postcode %}
        {{ headers.overlayText('h2', title) }}
    {% endset %}

    {{ hero.header('reading', heroContent, 'pink') }}

    <article role="main" class="accent--pink">
        <div class="inner a--border-top content-box">
            <h3 class="t2">We awarded {{ grants.length }} grants near you:</h3>

            <ul class="grant-list">
                {% for g in grants %}
                    <li>
                        {{ g.recipientOrganization[0].name }}
                        (&pound;{{ g.amountAwarded }} awarded on {{ g.awardDate }})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>

{% endblock %}
