{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
    {% set pageAccent = 'turquoise' %}
    {% set heroContent %}
        {{ headers.overlayText('h2', title, 't2') }}
    {% endset %}

    {{ hero.header('foi', heroContent, pageAccent) }}

    <main role="main" class="nudge-up">
        <article class="content-box inner--wide-only accent--turquoise a--border-top">
            <div class="s-prose s-prose--long
                u-constrained-content-wide accent-content--{{ pageAccent }}">
                {% if content.subtitle %}
                    <h2>{{ content.subtitle }}</h2>
                {% endif %}
                {{ content.body | safe }}
            </div>
        </article>
    </main>

{% endblock %}
