{% macro factRiver(facts) %}
    <ul class="fact-river">
        {% for fact in facts %}
            <li class="fact-river__item">
                <div class="fact-item{% if (loop.index % 2 === 0) %} fact-item--reversed{% endif %}">
                    {% if fact.image %}
                        <div class="fact-item__image">
                            <img src="{{ fact.image }}" alt="">
                        </div>
                    {% endif %}
                    <div class="fact-item__text">{{ fact.text | safe }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
