{% extends "layouts/main.njk" %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/user-status/macro.njk" import userStatus with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">
            {{ userNavigation(userNavigationLinks) }}

            <div class="s-prose u-constrained-wide u-margin-bottom-l">
                <h1 class="u-tone-brand-primary">{{ title }}</h1>
                {{ confirmation.body | safe }}
            </div>

            {{ inlineFeedback(
                description = formTitle,
                promptLabel = copy.feedback.promptLabel,
                fieldLabel = copy.feedback.fieldLabel,
                helpText = copy.feedback.helpText,
                isToggleable = false
            )  }}
        </section>
    </main>
{% endblock %}
