{% extends "layouts/main.njk" %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/user-status/macro.njk" import userStatus with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">

            {{ userNavigation(userNavigationLinks) }}

            <h1 class="t2 u-tone-brand-primary">{{ title }}</h1>

            {{ userStatus(user) }}

            {{ confirmation.body | safe }}

            {{ inlineFeedback(
                description = formTitle,
                promptLabel = "Can you spare a minute to give us some feedback?",
                fieldLabel = "How was your experience of submitting an application?",
                helpText = "This is completely anonymous and doesn't form part of your submission. Don't include any details about your idea, just tell us how you found the experience.",
                isToggleable = false
            )  }}
        </section>
    </main>
{% endblock %}
