{% extends "layouts/main.njk" %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/icons.njk" import iconTick, iconBin %}
{% from "components/user-status/macro.njk" import userStatus with context %}

{% block title %}{{ copy.dashboard.title }} | {{ formTitle }} | {% endblock %}

{%  macro applicationOverview(overviewParts) %}
    <dl class="o-definition-list o-definition-list--compact u-margin-top">
        {% for part in overviewParts %}
            <dt>{{ part.label }}</dt>
            <dd>
                {%- if part.value -%}
                    {{ part.value }}
                {%- else -%}
                    <span class="application-data-missing">not yet completed</span>
                {%- endif -%}
            </dd>
        {% endfor %}
    </dl>
{%  endmacro %}

{% macro pendingApplicationCard(application) %}
    <article class="application-card">
        <div class="application-card__summary">
            <p class="application-card__minor-title">{{ formTitle }}</p>
            <h3 class="t--underline u-tone-brand-primary">
                <a href="{{ application.editUrl }}" class="u-link-unstyled">
                    {{ application.summary.title }}
                </a>
            </h3>

            {{ applicationOverview(application.summary.overview) }}

            <div class="o-button-group u-margin-bottom">
                <a class="btn btn--medium" href="{{ application.editUrl }}">Continue with this application</a>
                <a class="btn btn--small btn--outline" href="{{ application.deleteUrl }}">
                    <span class="btn__icon btn__icon-left">{{ iconBin() }}</span>
                    Delete
                </a>
            </div>

            <aside class="application-summary__links">
                <h4 class="application-card__minor-title">Guidance for this programme:</h4>
                {# @TODO: Where should this go? #}
                <p><a href="#">{{ formTitle }} guidance</a><br /></p>
            </aside>
        </div>

        <div class="application-card__progress">
            <div class="application-card__progress__status">
                <p class="application-card__minor-title">Application status:</p>
                <h4>Not submitted</h4>
                <p>
                    You started your application on
                    <strong>{{ formatDate(application.createdAt.toISOString(), DATE_FORMATS.short) }}</strong>.
                </p>
                <p>
                    You have until
                    <strong>{{ formatDate(application.expiresAt.toISOString(), DATE_FORMATS.short) }}</strong>
                    to complete your application.
                </p>
            </div>

            <ol class="u-list-unstyled">
                {% for section in application.progress.sections %}
                    <li class="section-progress-mini section-progress-mini--{{ section.status }}">
                        <span class="section-progress-mini__title">
                            {{ section.label }}
                        </span>
                        <span class="section-progress-mini__marker">
                            {% if section.status === 'complete' %}
                                {{ iconTick() }} {{ copy.statusComplete }}
                            {% elseif section.status === 'incomplete' %}
                                {{ copy.statusInProgress }}
                            {% else %}
                                {{ copy.statusNotStarted }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </article>
{% endmacro %}

{% macro submittedApplicationCard(application) %}
    <article class="application-card">
        <div class="application-card__summary">
            <p class="application-card__minor-title">{{ formTitle }}</p>
            <h3 class="t--underline u-tone-brand-primary">
                {{ application.applicationTitle }}
            </h3>

            {{ applicationOverview(application.applicationOverview) }}

            {# @TODO: Where does view application go? Needs to be read-only #}
            <div class="o-button-group u-margin-bottom">
                <a class="btn btn--small btn--outline" href="#">
                    View this application
                </a>
            </div>
        </div>

        <div class="application-card__progress">
            <div class="application-card__progress__status">
                <p class="application-card__minor-title">Application status:</p>
                <h4>Submitted {{ formatDate(application.createdAt.toISOString(), DATE_FORMATS.short) }}</h4>
                <div class="s-prose">
                    <p>We aim to let you know our decision in about 12 weeks. If you have any questions,
                    {# @TODO: Where should this go? #}
                    <a href="{{ localify('/contact') }}">contact a member of our advice team</a>.</p>
                </div>
            </div>
        </div>
    </article>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">
            {{ userStatus(user) }}

            <div class="s-prose">
                <h1 class="t--underline">{{ copy.dashboard.title }}</h1>
                {{ __(copy.dashboard.introduction, '#new') | safe }}
            </div>

            {% if pendingApplications.length > 0 %}
                <h2 class="t--underline">In progress</h2>
                {% for application in pendingApplications %}
                    {{ pendingApplicationCard(application) }}
                {% endfor %}
            {% endif %}

            {% if submittedApplications.length > 0 %}
                <h2 class="t--underline">{{ copy.dashboard.submittedTitle }}</h2>
                {% for application in submittedApplications %}
                    {{ submittedApplicationCard(application) }}
                {% endfor %}
            {% endif %}
        </section>

        {% call contentBox(id = "new") %}
            <h2>New application</h2>
            <p>You can create a new funding application for {{ formTitle }} here after completing our eligibility checks.</p>
            <p><a href="{{ formBaseUrl }}/start" class="btn btn--outline">Start new application</a></p>
        {% endcall %}
    </main>
{% endblock %}
