{% extends "layouts/main.njk" %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner u-inner-wide-only">
            {{ userNavigation(userNavigationLinks) }}


            <div class="form-header">
                <p class="form-header__prefix">{{ formTitle }}</p>
                <h1 class="form-header__title">{{  title }}</h1>
            </div>

            <div class="s-prose u-constrained-wide">
                {{ copy.delete.message | safe }}
            </div>

            <form method="post" class="form-actions">
                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}
                <input class="btn" type="submit" value="{{ copy.common.delete }}" />
                or <a href="../">cancel</a>
            </form>
        </div>
    </main>
{% endblock %}
