{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formField with context %}
{% from "components/form-header/macro.njk" import formHeader with context %}

{% block title %}Eligibility | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {% if eligibilityStatus === 'eligible' %}
                <div class="s-prose u-constrained-wide">
                    <h1 class="t--underline">{{ __('applyNext.eligibility.successfulTitle', formTitle) }}</h1>
                    {{ eligibility.successMessage | safe }}
                    <p class="form-actions">
                        <a class="btn" href="{{ formBaseUrl }}/new">{{ copy.common.startYourApplication }}</a>
                    </p>
                </div>
            {% elseif eligibilityStatus === 'ineligible' %}
                <div class="s-prose u-constrained-wide">
                    <h1 class="t--underline">{{ copy.eligibility.unsuccessfulTitle }}</h1>
                    <p>{{ currentStep.ineligible.reason }}</p>
                    <h3>{{ copy.eligibility.whatNow }}</h3>
                    {{ currentStep.ineligible.detail | safe }}
                    <p class="form-actions">
                        <a class="btn" href="{{ localify('/contact') }}">{{ __('global.nav.contact')}}</a>
                        <a class="btn btn--outline" href="{{ formBaseUrl }}">{{ copy.common.exit }}</a>
                    </p>
                </div>
            {% else %}
                {% set prefix = __('global.misc.stepProgress', currentStepNumber, totalSteps) %}
                {{ formHeader(
                    backUrl = backUrl,
                    title = copy.eligibility.title,
                    prefix = prefix if eligibilityStatus !== 'eligible'
                )}}

                <form method="post" class="u-constrained-wide u-constrained-content">
                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}

                    {{ formField({
                        type: 'radio',
                        name: 'eligibility',
                        label: currentStep.question,
                        explanation: currentStep.explanation,
                        value: queryParams.amount,
                        isRequired: true,
                        options: [{
                            label: currentStep.yesLabel,
                            value: "yes"
                        }, {
                            label: currentStep.noLabel,
                            value: "no"
                        }]
                    }) }}

                    <div class="form-actions">
                        <input class="btn" type="submit" value="{{ copy.continue }}" />
                    </div>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}
