{% extends "layouts/main.njk" %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/content-box/macro.njk" import contentBox %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox() %}

            <div class="form-header">
                <h1 class="form-header__title">{{ title }}</h1>
            </div>

            {% if item === 'bank-statement' %}
                <div class="s-prose u-constrained">
                    <h2>{{ copy.fields.bankStatement.help.helpTitle }}</h2>
                    {{ copy.fields.bankStatement.help.body | safe }}
                </div>
            {% endif %}

            <p class="u-margin-top js-only"><a href="javascript:window.close();" class="btn">{{ copy.common.closeThisPage }}</a></p>
            <noscript>
                <p class="u-margin-top"><a href="../" class="btn">{{ copy.common.backToApplications }}</a></p>
            </noscript>

        {% endcall %}
    </main>
{% endblock %}
