{% from "./questions-list.njk" import questionsIntro, questionList with context %}

{% extends "views/layouts/emails.njk" %}

{% block content %}
    {{ questionsIntro(form) }}

    {{ questionList(form, eligibility) }}

    <div id="pageFooter">
        <p>Application form questions for {{ form.title}} &ndash; <strong>Please do not attempt to fill out this form or send it to The National Lottery Community Fund.</strong> We will not accept paper copies of this form.</p>
    </div>
{% endblock %}
