{% from "./questions-list.njk" import questionsIntro, questionList with context %}

{% extends "views/layouts/emails.njk" %}

{% block content %}
    {{ questionsIntro(form) }}

    {{ questionList(form, eligibility) }}

    <div id="pageFooter">
        <p>{{ __('applyNext.questions.printWarning', form.title) | safe }}</p>
    </div>
{% endblock %}
