{% macro fieldTypeHelpText(field, step) %}
    {% if field.type === 'checkbox' %}
        {% if field.options.length === 1 %}
            {{ copy.questionList.confirmCriteria }}
        {% else %}
            {{ copy.questionList.chooseFromSelection }}
        {% endif %}
    {% elseif field.type === 'radio' or field.type === 'select' %}
        {{ copy.questionList.pickOneFromSelection }}
    {% elseif field.type === 'budget' %}
        {{ copy.questionList.provideBudget }}
        {% if field.attributes.max %}
            {% if field.attributes.rowLimit %}
                ({{ __('applyNext.questionList.maxBudgetAndRows', field.attributes.max.toLocaleString(), field.attributes.rowLimit) }})
            {% else %}
                ({{ __('applyNext.questionList.maxBudget', field.attributes.max.toLocaleString()) }})
            {% endif %}
        {% endif %}
    {% elseif field.type === 'currency' %}
        {{ copy.questionList.provideFinancialFigure }}
    {% elseif field.type === 'address' or field.type === 'address-history' %}
        {{ copy.questionList.provideAddress }}
    {% elseif field.type === 'date' or field.type === 'day-month' or field.type === 'date-range' or field.type === 'month-year' %}
        {{ copy.questionList.provideDate }}
    {% elseif field.type === 'email' %}
        {{ copy.questionList.provideEmail }}
    {% elseif field.type === 'file' %}
        {{ copy.questionList.uploadFile }}
    {% elseif field.type === 'full-name' %}
        {{ copy.questionList.provideName }}
    {% elseif field.type === 'number' %}
        {{ copy.questionList.provideNumber }}
    {% elseif field.type === 'tel' %}
        {{ copy.questionList.providePhone }}
    {% elseif field.type === 'text' %}
        {{ copy.questionList.provideText }}
    {% elseif field.type === 'textarea' %}
        {{ copy.questionList.provideTextLong }}
        {% if field.settings.minWords and field.settings.maxWords %}
            ({{ __('applyNext.questionList.minAndMaxWords', field.settings.minWords, field.settings.maxWords) }})
        {% else %}
            {% if field.settings.minWords %}
                ({{ __('applyNext.questionList.minWords', field.settings.minWords) }})
            {% endif %}
            {% if field.settings.maxWords %}
                ({{ __('applyNext.questionList.maxWords', field.settings.maxWords) }})
            {% endif %}
        {% endif %}
    {% endif %}
    {% if step.notRequired %}
        &mdash; {{ copy.questionList.optional }}
    {% elseif field.isRequired %}
        &mdash; {{ __('global.misc.required') | lower }}
    {% elseif not field.isRequired %}
        &mdash; {{ __('global.misc.optional') | lower }}
    {% endif %}

    {% if field.isConditional %}
        <p class="u-margin-top-s u-margin-bottom-s">
            ({{ copy.questionList.conditionalNote | safe }})
        </p>
    {% endif %}
{% endmacro %}

{% macro header(title) %}
    <div class="application-questions__header">
        <h3>{{ title }}</h3>
        {{ caller() }}
    </div>
{% endmacro %}

{% macro question(first = false) %}
    <dl class="application-questions__item">
        {{ caller() }}
    </dl>
{% endmacro %}

{% macro questionsIntro(form) %}
    <div class="s-prose">
        <h1 class="t--underline">{{ form.title }}</h1>
        <h3>{{ copy.questionList.introduction.title }}</h3>
        <p>{{ __('applyNext.questionList.introduction.body', form.title) | safe }}</p>
    </div>
{% endmacro %}

{% macro questionList(form, eligibility) %}

    <section class="application-questions">

        {% call header(copy.questionList.eligibility.title) %}
            <p class="u-no-margin u-text-x-small">{{ copy.questionList.eligibility.note }}</p>
        {% endcall %}

        <div class="application-questions__set">
            {% for field in eligibility.questions %}
                {% call question(first = loop.first) %}
                    <dt class="application-questions__q">{{ field.question | safe }}</dt>
                    {% if field.explanation %}
                        <dd class="s-prose u-text-x-small">{{ field.explanation | safe }}</dd>
                    {% endif %}
                {% endcall %}
            {% endfor %}
        </div>

        {% for section in form.sections %}

            {% call header(section.title) %}
                <p class="u-no-margin u-text-x-small">{{ section.summary }}</p>
            {% endcall %}

            {% for step in section.steps %}
                <div class="application-questions__set">
                    <h4 class="t--underline">{{ step.title }}</h4>

                    {% for fieldset in step.fieldsets %}
                        {% for field in fieldset.fields %}
                            {% call question(first = loop.first) %}
                                <dt class="application-questions__q">{{ field.label | safe }}</dt>
                                <dd class="application-questions__help">{{ fieldTypeHelpText(field, step) }}</dd>

                                {% if field.explanation %}
                                    <dd class="u-margin-bottom-s u-text-x-small s-prose">
                                        {{ field.explanation | safe }}
                                    </dd>
                                {% endif %}

                                {% if field.options %}
                                    <div class="s-prose u-text-x-small">
                                        <ul>
                                            {% for option in field.options %}
                                                <li>{{ option.label }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% if field.optgroups %}
                                    {% for optgroup in field.optgroups %}
                                        <h5>{{ optgroup.label }}</h5>
                                        <div class="s-prose u-text-x-small">
                                            <ul>
                                                {% for option in optgroup.options %}
                                                    <li>{{ option.label }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                            {% endcall %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </section>


{% endmacro %}
