{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formErrors, formField with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}

{% block title %}{{ step.title }} | {{ section.shortTitle or section.title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <form action=""
                  method="post"
                  class="js-form-warn-unsaved"
                  {% if stepIsMultipart %}enctype="multipart/form-data"{% endif %}
            >
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="form-header">

                    <ul class="form-header__actions">
                        <li class="form-header__actions__steps">
                            <ul class="form-step-link">
                                {% if previousPage %}
                                    <li class="form-step-link__item">
                                        <span class="form-step-link__arrow">←</span>
                                        <a href="{{ previousPage.url }}">
                                            Previous
                                            <span class="form-step-link__subtitle">
                                                {{ previousPage.label }}
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if nextPage %}
                                    <li class="form-step-link__item">
                                        <a href="{{ nextPage.url }}">
                                            Next
                                            <span class="form-step-link__subtitle">
                                                {{ nextPage.label }}
                                            </span>
                                        </a>
                                        <span class="form-step-link__arrow">→</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><a href="#">View summary</a></li>
                        <li><a href="#">Applications dashboard</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Log out</a></li>
                    </ul>

                    <h2 class="form-header__title u-tone-brand-primary">{{ section.title }}</h2>
                    <p class="form-header__suffix">
                        <strong>{{ step.title }}</strong> ({{ __('global.misc.stepProgress', stepNumber, totalSteps) }})
                    </p>
                </div>

                {{ formErrors(__('global.misc.errorTitle'), errors) }}
            
                {% set singleFieldset = step.fieldsets.length === 1 %}
                {% for fieldset in step.fieldsets %}
                    <fieldset class="form-fieldset u-constrained-wide">
                        <legend class="form-fieldset__legend t2 t--underline{% if singleFieldset %} u-visually-hidden{% endif %}">
                            {{ fieldset.legend }}
                        </legend>

                        {% if fieldset.introduction %}
                            <div class="form-fieldset__intro s-prose">{{ fieldset.introduction | safe }}</div>
                        {% endif %}

                        <div class="form-fieldset__fields">
                            {% for field in fieldset.fields %}
                                {{ formField(field, errors = errors) }}
                            {% endfor %}
                        </div>

                        {% if fieldset.footer %}
                            <div class="form-fieldset__intro s-prose">{{ fieldset.footer | safe }}</div>
                        {% endif %}

                    </fieldset>
                {% endfor %}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                <div class="form-actions">
                    <input class="btn" type="submit" value="Continue" />
                </div>

                <p class="u-text-medium">
                    Not sure about this step? <a href="{{ nextUrl }}">Skip to the next step</a>
                    or <a href="{{ formBaseUrl }}/summary">go to the summary</a>
                </p>
            </form>
        </div>
    </main>
{% endblock %}
