{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formErrors, formField with context %}
{% from "components/form-header/macro.njk" import formHeaderWithData with context %}

{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% set stepCount = __('global.misc.stepProgress', stepNumber, totalSteps) %}
{% block title %}{{ step.title }} ({{ stepCount }}) | {{ section.shortTitle or section.title }} | {{ formTitle }} | {% endblock %}


{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            <form action=""
                  method="post"
                  class="js-form-warn-unsaved js-session-form js-apply-{{ formId }}"
                  {% if errors | length > 0 %}data-form-has-errors="1"{% endif %}
                  {% if step.isMultipart %}enctype="multipart/form-data"{% endif %}
                  {% if step.noValidate %}novalidate{% endif %}
                  >

                <input class="u-visually-hidden" type="submit" tabindex="-1" />

                {{ userNavigation(userNavigationLinks) }}

                {{ formHeaderWithData(formTitle, form.summary.title) }}

                {% if step.message %}
                    <div class="message message--info message--minor" role="alert">
                        <p><strong>{{ step.message.title | safe }}</strong></p>
                        <p>{{ step.message.body | safe }}</p>
                    </div>
                {% endif %}

                <div class="form-header">
                    <h1 class="t2 form-header__title u-tone-brand-primary">{{ section.title }}</h1>
                    <p class="form-header__suffix">
                        <strong>{{ step.title }}</strong> ({{ stepCount }})
                    </p>
                </div>

                {{ formErrors(__('global.misc.errorTitle'), errors) }}

                {% set singleFieldset = step.fieldsets.length === 1 %}
                {% for fieldset in step.fieldsets %}
                    <fieldset class="form-fieldset u-constrained-wide">
                        <legend
                            class="form-fieldset__legend t2 t--underline{% if singleFieldset %} u-visually-hidden{% endif %}">
                            {{ fieldset.legend }}
                        </legend>

                        {% if fieldset.introduction %}
                            <div class="form-fieldset__intro s-prose">{{ fieldset.introduction | safe }}</div>
                        {% endif %}

                        <div class="form-fieldset__fields">
                            {% for field in fieldset.fields %}
                                {{ formField(field, errors = errors) }}
                            {% endfor %}
                        </div>

                        {% if fieldset.footer %}
                            <div class="form-fieldset__intro s-prose">{{ fieldset.footer | safe }}</div>
                        {% endif %}

                    </fieldset>
                {% endfor %}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                <div class="form-actions form-actions--flex">
                    <div class="form-actions__primary">
                        <input class="btn" type="submit" value="{{ copy.continue }}"/>
                    </div>
                    <p class="form-actions__secondary form-actions__timestamp">
                        {{ copy.lastSaveTimeText }} -
                        <time datetime="{{ formatISODate(updatedAt) }}">
                            {{ formatCalendarTime(updatedAt) }}
                        </time>
                    </p>
                </div>
                {{ userNavigation(userNavigationLinks, isFooter = true) }}
            </form>
        </div>
    </main>
{% endblock %}
