{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/details/macro.njk" import details %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/icons.njk" import iconTick, iconBin %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% macro stepSummary(step, stepNumber, totalSteps) %}
    <div class="step-summary">
        <h3 class="step-summary__title">
            {{ __('global.misc.stepProgress', stepNumber, totalSteps) }} &ndash; {{ step.title }}
        </h3>

        {% if step.isRequired %}
            {% for fieldset in step.fieldsets %}
                {% for field in fieldset.fields %}
                    <div class="step-summary__data {% if field.type === 'textarea' %} is-stacked{% endif %}">
                        <div class="step-summary__data__question">{{ field.label }}</div>
                        <div class="step-summary__data__answer s-prose">
                            {% if field.displayValue %}
                                {% set cleanValue = field.displayValue | striptags(true) | escape | nl2br %}
                                {{ cleanValue }}
                            {% else %}
                                &ndash;
                            {% endif %}
                        </div>
                        <div class="step-summary__data__link">
                            <a href="{{ formBaseUrl }}/{{ step.slug }}#form-field-{{ field.name }}" class="u-edit-link">
                                {{ copy.change }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div class="step-summary__data">
                <p class="u-margin-top-s">{{ copy.summary.notRequired }}</p>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro sectionSummary(section, sectionNumber) %}
    <section class="section-summary section-summary--{{ section.progress.status }}">
        <header class="section-progress-bar section-progress-bar--{{ section.progress.status }}">
            <h2 class="section-progress-bar__title">
                <a href="{{ formBaseUrl }}/{{ section.slug }}" class="u-link-unstyled">
                    {{ copy.sectionPrefix }} {{ sectionNumber }}: {{ section.title }}
                </a>

                {% set editWord = copy.continue if section.progress.status === 'incomplete' else copy.edit %}
                <a class="section-progress-bar__edit u-edit-link" href="{{ formBaseUrl }}/{{ section.slug }}">{{ editWord }}</a>
            </h2>

            <a class="section-progress-bar__marker u-link-unstyled" href="{{ formBaseUrl }}/{{ section.slug }}">
                {% if section.progress.status === 'complete' %}
                    {{ iconTick() }} {{ copy.statusComplete }}
                {% elseif section.progress.status === 'incomplete' %}
                    {{ copy.statusInProgress }}
                {% else %}
                    {{ copy.statusNotStarted }}
                {% endif %}
            </a>
        </header>

        <article class="section-summary__content u-padded-s">
            <p class="u-constrained-wide">{{ section.summary }}</p>

            {% call details(
                title = copy.summary.showQuestions,
                extraClasses = 'js-toggleable',
                isOpen = form.progress.isComplete
            ) %}
                {% for step in section.steps %}
                    {{ stepSummary(
                        step = step,
                        stepNumber = loop.index,
                        totalSteps = section.steps.length
                    )}}
                {% endfor %}
            {% endcall %}
        </article>
    </section>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">
            {{ breadcrumbTrail(breadcrumbs) }}

            {{ formHeader(
                prefix = formTitle,
                title = copy.summary.title,
                suffix = currentProjectName
            ) }}

            <div class="s-prose">{{ copy.summary.introduction | safe }}</div>

            <p class="u-margin-bottom-s">
                <a class="btn btn--small btn--outline" href="{{ formBaseUrl }}/delete/{{ currentlyEditingId }}">
                    <span class="btn__icon btn__icon-left">{{ iconBin() }}</span>
                    {{ copy.common.delete }}
                </a>
            <p>

            <p class="u-align-right">
                <button type="button"
                    class="btn-link u-text-small js-toggle-all-details js-only"
                    data-label-open="{{ copy.summary.collapseAll }}"
                    data-label-closed="{{ copy.summary.expandAll }}">
                </button>
            </p>

            {% for section in form.sections %}
                {{ sectionSummary(section, loop.index) }}
            {% endfor %}

            <div class="form-actions">
                {% if form.progress.isComplete %}
                    <p><a href="{{ formBaseUrl }}/terms" class="btn">{{ copy.submit }}</a></p>
                {% else %}
                    <div class="s-prose">{{ copy.summary.incompleteMessage | safe }}</div>
                {% endif %}

                <div class="s-prose">{{ copy.summary.terms | safe }}</div>
            </div>
        </div>
    </main>
{% endblock %}
