{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/details/macro.njk" import details %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/icons.njk" import iconTick %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% macro summariseErrors() %}
    {% if showErrors and errorsByStep.length > 0 %}
        <div class="form-errors" data-testid="form-errors">
            <h2 class="form-errors__title">These fields need attention before you can submit</h2>
            <div class="form-errors__body">
                {% for step in errorsByStep %}
                    {% if step.errors.length > 0 %}
                        <h3 class="form-errors__subtitle">{{ step.title }}</h3>
                        <ol class="form-errors__list">
                            {% for error in step.errors %}
                                <li>
                                    {% if error.param %}<a href="#field-{{ error.param }}">{% endif %}
                                    {{ error.msg }}
                                    {% if error.param %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% elseif featuredErrors.length > 0 %}
        <div class="form-errors form-errors--featured" data-testid="form-errors">
            <h2 class="form-errors__title">Some details in your application need extra attention</h2>
            <div class="form-errors__body">
                <ol class="form-errors__list">
                    {% for error in featuredErrors %}
                        <li>
                            {% if error.param %}<a href="#field-{{ error.param }}">{% endif %}
                            {{ error.msg }}
                            {% if error.param %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro submitActionsIncomplete() %}
    <div class="submit-actions">
        <h2 class="submit-actions__title">{{ copy.summary.incompleteTitle }}</h2>
        <p class="u-text-medium s-prose">
            <a href="?show-errors=true">{{ copy.summary.incompleteMessage }}</a>
        </p>
        <a href="?show-errors=true" class="btn">{{ copy.submit }}</a>
    </div>
{% endmacro %}

{% macro stepSummary(step, stepNumber, totalSteps) %}
    <div class="step-summary">
        <h3 class="step-summary__title">
            {{ step.title }}
        </h3>

        {% if step.isRequired %}
            {% for fieldset in step.fieldsets %}
                {% for field in fieldset.fields %}
                    {% set fieldErrors = field.featuredErrors %}
                    {% if showErrors %}
                        {% set fieldErrors = field.errors %}
                    {% endif %}

                    <div class="step-summary__data {% if field.settings.stackedSummary %} is-stacked{% endif %}"
                        id="field-{{ field.name }}">
                        <div class="step-summary__data__question">{{ field.label | safe }}</div>
                        <div class="step-summary__data__answer">
                            <div class="step-summary__data__answer-inner
                                {% if fieldErrors.length > 0 %}{% if showErrors %} has-errors{% else %} has-featured-errors{% endif %}{% endif %}">

                                {% if field.displayValue %}
                                    {% set cleanValue = field.displayValue | striptags(true) | escape | nl2br %}
                                    <span class="s-prose">{{ cleanValue }}</span>
                                {% else %}
                                    &ndash;
                                {% endif %}

                                {% if fieldErrors.length > 0 %}
                                    <ol class="step-summary__data__errors">
                                        {% for error in fieldErrors %}
                                            <li>{{ error.msg }}</li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                        </div>
                        <div class="step-summary__data__link">
                            <a href="{{ formBaseUrl }}/{{ step.slug }}#form-field-{{ field.name }}" class="u-edit-link">
                                {{ copy.change }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% else %}
            <div class="step-summary__data">
                <p class="u-margin-top-s">{{ copy.summary.notRequired }}</p>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro sectionSummary(section, sectionNumber) %}
    <section class="section-summary section-summary--{{ section.progress.status }}">
        <header class="section-progress-bar section-progress-bar--{{ section.progress.status }}">
            <h2 class="section-progress-bar__title">
                <a href="{{ formBaseUrl }}/{{ section.slug }}" class="u-link-unstyled">
                    {{ section.shortTitle or section.title }}
                </a>

                {% set editWord = copy.continue if section.progress.status === 'incomplete' else copy.edit %}
                <a class="section-progress-bar__edit u-edit-link u-dont-print" href="{{ formBaseUrl }}/{{ section.slug }}">{{ editWord }}</a>
            </h2>

            <a class="section-progress-bar__marker u-link-unstyled" href="{{ formBaseUrl }}/{{ section.slug }}">
                {% if section.progress.status === 'complete' %}
                    {{ iconTick() }} {{ copy.statusComplete }}
                {% elseif section.progress.status === 'incomplete' %}
                    {{ copy.statusInProgress }}
                {% else %}
                    {{ copy.statusNotStarted }}
                {% endif %}
            </a>
        </header>

        <article class="section-summary__content u-padded-s">
            <p class="u-constrained-wide">{{ section.summary }}</p>

            {% if expandSections %}
                {% for step in section.steps %}
                    {{ stepSummary(
                        step = step,
                        stepNumber = loop.index,
                        totalSteps = section.steps.length
                    )}}
                {% endfor %}
            {% else %}
                {# @TODO how does this print? #}
                {% call details(
                    title = copy.summary.showQuestions,
                    extraClasses = 'js-toggleable',
                    isOpen = form.progress.isComplete or section.hasFeaturedErrors
                ) %}
                    {% for step in section.steps %}
                        {{ stepSummary(
                            step = step,
                            stepNumber = loop.index,
                            totalSteps = section.steps.length
                        )}}
                    {% endfor %}
                {% endcall %}
            {% endif %}
        </article>
    </section>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only">

            {{ userNavigation(userNavigationLinks) }}

            {{ formHeader(
                title = copy.summary.title,
                suffix = currentProjectName
            ) }}


            {{ summariseErrors() }}

            {% if form.progress.isComplete %}
                <div class="submit-actions submit-actions--complete">
                    <h2 class="submit-actions__title">{{ iconTick('medium') }} {{ copy.summary.completeTitle }}</h2>
                    <p class="submit-actions__text">{{ copy.summary.completeMessage }}</p>
                </div>
            {% else %}
                <div class="s-prose">{{ copy.summary.introduction | safe }}</div>
            {% endif %}

            {% if not expandSections %}
                <p class="u-align-right u-dont-print">
                    <button type="button"
                        class="btn-link u-text-small js-toggle-all-details js-only u-align-right"
                        data-label-open="{{ copy.summary.collapseAll }}"
                        data-label-closed="{{ copy.summary.expandAll }}">
                    </button>
                </p>
            {% endif %}

            {% for section in form.sections %}
                {{ sectionSummary(section, loop.index) }}
            {% endfor %}

            {% if form.progress.isComplete %}
                <form class="submit-actions submit-actions--complete"
                      action="{{ formBaseUrl }}/submission" method="post">
                    <h2 class="submit-actions__title">{{ iconTick('medium') }} {{ copy.summary.completeTitle }}</h2>
                    <p class="submit-actions__text">{{ copy.summary.completeMessage }}</p>
                    {% if csrfToken %}
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    {% endif %}
                    <input class="btn u-margin-bottom-s" type="submit" value="{{ copy.submit }}" />
                </form>
            {% else %}
                {{ submitActionsIncomplete() }}
            {% endif %}

        </div>
    </main>
{% endblock %}
