{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formField with context %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}

{% set copy = __('getAdvice.startPage') %}
{% block title %}{{ copy.title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox() %}
            {{ formHeader(
                backUrl = backUrl,
                title = formTitle,
                prefix = globalCopy.brand.title
            )}}

            <h2>{{ copy.beforeYouStart.title }}</h2>

            <ul>
                {% for item in copy.beforeYouStart.items %}
                    <li>{{ item | safe }}</li>
                {% endfor %}
            </ul>

            <h2>{{ copy.whatInformation.title }}</h2>

            <ul>
                {% for item in copy.whatInformation.checklist %}
                    <li>
                        <strong>{{ item.title }}</strong>{% if item.description %}: {{ item.description }}{% endif %}
                    </li>
                {% endfor %}
            </ul>

            <h2>{{ copy.readyToGetAdvice.title }}</h2>
            <p>{{ copy.readyToGetAdvice.intro }}</p>

            <ul>
                {% for item in copy.readyToGetAdvice.items %}
                    <li>{{ item | safe }}</li>
                {% endfor %}
            </ul>

            <p class="form-actions u-margin-bottom-l">
                <a href="{{ newUrl }}" class="btn">{{ copy.startAction }}</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
