{% extends "layouts/main.njk" %}
{% from "components/form-fields-next/macros.njk" import formField with context %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}

{% set title = 'Before you start' %}
{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox() %}
            {{ formHeader(
                backUrl = backUrl,
                title = formTitle,
                prefix = globalCopy.brand.title
            )}}

            <h2>Before you start</h2>

            <ul>
                <li>Have a look at our website for information about
                    <a href="{{ localify("/funding/over10k") }}">funding over £10,000</a>
                </li>
                <li>If you'd rather chat to us on the phone about
                    your idea—<a href="{{ localify("/contact") }}">talk to us</a>
                </li>
                <li>If you need less than £10,000 you can
                    <a href="{{ localify("/apply/awards-for-all") }}">apply straight away</a>
                </li>
            </ul>

            <h2>What information will you need handy for this form?</h2>

            <ul>
                <li>
                    <strong>What you'd like to do</strong>:
                    Tell us the name of your project, what you'd like to do,
                    how your project involves your community,
                    and how your idea fits in with other local activities in your area.
                </li>
                <li>
                    <strong>Location of your project</strong>:
                    Tell us where your project will take place.</li>
                <li>
                    <strong>How much money you need</strong>:
                    If you don't know exact amounts—estimates are fine.
                </li>
                <li>
                    <strong>How long you need the money for</strong>
                </li>
                <li>
                    <strong>About your organisation</strong>:
                    We need to know your organisation's name,
                    what type of organisation it is—and its main address.
                </li>
                <li>
                    <strong>Your contact details</strong>:
                    We're looking for your name, email address and telephone
                    so we can get in touch to talk about your idea.
                    And any communication needs you have.
                </li>
            </ul>

            <h2>Ready to get advice about your idea?</h2>

            <p>Here's what happens next:</p>

            <ul>
                <li>We'll email you to let you know we got your idea</li>
                <li>Then we'll get in touch to talk about your idea within 15 working days.</li>
            </ul>

            <p class="form-actions u-margin-bottom-l">
                <a href="{{ newUrl }}" class="btn">Get advice on your idea</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
