{% extends "layouts/main.njk" %}
{% from "components/form-fields/macros.njk" import formField with context %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/process-map/macro.njk" import processMap %}

{% set title = "Before you start" %}
{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}


{% block content %}
    <main role="main" id="content">
        {% call contentBox(skipProse = true) %}
            {{ formHeader(
                backUrl = backUrl,
                title = formTitle,
                prefix = globalCopy.brand.title
            )}}

            <div class="s-prose">
                <h2>{{ title }}</h2>

                <ul>
                    <li>Have a look at our website for information about funding under £10,000</li>
                    <li>If you need more than £10,000, have a look at our website for information about funding over £10,000</li>
                </ul>

                <h2>What information you need to apply</h2>
            </div>


            <p class="form-actions u-margin-bottom-l">
                <a href="{{ nextPageUrl }}" class="btn">Start your application</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
