{% extends "layouts/main.njk" %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/process-map/macro.njk" import processMap %}

{% set copy = __('awardsForAll.startPage') %}
{% block title %}{{ copy.title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox(skipProse = true) %}
            {{ formHeader(
                backUrl = backUrl,
                title = formTitle,
                prefix = globalCopy.brand.title
            )}}

            <div class="s-prose">
                <h2>{{ copy.title }}</h2>

                <ul>
                    <li>Have a look at our website for <a href="/funding/under10k">information about funding under £10,000</a></li>
                    <li>If you need more than £10,000, have a look at our website for <a href="/funding/over10k">information about funding over £10,000</a></li>
                </ul>

                <h2>What information you need to apply</h2>

                <h3>1. The details of two different people from your organisation</h3>

                <p>One person should be someone we can talk to if we have any questions about your project. The other should  be a senior member of your organisation, who’ll be legally responsible for the funding. Both need to live in the UK.</p>

                <p><strong>The two people can’t:</strong></p>
                <ul>
                    <li>be related by blood</li>
                    <li>be married to each other</li>
                    <li>be in a long-term relationship with each other</li>
                    <li>use the same email address in your application form</li>
                </ul>

                <p><strong>What details you’ll need:</strong></p>
                <ul>
                    <li>names, email addresses, telephone numbers</li>
                    <li>home addresses</li>
                    <li>dates of birth</li>
                </ul>

                <h3>2. Details about your organisation</h3>

                <ul>
                    <li>The legal name of your organisation</li>
                    <li>Your organisation’s address</li>
                    <li>What type of organisation it is (for example, a registered charity or not-for-profit company)</li>
                </ul>

                <h3>3. Your organisation’s accounts</h3>

                <p><strong>We want to know the date your accounts end each year.</strong> And how much income you have.</p>

                <p>
                    <strong>If you don’t have yearly accounts (because your organisation is less than 15 months old).</strong>
                    That’s okay. We can still look at your application.
                </p>

                <h3>4. A bank statement from the last 3 months</h3>
                <p>It should show:</p>
                <ul>
                    <li>your organisation’s legal name</li>
                    <li>address the statements are sent to</li>
                    <li>your bank’s name</li>
                    <li>the account code and sort number</li>
                    <li>date the statement was issued.</li>
                </ul>

                <p>Here’s <a href="#">a handy picture of the kind of bank statement we’re looking for.</a></p>

                <h3>5. We ask for information about what sort of project you’d like to do</h3>

                <p>And how your project will help and involve your community.</p>

                <h3>6. We also ask you to read and agree to our terms and conditions</h3>

                <p>You can have a <a href="#">look at the terms and conditions here</a>.</p>

                <h3>7. If you’re not sure about the sort of things we ask for when you apply</h3>
                <p><a href="/contact">Contact us</a></p>

                <h2>Ready to apply?</h2>
            </div>

            {% set processItems = [] %}
            {% for item in copy.processMap.process %}
                {% set processItems = (processItems.push({
                    type: item.type,
                    title: item.title,
                    description: item.description,
                    isCompleted: loop.index === 1,
                    isCurrent: loop.index === 1
                }), processItems) %}
            {% endfor %}

            {{ processMap(processItems, copy.processMap.indicatorLabel) }}

            <p class="form-actions u-margin-bottom-l">
                <a href="{{ nextPageUrl }}" class="btn">{{ copy.startAction }}</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
