{% from "components/styleguide.njk" import sgExample, sgUsage %}

{% call sgExample('Default button') %}
    <a href="#" class="btn">Default button</a>
{% endcall %}

{% call sgExample('Medium button') %}
    <a href="#" class="btn btn--medium">Medium button</a>
{% endcall %}

{% call sgExample('Small button') %}
    <a href="#" class="btn btn--small">Small button</a>
{% endcall %}

{% call sgExample('Outline button') %}
    <a href="#" class="btn btn--medium btn--outline">Outline button</a>
{% endcall %}
