{% from "components/styleguide.njk" import sgExample, sgUsage %}

{% call sgExample('Button styles') %}
    <p><a href="#" class="btn">Default button</a></p>
    <p><a href="#" class="btn btn--medium">Medium button</a></p>
    <p><a href="#" class="btn btn--small">Small button</a></p>
    <p><a href="#" class="btn btn--medium btn--outline">Outline button</a></p>
{% endcall %}

{% call sgUsage() %}
    <p>Buttons can be grouped together with even spacing by wrapping them in a class of <code>o-button-group</code>, <code>o-button-group-block</code>, or <code>o-button-group-flex</code> depending on the type of grouping needed</p>
{% endcall %}
