{% from "components/styleguide.njk" import sgExample, sgUsage %}
{% from "./macro.njk" import actionCard %}

{% call sgExample('Defaults') %}
    {{ actionCard({
        title: 'Funding under £10,000: Start an application',
        description: "National Lottery Awards for All—A quick way to apply for smaller amounts of funding between £300 and £10,000.",
        link: { url: '#', label: 'Button label' }
    }) }}
{% endcall %}

{% call sgExample('Secondary style') %}
    {{ actionCard({
        title: 'Funding under £10,000: Start an application',
        description: "National Lottery Awards for All—A quick way to apply for smaller amounts of funding between £300 and £10,000.",
        link: { url: '#', label: 'Button label' }
    }, isSecondary = true) }}
{% endcall %}

{% call sgUsage() %}
    Card component for calls to action. Consists of a title, body copy, and link.
{% endcall %}
