{% macro actionCard(props, accent) %}
    <div class="card{% if accent %} u-accent-border-top-{{ accent }}{% endif %}">
        <header class="card__header">
            <h3 class="card__title">{{ props.title }}</h3>
        </header>
        <div class="card__body">
            {{ caller() }}
        </div>
        {% if props.link.url %}
            <div class="card__footer">
                <a href="{{ props.link.url }}"
                    class="btn btn--medium{% if accent %} accent--{{ accent }} a--btn{% endif %}">
                    {{ props.link.label }}
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
