{% macro actionCard(props, isSecondary = false) %}
    <div class="action-card">
        <header class="action-card__header">
            <h3 class="t4 action-card__title{% if not isSecondary %} u-tone-brand-primary{% endif %}">
                {{ props.title | widont | safe }}
            </h3>
        </header>
        <div class="action-card__body u-text-small">
            <p>{{ props.description | safe }}</p>
        </div>
        {% if props.link.url %}
            <div class="action-card__footer">
                <a href="{{ props.link.url }}" class="btn btn--small{% if isSecondary %} btn--outline{% endif %}">
                    {{ props.link.label }}
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}
