{% from "components/icons.njk" import iconPrint %}

{% macro printButton(label, metrics = false) %}
    <button class="btn btn--medium btn--outline"
        onclick="window.print();"
        {%- if metrics -%}
        data-ga-on="click"
        data-ga-event-category="Print"
        data-ga-event-action="{{ label }}"
        {%- endif -%}
        >
        <span class="btn__icon">{{ iconPrint('small') }}</span>
        {{ label }}
    </button>
{% endmacro %}
