{% from "components/icons.njk" import iconPrint %}

{% macro printButton(label, metrics = false) %}
    <button class="btn btn--small btn--outline"
        onclick="window.print();"
        {%- if metrics -%}
        data-ga-on="click"
        data-ga-event-category="Print"
        data-ga-event-action="{{ label }}"
        {%- endif -%}
        >
        <span class="u-icon-inline-left">
            {{ iconPrint('small') }}
        </span>
        {{ label }}
    </button>
{% endmacro %}
