{# @TODO: Remove isConstrained flag once fully migrated #}
{# https://css-tricks.com/multi-line-padded-text/#article-header-id-3 #}
{% macro pageTitle(title, isConstrained = true) %}
    <h1 class="page-title{% if isConstrained %} page-title--constrained{% endif %}">
        <span class="page-title__text"><span class="page-title__text-inner">{{ title | widont | safe }}</span></span>
    </h1>
{% endmacro %}
