{% from "components/styleguide.njk" import sgExample %}
{% from "./macros.njk" import formField, formErrors with context %}

{% set exampleErrors =  [{
    "location": "body",
    "param": "example-name-with-error",
    "value": "",
    "msg": "Please provide your name"
}, {
    "location": "body",
    "param": "example-textarea-with-error",
    "value": "",
    "msg": "Please tell us your idea"
}] %}

{% call sgExample('Form errors') %}
    {{ formErrors(exampleErrors, title = 'There was a problem with your submission') }}
{% endcall %}

{% call sgExample('Text input') %}
    {{ formField({
        type: 'text',
        name: 'example-name',
        label: 'Your name',
        isRequired: true
    }) }}
{% endcall %}

{% call sgExample('Text input with errors') %}
    {{ formField({
        type: 'text',
        name: 'example-name-with-error',
        label: 'Your name',
        isRequired: true
    }, errors = exampleErrors) }}
{% endcall %}

{% call sgExample('Textarea') %}
    {{ formField({
        type: 'textarea',
        name: 'example-textarea',
        label: 'Briefly explain your idea and why it’ll make a difference',
        rows: 8,
        lengthHint: 'Suggested answer length: 1–2 paragraphs',
        isRequired: true
    }) }}
{% endcall %}

{% call sgExample('Textarea with errors') %}
    {{ formField({
        type: 'textarea',
        name: 'example-textarea-with-error',
        label: 'Briefly explain your idea and why it’ll make a difference',
        rows: 8,
        lengthHint: 'Suggested answer length: 1–2 paragraphs',
        isRequired: true
    }, errors = exampleErrors) }}
{% endcall %}
