{% macro formErrors(errors, title) %}
    {% if errors | length > 0 %}
        <div class="form-errors">
            <h2 class="form-errors__title">
                {% if title -%}{{ title }}{%- else -%}{{ __('global.misc.errorTitle') }}{%- endif %}
            </h2>
            {% if errors.length > 0 %}
                <ol class="form-errors__list">
                    {% for error in errors %}
                        <li>
                            {% if error.param %}<a href="#form-field-{{ error.param }}">{% endif %}
                            {{ error.msg }}
                            {% if error.param %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro fieldHelpText(field, fieldCopy) %}
    {% set lengthHint = fieldCopy.lengthHint or field.lengthHint %}
    {% if lengthHint %}
        <small class="ff-length-hint">{{ lengthHint }}</small>
    {% endif %}
    {# @TODO: Merge helpText and explanation #}
    {% set explanation = fieldCopy.explanation or field.explanation %}
    {% if explanation %}
        <div class="ff-help s-prose">{{ explanation | safe }}</div>
    {% endif %}
    {% set helpText = fieldCopy.helpText or field.helpText %}
    {% if helpText %}
        <div class="ff-help s-prose">{{ helpText | safe }}</div>
    {% endif %}
{% endmacro %}

{% macro fieldLabelText(field, fieldCopy) -%}
    {{ fieldCopy.label or field.label }}
    {% if field.isRequired %}
        <span class="ff-label-note ff-label-note--required">* {{ __('global.misc.required') }}</span>
    {% elseif not field.silentlyOptional %}
        <span class="ff-label-note">{{ __('global.misc.optional') }}</span>
    {% endif %}
{%- endmacro %}

{% macro inputText(field, fieldCopy) %}
    <label class="ff-label" for="field-{{ field.name }}">
        {{ fieldLabelText(field, fieldCopy) }}
    </label>
    {{ fieldHelpText(field, fieldCopy) }}
    <input
        class="ff-text"
        type="{{ field.type }}"
        id="field-{{ field.name }}"
        name="{{ field.name }}"
        {% if field.value %}value="{{ field.value }}"{% endif %}
        {% if field.isRequired %}required aria-required="true"{% endif %}
        {% if field.autocompleteName %}autocomplete="{{ field.autocompleteName }}"{% endif %}
        {% if not field.attributes.size %}size="{{ field.size | default(40, true) }}"{% endif %}
        {% if field.attributes %}{% for attr, value in field.attributes %} {{ attr }}="{{ value }}"{% endfor %}{% endif %}
    />
{% endmacro %}

{% macro inputDate(field) %}
    <fieldset class="ff-choice">
        <legend class="ff-label" for="field-{{ field.name }}">
            {{ fieldLabelText(field) }}
        </legend>
        {{ fieldHelpText(field, fieldCopy) }}
        <div id="field-{{ field.name }}">
            <label class="ff-inline">
                <span class="ff-label">{{ __('global.misc.day') }}</span>
                <input
                    class="ff-text ff-width-2"
                    type="number" pattern="[0-9]*"  min="1"
                    name="{{ field.name }}[day]"
                    value="{{ field.value.day or formatDate(field.value, 'D') }}"
                    {% if field.isRequired %}required aria-required="true"{% endif %}
                />
            </label>
            <label class="ff-inline">
                <span class="ff-label">{{ __('global.misc.month') }}</span>
                <input
                    class="ff-text ff-width-2"
                    type="number" pattern="[0-9]*"  min="1"
                    name="{{ field.name }}[month]"
                    value="{{ field.value.month or formatDate(field.value, 'M') }}"
                    {% if field.isRequired %}required aria-required="true"{% endif %}
                />
            </label>
            <label class="ff-inline">
                <span class="ff-label">{{ __('global.misc.year') }}</span>
                <input
                    class="ff-text ff-width-4"
                    type="number"
                    pattern="[0-9]*" min="1"
                    name="{{ field.name }}[year]"
                    size="20"
                    value="{{ field.value.year or formatDate(field.value, 'YYYY') }}"
                    {% if field.isRequired %}required aria-required="true"{% endif %}
                />
            </label>
        </div>
    </fieldset>
{% endmacro %}

{% macro inputCurrency(field, fieldCopy) %}
    <label class="ff-label" for="field-{{ field.name }}">
        {{ fieldLabelText(field, fieldCopy) }}
    </label>
    {{ fieldHelpText(field, fieldCopy) }}
    <div class="ff-field-prepend">£</div>
    <input
        class="ff-text ff-text--currency"
        type="number"
        id="field-{{ field.name }}"
        name="{{ field.name }}"
        {% if field.autocompleteName %}autocomplete="{{ field.autocompleteName }}"{% endif %}
        size="40"
        min="{{ field.min }}"
        max="{{ field.max }}"
        value="{% if field.value %}{{ field.value }}{% endif %}"
        {% if field.isRequired %}required aria-required="true"{% endif %}
        {% if field.attributes %}{% for attr, value in field.attributes %} {{ attr }}="{{ value }}"{% endfor %}{% endif %}
    />
    <div class="ff-field-append">Type a number</div>
{% endmacro %}

{% macro inputTextarea(field, fieldCopy) %}
    {% set settings = field.settings %}
    {% if settings.showWordCount %}<div class="js-character-count">{% endif %}
    <label class="ff-label" for="field-{{ field.name }}">
        {{ fieldLabelText(field, fieldCopy) }}
    </label>
    {{ fieldHelpText(field, fieldCopy) }}
    <textarea class="ff-textarea"
        id="field-{{ field.name }}"
        name="{{ field.name }}"
        {% if field.isRequired %}required aria-required="true"{% endif %}
        {# @TODO: Remove field.rows in favour of field.attributes #}
        {% if field.rows %}rows="{{ field.rows }}"{% endif %} 
        {% if field.attributes %}{% for attr, value in field.attributes %} {{ attr }}="{{ value }}"{% endfor %}{% endif %}
        {% if settings.showWordCount %} v-model="text"{% endif %}
    >{{ field.value }}</textarea>
    {% if settings.showWordCount %}
        <character-count
            :current-text="text"
            locale="{{ locale }}"
            field-id="field-{{ field.name }}"
            :max-words={{ settings.maxWords }}
        />
    {% endif %}
    {% if settings.showWordCount %}</div>{% endif %}
{% endmacro %}

{% macro inputSelect(field, fieldCopy) %}
    <label class="ff-label" for="field-{{ field.name }}">
        {{ fieldLabelText(field, fieldCopy) }}
    </label>
    {{ fieldHelpText(field) }}
    <select
        class="ff-select"
        id="field-{{ field.name }}"
        name="{{ field.name }}">
        {% for option in field.options %}
            {% set optionCopy = fieldCopy.options[loop.index0] %}
            <option value="{{ option.value }}"{% if option.selected === true or field.value === option.value %} selected{% endif %}>
                {{ optionCopy.label or option.label }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro inputChoice(field, fieldCopy) %}
    <fieldset class="ff-choice">
        <legend class="ff-label" for="field-{{ field.name }}">
            {{ fieldLabelText(field, fieldCopy) }}
        </legend>
        {{ fieldHelpText(field, fieldCopy) }}
        <ul class="ff-choice__list">
            {% for option in field.options %}
                {% set optionCopy = fieldCopy.options[loop.index0] %}
                <li class="ff-choice__option">
                    <div class="ff-choice__input">
                        {% if field.type === 'checkbox' %}
                            <input
                                type="checkbox"
                                id="field-{{ field.name }}-{{ loop.index }}"
                                name="{{ field.name }}"
                                value="{{ option.value }}"
                                {% if field.value.length and field.value.indexOf(option.value) > -1 %}checked{% endif %}
                            />
                        {% else %}
                            <input
                                type="radio"
                                id="field-{{ field.name }}-{{ loop.index }}"
                                name="{{ field.name }}"
                                value="{{ option.value }}"
                                {% if field.value === option.value %}checked{% endif %}
                            />
                        {% endif %}
                    </div>
                    <label class="ff-choice__label" for="field-{{ field.name }}-{{ loop.index }}">
                        {{ optionCopy.label or option.label }}
                        {% set explanation = optionCopy.explanation or option.explanation %}
                        {% if explanation %}
                            <small class="ff-choice__caption">{{ explanation }}</small>
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </fieldset>
{% endmacro %}

{% macro formField(field, fieldCopy = {}, errors = []) %}
    {% set fieldErrors = errors | filter('param', field.name) %}
    <div
        id="form-field-{{ field.name }}"
        class="form-field form-field--{{ field.name }} form-field--type-{{ field.type }}{% if fieldErrors | length > 0 %} has-errors{% endif %}">
        <div class="form-field__main">
            <div class="form-field__body">
                {% if field.type === 'textarea' %}
                    {{ inputTextarea(field, fieldCopy) }}
                {% elseif field.type === 'select' %}
                    {{ inputSelect(field, fieldCopy) }}
                {% elseif field.type === 'checkbox' or field.type === 'radio' %}
                    {{ inputChoice(field, fieldCopy) }}
                {% elseif field.type === 'date' %}
                    {{ inputDate(field, fieldCopy) }}
                {% elseif field.type === 'currency' %}
                    {{ inputCurrency(field, fieldCopy) }}
                {% else %}
                    {{ inputText(field, fieldCopy) }}
                {% endif %}
            </div>
            {% if fieldErrors.length > 0 %}
                <ol class="form-field__errors">
                    {% for error in fieldErrors %}
                        <li>{{ error.msg }}</li>
                    {% endfor %}
                </ol>
            {% endif %}
        </div>
    </div>
{% endmacro %}
