{% extends "layouts/main.njk" %}
{% from "components/action-card/macro.njk" import actionCard %}
{% from "components/application-card/macro.njk" import applicationCard with context %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">
            {{ userNavigation() }}
            <div class="s-prose">
                <h1 class="t--underline">Latest application</h1>

                <p>
                    Pick up where you left off, start a new application or
                    <a href="{{ localify('/apply/all' ) }}">view all active applications</a>
                </p>
            </div>

            <div class="flex-grid">
                <div class="flex-grid__item">
                    {{ applicationCard(latestApplication) }}
                </div>
                <div class="flex-grid__item">
                    <div>
                        {{ actionCard({
                            title: 'Funding under £10,000: Start an application',
                            description: "National Lottery Awards for All—a quick way to apply for smaller amounts of funding between £300 and £10,000.",
                            link: {
                                url: localify('/apply/awards-for-all/start'),
                                label: 'Start a new application'
                            }
                        }, isSecondary = hasPendingSimpleApplication) }}

                        {{ actionCard({
                            title: 'Funding over £10,000: Get advice',
                            description: "Get advice on your idea to help your community thrive, if you need more than £10,000 funding from us.",
                            link: {
                                url: localify('/apply/get-advice/start'),
                                label: 'Get advice on your idea'
                            }
                        }, isSecondary = hasPendingStandardApplication) }}
                    </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
