{% extends "layouts/main.njk" %}
{% from "components/user-navigation/macro.njk" import userNavigation with context %}
{% from "components/icons.njk" import iconTick, iconBin %}

{%  macro applicationOverview(overviewParts) %}
    <dl class="o-definition-list o-definition-list--compact u-margin-top">
        {% for part in overviewParts %}
            <dt>{{ part.label }}</dt>
            <dd data-hj-suppress>
                {%- if part.value -%}
                    {{ part.value }}
                {%- else -%}
                    <span class="application-data-missing">{{ copy.dashboard.notYetCompleted }}</span>
                {%- endif -%}
            </dd>
        {% endfor %}
    </dl>
{%  endmacro %}

{% macro pendingApplicationCard(application) %}
    <article class="application-card">
        <div class="application-card__summary">
            <p class="application-card__minor-title">{{ formTitle }}</p>
            <h3 class="t--underline u-tone-brand-primary" data-hj-suppress>
                <a href="{{ application.editUrl }}" class="u-link-unstyled">
                    {{ application.summary.title }}
                </a>
            </h3>

            {{ applicationOverview(application.summary.overview) }}

            <div class="o-button-group u-margin-bottom">
                <a class="btn btn--medium" href="{{ application.editUrl }}">{{ copy.dashboard.continueApplication}}</a>
                <a class="btn btn--small btn--outline" href="{{ application.deleteUrl }}" data-testid="delete-application">
                    <span class="btn__icon btn__icon-left">{{ iconBin() }}</span>
                    {{ copy.common.delete }}
                </a>
            </div>

            <aside class="application-summary__links">
                <h4 class="application-card__minor-title">{{ copy.dashboard.beforeYouStart.title }}</h4>
                <p>{{ copy.dashboard.beforeYouStart.body | safe }}</p>
            </aside>
        </div>

        <div class="application-card__progress">
            <div class="application-card__progress__status">
                <p class="application-card__minor-title">{{ copy.dashboard.applicationStatus }}:</p>
                <h4>{{ copy.dashboard.notSubmitted }}</h4>
                {{ __('applyNext.dashboard.expiryMessage',
                    formatDate(application.createdAt.toISOString()),
                    formatDate(application.expiresAt.toISOString())
                ) | safe }}
            </div>

            <ol class="u-list-unstyled">
                {% for section in application.progress.sections %}
                    <li class="section-progress-mini section-progress-mini--{{ section.status }}">
                        <span class="section-progress-mini__title">
                            {{ section.label }}
                        </span>

                        <span class="section-progress-mini__marker">
                            {% if section.status === 'complete' %}
                                {{ iconTick() }} {{ copy.statusComplete }}
                            {% elseif section.status === 'incomplete' %}
                                {{ copy.statusInProgress }}
                            {% else %}
                                {{ copy.statusNotStarted }}
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </article>
{% endmacro %}

{% macro submittedApplicationCard(application) %}
    <article class="application-card">
        <div class="application-card__summary">
            <p class="application-card__minor-title">{{ formTitle }}</p>
            <h3 class="t--underline u-tone-brand-primary" data-hj-suppress>
                {{ application.applicationTitle }}
            </h3>

            {{ applicationOverview(application.applicationOverview) }}
        </div>

        <div class="application-card__progress">
            <div class="application-card__progress__status">
                <p class="application-card__minor-title">{{ copy.dashboard.applicationStatus }}:</p>
                <h4>{{ copy.dashboard.submitted }} {{ formatDate(application.createdAt.toISOString()) }}</h4>
                <div class="s-prose">
                    <p>{{ __('applyNext.dashboard.decisionMessage', 18) | safe }}</p>
                </div>
            </div>
        </div>
    </article>
{% endmacro %}

{% block content %}
    <main role="main" id="content">
        <section class="content-box u-inner-wide-only">
            {{ userNavigation() }}

            <p class="s-prose">
                Pick up where you left off, start a new application or
                <a href="#">view all active applications</a>.
            </p>

            <h1 class="t2 t--underline">Latest application</h1>
            {{ pendingApplicationCard(latestPending) }}

            {{ submittedApplicationCard(latestSubmitted) }}

        </section>
    </main>
{% endblock %}
