{% from "components/hero.njk" import hero %}
{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {{ formTitle }} | {% endblock %}

{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">
        {% if heroImage %}
            {{ hero(
                titleText = form.title,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top{% if heroImage %} nudge-up{% endif %}">
            <div class="u-constrained-content s-prose u-margin-bottom">
                <h1>{{ title }}</h1>

                <div class="message" role="alert">{{ stepCopy.message | safe }}</div>

                <p><a class="btn" href="{{returnUrl}}">{{ __('global.misc.back') | capitalize }}</a></p>

                {% if error and appData.isNotProduction %}
                    <h4>Stack trace:</h4>
                    <pre>{{ error.stack }}</pre>
                    <h4>Raw error:</h4>
                    <pre>{{ error | dump(2) }}</pre>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
