{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconTick %}
{% from "components/form-fields.njk" import formHeader, formErrors, formField with context %}

{% extends "layouts/main.njk" %}

{% set stepProgressDescription = "Step " + stepProgress.currentStepNumber + " of " + stepProgress.totalSteps %}
{% block title %} {{ stepProgressDescription }} | {{ formTitle }} | {% endblock %}

{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">
        {% if heroImage %}
            {{ hero(
                titleText = formTitle,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top{% if heroImage %} nudge-up{% endif %}">
            <form action="" method="POST" class="js-application-form">
                {{ formHeader(
                    title = formTitle,
                    prefix = stepProgressDescription,
                    suffix = copy.description | safe,
                    backUrl = stepProgress.prevStepUrl
                ) }}

                {{ formErrors(errors = errors, title = copy.errorTitle) }}

                {% for fieldset in step.fieldsets %}
                    {% set fieldsetCopy = stepCopy.fieldsets[loop.index0] %}
                    <fieldset class="form-fieldset u-constrained-wide u-constrained-content">
                        <legend class="form-fieldset__legend t2 t--underline accent--{{ pageAccent }}">
                            {{ fieldsetCopy.legend or fieldset.legend }}
                        </legend>

                        {% set introduction = fieldsetCopy.introduction or fieldset.introduction %}
                        {% if introduction %}
                            <div class="form-fieldset__intro s-prose">{{ introduction | safe }}</div>
                        {% endif %}

                        <div class="form-fieldset__fields">
                            {% for field in fieldset.fields %}
                                {% set fieldCopy = copy.fields[field.name] %}
                                {{ formField(field, fieldCopy, errors) }}
                            {% endfor %}
                        </div>
                    </fieldset>
                {% endfor %}

                {% if csrfToken %}
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {% endif %}

                <div class="form-actions">
                    <input class="btn btn--next" type="submit" value="{{ __('global.misc.next') | capitalize }}" />
                </div>
            </form>
        </div>
    </main>
{% endblock %}
