{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconTick %}
{% from "components/form-fields.njk" import formHeader, formErrors, formField with context %}

{% extends "layouts/main.njk" %}

{% block title %}Step {{ stepProgress.currentStepNumber }} of {{ stepProgress.totalSteps }} | {{ form.title }} | {% endblock %}

{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">

        {% if heroImage %}
            {{ hero(
                titleText = form.title,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        <form action="" method="POST"
            class="js-application-form content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top{% if heroImage %} nudge-up{% endif %}">

            {{ formHeader(
                title = copy.title or form.title,
                subtitle = copy.subtitle or form.subtitle,
                stepProgress = stepProgress
            ) }}

            {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

            {% for fieldset in step.fieldsets %}
                <fieldset class="form-fieldset u-constrained-wide u-constrained-content">
                    <legend class="form-fieldset__legend t2 t--underline accent--{{ pageAccent }}">
                        {{ fieldset.legend }}
                    </legend>
                    {% if fieldset.introduction %}
                        <div class="form-fieldset__intro s-prose">{{ fieldset.introduction | safe }}</div>
                    {% endif %}
                    <div class="form-fieldset__fields">
                        {% for field in fieldset.fields %}
                            {{ formField(field, errors) }}
                        {% endfor %}
                    </div>
                </fieldset>
            {% endfor %}

            {% if csrfToken %}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% endif %}

            <div class="form-actions">
                <input class="btn btn--next" type="submit" value="{{ __('global.misc.next') | capitalize }}" />
            </div>
        </form>
    </main>
{% endblock %}
