{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconTick %}
{% from "components/form-fields.njk" import errorList, formErrors, formFieldset, formHeader with context %}

{% extends "layouts/main.njk" %}

{% block title %}Step {{ stepProgress.currentStepNumber }} of {{ stepProgress.totalSteps }} | {{ form.title }} | {% endblock %}

{% set pageAccent = 'pink' %}
{% if not heroImage %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    <main role="main" id="content">

        {% if heroImage %}
            {{ hero(
                titleText = form.title,
                image = heroImage,
                accent = pageAccent
            ) }}
        {% endif %}

        <form action="" method="POST"
            class="js-application-form content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top{% if heroImage %} nudge-up{% endif %}">

            {{ formHeader(form, stepProgress) }}

            {{ formErrors(errors = errors, title = "There was a problem with your submission") }}

            {% for fieldset in step.fieldsets %}
                {{ formFieldset(fieldset, errors) }}
            {% endfor %}

            {% if csrfToken %}
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% endif %}

            <div class="form-actions">
                <input class="btn btn--next" type="submit" value="Next" />
            </div>
        </form>
    </main>
{% endblock %}
