{% macro userNavigation(links = [], isFooter = false) %}
    <div class="user-nav{% if isFooter %} user-nav--footer{% endif %}">

        {% if user and (not nextPage or not previousPage) %}
            <div class="user-nav__primary">
                <p class="user-nav__text">
                    Logged in as <strong>{{ user.userData.username }}</strong>
                </p>
            </div>
        {% else %}
            <nav class="user-nav__primary">
                <ul class="user-nav__pagination">
                    {% if previousPage %}
                        <li class="user-nav__pagination-link user-nav__pagination-link--prev">
                            <span class="user-nav__pagination-arrow">←</span>
                            <a href="{{ previousPage.url }}">
                                <span>
                                    Previous
                                </span>
                                <span class="user-nav__pagination-subtitle">
                                    {{ previousPage.label }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if nextPage %}
                        <li class="user-nav__pagination-link user-nav__pagination-link--next">
                            <a href="{{ nextPage.url }}">
                                <span>
                                    Next
                                </span>
                                <span class="user-nav__pagination-subtitle">
                                    {{ nextPage.label }}
                                </span>
                            </a>
                            <span class="user-nav__pagination-arrow">→</span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        {% if links.length > 0 %}
            <nav class="user-nav__secondary">
                <ul class="user-nav__links">
                    {% for link in links %}
                        {% set currentPath = getCurrentUrl() | stripTrailingSlashes | removeQuery %}
                        {% set linkUrl = link.url | stripTrailingSlashes %}
                        {% set shouldLink = linkUrl !== currentPath %}
                        <li>
                            {% if shouldLink %}<a href="{{ link.url }}">{% endif %}
                                {{ link.label }}
                                {% if shouldLink %}</a>{% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endmacro %}
