{% from "./grant-results.njk" import grantResultItem with context %}

{% if grants.length > 0 %}
    <div class="u-inner-wide-only">
        <h2 class="t3 t--underline">{{ copy.grantDetail.moreLikeThis }}</h2>
        <div class="flex-grid flex-grid--3up">
            {% for grant in grants %}
                <div class="flex-grid__item">
                    {{ grantResultItem(grant, options) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
