{% extends "layouts/main.njk" %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/feedback.njk" import inlineFeedback with context %}
{% from "components/hero.njk" import hero with context %}
{% from "components/promo-card/macro.njk" import promoCard %}
{% from "components/card/macro.njk" import card %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/content.njk" import flexibleContent %}

{% from './helpers.njk' import pgLink, buildLocationList, buildOrgTypeList with context %}

{% if not pageHero %}
    {% set bodyClass = 'has-static-header' %}
{% endif %}

{% block content %}
    {% set mainProgramme = grant.grantProgramme[0] %}

    <main role="main" id="content" class="js-past-grants-detail">
        {% if pageHero %}
            {{ hero(
                titleText = title,
                image = pageHero.image,
                accent = pageAccent
            ) }}
        {% endif %}

        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top{% if pageHero %} nudge-up{% endif %}">
            {{ breadcrumbTrail(breadcrumbs) }}

            <div class="content-sidebar">
                <div class="content-sidebar__primary">
                    <div class="u-constrained-wide accent--pink">
                        <h1>{{ title }}</h1>

                        {% if caseStudy %}
                            <div class="s-prose">
                                {{ flexibleContent(caseStudy.content, pageAccent) }}
                            </div>
                        {% elseif grant.description !== grant.title %}
                            <h2 class="t3 t--underline accent--pink">{{ copy.grantDetail.projectOverview }}</h2>
                            <p class="u-wrap-words">{{ grant.description }}</p>
                        {% endif %}

                        <grants-back-to-search
                            label="{{ copy.backToSearch }}"
                            :storage-key="STORAGE_KEY"
                            prefix="./" />
                    </div>
                </div>

                <div class="content-sidebar__secondary">
                    {% call card(aboutTitle, pageAccent) %}
                        <aside class="grant-summary">
                            <p class="grant-summary__amount">£{{ grant.amountAwarded | numberWithCommas }}</p>
                            <p class="grant-summary__title">{{ grant.title }}</p>
                            <p class="grant-summary__date">{{ formatDate(grant.awardDate, DATE_FORMATS.short) }}</p>
                        </aside>

                        <dl class="o-definition-list o-definition-list--compact u-text-small">
                            {% if grant.plannedDates %}
                                <dt>{{ copy.grantDetail.fields.duration }}</dt>
                                {% for dates in grant.plannedDates %}
                                    <dd>
                                        {{ fields.area.label }}
                                        {{ formatDate(dates.startDate, DATE_FORMATS.short) }}{% if dates.endDate -%}
                                            &ndash;{{ formatDate(dates.endDate, DATE_FORMATS.short) }}
                                        {%- endif %}
                                    </dd>
                                {% endfor %}
                            {% endif %}
                        </dl>

                        {% if grant.isActive %}
                            <p class="active-badge">{{ copy.grantDetail.statuses.activeProject }}</p>
                        {% endif %}
                    {% endcall %}

                </div>

            </div>
        </div>

        <div class="u-inner-wide-only">
            <div class="flex-grid">
                <div class="flex-grid__item">
                    {% call contentBox(pageAccent, isConstrained = false) %}
                        <h2>{{ copy.grantDetail.fields.recipientOrg }}</h2>
                        {% for org in grant.recipientOrganization %}
                            <dl class="o-definition-list o-definition-list--compact u-text-small">
                                <dt>{{ copy.grantDetail.fields.orgName }}</dt>
                                <dd><a href="./recipients/{{ org.id }}">{{ org.name }}</a></dd>
                                <dt>{{ copy.grantDetail.fields.type }}</dt>
                                <dd>{{ buildOrgTypeList(org) }}</dd>

                                {% if org.charityNumber %}
                                    <dt>{{ copy.grantDetail.fields.charityNumber }}</dt>
                                    <dd>
                                        {{ org.charityNumber }} &mdash;
                                        <a href="http://beta.charitycommission.gov.uk/charity-search/?q={{ org.charityNumber }}">
                                            {{ copy.grantDetail.viewCharityCommission }}
                                        </a>
                                    </dd>
                                {% endif %}

                                {% if org.companyNumber %}
                                    <dt>{{ copy.grantDetail.fields.companyNumber }}</dt>
                                    <dd>
                                        {{ org.companyNumber }} &mdash;
                                        <a href="https://beta.companieshouse.gov.uk/search/companies?q={{ org.companyNumber }}">
                                            {{ copy.grantDetail.viewCompaniesHouse }}
                                        </a>
                                    </dd>
                                {% endif %}

                                {% if grant.beneficiaryLocation %}
                                    <dt>{{ copy.grantDetail.fields.location }}</dt>
                                    <dd>{{ buildLocationList(grant.beneficiaryLocation) }}</dd>
                                {% endif %}
                            </dl>

                            <p>
                                <a class="btn btn--small btn--outline accent--pink"
                                    href="./recipients/{{ org.id }}">
                                    {{ copy.grantDetail.viewAllForRecipient }}
                                </a>
                            </p>
                        {% endfor %}
                    {% endcall %}
                </div>
                <div class="flex-grid__item">
                    {% if fundingProgramme %}
                        {% set link = localify(fundingProgramme.linkUrl) %}
                    {% elseif mainProgramme.url %}
                        {% set link = localify(mainProgramme.url) %}
                    {% else %}
                        {% set link = localify('/funding/programmes') %}
                    {% endif %}

                    {% set image = {
                        "url": fallbackHeroImage.large,
                        "alt": mainProgramme.title
                    } %}

                    {% if fundingProgramme and fundingProgramme.hero %}
                        {% set image = {
                            "url": fundingProgramme.hero.large,
                            "alt": mainProgramme.title
                        } %}
                    {% endif %}

                    {% call promoCard({
                        "title": copy.grantDetail.fundedBy + ' ' + mainProgramme.title,
                        "trailText": fundingProgramme.description,
                        "image": image,
                        "link": {
                            "label": copy.grantDetail.readMoreAbout + ' ' + mainProgramme.title,
                            "labelAria": copy.grantDetail.readMoreAbout + ' ' + mainProgramme.title,
                            "url": link
                        }
                    }, featured = true, showBorder = true) %}
                        {% if fundingProgramme.hero.caption %}
                            <p class="project-caption">{{ copy.grantDetail.photoCaption }}: {{ fundingProgramme.hero.caption }}</p>
                        {% endif %}
                    {% endcall %}
                </div>
            </div>
        </div>

        {# Related projects widget #}
        {% if appData.config.get('features.enableRelatedGrants') %}
            <grants-related
                limit="3"
                exclude-id="{{ grant.id }}"
                programme="{{ mainProgramme.title }}"
                beneficiary-location="{{ grant.beneficiaryLocation | dump }}"
            />
        {% endif %}

        <div class="u-inner">
            <div id="feedback">
                {{ inlineFeedback(
                    description = "past_grants_new",
                    promptLabel = copy.survey.prompt,
                    fieldLabel = copy.survey.label,
                    isToggleable = false
                )  }}
            </div>
        </div>
    </main>
{% endblock %}
