{% from "components/icons.njk" import iconArrowLeft %}

{% macro pgLink(key, value) -%}
    {% set value = value | urlencode %}
    {{ localify('/funding/grants?' + key + '=' + value) }}
{% endmacro %}

{% macro buildLocationList(locations) -%}
    {% for location in locations -%}
        {%- if location.geoCodeType === 'CMLAD' -%}
            <a href="{{ pgLink('localAuthority', location.geoCode) }}">
                {{ location.name -}}
            </a>
        {%- elseif location.geoCodeType === 'WPC' -%}
            <a href="{{ pgLink('westminsterConstituency', location.geoCode) }}">
                {{ location.name -}}
            </a>
        {% else %}
            {{ location.name -}}
        {% endif %}
        {%- if not loop.last -%}, {% endif %}
    {%- endfor -%}
{% endmacro %}

{% macro buildOrgTypeList(organisation) %}
    <a href="{{ pgLink('orgType', organisation.organisationType) }}">{{ organisation.organisationType }}</a>
    {% if organisation.organisationSubtype %}
        > <a href="{{ pgLink('orgType', organisation.organisationSubtype) }}">{{ organisation.organisationSubtype }}</a>
    {% endif %}
{% endmacro %}

{% macro buildReturnLink(returnLink) %}
    {% if returnLink %}
        <p class="u-no-margin">
            <a class="btn btn--small btn--outline accent--pink"
               href="{{ returnLink }}">
                <span class="btn__icon btn__icon-left">
                    {{ iconArrowLeft('small') }}
                </span>
                Back to your search results
            </a>
        </p>
    {% endif %}
{% endmacro %}
