{% from "components/icons.njk" import iconArrowLeft, iconActiveProject, iconProjecStory %}

{% macro badgeActiveProject() %}
    <span class="o-badge o-badge--primary">
        {{ iconActiveProject() }}
        {{ __('global.misc.activeProject') }}
    </span>
{% endmacro %}

{% macro badgeProjectStory() %}
    <span class="o-badge o-badge--secondary">
        {{ iconProjecStory() }}
        {{ __('global.misc.projectStory') }}
    </span>
{% endmacro %}

{% macro pgLink(key, value) -%}
    {% set value = value | urlencode %}
    {{ localify('/funding/grants?' + key + '=' + value) }}
{% endmacro %}

{% macro buildLocationList(locations, showLinks = true) -%}
    {% for location in locations -%}
        {%- if location.geoCodeType === 'CMLAD' -%}
            {% if showLinks %}
                <a href="{{ pgLink('localAuthority', location.geoCode) }}">
            {% endif %}
                {{ location.name -}}
            {% if showLinks %}</a>{% endif %}
        {%- elseif location.geoCodeType === 'WPC' -%}
            {% if showLinks %}
                <a href="{{ pgLink('westminsterConstituency', location.geoCode) }}">
            {% endif %}
                {{ location.name -}}
            {% if showLinks %}</a>{% endif %}
        {% else %}
            {{ location.name -}}
        {% endif %}
        {%- if not loop.last -%}, {% endif %}
    {%- endfor -%}
{% endmacro %}

{% macro buildOrgTypeList(organisation) %}
    <a href="{{ pgLink('orgType', organisation.organisationType) }}">{{ organisation.organisationType }}</a>
    {% if organisation.organisationSubtype %}
        > <a href="{{ pgLink('orgType', organisation.organisationSubtype) }}">{{ organisation.organisationSubtype }}</a>
    {% endif %}
{% endmacro %}

{% macro facetGroup(legend) %}
    <div class="facet-group is-open">
        <fieldset class="facet-group__fieldset">
            <legend class="facet-group__legend">
                {{ legend }}
            </legend>
            <div class="facet-group__body">
                {{ caller() }}
            </div>
        </fieldset>
    </div>
{% endmacro %}
