{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/feedback.njk" import inlineFeedback with context %}

{% block title %} {{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose u-constrained-wide">
                <h1>{{ title }}</h1>

                <div class="message" role="alert">
                    {{ stepCopy.confirmation }}
                </div>

                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ stepCopy.nextStepsTitle }}</h2>
                <p>{{ stepCopy.message }}</p>

                {{ inlineFeedback(
                    description = formTitle,
                    promptLabel = stepCopy.feedback.promptLabel,
                    fieldLabel = stepCopy.feedback.fieldLabel,
                    helpText = stepCopy.feedback.helpText,
                    isToggleable = false
                )  }}
            </div>
        </div>
    </main>
{% endblock %}
