{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero %}
{% from "components/feedback.njk" import inlineFeedback with context %}

{% block title %} {{ title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose u-constrained-wide">
                <h1>{{ title }}</h1>

                <div class="message" role="alert">
                    {{ stepCopy.confirmation }}
                </div>

                <h2 class="t2 t--underline accent--{{ pageAccent }}">{{ stepCopy.nextStepsTitle }}</h2>
                <p>{{ stepCopy.message }}</p>

                {{ inlineFeedback(
                    description = formTitle,
                    promptLabel = "Can you spare a minute to give us some feedback?",
                    fieldLabel = "How was your experience of this process?",
                    helpText = "This is completely anonymous and doesn't form part of your submission. Don't include any details about your idea, just tell us how you found the experience.",
                    isToggleable = false
                )  }}
            </div>
        </div>
    </main>
{% endblock %}
