{% from "components/icons.njk" import iconTick %}

{% macro progressMarker(sectionProgress) %}
    {% if sectionProgress %}
        <div class="application-status-label application-status-label--{{ sectionProgress }} u-padded-vertical-s">
            {% if sectionProgress === FORM_STATES.complete %}
                {{ iconTick() }} Complete
            {% elseif sectionProgress === FORM_STATES.incomplete %}
                In progress
            {% elseif sectionProgress === FORM_STATES.invald %}
                Invalid
            {% else %}
                Not started
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}
