{% macro userStatus(user) %}
    {% if user %}
        <div class="user-status">
            <div class="user-status__current">
                Logged in as <strong>{{ user.userData.username }}</strong>
            </div>
            <div class="user-status__actions">
                <a href="{{ localify('/user/logout') }}" data-testid="logout-button">Log out</a>
            </div>
        </div>
        {% if user.userType === 'user' and not user.userData.is_active %}
            <p class="message" role="alert">
                You haven't activated your account yet.
                <a href="{{ localify('/user/activate') }}">Re-send activation link?</a>
            </p>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro staffStatus(user) %}
    {% if user %}
        <div class="user-status">
            <div class="user-status__current">
                <span class="o-badge o-badge--primary u-margin-right-s">Staff</span>
                Logged in as <strong>{{ user.userData.fullName }}</strong>
            </div>
            <div class="user-status__actions">
                <a href="{{ localify('/user/staff/logout') }}">Log out</a>
            </div>
        </div>
    {% endif %}
{% endmacro %}
