{% extends "views/layouts/emails.njk" %}

{% block content %}
    {% if locale === 'cy' %}
        <p>Helo,</p>

        <p>
            Diolch am greu cyfrif.
            Rydym yn edrych ymlaen i glywed am eich syniad i helpu eich cymuned i ffynnu.
        </p>

        <h2>Cyn i chi ymgeisio am arian—rhaid actifadu eich cyfrif</h2>
        <p>Bydd hyn yn cadarnhau mae <strong>{{ emailAddress }}</strong> yw eich cyfeiriad e-bost.</p>

        <p><a href="{{ activationUrl }}" class="btn">Actifadu eich cyfrif</a></p>

        <p><strong>Bydd y ddolen actifadu hon yn dod i ben am {{ expiryDate }}</strong></p>

        <p>
            Os nad ydych wedi’i ddefnyddio erbyn hynny, bydd angen i chi
            <a href="{{ loginUrl }}">fewngofnodi i’ch cyfrif</a> i ofyn am y ddolen actifadu eto.
            Rydym yn gwneud hyn i gadw eich cyfrif yn ddiogel.
        </p>

        <p>Diolch,<br/>Cronfa Gymunedol y Loteri Genedlaethol</p>

        <hr />

        <p>
            Botwm ddim yn gweithio? Copïwch y ddolen hon i’ch porwr:
            <a href="{{ activationUrl }}">{{ activationUrl }}</a>
        </p>
    {% else %}
        <p>Hello,</p>

        <p>
            Thanks for creating an account.
            We're looking forward to hearing about your idea to help your community thrive.
        </p>

        <h2>Before applying for funding—activate your account</h2>
        <p>This will confirm <strong>{{ emailAddress }}</strong> is your email address.</p>

        <p><a href="{{ activationUrl }}" class="btn">Activate your account</a></p>

        <p><strong>This activation link will expire at {{ expiryDate }}</strong></p>

        <p>
            If you haven't used it by then, you'll need to
            <a href="{{ loginUrl }}">log in to your account</a> to request the activation link again.
            We do this to keep your account secure.
        </p>

        <p>Thanks,<br/>The National Lottery Community Fund</p>

        <hr />

        <p>
            Button not working? Paste this link into your browser:
            <a href="{{ activationUrl }}">{{ activationUrl }}</a>
        </p>
    {% endif %}
{% endblock %}
