{% extends "views/layouts/emails.njk" %}

{% block content %}
    <h1>The National Lottery Community Fund</h1>
    <h2>You’re almost ready to apply for the National Lottery Community Fund</h2>

    <p>You set up an account with us, using this email address: {{ email }}.</p>
    <p>Now you just need to <a href="{{ activateUrl }}">activate your account</a> to start your application.</p>

    <p>Thanks,</p>
    <p>The National Lottery Community Fund</p>
{% endblock %}
