{% extends "views/layouts/emails.njk" %}

{% block content %}
    <h1>The National Lottery Community Fund</h1>
    <h2>Password reset requested</h2>

    <p><strong>We just got a request to change the password for this email address</strong></p>
    <h3><a href="{{ resetUrl }}">Change your password</a></h3>

    <p><strong>If you don't want to reset your password</strong></p>
    <p>You don't have to do anything. Just ignore this email.</p>

    <p>Thanks,</p>
    <p>The National Lottery Community Fund</p>
{% endblock %}
