{% extends "views/layouts/emails.njk" %}

{% block content %}
    <h1>The National Lottery Community Fund</h1>
    <h2>You just changed your password</h2>

    <p>Hello,</p>
    <p>Just an email to let you know you’ve successfully changed your online password.</p>
    <p>If this wasn’t you – and you don’t know about any password changes – please <a href="https://www.tnlcommunityfund.org.uk/contact">talk to us</a> straight away.</p>

    <p>Thanks,</p>
    <p>The National Lottery Community Fund</p>
{% endblock %}
