{% extends "views/layouts/emails.njk" %}

{% block content %}
    <h1>The National Lottery Community Fund</h1>
    <h2>Your password was reset</h2>
    <p>We recently received a request to reset the password associated with this account ({{ email }}). Your password has now been successfully changed.</p>
    <p>If you did not initiate this change and believe this was an error, please <a href="https://www.tnlcommunityfund.org.uk/contact">contact us</a> as soon as possible.</p>
    <p>Thank you,</p>
    <p>The National Lottery Community Fund</p>
{% endblock %}
