{% extends "../../../../views/layouts/emails.njk" %}

{% block content %}

    <p>Hello,</p>
    <p>
        <strong>Your application will expire soon</strong>
    </p>
    <p>
        This is a test
    </p>
    <p>
        <strong>If you have any questions at all</strong><br/>
        You can call 0123456. Or email matt.andrews@tnlcommunityfund.org.uk. We’ll be happy to help you.
    </p>
    <p>
        <strong>Best wishes,<br/>
        The National Lottery Community Fund</strong>
    </p>
{% endblock %}
