{% extends "../../../../views/layouts/emails.njk" %}

{% block content %}

    <p>Hello,</p>

    <p>Thank you for your interest in applying to the Coronavirus Community Support Fund.</p>

    <h2>The Coronavirus Community Support Fund is closing to applications on Monday 17 August 2020 at 12 noon</h2>

    <p>We opened the Government’s Coronavirus Community Support Fund on 22 May.  So far, we’ve already awarded £55m of the £200 million Government gave us for this fund, to over 2,300 organisations and received applications totalling almost £130 million.</p>

    <p>Because of this record high demand, we will close to applications on <strong>Monday 17 August at 12 noon</strong>.</p>

    <h3>What you need to do now</h3>

    <p><strong>If you’re planning to apply for the Government-funded <a href="https://www.tnlcommunityfund.org.uk/funding/covid-19/learn-about-applying-for-emergency-funding-in-england">Coronavirus Community Support Fund</a></strong></p>
    <p>You must submit your application by <strong>12 noon on 17 August 2020</strong>. You can <a href="https://www.tnlcommunityfund.org.uk/apply">access your application here</a>. We should finish awarding these funds by the end of October 2020.</p>

    <p><strong>If you no longer plan on applying for this funding</strong></p>
    <p>We will delete all applications that are still in progress and haven’t been submitted to us by 12 noon on 17 August 2020. So you won’t be able to access unsubmitted applications after this time.</p>

    <p>You can still apply for National Lottery funded grants in England. But we will only be focusing on funding for organisations supporting people and communities who experience disproportionate challenge and difficulty as a result of the COVID-19 crisis, specifically for user-led equality groups supporting:</p>

    <ul>
        <li>black, Asian, minority ethnic and refugee (BAMER) communities</li>
        <li>lesbian, gay, bisexual, transgender, queer + (LGBTQ+) communities</li>
        <li>disabled people.</li>
    </ul>

    <p>This is for six months’ emergency funding, for small and medium organisations and for between £300 and £100K.</p>

    <p>We are also working with specialist partners to reach specific groups as quickly as we can. You can <a href="https://www.tnlcommunityfund.org.uk/funding/programmes/covid-19-community-led-organisations-recovery-scheme">find out more here</a>.</p>

    <p>Beyond the emergency response, National Lottery funding to support communities in England will be available, and we’ll keep you updated on our funding as it develops.</p>

    <p>Best wishes,</p>

    <p>Julie Galano<br />
    Head of Funding</p>
    
    <small>
        <p>
            T: 028 9568 0143 | Text Relay: Text relay 18001 plus 028 9568 0143 (for people with a hearing or speech impairment)<br />
            Apex House, 3 Embassy Drive, Edgbaston, Birmingham, B15 1TR<br/>
            <a href="https://www.tnlcommunityfund.org.uk/">Website</a> | <a href="https://www.twitter.com/TNLComFund">Twitter</a> | <a href="http://www.facebook.com/TNLCommunityFund">Facebook</a></p>
    </small>
{% endblock %}
