{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/flexible-content-next/macro.njk" import flexibleContent %}

{% extends "layouts/main.njk" %}
{% if not pageHero.image %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% set flexAnchor = 'item' %}

{% block content %}

    {% if pageHero.image %}
        {{ hero(title, pageHero.image) }}
    {% endif %}

    <main role="main" id="content" {% if pageHero.image %}class="nudge-up"{% endif %}>
        {% block contentPrimary %}
            {% if content.flexibleContent %}
                {{ flexibleContent(
                    content.flexibleContent,
                    children = content.children,
                    breadcrumbs = breadcrumbTrail(breadcrumbs)
                ) }}
            {% endif %}
        {% endblock %}
    </main>
{% endblock %}
