{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/flexible-content-next/macro.njk" import flexibleContent %}

{% if not pageHero.image %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    <main role="main" id="content">
        {% if pageHero.image %}
            {{ hero(title, pageHero.image) }}
        {% endif %}

        {% if pageHero.image %}<div class="nudge-up">{% endif %}

        {% block contentPrimary %}
            {% if content.flexibleContent %}
                {{ flexibleContent(
                    content.flexibleContent,
                    children = content.children,
                    breadcrumbs = breadcrumbTrail(breadcrumbs)
                ) }}
            {% endif %}
        {% endblock %}

        {% if pageHero.image %}</div>{% endif %}
    </main>
{% endblock %}
