{% extends "layouts/main.njk" %}
{% from "components/hero.njk" import hero with context %}
{% from "components/flexible-content/macro.njk" import flexibleContent %}

{% block content %}
    <main role="main" id="content">
        {{ hero(title, pageHero.image) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ flexibleContent(content.flexibleContent, pageAccent) }}
            </section>
        </div>
    </main>
{% endblock %}
