{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/segment/macro.njk" import segment %}

{% extends "layouts/main.njk" %}
{% if not pageHero.image %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    <main id="content">
        {% if pageHero.image %}
            {{ hero(title, pageHero.image) }}
        {% endif %}

        {% if pageHero.image %}<div class="nudge-up">{% endif %}

        {% block contentPrimary %}
            {% if content.introduction %}
                <section class="content-box u-inner-wide-only">
                    {{ breadcrumbTrail(breadcrumbs) }}
                    <div class="s-prose u-constrained-content-wide">
                        {% if not pageHero.image %}<h1>{{ content.title }}</h1>{% endif %}
                        {{ content.introduction | safe }}
                    </div>
                    {{ segmentLinks(customSegmentLinks | default(content.segments)) }}
                </section>
            {% endif %}

            {# Content segments #}
            {% if content.segments.length > 0 %}
                <div class="u-inner-wide-only u-constrained-content-wide">
                    {% for contentSegment in content.segments %}
                        {% call segment(
                            id = 'segment-' + loop.index,
                            title = contentSegment.title,
                            imagePath = contentSegment.photo
                        ) %}
                            {{ contentSegment.content | safe }}
                        {% endcall %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {# Custom content #}
        {% block customContent %}{% endblock %}

        {% if content.outro %}
            {% call contentBox() %}
                {{ content.outro | safe }}
            {% endcall %}
        {% endif %}

        {% if pageHero.image %}</div>{% endif %}
    </main>
{% endblock %}
