{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/segment/macro.njk" import segment %}

{% extends "layouts/main.njk" %}
{% if not pageHero.image %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    {% macro primaryContent() %}
        {{ breadcrumbTrail(breadcrumbs) }}
        <div class="s-prose accent-content--{{ pageAccent }} u-constrained-content-wide js-annotate-links">
            {% if not pageHero.image %}<h1>{{ content.title }}</h1>{% endif %}
            {{ content.introduction | safe }}
        </div>
        {{ segmentLinks(customSegmentLinks | default(content.segments)) }}
    {% endmacro %}

    <main id="content">
        {% if pageHero.image %}
            {{ hero(
                titleText = title,
                image = pageHero.image,
                accent = pageAccent
            ) }}
        {% endif %}

        {% if pageHero.image %}<div class="nudge-up">{% endif %}

        {% block contentPrimary %}
            {% if content.relatedContent %}
                <section class="page-section u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                    <div class="page-section__content accent--{{ pageAccent }} a--border-top">
                        <article class="content-box">
                            {{ primaryContent() }}
                        </article>
                    </div>
                    <div class="page-section__supplementary accent--{{ pageAccent }} a--border-top">
                        <aside class="content-box s-prose js-annotate-links">
                            {{ content.relatedContent | safe }}
                        </aside>
                    </div>
                </section>
            {% else %}
                {% if content.introduction %}
                    <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                        {{ primaryContent() }}
                    </section>
                {% endif %}
            {% endif %}

            {# Content segments #}
            {% if content.segments.length > 0 %}
                <div class="u-inner-wide-only u-constrained-content-wide">
                    {% for contentSegment in content.segments %}
                        {% call segment(
                            id = 'segment-' + loop.index,
                            title = contentSegment.title,
                            imagePath = contentSegment.photo
                        ) %}
                            {{ contentSegment.content | safe }}
                        {% endcall %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {# Custom content #}
        {% block customContent %}{% endblock %}

        {% if content.outro %}
            {% call contentBox(pageAccent) %}
                {{ content.outro | safe }}
            {% endcall %}
        {% endif %}

        {% if pageHero.image %}</div>{% endif %}
    </main>

{% endblock %}
