{% from "components/hero.njk" import hero with context %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/caseStudies.njk" import caseStudyCollection with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/segment-links/macro.njk" import segmentLinks %}
{% from "components/segment/macro.njk" import segment %}

{% extends "layouts/main.njk" %}
{% if not heroImage %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    {% if heroImage %}
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}
    {% endif %}

    {% macro primaryContent() %}
        {{ breadcrumbTrail(breadcrumbs) }}

        <div class="s-prose accent-content--{{ pageAccent }} u-constrained-content-wide js-annotate-links">
            {% if not heroImage %}
            <h1>{{ content.title }}</h1>
            {% endif %}
            {{ content.introduction | safe }}
        </div>

        {{ segmentLinks(customSegmentLinks | default(content.segments)) }}
    {% endmacro %}

    <main{% if heroImage %} class="nudge-up"{% endif %}>
        {% block contentPrimary %}
            {% if content.relatedContent %}
                <section class="page-section u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                    <div class="page-section__content accent--{{ pageAccent }} a--border-top">
                        <article class="content-box">
                            {{ primaryContent() }}
                        </article>
                    </div>
                    <div class="page-section__supplementary accent--{{ pageAccent }} a--border-top">
                        <aside class="content-box s-prose js-annotate-links">
                            {{ content.relatedContent | safe }}
                        </aside>
                    </div>
                </section>
            {% else %}
                {% if content.introduction %}
                    <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                        {{ primaryContent() }}
                    </section>
                {% endif %}
            {% endif %}

            {# Content segments #}
            {% if content.segments.length > 0 %}
                <div class="u-inner-wide-only u-constrained-content-wide">
                    {% set themes = cycler('blue', 'pink-dark', 'orange', 'green', 'turquoise', 'pink', 'cyan') %}
                    {% for contentSegment in content.segments %}
                        {% call segment(
                            id = 'segment-' + loop.index,
                            title = contentSegment.title,
                            imagePath = contentSegment.photo,
                            accent = themes.next()
                        ) %}
                            {{ contentSegment.content | safe }}
                        {% endcall %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}

        {# Custom content #}
        {% block customContent %}{% endblock %}

        {# Case Studies #}
        {{ caseStudyCollection(content.caseStudies, accent = pageAccent) }}

        {% if content.outro %}
            {% call contentBox(pageAccent) %}
                {{ content.outro | safe }}
            {% endcall %}
        {% endif %}
    </main>

{% endblock %}
