{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/hero.njk" import hero with context %}
{% from "components/miniature-hero/macro.njk" import miniatureHero %}
{% from "components/page-title/macro.njk" import pageTitle %}
{% from "components/section-links/macro.njk" import sectionLinks %}

{% extends "layouts/main.njk" %}
{% if not pageHero.image %}{% set bodyClass = 'has-static-header' %}{% endif %}

{% block content %}
    {% if pageHero.image %}
        {{ hero(
            titleText = title,
            image = pageHero.image,
            accent = pageAccent
        ) }}
    {% endif %}

    <main role="main" id="content" {% if pageHero.image %}class="nudge-up"{% endif %} >
        {% if not pageHero %}
            {{ pageTitle(title) }}
        {% endif %}

        <section class="content-box u-inner-wide-only accent--blue a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}
            <div class="s-prose">
                {{ content.introduction | safe }}
            </div>

            {% if childrenLayoutMode === 'plain' and content.children.length > 0 %}
                {{ sectionLinks(content.children) }}
            {% endif %}
        </section>

        {% if content.children.length > 0 and childrenLayoutMode === 'heroes' %}
            <section class="u-inner">
                <ul class="flex-grid">
                    {% for page in content.children %}
                        <li class="flex-grid__item">
                            {{ miniatureHero({
                                "title": page.trailText | default(page.title, true),
                                "linkUrl": page.linkUrl,
                                "image": { "url": page.trailImage if page.trailImage else page.photo }
                            }, isLarge = true) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        {% if content.outro %}
            {% call contentBox(pageAccent) %}
                {{ content.outro | safe }}
            {% endcall %}
        {% endif %}
    </main>

{% endblock %}
