{% from "components/hero.njk" import hero with context %}
{% from "components/miniature-hero/macro.njk" import miniatureHero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/section-links/macro.njk" import sectionLinks %}

{% extends "layouts/main.njk" %}

{% block content %}
    {{ hero(
        titleText = title,
        image = pageHero.image,
        accent = pageAccent
    ) }}

    <main role="main" class="nudge-up">
        <section class="content-box u-inner-wide-only accent--blue a--border-top">
            {{ breadcrumbTrail(breadcrumbs) }}
            <div class="s-prose">
                {{ content.introduction | safe }}
            </div>

            {% if childrenLayoutMode === 'plain' and content.children.length > 0 %}
                {{ sectionLinks(content.children) }}
            {% endif %}
        </section>

        {% if content.children.length > 0 and childrenLayoutMode === 'heroes' %}
            <section class="u-inner">
                <ul class="flex-grid">
                    {% for page in content.children %}
                        <li class="flex-grid__item">
                            {{ miniatureHero(
                                title = page.trailText | default(page.title, true),
                                imagePath = page.photo,
                                imageCaption = page.title,
                                linkUrl = page.linkUrl,
                                accent = page.themeColour,
                                isLarge = true
                            )}}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        {% if content.outro %}
            {% call contentBox(pageAccent) %}
                {{ content.outro | safe }}
            {% endcall %}
        {% endif %}
    </main>

{% endblock %}
