{% extends "../views/email-layout.njk" %}
{% from "../views/view-helpers.njk" import emailSummary %}

{% block content %}
    <h1>New expression of interest for {{ title }}</h1>
    {{ emailSummary(stepsCopy, fieldsCopy, summary) }}
{% endblock %}
