<!doctype html>
<html>
<head>
    <title>Big Lottery Fund</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blf.css"/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=yes'/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>
<body>

    <header>
        <article class="header__content content-area">
            <h1 class="logo">Big Lottery Fund</h1>
            <ul class="nav nav--top">
                <li class="selected"><a href="#">Before you apply</a></li>
                <li><a href="#">Apply</a></li>
                <li><a href="#">About</a></li>
                <li class="nav__search">
                    <form class="form-search">
                        <input type="text" class="has-search-icon">
                        <input type="submit" value="Search" class="btn btn--cta">
                    </form>
                </li>
            </ul>
        </article>
    </header>

    <div class="intrinsic-wrapper intrinsic-wrapper--reading">
        <section class="intrinsic-stretched hero hero__reading">
            <article class="content-area vert-cent">
                <h2>What did we <br />fund near you?</h2>
                <form action="/lookup" method="get" target="_blank" class="form-fund">
                    <input type="text" name="postcode" placeholder="eg. SW2 3BJ" class="input-big">
                    <input type="submit" value="Look up awards" class="btn">
                </form>
            </article>
        </section>
    </div>

    <section class="hero hero__stats">
        <article class="content-area">
            <h3>Our year in numbers</h3>
            <ul class="stats">
                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>11,779</dt>
                        <dd>Number of awards made</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>91.3%</dt>
                        <dd>Percentage of awards to the voluntary &amp; community sectors</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>89.1%</dt>
                        <dd>Percentage of awards for less than &pound;10,000</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>&pound;33 million</dt>
                        <dd>Royal Society of Wildlife Trusts</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--hand">
                    <dl>
                        <dt>6.6%</dt>
                        <dd>Total operating costs</dd>
                    </dl>
                </li>

                <li class="stats__icon stats__icon--bank">
                    <dl>
                        <dt>&pound;276</dt>
                        <dd>Smallest award made through the Communities &amp; Families Fund</dd>
                    </dl>
                </li>
            </ul>
        </article>
    </section>

    <section class="hero hero__map">
        <div class="hero__map__bg hero__map__bg--top"></div>
        <div class="hero__map__bg hero__map__bg--bottom"></div>

        <article class="hero__map__container content-area">
            <div class="hero__map__overlay">
                <p>Map goes here</p>
            </div>
        </article>
    </section>

    <footer>
        <article class="content-area">
            <img src="/images/lottery.png" class="lottery" />

            <ul class="contact">
                <li><i class="ion-ios-location"></i> 1 Address St, London </li>
                <li><i class="ion-email"></i> general.enquiries@biglotteryfund.org.uk</li>
                <li><i class="ion-ios-telephone"></i> 0222 345 6789</li>
            </ul>

            <div class="quick-links">
                <h4>Quick links</h4>
                <ul>
                    <div class="quick-links__1">
                        <li><i class="ion-chevron-right"></i> Freedom of Information</li>
                        <li><i class="ion-chevron-right"></i> Contact</li>
                        <li><i class="ion-chevron-right"></i> Terms of use</li>
                        <li><i class="ion-chevron-right"></i> Privacy</li>
                    </div>
                    <div class="quick-links__2">
                        <li><i class="ion-chevron-right"></i> Cookies</li>
                        <li><i class="ion-chevron-right"></i> Site map</li>
                        <li><i class="ion-chevron-right"></i> Accessibility</li>
                    </div>
                </ul>
            </div>
        </article>

        <aside>
            <article class="aside-container content-area">
                <p>Copyright 2017. All rights reserved.</p>
                <ul class="social">
                    <a href="#"><li class="ion-social-facebook"></li></a>
                    <a href="#"><li class="ion-social-twitter"></li></a>
                    <a href="#"><li class="ion-social-google"></li></a>
                    <a href="#"><li class="ion-social-instagram"></li></a>
                </ul>
            </article>
        </aside>

    </footer>

</body>
</html>
