{% from "components/icons.njk" import iconFacebook, iconInstagram, iconTwitter %}

{% macro socialBar() %}
    <div class="social-bar">
        <div class="social-bar__inner u-inner">
            <a class="social-bar__item" href="{{ globalCopy.brand.instagram }}">
                <span class="social-bar__item-icon">{{ iconInstagram() }}</span>
                <span class="social-bar__item-text">{{ __('global.misc.followUsOn') }} {{ __('global.misc.instagram') }}</span>
            </a>
            <a class="social-bar__item" href="{{ globalCopy.brand.facebook }}">
                <span class="social-bar__item-icon">{{ iconFacebook() }}</span>
                <span class="social-bar__item-text">{{ __('global.misc.followUsOn') }} {{ __('global.misc.facebook') }}</span>
            </a>
            <a class="social-bar__item" href="https://www.twitter.com/{{ globalCopy.brand.twitter }}" >
                <span class="social-bar__item-icon">{{ iconTwitter() }}</span>
                <span class="social-bar__item-text">{{ __('global.misc.followUsOn') }} {{ __('global.misc.twitter') }}</span>
            </a>
        </div>
    </div>
{% endmacro %}
