{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconClose %}
{% from "components/forms-new.njk" import formField, formFieldsets with context %}

{% extends "common/informationPage.njk" %}

{% macro stepControl(material, product, quantity) %}
    <form class="step-control" method="post"
          action="{{ formActionBase }}/update-basket">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <input type="hidden" name="materialId" value="{{ material.itemId }}">
        <input type="hidden" name="productId" value="{{ product.id }}">
        <input type="hidden" name="max" value="{{ material.maximum }}">
        {% if material.notAllowedWith %}
            <input type="hidden" name="notAllowedWith" value="{{ material.notAllowedWith | join(",") }}">
        {% endif %}

        <button class="btn step-control__button step-control__button--decrease"
                type="submit"
                value="decrease"
                name="action"{% if quantity == 0 %} disabled="disabled"{% endif %}
                v-bind:disabled="getQuantity('{{ product.id }}') == 0"
                v-on:click.prevent="changeQuantity($event)"
                aria-label="Decrease quantity">-
        </button>

        <div aria-label="Quantity" class="step-control__quantity js-material-count">
            <span class="js-only" v-cloak><% getQuantity('{{ product.id }}') %></span>
            <noscript>{{ quantity }}</noscript>
        </div>

        <button class="btn step-control__button step-control__button--increase"
                type="submit"
                value="increase"
                name="action"{% if material.maximum == quantity %} disabled="disabled"{% endif %}
                v-bind:disabled="getQuantity('{{ product.id }}') == {{ material.maximum }}"
                v-on:click.prevent="changeQuantity($event)"
                aria-label="Increase quantity">+
        </button>
    </form>
{% endmacro %}

{% macro materialProduct(material, product) %}
    {% set ordersForProduct = orders | find('productId', product.id) %}
    {% if ordersForProduct %}
        {% set quantity = ordersForProduct.quantity %}
    {% else %}
        {% set quantity = 0 %}
    {% endif %}
    <div class="material-product {% if quantity > 0 %}is-selected--no-js{% endif %}"
         v-bind:class="{ 'is-selected': getQuantity('{{ product.id }}') > 0 }">
        <h5 class="material-product__title t5">
            {% if product.name %}
                {{ product.name }}
            {% else %}
                {{ material.title }}
            {% endif %}
        </h5>
        {% if material.description %}
            <p class="material-product__subtitle t8">
                ({{ material.description }})
            </p>
        {% endif %}
        {{ stepControl(material, product, quantity) }}
    </div>
{% endmacro %}

{% macro materialCard(material, languageToShow, loopIndex) %}
    {% set applicableProducts = material.products | filter("language", languageToShow) %}
    <article class="material-card" id="qa-material-{{ languageToShow }}-{{ loopIndex }}">
        <header class="material-card__header">
            <h4 class="material-card__title t5">{{ material.title }}</h4>
        </header>
        <div class="material-card__media">
            {% set firstProductInLanguage = applicableProducts | first %}
            <a class="material-item__media" href="{{ firstProductInLanguage.image }}" target="_blank">
                <img src="{{ firstProductInLanguage.image }}" alt="{{ material.title }}"/>
            </a>
        </div>
        <footer class="material-card__actions">
            <ul class="material-card__products">
                {% for product in applicableProducts %}
                    <li class="material-card__products-item">
                        {{ materialProduct(material, product) }}
                    </li>
                {% endfor %}
            </ul>
        </footer>
    </article>
{% endmacro %}

{% macro listProducts(languageToShow) %}
    <ul class="grid grid--wide-only grid--equal grid--3-up grid--padded">
        {% for material in materials %}
            <li class="grid__item">
                {{ materialCard(material, languageToShow, loop.index) }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block contentPrimary %}
    {% set pageAccent = content.themeColour %}

    {% if orderStatus == formHelpers.FORM_STATES.SUBMISSION_SUCCESS %}
        <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.success.title }}</h2>
            <h3 class="t2 accent--{{ pageAccent }} a--text">{{ copy.orderSubmitted.success.subtitle }}</h3>
            <p>{{ copy.orderSubmitted.success.body | safe }}</p>
        </div>
    {% elseif orderStatus == formHelpers.FORM_STATES.SUBMISSION_ERROR %}
        <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.failure.title }}</h2>
            <h3 class="t2 accent--{{ pageAccent }} a--text">{{ copy.orderSubmitted.failure.subtitle }}</h3>
        </div>
    {% else %}
        {{ super() }}
        <div id="js-vue" class="no-vue" data-orders="{{ orders | dump }}">
            <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                <h2>{{ copy.locationPrompt }}</h2>
                <ul class="unstyled grid grid--padded grid--equal grid--2-up grid--wide-only">
                    <li class="grid__item">
                        <a href="#monolingual"
                           class="btn btn--block btn--small accent--{{ pageAccent }} a--btn"
                           v-on:click.prevent="toggleItemLanguage('monolingual')">
                            {{ copy.locations.monolingual }}
                        </a>
                    </li>
                    <li class="grid__item">
                        <a href="#bilingual"
                           class="btn btn--block btn--small accent--{{ pageAccent }} a--btn"
                           v-on:click.prevent="toggleItemLanguage('bilingual')">
                            {{ copy.locations.bilingual }}
                        </a>
                    </li>
                </ul>
            </div>

            <div v-show="itemLanguage !== null">
                <div class="inner">
                    {# monolingual items #}
                    <div v-show="itemLanguage === 'monolingual'" id="monolingual">
                        <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.monolingual }})</noscript></h3>
                        {{ listProducts('monolingual') }}
                    </div>

                    {# bilingual items #}
                    <div v-show="itemLanguage === 'bilingual'" id="bilingual">
                        <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.bilingual }})</noscript></h3>
                        {{ listProducts('bilingual') }}
                    </div>

                </div>

                <div class="content-box inner accent--{{ pageAccent }} a--border-top" id="your-details">
                    <form class="form-materials form-style-slim u-constrained-wide js-application-form" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <input type="hidden" name="languageChoice" value="" id="js-language-choice">

                        {{ formFieldsets(step.fieldsets) }}

                        <input class="btn" type="submit"
                            {% if orders.length == 0 %} disabled="disabled"{% endif %}
                            v-bind:disabled="isEmpty() && {{ orders.length }} === 0"
                            value="{{ __('global.forms.submit') }}"
                            id="js-submit-material-order">
                    </form>


                    <h4 class="spaced--t spaced--s">{{ copy.dataProtection.title }}</h4>
                    <aside class="t8">{{ copy.dataProtection.text | safe }}</aside>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
