{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/section-links/macro.njk" import sectionLinks %}
{% from "components/caseStudies.njk" import caseStudyCollection with context  %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'turquoise' %}

    <main role="main">
        {{ hero(
            titleText = copy.title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <div class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-wide">
                    <p>{{ copy.intro }}</p>
                    <h2>{{ copy.callToAction }}</h2>
                </div>

                {{ sectionLinks([{
                    "id": "qa-button-england",
                    "label": copy.locations.england,
                    "href": localify('/funding/programmes?min=10000&location=england')
                }, {
                    "id": "qa-button-scotland",
                    "label": copy.locations.scotland,
                    "href": localify('/funding/programmes?min=10000&location=scotland')
                }, {
                    "id": "qa-button-wales",
                    "label": copy.locations.wales,
                    "href": localify('/funding/programmes?min=10000&location=wales')
                }, {
                    "id": "qa-button-northernIreland",
                    "label": copy.locations.northernIreland,
                    "href": localify('/funding/programmes?min=10000&location=northernIreland')
                }, {
                    "id": "qa-button-ukwide",
                    "label": copy.locations.ukWide,
                    "href": localify('/funding/programmes/awards-from-the-uk-portfolio')
                }]) }}
            </div>

            {# Case Studies #}
            {{ caseStudyCollection(
                caseStudies = caseStudies,
                customSectionTitle = copy.projectExamples,
                accent = pageAccent
            ) }}

            <div class="u-inner u-align-center u-margin-bottom-l">
                <a href="{{ localify('/funding/past-grants') }}" class="btn btn--small btn--outline accent--{{ pageAccent }} a--btn">{{ copy.browseAll }}</a>
            </div>
        </div>
    </main>
{% endblock %}
