{% from "components/caseStudies.njk" import caseStudyCollection with context  %}
{% from "components/hero.njk" import hero %}
{% from "components/nav.njk" import selectionTrail %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'turquoise' %}

    <main role="main">
        {{
            hero(
                titleText = copy.title,
                image = heroImage,
                accent = pageAccent
            )
        }}

        <div class="nudge-up">
            <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                {{ selectionTrail(breadcrumbs) }}

                <div class="s-prose">
                    <p>{{ copy.intro }}</p>
                    <h2>{{ copy.callToAction }}</h2>
                </div>

                <div class="o-button-group-flex">
                    <a href="{{ localify('/funding/programmes?min=10000&location=england') }}"
                        class="btn accent--{{ pageAccent }} a--btn btn--small"
                        id="qa-button-england">{{ copy.locations.england }}</a>
                    <a href="{{ localify('/funding/programmes?min=10000&location=scotland') }}"
                        class="btn accent--{{ pageAccent }} a--btn btn--small"
                        id="qa-button-scotland">{{ copy.locations.scotland }}</a>
                    <a href="{{ localify('/funding/programmes?min=10000&location=wales') }}"
                        class="btn accent--{{ pageAccent }} a--btn btn--small"
                        id="qa-button-wales">{{ copy.locations.wales }}</a>
                    <a href="{{ localify('/funding/programmes?min=10000&location=northernIreland') }}"
                        class="btn accent--{{ pageAccent }} a--btn btn--small"
                        id="qa-button-northernIreland">{{ copy.locations.northernIreland }}</a>
                    <a href="{{ localify('/funding/programmes/awards-from-the-uk-portfolio') }}"
                        class="btn accent--{{ pageAccent }} a--btn btn--small">
                        {{ copy.locations.ukWide }}
                    </a>
                </div>
            </div>

            {# Case Studies #}
            {{ caseStudyCollection(
                caseStudies = caseStudies,
                customSectionTitle = copy.projectExamples,
                accent = pageAccent
            ) }}

            <div class="inner u-margin-bottom u-constrained">
                <a href="{{ localify('/funding/past-grants') }}"
                    class="btn btn--small btn--outline btn--block accent--{{ pageAccent }} a--btn">
                    {{ copy.browseAll }}
                </a>
            </div>

        </div>
    </main>
{% endblock %}
