{% from "components/hero.njk" import hero %}
{% from "components/programmes.njk" import programmeList with context %}
{% from "components/nav.njk" import selectionTrail %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = heroImages.youngFoundation %}
{% set socialImage = heroImage %}

{% block content %}
    {% set pageAccent = 'pink' %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <section class="content-box inner--wide-only
            accent--{{ pageAccent }} a--border-top nudge-up">
            {{ selectionTrail(trail = activeBreadcrumbs) }}

            <h2 class="u-visually-hidden">{{ activeBreadcrumbsSummary }}</h2>

            {% if programmes | length > 0 %}
                {{ programmeList(
                    accent = pageAccent,
                    labels = copy.details,
                    programmes = programmes
                ) }}
            {% else %}
                <p>No results</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
