{% from "components/hero.njk" import hero %}
{% from "components/tabs.njk" import tabs %}
{% from "components/programmes.njk" import programmeStats with context %}
{% from "components/caseStudies.njk" import caseStudyCollection with context %}

{% extends "layouts/main.njk" %}

{% if entry.summary.area.value === 'wales' %}
    {% set bodyClass = "has-welsh-logo" %}
{% endif %}
{% set socialImage = heroImage %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
    {% set pageAccent = 'pink' %}

    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box content-box--tinted
                inner--wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    {% if entry.intro %}
                        {{ entry.intro | safe }}
                    {% endif %}
                    {{ programmeStats(
                        fields = entry.summary,
                        isCompact = true
                    ) }}
                </div>
            </section>

            {% macro tabContent(content, pageAccent) %}
                <div class="content-box content-box--frameless">
                    <div class="s-prose s-prose--long u-constrained-content-wide accent-content--{{ pageAccent }} js-content">
                        {{ content | safe }}
                    </div>
                </div>
            {% endmacro %}

            {% set tabItems = [] %}
            {% for section in entry.contentSections -%}
                {% set newTab = {
                    "id": "section-" + loop.index,
                    "title": section.title,
                    "content": tabContent(section.body, pageAccent),
                    "active": loop.index === 1
                } %}
                {% set tabItems = (tabItems.push(newTab), tabItems) %}
            {%- endfor %}

            <div class="inner--wide-only">
                {% if entry.contentSections.length > 1 %}
                    {{
                        tabs(
                            id = entry.title | slugify,
                            content = tabItems
                        )
                    }}
                {% else %}
                    {% set section = entry.contentSections[0] %}
                    <div class="content-box content-box--borderless">
                        <div class="s-prose s-prose--long u-constrained-content-wide accent-content--{{ pageAccent }}">
                            <h2 class="t2 t--underline accent--{{ pageAccent }} a--text">{{ section.title }}</h2>
                            {{ section.body | safe }}
                        </div>
                    </div>
                {% endif %}
            </div>

            {# Case Studies #}
            {{ caseStudyCollection(
                caseStudies = entry.caseStudies,
                customSectionTitle = __('global.misc.projectExamples'),
                accent = pageAccent
            ) }}
        </div>
    </main>
{% endblock %}
