{% from "../../components/hero.njk" import sectionHero %}
{% from "../../components/tabs.njk" import tabs %}
{% from "../../components/programmes.njk" import programmeStats with context %}

{% extends "../../layouts/main.njk" %}
{% set bodyClass = "has-full-bleed-header" %}

{% if entry.summary.area.value === 'wales' %}
    {% set bodyClass = bodyClass + " has-welsh-logo" %}
{% endif %}

{% set socialImage = heroImage %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}
    {% set pageAccent = 'pink' %}
    {{ sectionHero(
        titleText = title,
        image = heroImage,
        accent = pageAccent
    ) }}

    <main role="main">
        {% if entry.intro or entry.summary %}
            <section class="nudge-up content-box content-box--flush
                inner--wide-only accent--{{ pageAccent }} a--border-top u-no-bottom-border">
                <div class="s-prose u-constrained-content-wide">
                    {{ entry.intro | safe }}
                    {{ programmeStats(
                        fields = entry.summary,
                        isCompact = true
                    ) }}
                </div>
            </section>
        {% endif %}

        {% macro tabContent(content, pageAccent) %}
            <div class="content-box content-box--frameless">
                <div class="s-prose s-prose--long u-constrained-content-wide accent-content--{{ pageAccent }} js-content">
                    {{ content | safe }}
                </div>
            </div>
        {% endmacro %}

        {% set tabItems = [] %}
        {% for section in entry.contentSections %}
            {% set newTab = {
                "id": "section-" + loop.index,
                "title": section.title,
                "content": tabContent(section.body, pageAccent),
                "active": loop.index === 1
            } %}
            {% set tabItems = (tabItems.push(newTab), tabItems) %}
        {% endfor %}

        <div class="inner--wide-only">
            {% if entry.contentSections.length > 1 %}
                <div class="tabs--programme">
                    {# @TODO this introduces lots of blank lines in source #}
                    {{
                        tabs(
                            id = entry.title | slugify,
                            content = tabItems
                        )
                    }}
                </div>
            {% else %}
                {% set section = entry.contentSections[0] %}
                <div class="content-box content-box--borderless">
                    <div class="s-prose s-prose--long u-constrained-content-wide accent-content--{{ pageAccent }}">
                        <h2 class="t2 t--underline accent--{{ pageAccent }} a--text">{{ section.title }}</h2>
                        {{ section.body | safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
