{% from "../../components/hero.njk" import sectionHero %}
{% from "../../components/programmes.njk" import programmeList, selectionTrail with context %}

{% extends "../../layouts/main.njk" %}
{% set bodyClass = "has-full-bleed-header" %}

{% block title %}{{ title }} | {% endblock %}

{% set heroImage = createHeroImage({
    small: 'hero/young-foundation-small.jpg',
    medium: 'hero/young-foundation-medium.jpg',
    large: 'hero/young-foundation-large.jpg',
    default: 'hero/young-foundation-medium.jpg',
    caption: 'The Young Foundation - Amplify, Grant £1.06M'
}) %}
{% set socialImage = heroImage %}

{% block content %}
    <main role="main">
        {{ sectionHero(
            titleText = title,
            image = heroImage,
            accent = 'green'
        ) }}

        <section class="inner--wide-only content-box content-box--even-inset accent--green a--border-top nudge-up">
            {{ selectionTrail(
                trail = activeBreadcrumbs,
                itemCount = programmes.length
            ) }}

            {% if programmes | length > 0 %}
                {{ programmeList(
                    accent = 'pink',
                    labels = copy.details,
                    programmes = programmes
                ) }}
            {% else %}
                <p>No results</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
