{% from "components/caseStudies.njk" import caseStudyCollection with context  %}
{% from "components/hero.njk" import hero %}
{% from "components/nav.njk" import selectionTrail %}

{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'pink' %}

    <main role="main">
        {{ hero(
            titleText = copy.title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
                {{ selectionTrail(breadcrumbs) }}

                <div class="s-prose accent-content--{{ pageAccent }}">
                    <p>{{ copy.intro }}</p>

                    <ul>
                        {% for item in copy.ideas %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>

                    <h2>{{ copy.callToAction }}</h2>

                    <div class="o-button-group-flex">
                        <a href="{{ localify('/funding/programmes/national-lottery-awards-for-all-england') }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--block btn--small">
                            {{ copy.locations.england }}
                        </a>
                        <a href="{{ localify('/funding/programmes/national-lottery-awards-for-all-scotland') }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--block btn--small">
                            {{ copy.locations.scotland }}
                        </a>
                        <a href="{{ localify('/funding/programmes/national-lottery-awards-for-all-wales') }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--block btn--small">
                            {{ copy.locations.wales }}
                        </a>
                        <a href="{{ localify('/funding/programmes/awards-for-all-northern-ireland') }}"
                            class="btn accent--{{ pageAccent }} a--btn btn--block btn--small">
                            {{ copy.locations.northernIreland }}
                        </a>
                    </div>

                    <p>{{ copy.ukWideInfo | safe }}</p>
                </div>
            </div>

            {# Case Studies #}
            {{ caseStudyCollection(
                caseStudies = caseStudies,
                customSectionTitle = copy.projectExamples,
                accent = pageAccent
            ) }}

            <div class="inner u-margin-bottom u-constrained">
                <a href="{{ localify('/funding/past-grants') }}"
                    class="btn btn--small btn--outline btn--block accent--{{ pageAccent }} a--btn">
                    {{ copy.browseFundedProjects }}
                </a>
            </div>
        </div>
    </main>
{% endblock %}
