{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% block content %}
    {% set pageAccent = 'cyan' %}

    <main role="main">

        <div class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            <div class="s-prose">
                {# <pre>{{ collection | dump(2) }}</pre> #}
                {# <pre>{{ queryParams | dump(2) }}</pre> #}

                <form method="get">
                    <div class="form-field">
                        <label class="ff-label" for="field-q">Search</label>
                        <input class="ff-text" type="search" name="q" id="field-q" value="{{ queryParams.q }}" />
                    </div>

                    {# {% for key, facet in collection.facetResults | first %}
                        <fieldset>
                            <legend>{{ key }}</legend>
                            <ul>
                                {% for item in facet %}
                                    {% if item._id %}
                                        <li><label>
                                            <input type="checkbox" id="{{ key }}-{{ loop.index }}" name="{{ key }}[]" value="{{ item._id }}"
                                            {% if queryParams[key] | includes(item._id) %} checked{% endif %}/>
                                            {{ item._id }} <small>({{ item.count }})</small>
                                        </label></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </fieldset>
                    {% endfor %} #}

                    <div class="form-actions o-button-group">
                        <input type="submit" value="Filter" class="btn btn--medium">
                        <input type="reset" value="Reset" class="btn btn--medium btn--reversed">
                    </div>
                </form>

                <pre>{{ collection | dump(1) }}</pre>

                <section>
                    <h2>Grants</h2>
                    {% for grant in collection.results %}
                        <article>
                            <h3>{{ grant['Title'] }}</h3>
                            <dl class="o-definition-list o-definition-list--compact">
                                <dt>Recipient</dt>
                                <dd>{{ grant['Recipient Org:Name'] }}</dd>
                                <dt>Grant Programme</dt>
                                <dd>{{ grant['Grant Programme:Title'] }}</dd>
                                <dt>Amount awarded</dt>
                                <dd>£{{ grant['Amount Awarded'] }}</dd>
                            </dl>

                            <small>{{ grant['Description'] }}</small>
                            <hr />
                        </article>
                    {% endfor %}
                </section>

            </div>
        </div>

        </section>
    </main>
{% endblock %}
