{% extends "layouts/tools.njk" %}

{% block title %}Tools{% endblock %}

{% block content %}
    <h1>Tools</h1>

    <ul>
        {% for link in links %}
            <li><a href="{{ link.href }}">{{ link.label }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
