{% extends "../../layouts/tools.njk" %}

{% block title %}Login panel{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    {% if user %}
        <h3>Logged in as <strong>{{ user.username }}</strong>.</h3>
        <h4>Available tools</h4>
        <ul>
            <li><a href="/tools/edit-news">Edit news articles</a></li>
            <li><a href="/tools/locales">Edit language files</a></li>
        </ul>
    {% else %}
        <form action="/tools/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Your username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Your password" name="password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Log in"/>
            </div>
        </form>
    {% endif %}
{% endblock %}