{% import "../../components/forms.njk" as forms %}
{% extends "../../layouts/tools.njk" %}

{% block title %}News editor | {% if locale == 'en' %}English{% else %}Welsh{% endif %}{% endblock %}

{% block headerAction %}
    <form class="navbar-form navbar-right">
        <a href="/tools/edit-news/{{ locale }}" class="btn btn-default">Add new article</a>
    </form>
{% endblock %}

{% block content %}

    {% if status === 'success' %}
        <div class="alert alert-success" role="alert">The article was successfully updated!</div>
    {% endif %}

    <h1>
        News in {% if locale == 'en' %}English{% else %}Welsh{% endif %}
        <small>
            {% if locale == 'en' %}
                <a href="/tools/edit-news/cy/">Post in Welsh?</a>
            {% else %}
                <a href="/tools/edit-news/en/">Post in English?</a>
            {% endif %}
        </small>
    </h1>

    <div class="row">
        <div class="col-sm-6">
            <h2>All articles <small>(Click to edit)</small></h2>
            <div class="list-group">
                {% for n in news %}
                    <a class="list-group-item{% if id and id == n.id %} active{% endif %}" href="/tools/edit-news/{{ locale }}/{{ n.id }}">
                        <h5 class="list-group-item-heading">{{ n.title }}</h5>
                        <p class="list-group-item-text">
                            Last updated {{ n.updatedAt | dateFormat("ddd Do MMM YYYY hh:mma") }}
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            {% if id %}
                <h2>Edit article</h2>
            {% else %}
                <h2>Add a new article</h2>
            {% endif %}
            <form method="post" action="/tools/edit-news/{{ locale }}/{% if id %}{{ id }}{% endif %}">
                <div class="form-group">
                    {{ forms.input('title', 'Title', 'text', required = true, extraClasses = 'form-control', helpText = 'eg. National Lottery funding boost for Ardrossan', charLimit = 70) }}
                </div>
                <div class="form-group">
                    {{ forms.input('text', 'Summary', 'textarea', required = true, extraClasses = 'form-control', helpText = 'A few lines of summary text about this story', charLimit = 140) }}
                </div>
                <div class="form-group">
                    {{ forms.input('link', 'Link', 'text', required = true, extraClasses = 'form-control', helpText = 'A link to read the full article') }}
                </div>
                <button type="submit" class="btn btn-default">{% if id %}Edit this article{% else %}Add this article{% endif %}</button>
                {% if id %}
                    <button type="submit" name="action" value="delete" class="btn btn-default" id="js-delete">Delete article</button>
                {% endif %}
            </form>
        </div>
    </div>

    <style>
        .is-error {
            border: 2px dotted red;
        }
    </style>

    <script>
        var $limitedElms = $('.js-has-char-limit');
        var remainderText = ' characters remaining';
        $limitedElms.each(function () {
            var limit = $(this).data('char-limit');
            var html = $('<h6 class="pull-right">' + limit + remainderText + '</h6>');
            html.insertAfter($(this));

            $(this).keyup(function(e) {
                var text = $(this).val();
                var length = text.length;
                var remaining = limit - length;
                html.html(remaining + remainderText);
                if (remaining <= 0) {
                    $(this).val(text.substr(0, limit));
                }
            });
        });

        $('#js-delete').click(function (e) {
            return confirm("Are you sure you want to delete this article? This can't be undone!");
        });
    </script>
{% endblock %}