<!doctype html>
<html>
    <head>
        <title>Page index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html, body {
                margin: 0;
                padding: 0;
                font-family: arial;
                line-height: 1.5;
            }

            h1 {
                background-color: #eeeeee;
                margin: 0;
                padding: 20px 15%;
            }

            main {
                width: 70%;
                margin: 20px auto;
            }

            ul li p {
                margin: 0;
            }

            h2 {
                border-bottom: 1px solid #999999;
                padding-bottom: 10px;
                margin-bottom: 10px;
                margin-top: 40px;
            }

            h4 span {
                font-size: 75%;
                font-weight: normal;
                color: #666666;
            }

            .status:after {
                padding: 2px 6px;
                display: inline-block;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 11px;
            }

            .status--live:after {
                background-color: green;
                content: "Live";
            }
            .status--draft:after {
                background-color: red;
                content: 'Draft';
            }
        </style>
    </head>
    <body>
        <h1>Page index</h1>
        <main>

            <h2>Totals</h2>
            {% set totalCanonical =  totals.canonical.length * 2 %}
            {% set totalAliases = totals.aliases.length * 2  %}
            {% set totalVanity = totals.vanityRedirects.length  %}
            <ul>
                <li><strong>Live canonical pages</strong>: {{ totalCanonical }} (English and Welsh versions)</li>
                <li><strong>Live alias URLs</strong>: {{ totalAliases }} (links that now point to the above pages)</li>
                <li><strong>Live vanity redirects</strong>: {{ totalVanity }} (links that redirect to pages)</li>
                <li><strong>GRAND TOTAL</strong>: {{ totalCanonical + totalAliases + totalVanity }} (Canonical + Aliases + Vanity URLs)</li>
            </ul>

            <button id="js-open-links">Open all canonical English pages in tabs?</button>

            {% for sectionName, section in routes %}
                <h2>Section: {{ sectionName }}</h2>
                {% for pageName, page in section.pages %}
                    <h3>
                        {{ pageName }}
                        <span class="status {% if page.live %}status--live{% else %}status--draft{% endif %}"></span>
                    </h3>
                    <article>
                        <h4>Canonical URL <span>(eg. the definitive version of this page)</span></h4>
                        {% set link = buildUrl(sectionName, pageName) %}
                        <ul>
                            <li><strong>EN:</strong> <a class="js-link" href="{{ link }}">{{ link }}</a></li>
                            <li><strong>CY:</strong> <a href="/welsh{{ link }}">/welsh{{ link }}</a></li>
                        </ul>
                        {% if page.aliases %}
                            <h4>Aliases <span>(these links redirect to the canonical one above)</span></h4>
                            <ul>
                                {% for aliasPath in page.aliases %}
                                    {% set link = aliasPath %}
                                    <li><strong>EN:</strong> <a href="{{ link }}">{{ link }}</a></li>
                                    <li><strong>CY:</strong> <a href="/welsh{{ link }}">/welsh{{ link }}</a></li><br />
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </article>
                {% endfor %}
            {% endfor %}

            <h2>Vanity URLs</h2>
            {% for r in vanityRedirects %}
                <article>
                    <ul>
                        <li><p><strong>Source:</strong> <a href="{{ r.path }}">{{ r.path }}</a></p></li>
                        <li><p><strong>Destination:</strong> <a href="{{ r.destination }}">{{ r.destination }}</a></p></li>
                    </ul>
                </article>
            {% endfor %}

        </main>

        <script>
            let $btn = document.getElementById('js-open-links');
            let $links = document.querySelectorAll('.js-link');
            let origin = window.location.origin;
                $btn.addEventListener('click', (e) => {
                    let proceed = confirm(`This will open ${$links.length} new tabs – are you sure? (You may need to disable pop-up blocking for this page, too)`);
                    if (proceed) {
                        [].forEach.call($links, ($link) => {
                            let url = origin + $link.getAttribute('href');
                            window.open(url, '_blank');
                        });
                    }
                });
        </script>
    </body>
</html>
