{% extends "layouts/tools.njk" %}

{% block title %}Page Index{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <h1 class="border-bottom pb-2 mb-4">Page list</h1>

    <section class="mb-4">
        <h2 class="mb-4">Totals</h2>
        <ul class="list-unstyled">
            <li><strong>{{ totals.canonical }}</strong> live canonical URLs</li>
            <li><strong>{{ totals.vanity }}</strong> live vanity URLs</li>
            <li><strong>{{ totals.redirects }}</strong> live redirect URLs</li>
        </ul>
    </section>

    {% macro statusBadge(message, state) %}
        <span class="badge badge-{{ state }}">{{ message }}</span>
    {% endmacro %}

    <section>
        <h2 class="mb-4">Canonical URLs</h2>

        <p><button class="btn btn-primary" id="js-open-links">Open all English canonical pages?</button></p>
        <ul class="list-unstyled">
            {% for route in allCanonicalRoutes %}
                <li>
                    <article class="border-top py-2">
                        <h3 class="h6">
                            <a href={{ route.path}} title="{{ route.title }}" class="js-link">{{ route.path }}</a>
                            {% if route.live %}
                                {{statusBadge('Live', 'success')}}
                            {% else %}
                                {{statusBadge('Draft', 'warning')}}
                            {% endif %}

                            {% if route.isFromCms %}
                                {{statusBadge('CMS', 'info')}}
                            {% endif %}
                        </h3>
                        <p>
                            <a href="{{ route.path }}">English</a> |
                            <a href="/welsh{{ route.path }}">Welsh</a>
                        </p>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2 class="mb-4">Vanity URLs</h2>
        <ul class="list-unstyled">
            {% for route in vanityRoutes %}
                <li>
                    <article class="border-top py-2">
                        <h3 class="h6">
                            <a href={{ route.path}} title="{{ route.title }}">
                                {{ route.path }}
                            </a>
                            {% if route.live %}
                                {{statusBadge('Live', 'success')}}
                            {% else %}
                                {{statusBadge('Draft', 'warning')}}
                            {% endif %}
                        </h3>
                        <p><em>→ {{ route.destination }}</em></p>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2 class="mb-4">Legacy Redirects</h2>
        <ul class="list-unstyled">
            {% for route in redirectRoutes %}
                <li>
                    <article class="border-top py-2">
                        <h3 class="h6">
                            <a href={{ route.path}} title="{{ route.title }}">
                                {{ route.path }}
                            </a>
                            {% if route.live %}
                                {{statusBadge('Live', 'success')}}
                            {% else %}
                                {{statusBadge('Draft', 'warning')}}
                            {% endif %}
                        </h3>
                        <p><em>→ {{ route.destination }}</em></p>
                        <p>
                            <a href="{{ route.path }}">English</a> |
                            <a href="/welsh{{ route.path }}">Welsh</a>
                        </p>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>

    <script>
        let $btn = document.getElementById('js-open-links');
        let $links = document.querySelectorAll('.js-link');
        let origin = window.location.origin;
            $btn.addEventListener('click', (e) => {
                let proceed = confirm(`This will open ${$links.length} new tabs – are you sure? (You may need to disable pop-up blocking for this page, too)`);
                if (proceed) {
                    [].forEach.call($links, ($link) => {
                        let url = origin + $link.getAttribute('href');
                        window.open(url, '_blank');
                    });
                }
            });
    </script>
{% endblock %}
