{% extends "../../layouts/tools.njk" %}

{% block title %}Survey results{% endblock %}

{% block content %}

    <h1>All surveys</h1>
    {% for s in surveys %}
        <h2>{{ s.title }}</h2>
        <p><strong>Question</strong>: {{ s.question }}</p>
        {% for choice in s.choices %}
            <h3>{{ choice.title }}: {{ choice.responses.length }} votes</h3>
            {% if choice.allowMessage %}
                <ul>
                    {% for response in choice.responses %}
                        {% if response.message %}
                            <li>
                                "{{ response.message }}"<br>
                                <strong>({{ response.createdAt }})</strong>
                                {% if response.metadata %}
                                    <pre><code>{{ response.metadata.clientId }}</code></pre>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No additional messages.</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
