{% from "components/hero.njk" import hero %}
{% from "components/icons.njk" import iconTick %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/form-fields.njk" import formErrors with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}
                <div class="s-prose u-constrained-wide">
                    <p><strong>{{ copy.intro }}</strong></p>

                    {{ copy.body | safe }}

                    {% if status === 'SUBMISSION_SUCCESS' %}
                        <div class="email-signup">
                            <div class="submission-message">
                                <div class="submission-message__icon">
                                    {{ iconTick() }}
                                </div>
                                <div class="submission-message__text">
                                    <p><strong>{{ copy.submission.success.title }}</strong></p>
                                    <p>{{ copy.submission.success.message }}</p>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if status === 'SUBMISSION_ERROR' %}
                            <div class="message" role="alert">
                                {{ copy.submission.error.message }}
                            </div>
                        {% endif %}

                        <form class="email-signup" method="post" action="">
                            {{ formErrors(errors) }}

                            <label for="email" class="ff-label">
                                {{ copy.submission.emailAddress }}
                            </label>

                            <p class="ff-help">
                                {{ copy.submission.explanation }}
                            </p>

                            <input id="email"
                                    type="email"
                                    name="email"
                                    class="ff-text ff-text--inline"
                                    size="30"/>

                            <input class="btn btn--small accent--blue a--btn"
                                type="submit" value="{{ copy.submission.proceedLabel }}" />
                        </form>
                    {% endif %}

                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>{{ copy.helpAndSupport.title }}</h2>
                    <p>{{ copy.helpAndSupport.intro }}</p>
                    <ul>
                        {% for link in copy.helpAndSupport.links %}
                            <li><a href="{{ link.url }}">
                                {{ link.title }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="s-prose u-constrained-content-wide">
                    <h2>{{ copy.notSure.title }}</h2>

                    <p>{{ copy.notSure.intro }}</p>
                    <p><a href="{{ localify('/funding/programmes/digital-funding/strand-1') }}"
                        class="btn btn--medium accent--blue a--btn">
                        {{ copy.notSure.strand1 }}
                    </a></p>
                    <p><a href="{{ localify('/funding/programmes/digital-funding/strand-2') }}"
                        class="btn btn--medium accent--cyan a--btn">
                        {{ copy.notSure.strand2 }}
                    </a></p>

                    <p>{{ copy.notSure.otherProgrammes | safe }}</p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
