{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "./view-helpers.njk" import eligibilityFaqs %}

{% extends "layouts/main.njk" %}
{% set pageAccent = 'blue' %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-wide">
                    {{ copy.intro | safe }}

                    <div class="o-button-group u-margin-bottom">
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn"
                           href="{{ localify('/apply/digital-funding-1/1') }}">
                            {{ __('global.misc.yes') }}
                        </a>
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn"
                            href="{{ localify('/funding/programmes/digital-funding/strand-1/eligibility/ineligible') }}">
                            {{ __('global.misc.no') }}
                        </a>
                    </div>

                    <details class="u-margin-bottom-l">
                        <summary>{{ copy.unsure.title }}</summary>
                        <div class="u-tone-background-tint u-padded">
                            <div class="s-prose">
                                <p>{{ copy.unsure.intro }}</p>
                                <ul>
                                    {% for criterion in copy.unsure.criteria %}
                                        <li>{{ criterion }}</li>
                                    {% endfor %}
                                </ul>
                                {% set readMoreLink = localify('/funding/programmes/digital-funding/strand-1#eligibility') %}
                                <p>{{ __('funding.digitalFunding.strand1.eligibilityDetail.unsure.readMore', readMoreLink) | safe }}</p>
                            </div>
                        </div>
                    </details>

                    <hr>

                    {{ eligibilityFaqs(__('funding.digitalFunding.eligibilityFaqs')) }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
