{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "./view-helpers.njk" import steps, getStarted %}

{% extends "layouts/main.njk" %}
{% set pageAccent = 'cyan' %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-content-wide">
                    <p><strong>Big Lottery Fund offers grants of up to £500,000 for tech for good organisations that have already launched promising services.</strong></p>

                    <p>Organisations that apply successfully will:</p>
                    <ul>
                        <li>Have been founded since the year 2000, by a team which really understand digital</li>
                        <li>Be able to show evidence on both the use and impact of services</li>
                        <li>Use digital technology to enable impact that would not otherwise be possible</li>
                        <li>Be dedicated primarily to public good, not private gain</li>
                    </ul>

                    <p><a href="#eligibility">The full detailed eligibility criteria can be seen here</a></p>
                </div>
            </section>

            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <div class="content-sidebar">
                    <div class="content-sidebar__primary">
                        <div class="s-prose">
                            <h2>How the process works</h2>
                            <p>Intro sentence or two to the conversational approach this fund will take and how it’s designed to help the customer experience.</p>
                        </div>

                        {{ steps() }}
                    </div>

                    <div class="content-sidebar__secondary">
                        {{ getStarted(
                            url = '/funding/programmes/digital-funding/strand-2/eligibility',
                            accent = pageAccent
                        ) }}
                    </div>
                </div>
            </section>

            {% call contentBox(pageAccent, id='eligibility') %}
                <h2>Are you eligible for strand 2 funding?</h2>

                <p>With this strand of the Digital Fund we are looking to fund smaller organisations that have no ‘pre-digital’ legacy structures to modernise, which are poised to deliver impact at real scale. It can also provide <a href="./strand-1">funding for larger organisations who would like to use digital to change their business.</a></p>

                <h3>Eligibility</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus elit at facilisis auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                <h3>Success factors</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus elit at facilisis auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                <h3>Support offered</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus elit at facilisis auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                <h2>Our policies</h2>

                <p>It is important to us that you are committed to equalities and the environment. We’ll want to know about your equalities and environmental policies if we are interested in your idea.</p>

                <ul>
                    <li><a href="https://www.biglotteryfund.org.uk/about-big/our-approach/equalities">Our equality principles</a></li>
                    <li><a href="https://www.gov.uk/government/publications/environmental-responsibility-for-charities">Visit gov.uk for more information on environmental responsibility</a></li>
                </ul>

                <h2>Get started</h2>

                <p>If you think this fund might be right for you, the first stage is to talk to us.</p>

                <p><a href="/funding/programmes/digital-funding/strand-2/eligibility" class="btn btn--medium accent--{{ pageAccent }} a--btn">
                    Request a call
                </a></p>

                <h2>Have any questions?</h2>

                <p>If you have any questions about eligibility, get in touch with us.</p>
                <p><strong>Phone</strong>: <a href="tel:03454102030">0345 4 10 20 30</a><strong><br>Text relay</strong>: 18001 plus 0345 4 10 20 30 (for those with a hearing or speech impairment)<strong><br>Email</strong>: <a href="mailto:general.enquiries@biglotteryfund.org.uk">general.enquiries@biglotteryfund.org.uk</a></p>
            {% endcall %}

            {% call contentBox(pageAccent) %}
                <h2>Not sure this is for you?</h2>

                <p>Choose one of the following options instead.</p>

                <p><a href="/funding/programmes/digital-funding/assistance"
                    class="btn btn--medium accent--pink a--btn">
                    We want help getting started with digital
                </a></p>
                <p><a href="/funding/programmes/digital-funding/strand-1"
                    class="btn btn--medium accent--blue a--btn">
                    We want to use digital to change our business
                </a></p>
            {% endcall %}
        </div>
    </main>
{% endblock %}
