{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/step-progress/macro.njk" import stepProgress %}

{% extends "layouts/main.njk" %}
{% set pageAccent = 'blue' %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained">
                    <p><strong>{{ copy.subtitle }}</strong></p>

                    <p>{{ copy.requirements.title }}</p>
                    <ul>
                        {% for criterion in copy.requirements.criteria %}
                            <li>{{ criterion }}</li>
                        {% endfor %}
                    </ul>

                    {% set readMoreLink = localify('/funding/programmes/digital-funding/strand-1#eligibility') %}
                    {{ __('funding.digitalFunding.strand1.ineligible.requirements.moreInfo', readMoreLink) | safe }}

                    <p><a href="{{ localify('/funding/programmes') }}" class="btn btn--medium btn--outline">
                        {{ copy.requirements.otherProgrammes }}
                    </a></p>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
