{% from "components/hero.njk" import hero %}
{% from "components/breadcrumb-trail/macro.njk" import breadcrumbTrail %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "./view-helpers.njk" import eligibilityFaqs %}

{% extends "layouts/main.njk" %}
{% set pageAccent = 'cyan' %}

{% block content %}
    <main role="main">
        {{ hero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        ) }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ breadcrumbTrail(breadcrumbs) }}

                <div class="s-prose u-constrained-wide">
                    <p><strong>Your time is precious — we don’t want to waste it</strong>.</p>

                    <p>Therefore, we’ll need to ask a couple of quick questions about your organisation and your funding needs in advance of our call. We’ll also need your contact details so we can arrange a convenient time for us to chat. This shouldn’t take more than a few minutes.</p>

                    <p>To get started, please answer the first question below.</p>

                    <p><strong>Do you currently operate a service that benefits at least 50 people every week?</strong></p>

                    <div class="o-button-group u-margin-bottom">
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn" href="/apply/digital-funding-2/1">Yes</a>
                        <a class="btn btn--medium accent--{{ pageAccent }} a--btn"
                            href="/funding/programmes/digital-funding/strand-2/eligibility/ineligible">No</a>
                    </div>

                    <details class="u-margin-bottom-l">
                        <summary>I'm not sure</summary>
                        <div class="u-tone-background-tint u-padded">
                            <div class="s-prose">
                                <p>This programme is specifically designed to help organisations that:</p>

                                <ul>
                                    <li>Are past the idea or prototype stage, and that are being used to help at least 50 people a week already</li>
                                    <li>Use digital to open the possibility to large scale impact. This doesn’t necessarily mean that they are first and foremost and app, though, they might be a project that uses technology to arrange volunteers in many different places</li>
                                    <li>Have some strong digital skills within the founding team</li>
                                </ul>

                                <p>For more information, please <a href="/funding/programmes/digital-funding/strand-1#eligibility">see the full detailed eligibility criteria for this programme</a></p>
                            </div>
                        </div>
                    </details>

                    <hr>

                    {{ eligibilityFaqs() }}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
