{% from "components/step-progress/macro.njk" import stepProgress %}

{% macro strandTeaserCard(props, accent) %}
    <div class="card">
        <header class="card__header">
            <h3 class="card__title">{{ props.title }}</h3>
        </header>
        <div class="card__body">
            <p>{{ props.description }}</p>
            <p><a href="{{ props.link.url }}"
                class="btn btn--medium accent--{{ accent }} a--btn">
                {{ props.link.label }}
            </a></p>
        </div>
    </div>
{% endmacro %}

{% macro eligibilityFaqs(faqs) %}
    {% for faq in faqs %}
        <p><strong>{{ faq.question }}</strong></p>
        <p>{{ faq.answer }}</p>
    {% endfor %}
{% endmacro %}
