{% from "components/step-progress/macro.njk" import stepProgress %}

{% macro strandTeaserCard(props, accent) %}
    <div class="card">
        <header class="card__header">
            <h3 class="card__title">{{ props.title }}</h3>
        </header>
        <div class="card__body">
            <p>{{ props.description }}</p>
            <p><a href="{{ props.link.url }}"
                class="btn btn--medium accent--{{ accent }} a--btn">
                {{ props.link.label }}
            </a></p>
        </div>
    </div>
{% endmacro %}

{% macro steps() %}
    {{ stepProgress([{
        "title": "Request a call",
        "description": "Contact us to arrange a call to talk about your idea - we love to have a chat before you invest too much time"
    }, {
        "title": "Talk to us",
        "description": "We call you and ask a few questions"
    }, {
        "title": "Submit a full proposal",
        "description": "If we feel this fund could work for you, we’ll ask you to submit a full proposal"
    }] )}}
{% endmacro %}

{% macro getStarted(url, accent) %}
    <aside class="card u-accent-border-top-{{ accent }} u-sticky-offset">
        <header class="card__header">
            <h3 class="card__title">Get started</h3>
            <div class="card__body">
                <p><strong>We’re really interested in hearing your ideas</strong>. Please talk to us, even if you’re still at an early stage. You don't need to have done any special prep before requesting a call</p>

                <a href="{{ url}}" class="btn btn--medium accent--{{ accent }} a--btn">
                    Request a call
                </a>
            </div>
        </header>
    </aside>
{% endmacro %}

{% macro eligibilityFaqs(faqs) %}
    {% for faq in faqs %}
        <p><strong>{{ faq.question }}</strong></p>
        <p>{{ faq.answer }}</p>
    {% endfor %}
{% endmacro %}
