{% from "components/step-progress/macro.njk" import stepProgress %}

{% macro strandTeaserCard(props, accent) %}
    <div class="card">
        <header class="card__header">
            <h3 class="card__title">{{ props.title }}</h3>
        </header>
        <div class="card__body">
            <p>{{ props.description }}</p>
            <p><a href="{{ props.link.url }}"
                class="btn btn--medium accent--{{ accent }} a--btn">
                {{ props.link.label }}
            </a></p>
        </div>
    </div>
{% endmacro %}

{% macro wayfinding(currentStrand) %}
    <h2>{{ copy.wayfinding.title }}</h2>
    {% if currentStrand !== 'assistance' %}
        <p><a href="{{ localify('/funding/programmes/digital-funding/assistance') }}"
            class="btn btn--medium accent--pink a--btn">
            {{ copy.wayfinding.assistance }}
        </a></p>
    {% endif %}
    {% if currentStrand !== 'strand1' %}
        <p><a href="{{ localify('/funding/programmes/digital-funding/strand-1') }}"
            class="btn btn--medium accent--blue a--btn">
            {{ copy.wayfinding.strand1 }}
        </a></p>
    {% endif %}
    {% if currentStrand !== 'strand2' %}
        <p><a href="{{ localify('/funding/programmes/digital-funding/strand-2') }}"
            class="btn btn--medium accent--cyan a--btn">
            {{ copy.wayfinding.strand2 }}
        </a></p>
    {% endif %}
    <p>{{ copy.wayfinding.otherProgrammes | safe }}</p>
{% endmacro %}

{% macro eligibilityFaqs(faqs) %}
    {% for faq in faqs %}
        <p><strong>{{ faq.question }}</strong></p>
        <p>{{ faq.answer }}</p>
    {% endfor %}
{% endmacro %}
