{% from "components/hero.njk" import hero %}
{% from "components/section-links/macro.njk" import sectionLinks %}
{% from "components/programmes.njk" import programmeCard with context %}

{% extends "layouts/main.njk" %}

{% block content %}
    <main role="main">
        {{
            hero(
                titleText = title,
                image = heroImage,
                accent = pageAccent
            )
        }}

        <div class="nudge-up">
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                {{ sectionLinks(copy.sectionLinks) }}
            </section>

            {% if latestProgrammes.length > 0 %}
            <section class="content-box u-inner-wide-only accent--{{ pageAccent }} a--border-top">
                <h2 class="t1">{{ copy.latestProgrammes }}</h2>

                <ul class="flex-grid flex-grid--3up">
                    {% for programme in latestProgrammes %}
                        <li class="flex-grid__item">
                            {{ programmeCard(
                                isMinimal = true,
                                accent = 'pink',
                                programme = programme.content
                            ) }}
                        </li>
                    {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    </main>
{% endblock %}
