{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/segment.njk" as segment %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.blockheader('h2', title, 't1') }}
    {% endset %}

    {{ hero.header('press', heroContent, 'turquoise') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--turquoise accent-b-t accent-bg bordered">
            {{ copy.body | safe }}
        </div>

        <div class="inner">

            {{ segment.segment(copy.sections.identify.title, copy.sections.identify.text, 'blue', 'images/press/1.jpg') }}
            {{ segment.segment(copy.sections.find.title, copy.sections.find.text, 'pink-dark', 'images/press/2.jpg') }}
            {{ segment.segment(copy.sections.draft.title, copy.sections.draft.text, 'orange', 'images/press/3.jpg') }}
            {{ segment.segment(copy.sections.send.title, copy.sections.send.text, 'green', 'images/press/4.jpg') }}
            {{ segment.segment(copy.sections.attach.title, copy.sections.attach.text, 'turquoise', 'images/press/5.jpg') }}
            {{ segment.segment(copy.sections.follow.title, copy.sections.follow.text, 'pink', 'images/press/6.jpg') }}
            {{ segment.segment(copy.sections.tell.title, copy.sections.tell.text, 'cyan', 'images/press/7.jpg') }}


        </div>

    </article>

{% endblock %}