{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}


{% macro pressBlock(content, color, imagePath) %}
    <div class="boxed-copy accent--{{ color }} accent-b-t">
        <div class="grid__item__inner boxed-copy__media">
            <img src="{{ imagePath | getCachebustedPath }}" alt="" />
            {{ headers.blockheader(
            'h4',
            content.title,
            20,
            'minor grid__item__title grid__item__title--top'
            )}}
        </div>
        <div class="boxed-copy__aside p-text">
            <p>{{ content.text | safe }}</p>
        </div>
    </div>
{% endmacro %}


{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', title, 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('press', heroContent, 'turquoise') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--turquoise accent-b-t accent-bg bordered">
            {{ copy.body | safe }}
        </div>

        <div class="inner">

            {{ pressBlock(copy.sections.identify, 'blue', 'images/press/1.jpg') }}
            {{ pressBlock(copy.sections.find, 'orange', 'images/press/2.jpg') }}
            {{ pressBlock(copy.sections.draft, 'green', 'images/press/3.jpg') }}
            {{ pressBlock(copy.sections.send, 'turquoise', 'images/press/4.jpg') }}
            {{ pressBlock(copy.sections.attach, 'pink', 'images/press/5.jpg') }}
            {{ pressBlock(copy.sections.follow, 'cyan', 'images/press/6.jpg') }}
            {{ pressBlock(copy.sections.tell, 'blue', 'images/press/1.jpg') }}


        </div>

    </article>

{% endblock %}