{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', title, 30, 'hero__header accent--turquoise') }}
        </div>
    {% endset %}

    {{ hero.header('social', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p-text accent--turquoise accent-b-t accent-bg bordered">
            {{ copy.body.part1 | safe }}

            <h3 class="t3a m-t">{{ copy.body.actions[1] | safe }}</h3>
            <h3 class="t3a m-t">{{ copy.body.actions[2] | safe }}</h3>
            <h3 class="t3a m-t">{{ copy.body.actions[3] | safe }}</h3>

            {{ copy.body.part2 | safe }}

        </div>

    </article>

{% endblock %}