{% from "components/hero.njk" import sectionHero %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set bodyClass = "has-full-bleed-header" %}
{% set heroImage = heroImages.centreForBetterHealthBakery %}
{% set socialImage = heroImage %}

{% block content %}

    {% set pageAccent = 'turquoise' %}

    {{
        sectionHero(
            titleText = title,
            image = heroImage,
            accent = pageAccent
        )
    }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only accent--{{ pageAccent }} a--border-top content-box">
            {{ copy.body.part1 | safe }}

            <h3 class="t2">{{ copy.body.actions[1] | safe }}</h3>
            <h3 class="t2">{{ copy.body.actions[2] | safe }}</h3>
            <h3 class="t2">{{ copy.body.actions[3] | safe }}</h3>

            {{ copy.body.part2 | safe }}

        </div>

    </article>

{% endblock %}
