{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set howToUseLogo %}
    <h3 class="t3a m-t-none tab-fallback-title m-b">How to use our logo</h3>
    <h3 class="t3a">Free branded kit</h3>
    <p class="m-t-none">We'll also send you free items such as plaques, balloons and large cheques &ndash; <a href="{{ buildUrl('funding', 'freeMaterials') }}">see the full range and order here</a>.</p>

    <h3 class="t3a m-t">Brand guidance &ndash; getting it right</h3>
    <p class="m-t-none"><a href="#">Download our Brand Guidance</a> for help with using our logo correctly. If you're still not sure, get in touch with the Branding Team at {{ "brand.guidance@biglotteryfund.org.uk" | mailto | safe }}</p>

    <h3 class="t3a m-t">Choosing the right logo format to download</h3>
    <p class="m-t-none">
        <strong>Digital</strong> &ndash; best for websites, word documents, PowerPoint and social media<br />
        <strong>Print</strong> &ndash; best for use when printing posters or leaflets<br />
        <strong>Vector</strong> &ndash; best to use when working with a professional designer<br />
    </p>

    <h3 class="t3a m-t">Logo options</h3>
    <p class="m-t-none">The logo is available in two colours: 100% magenta or 100% cyan. We position the logo in the top right corner of all our communications by default. Always use the logo supplied through official channels and never adapt or recreate it.</p>

    <div class="central-gap">
        <img src="{{ 'images/logos/examples.png' | getCachebustedPath }}"
             alt="Examples of our logo"
             class="width-natural" />
    </div>
{% endset %}

{% macro logoTabBar(paneId) %}
    <ul class="js-tabs tabs unstyled" data-panes="{{ paneId }}">
        <li><a href="#logos">Logo downloads</a></li>
        <li><a href="#howto">How to use our logo</a></li>
    </ul>
{% endmacro %}

{% macro makeLogoTitle(logoName, logoSize) %}
    {{ copy.downloads.download }}
    {% if locale == 'cy' %}logo{% endif %}
    {{ copy.downloads.colours[logoName] }}
    {% if locale == 'en' %}logo{% endif %}
    <span class="lighter">({{ copy.downloads.sizes[logoSize] }})</span>
{% endmacro %}

{% macro logoBlock(logoFilename, logoName, logoLocale = 'en', onlyEps = false) %}
    {% set logoPreview = 'images/logos/' + logoLocale + '/' + logoFilename + '.png' %}
    {% if not onlyEps %}<a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-large.jpg">{% endif %}
        <img src="{{ logoPreview | getCachebustedPath }}" alt="The Big Lottery Fund logo, in {% if logoLocale == 'en' %}English{% else %}Welsh and English{% endif %}, coloured {{ logoName }}">
    {% if not onlyEps %}</a>{% endif %}
    {% if not onlyEps %}
        <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-small.jpg" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
            {{ makeLogoTitle(logoName, 'small') }}
        </a>
        <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-large.jpg" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
            {{ makeLogoTitle(logoName, 'large') }}
        </a>
    {% endif %}
    <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}.eps" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
        {{ makeLogoTitle(logoName, 'eps') }}
    </a>
{% endmacro %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', "Using our logo", 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('logo', heroContent, 'blue') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--blue accent-b-t accent-bg bordered">
            {#{{ copy.body | safe }}#}

            <h3 class="t3a m-t">Thank the players of the National Lottery</h3>
            <p class="m-t-none">It's really important that people involved with your project understand that it'd been supported by players of the National Lottery &ndash; having our logo somewhere easily visible really helps to do this. You can put the logo on a wall, add it to your website or a piece of equipment &ndash; anywhere where people can see it. You can download our logos below.</p>

            <p><strong>To make sure you get the correct logo please tell us where your project is based:</strong></p>

            <div class="m-l--l m-r--l">
                <ul class="js-tabs unstyled grid grid--padded grid--equal grid--2-up grid--wide-only"
                    data-panes="js-logo-panes"
                    data-no-initial-selection="true">
                    <li class="grid__item m-b-none">
                        <a href="#logos" class="btn btn--blue btn--cta btn--block">England, Scotland or Northern Ireland</a>
                    </li>
                    <li class="grid__item m-b-none">
                        <a href="#howto" class="btn btn--blue btn--cta btn--block">Wales</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="inner" id="js-logo-panes">

            {# england, scotland and NI #}
            <div class="js-pane tab-pane">

                {{ logoTabBar('js-logo-panes-en') }}

                <div id="js-logo-panes-en" class="m-t-none">
                    {# logo pane #}
                    <div class="js-pane tab-pane bordered p">
                        <h3 class="t3a m-t-none tab-fallback-title m-b">{{ copy.labels.english | safe }}</h3>

                        <ul class="unstyled grid grid--wide-only grid--equal grid--2-up grid--padded m-t-none">
                            <li class="grid__item">
                                <div class="grid__item__inner accent--turquoise bordered p">
                                    {{ logoBlock('blue', 'blue', 'en') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner accent--pink bordered p">
                                    {{ logoBlock('pink', 'pink') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('pink-white', 'white', onlyEps = true) }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('blue-white', 'white', onlyEps = true) }}
                                </div>
                            </li>
                        </ul>
                    </div>

                    {# how to #}
                    <div class="js-pane tab-pane bordered p">
                        {{ howToUseLogo | safe }}
                    </div>
                </div>

            </div>

            {# wales #}
            <div class="js-pane tab-pane">

                {{ logoTabBar('js-logo-panes-cy') }}

                <div id="js-logo-panes-cy" class="m-t-none">
                    {# logo pane #}
                    <div class="js-pane tab-pane bordered p">
                        <h3 class="t3a m-t-none tab-fallback-title m-b">{{ copy.labels.bilingual | safe }}</h3>

                        <ul class="unstyled grid grid--wide-only grid--equal grid--2-up grid--padded m-t-none">
                            <li class="grid__item">
                                <div class="grid__item__inner accent--turquoise bordered p">
                                    {{ logoBlock('blue', 'blue', logoLocale = 'bilingual') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner accent--pink bordered p">
                                    {{ logoBlock('pink', 'pink', logoLocale = 'bilingual') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('pink-white', 'white', logoLocale = 'bilingual', onlyEps = true) }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('blue-white', 'white', logoLocale = 'bilingual', onlyEps = true) }}
                                </div>
                            </li>
                        </ul>
                    </div>

                    {# how to #}
                    <div class="js-pane tab-pane bordered p">
                        <h3 class="t3a m-t-none tab-fallback-title m-b">How to use our logo</h3>
                        {{ howToUseLogo | safe }}
                    </div>
                </div>

            </div>

        </div>

    </article>

{% endblock %}