{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% set howToUseLogo %}
    <h3 class="t3a m-t-none tab-fallback-title m-b">{{ copy.howToUseLogo.title }}</h3>
    <h3 class="t3a">{{ copy.howToUseLogo.sections.freeKit.title | safe }}</h3>
    <p class="m-t-none">{{ copy.howToUseLogo.sections.freeKit.body | safe}}</p>

    <h3 class="t3a m-t">{{ copy.howToUseLogo.sections.brandGuidance.title | safe }}</h3>
    <p class="m-t-none">{{ copy.howToUseLogo.sections.brandGuidance.body | safe }}</p>

    <h3 class="t3a m-t">{{ copy.howToUseLogo.sections.format.title | safe }}</h3>
    <p class="m-t-none">{{ copy.howToUseLogo.sections.format.body | safe }}</p>

    <h3 class="t3a m-t">{{ copy.howToUseLogo.sections.options.title | safe }}</h3>
    <p class="m-t-none">{{ copy.howToUseLogo.sections.options.body | safe }}</p>

    <div class="central-gap">
        <img src="{{ 'images/logos/examples.png' | getCachebustedPath }}"
             alt="Examples of our logo"
             class="width-natural" />
    </div>
{% endset %}

{% macro logoTabBar(paneId, logoTitle, localeId) %}
    <ul class="js-tabs tabs unstyled" data-panes="{{ paneId }}">
        <li><a href="#logos-{{ localeId }}">{{ logoTitle }}</a></li>
        <li><a href="#howto-{{ localeId }}">{{ copy.howToUseLogo.title }}</a></li>
    </ul>
{% endmacro %}

{% macro makeLogoTitle(logoName, logoSize) %}
    {{ copy.downloads.download }}
    {% if locale == 'cy' %}logo{% endif %}
    {{ copy.downloads.colours[logoName] }}
    {% if locale == 'en' %}logo{% endif %}
    <span class="lighter">({{ copy.downloads.sizes[logoSize] }})</span>
{% endmacro %}

{% macro logoBlock(logoFilename, logoName, logoLocale = 'en', onlyEps = false) %}
    {% set logoPreview = 'images/logos/' + logoLocale + '/' + logoFilename + '.png' %}
    {% if not onlyEps %}<a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-large.jpg">{% endif %}
        <img src="{{ logoPreview | getCachebustedPath }}" alt="The Big Lottery Fund logo, in {% if logoLocale == 'en' %}English{% else %}Welsh and English{% endif %}, coloured {{ logoName }}">
    {% if not onlyEps %}</a>{% endif %}
    {% if not onlyEps %}
        <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-small.jpg" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
            {{ makeLogoTitle(logoName, 'small') }}
        </a>
        <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}-large.jpg" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
            {{ makeLogoTitle(logoName, 'large') }}
        </a>
    {% endif %}
    <a href="/assets/logos/{{ logoLocale }}/{{ logoFilename }}.eps" class="btn btn--block btn--cta btn--cta--large m-t-flexible">
        {{ makeLogoTitle(logoName, 'eps') }}
    </a>
{% endmacro %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', copy.heroText, 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('logo', heroContent, 'blue') }}

    <article role="main" class="nudge-up">

        <div class="inner--wide-only p-text accent--blue accent-b-t accent-bg bordered">

            <h3 class="t3a m-t">{{ copy.subtitle }}</h3>
            <p class="m-t-none">{{ copy.body | safe }}</p>
            <p><strong>{{ copy.locationPrompt }}</strong></p>

            <div class="m-l--l m-r--l">
                <ul class="js-tabs unstyled grid grid--padded grid--equal grid--2-up grid--wide-only"
                    data-panes="js-logo-panes"
                    data-no-initial-selection="true">
                    <li class="grid__item m-b-none">
                        <a href="#js-logo-panes-en" class="btn btn--cta btn--block">{{ copy.locations.monolingual }}</a>
                    </li>
                    <li class="grid__item m-b-none">
                        <a href="#js-logo-panes-cy" class="btn btn--cta btn--block">{{ copy.locations.bilingual }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="inner" id="js-logo-panes">

            {# england, scotland and NI #}
            <div class="js-pane tab-pane">

                {{ logoTabBar('js-logo-panes-en', copy.logoDownloads.monolingual, 'en') }}

                <div id="js-logo-panes-en" class="m-t-none">
                    {# logo pane #}
                    <div class="js-pane tab-pane bordered p" id="logos-en">
                        <h3 class="t3a m-t-none tab-fallback-title m-b">{{ copy.logoDownloads.monolingual }}</h3>

                        <ul class="unstyled grid grid--wide-only grid--equal grid--2-up grid--padded m-t-none">
                            <li class="grid__item">
                                <div class="grid__item__inner accent--turquoise bordered p">
                                    {{ logoBlock('blue', 'blue', 'en') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner accent--pink bordered p">
                                    {{ logoBlock('pink', 'pink') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('pink-white', 'white', onlyEps = true) }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('blue-white', 'white', onlyEps = true) }}
                                </div>
                            </li>
                        </ul>
                    </div>

                    {# how to #}
                    <div class="js-pane tab-pane bordered p" id="howto-en">
                        {{ howToUseLogo | safe }}
                    </div>
                </div>

            </div>

            {# wales #}
            <div class="js-pane tab-pane">

                {{ logoTabBar('js-logo-panes-cy', copy.logoDownloads.bilingual, 'cy') }}

                <div id="js-logo-panes-cy" class="m-t-none">
                    {# logo pane #}
                    <div class="js-pane tab-pane bordered p" id="logos-cy">
                        <h3 class="t3a m-t-none tab-fallback-title m-b">{{ copy.logoDownloads.bilingual }}</h3>

                        <ul class="unstyled grid grid--wide-only grid--equal grid--2-up grid--padded m-t-none">
                            <li class="grid__item">
                                <div class="grid__item__inner accent--turquoise bordered p">
                                    {{ logoBlock('blue', 'blue', logoLocale = 'bilingual') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner accent--pink bordered p">
                                    {{ logoBlock('pink', 'pink', logoLocale = 'bilingual') }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('pink-white', 'white', logoLocale = 'bilingual', onlyEps = true) }}
                                </div>
                            </li>
                            <li class="grid__item">
                                <div class="grid__item__inner bordered p bg-dark">
                                    {{ logoBlock('blue-white', 'white', logoLocale = 'bilingual', onlyEps = true) }}
                                </div>
                            </li>
                        </ul>
                    </div>

                    {# how to #}
                    <div class="js-pane tab-pane bordered p" id="howto-cy">
                        {{ howToUseLogo | safe }}
                    </div>
                </div>

            </div>

        </div>

    </article>

{% endblock %}