{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', copy.title, 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('managing-grants', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p-text accent--blue accent-b-t accent-bg bordered">
            <h3 class="t3 m-t-none">{{ copy.body.header1 }}</h3>
            {{ copy.body.block1 | safe }}
        </div>

        <div class="inner">

            <ul class="grid grid--2-up grid--padded grid--equal grid--wide-only">

                <li class="grid__item">
                    <div class="grid__item__inner accent--pink-mid accent-b-t-l">
                        <a href="{{ buildUrl('funding', 'helpWithPublicity') }}">
                            <img src="{{ 'images/funding/tell-the-world.jpg' | getCachebustedPath }}" class="grid__item__poster" alt="Three people working together on laptops" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            copy.body.actions.social,
                            18,
                            'minor grid__item__title grid__item__title--arrow',
                            buildUrl('funding', 'helpWithPublicity'),
                            true
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--blue accent-b-t-l">
                        <a href="{{ buildUrl('funding', 'pressCoverage') }}">
                            <img src="{{ 'images/funding/local-press.jpg' | getCachebustedPath }}" alt="Two cooks in chefs' clothing with another man smiling" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            copy.body.actions.press,
                            14,
                            'minor grid__item__title grid__item__title--arrow',
                            buildUrl('funding', 'pressCoverage'),
                            true
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--turquoise accent-b-t-l">
                        <a href="{{ buildUrl('funding', 'logos') }}">
                            <img src="{{ 'images/funding/display-the-logo.jpg' | getCachebustedPath }}" alt="A man smiling outside the entrance to a bike shop" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            copy.body.actions.logo,
                            24,
                            'minor grid__item__title grid__item__title--arrow',
                            buildUrl('funding', 'logos'),
                            true
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--orange accent-b-t-l">
                        <a href="{{ buildUrl('funding', 'freeMaterials') }}">
                            <img src="{{ 'images/funding/free-branded-materials.jpg' | getCachebustedPath }}" alt="Two people crouching down outdoors in an allotment surrounded by plants" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            copy.body.actions.freeMaterial,
                            20,
                            'minor grid__item__title grid__item__title--arrow',
                            buildUrl('funding', 'freeMaterials'),
                            true
                        )}}
                    </div>
                </li>
            </ul>
        </div>

        <div class="inner--wide-only p-text accent--turquoise accent-b-t accent-bg bordered">
            <h3 class="t3 m-t-none">{{ copy.body.header2 }}</h3>
            {{ copy.body.block2 | safe }}
        </div>
    </article>

{% endblock %}