{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', copy.title, 't1') }}
    {% endset %}

    {{ hero.header('managing-grants', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p-text accent--blue accent-b-t accent-bg bordered">
            <h3 class="t3 m-t">{{ copy.body.header1 }}</h3>
            {{ copy.body.block1 | safe }}
        </div>

        <div class="inner">

            <ul class="unstyled grid grid--2-up grid--padded grid--equal grid--wide-only">

                <li class="grid__item">
                    <div class="accent--pink-mid a-border-top--large">
                        {% set miniHeroContent %}
                            {{ headers.overlayText(
                                tag = 'h4',
                                text = copy.body.actions.social,
                                additionalClasses = 't2 svgs-white',
                                link = buildUrl('funding', 'helpWithPublicity'),
                                showArrow = true
                            )}}
                        {% endset %}
                        {{ hero.miniature(
                            imagePath = 'images/funding/tell-the-world.jpg',
                            imageCaption = 'Three people working together on laptops',
                            link = buildUrl('funding', 'helpWithPublicity'),
                            content = miniHeroContent
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="accent--blue a-border-top--large">
                        {% set miniHeroContent %}
                            {{ headers.overlayText(
                                tag = 'h4',
                                text = copy.body.actions.press,
                                additionalClasses = 't2 svgs-white',
                                link = buildUrl('funding', 'pressCoverage'),
                                showArrow = true
                            )}}
                        {% endset %}
                        {{ hero.miniature(
                            imagePath = 'images/funding/local-press.jpg',
                            imageCaption = 'Two cooks in chefs\' clothing with another man smiling',
                            link = buildUrl('funding', 'pressCoverage'),
                            content = miniHeroContent
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="accent--turquoise a-border-top--large">
                        {% set miniHeroContent %}
                            {{ headers.overlayText(
                                tag = 'h4',
                                text = copy.body.actions.logo,
                                additionalClasses = 't2 svgs-white',
                                link = buildUrl('funding', 'logos'),
                                showArrow = true
                            )}}
                        {% endset %}
                        {{ hero.miniature(
                            imagePath = 'images/funding/display-the-logo.jpg',
                            imageCaption = 'A man smiling outside the entrance to a bike shop',
                            link = buildUrl('funding', 'logos'),
                            content = miniHeroContent
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="accent--orange a-border-top--large">
                        {% set miniHeroContent %}
                            {{ headers.overlayText(
                                tag = 'h4',
                                text = copy.body.actions.freeMaterial,
                                additionalClasses = 't2 svgs-white',
                                link = buildUrl('funding', 'freeMaterials'),
                                showArrow = true
                            )}}
                        {% endset %}
                        {{ hero.miniature(
                            imagePath = 'images/funding/free-branded-materials.jpg',
                            imageCaption = 'Two people crouching down outdoors in an allotment surrounded by plants',
                            link = buildUrl('funding', 'freeMaterials'),
                            content = miniHeroContent
                        )}}
                    </div>
                </li>

            </ul>
        </div>

        <div class="inner--wide-only p-text accent--turquoise accent-b-t accent-bg bordered">
            <h3 class="t3 m-t">{{ copy.body.header2 }}</h3>
            {{ copy.body.block2 | safe }}
        </div>
    </article>

{% endblock %}