{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', 'Congratulations on getting National Lottery funding!', 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('managing-grants', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p accent--blue accent-b-t accent-bg bordered">
            <h3 class="t3 m-t-none">You're now part of a family of fantastic organisations that are making communities across the UK better places to be.</h3>
            <p>We want you to be as flexible and creative as possible with using your grant money. However, you do need to publicly announce your funding award. Whilst we would love you to use a range of ways to do this, here are some you should consider:</p>
        </div>

        <div class="inner">

            <ul class="grid grid--2-up grid--padded grid--equal grid--wide-only">

                <li class="grid__item">
                    <div class="grid__item__inner accent--pink-mid accent-b-t-l">
                        <a href="/funding/funding-guidance/managing-your-funding/help-with-publicity">
                            <img src="{{ 'images/funding/tell-the-world.jpg' | getCachebustedPath }}" class="grid__item__poster" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Tell the world about your grant via social media',
                            18,
                            'minor grid__item__title',
                            '/funding/funding-guidance/managing-your-funding/help-with-publicity'
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--blue accent-b-t-l">
                        <a href="#">
                            <img src="{{ 'images/funding/local-press.jpg' | getCachebustedPath }}" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Get in touch with your local press',
                            14,
                            'minor grid__item__title',
                            '#'
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--turquoise accent-b-t-l">
                        <a href="/funding/funding-guidance/managing-your-funding/grant-acknowledgement-and-logos/">
                            <img src="{{ 'images/funding/display-the-logo.jpg' | getCachebustedPath }}" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Display the "Lottery Funded" logo in various appropriate places',
                            18,
                            'minor grid__item__title',
                            '/funding/funding-guidance/managing-your-funding/grant-acknowledgement-and-logos'
                        )}}
                    </div>
                </li>

                <li class="grid__item">
                    <div class="grid__item__inner accent--orange accent-b-t-l">
                        <a href="/funding/funding-guidance/managing-your-funding/ordering-free-materials">
                            <img src="{{ 'images/funding/free-branded-materials.jpg' | getCachebustedPath }}" />
                        </a>
                        {{ headers.blockheader(
                            'h4',
                            'Consider getting free branded materials',
                            20,
                            'minor grid__item__title',
                            '/funding/funding-guidance/managing-your-funding/ordering-free-materials'
                        )}}
                    </div>
                </li>
            </ul>
        </div>

        <div class="inner--wide-only p accent--turquoise accent-b-t accent-bg bordered">
            <h3 class="t3 m-t-none">Why are we asking you to do these things?</h3>
            <p>You are one of thousands of good causes all over the UK doing amazing things with money raised by National Lottery players. It is very important that you share the good news about your funding and let the public know how they are making life better across the UK by playing National Lottery games.</p>
            <p>This will also encourage people in your local area to apply for lottery funding, increasing the amount of amazing work that takes place in your community.</p>
        </div>
    </article>

{% endblock %}