{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% import "components/forms.njk" as forms %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        {% set heroTitle = title %}
        {% if orderStatus == 'success' %}
            {% set heroTitle = copy.orderSubmitted.success %}
        {% elseif orderStatus == 'fail' %}
            {% set heroTitle = copy.orderSubmitted.failure %}
        {% endif %}
        <div class="nudge-bottom{% if orderStatus %} is-on-top{% endif %}">
            {{ headers.blockheader('h2', heroTitle, 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('logo', heroContent, 'blue') }}

    <article role="main" class="nudge-up" id="js-vue">

        <div class="inner--wide-only p-text accent--blue accent-b-t accent-bg bordered">
            {{ copy.body | safe }}
        </div>

        <div class="inner">

            <h3 class="t3a m-t--l m-l--l">{{ copy.orderForm }}</h3>

            <ul class="grid grid--wide-only grid--equal grid--3-up grid--padded unstyled">
                {% for item in materials %}
                    <li class="grid__item">
                        <div class="grid__item__inner accent--blue accent-b-t-l bordered material-item">
                            <div class="p p-b-none">
                                <p class="m-t-none">
                                    <strong>{{ item.name[locale] }}</strong>
                                    {% if item.description %} <span class="smaller">({{ item.description[locale] or item.description }}){% endif %}</span>
                                </p>

                                {% set imgPath = 'images/materials/' + locale + '/' + item.image %}
                                <div class="material-item__media m-b"
                                     style="background-image: url({{ imgPath | getCachebustedPath }}">
                                </div>
                            </div>

                            <aside class="material-item__actions">
                                {% for p in item.products %}
                                    {% set quantity = orders[p.code].quantity or 0 %}
                                    {# @TODO this has a weird quirk where vue adds the class a second time if reloading page #}
                                    <form class="p p-b-none{% if quantity > 0 %} is-selected{% endif %}"
                                          v-bind:class="{ 'is-selected': ((orderData['{{ p.code }}']) ? orderData['{{ p.code }}'].quantity > 0 : false) }"
                                          method="post"
                                          action="/funding/funding-guidance/managing-your-funding/ordering-free-materials/item/{{ item.id }}">
                                        <input type="hidden" name="code" value="{{ p.code }}">
                                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                        <div class="material-item__controls">
                                            <label class="m-t-none material-item__label">
                                                <strong>{% if p.name[locale] %}{{ p.name[locale] }}{% else %}{{ item.name[locale] }}{% endif %}</strong>
                                                {{ copy.languageOptions[p.language] }}
                                            </label>
                                            <button type="submit"
                                                    value="decrease"
                                                    name="action"{% if quantity == 0 %} disabled="disabled"{% endif %}
                                                    v-bind:disabled="getQuantity('{{ p.code }}', {{ quantity }}) == 0"
                                                    aria-label="Decrease quantity"
                                                    class="btn btn--cta accent--turquoise m-t-none material-item__btn material-item__btn--decrease js-order-material-btn">
                                                -
                                            </button>
                                            <div aria-label="Quantity"
                                                  class="material-item__quantity js-material-count">
                                                <span class="js-only">
                                                    <% getQuantity('{{ p.code }}', {{ quantity }}) %>
                                                </span>
                                                <noscript>{{ quantity }}</noscript>
                                            </div>
                                            <button type="submit"
                                                    value="increase"
                                                    name="action"{% if item.maximum == quantity %} disabled="disabled"{% endif %}
                                                    v-bind:disabled="getQuantity('{{ p.code }}', {{ quantity }}) == {{ item.maximum }}"
                                                    aria-label="Increase quantity"
                                                    class="btn btn--cta accent--turquoise m-t-none material-item__btn material-item__btn--increase js-order-material-btn">
                                                +
                                            </button>
                                        </div>
                                    </form>
                                {% endfor %}
                            </aside>

                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>

        <div class="inner accent--blue accent-b-t p" id="your-details">
            <div class="p">
                <h3 class="t3a m-t-none">{{ copy.yourDetails }}</h3>

                <form class="inline-form order-form" method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <ul class="grid grid--wide-only grid--3-up grid--padded--large unstyled">
                        {% for field in formFields %}
                            <li class="grid__item">{{ forms.input(field.name, field.label[locale], inputType = field.type, required = field.required) }}</li>
                        {% endfor %}
                        <li class="grid__item">
                            <input type="submit"{% if numOrders == 0 %} disabled="disabled"{% endif %}
                                   v-bind:disabled="isEmpty()"
                                   value="{{ copy.submit }}"
                                   class="accent--turquoise btn btn--cta btn--cta--large order-form__btn"
                                   id="js-submit-material-order">
                        </li>
                    </ul>
                </form>
            </div>
        </div>

    </article>

{% endblock %}