{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% block content %}

    {% set heroContent %}
        <div class="nudge-bottom">
            {{ headers.blockheader('h2', title, 30, 'hero__header') }}
        </div>
    {% endset %}

    {{ hero.header('logo', heroContent, 'blue') }}

    <article role="main" class="nudge-up">
        <div class="inner--wide-only p accent--blue accent-b-t accent-bg bordered">

            {% for category in materials %}
                <h3 class="m-t">{{ category.title }}</h3>
                {% if category.info %}<p>{{ category.info }}</p>{% endif %}
                <ul>
                {% for item in category.items %}
                    <li>
                        <h4>{{ item.name }}
                            {% if item.dimensions %}
                                ({{ item.dimensions[0] }}mm x {{ item.dimensions[1] }}mm)
                            {% elif item.description %}
                                ({{ item.description }})
                            {% endif %}
                        </h4>
                        <p>{% if item.maximum %}(maximum {{ item.maximum }} per project){% endif %}</p>
                        {% for code in item.ids %}
                            {% if code.name %}
                                <h5>{{ code.name }}</h5>
                            {% endif %}
                            <h6>{{ code[locale] }}</h6>
                            <form method="post" class="js-order-materials">
                                <input type="hidden" name="categoryID" value="{{ category.id }}">
                                <input type="hidden" name="itemID" value="{{ item.id }}">
                                <input type="hidden" name="locale" value="{{ locale }}">
                                {% if item.notAllowedWithItem %}
                                    <input type="hidden" name="notAllowedWithItem" value="{{ item.notAllowedWithItem }}">
                                {% endif %}
                                <button type="submit" value="decrease" class="js-order-material-btn">-</button>
                                <input type="number"
                                       value="{{ quantities[item.id] or 0 }}"
                                       size="2"
                                       min="0"{% if item.maximum %} max="{{ item.maximum }}"{% endif %}
                                       class="js-material-count">
                                <button type="submit" value="increase" class="js-order-material-btn">+</button>
                            </form>
                        {% endfor %}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}

            <h2>Order form</h2>
            <form class="form-fund">

                <label class="form-fund__item" for="yourName">Your name</label>
                <input class="form-fund__item" type="text" name="yourName" id="yourName">

                <label class="form-fund__item" for="yourAddress">Your address</label>
                <textarea class="form-fund__item" name="yourAddress" id="yourAddress"></textarea>

                <label class="form-fund__item" for="yourNumber">Your telephone number</label>
                <input class="form-fund__item" type="tel" name="yourNumber" id="yourNumber">

                <label class="form-fund__item" for="yourEmail">Your email address</label>
                <input class="form-fund__item" type="email" name="yourEmail" id="yourEmail">

                <label class="form-fund__item" for="yourProjectName">Your project name</label>
                <input class="form-fund__item" type="text" name="yourProjectName" id="yourProjectName">

                <label class="form-fund__item" for="yourProjectID">Your project ID number</label>
                <input class="form-fund__item" type="number" name="yourProjectID" id="yourProjectID">

                <label class="form-fund__item" for="yourGrantAmount">Your grant amount</label>
                <input class="form-fund__item" type="text" name="yourGrantAmount" id="yourGrantAmount">


            </form>



        </div>
    </article>

{% endblock %}