{% import "components/hero.njk" as hero %}
{% import "components/headers.njk" as headers %}
{% from "components/forms.njk" import textInput, radios with context %}

{% extends "layouts/main.njk" %}

{% block title %}{{ title }} | {% endblock %}

{% macro textField(field) %}
    {{ textInput(
        fieldName = field.name,
        fieldLabel = __(field.label),
        inputType = field.text,
        required = field.required
    ) }}
{% endmacro %}

{% macro itemOrderButtons(item, product) %}
    {% set quantity = orders[product.code].quantity or 0 %}
    {# @TODO this has a weird quirk where vue adds the class a second time if reloading page #}
    <form class="card__body {% if quantity > 0 %}is-selected{% endif %}"
          v-bind:class="{ 'is-selected': ((orderData['{{ product.code }}']) ? orderData['{{ product.code }}'].quantity > 0 : false) }"
          method="post"
          action="/funding/funding-guidance/managing-your-funding/ordering-free-materials/item/{{ item.id }}">
        <input type="hidden" name="code" value="{{ product.code }}">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <div class="material-item__controls">
            <label class="material-item__label">
                <strong class="t5">{% if product.name[locale] %}{{ product.name[locale] }}{% else %}{{ item.name[locale] }}{% endif %}</strong>
                {% if item.description %} <span class="t8">({{ item.description[locale] or item.description }}){% endif %}</span>
            </label>
            <div class="material-item__buttons">
                {% if not item.outOfStock %}
                    <button type="submit"
                            value="decrease"
                            name="action"{% if quantity == 0 %} disabled="disabled"{% endif %}
                            v-bind:disabled="getQuantity('{{ product.code }}', {{ quantity }}) == 0"
                            v-on:click.prevent="changeQuantity($event)"
                            aria-label="Decrease quantity"
                            class="btn accent--turquoise a--btn material-item__btn material-item__btn--decrease">
                        -
                    </button>
                    <div aria-label="Quantity" class="material-item__quantity js-material-count">
                        <span class="js-only">
                            <% getQuantity('{{ product.code }}', {{ quantity }}) %>
                        </span>
                        <noscript>{{ quantity }}</noscript>
                    </div>
                    <button type="submit"
                            value="increase"
                            name="action"{% if item.maximum == quantity %} disabled="disabled"{% endif %}
                            v-bind:disabled="getQuantity('{{ product.code }}', {{ quantity }}) == {{ item.maximum }}"
                            v-on:click.prevent="changeQuantity($event)"
                            aria-label="Increase quantity"
                            class="btn accent--turquoise a--btn material-item__btn material-item__btn--increase">
                        +
                    </button>
                {% else %}
                    <p class="material-item__oos">{{ copy.outOfStock }}</p>
                {% endif %}
            </div>
        </div>
    </form>
{% endmacro %}

{% macro itemOrderActions(item, languageToShow) %}
    {% for language, items in item.products | groupby('language') %}
        {% if language == languageToShow %}
            {% for product in items %}
                {{ itemOrderButtons(item, product) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro listProducts(languageToShow) %}
    {% if languageToShow === 'monolingual' %}
        {% set imageLocale = 'en' %}
    {% else %}
        {% set imageLocale = 'cy' %}
    {% endif %}

    <ul class="grid grid--wide-only grid--equal grid--3-up grid--padded unstyled">
        {% for item in materials %}
            <li class="grid__item">
                <div class="grid__item__inner accent--blue a--border-top--large material-item card card--padded card--title">

                    <h6 class="t5 card__title">{{ item.name[locale] }}</h6>

                    <div class="card__media">
                        {% set imgPath = 'materials/' + imageLocale + '/' + item.image %}
                        {% set imgPath = imgPath | getImagePath %}
                        <a class="material-item__media"
                             style="background-image: url({{ imgPath }}"
                             href="{{ imgPath }}"
                             target="_blank">
                        </a>
                    </div>

                    <aside class="material-item__actions">
                        {{ itemOrderActions(item, languageToShow) }}
                    </aside>

                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block overlay %}
    {% if orderStatus == 'success' %}
        <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.success.title }}</h2>
        <h3 class="t2 accent--blue a--text">{{ copy.orderSubmitted.success.subtitle }}</h3>
        <p>{{ copy.orderSubmitted.success.body | safe }}</p>
    {% elseif orderStatus == 'fail' %}
        <h2 class="t2 accent--pink a--text">{{ copy.orderSubmitted.failure.title }}</h2>
        <h3 class="t2 accent--blue a--text">{{ copy.orderSubmitted.failure.subtitle }}</h3>
    {% endif %}
{% endblock %}

{% block content %}

    {% set heroContent %}
        {{ headers.overlayText('h2', title, 't2') }}
    {% endset %}

    {{ hero.header('logo', heroContent, 'blue') }}

    <article role="main" class="nudge-up" id="js-vue" v-cloak>

        <div class="inner--wide-only accent--blue a--border-top content-box">
            {{ copy.body | safe }}

            <p><strong>{{ copy.locationPrompt }}</strong></p>
            <div>
                <ul class="unstyled grid grid--padded grid--equal grid--2-up grid--wide-only">
                    <li class="grid__item">
                        <a href="#monolingual"
                           class="btn btn--block btn--small accent--blue a--btn"
                           v-on:click.prevent="toggleItemLanguage('monolingual')">
                            {{ copy.locations.monolingual }}
                        </a>
                    </li>
                    <li class="grid__item">
                        <a href="#bilingual"
                           class="btn btn--block btn--small accent--blue a--btn"
                           v-on:click.prevent="toggleItemLanguage('bilingual')">
                            {{ copy.locations.bilingual }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div v-if="itemLanguage !== null">

            <div class="inner">

                {# monolingual items #}
                <div v-if="itemLanguage === 'monolingual'" id="monolingual">
                    <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.monolingual }})</noscript></h3>
                    {{ listProducts('monolingual') }}
                </div>

                {# bilingual items #}
                <div v-if="itemLanguage === 'bilingual'" id="bilingual">
                    <h3 class="t2">{{ copy.chooseItems }} <noscript>({{ copy.languageOptions.bilingual }})</noscript></h3>
                    {{ listProducts('bilingual') }}
                </div>

            </div>

            <div class="inner accent--blue a--border-top p" id="your-details">
                <div class="padded">
                    <h3 class="t2">{{ copy.enterDeliveryAddress }}</h3>

                    <form class="inline-form order-form" method="post">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <input type="hidden" name="languageChoice" value="" id="js-language-choice">

                        <div class="grid grid--padded grid-row">
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourName) }}</div>
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourEmail) }}</div>
                        </div>

                        <div class="grid grid--padded grid-row">
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourAddress1) }}</div>
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourAddress2) }}</div>
                        </div>

                        <div class="grid grid--padded grid-row">
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourCounty) }}</div>
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourTown) }}</div>
                        </div>

                        <div class="grid grid--padded grid-row">
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourPostcode) }}</div>
                            <div class="grid__item grid-col-6 grid-col-3--m">{{ textField(formFields.yourProjectName) }}</div>
                        </div>

                        <div class="grid grid--padded grid--top grid-row">

                            <div class="grid__item grid-col-6 grid-col-3--m">
                                {{ radios(
                                    fieldName = formFields.yourReason.name,
                                    label = __(formFields.yourReason.label),
                                    options = formFields.yourReason.options,
                                    allowOther = formFields.yourReason.allowOther
                                ) }}
                            </div>

                            <div class="grid__item grid-col-6 grid-col-3--m">
                                {{ radios(
                                    fieldName = formFields.yourGrantAmount.name,
                                    label = __(formFields.yourGrantAmount.label),
                                    options = formFields.yourGrantAmount.options,
                                    allowOther = true
                                ) }}

                                <input type="submit"{% if numOrders == 0 %} disabled="disabled"{% endif %}
                                       v-bind:disabled="isEmpty()"
                                       value="{{ __('global.forms.submit') }}"
                                       class="btn accent--turquoise a--btn order-form__btn spaced--t--l"
                                       id="js-submit-material-order">
                            </div>

                        </div>

                    </form>
                </div>
            </div>

        </div>

    </article>

{% endblock %}
