{% from "components/nav.njk" import selectionTrail %}

{% set bodyClass = 'has-static-header' %}
{% extends "layouts/main.njk" %}

{% macro articleMeta(entry) %}
    <div class="article-meta">
        {% if entry.authors.length > 0 %}
            <p class="article-meta__author">
                By
                {% set separator = joiner(',') %}
                {% for author in entry.authors -%}
                {{ separator() }} <a href="{{ author.link }}">{{ author.title }}</a>
                {%- endfor %}
            </p>
        {% endif %}
        <p class="article-meta__pubdate">
            <time pubdate datetime="{{ entry.postDate.date }}">
                {{ formatDate(entry.postDate.date, 'Do MMMM, YYYY') }}
            </time>
        </p>
    </div>
{% endmacro %}

{% macro topicsList(topics) %}
    <div class="topics-list">
        <h3 class="topics-list__title">{{ __('global.misc.topics') | title }}:</h3>
        <ol class="topics-list__items o-list-inline">
            {% for topic in topics -%}
            <li class="topics-list__item">
                <a href="{{ topic.link }}">{{ topic.title }}</a>
            </li>
            {%- endfor %}
        </ol>
    </div>
{% endmacro %}

{% block content %}
    {% set pageAccent = 'cyan' %}

    <main role="main">
        <section class="content-box inner--wide-only accent--{{ pageAccent }} a--border-top">
            {{ selectionTrail(activeBreadcrumbs) }}

            <article class="article">
                <header class="article__header">
                    <h1 class="article__title">{{ entry.title }}</a></h1>
                </header>
                <div class="article__main">
                    <footer class="article__meta accent--{{ pageAccent }} a--border-color">
                        {{ articleMeta(entry) }}
                    </footer>
                    <div class="article__body s-prose s-prose--long">
                        {{ entry.body | safe }}
                    </div>
                </div>
                {% if entry.tags.length > 0 %}
                    <aside class="article__topics" role="aside">
                        {{ topicsList(entry.tags) }}
                    </aside>
                {% endif %}
            </article>
        </section>
    </main>
{% endblock %}
