{% extends "layouts/main.njk" %}
{% from "components/form-header/macro.njk" import formHeader with context %}
{% from "components/content-box/macro.njk" import contentBox %}
{% from "components/process-map/macro.njk" import processMap %}

{% set copy = __('yourFundingProposal.startPage') %}
{% block title %}{{ copy.title }} | {{ formTitle }} | {% endblock %}

{% block content %}
    <main role="main" id="content">
        {% call contentBox(skipProse = true) %}
            {{ formHeader(
                backUrl = sectionUrl if user else localify('/funding/over10k'),
                title = formTitle,
                prefix = globalCopy.brand.title
            )}}

            <div class="s-prose">

                <div class="message message--info message--minor" role="alert">
                    {% for part in copy.countryMessageParts %}
                        <p>
                            <strong>{{ part.title }}</strong><br/>
                            {{ part.message | safe }}
                        </p>
                    {% endfor %}
                </div>

                <h2>{{ copy.beforeYouStart.title }}</h2>

                <ul>
                    {% for item in copy.beforeYouStart.items %}
                        <li>{{ item | safe }}</li>
                    {% endfor %}
                </ul>

                <h2>{{ copy.whatInformation.title }}</h2>

                <ul>
                    {% for item in copy.whatInformation.checklist %}
                        <li>
                            <strong>{{ item.title }}</strong>{% if item.description %}: {{ item.description }}{% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <h2>{{ copy.ready.title }}</h2>
                <p>{{ copy.ready.intro }}</p>

                <ul>
                    {% for item in copy.ready.items %}
                        <li>{{ item | safe }}</li>
                    {% endfor %}
                </ul>
            </div>

            {% set processItems = [] %}
            {% for item in copy.processMap.process %}
                {% set processItems = (processItems.push({
                    type: item.type,
                    title: item.title,
                    description: item.description,
                    isCompleted: loop.index === 1,
                    isCurrent: loop.index === 1
                }), processItems) %}
            {% endfor %}

            {{ processMap(processItems, copy.processMap.indicatorLabel) }}

            <p class="form-actions u-margin-bottom-l">
                <a href="{{ nextPageUrl }}" class="btn">{{ copy.startAction }}</a>
            </p>
        {% endcall %}
    </main>
{% endblock %}
